.auxiliaries-container

  .auxiliary-item.aux-grid
    .aux-grid-img
    .aux-txt-box.aux-grid-txt
      button.aux-choose-but.aux_middle_but Выбрать
      .aux-label(name="москитная сетка")
      .aux-selected
        .aux-title(name="москитная сетка")
        .aux-label(name="москитная сетка")

  .auxiliary-item.aux-visor
    .aux-visor-img
    .aux-txt-box.aux-visor-txt
      button.aux-choose-but.aux_big_but Выбрать
      .aux-label(name="козырек")
      .aux-selected
        .aux-title(name="Kозырек")
        .aux-label(name="козырек")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_big_but 1
            .aux-params-label(name="шт")
          .aux-params
            button.aux-params-but.aux_big_but 1000
            .aux-params-label(name="ширина")
        .aux-more(name="Еще 3 компонента...")

  .auxiliary-item.aux-spillway
    .aux-spillway-img
    .aux-txt-box.aux-spillway-txt
      button.aux-choose-but.aux_middle_but Выбрать
      .aux-label(name="водоотлив")
      .aux-selected
        .aux-title(name="водоотлив")
        .aux-label(name="водоотлив")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_middle_but 1
            .aux-params-label(name="шт")
          .aux-params
            button.aux-params-but.aux_middle_but 1000
            .aux-params-label(name="ширина")
        .aux-more(name="Еще 3 компонента...")

  .auxiliary-item.aux-outside
    .aux-outside-img
    .aux-txt-box.aux-outside-txt
      button.aux-choose-but.aux_slope_but Выбрать
      .aux-label(name="наружные откосы")
      .aux-selected
        .aux-title(name="наружные откосы")
        .aux-label(name="наружные откосы")


  .auxiliary-item.aux-louver
    .aux-louver-img
      .aux-louver-top
      .aux-louver-midle.louver-midle-1
      .aux-louver-midle.louver-midle-2
      .aux-louver-midle.louver-midle-3
      .aux-louver-bottom
    .aux-txt-box.aux-louver-txt
      button.aux-choose-but.aux_middle_but Выбрать
      .aux-label(name="жалюзи")
      .aux-selected
        .aux-title(name="жалюзи")
        .aux-label(name="жалюзи")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_middle_but 1
            .aux-params-label(name="шт")
          .aux-params
            button.aux-params-but.aux_middle_but 1000
            .aux-params-label(name="ширина")
          .aux-params
            button.aux-params-but.aux_middle_but 1000
            .aux-params-label(name="высота")
        .aux-more(name="Еще 3 компонента...")

  .auxiliary-item.aux-inside-slope
    .aux-inside-slope-img
      .aux-inside-slope-top
      .aux-inside-slope-right
      .aux-inside-slope-left
    .aux-txt-box.aux-inside-slope-txt
      button.aux-choose-but.aux_slope_but Выбрать
      .aux-label(name="внутренние откосы")
      .aux-selected
        .aux-title(name="внутренние откосы")
        .aux-label(name="внутренние откосы")

  .auxiliary-item.aux-connectors
    .aux-connectors-img
      .aux-force-connect
      .aux-balcon-connect
    .aux-txt-box.aux-connectors-txt
      button.aux-choose-but.aux_connect_but Выбрать
      .aux-label(name="соединитель")
      .aux-selected
        .aux-title(name="соединитель")
        .aux-label(name="соединитель")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_connect_but 1
            .aux-params-label(name="шт")
          .aux-params
            button.aux-params-but.aux_connect_but 1000
            .aux-params-label(name="ширина")
        .aux-more(name="Еще 3 компонента...")

  .auxiliary-item.aux-fan
    .aux-fan-img
    .aux-txt-box.aux-fan-txt
      button.aux-choose-but.aux_small_but Выбрать
      .aux-label(name="микропроветривание")
      .aux-selected
        .aux-title(name="Mикропроветривание")
        .aux-label(name="микропроветривание")

  .auxiliary-item.aux-windowsill
    .aux-windowsill-img
    .aux-txt-box.aux-windowsill-txt
      button.aux-choose-but.aux_big_but Выбрать
      .aux-label(name="подоконник")
      .aux-selected
        .aux-title(name="подоконник")
        .aux-label(name="подоконник")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_big_but 1
            .aux-params-label(name="шт")
          .aux-params
            button.aux-params-but.aux_big_but 1000
            .aux-params-label(name="ширина")
        .aux-more(name="Еще 3 компонента...")

  .auxiliary-item.aux-handle
    .aux-handle-img
    .aux-txt-box.aux-handle-txt
      button.aux-choose-but.aux_small_but Выбрать
      .aux-label(name="ручка")
      .aux-selected
        .aux-title(name="Pучка")
        .aux-label(name="ручка")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_small_but 1
            .aux-params-label(name="шт")
        .aux-more(name="Еще 3 компонента...")

  .auxiliary-item.aux-others
    .aux-txt-box.aux-others-txt
      button.aux-choose-but.aux_small_but Выбрать
      .aux-label(name="прочее")
      .aux-selected
        .aux-title(name="прочее")
        .aux-label(name="прочее")