.config-panel.hardware-container
  .hardware-block.selected
    .hardware-block-header
      .hardware-title(name="Аккадо")

    .hardware-box.selected
      a.info(href="#")
      .hardware-box-inner
        .hardware-box-view
          .hardware-logo
            img(src="../img/hardware-logos/accado.png")
        .hardware-box-data
          .hardware-descr(name="ACCADO 7mm") ACCADO 7mm
          .hardware-data
            .hardware-brand(name="ACCADO") ACCADO
            .hardware-label(name="торговая марка") торговая марка
          .hardware-data
            .hardware-brand(name="Турция") Турция
            .hardware-label(name="страна") страна

  .hardware-block
    .hardware-block-header
      .hardware-title(name="Мако")

    .hardware-box
      a.info(href="#")
      .hardware-box-inner
        .hardware-box-view
          .hardware-logo
            img(src="../img/hardware-logos/maco.png")
        .hardware-box-data
          .hardware-descr(name="ACCADO 7mm") ACCADO 7mm
          .hardware-data
            .hardware-brand(name="ACCADO") ACCADO
            .hardware-label(name="торговая марка") торговая марка
          .hardware-data
            .hardware-brand(name="Турция") Турция
            .hardware-label(name="страна") страна

    .hardware-box
      a.info(href="#")
      .hardware-box-inner
        .hardware-box-view
          .hardware-logo
            img(src="../img/hardware-logos/maco.png")
        .hardware-box-data
          .hardware-descr(name="ACCADO 7mm") ACCADO 7mm
          .hardware-data
            .hardware-brand(name="ACCADO") ACCADO
            .hardware-label(name="торговая марка") торговая марка
          .hardware-data
            .hardware-brand(name="Турция") Турция
            .hardware-label(name="страна") страна

  .hardware-block
    .hardware-block-header
      .hardware-title(name="Другие")

    .hardware-box
      a.info(href="#")
      .hardware-box-inner
        .hardware-box-view
          .hardware-logo
            img(src="../img/hardware-logos/siegenia.png")
        .hardware-box-data
          .hardware-descr(name="ACCADO 7mm") ACCADO 7mm
          .hardware-data
            .hardware-brand(name="ACCADO") ACCADO
            .hardware-label(name="торговая марка") торговая марка
          .hardware-data
            .hardware-brand(name="Турция") Турция
            .hardware-label(name="страна") страна

    .hardware-box
      a.info(href="#")
      .hardware-box-inner
        .hardware-box-view
          .hardware-logo
            img(src="../img/hardware-logos/romb.png")
        .hardware-box-data
          .hardware-descr(name="ACCADO 7mm") ACCADO 7mm
          .hardware-data
            .hardware-brand(name="ACCADO") ACCADO
            .hardware-label(name="торговая марка") торговая марка
          .hardware-data
            .hardware-brand(name="Турция") Турция
            .hardware-label(name="страна") страна