.profile-container
  .profile-block.clearfix.selected
    .profile-header(name="Окошко")

    .profile-box
      .profile-box-top
        .profile-type 3 камеры
        .profile-descr(name="Окошко S50 Special S50 Special") Окошко S50 Special S50 Special
        .profile-country(name="Украина") Украина
        .profile-label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="шумоизоляция") шумоизоляция

    .profile-box.selected
      .profile-box-top
        .profile-type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .profile-label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation.level-1
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.level-3
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="шумоизоляция") шумоизоляция

    .profile-box
      .profile-box-top
        .profile-type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .profile-label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.level-4
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="шумоизоляция") шумоизоляция

    .profile-box
      .profile-box-top
        .profile-type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .profile-label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.level-1
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="шумоизоляция") шумоизоляция

    .profile-box
      .profile-box-top
        .profile-type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .profile-label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation.level-4
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="шумоизоляция") шумоизоляция

  .profile-block.clearfix
    .profile-header(name="Другие...")

    .profile-box
      .profile-box-top
        .profile-type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .profile-label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .profile-label(name="шумоизоляция") шумоизоляция