.config-panel.profile-container
  .profile-block.clearfix.selected
    .title(name="Окошко")

    .box.profile-box
      .profile-box-top
        .type 3 камеры
        .profile-descr(name="Окошко S50 Special S50 Special") Окошко S50 Special S50 Special
        .profile-country(name="Украина") Украина
        .label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="шумоизоляция") шумоизоляция

    .box.profile-box.selected
      .profile-box-top
        .type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation.coef-level-1
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-3
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="шумоизоляция") шумоизоляция

    .box.profile-box
      .profile-box-top
        .type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-4
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="шумоизоляция") шумоизоляция

    .box.profile-box
      .profile-box-top
        .type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-1
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="шумоизоляция") шумоизоляция

    .box.profile-box
      .profile-box-top
        .type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation.coef-level-4
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="шумоизоляция") шумоизоляция

  .profile-block.clearfix
    .title(name="Другие...")

    .box.profile-box
      .profile-box-top
        .type 3 камеры
        .profile-descr(name="Окошко S50 Special") Окошко S50 Special
        .profile-country(name="Украина") Украина
        .label(name="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(name="шумоизоляция") шумоизоляция