.template-container
  .template-header
    .template-title Oкно
      .window-type
        .balcon-config Выход на балкон
        .window-config Oкно
    .template-discr(name="т-образноеб две створки") т-образное, две створки

  .template-section

  .template-footer
    .other-template
      .prev-btn
      .template-prev
        .other-template-img
          img(src="../img/templates/balcony.png")
        .other-template-label(name="т-образноеб две створки") Балкон.
        .other-template-subscr(name="т-образноеб две створки") 1 - 4 секционный
    .template-setting
      button.template-edit Редактировать
      button.template-default Проект по умолчанию
    .other-template
      .template-next
        .other-template-img
          img(src="../img/templates/window.png")
        .other-template-label(name="т-образноеб две створки") Окно.
        .other-template-subscr(name="т-образноеб две створки") т-образное, две створки
      .next-btn
