.config-panel.additional-list-container(ng-controller="AddElementsListCtrl as elementsListPanel", ng-class="{'actived': elementsListPanel.A.aux.isAddElementListView}")

  include ../parts/_search-block

  include ../parts/_addelems-group-menu


  .aux-list-content

    .aux-list-box(ng-repeat="elemType in elementsListPanel.P.product.chosenAddElements track by $index")
      .aux-list-block(ng-if="elemType.length > 0", ng-class="elementsListPanel.config.addElementDATA[$index].typeClass + '-theme'")
        .aux-list-block-title {{ elementsListPanel.config.addElementDATA[$index].name | translate }}
        table.aux-list-addellement
          tr.aux-list-row(ng-repeat="addElement in elemType track by $index")
            td.aux-tablecell-name
              .aux-name
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'en'", data-output="{{ addElement.translate.en }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'ru'", data-output="{{ addElement.translate.ru }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'uk'", data-output="{{ addElement.translate.ua }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'pl'", data-output="{{ addElement.translate.pl }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'de'", data-output="{{ addElement.translate.de }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'bg'", data-output="{{ addElement.translate.bg }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'it'", data-output="{{ addElement.translate.it }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'es'", data-output="{{ addElement.translate.es }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'ro'", data-output="{{ addElement.translate.ro }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")

                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'en' && !addElement.translate.en", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'ru' && !addElement.translate.ru", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'uk' && !addElement.translate.ua", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'pl' && !addElement.translate.pl", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'de' && !addElement.translate.de", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'bg' && !addElement.translate.bg", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'it' && !addElement.translate.it", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'es' && !addElement.translate.es", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-title(ng-if="elementsListPanel.U.userInfo.langLabel === 'ro' && !addElement.translate.ro", data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)")
                .aux-label(data-output="{{ ::elementsListPanel.NAME_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-qty
              .aux-params(ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-1-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(fs-click="elementsListPanel.initAddElementTools(($parent.$index + 1), 1, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-disabled="!elementsListPanel.P.product.is_addelem_only && $parent.$index === 0") {{ addElement.element_qty }}
                .aux-label(data-output="{{ ::elementsListPanel.QTY_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-width
              .aux-params(ng-hide="$parent.$index==3 || $parent.$index==5 || $parent.$index==7 || $parent.$index==9 || $parent.$index==10", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-2-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(fs-click="elementsListPanel.initAddElementTools(($parent.$index + 1), 2, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-disabled="!elementsListPanel.P.product.is_addelem_only && $parent.$index === 0") {{ addElement.element_width }}
                .aux-label(data-output="{{ ::elementsListPanel.WIDTH_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-height
              .aux-params(ng-show="!$parent.$index || $parent.$index==4", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-3-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(fs-click="elementsListPanel.initAddElementTools(($parent.$index + 1), 3, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-disabled="!elementsListPanel.P.product.is_addelem_only && $parent.$index === 0") {{ addElement.element_height }}
                .aux-label(data-output="{{ ::elementsListPanel.HEIGHT_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-price(ng-if="elementsListPanel.U.userInfo.currencies === '$'")
              .aux-price(price-fixed="{{(addElement.elementPriceDis / elementsListPanel.G.global.currencies[0].value)}}",
               qty-element="{{addElement.element_qty}}", currency-element="{{elementsListPanel.U.userInfo.currencies}}")
            td.aux-tablecell-price(ng-if="elementsListPanel.U.userInfo.currencies === '€'")
              .aux-price(price-fixed="{{(addElement.elementPriceDis / elementsListPanel.G.global.currencies[2].value)}}",
               qty-element="{{addElement.element_qty}}", currency-element="{{elementsListPanel.U.userInfo.currencies}}")
            td.aux-tablecell-price(ng-if="elementsListPanel.U.userInfo.currencies === '₴'")
              .aux-price(price-fixed="{{ addElement.elementPriceDis }}",
               qty-element="{{addElement.element_qty}}", currency-element="{{elementsListPanel.U.userInfo.currencies}}")
            td.aux-tablecell-delete
              .aux-delete(fs-click="elementsListPanel.deleteAddElement($parent.$index, $index)")


    .aux-list-block(ng-if="elementsListPanel.P.product.addelemPriceDis")
      table.aux-list-addellement
        tr.aux-list-row
          td.aux-tablecell-total
            .aux-total-label(data-output="{{ ::elementsListPanel.TOTAL_PRICE_TXT }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
          td.aux-tablecell-price
            .aux-total-price(ng-if="elementsListPanel.U.userInfo.currencies === '$'") {{ elementsListPanel.P.product.addelemPriceDis / elementsListPanel.G.global.currencies[0].value | number: 1.0}} {{ elementsListPanel.U.userInfo.currencies }}
            .aux-total-price(ng-if="elementsListPanel.U.userInfo.currencies === '€'") {{ elementsListPanel.P.product.addelemPriceDis / elementsListPanel.G.global.currencies[2].value | number: 1.0}} {{ elementsListPanel.U.userInfo.currencies }}
            .aux-total-price(ng-if="elementsListPanel.U.userInfo.currencies === '₴'") {{ elementsListPanel.P.product.addelemPriceDis }} {{ elementsListPanel.U.userInfo.currencies }}
          td.aux-tablecell-delete
            .aux-delete(fs-click="elementsListPanel.deleteAllAddElements()")

  button.view-switch-tab(fs-click="elementsListPanel.closeAddElementListView()") {{ ::elementsListPanel.SCHEME_VIEW }}