.config-panel.additional-list-container(ng-controller="AddElementsListCtrl as elementsListPanel", ng-class="{'active': elementsListPanel.A.aux.isAddElementListView}")

  include ../parts/_search-block

  include ../parts/_addelems-group-menu


  .aux-list-content

    .aux-list-box(ng-repeat="elemType in elementsListPanel.P.product.chosenAddElements track by $index")
      .aux-list-block(ng-if="elemType.length > 0", ng-switch="$index", ng-class="elementsListPanel.constants.addElementsGroupClass[$index]")
        .aux-list-block-title(ng-switch-when="0") {{ 'add_elements.GRID' | translate }}
        .aux-list-block-title(ng-switch-when="1") {{ 'add_elements.VISOR' | translate }}
        .aux-list-block-title(ng-switch-when="2") {{ 'add_elements.SPILLWAY' | translate }}
        .aux-list-block-title(ng-switch-when="3") {{ 'add_elements.OUTSIDE' | translate }}
        .aux-list-block-title(ng-switch-when="4") {{ 'add_elements.LOUVERS' | translate }}
        .aux-list-block-title(ng-switch-when="5") {{ 'add_elements.INSIDE' | translate }}
        .aux-list-block-title(ng-switch-when="6") {{ 'add_elements.CONNECTORS' | translate }}
        .aux-list-block-title(ng-switch-when="7") {{ 'add_elements.FAN' | translate }}
        .aux-list-block-title(ng-switch-when="8") {{ 'add_elements.WINDOWSILL' | translate }}
        .aux-list-block-title(ng-switch-when="9") {{ 'add_elements.HANDLEL' | translate }}
        .aux-list-block-title(ng-switch-when="10") {{ 'add_elements.OTHERS' | translate }}
        table.aux-list-addellement
          tr.aux-list-row(ng-repeat="addElement in elemType track by $index")
            td.aux-tablecell-name
              .aux-name
                .aux-title(data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", hm-tap="elementsListPanel.selectAddElement($parent.$index + 1)") )
                .aux-label(data-output="{{ 'add_elements.NAME_LABEL' | translate }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-qty
              .aux-params(ng-show="addElement.element_qty", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-1-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(hm-tap="elementsListPanel.initAddElementTools(($parent.$index + 1), 1, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-class="{'aux_connect_but': (!$parent.$index || $parent.$index === 6), 'aux_big_but': ($parent.$index === 1 || $parent.$index === 8), 'aux_middle_but': ($parent.$index === 2 || $parent.$index === 4 || $parent.$index === 9 || $parent.$index === 10), 'aux_slope_but': ($parent.$index === 3 || $parent.$index === 5), 'aux_small_but': $parent.$index === 7}") {{ addElement.element_qty }}
                .aux-label(data-output="{{ 'add_elements.QTY_LABEL' | translate }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-width
              .aux-params(ng-show="addElement.element_width", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-2-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(hm-tap="elementsListPanel.initAddElementTools(($parent.$index + 1), 2, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-class="{'aux_connect_but': (!$parent.$index || $parent.$index === 6), 'aux_big_but': ($parent.$index === 1 || $parent.$index === 8), 'aux_middle_but': ($parent.$index === 2 || $parent.$index === 4 || $parent.$index === 9 || $parent.$index === 10), 'aux_slope_but': ($parent.$index === 3 || $parent.$index === 5), 'aux_small_but': $parent.$index === 7}") {{ addElement.element_width }}
                .aux-label(data-output="{{ 'add_elements.WIDTH_LABEL' | translate }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-height
              .aux-params(ng-show="addElement.element_height", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-3-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(hm-tap="elementsListPanel.initAddElementTools(($parent.$index + 1), 3, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-class="{'aux_connect_but': (!$parent.$index || $parent.$index === 6), 'aux_big_but': ($parent.$index === 1 || $parent.$index === 8), 'aux_middle_but': ($parent.$index === 2 || $parent.$index === 4 || $parent.$index === 9 || $parent.$index === 10), 'aux_slope_but': ($parent.$index === 3 || $parent.$index === 5), 'aux_small_but': $parent.$index === 7}") {{ addElement.element_height }}
                .aux-label(data-output="{{ 'add_elements.HEIGHT_LABEL' | translate }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-price
              .aux-price + {{ addElement.elementPriceDis }} {{ elementsListPanel.U.userInfo.currency }}
            td.aux-tablecell-delete
              .aux-delete(hm-tap="elementsListPanel.deleteAddElement(($parent.$index + 1), $index)")


    .aux-list-block(ng-if="elementsListPanel.P.product.addelemPriceDis")
      table.aux-list-addellement
        tr.aux-list-row
          td.aux-tablecell-total
            .aux-total-label(data-output="{{ 'add_elements.TOTAL_PRICE_TXT' | translate }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
          td.aux-tablecell-price
            .aux-total-price {{ elementsListPanel.P.product.addelemPriceDis }} {{ elementsListPanel.U.userInfo.currency }}
          td.aux-tablecell-delete
            .aux-delete(hm-tap="elementsListPanel.deleteAllAddElements()")

  button.view-switch-tab(hm-tap="elementsListPanel.closeAddElementListView()") {{ 'add_elements.SCHEME_VIEW' | translate }}
