.config-panel.auxiliaries-container(ng-controller="AdditionalElementsCtrl")

  .auxiliary-item.aux-grid
    .aux-grid-img
    .aux-txt-box.aux-grid-txt
      button.aux-choose-but.aux_middle_but Выбрать
      .aux-label(data-output="москитная сетка")
      .aux-selected
        .aux-title(data-output="москитная сетка")
        .aux-label(data-output="москитная сетка")

  .auxiliary-item.aux-visor
    .aux-visor-img
    .aux-txt-box.aux-visor-txt
      button.aux-choose-but.aux_big_but Выбрать
      .aux-label(data-output="козырек")
      .aux-selected
        .aux-title(data-output="Kозырек")
        .aux-label(data-output="козырек")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_big_but 1
            .aux-params-label(data-output="шт")
          .aux-params
            button.aux-params-but.aux_big_but 1000
            .aux-params-label(data-output="ширина")
        .aux-more(data-output="Еще 3 компонента...")

  .auxiliary-item.aux-spillway
    .aux-spillway-img
    .aux-txt-box.aux-spillway-txt
      button.aux-choose-but.aux_middle_but Выбрать
      .aux-label(data-output="водоотлив")
      .aux-selected
        .aux-title(data-output="водоотлив")
        .aux-label(data-output="водоотлив")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_middle_but 1
            .aux-params-label(data-output="шт")
          .aux-params
            button.aux-params-but.aux_middle_but 1000
            .aux-params-label(data-output="ширина")
        .aux-more(data-output="Еще 3 компонента...")

  .auxiliary-item.aux-outside
    .aux-outside-img
    .aux-txt-box.aux-outside-txt
      button.aux-choose-but.aux_slope_but Выбрать
      .aux-label(data-output="наружные откосы")
      .aux-selected
        .aux-title(data-output="наружные откосы")
        .aux-label(data-output="наружные откосы")


  .auxiliary-item.aux-louver
    .aux-louver-img
      .aux-louver-top
      .aux-louver-midle.louver-midle-1
      .aux-louver-midle.louver-midle-2
      .aux-louver-midle.louver-midle-3
      .aux-louver-bottom
    .aux-txt-box.aux-louver-txt
      button.aux-choose-but.aux_middle_but Выбрать
      .aux-label(data-output="жалюзи")
      .aux-selected
        .aux-title(data-output="жалюзи")
        .aux-label(data-output="жалюзи")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_middle_but 1
            .aux-params-label(data-output="шт")
          .aux-params
            button.aux-params-but.aux_middle_but 1000
            .aux-params-label(data-output="ширина")
          .aux-params
            button.aux-params-but.aux_middle_but 1000
            .aux-params-label(data-output="высота")
        .aux-more(data-output="Еще 3 компонента...")

  .auxiliary-item.aux-inside-slope
    .aux-inside-slope-img
      .aux-inside-slope-top
      .aux-inside-slope-right
      .aux-inside-slope-left
    .aux-txt-box.aux-inside-slope-txt
      button.aux-choose-but.aux_slope_but Выбрать
      .aux-label(data-output="внутренние откосы")
      .aux-selected
        .aux-title(data-output="внутренние откосы")
        .aux-label(data-output="внутренние откосы")

  .auxiliary-item.aux-connectors
    .aux-connectors-img
      .aux-force-connect
      .aux-balcon-connect
    .aux-txt-box.aux-connectors-txt
      button.aux-choose-but.aux_connect_but Выбрать
      .aux-label(data-output="соединитель")
      .aux-selected
        .aux-title(data-output="соединитель")
        .aux-label(data-output="соединитель")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_connect_but 1
            .aux-params-label(data-output="шт")
          .aux-params
            button.aux-params-but.aux_connect_but 1000
            .aux-params-label(data-output="ширина")
        .aux-more(data-output="Еще 3 компонента...")

  .auxiliary-item.aux-fan
    .aux-fan-img
    .aux-txt-box.aux-fan-txt
      button.aux-choose-but.aux_small_but Выбрать
      .aux-label(data-output="микропроветривание")
      .aux-selected
        .aux-title(data-output="Mикропроветривание")
        .aux-label(data-output="микропроветривание")

  .auxiliary-item.aux-windowsill
    .aux-windowsill-img
    .aux-txt-box.aux-windowsill-txt
      button.aux-choose-but.aux_big_but Выбрать
      .aux-label(data-output="подоконник")
      .aux-selected
        .aux-title(data-output="подоконник")
        .aux-label(data-output="подоконник")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_big_but 1
            .aux-params-label(data-output="шт")
          .aux-params
            button.aux-params-but.aux_big_but 1000
            .aux-params-label(data-output="ширина")
        .aux-more(data-output="Еще 3 компонента...")

  .auxiliary-item.aux-handle
    .aux-handle-img
    .aux-txt-box.aux-handle-txt
      button.aux-choose-but.aux_small_but Выбрать
      .aux-label(data-output="ручка")
      .aux-selected
        .aux-title(data-output="Pучка")
        .aux-label(data-output="ручка")
        .aux-sizing-box
          .aux-params
            button.aux-params-but.aux_small_but 1
            .aux-params-label(data-output="шт")
        .aux-more(data-output="Еще 3 компонента...")

  .auxiliary-item.aux-others
    .aux-txt-box.aux-others-txt
      button.aux-choose-but.aux_small_but Выбрать
      .aux-label(data-output="прочее")
      .aux-selected
        .aux-title(data-output="прочее")
        .aux-label(data-output="прочее")