.config-panel.additional-list-container(ng-controller="AddElementsListCtrl as elementsListPanel", ng-class="{'actived': elementsListPanel.A.aux.isAddElementListView}")

  include ../parts/_search-block

  include ../parts/_addelems-group-menu


  .aux-list-content

    .aux-list-box(ng-repeat="elemType in elementsListPanel.P.product.chosenAddElements track by $index")
      .aux-list-block(ng-if="elemType.length > 0", ng-class="elementsListPanel.config.addElementDATA[$index].typeClass + '-theme'")
        .aux-list-block-title {{ elementsListPanel.config.addElementDATA[$index].name | translate }}
        table.aux-list-addellement
          tr.aux-list-row(ng-repeat="addElement in elemType track by $index")
            td.aux-tablecell-name
              .aux-name
                .aux-title(data-output="{{ addElement.name }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}", ng-click="elementsListPanel.selectAddElement($parent.$index + 1)") )
                .aux-label(data-output="{{ ::elementsListPanel.NAME_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-qty
              .aux-params(ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-1-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(fs-click="elementsListPanel.initAddElementTools(($parent.$index + 1), 1, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-disabled="!elementsListPanel.P.product.is_addelem_only && $parent.$index === 0") {{ addElement.element_qty }}
                .aux-label(data-output="{{ ::elementsListPanel.QTY_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-width
              .aux-params(ng-hide="$parent.$index==3 || $parent.$index==5 || $parent.$index==7 || $parent.$index==9 || $parent.$index==10", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-2-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(fs-click="elementsListPanel.initAddElementTools(($parent.$index + 1), 2, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-disabled="!elementsListPanel.P.product.is_addelem_only && $parent.$index === 0") {{ addElement.element_width }}
                .aux-label(data-output="{{ ::elementsListPanel.WIDTH_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-height
              .aux-params(ng-show="!$parent.$index || $parent.$index==4", ng-class="{'selected': elementsListPanel.A.aux.auxParameter === ($parent.$index + 1)+'-3-'+$index && elementsListPanel.A.aux.currentAddElementId === $index}")
                button.aux-params-but(fs-click="elementsListPanel.initAddElementTools(($parent.$index + 1), 3, $index)", ng-keyup="elementsListPanel.pressCulculator($event)", ng-disabled="!elementsListPanel.P.product.is_addelem_only && $parent.$index === 0") {{ addElement.element_height }}
                .aux-label(data-output="{{ ::elementsListPanel.HEIGHT_LABEL }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
            td.aux-tablecell-price
              .aux-price(price-fixed="{{addElement.elementPriceDis}}", qty-element="{{addElement.element_qty}}", currency-element="{{elementsListPanel.U.userInfo.currency}}")
            td.aux-tablecell-delete
              .aux-delete(fs-click="elementsListPanel.deleteAddElement($parent.$index, $index)")


    .aux-list-block(ng-if="elementsListPanel.P.product.addelemPriceDis")
      table.aux-list-addellement
        tr.aux-list-row
          td.aux-tablecell-total
            .aux-total-label(data-output="{{ ::elementsListPanel.TOTAL_PRICE_TXT }}", typing="{{ elementsListPanel.config.typing }}", typing-delay="{{ elementsListPanel.config.DELAY_START }}")
          td.aux-tablecell-price
            .aux-total-price {{ elementsListPanel.P.product.addelemPriceDis }} {{ elementsListPanel.U.userInfo.currency }}
          td.aux-tablecell-delete
            .aux-delete(fs-click="elementsListPanel.deleteAllAddElements()")

  button.view-switch-tab(fs-click="elementsListPanel.closeAddElementListView()") {{ ::elementsListPanel.SCHEME_VIEW }}