.config-panel.glass-container(ng-controller="GlassCtrl")
  .glass-block.selected
    .glass-block-header
      .title(name="Стандартные")
      .info
    .glass-block-footer.clearfix
      .footer-inner
        .box.selected.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i555555555
            .coef-level.heat-insulation.coef-level-1
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция

        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4
            .coef-level.heat-insulation.coef-level-3
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-4
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция

        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция

        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция


  .glass-block.clearfix
    .glass-block-header
      .title(name="Зеркальные")

    .glass-block-footer.clearfix
      .footer-inner
        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция

        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция

        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция


  .glass-block.clearfix
    .glass-block-header
      .title(name="Матовые")

    .glass-block-footer.clearfix
      .footer-inner
        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция

        .box.glass-box
          .glass-box-view
            .glass-img
              img(src="../img/glass.png")
            .label(name="3 камеры") 3 камеры +энергосбережение
          .glass-box-data
            .glass-descr(name="4/24/4/16/4i") 4/24/4/16/4i
            .coef-level.heat-insulation
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="теплоизоляция") теплоизоляция
            .coef-level.noise-insulation.coef-level-2
              .coef-index
              .coef-index
              .coef-index
              .coef-index
              .coef-index
            .label(name="шумоизоляция") шумоизоляция
