.config-panel.glass-container(ng-controller="GlassCtrl", ng-class="{'active': global.showPanels.showGlassPanel}")
  .glass-inner(ng-if="global.isGlassPanel")
    .glass-block(ng-repeat="type in glassPanel.glasses", ng-class="{'selected': glassPanel.isSelectedGlassType == $index}")

      .glass-block-header
        .title(data-output="{{ glassPanel.glassTypes[$index] }}", typing="{{ glassPanel.typing }}", typing-delay="{{ glassPanel.DELAY_START }}")

      .glass-block-footer.clearfix
        .footer-inner
          .box.glass-box.unvisible(ng-repeat="glass in type", show-delay="{{ glassPanel.DELAY_START + (glassPanel.DELAY_BLOCK * $index) }}", ng-class="{'selected': glassPanel.isSelectedGlass == $index && glassPanel.isSelectedGlassType == $parent.$index}", ng-click="selectGlass($parent.$index, $index)")
            .glass-box-view
              .glass-img
                img(ng-src="{{ glass.glassUrl }}")
              .label(data-output="{{ glass.glassDescrip }}", typing="{{ glassPanel.typing }}", typing-delay="{{ glassPanel.DELAY_START + (glassPanel.DELAY_TYPING * $index) }}")
            .glass-box-data
              .glass-descr(data-output="{{ glass.glassName }}", typing="{{ glassPanel.typing }}", typing-delay="{{ glassPanel.DELAY_START + (glassPanel.DELAY_TYPING * $index) }}")
              .coef-level.heat-insulation(ng-class="{'coef-level-1': glass.glassHeat == 1, 'coef-level-2': glass.glassHeat == 2, 'coef-level-3': glass.glassHeat == 3, 'coef-level-4': glass.glassHeat == 4}")
                .coef-index
                .coef-index
                .coef-index
                .coef-index
                .coef-index
              .label(data-output="{{ 'panels.HEAT_INSULATION' | translate }}", typing="{{ glassPanel.typing }}", typing-delay="{{ glassPanel.DELAY_START + (glassPanel.DELAY_TYPING * $index) }}")
              .coef-level.noise-insulation(ng-class="{'coef-level-1': glass.glassNoise == 1, 'coef-level-2': glass.glassNoise == 2, 'coef-level-3': glass.glassNoise == 3, 'coef-level-4': glass.glassNoise == 4}")
                .coef-index
                .coef-index
                .coef-index
                .coef-index
                .coef-index
              .label(data-output="{{ 'panels.NOICE_INSULATION' | translate }}", typing="{{ glassPanel.typing }}", typing-delay="{{ glassPanel.DELAY_START + (glassPanel.DELAY_TYPING * $index) }}")
            .info