.config-panel.glass-container(ng-controller="GlassesCtrl as glassPanel" ng-class="{'active': glassPanel.G.global.activePanel == 3}")
  .glass-container-rehau
    .close-screen-button(ng-click="glassPanel.closeButton(3)")
    .glass-block(ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class = "{gray : $index%2 === 0 }" ng-init="FolderIndex = $index")
      .button(ng-click="glassPanel.OpenGlassFolder($index,$event)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
        .arrow(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
        label.title(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }") {{glassPanel.G.global.glassTypes[$index].name}}
        .tooltip
          img(ng-src="./img/rehau-img/information-icon-rehau.png" ng-show="glassPanel.G.global.glassTypes[$index].img.length || glassPanel.G.global.glassTypes[$index].link.length || glassPanel.G.global.glassTypes[$index].description.length" fs-click="glassPanel.showInfoBox(glassPanel.G.global.glassTypes[$index].id, glassPanel.G.global.glassTypes)")
          span.tooltiptext Подробнее

      .glass-folder(ng-if="glassPanel.OpenFolder === FolderIndex")
        .glass-main-info
          .glass-main-info-block
            h4 Наименование
            h4 Шумоизоляция
            h4 Теплопроводимость
            h4
            .glass-main-info-descript Описание
        .glass-item(ng-repeat="glass in typeGlass track by $index" ng-init="indexItem = $index" ng-class="{'selected': glass.id == glassPanel.G.global.selectGlassId }" fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color, glass)")
          .glass-title
            label {{glass.name}}
          .glass-noise 
            label {{glass.noise_coeff}} Дб
          .glass-warm
            label {{glass.transcalency}} м2*С/Вт
          .glass-price
            label {{glassPanel.G.global.selectGlassName === glass.sku ? '' : '≈' }} {{glassPanel.G.global.selectGlassName === glass.sku ? '' : Math.floor(glass.price * glassPanel.G.global.margins.coeff * glassPanel.G.global.sizeCoeff * 0.95) - glassPanel.G.global.apprPrice > 0 ? '+' : '—'}}{{glassPanel.G.global.selectGlassName === glass.sku ? '' : Math.abs(Math.floor(glass.price * glassPanel.G.global.margins.coeff * glassPanel.G.global.sizeCoeff * 0.95) - glassPanel.G.global.apprPrice)}} {{glassPanel.G.global.selectGlassName === glass.sku ? '' : 'руб' }}
          .tooltip
            img(ng-src="./img/rehau-img/information-icon-rehau.png" ng-if="glass.img.length && glass.description" fs-click="glassPanel.showInfoBox(glass.id, typeGlass)")
            span.tooltiptext Подробнее
  .glass-selector-dialog-rehau(ng-class="{'active': glassPanel.G.global.showGlassSelectorDialog}")
    .dialog-inner
      svg-template(template="glassPanel.P.product.template" template-width="glassPanel.constants.svgTemplateIconBigWidth" template-height="glassPanel.constants.svgTemplateIconBigHeight" type-construction="glassPanel.constants.SVG_ID_GLASS")
    button.set-glass-btn-rehau(fs-click="glassPanel.confirmGlass()") {{glassPanel.APPLY}}
    .close-dialog(fs-click="glassPanel.closeGlassSelectorDialog(1)")
  .backDarkView(ng-if="glassPanel.G.global.showGlassSelectorDialog")