.config-panel.hardware-container(ng-controller="HardwaresCtrl as hardwarePanel", ng-class="{'active': hardwarePanel.G.global.activePanel == 4 && hardwarePanel.G.global.isSashesInTemplate}")
  .panel-inner(ng-if="hardwarePanel.G.global.activePanel == 4")

    .hardware-block(ng-repeat="producer in hardwarePanel.G.global.hardwares track by $index", ng-if="producer" ng-class="{'selected': glassPanel.P.product.hardwareTypeIndex == $index}")
      .group-block-header
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'en'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.en }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'ru'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.ru }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'uk'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.ua }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'pl'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.pl }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'de'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.de }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'bg'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.bg }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'it'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.it }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'es'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.es }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'ro'", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].translate.ro }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'en' && !hardwarePanel.G.global.hardwareTypes[$index].translate.en", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'ru' && !hardwarePanel.G.global.hardwareTypes[$index].translate.ru", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'uk' && !hardwarePanel.G.global.hardwareTypes[$index].translate.ua", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'pl' && !hardwarePanel.G.global.hardwareTypes[$index].translate.pl", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'de' && !hardwarePanel.G.global.hardwareTypes[$index].translate.de", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'bg' && !hardwarePanel.G.global.hardwareTypes[$index].translate.bg", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'it' && !hardwarePanel.G.global.hardwareTypes[$index].translate.it", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'es' && !hardwarePanel.G.global.hardwareTypes[$index].translate.es", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .hardware-title(ng-if="hardwarePanel.U.userInfo.langLabel === 'ro' && !hardwarePanel.G.global.hardwareTypes[$index].translate.ro", data-output="{{ hardwarePanel.G.global.hardwareTypes[$index].name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START }}")
        .group-info
          .info(ng-if="hardwarePanel.G.global.hardwareTypes[$index].img.length || hardwarePanel.G.global.hardwareTypes[$index].link.length || hardwarePanel.G.global.hardwareTypes[$index].translated_description", fs-click="hardwarePanel.showInfoBox(hardwarePanel.G.global.hardwareTypes[$index].id, hardwarePanel.G.global.hardwareTypes)")

      .hardware-box.unvisible(ng-repeat="hardware in producer track by $index", ng-class="{'selected': hardware.id === hardwarePanel.P.product.hardware.id}", show-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_BLOCK * $index) }}")
        .info(ng-if="hardware.img.length || hardware.link.length || hardware.translated_description", fs-click="hardwarePanel.showInfoBox(hardware.id, producer)")
        .hardware-box-inner(ng-click="hardwarePanel.selectHardware(hardware.id)")
          .hardware-box-view
            .hardware-logo
              img(ng-src="{{ hardware.img }}")
          .hardware-box-data
            .hardware-data-txt
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'en'", data-output="{{ ::hardware.translate.en }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'ru'", data-output="{{ ::hardware.translate.ru }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'uk'", data-output="{{ ::hardware.translate.ua }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'pl'", data-output="{{ ::hardware.translate.pl }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'de'", data-output="{{ ::hardware.translate.de }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'bg'", data-output="{{ ::hardware.translate.bg }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'it'", data-output="{{ ::hardware.translate.it }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'es'", data-output="{{ ::hardware.translate.es }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'ro'", data-output="{{ ::hardware.translate.ro }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")

              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'en' && !hardware.translate.en", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'ru' && !hardware.translate.ru", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'uk' && !hardware.translate.ua", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'pl' && !hardware.translate.pl", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'de' && !hardware.translate.de", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'bg' && !hardware.translate.bg", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'it' && !hardware.translate.it", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'es' && !hardware.translate.es", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-descr(ng-if="hardwarePanel.U.userInfo.langLabel === 'ro' && !hardware.translate.ro", data-output="{{ ::hardware.name }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-data
                .hardware-brand(data-output="{{ ::hardware.producer }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
                .hardware-label(data-output="{{ ::hardwarePanel.BRAND }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .hardware-data
                .hardware-brand(data-output="{{ ::hardware.country }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
                .hardware-label(data-output="{{ ::hardwarePanel.COUNTRY }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
            .hardware-data-coeff
              .coef-level.heat-insulation(ng-class="{'coef-level-1': hardware.heat_coeff == 1, 'coef-level-2': hardware.heat_coeff == 2, 'coef-level-3': hardware.heat_coeff == 3, 'coef-level-4': hardware.heat_coeff == 4}")
                .coef-index
                .coef-index
                .coef-index
                .coef-index
                .coef-index
              .hardware-label(data-output="{{ ::hardwarePanel.CORROSION_COEFF }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
              .coef-level.noise-insulation(ng-class="{'coef-level-1': hardware.noise_coeff == 1, 'coef-level-2': hardware.noise_coeff == 2, 'coef-level-3': hardware.noise_coeff == 3, 'coef-level-4': hardware.noise_coeff == 4}")
                .coef-index
                .coef-index
                .coef-index
                .coef-index
                .coef-index
              .hardware-label(data-output="{{ ::hardwarePanel.BURGLAR_COEFF }}", typing="{{ hardwarePanel.config.typing }}", typing-delay="{{ hardwarePanel.config.DELAY_START + (hardwarePanel.config.DELAY_TYPING * $index) }}")
