.config-panel.hardware-container(ng-controller="HardwareWindowCtrl", ng-class="{'active': global.showPanels.showHardwarePanel}")
  .panel-inner(ng-if="global.isHardwarePanel")

    .hardware-block(ng-repeat="producer in global.hardwares", ng-class="{'selected': global.product.hardwareTypeIndex == $index}")
      .group-block-header
        .hardware-title(data-output="{{ global.hardwareTypes[$index] }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START }}")
        .group-info
          .info

      .hardware-box.unvisible(ng-repeat="hardware in producer", show-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_BLOCK * $index) }}", ng-class="{'selected': global.product.hardwareIndex == $index && global.product.hardwareTypeIndex == $parent.$index}", ng-click="selectHardware($parent.$index, $index)")
        a.info(ng-href="{{ hardware.hardwareLink }}")
        .hardware-box-inner
          .hardware-box-view
            .hardware-logo
              img(ng-src="{{ hardware.hardwareLogo }}")
          .hardware-box-data
            .hardware-data-txt
              .hardware-descr(data-output="{{ hardware.hardwareName }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")
              .hardware-data
                .hardware-brand(data-output="{{ hardware.hardwareProducer }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")
                .hardware-label(data-output="{{ 'panels.BRAND' | translate }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")
              .hardware-data
                .hardware-brand(data-output="{{ hardware.hardwareCountry }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")
                .hardware-label(data-output="{{ 'panels.COUNTRY' | translate }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")
            .hardware-data-coeff
              .coef-level.heat-insulation(ng-class="{'coef-level-1': hardware.heatCoeff == 1, 'coef-level-2': hardware.heatCoeff == 2, 'coef-level-3': hardware.heatCoeff == 3, 'coef-level-4': hardware.heatCoeff == 4}")
                .coef-index
                .coef-index
                .coef-index
                .coef-index
                .coef-index
              .hardware-label(data-output="{{ 'panels.HEAT_INSULATION' | translate }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")
              .coef-level.noise-insulation(ng-class="{'coef-level-1': hardware.hardwareNoise == 1, 'coef-level-2': hardware.hardwareNoise == 2, 'coef-level-3': hardware.hardwareNoise == 3, 'coef-level-4': hardware.hardwareNoise == 4}")
                .coef-index
                .coef-index
                .coef-index
                .coef-index
                .coef-index
              .hardware-label(data-output="{{ 'panels.NOICE_INSULATION' | translate }}", typing="{{ hardwarePanel.typing }}", typing-delay="{{ hardwarePanel.DELAY_START + (hardwarePanel.DELAY_TYPING * $index) }}")