.config-panel.lamination-container.unvisible(ng-controller="LaminationCtrl")

  .lamination-block
    .lamination-title(name="Ламинация рамы в комнате")
    .lamination-white
      .lamination-img.selected
        img(src="../img/lamination/empty.png")
      .lamination-label.for-white(name="без ламинации, радикальный белый цвет")

    .lamination-options.clearfix
      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")


  .lamination-block
    .lamination-title(name="Ламинация со стороны фасада")
    .lamination-white
      .lamination-img.selected
        img(src="../img/lamination/empty.png")
      .lamination-label.for-white(name="без ламинации, радикальный белый цвет")

    .lamination-options.clearfix
      .lam-option-box.unvisible
        .lamination-img.select
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")