.config-panel.lamination-container(ng-controller="LaminationCtrl", ng-class="{'active': global.showPanels.showLaminationPanel}")
  .lamination-inner(ng-if="global.isLaminationPanel")

    .lamination-block
      .lamination-title(data-output="{{ 'panels.LAMINAT_INSIDE' | translate }}", typing="{{ laminationPanel.typing }}", typing-delay="{{ laminationPanel.DELAY_START }}")

      .lamination-white.unvisible(show-delay="{{ laminationPanel.DELAY_START }}")
        .lamination-img(ng-class="{'selected': laminationPanel.isSelectedLaminatInner === 'white'}", ng-click="selectLaminatIn('white')")
          img(src="../img/lamination/empty.png")
        .lamination-label.for-white(data-output="{{ 'panels.LAMINAT_WHITE' | translate }}", typing="{{ laminationPanel.typing }}", typing-delay="{{ laminationPanel.DELAY_START }}")

      .lamination-options.clearfix

        .lam-option-box.unvisible(ng-repeat="laminatInner in laminationPanel.laminatIn", show-delay="{{ laminationPanel.DELAY_START + (laminationPanel.DELAY_BLOCK * $index) }}")
          .lamination-img(ng-class="{'selected': laminationPanel.isSelectedLaminatInner == $index}", ng-click="selectLaminatIn($index)")
            img(ng-src="{{ laminatInner.laminationUrl }}")
          .lamination-label(data-output="{{ laminatInner.laminationName }}", typing="{{ laminationPanel.typing }}", typing-delay="{{ laminationPanel.DELAY_START + (laminationPanel.DELAY_TYPING * $index) }}")
          .info

    .lamination-block
      .lamination-title(data-output="{{ 'panels.LAMINAT_OUTSIDE' | translate }}", typing="{{ laminationPanel.typing }}", typing-delay="{{ laminationPanel.DELAY_START }}")

      .lamination-white.unvisible(show-delay="{{ laminationPanel.DELAY_START }}")
        .lamination-img(ng-class="{'selected': laminationPanel.isSelectedLaminatOuter === 'white'}", ng-click="selectLaminatOut('white')")
          img(src="../img/lamination/empty.png")
        .lamination-label.for-white(data-output="{{ 'panels.LAMINAT_WHITE' | translate }}", typing="{{ laminationPanel.typing }}", typing-delay="{{ laminationPanel.DELAY_START }}")

      .lamination-options.clearfix

        .lam-option-box.unvisible(ng-repeat="laminatOuter in laminationPanel.laminatOut", show-delay="{{ laminationPanel.DELAY_START + (laminationPanel.DELAY_BLOCK * $index) }}")
          .lamination-img(ng-class="{'selected': laminationPanel.isSelectedLaminatOuter == $index}", ng-click="selectLaminatOut($index)")
            img(ng-src="{{ laminatOuter.laminationUrl }}")
          .lamination-label(data-output="{{ laminatOuter.laminationName }}", typing="{{ laminationPanel.typing }}", typing-delay="{{ laminationPanel.DELAY_START + (laminationPanel.DELAY_TYPING * $index) }}")
          .info