.config-panel.lamination-container

  .lamination-block
    .lamination-title(name="Ламинация рамы в комнате")
    .lam-white-box
      .lamination-white
        .lamination-img.selected
          img(src="../img/lamination/empty.png")
        .lamination-label.for-white(name="без ламинации, радикальный белый цвет")

    .lamination-options.clearfix
      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")


  .lamination-block
    .lamination-title(name="Ламинация со стороны фасада")
    .lam-white-box
      .lamination-white
        .lamination-img.selected
          img(src="../img/lamination/empty.png")
        .lamination-label.for-white(name="без ламинации, радикальный белый цвет")

    .lamination-options.clearfix
      .lam-option-box
        .lamination-img.select
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")

      .lam-option-box
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(name="светлый дуб")