.config-panel.lamination-container(ng-controller="LaminationCtrl")

  .lamination-block
    .lamination-title(data-output="Ламинация рамы в комнате")
    .lamination-white
      .lamination-img.selected
        img(src="../img/lamination/empty.png")
      .lamination-label.for-white(data-output="без ламинации, радикальный белый цвет")

    .lamination-options.clearfix
      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")


  .lamination-block
    .lamination-title(data-output="Ламинация со стороны фасада")
    .lamination-white
      .lamination-img.selected
        img(src="../img/lamination/empty.png")
      .lamination-label.for-white(data-output="без ламинации, радикальный белый цвет")

    .lamination-options.clearfix
      .lam-option-box.unvisible
        .lamination-img.select
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")

      .lam-option-box.unvisible
        .lamination-img
          img(src="../img/lamination/Birch.png")
        .lamination-label(data-output="светлый дуб")