.config-panel.profile-container(ng-controller="ProfileCtrl")
  .profile-block.clearfix.selected
    .title(data-output="Окошко")

    .box.profile-box.unvisible
      .profile-box-top
        .type 3 камеры
        .profile-descr(data-output="Окошко S50 Special S50 Special") Окошко S50 Special S50 Special
        .profile-country(data-output="Украина") Украина
        .label(data-output="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="шумоизоляция") шумоизоляция

    .box.profile-box.unvisible.selected
      .profile-box-top
        .type 3 камеры
        .profile-descr(data-output="Окошко S50 Special") Окошко S50 Special
        .profile-country(data-output="Украина") Украина
        .label(data-output="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation.coef-level-1
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-3
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="шумоизоляция") шумоизоляция

    .box.profile-box.unvisible
      .profile-box-top
        .type 3 камеры
        .profile-descr(data-output="Окошко S50 Special") Окошко S50 Special
        .profile-country(data-output="Украина") Украина
        .label(data-output="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-4
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="шумоизоляция") шумоизоляция

    .box.profile-box.unvisible
      .profile-box-top
        .type 3 камеры
        .profile-descr(data-output="Окошко S50 Special") Окошко S50 Special
        .profile-country(data-output="Украина") Украина
        .label(data-output="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-1
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="шумоизоляция") шумоизоляция

    .box.profile-box.unvisible
      .profile-box-top
        .type 3 камеры
        .profile-descr(data-output="Окошко S50 Special") Окошко S50 Special
        .profile-country(data-output="Украина") Украина
        .label(data-output="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation.coef-level-4
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="шумоизоляция") шумоизоляция

  .profile-block.clearfix
    .title(data-output="Другие...")

    .box.profile-box.unvisible
      .profile-box-top
        .type 3 камеры
        .profile-descr(data-output="Окошко S50 Special") Окошко S50 Special
        .profile-country(data-output="Украина") Украина
        .label(data-output="страна") страна
      .profile-box-bottom
        .coef-level.heat-insulation
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="теплоизоляция") теплоизоляция
        .coef-level.noise-insulation.coef-level-2
          .coef-index
          .coef-index
          .coef-index
          .coef-index
          .coef-index
        .label(data-output="шумоизоляция") шумоизоляция
