.config-panel.profile-container(ng-controller="ProfileCtrl", ng-class="{'active': global.showPanels.showProfilePanel}")
  .profile-inner(ng-if="global.isProfilePanel")

    .profile-block.clearfix(ng-repeat="producer in profilePanel.profiles", ng-class="{'selected': profilePanel.isSelectedProducer == $index}")
      .group-block-header
        .title(data-output="{{ profilePanel.producers[$index] }}", typing="{{ profilePanel.typing }}", typing-delay="{{ profilePanel.DELAY_START }}")
        .group-info
          .info
      //.box.profile-box.unvisible(ng-repeat="profile in producer", ng-class="{'selected': profile.profileId == global.product.profileId && profilePanel.isSelectedProducer == $parent.$index}", ng-click="selectProfile($parent.$index, $index, profile.profileId)", show-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_BLOCK * $index) }}")
      .box.profile-box.unvisible(ng-repeat="profile in producer", ng-class="{'selected': profilePanel.isSelectedProfile == $index && profilePanel.isSelectedProducer == $parent.$index}", ng-click="selectProfile($parent.$index, $index, profile.profileId)", show-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_BLOCK * $index) }}")
        .profile-box-top
          .type {{ profile.profileType }}
          .profile-descr(data-output="{{ profile.name }} {{ profile.profileDescrip }}", typing="{{ profilePanel.typing }}", typing-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_TYPING * $index) }}")
          .profile-country(data-output="{{ profile.country }} {{ profile.profileCountry }}", typing="{{ profilePanel.typing }}", typing-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_TYPING * $index) }}")
          .label(data-output="{{ 'panels.COUNTRY' | translate }}", typing="{{ profilePanel.typing }}", typing-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_TYPING * $index) }}")
        .profile-box-bottom
          .coef-level.heat-insulation(ng-class="{'coef-level-1': profile.heatCoeff == 1, 'coef-level-2': profile.heatCoeff == 2, 'coef-level-3': profile.heatCoeff == 3, 'coef-level-4': profile.heatCoeff == 4}")
            .coef-index
            .coef-index
            .coef-index
            .coef-index
            .coef-index
          .label(data-output="{{ 'panels.HEAT_INSULATION' | translate }}", typing="{{ profilePanel.typing }}", typing-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_TYPING * $index) }}")
          .coef-level.noise-insulation(ng-class="{'coef-level-1': profile.profileNoise == 1, 'coef-level-2': profile.profileNoise == 2, 'coef-level-3': profile.profileNoise == 3, 'coef-level-4': profile.profileNoise == 4}")
            .coef-index
            .coef-index
            .coef-index
            .coef-index
            .coef-index
          .label(data-output="{{ 'panels.NOICE_INSULATION' | translate }}", typing="{{ profilePanel.typing }}", typing-delay="{{ profilePanel.DELAY_START + (profilePanel.DELAY_TYPING * $index) }}")
        .info