.config-panel.profile-container(ng-controller="ProfilesCtrl as profilesPanel", ng-class="{'active': profilesPanel.G.global.activePanel == 2}")
    .panel-inner(ng-if="profilesPanel.G.global.activePanel == 2")
        .profile-block.clearfix(ng-repeat="producer in profilesPanel.G.global.profiles track by $index", ng-class="{'selected': profilesPanel.P.product.profileTypeIndex == $index}")
            .group-block-header(ng-if="profilesPanel.G.global.profilesType[$index].name !== 'Default'")
                .title(data-output="{{ profilesPanel.G.global.profilesType[$index].name }}", typing="{{ profilesPanel.config.typing }}", typing-delay="{{ profilesPanel.config.DELAY_START }}")
                .group-info
                    .info(ng-if="profilesPanel.G.global.profilesType[$index].img.length || profilesPanel.G.global.profilesType[$index].link.length || profilesPanel.G.global.profilesType[$index].description.length", ng-click="profilesPanel.showInfoBox(profilesPanel.G.global.profilesType[$index].id, profilesPanel.G.global.profilesType)")
            .box.profile-box.unvisible(ng-repeat="profile in producer track by $index", ng-class="{'selected': profile.id == profilesPanel.P.product.profile.id}", show-delay="{{ profilesPanel.config.DELAY_START + (profilesPanel.config.DELAY_BLOCK * $index) }}")
                .box_inner(ng-click="profilesPanel.checkForAddElem(profile.id)")
                    img.profile-img(ng-if="profile.img.length", ng-src="{{profile.img}}")

                    .profile-country(ng-if="!profile.img.length",data-output="{{ profile.country }}", typing="{{ profilesPanel.config.typing }}", typing-delay="{{ profilesPanel.config.DELAY_START + (profilesPanel.config.DELAY_TYPING * $index) }}")
                    .label-country(ng-if="!profile.img.length",data-output="{{ ::profilesPanel.COUNTRY }}", typing="{{ profilesPanel.config.typing }}", typing-delay="{{ profilesPanel.config.DELAY_START + (profilesPanel.config.DELAY_TYPING * $index) }}")
                    .profile-descr(data-output="{{ profile.name }}", typing="{{ profilesPanel.config.typing }}", typing-delay="{{ profilesPanel.config.DELAY_START + (profilesPanel.config.DELAY_TYPING * $index) }}")
               

                    .profile-cameras(ng-if="!profile.img.length",)
                        .type.cam {{ profile.cameras }}
                        .type-label
                            ng-pluralize(count="profile.cameras",when="{'1':'{{ profilesPanel.config.camera }}', '2':'{{ profilesPanel.config.camer }}', '3':'{{ profilesPanel.config.camer }}', '4':'{{ profilesPanel.config.camer }}', 'other':'{{ profilesPanel.config.camers }}'}")
                    .profile-box-bottom
                        .label(data-output="{{ ::profilesPanel.HEAT_INSULATION }}", typing="{{ profilesPanel.config.typing }}", typing-delay="{{ profilesPanel.config.DELAY_START + (profilesPanel.config.DELAY_TYPING * $index) }}")
                        .coef-level.heat-insulation(ng-class="{'coef-level-1': profile.heat_coeff == 1, 'coef-level-2': profile.heat_coeff == 2, 'coef-level-3': profile.heat_coeff == 3, 'coef-level-4': profile.heat_coeff == 4}")
                            .coef-index
                            .coef-index
                            .coef-index
                            .coef-index
                            .coef-index
                        .label(data-output="{{ ::profilesPanel.NOICE_INSULATION }}", typing="{{ profilesPanel.config.typing }}", typing-delay="{{ profilesPanel.config.DELAY_START + (profilesPanel.config.DELAY_TYPING * $index) }}")
                        .coef-level.noise-insulation(ng-class="{'coef-level-1': profile.noise_coeff == 1, 'coef-level-2': profile.noise_coeff == 2, 'coef-level-3': profile.noise_coeff == 3, 'coef-level-4': profile.noise_coeff == 4}")
                            .coef-index
                            .coef-index
                            .coef-index
                            .coef-index
                            .coef-index
                .info(ng-if="profile.img.length || profile.link.length || profile.description.length", ng-click="profilesPanel.showInfoBox(profile.id, producer)")
