.config-panel.template-container(ng-controller="TemplateSelectorCtrl", ng-class="{'active': global.showPanels.showTemplatePanel}")
  .template-inner(ng-if="global.isTemplatePanel", ng-init="initTemplates()")
    .template-header
      .template-title.unvisible(ng-class="{'active': templatePanel.switcherTemplate}", ng-click="toggleTemplate()", show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}") {{ 'panels.TEMPLATE_WINDOW' | translate }}
        .window-type(ng-if="templatePanel.switcherTemplate")
          .balcon-config {{ 'panels.TEMPLATE_BALCONY' | translate }}
          .window-config {{ 'panels.TEMPLATE_WINDOW' | translate }}
      .template-discr {{ templatePanel.templateDescription }}

    .template-section
      svg-template(template = "global.templateDefault", template-width="1500", template-height="1000")

    .template-footer
      .other-template.prev(ng-click="showTemplatePrev()")
        .prev-btn
        .template-prev
          .other-template-img.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templatePanel.templateImgPrev }}")
          .other-template-label {{ templatePanel.templateTitlePrev }}
          .other-template-subscr {{ templatePanel.templateDescriptionPrev }}

      .template-setting
        button.template-edit.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}", ng-click="gotoConstructionPage()") {{ 'panels.TEMPLATE_EDIT' | translate }}
        button.template-default.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}") {{ 'panels.TEMPLATE_DEFAULT' | translate }}

      .other-template.next(ng-click="showTemplateNext()")
        .template-next
          .other-template-img.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templatePanel.templateImgNext }}")
          .other-template-label {{ templatePanel.templateTitleNext }}
          .other-template-subscr {{ templatePanel.templateDescriptionNext }}
        .next-btn