.config-panel.template-container(ng-controller="TemplateSelectorCtrl", ng-class="{'active': global.showPanels.showTemplatePanel}")
  .template-inner(ng-if="global.isTemplatePanel")
    .template-header
      button.template-title.unvisible(ng-class="{'active': templatePanel.switcherTemplate}", hm-tap="toggleTemplate()", show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}") {{ global.templateLabel }}
        .template-type(ng-show="templatePanel.switcherTemplate")
          .template-type-btn(ng-if="!global.isConstructWind", hm-tap="turnOnTemplate('window')") {{ 'panels.TEMPLATE_WINDOW' | translate }}
          .template-type-btn(ng-if="!global.isConstructBalcony", hm-tap="turnOnTemplate('balcon')") {{ 'panels.TEMPLATE_BALCONY' | translate }}
          .template-type-btn(ng-if="!global.isConstructDoor", hm-tap="turnOnTemplate('door')") {{ 'panels.TEMPLATE_DOOR' | translate }}
          .template-type-btn(ng-if="!global.isConstructWindDoor", hm-tap="turnOnTemplate('balconEnter')") {{ 'panels.TEMPLATE_BALCONY_ENTER' | translate }}

      .template-discr.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}") {{ global.templates[global.product.templateIndex].name }}

    .template-section.unvisible(hm-tap="gotoConstructionPage()", show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}")
      svg-template(template="global.templates[global.product.templateIndex]", template-width="global.svgTemplateIconBigWidth", template-height="global.svgTemplateIconBigHeight", type-construction="bigIcon")

    .template-footer.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}")
      .other-templates(ng-show="global.isConstructWind")
        //.other-template(ng-repeat="templateIcon in global.templatesIcons", hm-tap="selectNewTemplate($index)")
        .other-template(ng-repeat="templateIcon in global.templatesImgs", hm-tap="selectNewTemplate($index)")
          .other-template-img.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-label.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}") {{ global.templateLabel }}
          .other-template-subscr.unvisible(show-delay="{{ templatePanel.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}