.config-panel.template-container(ng-controller="TemplatesCtrl as templatesPanel" , ng-class="{'active': templatesPanel.G.global.activePanel == 0, 'select': templatesPanel.G.global.activePanel == -1}")
    .construction-type
      .construction-type.hide(fs-click="templatesPanel.closeTemplates()")
      .construction-type.type-btn(ng-repeat="name in templatesPanel.templateName track by $index", fs-click="templatesPanel.selectNewTemplateType($index+1)", ng-class="{'selected': templatesPanel.selected === $index+1}") {{ ::templatesPanel.templateName[$index]|translate }}
    .template-footer.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
        .other-template(ng-repeat="templateIcon in templatesPanel.templatesImgs track by $index", fs-click="templatesPanel.selectNewTemplate($index)", ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}")
          .other-template-img.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-label.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templatesPanel.G.global.templateLabel }}
          .other-template-subscr.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}


