.configur-panelLight.template-container(ng-show="templatesPanel.U.userInfo.factory_id !== 2" ng-controller="TemplatesCtrl as templatesPanel", ng-class="{'active': templatesPanel.G.global.activePanel == -1, 'select': templatesPanel.G.global.activePanel == 0, 'goLeft': templatesPanel.D.design.activeSubMenuItem === 6}")
    .construction-type
      //.construction-type.hide(fs-click="templatesPanel.closeTemplates()")
      .construction-type.type-btn(ng-repeat="name in templatesPanel.templateName track by $index", fs-click="templatesPanel.selectNewTemplateType($index+1)", ng-class="{'selected': templatesPanel.selected === $index+1}") {{ ::templatesPanel.templateName[$index]|translate }}
    .template-footerLight.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}" ng-class="{'goLeft': templatesPanel.G.global.showTemplates}")
        .other-template(fs-click="templatesPanel.selectNewTemplate($index)", ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs track by $index", ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}")
          .other-template-img.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-label.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templatesPanel.G.global.templateLabel }}
          .other-template-subscr.unvisible(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}

//-rehau templates
.configur-panelLight-rehau.template-container-rehau(ng-show="templatesPanel.U.userInfo.factory_id === 2" ng-controller="TemplatesCtrl as templatesPanel", ng-class="{'goLeft': templatesPanel.D.design.activeSubMenuItem === 6}")
  .other-template-rehau
    .close-screen-button(ng-click="lightPage.G.global.activePanel=0")
    .single-leaf-windows 
      .single-leaf-windows-title <h1>Окна одностворчатые</h1>
      .single-leaf-windows-templates
        .other-single-template-rehau(fs-click="templatesPanel.selectNewTemplate($index)", ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs.slice(0, 4)", ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}")
          .other-template-img(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-subscr(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}
    .duble-leaf-windows
      .duble-leaf-windows-title <h1>Окна двухстворчатые</h1>
      .duble-leaf-windows-templates
        .other-single-template-rehau(fs-click="templatesPanel.selectNewTemplate($index + 4)", ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs.slice(4, 10)", ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}")
          .other-template-img(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-subscr(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}

    .three-leaf-windows
      .three-leaf-windows-title <h1>Окна трёхстворчатые</h1>
      .three-leaf-windows-templates
        .other-single-template-rehau(fs-click="templatesPanel.selectNewTemplate($index + 10)", ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs.slice(10, 16)", ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}")
          .other-template-img(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-subscr(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}


    .three-leaf-windows
      .three-leaf-windows-title <h1>Окна Т-образные</h1>
      .three-leaf-windows-templates
        .other-single-template-rehau(fs-click="templatesPanel.selectNewTemplate($index + 16)", ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs.slice(16, 26)", ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}")
          .other-template-img(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-subscr(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}

    .three-leaf-windows
      .three-leaf-windows-title <h1>Двери балконные</h1>
      .three-leaf-windows-templates
        .other-single-template-rehau(fs-click="templatesPanel.selectNewTemplate($index + 26)", ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs.slice(26, 36)", ng-class="{'selected': templatesPanel.G.global.selectedTemplateName === $index}")
          .other-template-img(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}")
            img(ng-src="{{ templateIcon.src }}")
          .other-template-subscr(show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}") {{ templateIcon.name }}
        
//-rehau templates end