@import 'compass/css3';
@import '../base/colors';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/icons';

.password-page {
  .back {
    @extend .icon-setting;
    @include font-general-icon(50px, 1);

    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    background: transparent;
    &:before {
      color: $main_orange;
      content: $config_menu-arrow-icon;
    }
  }
  .psw-container {
    padding-left: 50px;
    color: #fff;
  }
  .psw-label {
    @include roboto-lt(36px, 88px);

    min-width: 400px;
    color: $main_gray_btn;
  }
  .psw-data {
    color: $main_orange;
  }
}