.language-page {
  .back {
    @extend .icon-setting;
    @include font-icon(rem(50px), 1);

    width: rem(60px);
    height: rem(60px);
    margin: 0;
    padding: 0;
    background: transparent;
    &:before {
      color: $main_orange;
      content: $config_menu-arrow-icon;
    }
  }
  .lang-container {
    height: 80%;
    padding-left: rem(25px);
    color: #fff;
  }
  .lists {
    height: 100%;
    overflow: hidden;
  }
  li.item.active {
    color: $main_orange;
  }
  .lang-label {
    @include roboto-lt(rem(36px), rem(99px));
  }
}