$door-config-header: 355px;
$door-config-content: $ipad-height - $door-config-header;

.construction-container {
  position: relative;
  width: rem($ipad-width);
  height: rem($ipad-height);
}


// General Menu Properties

.construction-menu {
  position: absolute;
  height: 100%;

  .construction-label {
    @include roboto-bd(rem(24px), rem(24px));

    margin-top: rem(20px);
    text-transform: uppercase;
    color: $main_gray_txt;
  }
  .construction-descrip {
    @include roboto-lt(rem(24px));

    margin-bottom: rem(10px);
    color: #666;
  }
}


// Construction Left Menu

.construction-left-menu {
  @extend .construction-menu;
  @include top_left_coord(0px, 0px);

  .figure-lists {
    width: rem(220px);
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .figure-item {
    position: relative;
    height: rem(215px);
  }
  .figure-item-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-style: solid;
    border-color: #d2d2d2;
    border-width: 0 1px 1px 0;
    padding: rem(40px);
    text-align: center;
    z-index: 10;

    &.selected {
      background-color: $main_green;
      .figure-icon {
        color: #fff;
      }
    }
  }

  .figure-icon {
    @extend .splash;
    @include font-icon(rem(88px), 1);
    color: $main_green;
  }

  .sash-shape {
    &:after {
      content: $sash-shape-icon;
    }
  }
  .angel-shape {
    &:after {
      content: $angel-shape-icon;
    }
  }
  .impost-shape {
    &:after {
      content: $impost-shape-icon;
    }
  }
  .arch-shape {
    &:after {
      content: $arch-shape-icon;
    }
  }
  .position-shape {
    &:after {
      content: $position-shape-icon;
    }
  }

  .figure-label {
    @extend .construction-label;
    @extend .truncated;
  }

  .left-menu-footer {
    position: absolute;
    left: rem(60px);
//    bottom: rem(50px);
    bottom: 8rem;
    width: rem(350px);
  }
  .footer-description {
    @extend .construction-descrip;
  }
  .project-default {
    @extend .middle-button;
    @extend .splash;

    display: inline-block;
//    width: rem(318px);
    height: rem(72px);
    padding: rem(13px) rem(26px);
    color: #fff;
    background-color: $main_green;
  }
}



// Construction Edit menu

.edit_submenu {
  @include transition(all 0.3s linear);
  @include roboto-lt(rem(36px), rem(65px));
  position: absolute;
  top: 30%;
  right: 0;
  padding: 0 rem(20px);
  border-radius: rem(16px);
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  z-index: 5;
}

#sash-shape-menu {
  width: 37.5rem;
  &.active {
    right: -37.5rem;
  }
}
#angel-shape-menu {
  width: 17.5rem;
  &.active {
    right: -17.5rem;
  }
}
#impost-shape-menu {
  width: 67.5rem;
  &.active {
    right: -67.5rem;
  }
}
#arc-shape-menu {
  width: 12.5rem;
  &.active {
    right: -12.5rem;
  }
}


ul.constr-shape-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.constr-shape-icon {
  @include font-icon(rem(50px), rem(80px));
  width: rem(80px);
  height: rem(80px);
  display: inline-block;
  float: left;
  padding-right: 2px;
  border-right: 1px solid $main_gray_btn;
  text-align: center;
  color: #ddd;

  &:last-child {
    border-right: none;
  }
}

.clean:after {
  content: $sash-empty-icon;
}
.sash-left:after {
  content: $sash-left-icon;
}
.sash-right:after {
  content: $sash-right-icon;
}
.sash-up:after {
  content: $sash-up-icon;
}
.sash-down:after {
  content: $sash-down-icon;
}
.sash-right-up:after {
  content: $sash-right-up-icon;
}
.sash-left-up:after {
  content: $sash-left-up-icon;
}
.impost-vert:after {
  content: $impost-vert-icon;
}
.impost-hor:after {
  content: $impost-hor-icon;
}
.impost-inc-hor:after {
  content: $impost-inc-hor-icon;
}
.impost-inc-vert:after {
  content: $impost-inc-vert-icon;
}
.impost-curv-right:after {
  content: $impost-curv-right-icon;
}
.impost-curv-left:after {
  content: $impost-curv-left-icon;
}
.impost-curv-up:after {
  content: $impost-curv-up-icon;
}
.impost-curv-down:after {
  content: $impost-curv-down-icon;
}
.impost-curv1:after {
  content: $impost-curv1-icon;
}
.impost-curv3:after {
  content: $impost-curv3-icon;
}
.impost-curv4:after {
  content: $impost-curv4-icon;
}
.impost-curv2:after {
  content: $impost-curv2-icon;
}
.arc:after {
  content: $arc-icon;
}
.corner:after {
  content: $corner-icon;
}
.corner-curv:after {
  content: $corner-curv-icon;
}


// Construction SVG

.construction-block {
  width: rem($ipad-width);
  height: rem($ipad-height);
  //padding: rem(250px);
  text-align: center;
  //overflow: auto;
}
.construction-scrollbox {
  width: 100%;
  height: 100%;
  margin: auto auto;
  text-align: center;
  overflow: auto;
}
#mainSVG {
  height: 100%;
}
.design-attantion {
  @extend .attantion;
  top: 45%;
  left: 35%;
}

// Construction Right Menu

//.construction-right-menu {
//  @extend .construction-menu;
//
//  top: 0;
//  right: 0;

  .right-menu-header {
//    margin-top: rem(50px);
    position: absolute;
    right: 0;
    top: 3%;
  }
  .construct-tools {
    @extend .cross-btn;
    @extend .splash;

    position: relative;
    width: rem(85px);
    height: rem(85px);
    margin-right: rem(50px);
    &:after {
      top: 25%;
      left: 25%;
    }
  }
  .save-construction {
    @include font-icon(rem(28px), 1.5);

    background-color: $main_green;
    &:after{
      content: $select-history-icon;
    }
  }
  .close-construction {
    @include font-icon(rem(40px), 1);
    background-color: $main_gray_btn;
  }

  .step-back {
    @include font-icon(rem(40px), 1);
    background-color: $main_gray_btn;
    &:after {
      content: $step-back;
    }
  }

  .right-menu-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: rem(478px);
    height: rem(510px);
  }
  .door-config-menu {
    position: absolute;
    top: 25%;
    right: rem(50px);
    width: rem(300px);
    text-align: right;
  }
  .door-config-btn {
    @extend .button;
    @extend .splash;
    @extend .icon-setting;
    @include font-icon(rem(130px), 1);

    margin: 0;
    padding: 0;
    background: transparent;
    &:after {
      color: $main_green;
      content: $door-config-default-icon;
    }
    &.active {
      &:after {
        content: $door-config-active-icon;
      }
    }
  }
  .door-config-label {
    @extend .construction-label;
    margin-bottom: rem(30px);
  }
  .door-config-description {
    @extend .construction-descrip;
  }

  .size-calculator {
    @include transition(all 0.5s linear);

    position: absolute;
    bottom: rem(-1000px);
    width: rem(475px);
    background-color: #f8f8f8;
    border-left: 1px solid $main_gray_btn;
    &.active {
//TODO ipad      bottom: 0;
      bottom: 6rem;
    }
  }

  .calc-equal {
    background-color: $main_green;
  }
//}



// Door Configuration Panel

.door-configuration {
  @include top_left_coord(0px, -2500px);
  @include transition(all 0.5s linear);

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: 2;

  &.active {
    @include top_left_coord(0px, 0px);
  }

  .door-config-column {
    @include transition(all 0.5s linear);
    @include top_left_coord(0px, -460px);

    position: absolute;
    width: rem(512px);
  }
  .step1 {
    @include top_left_coord(0px, 0px);

    z-index: 6;
  }
  .step2 {
    z-index: 5;
    &.active {
      @include top_left_coord(0px, 452px);
    }
  }
  .step3 {
    z-index: 4;
    &.active {
      @include top_left_coord(0px, 900px);
    }
  }
  .step4 {
    z-index: 3;
    &.active {
      @include top_left_coord(0px, 1352px);
    }
  }
  .door-config-backfon {
    @include box-shadow($main_gray_btn 0 rem(5px) rem(10px) );
    @include top_left_coord(0px, 0px);

    width: rem(452px);
    height: 100%;
    position: absolute;
    border-right: 1px solid #d2d2d2;
    background-color: #fafafa;
    z-index: -1;
  }
  .door-config-header {
    height: rem($door-config-header);
    padding-left: rem(50px);
    width: rem(452px);
  }
  .door-inner {
    height: 100%;
    padding: rem(40px) rem(20px);
    border-bottom: 1px solid #d2d2d2;
  }
  .door-title {
    @include roboto-bd(rem(48px));
    padding: rem(20px) 0 rem(30px) 0;
    color: $main_gray_txt;
  }
  .door-subtitle {
    @include roboto-bd(rem(36px), rem(44px));

    color: $main_gray_txt;
  }
  .door-config-content {
    height: rem($door-config-content);
    overflow: hidden;
    &.scroll-box {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  ul.door-config-list {
    width: rem(512px);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li.door-config-option {
    width: rem(452px);
    padding-left: rem(50px);
    cursor: pointer;
    position: relative;
    &.selected {
      background-color: $main_green;
    }
  }
  .selected-item-arrow {
    position: absolute;
    top: 0;
    right: rem(-58px);
    width: rem(60px);
    height: 100%;
    background: image-url('door-arrow.png') no-repeat;
    background-size: 100% 100%;
  }
  .door-option-label {
    @include roboto-lt(rem(36px));

    color: $main_gray_txt;
  }
  .door-config-tools {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(244px);
  }
  .door-config-btn {
    @extend button;
    @extend .icon-setting;
    @include font-icon(rem(60px), 1);

    width: 100%;
    color: #fff;
    outline: none;
    border: none;
  }
  .close-door-config {
    height: rem($door-config-header);
    background-color: $main_gray_btn;
    &:after {
      content: $cross-big-icon;
    }
  }
  .save-door-config {
    height: rem($door-config-content);
    background-color: $main_green;
    &:after {
      content: $select-history-icon;
    }
  }
  .door-shape {
    width: rem(112px);
  }
  .door-hardware {
    width: rem(160px);
  }
}