.tn-box {
  width: 100%;
  position: absolute;
  left: 0rem;
  text-align: center;
  color: #363636;
  cursor: default;
  z-index: -10;
  .result {
    font: normal 2.25rem/1.42857 roboto-medium, sans-serif, icons;
    color: #363636;
    height: 100%;
  }
  .error {
    font: normal 2.25rem/1.42857 roboto-medium, sans-serif, icons;
    height: 100%;
    color: #f74f2e;
  }
}
.main-history {
  @extend .main-content;
  width: rem($ipad-width);
}
 .box-menu11 {
  @extend .backDarkView;
  opacity: 1.08;
  z-index: 10000;
}

.history-page {
  position: relative;
  width: 100%;
  height: 100%;
}
.accounts-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: rem(50px);
  padding-left: rem(100px);
  overflow: hidden;
  background-color: #fafafa;

  &.history-view {
    @include top_left_coord(0px, 0px);
  }
  &.draft-view {
    @include top_left_coord(0px, -2500px);
    @include transition(all 0.5s linear);

    z-index: 5;
  }
  &.active {
    @include top_left_coord(0px, 0px);
  }

  .history-header {
    position: relative;
    width: 100%;
    height: rem(150px);
    margin-bottom: rem(50px);
    .history-back{
      font: normal 3.125rem/1 icons, sans-serif;
      left: -4.5rem;
      position: absolute;
      top: 25%;
      width: 3.75rem;
      height: 3.75rem;
      margin: 0;
      padding: 0;
      border: none;
      background: transparent;
      outline: none;
      &:before {
        content: $arrow-icon;
        color: $main_orange;
      }
    }
  }
  .user-info-container {
    top: 0;
  }
  
  .history-tools-panel {
    @include display-flex();

    position: absolute;
    top: 30%;
    right: 0;
  }

  .history-req-panel {
    @include display-flex();
    position: relative;
    top: 30%;
    right: -65rem;
    width: 40rem;

    .period-of-time {
      position: relative;
      width: 15rem;
      height: 3rem;
      position: relative;
      height: 3rem;
      display: inline-block;
      text-decoration: none;
      outline: none;
      border-width: 2px 0;
      border-style: solid none;
      border-color: #f98000;
      border-radius: 6px;
      transition: 0.2s;
      font-size: 1.6rem; 
    }
    .req-res {
      position: relative;
      width: 27rem;
      height: 3rem;
      display: inline-block;
      color: white;
      text-decoration: none;
      outline: none;
      border-width: 2px 0;
      /* border-style: groove; */
      border-color: #ff921e #f7f7f7 #f98000;
      border-radius: 10px;
      background: #f98000;
      transition: 0.2s;
      font-size: 1.6rem;   
    }
  }

  .tools-block {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include align-items(center);

    position: relative;
    margin-right: rem(50px);
    &:last-child {
      margin: 0;
    }
    &.active {
      .search-btn {
        display: none;
      }
      .dropdown-tool-dialog {
        display: block;
      }
    }
  }
  .tool {
    @extend .button;
    @extend .splash;
    @extend .icon-setting;

    position: relative;
    width: rem(50px);
    height: rem(50px);
    background-color: transparent;
    &:after {
      position: absolute;
      top: 8%;
      left: 10%;
      color: $main_orange;
    }
  }
  .search-btn {
    @include font-icon(rem(40px), 1);
    &:after {
      content: $search-icon;
    }
  }
  .calendar-btn {
    @include font-icon(rem(40px), 1);
    &:after {
      content: $calendar-icon;
    }
  }
  .settings-btn {
    @include font-icon(rem(40px), 1);
    &:after {
      content: $settings-icon;
    }
  }
  .time-interval {
    @include roboto-bd(rem(24px), rem(24px));

    margin-left: rem(20px);
    color: $main_gray_txt;
  }

  .dropdown-tool-dialog {
    @extend .splash;

    display: none;
    position: absolute;
    top: rem(78px);
    right: rem(-15px);
    width: rem(655px);
    border-radius: rem($radius_rooms-dialog);
    background-color: #fff;
    z-index: 5;
    &:after {
      position: absolute;
      top: rem(-24px);
      width: 0;
      border-width: 0 rem(25px) rem(25px);
      border-style: solid;
      border-color: #f8f8f8 transparent;
      content: '';
    }
  }
  .date-filter {
    &:after {
      left: 50%;
    }
  }
  .sort-filter {
    &:after {
      right: 2%;
    }
  }
  // если не указан временной интервал
  .time-interval.empty ~ .date-filter {
    &:after {
      left: 88%;
    }
  }

//------Settings Filter

  .filter-divider {
    @include roboto-bd(rem(24px), rem(74px));

    padding-left: rem($config_menu-side_padding);
    background-color: #f8f8f8;
    color: #8c8c8c;
    text-transform: uppercase;
    border-style: solid;
    border-color: #c4c3c3;
    border-width: 1px 0;
    &:first-child {
      border-top-width: 0;
      border-top-left-radius: rem($radius_rooms-dialog);
      border-top-right-radius: rem($radius_rooms-dialog);
    }
  }

  .filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: rem($config_menu-side_padding);
  }
  .filter-item {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);

    border-bottom: 1px solid $main_gray_btn;
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
    &.selected {
      .filter-select-icon {
        display: block;
      }
    }
  }
  .filter-label {
    @include roboto-lt(rem(36px), rem(87px));

    color: $main_gray_txt;
  }

  .select-icon {
    position: relative;
    width: rem(65px);
    &:after {
      @include top_left_coord(10px, 0px);

      position: absolute;
      color: $main_orange;
      content: $select-history-icon;
    }
  }

  .filter-select-icon {
    @extend .select-icon;
    @include font-icon(rem(30px), rem(70px));

    display: none;
  }

//------Date Filter

  .date-filter {
    text-align: center;
  }
  .filter-title {
    @include roboto-bd(rem(24px), rem(88px));

    border-top-left-radius: rem($radius_rooms-dialog);
    border-top-right-radius: rem($radius_rooms-dialog);
    text-transform: uppercase;
    background-color: #f8f8f8;
    color: $main_gray_txt;
  }

  .period {
    @include roboto-lt(rem(36px), rem(88px));

    color: $main_orange;
    background-color: #fff;
    cursor: pointer;
    &.selected {
      color: #fff;
      background-color: $main_orange;
    }
  }

  .dropdown-calendar-scroll {
    @include transition(all 0.5s linear);
    height: 0;
    overflow: hidden;
    &.active {
      height: 19rem;
    }
  }


  .total-date {
    border-bottom-left-radius: rem($radius_rooms-dialog);
    border-bottom-right-radius: rem($radius_rooms-dialog);
  }

  .date-list {
    margin: 0;
    padding: 0;
    max-height: rem(400px);
    list-style: none;
    overflow-y: auto;
    background-color: #f8f8f8;
  }
  .date-item {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include justify-content(space-around);
    @include roboto-lt(rem(36px), rem(64px));

    color: $main_gray_btn;
    cursor: pointer;
    &.selected {
      border-style: solid;
      border-color: $main_gray_btn;
      border-width: 1px 0;
      color: $main_gray_txt;
    }
  }

//-----Accounts

  .account-block {
    @extend .splash;
    position: relative;
    width: 93%;
    height: rem(446px);
    margin-bottom: rem(50px);
  }

  .account {
    @include box-shadow($main_gray_btn 0 0 rem(15px) 1px);

    position: absolute;
    width: 100%;
    border: 1px solid $main_gray_btn;
    border-radius: rem($radius_account-top) rem($radius_account-top) rem($radius_account-bottom) rem($radius_account-bottom);
    background-color: #fff;
    z-index: 2;
    &.current {
      .footer {
        background-color: $main_green;
      }
    }
    &.wait {
      .footer {
        background-color: #f9b000;
      }
    }
    &.done {
      background-color: #f0f0f0;
      .account-select-btn,
      .account-delete-btn {
        display: none;
      }
    }
  }

  .account-row {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include align-items(center);
    padding: rem(20px) rem(30px);

    &:first-child {
      border-bottom: 1px solid $main_gray_btn;
    }
    &:last-of-type {
      border-top: 1px solid $main_gray_btn;
    }
    &.header,
    &.footer {
      @include justify-content(space-between);
    }
    &.footer {
      @include roboto-bd(rem(48px));

      border-bottom-left-radius: rem($radius_account-bottom);
      border-bottom-right-radius: rem($radius_account-bottom);
      color: $main_gray_txt;
      cursor: pointer;
      &.error {
        background-color: #f74f2e;
      }
    }
  }
  .account-data {
    &.title {
      @include display-flex();
      @include flex-flow(row nowrap);
    }
    &.phone {
      margin-right: rem(30px);
      padding-right: rem(30px);
      border-right: 1px solid $main_gray_btn;
    }
  }
  .complete-icon {
    @extend .select-icon;
    @include font-icon(rem(30px), 1);
  }
  .account-id {
    @include roboto-md(rem(36px));

    color: $main_gray_txt;
  }
  .account-addinfo {
    @include roboto-lt(rem(36px));
    margin-left: rem(10px);
    color: #8c8c8c;
  }

  .account-date-filter,
  .account-label {
    @include roboto-lt(rem(22px));

    color: #8c8c8c;
  }

  .user-data {
    @include roboto-lt(rem(36px));

    color: $main_gray_txt;
  }

  .account-tool {
    @extend .button;
    @extend .icon-setting;
    @include font-icon(rem(45px), 1);

    position: absolute;
    width: rem(120px);
    height: rem(112px);
    border-top-right-radius: rem($radius_account-tool);
    border-bottom-right-radius: rem($radius_account-tool);
    z-index: 1;
  }
  .account-select-btn {
    @include font-icon(rem(30px), 1);
    top: rem(36px);
    right: rem(-120px);
    background-color: $main_green;
    &.error {
      background-color: #f74f2e;
    }
    &:after {
      color: #fff;
      content: $select-history-icon;
    }
  }
  .account-copy-btn {
    top: rem(180px);
    right: rem(-120px);
    background-color: #c6c6c6;
    &:after {
      color: $main_gray_txt;
      content: $copy-doc-icon;
    }
  }
  .account-print-btn {
    top: rem(324px);
    right: rem(-120px);
    background-color: #c6c6c6;
    &:after {
      color: $main_gray_txt;
      content: $printer-icon;
    }
  }
  .account.done ~ .account-print-btn {
    top: rem(50px);
  }
  .account-delete-btn {
    @extend .small-cross-btn;

    position: absolute;
    top: rem(-20px);
    right: rem(-20px);
    background-color: $main_green;
    z-index: 2;
  }
  .account-change-btn {
    @extend .button;
    @include roboto-rg(rem(24px));

    position: absolute;
    top: rem(200px);
    right: 0;
    width: rem(160px);
    height: rem(70px);
    border-top-left-radius: rem($radius_account-tool);
    border-bottom-left-radius: rem($radius_account-tool);
    background-color: $main_green;
    color: #fff;
    z-index: 2;
    &.error {
      background-color: #f74f2e;
    }
  }
}


.draft-view {
  .account-block {
    height: rem(204px);
  }
  .account-row {
    &:first-child {
      background-color: #e5e5e5;
      border-bottom: none;
    }
    &:last-of-type {
      background-color: #d8d8d8;
    }
  }
  .account-print-btn {
    top: rem(50px);
  }
}


.dark-fon {
  background-color: #e1e1e1;
  .account,
  .account.done {
    background-color: #e5e5e5;
  }
}

.empty-search-result {
  //@include top_left_coord(100px, 100px);
  //@include transition(all 0.5s linear);

  //position: absolute;
  //width: 80%;
  //height: 80%;
  //background-color: #e1e1e1;
  text-align: center;
  z-index: 10;
  .result-icon {
    @extend .splash;
    @extend .icon-setting;
    @include font-icon(rem(370px), 1.5);

    &:after {
      color: #c6c6c6;
      content: $logo-icon;
    }
  }
  .result-text {
    @include roboto-lt(rem(36px));
    color: $main_gray_txt;
  }
  .searchin-text {
    @include roboto-md(rem(36px));
  }
}

//----- Calendar scroll
.mbsc-ios {
  .dw-li {
    text-align: center !important;
    .dw-i {
      font-size: rem(35px) !important;
      div {
        display: none !important;
      }
      .dw-mon {
        font-size: rem(35px) !important;
      }
    }
  }
}
