.location-page {
  .header {
    @include justify-content(flex-start);

    padding-left: 100px;
  }
  .back {
    @extend .icon-setting;
    @include font-nav-menu(50px, 1);

    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    background: transparent;
    &:before {
      color: $main_yellow;
      content: $select_location-icon;
    }
  }
  .location-container {
    padding-left: 50px;
    color: #fff;
  }
  .lists {
    height: 1450px;
  }
  .location-current,
  .location-label {
    @include roboto-lt(36px, 99px);
  }
  .location-current {
    width: 65%;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
}