$img_logo: 'login/logo.png'; //$img_logo: 'login/logo-steko.png';

.login-page {
  @include display-flex();
  height: 100%;
  //background: image-url('login/login-bg.jpg') no-repeat;
  background-size: cover;

  #no-visible {
    display: none;
  }
  .user-select-field {
      text-align-last: center;
  }
  
  .input-field {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: rem(20px);

    &.has-error > .user-field {
      border-color: $error_color;
    }
  }
  .user-field {
    @include roboto-lt(rem(36px));
    display: block;
    color: #35424b !important;
    width: 80%;
    height: rem(80px);
    text-align: center;
    border: 1px solid #221c48;
    border-radius: 50px;
    outline: none;

    &.ng-invalid-minlength,
    &.ng-invalid-pattern {
      border-color: $error_color;
    }
  }
}

.login-container {
  position: relative;
  width: rem(1000px);
  margin: auto;
  padding: rem(60px) rem(110px);
  border-radius: rem($radius_login-container);

  .text-container {
    @include roboto-lt(rem(48px));
    overflow: hidden;
    text-align: center;
    color: #000;

    &.error {
      color: red;
    }
  }

  .user-field {
    background-color: white !important;
  }
}

.close_dialog {
  @extend .splash;
  @extend .icon-setting;
  @include font-icon(rem(50px), 1);
  position: absolute;
  top: 4%;
  right: 5%;
  width: rem(60px);
  height: rem(60px);
  margin: 0;
  padding: 0;
  border: none;
  background: url('./../../img/calc/close-calculator-hover.svg');
  background-size: contain;
  outline: none;

}

.logo {
  @extend .splash;
  width: rem(image-width($img_logo));
  height: rem(image-height($img_logo));
  margin: 0 auto rem(73px);
  background: image-url($img_logo) no-repeat;
  background-size: cover;
}

.lang {
  position: absolute;
  top: 3%;
  left: 4%;
  width: 4.75rem;
  height: 4.75rem;
}





.user-field-add {
  @include roboto-lt(rem(36px));
  display: block;
  max-width: 55%;
  height: rem(60px);
  padding: rem(5px);
  border: 1px solid rgba(140, 140, 140, 0.65);
  border-radius: 1rem;
  outline: none;

  &.ng-invalid-minlength,
  &.ng-invalid-pattern {
    border-color: $error_color;
  }
}

.user-field-m {
  @include roboto-lt(rem(36px));
  display: block;
  width: 100%;
  max-width: 100%;
  height: rem(60px);
  padding: rem(5px);
  border: 1px solid rgba(140, 140, 140, 0.65);
  border-radius: 1rem;
  outline: none;

  &.ng-invalid-minlength,
  &.ng-invalid-pattern {
    border-color: $error_color;
  }
}

.error-tooltip {
  @include top_left_coord(-10px, 600px);
  @include roboto-lt(rem(36px));
  position: absolute;
  display: table;
  max-width: rem(600px);
  padding: rem(20px) rem(40px);
  color: #fff;
  border-radius: rem($radius_general-small_button);
  background: $error_color;
  z-index: 1;

  &:before {
    @include transform(rotate(45deg));
    position: absolute;
    top: rem(25px);
    left: rem(-15px);
    display: block;
    width: rem(40px);
    height: rem(40px);
    border-radius: rem(5px);
    background-color: $error_color;
    content: '';
  }
}

.login-submit {
  @extend .orange-big-btn;
  @extend .splash;
  background-color: $main_red !important;
  display: block;
  border-radius: 4rem;
  width: 80%;
  margin: 1.25rem auto 0;
  height: rem(80px);
}

.text-logo {
  text-align: center;
  margin: 0 auto 15px;
  color: white;
  font-size: 18px;
}

.i {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.updateDB {
  @include roboto-lt(rem(35px));
  display: inline-block;
  width: 90%;
}

#updateDBcheck {
  margin: 1em 1em auto auto;
  width: 1em;
  height: 1em;
}

.i-info {
  display: inline-block;
  float: right;
  width: 1em;
  height: 1em;
  font: normal 3.125rem/1 icons, sans-serif;
  position: relative;
  background-color: #6ed44a;
  color: white;
  text-align: center;
  border-radius: 30px;
  margin: 0.7em auto auto;
}

.inet_ok {
  display: block;
  margin: 1rem auto auto;
}

.placeholder-select {
  color: #A9A9AB;
}

.factory_box {
  @include roboto-lt(rem(36px));
  position: absolute;
  top: 0;
  left: -9%;
  width: rem(1200px);
  height: 100%;
  overflow: hidden;
  padding: rem(40px) 0;
  border: 1px solid #8c8c8c;
  border-radius: rem($radius_general-small_button);
  background: #fff;
  color: $main_gray_txt;
  z-index: 10;
}

.factory_title {
  @include roboto-bd(rem(36px));
  margin-bottom: rem(10px);
  text-align: center;
}

.factory_list {
  height: 76%;
  overflow: auto;
  padding: 0 rem(40px);
}

table.factory_table {
  border: none;

  td {
    padding: rem(25px) 0;
  }
}

tr.factory_item {
  vertical-align: top;
}

.factory_select {
  width: 5%;
  padding-right: rem(5px);
}

.factory_name {
  width: 45%;
}

.factory_name,
.factory_place {
  text-align: left;
}

.buttom-info-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $main_red;
  color: white;
  -webkit-text-fill-color: white;
  @include roboto-rg(15px);
}

.test-top-info-box {
  position: fixed;
  top: 10px;
  left: 30px;
  color: white;
  -webkit-text-fill-color: white;
  display: inline-flex;
  flex-direction: column;
  @include roboto-rg(10px);
}
