.main-frame-mobView {
  min-height: 100% !important;
  min-width: 100% !important;
  width: 100%;
  height: 100%;
  z-index: 10000;
  transform: scale(1);
  left: 0;
  top: 0;
}

.app-container-mobView {
  width: 100%;
  min-height: 100% !important;
  min-width: 100% !important;
  height: 100%;
}

.login-page-mobView {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-flex;
  display: flex;
  background: url("../img/login/login-bg.jpg?1516794682") no-repeat;
  background-size: cover;
  background-position: center center;
}

.login-container-mobView {
  -moz-box-shadow: rgba(98, 67, 48, 0.5) 0 0 0.9375rem 1px;
  -webkit-box-shadow: rgba(98, 67, 48, 0.5) 0 0 0.9375rem 1px;
  box-shadow: rgba(98, 67, 48, 0.5) 0 0 0.9375rem 1px;
  position: relative;
  margin: auto;
  padding: 1.75rem 2.875rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.logo-mobView {
  width: 4.125rem;
  height: 4.125rem;
  margin: 0 auto 4.5625rem;
  background: url("../img/login/logo.png?1516794682") no-repeat center;
  background-size: cover;
}

.mobile {
  position: relative;
  width: 100%;
  height: 100%;

  .price {
    @include display-flex();
    @include justify-content(center);
    margin-left: -5rem;
    align-items: center;
  }

  .price-value {
    @include roboto-lt(rem($price_container-height-mobile), 1);
    display: inline-flex;
    overflow: hidden;
    height: rem($price_container-height-mobile);
    text-align: center;
    color: $main_red;
  }

  .digit-cell {
    position: relative;
    float: left;

    &:nth-last-child(3n+3) {
      margin-left: rem(4px);
    }

    &:nth-last-child(3) {
      margin-left: 0;
    }
  }

  .price-currency {
    @include roboto-lt(rem($price_container-height-mobile - 4px),1);
    color: $main_red;
    margin: 0 1vw;
  }

  .main-view {
    #tamlateSVG {
      all: unset;
      position: absolute;
      top: -5vh;
      left: -5vh;
    }

    .size-txt-edit {
      @extend .size-txt;
      stroke: $main_red;
      fill: $main_red;

      &.active {
        stroke: #fff;
        fill: #fff;
      }
    }

    .size-rect {
      width: 0;
      height: 0;
      stroke: $main_red;
      stroke-width: 3px;
      fill-opacity: 0;
      cursor: pointer;

      &.active {
        width: 240px;
        height: 110px;
        fill: $main_red;
        fill-opacity: 1;
      }
    }
  }

  .mobile-price {
    position: absolute;
    bottom: 10vh;
    height: 10vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    .go-to-cart {
      width: 45%;
      height: 7vh;
      background: red;
      border-radius: 50px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .go-to-cart-title {
        color: white;
        font-size: 5vw;
        margin-left: 4.5vw;
      }

      .product-counter {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 6.5vh;
        width: 6.5vh;
        background: white;
        border-radius: 50px;
        color: $main_red;
        font-size: 3vh;
        margin-right: 0.3vh;
      }
    }
  }

  .control-buttons-container {
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid $main_gray_light;

    .control-button {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      height: 100%;
      justify-content: space-between;
      padding-top: 10px;

      .img-common {
        width: 5vh;
        height: 5vh;
      }

      .cart-img {
        background: url("../img/config-menu/cart.svg") no-repeat center;
        background-size: contain;

        &.active {
          background: url("../img/config-menu/cart_active.svg") no-repeat center;
          background-size: contain;
        }
      }

      .config-img {
        background: url("../img/config-menu/conf.svg") no-repeat center;
        background-size: contain;

        &.active {
          background: url("../img/config-menu/conf_active.svg") no-repeat center;
          background-size: contain;
        }
      }

      .karkas-img {
        background: url("../img/config-menu/karkas.svg") no-repeat center;
        background-size: contain;

        &.active {
          background: url("../img/config-menu/karkas_active.svg") no-repeat center;
          background-size: contain;
        }
      }

      .templates-img {
        background: url("../img/config-menu/template.svg") no-repeat center;
        background-size: contain;

        &.active {
          background: url("../img/config-menu/template_active.svg") no-repeat center;
          background-size: contain;
        }
      }
    }

    p {
      margin: 0;
      text-transform: uppercase;
      @include roboto-lt(10px);
    }
  }

  .content-container {
    display: inline-flex;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 10vh;
    background: $main_gray_light;

    .common-content-style {
      width: 100%;
      height: 10vh;
    }

    .common-scroll-container {
      width: 100%;
      min-width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      box-sizing: content-box;
    }

    .templates-content {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      background: white;
      z-index: 1;

      .scroll-container {
        position: relative;
        width: 100%;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;

        .accept-container {
          display: inline-flex;
          align-items: center;
          justify-content: space-around;
          height: 10vh;
          width: 100%;

          .right {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 10vh;
            width: 50%;
            background: white;
            @include roboto-rg(15px);

            .accept-button {
              width: 100%;
              height: 5vh;
              background: red;
              border-radius: 50px;
              display: inline-flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              @include roboto-rg(24px);
              color: white;
            }
          }
        }

        .types {
          display: inline-block;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          min-height: 5vh;
          height: auto;
          width: 100%;
          @include roboto-lt(5vw);
          color: $main_gray_dark;
          box-sizing: content-box;

          &.gray {
            background: $main_gray_light;
          }

          .button {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 5vh;
            padding: 0 10px;
            width: 100%;
            @include roboto-lt(5vw);
            color: $main_gray_dark;
            box-sizing: content-box;
            text-transform: uppercase;
          }
        }

        .templates-list {
          position: relative;
          width: 100%;
          min-width: 100%;
          display: inline-flex;
          align-items: flex-start;
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: hidden;

          .template {
            padding: 20px 0;

            .template-img {
              height: 8vh;
              margin: 10px 30px;
              object-fit: contain;
            }

            .name {
              @include roboto-lt(rem(25px), 1);
            }

            &.active {
              border: 2px solid $main_red;
            }
          }

          .door {
            display: inline-flex;
            flex-direction: column;

            .template-img {
              height: 13vh;
            }
          }
        }
      }

      .add-elems-only {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        height: 100px;
        width: 100%;
        @include roboto-lt(5vw);
        color: $main_gray_dark;
        line-height: 50px;

        &.gray {
          background: $main_gray_light;
        }
      }
    }

    .karkas-content {
      .figure-lists {
        .figure-item {
          position: relative;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          flex: 0 0 auto;
          height: 10vh;
          width: 19vw;
          box-sizing: content-box;

          &.selected {
            background: white;
          }

          .figure-icon {
            position: absolute;
            font-size: 6vh;

            &:after {}
          }

          .impost-shape-a {
            color: $main_gray_dark;

            &:after {
              content: $impost-shape-icon-a;
            }
          }

          .impost-shape-b {
            color: $main_red;

            &:after {
              content: $impost-shape-icon-b;
            }
          }

          .sash-shape-a {
            color: $main_gray_dark;

            &:after {
              content: $sash-shape-icon-a;
            }
          }

          .sash-shape-b {
            color: $main_red;

            &:after {
              content: $sash-shape-icon-b;
            }
          }

          .angel-shape-a {
            color: $main_gray_dark;

            &:after {
              content: $angel-shape-icon-a;
            }
          }

          .angel-shape-b {
            color: $main_red;

            &:after {
              content: $angel-shape-icon-b;
            }
          }

          .arch-shape-a {
            color: $main_gray_dark;

            &:after {
              content: $arch-shape-icon-a;
            }
          }

          .arch-shape-b {
            color: $main_red;

            &:after {
              content: $arch-shape-icon-b;
            }
          }

          .position-shape-a {
            color: $main_gray_dark;

            &:after {
              content: $position-shape-icon-a;
            }
          }

          .position-shape-b {
            color: $main_red;

            &:after {
              content: $position-shape-icon-b;
            }
          }

          .figure-label {
            position: absolute;
            bottom: 0;
            width: auto;
            word-break: keep-all;
            @include roboto-lt(1.5vh);
          }
        }
      }

      .edit-submenu-list {
        position: absolute;
        bottom: 10vh;
        height: 10vh;
        width: 100%;
        min-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        .edit-submenu {
          width: 100%;
          min-width: 100%;
          display: inline-flex;
          align-items: center;
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: hidden;
          box-sizing: content-box;
          background: white;

          .edit-btn {
            font-size: 6vh;
            margin: 0 15px;

            &:after {
              color: $main_gray_dark;
            }
          }

          .constr-shape-position {
            background: none;
            color: $main_gray_dark;
            font-size: 2vh;
            border: none;
          }
        }
      }
    }

    .config-content {
      .conf-item {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 auto;
        height: 10vh;
        width: 19vw;

        &.active {
          background: white;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        .configuration {
          height: 6vh;
          width: 6vh;
        }

        .conf-item-text {
          @include roboto-lt(1.5vh);
        }
      }

      .configs-list {
        .profile {
          background: url("../img/config-menu/profile.svg") no-repeat center;
          background-size: contain;

          &.active {
            background: url("../img/config-menu/profile_active.svg") no-repeat center;
            background-size: contain;
          }
        }

        .glass {
          background: url("../img/config-menu/glass.svg") no-repeat center;
          background-size: contain;

          &.active {
            background: url("../img/config-menu/glass_active.svg") no-repeat center;
            background-size: contain;
          }
        }

        .furniture {
          background: url("../img/config-menu/furniture.svg") no-repeat center;
          background-size: contain;

          &.active {
            background: url("../img/config-menu/furniture_active.svg") no-repeat center;
            background-size: contain;
          }
        }

        .laminataion {
          background: url("../img/config-menu/lamination.svg") no-repeat center;
          background-size: contain;

          &.active {
            background: url("../img/config-menu/lamination_active.svg") no-repeat center;
            background-size: contain;
          }
        }

        .add-elements {
          background: url("../img/config-menu/add-elems.svg") no-repeat center;
          background-size: contain;

          &.active {
            background: url("../img/config-menu/add-elems_active.svg") no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }

  .config-panel {
    &.active {
      height: 80%;
    }
  }

  .size-calc-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    .calc-delete {
      width: 11rem;
    }

    .calc-interval {
      width: 22rem;
    }
    //tbody {
    //  display: inline-flex;
    //  flex-direction: column;
    //  align-items: center;
    //}
    //thead, tr {
    //  display: inline-flex;
    //  align-items: center;
    //}
  }
  ::-webkit-scrollbar {
    display: none;
  }

  body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
  }
}
