@import 'compass/css3';
@import '../base/colors';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/sizes';
@import '../base/icons';


.setting-page {

  .back {
    @extend .menu-btn;
  }

  .setting-container {
    @include display-flex();
    @include flex-flow(row nowrap);

    padding: 50px 0 0 50px;
    overflow: hidden;
    color: #fff;

    .setting-user-foto {
      @extend .avatar;

      position: relative;
      margin-right: 50px;
      cursor: pointer;
    }
    .change-foto {
      @include roboto-lt(24px, 38px);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: $main_orange;
    }

    .list {
      margin-top: 50px;

      &:first-child {
        margin-top: -30px;
      }
      &:last-child {
        margin-top: 90px;

        .item:first-child {
          border-top: 1px solid #222;
        }
      }
    }

    .divider {
      @include roboto-bd(24px, 88px);

      text-transform: uppercase;
      color: $main_gray_btn;
    }

    .setting-item-label {
      @include roboto-lt(36px, 88px);
      min-width: 500px;
    }

    .setting-item-data {
      @extend .truncated;
      @include roboto-lt(36px, 88px);

      max-width: 65%;
      color: $main_orange;
    }

    .setting-item-change {
      @include roboto-lt(36px, 88px);

      display: none;
      position: absolute;
      top: 0;
      right: 100px;
      color: $main_orange;

      &:after {
        @extend .icon-setting;
        @include font-general-icon(50px, 50px);
        @include rotate(180deg);

        position: absolute;
        top: 20px;
        right: -48px;
        display: block;
        content: $config_menu-arrow-icon;
      }
    }

    .phone-btn {
      @extend .button;
      @extend .icon-setting;
      @include font-general-icon(78px, 68px);

      display: none;
      width: 60px;
      height: 60px;
      margin-right: 40px;
      border-radius: 50%;
      background-color: #fff;

      &:after {
        position: absolute;
        top: 10px;
        left: -6px;
      }
      &.delete-phone {

        &:after {
          content: $delete-icon;
          color: $error_color;
        }
      }
      &.add-phone {

        &:after {
          content: $add-icon;
          color: $aux_big_color;
        }
      }
    }
  }

}
