node_modules/
platforms/
*.mp4
docs/
bower_components/
adminka/
.sass-cache/
app2/
.idea/
.editorconfig
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json