section.page-container(ng-class="{ 'swiped': !cartPage.G.global.isNavMenu }")
  section.left-side
    include menus/_navigation-menu
  section.right-side
    section.main-content
 
      section.cart-page

        section.cart-container.full-view(ng-class="{'discount': cartPage.C.cart.isShowDiscount}", ng-swipe-up="cartPage.openDiscountBlock()", ng-swipe-down="cartPage.closeDiscountBlock()")
          .cart-header
            include parts/_user-info
            button.cart-tool.additional-elements(ng-show="cartPage.C.cart.isExistAddElems", fs-click="cartPage.showAllAddElements()") {{ ::cartPage.ALL_ADD_ELEMENTS }}
            //button.cart-tool.new-order(fs-click="cartPage.addNewProductInOrder()") {{ ::cartPage.ADD_ORDER }}

          .scroll-hor-container
            .order-block
              .order(ng-repeat="product in cartPage.O.order.products | orderBy: 'product_id' track by $index")
                button.order-delete(fs-click="cartPage.clickDeleteProduct($index)")
                .order-header(ng-click="cartPage.showCartTemplte($index)")
                  img.imgg(ng-src='img/copy_edit.png', fs-click="cartPage.box($index, 'product')")

                  .order-template
                    svg-template(template="product.templateIcon", template-width="cartPage.constants.svgTemplateIconWidthCart", template-height="cartPage.constants.svgTemplateIconHeightCart", type-construction="cartPage.constants.SVG_CLASS_ICON")

                  .order-u-coeff(ng-if="!cartPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total > cartPage.O.order.heat_coef_min}")
                    div U = {{ product.heat_coef_total }}
                    div {{ ::cartPage.HEATCOEF_VAL }}/{{ ::cartPage.LETTER_M }} &sup2;&middot;&deg;C
                .order-content
                  .order-u-coeff(ng-if="cartPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total < cartPage.O.order.heat_coef_min}")
                    div.R-MInfo
                     p.number {{ $index+1+"."+"\u00A0"}}
                    div.R-MInfo {{ product.heat_coef_total +"\u00A0"+"\u00A0"}}
                    div.R-MInfo {{ ::cartPage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::cartPage.HEATCOEF_VAL +"\u00A0" }}
                    div.inner-text {{cartPage.HEAT_TRANSFER}}
                  ul.order-list
                    li.order-item
                      .order-value {{ product.template_width }} {{ ::cartPage.MM +"\u00A0 *\u00A0"}}
                      .order-value {{ product.template_height }} {{ ::cartPage.MM }}
                      .order-label {{ ::cartPage.CONFIGMENU_SIZING }}
                    li.order-item
                      .order-value(ng-if="product.construction_type !== 4") {{ product.profile.name }}
                      .order-value(ng-if="product.construction_type === 4") {{ product.doorSashName }}
                      .order-label {{ ::cartPage.CONFIGMENU_PROFILE }}
                    li.order-item(ng-if="product.glass.length > 1")
                      .order-value {{ product.glass[0].sku + ', ...' }}
                      .order-label {{ ::cartPage.CONFIGMENU_GLASS }}
                    li.order-item(ng-if="product.glass.length <= 1")
                      .order-value {{ product.glass[0].sku }}
                      .order-label {{ ::cartPage.CONFIGMENU_GLASS }}
                    li.order-item
                      .order-value(ng-if="product.construction_type === 4") {{ product.doorHandle.name }} / {{ product.doorLock.name }}
                      .order-value(ng-if="product.construction_type !== 4") {{ product.hardware.name }}
                      .order-label {{ ::cartPage.CONFIGMENU_HARDWARE }}
                    li.order-item
                      .order-label {{ ::cartPage.CONFIGMENU_LAMINATION_TYPE }}
                      .order-value
                        span(ng-if="product.lamination.lamination_in_id > 1") {{ product.lamination.laminat_in_name }}
                        span(ng-if="product.lamination.lamination_in_id === 1") {{ product.lamination.laminat_in_name |translate }}
                        span /
                        span(ng-if="product.lamination.lamination_out_id > 1") {{ product.lamination.laminat_out_name }}
                        span(ng-if="product.lamination.lamination_out_id === 1") {{ product.lamination.laminat_out_name |translate }}
                      .order-label {{ ::cartPage.CONFIGMENU_LAMINATION }}
                    li.order-item.addelements-btn(fs-click="cartPage.showAddElementDetail($index)")
                      .order-value {{cartPage.C.cart.allAddElements[$index].length}}
                        ng-pluralize(count="cartPage.C.cart.allAddElements[$index].length",
                        when="{'0': '{{ cartPage.config.elements }}', '1': '{{ cartPage.config.element }}', '2': '{{ cartPage.config.elementa }}', '3': '{{ cartPage.config.elementa }}', '4': '{{ cartPage.config.elementa }}', 'other': '{{ cartPage.config.elements }}'}")
                      .order-label {{ ::cartPage.CONFIGMENU_ADDITIONAL }}
                  .order-qty
                    button.order-tool(fs-click="cartPage.decreaseProductQty($index)") -
                    .order-value {{ product.product_qty }}
                    button.order-tool(fs-click="cartPage.increaseProductQty($index)") +
                    .order-label.qty-label {{ ::cartPage.PRODUCT_QTY }}
                .order-footer
                  .order-price(price-fixed="{{product.productPriceDis}}", qty-element="{{product.product_qty}}", currency-element="{{cartPage.U.userInfo.currency}}")
                  .order-comment-btn(ng-show="product.comment.length", ng-class="{'active': cartPage.config.isProductComment === $index+1}", fs-click="cartPage.switchProductComment($index)")
                .order-comment(ng-class="{'active': cartPage.config.isProductComment === $index+1}")
                  .order-comment-box
                    .order-comment-title {{ ::cartPage.ORDER_COMMENT }}
                    .order-comment-content {{ cartPage.O.order.comment }}
            button.view-switch-tab(fs-click="cartPage.viewSwitching()") {{ ::cartPage.LIGHT_VIEW }}
          .template-window(ng-show="cartPage.C.cart.showCurrentTemp")
            button.close-cur-window(fs-click="cartPage.C.cart.showCurrentTemp=0")
            img.edit-cur-window(ng-src='img/copy_edit.png', fs-click="cartPage.fastEdit(cartPage.C.cart.curProd, 'product')")
            svg-template(template="cartPage.O.order.products[cartPage.C.cart.curProd].template", template-width="630", template-height="630", type-construction="cartPage.constants.SVG_ID_GLASS")


          .discount-container
            .discount-title {{ ::cartPage.DISCOUNT_SELECT }}

            //.discount-box(ng-class="{'selected': cartPage.O.order.discount_construct }")
            .discount-box.selected
              .discount-data(fs-click="cartPage.openDiscInput(0)", ng-keyup="cartPage.enterKeyPrice(event)")
                //.disc-curr-data(ng-hide="cartPage.config.isShowDiscInput") {{cartPage.C.cart.tempConstructDisc}}%
                //.disc-input-box(ng-if="cartPage.config.isShowDiscInput")
                .disc-max(ng-show="cartPage.C.cart.tempConstructDisc > cartPage.U.userInfo.discountConstrMax") {{ ::cartPage.MAX }} {{cartPage.U.userInfo.discountConstrMax}}%
                input.disc-input.noPreventDefault(type="number", ng-model="cartPage.C.cart.tempConstructDisc",placeholder="0%")
              .discount-txt(ng-click="cartPage.approveNewDisc(0)")
                .discounts-label {{ ::cartPage.DISCOUNT_WINDOW }}

            //.discount-box(ng-class="{'selected': cartPage.O.order.discount_addelem }")
            .discount-box.selected
              .discount-data(fs-click="cartPage.openDiscInput(1)", ng-keyup="cartPage.enterKeyDop(event)")
                //.disc-curr-data(ng-hide="cartPage.config.isShowDiscInputAdd") {{cartPage.C.cart.tempAddelemDisc}}%
                //.disc-input-box(ng-show="cartPage.config.isShowDiscInputAdd")
                .disc-max(ng-show="cartPage.C.cart.tempAddelemDisc > cartPage.U.userInfo.discountAddElemMax") {{ ::cartPage.MAX }} {{cartPage.U.userInfo.discountAddElemMax}}%
                input.disc-input.noPreventDefault(type="number", ng-model="cartPage.C.cart.tempAddelemDisc",placeholder="0%")
              .discount-txt(ng-click="cartPage.approveNewDisc(1)")
                .discounts-label {{ ::cartPage.DISCOUNT_ADDELEM }}


          .discount-container
            .discount-title {{ ::cartPage.DISCOUNT }}
            .discount-price-container
              .discount-price-box
                .discount-price-label {{ ::cartPage.DISCOUNT_WITHOUT }}
                .discount-price {{ cartPage.O.order.order_price }} {{cartPage.U.userInfo.currency}}
              .discount-price-box
                .discount-price-label {{ ::cartPage.DISCOUNT_WITH }}
                .discount-price {{ cartPage.O.order.productsPriceDis }} {{cartPage.U.userInfo.currency}}
              .discount-price-box
                .discount-price-label {{ ::cartPage.DISCOUNT }}
                .discount-price {{ cartPage.C.cart.discountPriceDiff }} {{cartPage.U.userInfo.currency}}





        section.cart-container.light-view(ng-class="{'active': cartPage.config.isCartLightView}")
          .cart-header
            include parts/_user-info
            button.cart-tool.additional-elements(fs-click="cartPage.showAllAddElements()") {{ ::cartPage.ALL_ADD_ELEMENTS }}
            //button.cart-tool.new-order(fs-click="cartPage.addNewProductInOrder()") {{ ::cartPage.ADD_ORDER }}

          .order-block.scroll-vert-container
            .order(ng-repeat="product in cartPage.O.order.products track by $index")
              button.order-delete(fs-click="cartPage.clickDeleteProduct($index)")
              .order-header
                .order-template(fs-click="cartPage.editProduct($index, 'product')")
                  svg-template(template="product.templateIcon", template-width="cartPage.constants.svgTemplateIconWidth", template-height="cartPage.constants.svgTemplateIconHeight", type-construction="cartPage.constants.SVG_CLASS_ICON")
              .order-content
                .order-value {{ product.template_width }} * {{ product.template_height }} {{ ::cartPage.MM }}

                .order-item.addelements-btn(fs-click="cartPage.showAddElementDetail($index)")
                  .order-value {{cartPage.C.cart.allAddElements[$index].length}}
                    ng-pluralize(count="cartPage.C.cart.allAddElements[$index].length",
                    when="{'0': '{{ cartPage.config.elements }}', '1': '{{ cartPage.config.element }}', '2': '{{ cartPage.config.elementa }}', '3': '{{ cartPage.config.elementa }}', '4': '{{ cartPage.config.elementa }}', 'other': '{{ cartPage.config.elements }}'}")
                  .order-label {{ ::cartPage.CONFIGMENU_ADDITIONAL }}

                .order-qty
                  button.order-tool(fs-click="cartPage.decreaseProductQty($index)") -
                  .order-value {{ product.product_qty }}
                  button.order-tool(fs-click="cartPage.increaseProductQty($index)") +
                .order-label {{ ::cartPage.PRODUCT_QTY }}
              .order-footer
                .order-price(price-fixed="{{product.productPriceDis}}", qty-element="{{product.product_qty}}", currency-element="{{cartPage.U.userInfo.currency}}")
                .order-comment-btn(ng-show="product.comment.length", ng-class="{'active': cartPage.config.isProductComment === $index+1}", fs-click="cartPage.switchProductComment($index)")
              .order-comment(ng-class="{'active': cartPage.config.isProductComment === $index+1}")
                .order-comment-box
                  .order-comment-title {{ ::cartPage.ORDER_COMMENT }}
                  .order-comment-content {{ product.comment }}


          button.view-switch-tab(fs-click="cartPage.viewSwitching()") {{ ::cartPage.FULL_VIEW }}


        .addelements-detail(ng-if="cartPage.config.isAddElementDetail")
          .addelements-detail-header
            .addelements-detail-tools
              button.addelements-detail-edit(fs-click="cartPage.editProduct(cartPage.config.detailProductIndex, 'auxiliary')") {{ ::cartPage.ADDELEMENTS_EDIT_LIST }}
              button.addelements-detail-close(fs-click="cartPage.closeAddElementDetail()")
            .product-template(ng-hide="cartPage.O.order.products[cartPage.config.detailProductIndex].is_addelem_only")
              .addelements-detail-row
                .product-value
                  .product-icon-thumb
                    svg-template(template="cartPage.O.order.products[cartPage.config.detailProductIndex].templateIcon", template-width="cartPage.constants.svgTemplateIconWidth", template-height="cartPage.constants.svgTemplateIconHeight", type-construction="cartPage.constants.SVG_CLASS_ICON")
                  span.product-template-qty X {{ cartPage.O.order.products[cartPage.config.detailProductIndex].product_qty }}
                .product-icon-label {{ ::cartPage.PRODUCT_QTY }}
              .addelements-detail-row
                .product-value {{ cartPage.O.order.products[cartPage.config.detailProductIndex].template_width }} {{ ::cartPage.MM }} *
                .product-label {{ ::cartPage.WIDTH_LABEL }}
              .addelements-detail-row
                .product-value {{ cartPage.O.order.products[cartPage.config.detailProductIndex].template_height }} {{ ::cartPage.MM }}
                .product-label {{ ::cartPage.HEIGHT_LABEL }}
          .addelements-detail-content
            ul.addelements-detail-list
              li.addelements-detail-item(ng-repeat="addelement in cartPage.C.cart.allAddElements[cartPage.config.detailProductIndex] track by $index", ng-switch="addelement.element_type")
                .product-value {{ addelement.name }}
                .product-value(ng-switch-when="0") {{ ::cartPage.GRID }}
                .product-value(ng-switch-when="1") {{ ::cartPage.VISOR }}
                .product-value(ng-switch-when="2") {{ ::cartPage.SPILLWAY }}
                .product-value(ng-switch-when="3") {{ ::cartPage.OUTSIDE }}
                .product-value(ng-switch-when="4") {{ ::cartPage.LOUVERS }}
                .product-value(ng-switch-when="5") {{ ::cartPage.INSIDE }}
                .product-value(ng-switch-when="6") {{ ::cartPage.CONNECTORS }}
                .product-value(ng-switch-when="7") {{ ::cartPage.FAN }}
                .product-value(ng-switch-when="8") {{ ::cartPage.WINDOWSILL }}
                .product-value(ng-switch-when="9") {{ ::cartPage.HANDLEL }}
                .product-value(ng-switch-when="10") {{ ::cartPage.OTHERS }}
                .addelement-parameters
                  .addelement-parameter(ng-show="addelement.element_width")
                    .addelement-value {{ addelement.element_width }}
                    .addelement-label {{ ::cartPage.WIDTH_LABEL }}
                  .addelement-parameter(ng-show="addelement.element_height")
                    .addelement-value {{ addelement.element_height }}
                    .addelement-label {{ ::cartPage.HEIGHT_LABEL }}
                  .addelement-parameter(ng-show="addelement.element_qty")
                    .addelement-value {{ addelement.element_qty }}
                    .addelement-label {{ ::cartPage.QTY_LABEL }}
                .addelement-parameters
                  .addelement-price-value + {{ addelement.element_qty * addelement.elementPriceDis }} {{ cartPage.U.userInfo.currency }}
                  .addelement-label ({{ addelement.element_qty }} x {{ addelement.elementPriceDis }}{{ cartPage.U.userInfo.currency }})
            .addelements-detail-row.price-one-product
              .addelement-price-value(price-fixed="{{cartPage.O.order.products[cartPage.config.detailProductIndex].addelemPriceDis}}", qty-element="1", currency-element="{{cartPage.U.userInfo.currency}}")
              .product-label {{ ::cartPage.ADDELEMENTS_PRODUCT_COST }}
          .addelements-detail-footer
            div(price-fixed="{{cartPage.O.order.products[cartPage.config.detailProductIndex].addelemPriceDis}}", qty-element="{{cartPage.O.order.products[cartPage.config.detailProductIndex].product_qty}}", currency-element="{{cartPage.U.userInfo.currency}}")
            div &#8721;

        .backDarkView(ng-if="cartPage.config.isAddElementDetail", fs-click="cartPage.closeAddElementDetail()")



        include panels/_add-elements-cart


    section.right-menu
      include menus/_cart-menu
      .right-menu-footer
        .calculators-box.size-calculator(ng-class="{'active': cartPage.G.global.isSizeCalculator}")
          include parts/_size-calculator
        .calculators-box.qty-calculator(ng-class="{'active': cartPage.G.global.isQtyCalculator}")
          include parts/_qty-calculator
      include menus/_addelems-menu

    section.order-forms(ng-controller="OrderFormCtrl as orderForm")
      include parts/_form-master
      include parts/_form-order
      include parts/_form-credit

include parts/_loader
include parts/_alert
