section.page-container(ng-class="{ 'swiped': !global.showNavMenu }")
  section.left-side
    include menus/_navigation-menu
  section.right-side
    section.main-content

      section.cart-page

        section.cart-container.full-view
          .cart-header
            include parts/_user-info
            button.cart-tool.additional-elements {{ 'cart.ALL_ADD_ELEMENTS' | translate }}
            button.cart-tool.new-order(ng-click="createNewProduct()") {{ 'cart.ADD_ORDER' | translate }}

          .order-block
            .order
              button.order-delete
              .order-header
                img.order-header-fon(src="../img/rooms-dialog/livingroom.jpg")
                .order-template
                  img.icon-thumb(src="../img/templates/balcony.png")
                .order-coeff Коэффициент телопередачи
              .order-content
                ul.order-list
                  li.order-item
                    .order-value(data-output="{{ configMenu.construction.width }}000 мм*") 1060 000 мм
                    .order-value(data-output="{{ configMenu.construction.height }}000 мм") 1060 000 мм
                    .order-label {{ 'mainpage.CONFIGMENU_SIZING' | translate }}
                  li.order-item
                    .order-value {{ global.profileName }}
                    .order-label {{ 'mainpage.CONFIGMENU_PROFILE' | translate }}
                  li.order-item
                    .order-value {{ global.glassName }}
                    .order-label {{ 'mainpage.CONFIGMENU_GLASS' | translate }}
                  li.order-item
                    .order-value {{ global.hardwareName }}
                    .order-label {{ 'mainpage.CONFIGMENU_HARDWARE' | translate }}
                  li.order-item
                    .order-label {{ 'mainpage.CONFIGMENU_LAMINATION_TYPE' | translate }}
                    .order-value {{ global.lamination.outer }} / {{ global.lamination.inner }}
                    .order-label {{ 'mainpage.CONFIGMENU_LAMINATION' | translate }}
                  li.order-item(ng-click="")
                    .order-value(data-output="{{ configMenu.lamination.outer }}") 127 компонентов
                    .order-label {{ 'mainpage.CONFIGMENU_ADDITIONAL' | translate }}
                .order-qty
                  button.order-tool -
                  .order-value(data-output="{{ configMenu.lamination.outer }}") 127
                  button.order-tool +
                  .order-label.qty-label(data-output="Дополнительно") количество изделий
              .order-footer 20455.00


          button.view-switch-tab(ng-click="viewSwitching()") {{ 'cart.LIGHT_VIEW' | translate }}

        section.cart-container.light-view(ng-class="{'active': isCartLightView}")
          .cart-header
            include parts/_user-info
            button.cart-tool.additional-elements {{ 'cart.ALL_ADD_ELEMENTS' | translate }}
            button.cart-tool.new-order(ng-click="createNewProduct()") {{ 'cart.ADD_ORDER' | translate }}

          .order-block
            .order
              button.order-delete
              .order-header
                .order-template
                  img.icon-thumb(src="../img/templates/balcony.png")
              .order-content
                .order-value(data-output="{{ configMenu.construction.width }}000 мм*") 1060 000 * 1060 000 мм
                .order-qty
                  button.order-tool -
                  .order-value(data-output="{{ configMenu.lamination.outer }}") 127
                  button.order-tool +
                .order-label(data-output="Дополнительно") количество изделий
              .order-footer 20455.00

            .order
              button.order-delete
              .order-header
                .order-template
                  img.icon-thumb(src="../img/templates/balcony.png")
              .order-content
                .order-value(data-output="{{ configMenu.construction.width }}000 мм*") 1060 000 * 1060 000 мм
                .order-qty
                  button.order-tool -
                  .order-value(data-output="{{ configMenu.lamination.outer }}") 127
                  button.order-tool +
                .order-label(data-output="Дополнительно") количество изделий
              .order-footer 20455.00


          button.view-switch-tab(ng-click="viewSwitching()") {{ 'cart.FULL_VIEW' | translate }}

    section.right-menu
      include menus/_cart-menu

    include parts/_call-master
    include parts/_call-order
    include parts/_call-credit