.currency-page
    .header
        .back-button(fs-click="currencyPage.gotoSettingsPage()")
        .title(data-output="{{ 'settings.CHANGE_CURRENCY' | translate }}", typing="{{ currencyPage.config.typing }}", typing-delay="{{ currencyPage.config.DELAY_START }}")

    .currency-container
        .list
            .item.click(ng-class="{'active': currencyPage.U.userInfo.currencyLabel === currency.label}")
                .currency-label(fs-click="currencyPage.switchCurrencyToEur($index)") {{ currencyPage.constants.currencies[0].name }}
                .currency-label(fs-click="currencyPage.switchCurrencyToUah($index)") {{ currencyPage.constants.currencies[1].name }}
                .currency-label(fs-click="currencyPage.switchCurrencyToUsd($index)") {{ currencyPage.constants.currencies[2].name }}