section.settings.language-page
  .header
    button.back(hm-tap="global.gotoSettingsPage()")
    .title(data-output="{{ 'settings.CHANGE_LANGUAGE' | translate }}", typing="{{ language.typing }}", typing-delay="{{ language.DELAY_START }}")

  .lang-container
    .lists
      ul.list
        li.item.click(ng-repeat="lang in global.languages", ng-class="{'active': global.userInfo.langLabel === lang.label}", hm-tap="switchLang($index)")
          .lang-label {{ lang.name }}
