.currency-page
    .header
        .back-button(fs-click="currencyPage.gotoSettingsPage()")
        .title(data-output="{{ 'settings.CHANGE_CURRENCY' | translate }}", typing="{{ currencyPage.config.typing }}", typing-delay="{{ currencyPage.config.DELAY_START }}")

    .currency-container
        .list
            .item.click(ng-repeat="currency in currencyPage.constants.currency", ng-class="{'active': currencyPage.U.userInfo.currencyLabel === currency.label}", fs-click="currencyPage.switchCurrency($index)")
                .currency-label {{ currency.name }}
