section.settings.password-page
  .header
    button.back
    .title(name="Изменить пароль")
    button.save Сохранить

  .psw-container
    .lists
      ul.list
        li.item
          .psw-label(name="Текущий")
          .psw-data(name="************")
          input.set-input-txt.current
        li.item.click
          .psw-label(name="Новый")
          .psw-data(name="****************")
          input.set-input-txt.new
        li.item.click
          .psw-label(name="Подтвердить")
          .psw-data(name="*****************")
          input.set-input-txt.confirm