section.settings.password-page
  .header
    button.back
    .title(data-output="Изменить пароль")
    button.save Сохранить

  .psw-container
    .lists
      ul.list
        li.item
          .psw-label(data-output="Текущий")
          .psw-data(data-output="************")
          input.set-input-txt.current
        li.item.click
          .psw-label(data-output="Новый")
          .psw-data(data-output="****************")
          input.set-input-txt.new
        li.item.click
          .psw-label(data-output="Подтвердить")
          .psw-data(data-output="*****************")
          input.set-input-txt.confirm