section.construction-page
  section.construction-container

    .construction-left-menu
      ul.figure-lists
        li.figure-item(fs-click="designPage.selectMenuItem(3)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 3}")
            .figure-icon.impost-shape
            .figure-label(data-output="{{ ::designPage.IMPOST_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(fs-click="designPage.selectMenuItem(1)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 1}")
            .figure-icon.sash-shape
            .figure-label(data-output="{{ ::designPage.SASH_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(fs-click="designPage.selectMenuItem(2)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 2}")
            .figure-icon.angel-shape
            .figure-label(data-output="{{ ::designPage.ANGEL_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(fs-click="designPage.selectMenuItem(4)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 4}")
            .figure-icon.arch-shape
            .figure-label(data-output="{{ ::designPage.ARCH_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(fs-click="designPage.selectMenuItem(5)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 5}")
            .figure-icon.position-shape
            .figure-label(data-output="{{ ::designPage.POSITION_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

      #impost-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 3}")
        .constr-shape-icon.impost-vert(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(2)")
        .constr-shape-icon.impost-hor(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(3)")
        .constr-shape-icon.impost-inc-hor(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(4)")
        .drop-shape-icon.impost-inc-hor2(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(5)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
        .drop-shape-icon.impost-inc-vert(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(6)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
        .drop-shape-icon.impost-inc-vert2(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(7)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
        .constr-shape-icon.impost-curv-right(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(8)")
        .drop-shape-icon.impost-curv-left(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(9)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
        .drop-shape-icon.impost-curv-up(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(10)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
        .drop-shape-icon.impost-curv-down(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(11)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
        .constr-shape-icon.impost-curv1(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(12)")
        .drop-shape-icon.impost-curv3(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(13)", ng-class="{'active': designPage.D.design.isDropSubMenu == 12}")
        //.constr-shape-icon.impost-curv4(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(14)")
        //.constr-shape-icon.impost-curv2(ng-hide="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(15)")
        .constr-shape-icon.clean(ng-show="designPage.D.design.isImpostDelete", fs-click="designPage.insertImpost(1)")

      #sash-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 1}")
        .constr-shape-icon.clean(fs-click="designPage.insertSash(1)")
        .constr-shape-icon.sash-left(fs-click="designPage.insertSash(2)")
        .drop-shape-icon.sash-right(fs-click="designPage.insertSash(3)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
        .drop-shape-icon.sash-up(ng-hide="designPage.P.product.construction_type === 2", fs-click="designPage.insertSash(4)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
        .drop-shape-icon.sash-down(ng-hide="designPage.P.product.construction_type === 2", fs-click="designPage.insertSash(5)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
        .constr-shape-icon.sash-right-up(ng-hide="designPage.P.product.construction_type === 2", fs-click="designPage.insertSash(6)")
        .drop-shape-icon.sash-left-up(ng-hide="designPage.P.product.construction_type === 2", fs-click="designPage.insertSash(7)", ng-class="{'active': designPage.D.design.isDropSubMenu == 6}")
        .constr-shape-icon.sash-shtulp-left(fs-click="designPage.insertSash(8)")
        .drop-shape-icon.sash-shtulp-right(fs-click="designPage.insertSash(9)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")

      #angel-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 2}")
        .constr-shape-icon.clean(fs-click="designPage.insertCorner(1)")
        .constr-shape-icon.corner(fs-click="designPage.insertCorner(2)")
        .constr-shape-icon.corner-curv(fs-click="designPage.insertCorner(3)")

      #arc-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 4}")
        .constr-shape-icon.clean(fs-click="designPage.insertArc(1)")
        .constr-shape-icon.arc(fs-click="designPage.insertArc(2)")

      #position-menu.edit_submenu(ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.activeSubMenuItem == 5}")
        .constr-shape-icon.mirror(fs-click="designPage.initMirror()")
        .constr-shape-icon.position-axis(fs-click="designPage.positionAxis()")
        .constr-shape-icon.position-glass(fs-click="designPage.positionGlass()")

      .left-menu-footer
        .footer-description(data-output="{{ ::designPage.UNITS_DESCRIP }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
        .project-default(fs-click="designPage.setDefaultConstruction()") {{ ::designPage.PROJECT_DEFAULT }}
        .project-default(fs-click="designPage.showTemplates()") {{ ::designPage.ROOM_SELECTION }}




    .construction-block
      .construction-scrollbox
        svg-template(template="designPage.D.design.templateTEMP", template-width="designPage.constants.svgTemplateWidth", template-height="designPage.constants.svgTemplateHeight", type-construction="designPage.constants.SVG_ID_EDIT")



    .right-menu-header
      .nav-tool-box(ng-if="designPage.D.design.designSteps.length > 0")
        button.construct-tools.step-back(fs-click="designPage.stepBack()")
        .nav-tool-label {{ ::designPage.BACK }}
      .nav-tool-box
        button.construct-tools.save-construction(fs-click="designPage.G.global.activePanel = 0;designPage.designSaved()")
        .nav-tool-label {{ ::designPage.SAVE }}
      .nav-tool-box
        button.construct-tools.close-construction(fs-click="designPage.designCancel()")
        .nav-tool-label {{ ::designPage.CANCEL }}

    .door-config-menu(ng-if="designPage.P.product.construction_type === 4")
      button.door-config-btn(ng-class="{'active': designPage.config.isDoorConfig}", fs-click="designPage.toggleDoorConfig()")
      .door-config-label {{ ::designPage.DOOR_CONFIG_LABEL }}
      .door-config-description {{ ::designPage.DOOR_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorName | translate }};
      .door-config-description {{ ::designPage.SASH_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorSashName }};
      .door-config-description {{ ::designPage.HANDLE_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorHandle.name }};
      .door-config-description {{ ::designPage.LOCK_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorLock.name }};

    .right-menu-footer
      .calculators-box.size-calculator(ng-class="{'active': designPage.G.global.isSizeCalculator}")
        include parts/_size-calculator
      include parts/_voice


    include panels/_templates

    section.door-configuration(ng-class="{'active': designPage.config.isDoorConfig}")

      .door-config-column.step1
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 1 {{ ::designPage.STEP }}
            .door-subtitle {{ ::designPage.LABEL_DOOR_TYPE }}
        .door-config-content(ng-class="{'scroll-box': !designPage.config.selectedStep2}")
          ul.door-config-list
            li.door-config-option(ng-repeat="door in designPage.D.design.doorShapeList track by $index", ng-class="{'selected': designPage.D.design.doorConfig.doorShapeIndex === $index}", fs-click="designPage.selectDoor($index)")
              .door-inner
                .door-option-icon
                  img.door-shape(ng-src="{{ door.icon }}" ng-hide="designPage.D.design.doorConfig.doorShapeIndex === $index")
                  img.door-shape(ng-src="{{ door.iconSelect }}", ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index")
                .door-option-label {{ ::door.name | translate }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index")

      .door-config-column.step2(ng-class="{'active': designPage.config.selectedStep1}")
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 2 {{ ::designPage.STEP }}
            .door-subtitle {{ ::designPage.LABEL_SASH_TYPE }}
        .door-config-content(ng-class="{'scroll-box': !designPage.config.selectedStep3}")
          ul.door-config-list
            li.door-config-option(ng-repeat="sashShape in designPage.D.design.sashShapeList track by $index", ng-class="{'selected': designPage.D.design.doorConfig.sashShapeIndex === $index}", fs-click="designPage.selectSash($index)")
              .door-inner
                .door-option-label {{ sashShape.frame.name }} / {{ sashShape.sash.name }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.sashShapeIndex === $index")

      .door-config-column.step3(ng-class="{'active': designPage.config.selectedStep2}")
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 3 {{ ::designPage.STEP }}
            .door-subtitle {{ ::designPage.LABEL_HANDLE_TYPE }}
        .door-config-content(ng-class="{'scroll-box': !designPage.config.selectedStep4}")
          ul.door-config-list
            li.door-config-option(ng-repeat="handle in designPage.D.design.handleShapeList track by $index", ng-class="{'selected': designPage.D.design.doorConfig.handleShapeIndex === $index}", fs-click="designPage.selectHandle($index)")
              .door-inner
                .door-option-icon
                  img.door-hardware(ng-if="handle.list_type_id === 35", ng-src="img/door-config/lever-handle.png", ng-hide="designPage.D.design.doorConfig.handleShapeIndex === $index")
                  img.door-hardware(ng-if="handle.list_type_id === 35", ng-src="img/door-config-selected/lever-handle.png", ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index")
                  img.door-hardware(ng-if="handle.list_type_id === 36", ng-src="img/door-config/standart-handle.png", ng-hide="designPage.D.design.doorConfig.handleShapeIndex === $index")
                  img.door-hardware(ng-if="handle.list_type_id === 36", ng-src="img/door-config-selected/standart-handle.png", ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index")
                .door-option-label {{ handle.name }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index")

      .door-config-column.step4(ng-class="{'active': designPage.config.selectedStep3}")
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 4 {{ ::designPage.STEP }}
            .door-subtitle {{ ::designPage.LABEL_LOCK_TYPE }}
        .door-config-content(ng-class="{'scroll-box': designPage.config.selectedStep3}")
          ul.door-config-list
            li.door-config-option(ng-repeat="lock in designPage.D.design.lockShapeList track by $index", ng-class="{'selected': designPage.D.design.doorConfig.lockShapeIndex === $index}", fs-click="designPage.selectLock($index)")
              .door-inner
                .door-option-icon
                  img.door-hardware(ng-if="lock.list_type_id === 38", ng-src="img/door-config/onelock.png" ng-hide="designPage.D.design.doorConfig.lockShapeIndex === $index")
                  img.door-hardware(ng-if="lock.list_type_id === 38", ng-src="img/door-config-selected/onelock.png", ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index")
                  img.door-hardware(ng-if="lock.list_type_id === 39", ng-src="img/door-config/multilock.png" ng-hide="designPage.D.design.doorConfig.lockShapeIndex === $index")
                  img.door-hardware(ng-if="lock.list_type_id === 39", ng-src="img/door-config-selected/multilock.png", ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index")
                .door-option-label {{ lock.name }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index")

      .door-config-tools
        button.door-config-finish-btn.close-door-config(fs-click="designPage.closeDoorConfig()")
        button.door-config-finish-btn.save-door-config(ng-show="designPage.config.selectedStep4", fs-click="designPage.saveDoorConfig()")

    .design-attantion(ng-if="designPage.config.isDesignError") {{ ::designPage.NOT_AVAILABLE }}
    .design-attantion(ng-if="designPage.D.design.isDimExtra") {{ ::designPage.DIM_EXTRA }}
      .close-dialog(fs-click="designPage.closeAttantion()")
    .design-attantion(ng-if="designPage.D.design.isSquareExtra") {{ ::designPage.SQUARE_EXTRA }}
      .close-dialog(fs-click="designPage.closeAttantion()")
    .design-attantion(ng-if="designPage.config.isTest") {{ ::designPage.TEST_STAGE }}
      .close-dialog(fs-click="designPage.closeAttantion()")

    include parts/_attantions

include parts/_alert