section.construction-page
  section.construction-container

    .construction-left-menu
      ul.figure-lists
        li.figure-item(hm-tap="designPage.selectMenuItem(3)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 3}")
            .figure-icon.impost-shape
            .figure-label(data-output="{{ 'construction.IMPOST_SHAPE' | translate }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(hm-tap="designPage.selectMenuItem(1)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 1}")
            .figure-icon.sash-shape
            .figure-label(data-output="{{ 'construction.SASH_SHAPE' | translate }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(hm-tap="designPage.selectMenuItem(2)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 2}")
            .figure-icon.angel-shape
            .figure-label(data-output="{{ 'construction.ANGEL_SHAPE' | translate }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(hm-tap="designPage.selectMenuItem(4)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 4}")
            .figure-icon.arch-shape
            .figure-label(data-output="{{ 'construction.ARCH_SHAPE' | translate }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(hm-tap="designPage.selectMenuItem(5)")
          .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 5}")
            .figure-icon.position-shape
            .figure-label(data-output="{{ 'construction.POSITION_SHAPE' | translate }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

      #impost-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 3}")
        .constr-shape-icon.impost-vert(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(2, $event)")
        .constr-shape-icon.impost-hor(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(3, $event)")
        .constr-shape-icon.impost-inc-hor(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(4, $event)")
        .drop-shape-icon.impost-inc-hor2(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(5, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
        .drop-shape-icon.impost-inc-vert(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(6, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
        .drop-shape-icon.impost-inc-vert2(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(7, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
        .constr-shape-icon.impost-curv-right(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(8, $event)")
        .drop-shape-icon.impost-curv-left(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(9, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
        .drop-shape-icon.impost-curv-up(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(10, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
        .drop-shape-icon.impost-curv-down(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(11, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
        .constr-shape-icon.impost-curv1(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(12, $event)")
        .drop-shape-icon.impost-curv3(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(13, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 12}")
        //.constr-shape-icon.impost-curv4(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(14, $event)")
        //.constr-shape-icon.impost-curv2(ng-hide="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(15, $event)")
        .constr-shape-icon.clean(ng-show="designPage.D.design.isImpostDelete", hm-tap="designPage.insertImpost(1, $event)")

      #sash-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 1}")
        .constr-shape-icon.clean(ng-hide="designPage.P.product.construction_type === 4", hm-tap="designPage.insertSash(1, $event)")
        .constr-shape-icon.sash-left(hm-tap="designPage.insertSash(2, $event)")
        .drop-shape-icon.sash-right(hm-tap="designPage.insertSash(3, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
        .drop-shape-icon.sash-up(hm-tap="designPage.insertSash(4, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
        .drop-shape-icon.sash-down(hm-tap="designPage.insertSash(5, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
        .constr-shape-icon.sash-right-up(hm-tap="designPage.insertSash(6, $event)")
        .drop-shape-icon.sash-left-up(hm-tap="designPage.insertSash(7, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 6}")
        .constr-shape-icon.sash-shtulp-left(hm-tap="designPage.insertSash(8, $event)")
        .drop-shape-icon.sash-shtulp-right(hm-tap="designPage.insertSash(9, $event)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")

      #angel-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 2}")
        .constr-shape-icon.clean(hm-tap="designPage.insertCorner(1, $event)")
        .constr-shape-icon.corner(hm-tap="designPage.insertCorner(2, $event)")
        .constr-shape-icon.corner-curv(hm-tap="designPage.insertCorner(3, $event)")

      #arc-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 4}")
        .constr-shape-icon.clean(hm-tap="designPage.insertArc(1, $event)")
        .constr-shape-icon.arc(hm-tap="designPage.insertArc(2, $event)")


      .left-menu-footer
        .footer-description(data-output="{{ 'construction.UNITS_DESCRIP' | translate }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
        .project-default(hm-tap="designPage.setDefaultConstruction()") {{ 'construction.PROJECT_DEFAULT' | translate }}




    .construction-block
      .construction-scrollbox
        svg-template(template="designPage.D.design.templateTEMP", template-width="designPage.constants.svgTemplateWidth", template-height="designPage.constants.svgTemplateHeight", type-construction="edit")



    .right-menu-header
      .nav-tool-box(ng-show="designPage.D.design.designSteps.length > 0")
        button.construct-tools.step-back(hm-tap="designPage.stepBack()")
        .nav-tool-label {{ 'common_words.BACK' | translate }}
      .nav-tool-box
        button.construct-tools.save-construction(hm-tap="designPage.G.global.activePanel = 0;designPage.designSaved()")
        .nav-tool-label {{ 'settings.SAVE' | translate }}
      .nav-tool-box
        button.construct-tools.close-construction(hm-tap="designPage.designCancel()")
        .nav-tool-label {{ 'add_elements.CANCEL' | translate }}

    .door-config-menu(ng-show="designPage.P.product.construction_type === 4")
      button.door-config-btn(ng-class="{'active': designPage.config.isDoorConfig}", hm-tap="designPage.toggleDoorConfig()")
      .door-config-label {{ 'construction.DOOR_CONFIG_LABEL' | translate }}
      .door-config-description {{ 'construction.DOOR_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.doorShapeList[designPage.D.design.doorConfig.doorShapeIndex].shapeLabel }};
      .door-config-description {{ 'construction.SASH_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.sashShapeList[designPage.D.design.doorConfig.sashShapeIndex].shapeLabel }};
      .door-config-description {{ 'construction.HANDLE_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.handleShapeList[designPage.D.design.doorConfig.handleShapeIndex].shapeLabel }};
      .door-config-description {{ 'construction.LOCK_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.lockShapeList[designPage.D.design.doorConfig.lockShapeIndex].shapeLabel }};

    .right-menu-footer
      .size-calculator(ng-class="{'active': designPage.G.global.isSizeCalculator}")
        include parts/_size-calculator
      include parts/_voice


    section.door-configuration(ng-class="{'active': designPage.config.isDoorConfig}")

      .door-config-column.step1
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 1 {{ 'construction.STEP' | translate }}
            .door-subtitle {{ 'construction.LABEL_DOOR_TYPE' | translate }}
        .door-config-content(ng-class="{'scroll-box': !designPage.config.selectedStep2}")
          ul.door-config-list
            li.door-config-option(ng-repeat="door in designPage.D.design.doorShapeList", ng-class="{'selected': designPage.D.design.doorConfig.doorShapeIndex === $index}", hm-tap="designPage.selectDoor($index)")
              .door-inner
                .door-option-icon
                  img.door-shape(ng-src="{{ door.shapeIcon }}" ng-hide="designPage.D.design.doorConfig.doorShapeIndex === $index")
                  img.door-shape(ng-src="{{ door.shapeIconSelect }}", ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index")
                .door-option-label {{ door.shapeLabel }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index")

      .door-config-column.step2(ng-class="{'active': designPage.config.selectedStep1}")
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 2 {{ 'construction.STEP' | translate }}
            .door-subtitle {{ 'construction.LABEL_SASH_TYPE' | translate }}
        .door-config-content(ng-class="{'scroll-box': !designPage.config.selectedStep3}")
          ul.door-config-list
            li.door-config-option(ng-repeat="sash in designPage.D.design.sashShapeList", ng-class="{'selected': designPage.D.design.doorConfig.sashShapeIndex === $index}", hm-tap="designPage.selectSash($index)")
              .door-inner
                .door-option-label {{ sash.shapeLabel }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.sashShapeIndex === $index")

      .door-config-column.step3(ng-class="{'active': designPage.config.selectedStep2}")
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 3 {{ 'construction.STEP' | translate }}
            .door-subtitle {{ 'construction.LABEL_HANDLE_TYPE' | translate }}
        .door-config-content(ng-class="{'scroll-box': !designPage.config.selectedStep4}")
          ul.door-config-list
            li.door-config-option(ng-repeat="handle in designPage.D.design.handleShapeList", ng-class="{'selected': designPage.D.design.doorConfig.handleShapeIndex === $index}", hm-tap="designPage.selectHandle($index)")
              .door-inner
                .door-option-icon
                  img.door-hardware(ng-src="{{ handle.shapeIcon }}" ng-hide="designPage.D.design.doorConfig.handleShapeIndex === $index")
                  img.door-hardware(ng-src="{{ handle.shapeIconSelect }}", ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index")
                .door-option-label {{ handle.shapeLabel }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index")

      .door-config-column.step4(ng-class="{'active': designPage.config.selectedStep3}")
        .door-config-backfon
        .door-config-header
          .door-inner
            .door-title 4 {{ 'construction.STEP' | translate }}
            .door-subtitle {{ 'construction.LABEL_LOCK_TYPE' | translate }}
        .door-config-content(ng-class="{'scroll-box': designPage.config.selectedStep3}")
          ul.door-config-list
            li.door-config-option(ng-repeat="lock in designPage.D.design.lockShapeList", ng-class="{'selected': designPage.D.design.doorConfig.lockShapeIndex === $index}", hm-tap="designPage.selectLock($index)")
              .door-inner
                .door-option-icon
                  img.door-hardware(ng-src="{{ lock.shapeIcon }}" ng-hide="designPage.D.design.doorConfig.lockShapeIndex === $index")
                  img.door-hardware(ng-src="{{ lock.shapeIconSelect }}", ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index")
                .door-option-label {{ lock.shapeLabel }}
              .selected-item-arrow(ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index")

      .door-config-tools
        button.door-config-finish-btn.close-door-config(hm-tap="designPage.closeDoorConfig()")
        button.door-config-finish-btn.save-door-config(ng-show="designPage.config.selectedStep4", hm-tap="designPage.saveDoorConfig()")

    .design-attantion(ng-show="designPage.config.isDesignError") {{ 'construction.NOT_AVAILABLE' | translate }}