section.construction-page
  section.construction-container

    .construction-left-menu(ng-class="{'selected': mainPage.G.global.isTemplateItemMenu}")
      ul.figure-lists
        li.figure-item(ng-click="mainPage.selectMenuItem(3)")
          .figure-item-block(ng-class="{'selected': mainPage.D.design.activeMenuItem == 3}")
            .figure-icon.impost-shape
            .figure-label(data-output="{{ 'construction.IMPOST_SHAPE' | translate }}", typing="{{ mainPage.config.typing }}", typing-delay="{{ mainPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(ng-click="mainPage.selectMenuItem(1)")
          .figure-item-block(ng-class="{'selected': mainPage.D.design.activeMenuItem == 1}")
            .figure-icon.sash-shape
            .figure-label(data-output="{{ 'construction.SASH_SHAPE' | translate }}", typing="{{ mainPage.config.typing }}", typing-delay="{{ mainPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(ng-click="mainPage.selectMenuItem(2)")
          .figure-item-block(ng-class="{'selected': mainPage.D.design.activeMenuItem == 2}") 
            .figure-icon.angel-shape
            .figure-label(data-output="{{ 'construction.ANGEL_SHAPE' | translate }}", typing="{{ mainPage.config.typing }}", typing-delay="{{ mainPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(ng-click="mainPage.selectMenuItem(4)")
          .figure-item-block(ng-class="{'selected': mainPage.D.design.activeMenuItem == 4}")
            .figure-icon.arch-shape
            .figure-label(data-output="{{ 'construction.ARCH_SHAPE' | translate }}", typing="{{ mainPage.config.typing }}", typing-delay="{{ mainPage.config.DELAY_SHOW_FIGURE_ITEM }}")

        li.figure-item(ng-click="mainPage.selectMenuItem(5)")
          .figure-item-block(ng-class="{'selected': mainPage.D.design.activeMenuItem == 5}")
            .figure-icon.position-shape
            .figure-label(data-output="{{ 'construction.POSITION_SHAPE' | translate }}", typing="{{ mainPage.config.typing }}", typing-delay="{{ mainPage.config.DELAY_SHOW_FIGURE_ITEM }}")

      #impost-shape-menu.edit_submenu(ng-class="{'active': mainPage.D.design.activeSubMenuItem == 3}")
        .constr-shape-icon.impost-vert(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(2, $event)")
        .constr-shape-icon.impost-hor(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(3, $event)")
        .constr-shape-icon.impost-inc-hor(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(4, $event)")
        .drop-shape-icon.impost-inc-hor2(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(5, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 4}")
        .drop-shape-icon.impost-inc-vert(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(6, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 4}")
        .drop-shape-icon.impost-inc-vert2(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(7, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 4}")
        .constr-shape-icon.impost-curv-right(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(8, $event)")
        .drop-shape-icon.impost-curv-left(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(9, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 8}")
        .drop-shape-icon.impost-curv-up(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(10, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 8}")
        .drop-shape-icon.impost-curv-down(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(11, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 8}")
        .constr-shape-icon.impost-curv1(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(12, $event)")
        .drop-shape-icon.impost-curv3(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(13, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 12}")
        //.constr-shape-icon.impost-curv4(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(14, $event)")
        //.constr-shape-icon.impost-curv2(ng-hide="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(15, $event)")
        .constr-shape-icon.clean(ng-show="mainPage.D.design.isImpostDelete", ng-click="mainPage.insertImpost(1, $event)")

      #sash-shape-menu.edit_submenu(ng-class="{'selected': mainPage.D.design.activeSubMenuItem, 'door-sash': mainPage.P.product.construction_type === 4}")
        .constr-shape-icon.clean(ng-hide="mainPage.P.product.construction_type === 4", ng-click="mainPage.insertSash(1, $event)")
        .constr-shape-icon.sash-left(ng-click="mainPage.insertSash(2, $event)")
        .drop-shape-icon.sash-right(ng-click="mainPage.insertSash(3, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 2}")
        .drop-shape-icon.sash-up(ng-click="mainPage.insertSash(4, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 2}")
        .drop-shape-icon.sash-down(ng-click="mainPage.insertSash(5, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 2}")
        .constr-shape-icon.sash-right-up(ng-click="mainPage.insertSash(6, $event)")
        .drop-shape-icon.sash-left-up(ng-click="mainPage.insertSash(7, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 6}")
        .constr-shape-icon.sash-shtulp-left(ng-click="mainPage.insertSash(8, $event)")
        .drop-shape-icon.sash-shtulp-right(ng-click="mainPage.insertSash(9, $event)", ng-class="{'active': mainPage.D.design.isDropSubMenu == 8}")

      #angel-shape-menu.edit_submenu(ng-class="{'active': mainPage.D.design.activeSubMenuItem == 2}")
        .constr-shape-icon.clean(ng-click="mainPage.insertCorner(1, $event)")
        .constr-shape-icon.corner(ng-click="mainPage.insertCorner(2, $event)")
        .constr-shape-icon.corner-curv(ng-click="mainPage.insertCorner(3, $event)")

      #arc-shape-menu.edit_submenu(ng-class="{'active': mainPage.D.design.activeSubMenuItem == 4}")
        .constr-shape-icon.clean(ng-click="mainPage.insertArc(1, $event)")
        .constr-shape-icon.arc(ng-click="mainPage.insertArc(2, $event)")

      #position-menu.edit_submenu(ng-hide="mainPage.P.product.construction_type === 4", ng-class="{'active': mainPage.D.design.activeSubMenuItem == 5}")
        .constr-shape-icon.mirror(ng-click="mainPage.initMirror($event)")
        .constr-shape-icon.position-axis(ng-click="mainPage.positionAxis($event)")
        .constr-shape-icon.position-glass(ng-click="mainPage.positionGlass($event)")

  
    svg-template-points(template="mainPage.D.design.templateTEMP")
  
    
    .construction-block-main   
       .construction-scrollbox-main
         svg-template(template="mainPage.D.design.templateTEMP", template-width="mainPage.constants.svgTemplateWidth", template-height="mainPage.constants.svgTemplateHeight", type-construction="MainEdit")
