section.history-page(ng-controller="HistoryCtrl")

  section.accounts-container.history-view(ng-class="{'dark-fon': history.isIntervalDate || history.isOrderSort }")
    .history-header
      .history-user-info(ng-hide="history.isOrderSearch")
        include parts/_user-info
      .history-search(ng-show="history.isOrderSearch")
        include parts/_search-block
      .history-tools-panel
        .tools-block.search-tool(ng-class="{ 'active': history.isOrderSearch }")
          button.tool.search-btn(ng-click="orderSearching()")
        .tools-block.tool-drop(ng-class="{ 'active': history.isIntervalDate }")
          button.tool.calendar-btn(ng-click="intervalDateSelecting()")
          .time-interval(ng-class="{ 'empty': history.startDate === '' &&  history.finishDate === ''}")
            span(ng-if="history.startDate !== ''") {{ 'history.FROM' | translate }}
            span(order-date="{{ history.startDate }}", type-date="")
            span(ng-hide="history.startDate == '' || history.finishDate == ''") &nbsp; - &nbsp;
            span(ng-if="history.finishDate !== ''") {{ 'history.UNTIL' | translate }}
            span(order-date="{{ history.finishDate }}", type-date="")

          .dropdown-tool-dialog.date-filter
            .filter-title {{ 'history.DATE_RANGE' | translate }}
            .period.start-date(ng-class="{ 'selected': history.isStartDate }", ng-click="openCalendarScroll('start-date')") {{ 'history.FROM' | translate }}
              span(order-date="{{ history.startDate }}", type-date="")
            .dropdown-calendar-scroll(ng-class="{ 'active': history.isStartDate }")
              calendar-scroll(calendar-time="history.startDate", max-time="{{ history.maxDeliveryDateOrder }}")

            .period.finish-date(ng-class="{ 'selected': history.isFinishDate }", ng-click="openCalendarScroll('finish-date')") {{ 'history.UNTIL' | translate }}
              span(order-date="{{ history.finishDate }}", type-date="")
            .dropdown-calendar-scroll(ng-class="{ 'active': history.isFinishDate }")
              calendar-scroll(calendar-time="history.finishDate", max-time="{{ history.maxDeliveryDateOrder }}")

            .period.total-date(ng-class="{ 'selected': history.isAllPeriod }", ng-click="openCalendarScroll('full-date')") {{ 'history.ALL_TIME' | translate }}

        .tools-block.tool-drop(ng-class="{ 'active': history.isOrderSort }")
          button.tool.settings-btn(ng-click="orderSorting()")
          .dropdown-tool-dialog.sort-filter
            .filter-divider {{ 'history.SORTING' | translate }}
            ul.filter-list
              li.filter-item(ng-class="{ 'selected': history.isSortType == 'first' }", ng-click="sortingInit('first')")
                .filter-label {{ 'history.NEWEST_FIRST' | translate }}
                .filter-select-icon
              li.filter-item(ng-class="{ 'selected': history.isSortType == 'last' }", ng-click="sortingInit('last')")
                .filter-label {{ 'history.NEWEST_LAST' | translate }}
                .filter-select-icon
              li.filter-item
                .filter-label {{ 'history.SORT_BY_TYPE' | translate }}
                .filter-select-icon
            .filter-divider {{ 'history.SORT_SHOW' | translate }}
            ul.filter-list
              //li.filter-item(ng-class="{ 'selected': history.isSortType == 'all-order' }", ng-click="sortingInit('all-order')")
                .filter-label {{ 'common_words.ALL' | translate }}
                .filter-select-icon
              li.filter-item(ng-class="{ 'selected': history.isSortType == 'current-order' }", ng-click="sortingInit('current-order')")
                .filter-label {{ 'history.SORT_SHOW_ACTIVE' | translate }}
                .filter-select-icon
              li.filter-item(ng-class="{ 'selected': history.isSortType == 'wait-order' }", ng-click="sortingInit('wait-order')")
                .filter-label {{ 'history.SORT_SHOW_WAIT' | translate }}
                .filter-select-icon
              li.filter-item(ng-class="{ 'selected': history.isSortType == 'done-order' }", ng-click="sortingInit('done-order')")
                .filter-label {{ 'history.SORT_SHOW_DONE' | translate }}
                .filter-select-icon


    .scroll-vert-container
      .account-block(ng-repeat="order in orders | orderBy:createdDate:reverse | filter:searchingWord", ng-hide="order.orderStyle == 'order' && history.isCurrentOrdersHide || order.orderStyle == 'credit' && history.isCurrentOrdersHide || order.orderStyle == 'master' && history.isWaitOrdersHide || order.orderStyle == 'done' && history.isDoneOrdersHide")
        .account(ng-class="{'current': order.orderStyle == 'order' || order.orderStyle == 'credit', 'wait': order.orderStyle == 'master', 'done': order.orderStyle == 'done' }")
          .account-row.header
            .account-data.title
              .complete-icon(ng-show="order.orderStyle == 'done'")
              .account-id id {{ order.orderId }}
              .account-addinfo
                span(ng-hide="order.floorPrice == 0 && order.assemblingPrice == 0") - включены:
                span(ng-hide="order.floorPrice == 0") &nbsp;доставка
                span(ng-hide="order.floorPrice == 0 || order.assemblingPrice == 0") &nbsp;и
                span(ng-hide="order.assemblingPrice == 0") &nbsp;монтаж
            .account-data
              .account-label.account-date-filter {{ 'history.FROM' | translate }}
                span(order-date="{{ order.created }}", type-date="'order'")
          .account-row
            .account-data
              .user-data.account-user {{ order.name }}
              .account-label {{ 'history.CLIENT' | translate }}
          .account-row
            .account-data.phone
              .user-data.account-user-phone {{ order.phone }}
              .account-label {{ 'history.PHONE' | translate }}
            .account-data
              .user-data.account-user-adress {{ order.location }}, {{ order.address }}
              .account-label {{ 'history.ADDRESS' | translate }}
          .account-row.footer(ng-click="gotoCartPage()")
            .account-value(ng-hide="order.orderStyle == 'credit'") {{ order.totalPrice }}{{ global.currency }}
            .account-value(ng-show="order.orderStyle == 'credit'") {{ order.totalPrice }}{{ global.currency }}, {{ order.instalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{order.totalPriceMonthly}}{{ global.currency }}
            .account-value(ng-show="order.orderStyle == 'master'") {{ 'history.WAIT_MASTER' | translate }}
            .account-date {{ order.productsQty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{ order.deliveryDate }}

        button.account-tool.account-select-btn(ng-hide="order.orderStyle == 'done'", ng-click="sendOrderToFactory(order.orderStyle, order.orderId)")
        button.account-tool.account-copy-btn(ng-hide="order.orderStyle == 'done'", ng-click="makeOrderCopy(order.orderStyle, order.orderId)")
        button.account-tool.account-print-btn(ng-click="")
        button.account-delete-btn(ng-hide="order.orderStyle == 'done'", ng-click="clickDeleteOrder(order.orderType, order.orderId)")
        button.account-change-btn(ng-hide="order.orderStyle == 'done'", ng-click="editOrder(order.orderId)") {{ 'common_words.CHANGE' | translate }}


    button.view-switch-tab(ng-click="viewSwitching()") {{ 'history.DRAFT_VIEW' | translate }}

    .empty-search-result(ng-show="(orders | filter:searchingWord).length == 0")
      .result-icon
      .result-text {{ 'history.BY_YOUR_REQUEST' | translate }} "<span class="searchin-text"> {{ searchingWord }} </span>" {{ 'history.NOT_FIND' | translate }}.

    .empty-search-result(ng-show="history.isEmptySortResult")
      .result-icon
      .result-text {{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.






  section.accounts-container.draft-view(ng-class="{'active': history.isDraftView, 'dark-fon': history.isIntervalDateDraft || history.isOrderSortDraft }")
    .history-header
      include parts/_user-info
      .history-tools-panel
        .tools-block.tool-drop(ng-class="{ 'active': history.isIntervalDateDraft }")
          button.tool.calendar-btn(ng-click="intervalDateSelecting()")
          .time-interval(ng-class="{ 'empty': history.startDateDraft === '' &&  history.finishDateDraft === ''}")
            span(ng-if="history.startDateDraft !== ''") {{ 'history.FROM' | translate }}
            span(order-date="{{ history.startDateDraft }}", type-date="")
            span(ng-show="history.startDateDraft !== ''") &nbsp; - &nbsp;
            span(ng-if="history.finishDateDraft !== ''") {{ 'history.UNTIL' | translate }}
            span(order-date="{{ history.finishDateDraft }}", type-date="")

          .dropdown-tool-dialog.date-filter
            .filter-title {{ 'history.DATE_RANGE' | translate }}
            .period.start-date(ng-class="{ 'selected': history.isStartDateDraft }", ng-click="openCalendarScroll('start-date')") {{ 'history.FROM' | translate }}
              span(order-date="{{ history.startDateDraft }}", type-date="")
            .dropdown-calendar-scroll(ng-class="{ 'active': history.isStartDateDraft }")
              calendar-scroll(calendar-time="history.startDateDraft", max-time="", calendar-option=" {{ 'common_words.MONTHS' | translate }} ")

            .period.finish-date(ng-class="{ 'selected': history.isFinishDateDraft }", ng-click="openCalendarScroll('finish-date')") {{ 'history.UNTIL' | translate }}
              span(order-date="{{ history.finishDateDraft }}", type-date="")
            .dropdown-calendar-scroll(ng-class="{ 'active': history.isFinishDateDraft }")
              calendar-scroll(calendar-time="history.finishDateDraft", max-time="", calendar-option=" {{ 'common_words.MONTHS' | translate }} ")

            .period.total-date(ng-class="{ 'selected': history.isAllPeriodDraft }", ng-click="openCalendarScroll('full-date')") {{ 'history.ALL_TIME' | translate }}

        .tools-block.tool-drop(ng-class="{ 'active': history.isOrderSortDraft }")
          button.tool.settings-btn(ng-click="orderSorting()")
          .dropdown-tool-dialog.sort-filter
            .filter-divider {{ 'history.SORTING' | translate }}
            ul.filter-list
              li.filter-item(ng-class="{ 'selected': history.isSortTypeDraft == 'first' }", ng-click="sortingInit('first')")
                .filter-label {{ 'history.NEWEST_FIRST' | translate }}
                .filter-select-icon
              li.filter-item(ng-class="{ 'selected': history.isSortTypeDraft == 'last' }", ng-click="sortingInit('last')")
                .filter-label {{ 'history.NEWEST_LAST' | translate }}
                .filter-select-icon

    .scrolling-container
      .account-block(ng-repeat="draft in drafts | orderBy:createdDate:reverseDraft", ng-click="editDraft(draft.orderId)")
        .account
          .account-row.header
            .account-id {{ 'history.DRAFT' | translate }}
            .account-label.account-date-filter {{ 'history.FROM' | translate }}
              span(order-date="{{ draft.created }}", type-date="'order'")
          .account-row.footer(ng-click="gotoCartPage()")
            .account-value(ng-hide="draft.orderStyle == 'credit'") {{ draft.totalPrice }}{{ global.currency }}
            .account-value(ng-show="draft.orderStyle == 'credit'") {{ draft.totalPrice }}{{ global.currency }}, {{ draft.instalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{draft.totalPriceMonthly}}{{ global.currency }}
            .account-qty {{ draft.productsQty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{ draft.deliveryDate }}
        button.account-tool.account-print-btn(ng-click="")
        button.account-delete-btn(ng-click="deleteOrder(draft.orderType, draft.orderId)")


    button.view-switch-tab(ng-click="viewSwitching()") {{ 'history.HISTORY_VIEW' | translate }}

    .empty-search-result(ng-show="history.isEmptySortResultDraft")
      .result-icon
      .result-text {{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.
