section.page-container(ng-class="{ 'swiped': !historyPage.G.global.isNavMenu }")
  section.left-side
    include menus/_navigation-menu
  section.right-side
    section.main-history

      section.history-page

        section.accounts-container.history-view(ng-class="{'dark-fon': historyPage.H.history.isOrderDate || historyPage.H.history.isOrderSort }")
          .history-header
            button.history-back(fs-click="historyPage.toCurrentCalculation()" )
            .history-user-info(ng-hide="historyPage.H.history.isOrderSearch")
              include parts/_user-info
            .history-search(ng-show="historyPage.H.history.isOrderSearch")
              include parts/_search-block

            .history-tools-panel
              .tools-block.search-tool(ng-class="{ 'active': historyPage.H.history.isOrderSearch }")
                button.tool.search-btn(fs-click="historyPage.orderSearching()")

              //.tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderDate }")
                button.tool.calendar-btn(fs-click="historyPage.orderDateSelecting()")
                .time-interval(ng-class="{ 'empty': historyPage.H.history.startDate === '' &&  historyPage.H.history.finishDate === ''}")
                  span(ng-if="historyPage.H.history.startDate !== ''") {{ ::historyPage.FROM }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}
                  span(ng-hide="historyPage.H.history.startDate == '' || historyPage.H.history.finishDate == ''") &nbsp; - &nbsp;
                  span(ng-if="historyPage.H.history.finishDate !== ''") {{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}

                .dropdown-tool-dialog.date-filter(ng-if="!historyPage.H.history.isDraftView")
                  .filter-title {{ ::historyPage.DATE_RANGE }}
                  .period.start-date(ng-class="{ 'selected': historyPage.H.history.isStartDate }", fs-click="historyPage.openCalendarScroll('start-date')") {{ ::historyPage.FROM }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isStartDate }")
                    calendar-scroll(order-type="1", calendar-type="1")

                  .period.finish-date(ng-class="{ 'selected': historyPage.H.history.isFinishDate }", fs-click="historyPage.openCalendarScroll('finish-date')") {{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isFinishDate }")
                    calendar-scroll(order-type="1", calendar-type="0")

                  .period.total-date(ng-class="{ 'selected': historyPage.H.history.isAllPeriod }", fs-click="historyPage.openCalendarScroll('full-date')") {{ ::historyPage.ALL_TIME }}

              .tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderSort }")
                button.tool.settings-btn(fs-click="historyPage.orderSorting()")
                .dropdown-tool-dialog.sort-filter
                  .filter-divider {{ ::historyPage.SORTING }}
                  ul.filter-list
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'first' }", fs-click="historyPage.sortingInit(0, 'first')")
                      .filter-label {{ ::historyPage.NEWEST_FIRST }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'last' }", fs-click="historyPage.sortingInit(0, 'last')")
                      .filter-label {{ ::historyPage.NEWEST_LAST }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'type' }", fs-click="historyPage.sortingInit(0, 'type')")
                      .filter-label {{ ::historyPage.SORT_BY_TYPE }}
                      .filter-select-icon
                  .filter-divider {{ ::historyPage.SORT_SHOW }}
                  ul.filter-list
                    li.filter-item(ng-class="{ 'selected': !historyPage.H.history.isFilterType }", fs-click="historyPage.sortingInit(1, undefined)")
                      .filter-label {{ ::historyPage.ALL }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isFilterType == 'order' }", fs-click="historyPage.sortingInit(1, 'order')")
                      .filter-label {{ ::historyPage.SORT_SHOW_ACTIVE }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isFilterType == 'master' }", fs-click="historyPage.sortingInit(1, 'master')")
                      .filter-label {{ ::historyPage.SORT_SHOW_WAIT }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isFilterType == 'done' }", fs-click="historyPage.sortingInit(1, 'done')")
                      .filter-label {{ ::historyPage.SORT_SHOW_DONE }}
                      .filter-select-icon
            .history-req-panel(ng-show="!historyPage.H.history.isOrderSearch")
              //#button.req-res(fs-click="historyPage.synchronizeOrders()") {{::historyPage.SYNCHRONIZE_ORDERS}}
              button.req-res(fs-click="historyPage.reqResult()") {{::historyPage.DOWNLOAD_ORDERS}}
              select.period-of-time(ng-model="historyPage.H.history.resTimeBox", ng-options="time.name for time in historyPage.time",
              ng-change ="historyPage.deleteOption()")
                option(id='deleteOption', value='') {{::historyPage.DURING_THE_WEEK}}
          .scroll-vert-container
            .account-block(ng-repeat="order in historyPage.H.history.orders | orderSorting:historyPage.H.history.isSortType | filter: {order_style: historyPage.H.history.isFilterType} | filter:historyPage.H.history.searchingWord track by $index")
              .account(ng-class="{'current': order.order_style == 'order', 'wait': order.order_style == 'master', 'done': order.order_style == 'done' }") 
                .account-row.header
                  .tn-box
                    .result(ng-show="historyPage.H.history.resAPI === order.id + 'doneOrder'") {{::historyPage.ORDER_DONE}}
                    .error(ng-show="historyPage.H.history.resAPI === order.id + 'errorOrder'") {{historyPage.G.global.textErrorOrder}}
                  .account-data.title
                    .complete-icon(ng-show="order.order_style == 'done'")
                    .account-id id {{ order.order_number }} - {{ order.id }}
                      span(ng-if="order.order_hz && order.order_hz !== '---'") {{ order.order_hz }}
                    .account-addinfo
                      span(ng-hide="!order.floor_id && !order.mounting_id") - {{ ::historyPage.INCLUDED }}:
                      span(ng-hide="!order.floor_id") &nbsp; {{ ::historyPage.DELIVERY }}
                      span(ng-hide="!order.floor_id || !order.mounting_id") &nbsp; {{ ::historyPage.AND }}
                      span(ng-hide="!order.mounting_id") &nbsp; {{ ::historyPage.ASSEMBLING }}
                  .account-data
                    .account-label.account-date-filter {{ ::historyPage.FROM }} {{order.order_date | date:"dd MMMM, yyyy"}}
                .account-row
                  .account-data
                    .user-data.account-user {{ order.customer_name }}
                    .account-label {{ ::historyPage.CLIENT }}
                .account-row
                  .account-data.phone
                    .user-data.account-user-phone {{ order.customer_phone }}
                    .account-label {{ ::historyPage.PHONE }}
                  .account-data
                    .user-data.account-user-adress {{ order.customer_location }}, {{ order.customer_address }}
                    .account-label {{ ::historyPage.ADDRESS }}
                .account-row.footer(ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}")
                  .account-value(ng-click="historyPage.testFunc(order.id)") {{ order.order_price_dis }} {{ historyPage.U.userInfo.currency }}
                    span(ng-show="order.is_instalment") , {{ order.selectedInstalmentPeriod }} {{ ::historyPage.PAYMENTS }} {{order.payment_monthly}} {{ historyPage.U.userInfo.currency }}
                  .account-value(ng-show="order.order_style == 'master'") {{ ::historyPage.WAIT_MASTER }}
                  .account-date {{ order.products_qty }} {{ ::historyPage.ALLPRODUCTS }} {{ ::historyPage.ON }} {{order.new_delivery_date | date:"dd.MM.yyyy"}}

              button.account-tool.account-select-btn(ng-hide="order.order_style == 'done'", fs-click="historyPage.sendOrderToFactory(order.order_style, order.id)", ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}")
                .text {{ ::historyPage.SEND_ORDER_TITLE }}

              button.account-tool.account-copy-btn(fs-click="historyPage.makeOrderCopy(order.order_style, order.id)") 
                .text {{ ::historyPage.BUTTON_C }}
              button.account-tool.account-print-btn(fs-click="historyPage.orderPrint(order.id)") 
                .text {{ ::historyPage.PRINT }}
              button.account-delete-btn(ng-hide="order.order_style == 'done'", fs-click="historyPage.clickDeleteOrder(order.order_type, order.id)")
              button.account-tool.account-change-btn(ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}", ng-hide="order.order_style == 'done'", fs-click="historyPage.editOrder(1, order.id)") 
                .text {{ ::historyPage.CHANGE }}

            .empty-search-result(ng-show="historyPage.H.history.searchingWord.length && (historyPage.H.history.orders | filter:historyPage.H.history.searchingWord).length == 0")
              .result-icon
              .result-text {{ ::historyPage.BY_YOUR_REQUEST }} "<span class="searchin-text"> {{ historyPage.H.history.searchingWord }} </span>" {{ ::historyPage.NOT_FIND }}.

            .empty-search-result(ng-show="!historyPage.H.history.searchingWord.length && ((historyPage.H.history.orders | filter:{order_style: historyPage.H.history.isFilterType}).length == 0 || historyPage.H.history.isEmptyResult)")
              .result-icon
              .result-text {{ ::historyPage.BY_YOUR_REQUEST }} {{ ::historyPage.NOT_FIND }}.

          button.view-switch-tab(fs-click="historyPage.viewSwitching()") {{ ::historyPage.DRAFT_VIEW }}


        section.accounts-container.draft-view(ng-class="{'active': historyPage.H.history.isDraftView, 'dark-fon': historyPage.H.history.isOrderDateDraft || historyPage.H.history.isOrderSortDraft }")
          .history-header
            include parts/_user-info
            .history-tools-panel
              .tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderDateDraft }")
                button.tool.calendar-btn(fs-click="historyPage.orderDateSelecting()")
                .time-interval(ng-class="{ 'empty': historyPage.H.history.startDateDraft === '' && historyPage.H.history.finishDateDraft === ''}")
                  span(ng-if="historyPage.H.history.startDateDraft !== ''") {{ ::historyPage.FROM }} {{historyPage.H.history.startDateDraft | date:"dd.MM.yyyy"}}
                  span(ng-show="historyPage.H.history.startDateDraft !== ''") &nbsp; - &nbsp;
                  span(ng-if="historyPage.H.history.finishDateDraft !== ''") {{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDateDraft | date:"dd.MM.yyyy"}}

                .dropdown-tool-dialog.date-filter(ng-if="historyPage.H.history.isDraftView")
                  .filter-title {{ ::historyPage.DATE_RANGE }}
                  .period.start-date(ng-class="{ 'selected': historyPage.H.history.isStartDateDraft }", fs-click="historyPage.openCalendarScroll('start-date')") {{ ::historyPage.FROM }} {{historyPage.H.history.startDateDraft | date:"dd.MM.yyyy"}}
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isStartDateDraft }")
                    calendar-scroll(order-type="0", calendar-type="1")

                  .period.finish-date(ng-class="{ 'selected': historyPage.H.history.isFinishDateDraft }", fs-click="historyPage.openCalendarScroll('finish-date')") {{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDateDraft | date:"dd.MM.yyyy"}}
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isFinishDateDraft }")
                    calendar-scroll(order-type="0", calendar-type="0")

                  .period.total-date(ng-class="{ 'selected': historyPage.H.history.isAllPeriodDraft }", fs-click="historyPage.openCalendarScroll('full-date')") {{ ::historyPage.ALL_TIME }}

              .tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderSortDraft }")
                button.tool.settings-btn(fs-click="historyPage.orderSorting()")
                .dropdown-tool-dialog.sort-filter
                  .filter-divider {{ ::historyPage.SORTING }}
                  ul.filter-list
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'first' }", fs-click="historyPage.sortingInit('first')")
                      .filter-label {{ ::historyPage.NEWEST_FIRST }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'last' }", fs-click="historyPage.sortingInit('last')")
                      .filter-label {{ ::historyPage.NEWEST_LAST }}
                      .filter-select-icon

          .scroll-vert-container
            .scrolling-container
              .account-block(ng-repeat="draft in historyPage.H.history.drafts | orderBy:historyPage.createdDate:historyPage.H.history.reverseDraft")
                .account(fs-click="historyPage.editOrder(0, draft.id)")
                  .account-row.header
                    .account-id {{ ::historyPage.DRAFT }}
                    .account-label.account-date-filter {{ ::historyPage.FROM }} {{draft.order_date | date:"dd MMMM, yyyy"}}
                  .account-row.footer
                    .account-value {{ draft.order_price_dis }} {{ historyPage.U.userInfo.currency }}
                      span(ng-show="draft.is_instalment") , {{ draft.selectedInstalmentPeriod }} {{ ::historyPage.PAYMENTS }} {{draft.payment_monthly}} {{ historyPage.U.userInfo.currency }}
                    .account-qty {{ draft.products_qty }} {{ ::historyPage.ALLPRODUCTS }} {{ ::historyPage.ON }} {{draft.new_delivery_date | date:"dd.MM.yyyy"}}
                button.account-tool.account-print-btn(fs-click="")
                button.account-delete-btn(fs-click="historyPage.clickDeleteOrder(draft.order_type, draft.id)")


            .empty-search-result(ng-show="historyPage.H.history.isEmptyResultDraft")
              .result-icon
              .result-text {{ ::historyPage.BY_YOUR_REQUEST }} {{ ::historyPage.NOT_FIND }}.

          button.view-switch-tab(fs-click="historyPage.viewSwitching()") {{ ::historyPage.HISTORY_VIEW }} 
include parts/_attantions
include parts/_loader
include parts/_alert
include parts/_edit-order
include parts/_danger-alert
include parts/_print-order
