section.page-container(ng-class="{ 'swiped': !historyPage.G.global.isNavMenu }")
  section.left-side
    include menus/_navigation-menu
  section.right-side
    section.main-history

      section.history-page

        section.accounts-container.history-view(ng-class="{'dark-fon': historyPage.H.history.isOrderDate || historyPage.H.history.isOrderSort }")
          .history-header
            button.history-back(hm-tap="historyPage.toCurrentCalculation()" )
            .history-user-info(ng-hide="historyPage.H.history.isOrderSearch")
              include parts/_user-info
            .history-search(ng-show="historyPage.H.history.isOrderSearch")
              include parts/_search-block

            .history-tools-panel
              .tools-block.search-tool(ng-class="{ 'active': historyPage.H.history.isOrderSearch }")
                button.tool.search-btn(hm-tap="historyPage.orderSearching()")

              //.tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderDate }")
                button.tool.calendar-btn(hm-tap="historyPage.orderDateSelecting()")
                .time-interval(ng-class="{ 'empty': historyPage.H.history.startDate === '' &&  historyPage.H.history.finishDate === ''}")
                  span(ng-if="historyPage.H.history.startDate !== ''") {{ 'history.FROM' | translate }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}
                  //span(order-date="{{ historyPage.H.history.startDate }}", type-date="")
                  span(ng-hide="historyPage.H.history.startDate == '' || historyPage.H.history.finishDate == ''") &nbsp; - &nbsp;
                  span(ng-if="historyPage.H.history.finishDate !== ''") {{ 'history.UNTIL' | translate }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}
                  //span(order-date="{{ historyPage.H.history.finishDate }}", type-date="")

                .dropdown-tool-dialog.date-filter
                  .filter-title {{ 'history.DATE_RANGE' | translate }}
                  .period.start-date(ng-class="{ 'selected': historyPage.H.history.isStartDate }", hm-tap="historyPage.openCalendarScroll('start-date')") {{ 'history.FROM' | translate }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}
                    //span(order-date="{{ historyPage.H.history.startDate }}", type-date="")
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isStartDate }")
                    calendar-scroll(calendar-time="historyPage.H.history.startDate", max-time="{{ historyPage.H.history.maxDeliveryDateOrder }}")

                  .period.finish-date(ng-class="{ 'selected': historyPage.H.history.isFinishDate }", hm-tap="historyPage.openCalendarScroll('finish-date')") {{ 'history.UNTIL' | translate }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}
                    //span(order-date="{{ historyPage.H.history.finishDate }}", type-date="")
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isFinishDate }")
                    calendar-scroll(calendar-time="historyPage.H.history.finishDate", max-time="{{ historyPage.H.history.maxDeliveryDateOrder }}")

                  .period.total-date(ng-class="{ 'selected': historyPage.H.history.isAllPeriod }", hm-tap="historyPage.openCalendarScroll('full-date')") {{ 'history.ALL_TIME' | translate }}

              .tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderSort }")
                button.tool.settings-btn(hm-tap="historyPage.orderSorting()")
                .dropdown-tool-dialog.sort-filter
                  .filter-divider {{ 'history.SORTING' | translate }}
                  ul.filter-list
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'first' }", hm-tap="historyPage.sortingInit('first')")
                      .filter-label {{ 'history.NEWEST_FIRST' | translate }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'last' }", hm-tap="historyPage.sortingInit('last')")
                      .filter-label {{ 'history.NEWEST_LAST' | translate }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'type' }", hm-tap="historyPage.sortingInit('type')")
                      .filter-label {{ 'history.SORT_BY_TYPE' | translate }}
                      .filter-select-icon
                  .filter-divider {{ 'history.SORT_SHOW' | translate }}
                  ul.filter-list
                    //li.filter-item(ng-class="{ 'selected': history.isSortType == 'all-order' }", hm-tap="sortingInit('all-order')")
                      .filter-label {{ 'common_words.ALL' | translate }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'current-order' }", hm-tap="historyPage.sortingInit('current-order')")
                      .filter-label {{ 'history.SORT_SHOW_ACTIVE' | translate }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'wait-order' }", hm-tap="historyPage.sortingInit('wait-order')")
                      .filter-label {{ 'history.SORT_SHOW_WAIT' | translate }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'done-order' }", hm-tap="historyPage.sortingInit('done-order')")
                      .filter-label {{ 'history.SORT_SHOW_DONE' | translate }}
                      .filter-select-icon


          .scroll-vert-container
            .account-block(ng-repeat="order in historyPage.H.history.orders | orderSorting:historyPage.H.history.isSortType | filter:historyPage.H.history.searchingWord track by $index", ng-hide="order.order_style == 'order' && historyPage.H.history.isCurrentOrdersHide || order.order_style == 'credit' && historyPage.H.history.isCurrentOrdersHide || order.order_style == 'master' && historyPage.H.history.isWaitOrdersHide || order.order_style == 'done' && historyPage.H.history.isDoneOrdersHide")
              .account(ng-class="{'current': order.order_style == 'order' || order.order_style == 'credit', 'wait': order.order_style == 'master', 'done': order.order_style == 'done' }")
                .account-row.header
                  .account-data.title
                    .complete-icon(ng-show="order.order_style == 'done'")
                    .account-id(ng-if="order.order_number") id {{ order.order_number }}
                      span(ng-if="order.order_hz && order.order_hz !== '---'") {{ order.order_hz }}
                    .account-addinfo
                      span(ng-hide="!order.floor_id && !order.mounting_id") - {{ 'history.INCLUDED' | translate }}:
                      span(ng-hide="!order.floor_id") &nbsp; {{ 'cart.DELIVERY' | translate }}
                      span(ng-hide="!order.floor_id || !order.mounting_id") &nbsp; {{ 'common_words.AND' | translate }}
                      span(ng-hide="!order.mounting_id") &nbsp; {{ 'cart.ASSEMBLING' | translate }}
                  .account-data
                    .account-label.account-date-filter {{ 'history.FROM' | translate }} {{order.order_date | date:"dd MMMM, yyyy"}}
                      //span(order-date="{{ order.created }}", type-date="'order'")
                .account-row
                  .account-data
                    .user-data.account-user {{ order.customer_name }}
                    .account-label {{ 'history.CLIENT' | translate }}
                .account-row
                  .account-data.phone
                    .user-data.account-user-phone {{ order.customer_phone }}
                    .account-label {{ 'history.PHONE' | translate }}
                  .account-data
                    .user-data.account-user-adress {{ order.customer_location }}, {{ order.customer_address }}
                    .account-label {{ 'history.ADDRESS' | translate }}
                .account-row.footer
                  .account-value(ng-hide="order.order_style == 'credit'") {{ order.order_price_total_dis }}{{ historyPage.U.userInfo.currency }}
                  .account-value(ng-show="order.order_style == 'credit'") {{ order.order_price_total_dis }}{{ historyPage.U.userInfo.currency }}, {{ order.selectedInstalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{order.payment_monthly}}{{ historyPage.U.userInfo.currency }}
                  .account-value(ng-show="order.order_style == 'master'") {{ 'history.WAIT_MASTER' | translate }}
                  .account-date {{ order.products_qty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{order.new_delivery_date | date:"dd.MM.yyyy"}}

              button.account-tool.account-select-btn(ng-hide="order.order_style == 'done'", hm-tap="historyPage.sendOrderToFactory(order.order_style, order.id)")
              button.account-tool.account-copy-btn(ng-hide="order.order_style == 'done'", hm-tap="historyPage.makeOrderCopy(order.order_style, order.id)")
              button.account-tool.account-print-btn(hm-tap="")
              button.account-delete-btn(ng-hide="order.order_style == 'done'", hm-tap="historyPage.clickDeleteOrder(order.order_type, order.id, $event)")
              button.account-change-btn(ng-hide="order.order_style == 'done'", hm-tap="historyPage.editOrder(order.id)") {{ 'common_words.CHANGE' | translate }}

            .empty-search-result(ng-show="(orders | filter:historyPage.H.history.searchingWord).length == 0")
              .result-icon
              .result-text {{ 'history.BY_YOUR_REQUEST' | translate }} "<span class="searchin-text"> {{ historyPage.H.history.searchingWord }} </span>" {{ 'history.NOT_FIND' | translate }}.

            .empty-search-result(ng-show="historyPage.H.history.isEmptyResult")
              .result-icon
              .result-text {{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.

          button.view-switch-tab(hm-tap="historyPage.viewSwitching()") {{ 'history.DRAFT_VIEW' | translate }}








        section.accounts-container.draft-view(ng-class="{'active': historyPage.H.history.isDraftView, 'dark-fon': historyPage.H.history.isOrderDateDraft || historyPage.H.history.isOrderSortDraft }")
          .history-header
            include parts/_user-info
            .history-tools-panel
              .tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderDateDraft }")
                button.tool.calendar-btn(hm-tap="historyPage.orderDateSelecting()")
                .time-interval(ng-class="{ 'empty': historyPage.H.history.startDateDraft === '' && historyPage.H.history.finishDateDraft === ''}")
                  span(ng-if="historyPage.H.history.startDateDraft !== ''") {{ 'history.FROM' | translate }}
                  span(order-date="{{ historyPage.H.history.startDateDraft }}", type-date="")
                  span(ng-show="historyPage.H.history.startDateDraft !== ''") &nbsp; - &nbsp;
                  span(ng-if="historyPage.H.history.finishDateDraft !== ''") {{ 'history.UNTIL' | translate }}
                  span(order-date="{{ historyPage.H.history.finishDateDraft }}", type-date="")

                .dropdown-tool-dialog.date-filter
                  .filter-title {{ 'history.DATE_RANGE' | translate }}
                  .period.start-date(ng-class="{ 'selected': historyPage.H.history.isStartDateDraft }", hm-tap="historyPage.openCalendarScroll('start-date')") {{ 'history.FROM' | translate }}
                    span(order-date="{{ historyPage.H.history.startDateDraft }}", type-date="")
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isStartDateDraft }")
                    calendar-scroll(calendar-time="historyPage.H.history.startDateDraft", max-time="", calendar-option=" {{ 'common_words.MONTHS' | translate }} ")

                  .period.finish-date(ng-class="{ 'selected': historyPage.H.history.isFinishDateDraft }", hm-tap="historyPage.openCalendarScroll('finish-date')") {{ 'history.UNTIL' | translate }}
                    span(order-date="{{ historyPage.H.history.finishDateDraft }}", type-date="")
                  .dropdown-calendar-scroll(ng-class="{ 'active': historyPage.H.history.isFinishDateDraft }")
                    calendar-scroll(calendar-time="historyPage.H.history.finishDateDraft", max-time="", calendar-option=" {{ 'common_words.MONTHS' | translate }} ")

                  .period.total-date(ng-class="{ 'selected': historyPage.H.history.isAllPeriodDraft }", hm-tap="historyPage.openCalendarScroll('full-date')") {{ 'history.ALL_TIME' | translate }}

              .tools-block.tool-drop(ng-class="{ 'active': historyPage.H.history.isOrderSortDraft }")
                button.tool.settings-btn(hm-tap="historyPage.orderSorting()")
                .dropdown-tool-dialog.sort-filter
                  .filter-divider {{ 'history.SORTING' | translate }}
                  ul.filter-list
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'first' }", hm-tap="historyPage.sortingInit('first')")
                      .filter-label {{ 'history.NEWEST_FIRST' | translate }}
                      .filter-select-icon
                    li.filter-item(ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'last' }", hm-tap="historyPage.sortingInit('last')")
                      .filter-label {{ 'history.NEWEST_LAST' | translate }}
                      .filter-select-icon

          .scroll-vert-container
            .scrolling-container
              .account-block(ng-repeat="draft in historyPage.H.history.drafts | orderBy:historyPage.createdDate:historyPage.H.history.reverseDraft", hm-tap="historyPage.editOrder(draft.id)")
                .account
                  .account-row.header
                    .account-id {{ 'history.DRAFT' | translate }}
                    .account-label.account-date-filter {{ 'history.FROM' | translate }}
                      span(order-date="{{ draft.created }}", type-date="'order'")
                  .account-row.footer
                    .account-value(ng-hide="draft.order_style == 'credit'") {{ draft.order_price_total_dis }}{{ historyPage.U.userInfo.currency }}
                    .account-value(ng-show="draft.order_style == 'credit'") {{ draft.order_price_total_dis }}{{ historyPage.U.userInfo.currency }}, {{ draft.selectedInstalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{draft.payment_monthly}}{{ historyPage.U.userInfo.currency }}
                    .account-qty {{ draft.products_qty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{draft.new_delivery_date | date:"dd.MM.yyyy"}}
                button.account-tool.account-print-btn(hm-tap="")
                button.account-delete-btn(hm-tap="historyPage.clickDeleteOrder(draft.order_type, draft.id, $event)")


            .empty-search-result(ng-show="historyPage.H.history.isEmptyResultDraft")
              .result-icon
              .result-text {{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.

          button.view-switch-tab(hm-tap="historyPage.viewSwitching()") {{ 'history.HISTORY_VIEW' | translate }}
  include parts/_loader