section.history-page(ng-controller="HistoryCtrl")

  section.accounts-container.history-view(ng-class="{'dark-fon': history.isIntervalDate || history.isOrderSort }")
    .history-header
      .history-user-info(ng-hide="history.isOrderSearch")
        include parts/_user-info
      .history-search(ng-show="history.isOrderSearch")
        include parts/_search-block
      .history-tools-panel
        .tools-block.search-tool(ng-class="{ 'active': history.isOrderSearch }")
          button.tool.search-btn(ng-click="orderSearching()")
        .tools-block.tool-drop(ng-class="{ 'active': history.isIntervalDate }")
          button.tool.calendar-btn(ng-click="intervalDateSelecting()")
          .time-interval(ng-class="{ 'empty': history.startDate === '' &&  history.finishDate === ''}")
            span(ng-if="history.startDate !== ''") {{ 'history.FROM' | translate }}
            span(order-date="{{ history.startDate }}", months-label=" {{ 'common_words.MONTHA' | translate }} ")
            span(ng-if="history.finishDate !== ''") &nbsp; - &nbsp;
            span(ng-if="history.finishDate !== ''") {{ 'history.UNTIL' | translate }}
            span(order-date="{{ history.finishDate }}", months-label=" {{ 'common_words.MONTHA' | translate }} ")

          .dropdown-tool-dialog.date-filter
            .filter-title {{ 'history.DATE_RANGE' | translate }}
            .period.start-date(ng-class="{ 'selected': history.isStartDate }", ng-click="openCalendarScroll('start-date')") {{ 'history.FROM' | translate }}
              span(order-date="{{ history.startDate }}", months-label=" {{ 'common_words.MONTHA' | translate }} ")
            .dropdown-calendar-scroll(ng-class="{ 'active': history.isStartDate }")
              calendar-scroll(calendar-time="history.startDate", calendar-option=" {{ 'common_words.MONTHS' | translate }} ")

            .period.finish-date(ng-class="{ 'selected': history.isFinishDate }", ng-click="openCalendarScroll('finish-date')") {{ 'history.UNTIL' | translate }}
              span(order-date="{{ history.finishDate }}", months-label=" {{ 'common_words.MONTHA' | translate }} ")
            .dropdown-calendar-scroll(ng-class="{ 'active': history.isFinishDate }")
              calendar-scroll(calendar-time="history.finishDate", calendar-option=" {{ 'common_words.MONTHS' | translate }} ")

            .period.total-date(ng-class="{ 'selected': history.isAllPeriod }", ng-click="openCalendarScroll('full-date')") {{ 'history.ALL_TIME' | translate }}

        .tools-block.tool-drop(ng-class="{ 'active': history.isOrderSort }")
          button.tool.settings-btn(ng-click="orderSorting()")
          .dropdown-tool-dialog.sort-filter
            .filter-divider {{ 'history.SORTING' | translate }}
            ul.filter-list
              li.filter-item
                .filter-label {{ 'history.NEWEST_FIRST' | translate }}
                .filter-select-icon
              li.filter-item
                .filter-label {{ 'history.NEWEST_LAST' | translate }}
                .filter-select-icon
              li.filter-item
                .filter-label {{ 'history.SORT_BY_TYPE' | translate }}
                .filter-select-icon
            .filter-divider {{ 'history.SORT_SHOW' | translate }}
            ul.filter-list
              li.filter-item
                .filter-label {{ 'common_words.ALL' | translate }}
                .filter-select-icon
              li.filter-item
                .filter-label {{ 'history.SORT_SHOW_ACTIVE' | translate }}
                .filter-select-icon
              li.filter-item
                .filter-label {{ 'history.SORT_SHOW_WAIT' | translate }}
                .filter-select-icon
              li.filter-item
                .filter-label {{ 'history.SORT_SHOW_DONE' | translate }}
                .filter-select-icon












    .account-block(ng-repeat="order in orders")
      .account(ng-class="{'current': order.orderStyle == 'order', 'wait': order.orderStyle == 'master' }")
        .account-row.header
          .account-data.title
            .complete-icon
            .account-id id {{ order.orderId }}
            .account-addinfo - включены доставка и монтаж
          .account-data
            .account-label.account-date-filter {{ 'history.FROM' | translate }}
              span(order-date="{{ order.created }}", months-label=" {{ 'common_words.MONTHA' | translate }} ")
        .account-row
          .account-data
            .user-data.account-user {{ order.name }}
            .account-label {{ 'history.CLIENT' | translate }}
        .account-row
          .account-data.phone
            .user-data.account-user-phone {{ order.phone }}
            .account-label {{ 'history.PHONE' | translate }}
          .account-data
            .user-data.account-user-adress {{ order.location }}, {{ order.address }}
            .account-label {{ 'history.ADDRESS' | translate }}
        .account-row.footer(ng-click="gotoCartPage()")
          .account-value(ng-if="order.instalment === ''") {{ order.totalPrice }}{{ global.currency }}
          .account-value(ng-if="order.instalment !== ''") {{ order.totalPrice }}{{ global.currency }}, {{ order.instalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{order.totalPriceMonthly}}{{ global.currency }}
          .account-date {{ order.productsQty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{ order.deliveryDate }}

      button.account-tool.account-select-btn(ng-if="order.orderStyle == 'order' || order.orderStyle == 'master'", ng-click="")
      button.account-tool.account-copy-btn(ng-if="order.orderStyle == 'order' || order.orderStyle == 'master'", ng-click="")
      button.account-tool.account-print-btn(ng-click="")
      button.account-delete-btn(ng-if="order.orderStyle == 'order' || order.orderStyle == 'master'", ng-click="deleteOrder(order.orderType, order.orderId, $index)")
      button.account-change-btn(ng-if="order.orderStyle == 'order' || order.orderStyle == 'master'", ng-click="") {{ 'common_words.CHANGE' | translate }}





















    .account-block
      .account.current
        .account-row.header
          .account-data.title
            .complete-icon
            .account-id id 541321234566
            .account-addinfo - включены доставка и монтаж
          .account-data
            .account-label.account-date-filter от 19 April, 2012
        .account-row
          .account-data
            .user-data.account-user Андреева Светлана Петровна
            .account-label клиент
        .account-row
          .account-data.phone
            .user-data.account-user-phone +38(074)326-3366
            .account-label телефон
          .account-data
            .user-data.account-user-adress Днепропетровск, ул.Карла Маркса, 48
            .account-label адрес
        .account-row.footer(ng-click="gotoCartPage()")
          .account-value 100 455.00, 10 платежей по 9 125.00
          .account-date 1561 изделий на 18.04.2014

      button.account-tool.account-select-btn
      button.account-tool.account-copy-btn
      button.account-tool.account-print-btn
      button.account-delete-btn
      button.account-change-btn {{ 'common_words.CHANGE' | translate }}

    .account-block
      .account.wait
        .account-row.header
          .account-data.title
            .complete-icon
            .account-id id 541321234566
            .account-addinfo - включены доставка и монтаж
          .account-data
            .account-label.account-date-filter от 19 April, 2012
        .account-row
          .account-data
            .user-data.account-user Андреева Светлана Петровна
            .account-label клиент
        .account-row
          .account-data.phone
            .user-data.account-user-phone +38(074)326-3366
            .account-label телефон
          .account-data
            .user-data.account-user-adress Днепропетровск, ул.Карла Маркса, 48
            .account-label адрес
        .account-row.footer(ng-click="gotoCartPage()")
          .account-value 100 455.00, 10 платежей по 9 125.00
          .account-date 1561 изделий на 18.04.2014

      button.account-tool.account-select-btn
      button.account-tool.account-copy-btn
      button.account-tool.account-print-btn
      button.account-delete-btn
      button.account-change-btn {{ 'common_words.CHANGE' | translate }}

    .account-block
      .account.done
        .account-row.header
          .account-data.title
            .complete-icon
            .account-id id 541321234566
            .account-addinfo - включены доставка и монтаж
          .account-data
            .account-label.account-date-filter от 19 April, 2012
        .account-row
          .account-data
            .user-data.account-user Андреева Светлана Петровна
            .account-label клиент
        .account-row
          .account-data.phone
            .user-data.account-user-phone +38(074)326-3366
            .account-label телефон
          .account-data
            .user-data.account-user-adress Днепропетровск, ул.Карла Маркса, 48
            .account-label адрес
        .account-row.footer(ng-click="gotoCartPage()")
          .account-value 100 455.00, 10 платежей по 9 125.00
          .account-date 1561 изделий на 18.04.2014

      //button.account-tool.account-select-btn
      //button.account-tool.account-copy-btn
      button.account-tool.account-print-btn
      //button.account-delete-btn
      //button.account-change-btn {{ 'common_words.CHANGE' | translate }}

    button.view-switch-tab(ng-click="viewSwitching()") {{ 'history.DRAFT_VIEW' | translate }}

    .empty-search-result(ng-show="history.isEmptySearchResult")
      .result-icon
      .result-text По вашему запросу "<span class="searchin-text"> Константино </span>" ничего не найдено.

  section.accounts-container.draft-view(ng-class="{'active': history.isDraftView, 'dark-fon': history.isIntervalDateDraft || history.isOrderSortDraft }")
    .history-header
      include parts/_user-info
      .history-tools-panel
        .tools-block.tool-drop(ng-class="{ 'active': history.isIntervalDateDraft }")
          button.tool.calendar-btn(ng-click="intervalDateSelecting()")
          //.time-interval 19 April, 2012 - 23 March, 2014
          .time-interval.empty
          .dropdown-tool-dialog.date-filter
            .filter-title Диапазон дат
            .period.start-date.selected От 12 июня, 2012
            .period.finish-date До 23 марта, 2014
            ul.date-list
              li.date-item
                .day 9
                .month Октябрь
                .year 2013
              li.date-item
                .day 10
                .month Октябрь
                .year 2013
              li.date-item.selected
                .day 10
                .month Октябрь
                .year 2013
              li.date-item
                .day 10
                .month Октябрь
                .year 2013
            .period.total-date За все время

        .tools-block.tool-drop(ng-class="{ 'active': history.isOrderSortDraft }")
          button.tool.settings-btn(ng-click="orderSorting()")
          .dropdown-tool-dialog.sort-filter
            .filter-divider Сортировка
            ul.filter-list
              li.filter-item
                .filter-label По времени: новые в начале
                .filter-select-icon
              li.filter-item
                .filter-label По времени: новые в конце
                .filter-select-icon





    .account-block(ng-repeat="draft in drafts")
      .account
        .account-row.header
          .account-id {{ 'history.DRAFT' | translate }}
          .account-label.account-date-filter {{ 'history.FROM' | translate }}
            order-date( date-old="{{ draft.created }}", months-label=" {{ 'common_words.MONTHA' | translate }} ")
        .account-row.footer(ng-click="gotoCartPage()")
          .account-value(ng-if="draft.instalment === ''") {{ draft.totalPrice }}{{ global.currency }}
          .account-value(ng-if="draft.instalment !== ''") {{ draft.totalPrice }}{{ global.currency }}, {{ draft.instalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{draft.totalPriceMonthly}}{{ global.currency }}
          .account-qty {{ draft.productsQty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{ draft.deliveryDate }}
      button.account-tool.account-print-btn(ng-click="")
      button.account-delete-btn(ng-click="deleteOrder(draft.orderType, draft.orderId, $index)")





    .account-block
      .account
        .account-row.header
          .account-id Черновик
          .account-label.account-date-filter от 19 April, 2012
        .account-row.footer(ng-click="gotoCartPage()")
          .account-value 100 455.00, 10 платежей по 9 125.00
          .account-qty 1561 изделий на 18.04.2014
      button.account-tool.account-print-btn
      button.account-delete-btn


    button.view-switch-tab(ng-click="viewSwitching()") {{ 'history.HISTORY_VIEW' | translate }}

