.light-v(ng-class="{'active': lightPage.G.global.showCart == 1}")
  section.page-container(ng-class="{ 'swiped': !lightPage.G.global.isNavMenu }")
    section.left-side
      include menus/_navigation-menu

    section.right-side(ng-class="{'main-page-bg': lightPage.G.global.currOpenPage === 'light', 'main-room-bg': lightPage.G.global.currOpenPage === 'light'}")
      section.main-content(tabindex="0")
        .user-info-container(ng-controller="UserInfoCtrl as userBox",  ng-swipe-left="userBox.swipeLeft($event)", ng-swipe-right="userBox.swipeRight($event)")
          button.nav-menu-btn(ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': (userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedlightPage)}", fs-click="userBox.swipeMainPage($event)")


        // section.construction-page(ng-class="{'active': lightPage.G.global.showCart == 1}")
        section.construction-page(ng-if="lightPage.G.global.showCart == 0")
          section.construction-container
            .construction-block
              .construction-scrollbox
                svg-template(template="lightPage.D.design.templateTEMP", template-width="lightPage.constants.svgTemplateWidth", template-height="lightPage.constants.svgTemplateHeight", type-construction="lightPage.constants.SVG_ID_EDIT")

                .counter-block
                  .counter
                    .input-minus(ng-click="lightPage.subtractProdQty()") -
                    input(type="number", min="1", ng-model="lightPage.G.global.product_qty")
                    .input-plus(ng-click="lightPage.addProdQty()") +
                  .save-block(ng-click="lightPage.PushProductToOrder()")
                    .cart-img
                    .cart-btn Сохранить

            .right-menu-header
              .nav-tool-box(ng-if="lightPage.D.design.designSteps.length > 0")
                button.construct-tools.step-back(ng-click="lightPage.stepBack()")
                .nav-tool-label {{ ::lightPage.BACK }}

            .door-config-menu(ng-if="lightPage.P.product.construction_type === 4")
              button.door-config-btn(ng-class="{'active': lightPage.D.design.steps.isDoorConfig}", ng-click="lightPage.toggleDoorConfig()")
              .door-config-label {{ ::lightPage.DOOR_CONFIG_LABEL }}
              .door-config-description {{ ::lightPage.DOOR_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorName | translate }};
              .door-config-description {{ ::lightPage.SASH_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorSashName }};
              .door-config-description {{ ::lightPage.HANDLE_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorHandle.name }};
              .door-config-description {{ ::lightPage.LOCK_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorLock.name }};

            .right-menu-footer
              .calculators-box.size-calculator(ng-class="{'active': lightPage.G.global.isSizeCalculator}")
                include parts/_size-calculator

            include panels/_templates
            include panels/_profiles
            include panels/_glasses
            include panels/_hardwares
            include panels/_laminations
            include panels/_add-elements
            section.door-configuration(ng-class="{'active': lightPage.D.design.steps.isDoorConfig}")

              .door-config-column.step1
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 1 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_DOOR_TYPE }}
                .door-config-content(ng-class="{'scroll-box': !lightPage.D.design.steps.selectedStep2}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="door in lightPage.D.design.doorShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.doorShapeIndex === $index}", ng-click="lightPage.selectDoor($index, lightPage.P.product)")
                      .door-inner
                        .door-option-icon
                          img.door-shape(ng-src="{{ door.icon }}" ng-hide="lightPage.D.design.doorConfig.doorShapeIndex === $index")
                          img.door-shape(ng-src="{{ door.iconSelect }}", ng-show="lightPage.D.design.doorConfig.doorShapeIndex === $index")
                        .door-option-label {{ ::door.name | translate }}
                      .selected-item-arrow(ng-show="lightPage.D.design.doorConfig.doorShapeIndex === $index")

              .door-config-column.step2(ng-class="{'active': lightPage.D.design.steps.selectedStep1}")
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 2 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_SASH_TYPE }}
                .door-config-content(ng-class="{'scroll-box': !lightPage.D.design.steps.selectedStep3}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="sashShape in lightPage.D.design.sashShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.sashShapeIndex === $index}", ng-click="lightPage.selectSash($index, lightPage.P.product)")
                      .door-inner
                        .door-option-label {{ sashShape.name }}
                      .selected-item-arrow(ng-show="lightPage.D.design.doorConfig.sashShapeIndex === $index")

              .door-config-column.step3(ng-class="{'active': lightPage.D.design.steps.selectedStep2}")
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 3 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_HANDLE_TYPE }}
                .door-config-content(ng-class="{'scroll-box': !lightPage.D.design.steps.selectedStep4}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="handle in lightPage.D.design.handleShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.handleShapeIndex === handle.id}", ng-click="lightPage.selectHandle(handle.id, lightPage.P.product)")
                      .door-inner
                        .door-option-icon
                          img.door-hardware(ng-if="handle.list_type_id === 35", ng-src="img/door-config/lever-handle.png", ng-hide="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")
                          img.door-hardware(ng-if="handle.list_type_id === 35", ng-src="img/door-config-selected/lever-handle.png", ng-show="lightPage.D.design.doorConfig.handleShapeIndex ===handle.id")
                          img.door-hardware(ng-if="handle.list_type_id === 36", ng-src="img/door-config/standart-handle.png", ng-hide="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")
                          img.door-hardware(ng-if="handle.list_type_id === 36", ng-src="img/door-config-selected/standart-handle.png", ng-show="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")
                        .door-option-label {{ handle.name }}
                      .selected-item-arrow(ng-show="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")

              .door-config-column.step4(ng-class="{'active': lightPage.D.design.steps.selectedStep3}")
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 4 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_LOCK_TYPE }}
                .door-config-content(ng-class="{'scroll-box': lightPage.D.design.steps.selectedStep3}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="lock in lightPage.D.design.lockShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.lockShapeIndex === $index}", ng-click="lightPage.selectLock($index, lightPage.P.product)")
                      .door-inner
                        .door-option-icon
                          img.door-hardware(ng-if="lock.type === 1 || lock.type === 2", ng-src="img/door-config/onelock.png" ng-hide="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                          img.door-hardware(ng-if="lock.type === 1 || lock.type === 2", ng-src="img/door-config-selected/onelock.png", ng-show="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                          img.door-hardware(ng-if="lock.type === 3 || lock.type === 4", ng-src="img/door-config/multilock.png" ng-hide="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                          img.door-hardware(ng-if="lock.type === 3 || lock.type === 4", ng-src="img/door-config-selected/multilock.png", ng-show="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                        .door-option-label {{ lock.name }}
                      .selected-item-arrow(ng-show="lightPage.D.design.doorConfig.lockShapeIndex === $index")

              .door-config-tools
                button.door-config-finish-btn.close-door-config(ng-click="lightPage.closeDoorConfig()")
                button.door-config-finish-save-btn.save-door-config(ng-show="lightPage.D.design.steps.selectedStep4", ng-click="lightPage.saveDoorConfig()")

            .design-attantion(ng-if="lightPage.config.isDesignError") {{ ::lightPage.NOT_AVAILABLE }}
            .design-attantion(ng-if="lightPage.D.design.isDimExtra") {{ ::lightPage.DIM_EXTRA }}
              .close-dialog(ng-click="lightPage.closeAttantion()")
            .design-attantion(ng-if="lightPage.D.design.isSquareExtra") {{ ::lightPage.SQUARE_EXTRA }}
              .close-dialog(ng-click="lightPage.closeAttantion()")
            .design-attantion(ng-if="lightPage.config.isTest") {{ ::lightPage.TEST_STAGE }}
              .close-dialog(ng-click="lightPage.closeAttantion()")

        .cart-page(ng-if="lightPage.G.global.showCart == 1")
          .scroll-hor-container
            .order-block
              .order(ng-repeat="product in lightPage.O.order.products | orderBy: 'product_id' track by $index")
                button.order-delete(fs-click="lightPage.clickDeleteProduct($index)")
                .order-header(ng-click="lightPage.showCartTemplte($index)")
                  img.imgg(ng-src='img/copy_edit.png', fs-click="lightPage.box($index, 'product')")
                  .order-template
                    svg-template(template="product.templateIcon", template-width="lightPage.constants.svgTemplateIconWidthCart", template-height="lightPage.constants.svgTemplateIconHeightCart", type-construction="lightPage.constants.SVG_CLASS_ICON")
                  .order-u-coeff(ng-if="!lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total > lightPage.O.order.heat_coef_min}")
                    div U = {{ product.heat_coef_total }}
                    div {{ ::lightPage.HEATCOEF_VAL }}/{{ ::lightPage.LETTER_M }} &sup2;&middot;&deg;C
                .order-content
                  .order-u-coeff(ng-if="lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total < lightPage.O.order.heat_coef_min}")
                    div.R-MInfo
                      p.number {{ $index+1+"."+"\u00A0"}}
                    div.R-MInfo {{ product.heat_coef_total +"\u00A0"+"\u00A0"}}
                    div.R-MInfo {{ ::lightPage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::lightPage.HEATCOEF_VAL +"\u00A0" }}
                    div.inner-text {{lightPage.HEAT_TRANSFER}}
                  ul.order-list
                    li.order-item
                      .order-value {{ product.template_width }} {{ ::lightPage.MM +"\u00A0 *\u00A0"}}
                      .order-value {{ product.template_height }} {{ ::lightPage.MM }}
                      .order-label {{ ::lightPage.CONFIGMENU_SIZING }}
                    li.order-item
                      .order-value(ng-if="product.construction_type !== 4") {{ product.profile.name }}
                      .order-value(ng-if="product.construction_type === 4") {{ product.doorSashName }}
                      .order-label {{ ::lightPage.CONFIGMENU_PROFILE }}
                    li.order-item(ng-if="product.glass.length > 1")
                      .order-value {{ product.glass[0].sku + ', ...' }}
                      .order-label {{ ::lightPage.CONFIGMENU_GLASS }}
                    li.order-item(ng-if="product.glass.length <= 1")
                      .order-value {{ product.glass[0].sku }}
                      .order-label {{ ::lightPage.CONFIGMENU_GLASS }}
                    li.order-item
                      .order-value(ng-if="product.construction_type === 4") {{ product.doorHandle.name }} / {{ product.doorLock.name }}
                      .order-value(ng-if="product.construction_type !== 4") {{ product.hardware.name }}
                      .order-label {{ ::lightPage.CONFIGMENU_HARDWARE }}
                    li.order-item
                      .order-label {{ ::lightPage.CONFIGMENU_LAMINATION_TYPE }}
                      .order-value
                        span(ng-if="product.lamination.lamination_in_id > 1") {{ product.lamination.laminat_in_name }}
                        span(ng-if="product.lamination.lamination_in_id === 1") {{ product.lamination.laminat_in_name |translate }}
                        span /
                        span(ng-if="product.lamination.lamination_out_id > 1") {{ product.lamination.laminat_out_name }}
                        span(ng-if="product.lamination.lamination_out_id === 1") {{ product.lamination.laminat_out_name |translate }}
                      .order-label {{ ::lightPage.CONFIGMENU_LAMINATION }}
                    li.order-item.addelements-btn(fs-click="lightPage.showAddElementDetail($index)")
                      .order-value {{lightPage.C.cart.allAddElements[$index].length}}
                        ng-pluralize(count="lightPage.C.cart.allAddElements[$index].length",
                        when="{'0': '{{ lightPage.config.elements }}', '1': '{{ lightPage.config.element }}', '2': '{{ lightPage.config.elementa }}', '3': '{{ lightPage.config.elementa }}', '4': '{{ lightPage.config.elementa }}', 'other': '{{ lightPage.config.elements }}'}")
                      .order-label {{ ::lightPage.CONFIGMENU_ADDITIONAL }}
                  .order-qty
                    button.order-tool(fs-click="lightPage.decreaseProductQty($index)") -
                    .order-value {{ product.product_qty }}
                    button.order-tool(fs-click="lightPage.increaseProductQty($index)") +
                    .order-label.qty-label {{ ::lightPage.PRODUCT_QTY }}
                .order-footer
                  .order-price(price-fixed="{{product.productPriceDis}}", qty-element="{{product.product_qty}}", currency-element="{{lightPage.U.userInfo.currency}}")
                  .order-comment-btn(ng-show="product.comment.length", ng-class="{'active': lightPage.config.isProductComment === $index+1}", fs-click="lightPage.switchProductComment($index)")
                .order-comment(ng-class="{'active': lightPage.config.isProductComment === $index+1}")
                  .order-comment-box
                    .order-comment-title {{ ::lightPage.ORDER_COMMENT }}
                    .order-comment-content {{ lightPage.O.order.comment }}
  include menus/_config_menu_light

  include parts/_attantions
        include parts/_check-doors
  include parts/_alert
  include parts/_loader
