.light-v(ng-class="{'active': lightPage.G.global.showCart == 1}")
  section.page-container(ng-class="{ 'swiped': !lightPage.G.global.isNavMenu }")
    section.left-side
      include menus/_navigation-menu

    section.right-side(ng-class="{'main-page-bg': lightPage.G.global.currOpenPage === 'light', 'main-room-bg': lightPage.G.global.currOpenPage === 'light'}")
      section.main-content(tabindex="0")
        .user-info-container(ng-controller="UserInfoCtrl as userBox",  ng-swipe-left="userBox.swipeLeft($event)", ng-swipe-right="userBox.swipeRight($event)" ng-show="userBox.U.userInfo.user_type !== 8")
          button.nav-menu-btn(ng-if="userBox.U.userInfo.user_type !== 8" ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': (userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedlightPage)}", fs-click="userBox.swipeMainPage($event)")

        // section.construction-page(ng-class="{'active': lightPage.G.global.showCart == 1}")
        section.construction-page(ng-if="lightPage.G.global.showCart == 0")
          section.construction-container
            .construction-block
              .construction-scrollbox(ng-click="lightPage.G.global.activePanel=0")
                svg-template(template="lightPage.D.design.templateTEMP", template-width="lightPage.constants.svgTemplateWidth", template-height="lightPage.constants.svgTemplateHeight", type-construction="lightPage.constants.SVG_ID_EDIT")
              include panels/_templatesLight
              img.infoIcon(ng-if="lightPage.U.userInfo.factory_id !== 2", ng-src='img/calc/info-button.svg', ng-class="{'coeff-low': lightPage.P.product.heat_coef_total < lightPage.O.order.heat_coef_min}")
              img.infoIconGreen(ng-if="lightPage.U.userInfo.factory_id !== 2", ng-src='img/calc/info-buttonGreen.svg', ng-class="{'coeff-low': lightPage.P.product.heat_coef_total < lightPage.O.order.heat_coef_min}")
              include parts/_room-info

            //.product-u-coeff(ng-if="lightPage.G.global.isConfigMenu && lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': lightPage.P.product.heat_coef_total < lightPage.O.order.heat_coef_min}")
            //  div R = {{ lightPage.P.product.heat_coef_total | number :2 }} {{ ::configMenu.LETTER_M}}&sup2;&deg;C/{{::lightPage.HEATCOEF_VAL }}
            //  img.infoIcon(ng-src='img/calc/info-button.svg', ng-if="lightPage.G.global.isConfigMenu && !lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': lightPage.P.product.heat_coef_total > lightPage.O.order.heat_coef_min}")
            //  img.infoIconGreen(ng-src='img/calc/info-buttonGreen.svg', ng-if="lightPage.G.global.isConfigMenu && !lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': lightPage.P.product.heat_coef_total > lightPage.O.order.heat_coef_min}")
            //.product-u-coeff-description(ng-if="lightPage.G.global.isConfigMenu && lightPage.U.userInfo.therm_coeff_id") Коефициент теплопередачи
            //.product-u-coeff(ng-if="lightPage.G.global.isConfigMenu && !lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': lightPage.P.product.heat_coef_total > lightPage.O.order.heat_coef_min}")
            //  div U = {{ lightPage.P.product.heat_coef_total | number :2 }} {{ ::lightPage.HEATCOEF_VAL}}/{{::lightPage.LETTER_M}}&sup2;&deg;C
            //.product-u-coeff-description(ng-if="lightPage.G.global.isConfigMenu && !lightPage.U.userInfo.therm_coeff_id") Сопротивление теплопередаче
            .right-menu-header
              .nav-tool-box(ng-if="lightPage.D.design.designSteps.length > 0 && lightPage.G.global.showKarkas === 1")
                button.construct-tools.step-back(ng-click="lightPage.stepBack()")
                .nav-tool-label {{ ::lightPage.BACK }}

            .door-config-menu(ng-if="lightPage.P.product.construction_type === 4")
              button.door-config-btn(ng-class="{'active': lightPage.D.design.steps.isDoorConfig}", ng-click="lightPage.toggleDoorConfig()")
              .door-config-label {{ ::lightPage.DOOR_CONFIG_LABEL }}
              .door-config-description {{ ::lightPage.DOOR_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorName | translate }};
              .door-config-description {{ ::lightPage.SASH_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorSashName }};
              .door-config-description {{ ::lightPage.HANDLE_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorHandle.name }};
              .door-config-description {{ ::lightPage.LOCK_CONFIG_DESCTIPT }}: {{ lightPage.P.product.doorLock.name }};



            include parts/_report
            include panels/_profiles
            include panels/_glasses
            include panels/_hardwares
            include panels/_laminations
            .add-elements-container(ng-if="lightPage.G.global.activePanel == 6")
              include panels/_add-elements
            include panels/_add-elements-list
            include parts/_grid-selector

            section.door-configuration(ng-class="{'active': lightPage.D.design.steps.isDoorConfig}")

              .door-config-column.step1
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 1 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_DOOR_TYPE }}
                .door-config-content(ng-class="{'scroll-box': !lightPage.D.design.steps.selectedStep2}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="door in lightPage.D.design.doorShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.doorShapeIndex === $index}", ng-click="lightPage.selectDoor($index, lightPage.P.product)")
                      .door-inner
                        .door-option-icon
                          img.door-shape(ng-src="{{ door.icon }}" ng-hide="lightPage.D.design.doorConfig.doorShapeIndex === $index")
                          img.door-shape(ng-src="{{ door.iconSelect }}", ng-if="lightPage.D.design.doorConfig.doorShapeIndex === $index")
                        .door-option-label {{ ::door.name | translate }}
                      .selected-item-arrow(ng-if="lightPage.D.design.doorConfig.doorShapeIndex === $index")

              .door-config-column.step2(ng-class="{'active': lightPage.D.design.steps.selectedStep1}")
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 2 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_SASH_TYPE }}
                .door-config-content(ng-class="{'scroll-box': !lightPage.D.design.steps.selectedStep3}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="sashShape in lightPage.D.design.sashShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.sashShapeIndex === $index}", ng-click="lightPage.selectSash($index, lightPage.P.product)")
                      .door-inner
                        .door-option-label {{ sashShape.name }}
                      .selected-item-arrow(ng-if="lightPage.D.design.doorConfig.sashShapeIndex === $index")

              .door-config-column.step3(ng-class="{'active': lightPage.D.design.steps.selectedStep2}")
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 3 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_HANDLE_TYPE }}
                .door-config-content(ng-class="{'scroll-box': !lightPage.D.design.steps.selectedStep4}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="handle in lightPage.D.design.handleShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.handleShapeIndex === handle.id}", ng-click="lightPage.selectHandle(handle.id, lightPage.P.product)")
                      .door-inner
                        .door-option-icon
                          img.door-hardware(ng-if="handle.list_type_id === 35", ng-src="img/door-config/lever-handle.png", ng-hide="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")
                          img.door-hardware(ng-if="handle.list_type_id === 35", ng-src="img/door-config-selected/lever-handle.png", ng-show="lightPage.D.design.doorConfig.handleShapeIndex ===handle.id")
                          img.door-hardware(ng-if="handle.list_type_id === 36", ng-src="img/door-config/standart-handle.png", ng-hide="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")
                          img.door-hardware(ng-if="handle.list_type_id === 36", ng-src="img/door-config-selected/standart-handle.png", ng-show="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")
                        .door-option-label {{ handle.name }}
                      .selected-item-arrow(ng-if="lightPage.D.design.doorConfig.handleShapeIndex === handle.id")

              .door-config-column.step4(ng-class="{'active': lightPage.D.design.steps.selectedStep3}")
                .door-config-backfon
                .door-config-header
                  .door-inner
                    .door-title 4 {{ ::lightPage.STEP }}
                    .door-subtitle {{ ::lightPage.LABEL_LOCK_TYPE }}
                .door-config-content(ng-class="{'scroll-box': lightPage.D.design.steps.selectedStep3}")
                  ul.door-config-list
                    li.door-config-option(ng-repeat="lock in lightPage.D.design.lockShapeList track by $index", ng-class="{'selected': lightPage.D.design.doorConfig.lockShapeIndex === $index}", ng-click="lightPage.selectLock($index, lightPage.P.product)")
                      .door-inner
                        .door-option-icon
                          img.door-hardware(ng-if="lock.type === 1 || lock.type === 2", ng-src="img/door-config/onelock.png" ng-hide="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                          img.door-hardware(ng-if="lock.type === 1 || lock.type === 2", ng-src="img/door-config-selected/onelock.png", ng-show="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                          img.door-hardware(ng-if="lock.type === 3 || lock.type === 4", ng-src="img/door-config/multilock.png" ng-hide="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                          img.door-hardware(ng-if="lock.type === 3 || lock.type === 4", ng-src="img/door-config-selected/multilock.png", ng-show="lightPage.D.design.doorConfig.lockShapeIndex === $index")
                        .door-option-label {{ lock.name }}
                      .selected-item-arrow(ng-if="lightPage.D.design.doorConfig.lockShapeIndex === $index")

              .door-config-tools
                button.door-config-finish-btn.close-door-config(ng-click="lightPage.closeDoorConfig()")
                button.door-config-finish-save-btn.save-door-config(ng-if="lightPage.D.design.steps.selectedStep4", ng-click="lightPage.saveDoorConfig()")

            .design-attantion(ng-show="lightPage.U.userInfo.factory_id !== 2" ng-if="lightPage.G.global.isDesignError") {{ ::lightPage.NOT_AVAILABLE }}
            .design-attantion(ng-show="lightPage.U.userInfo.factory_id !== 2" ng-if="lightPage.D.design.isDimExtra") {{ ::lightPage.DIM_EXTRA }}
              .close-dialog(ng-click="lightPage.closeAttantion()")
            .design-attantion(ng-show="lightPage.U.userInfo.factory_id !== 2" ng-if="lightPage.D.design.isSquareExtra") {{ ::lightPage.SQUARE_EXTRA }}
              .close-dialog(ng-click="lightPage.closeAttantion()")
            .design-attantion(ng-show="lightPage.U.userInfo.factory_id !== 2" ng-if="lightPage.G.global.isTest") {{ ::lightPage.TEST_STAGE }}
              .close-dialog(ng-click="lightPage.closeAttantion()")
            //-rehau attantions
            .design-attantion-rehau(ng-show="lightPage.U.userInfo.factory_id === 2" ng-if="lightPage.G.global.isDesignError") {{ ::lightPage.NOT_AVAILABLE }}
            .design-attantion-rehau(ng-show="lightPage.U.userInfo.factory_id === 2" ng-if="lightPage.D.design.isDimExtra") {{ ::lightPage.DIM_EXTRA }}
              .close-alert-rehau(ng-click="lightPage.closeAttantion()")
            .design-attantion-rehau(ng-show="lightPage.U.userInfo.factory_id === 2" ng-if="lightPage.D.design.isSquareExtra") {{ ::lightPage.SQUARE_EXTRA }}
              .close-alert-rehau(ng-click="lightPage.closeAttantion()")
            .design-attantion-rehau(ng-show="lightPage.U.userInfo.factory_id === 2" ng-if="lightPage.G.global.isTest") {{ ::lightPage.TEST_STAGE }}
              .close-alert-rehau(ng-click="lightPage.closeAttantion()")


        section.cart-page(ng-if="lightPage.G.global.showCart === 1 && lightPage.U.userInfo.factory_id !== 2")
          section.cart-container.full-view(ng-class="{'discount': lightPage.C.cart.isShowDiscount}")
            .scroll-hor-container
              .order-block
                .order(ng-repeat="product in lightPage.O.order.products | orderBy: 'product_id' track by $index")
                  button.order-delete(fs-click="lightPage.clickDeleteProduct($index)")
                  img.imgg(ng-src='img/cart/copy_edit.svg', fs-click="lightPage.box($index, 'product')")
                  .order-header(ng-click="lightPage.showCartTemplte($index)")
                    .order-template
                      svg-template(template="product.templateIcon", template-width="lightPage.constants.svgTemplateIconWidthCart", template-height="lightPage.constants.svgTemplateIconHeightCart", type-construction="lightPage.constants.SVG_CLASS_ICON")
                    .order-u-coeff(ng-if="!lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total > lightPage.O.order.heat_coef_min}")
                      div U = {{ product.heat_coef_total }}
                      div {{ ::lightPage.HEATCOEF_VAL }}/{{ ::lightPage.LETTER_M }} &sup2;&middot;&deg;C
                  .order-content
                    .order-u-coeff(ng-if="lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total < lightPage.O.order.heat_coef_min}")
                      div.R-MInfo
                        p.number {{ $index+1+"."+"\u00A0"}}
                      div.R-MInfo {{ product.heat_coef_total +"\u00A0"+"\u00A0"}}
                      div.R-MInfo {{ ::lightPage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::lightPage.HEATCOEF_VAL +"\u00A0" }}
                      div.inner-text {{lightPage.HEAT_TRANSFER}}
                    ul.order-list
                      li.order-item
                        .order-value(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ product.template_width }} {{ ::lightPage.MM +"\u00A0 *\u00A0"}}
                        .order-value(ng-if='lightPage.U.userInfo.factory_id===1966') {{ product.template_width *0.0393701 | number : 0}} {{ ::lightPage.INCH +"\u00A0 *\u00A0"}}
                        .order-value(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ product.template_height }} {{ ::lightPage.MM }}
                        .order-value(ng-if='lightPage.U.userInfo.factory_id===1966') {{ product.template_height *0.0393701 | number : 0}} {{ ::lightPage.INCH }}
                        .order-label {{ ::lightPage.CONFIGMENU_SIZING }}
                      li.order-item
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'en'") {{ product.profile.translate.en }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'ru'") {{ product.profile.translate.ru }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'uk'") {{ product.profile.translate.ua }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'pl'") {{ product.profile.translate.pl }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'de'") {{ product.profile.translate.de }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'bg'") {{ product.profile.translate.bg }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'it'") {{ product.profile.translate.it }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'es'") {{ product.profile.translate.es }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'ro'") {{ product.profile.translate.ro }}

                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'en' && !product.profile.translate.en") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'ru' && !product.profile.translate.ru") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'uk' && !product.profile.translate.ua") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'pl' && !product.profile.translate.pl") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'de' && !product.profile.translate.de") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'bg' && !product.profile.translate.bg") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'it' && !product.profile.translate.it") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'es' && !product.profile.translate.es") {{ product.profile.name }}
                        .order-value(ng-if="product.construction_type !== 4 && lightPage.U.userInfo.langLabel === 'ro' && !product.profile.translate.ro") {{ product.profile.name }}
                        .order-label {{ ::lightPage.CONFIGMENU_PROFILE }}
                      li.order-item(ng-if="product.glass.length > 1")
                        .order-value {{ product.glass[0].sku + ', ...' }}
                        .order-label {{ ::lightPage.CONFIGMENU_GLASS }}
                      li.order-item(ng-if="product.glass.length <= 1")
                        .order-value {{ product.glass[0].sku }}
                        .order-label {{ ::lightPage.CONFIGMENU_GLASS }}
                      li.order-item
                        .order-value(ng-if="product.construction_type === 4") {{ product.doorHandle.name }} / {{ product.doorLock.name }}
                        .order-value(ng-if="product.construction_type !== 4") {{ product.hardware.name }}
                        .order-label {{ ::lightPage.CONFIGMENU_HARDWARE }}
                      li.order-item
                        .order-label {{ ::lightPage.CONFIGMENU_LAMINATION_TYPE }}
                        .order-value
                          span(ng-if="product.lamination.lamination_in_id > 1") {{ product.lamination.laminat_in_name }}
                          span(ng-if="product.lamination.lamination_in_id === 1") {{ product.lamination.laminat_in_name |translate }}
                          span /
                          span(ng-if="product.lamination.lamination_out_id > 1") {{ product.lamination.laminat_out_name }}
                          span(ng-if="product.lamination.lamination_out_id === 1") {{ product.lamination.laminat_out_name |translate }}
                        .order-label {{ ::lightPage.CONFIGMENU_LAMINATION }}
                      li.order-item.addelements-btn(fs-click="lightPage.showAddElementDetail($index)")
                        .order-value {{lightPage.C.cart.allAddElements[$index].length + lightPage.coutNull(lightPage.O.order.products[$index].services_price_arr)}}
                          ng-pluralize(count="lightPage.C.cart.allAddElements[$index].length",
                          when="{'0': '{{ lightPage.config.elements }}', '1': '{{ lightPage.config.element }}', '2': '{{ lightPage.config.elementa }}', '3': '{{ lightPage.config.elementa }}', '4': '{{ lightPage.config.elementa }}', 'other': '{{ lightPage.config.elements }}'}")
                        .order-label {{ ::lightPage.CONFIGMENU_ADDITIONAL }}
                    .order-qty
                      button.order-tool(fs-click="lightPage.decreaseProductQty($index)") -
                      .order-value {{ product.product_qty }}
                      button.order-tool(fs-click="lightPage.increaseProductQty($index)") +
                      .order-label.qty-label {{ ::lightPage.PRODUCT_QTY }}
                  .order-footer
                    .order-price(price-fixed="{{lightPage.P.product.productPriceDis}}", qty-element="{{product.product_qty}}", currency-element="{{lightPage.U.userInfo.currency}}")
                    .order-comment-btn(ng-if="product.comment.length", ng-class="{'active': lightPage.config.isProductComment === $index+1}", fs-click="lightPage.switchProductComment($index)")
                  .order-comment(ng-class="{'active': lightPage.config.isProductComment === $index+1}")
                    .order-comment-box
                      .order-comment-title {{ ::lightPage.ORDER_COMMENT }}
                      .order-comment-content {{ lightPage.O.order.comment }}
                .add-new-product.order(ng-click="lightPage.addNewProductInOrder()")
                  .add-img
                    | +
                  .title {{lightPage.ADD_ORDER}}
                  .order-footer

            .template-window(ng-if="lightPage.C.cart.showCurrentTemp")
              button.close-cur-window(ng-click="lightPage.C.cart.showCurrentTemp=0")
              img.edit-cur-window(ng-src='img/copy_edit.png', ng-click="lightPage.fastEdit(lightPage.C.cart.curProd, 'product')")
              svg-template(template="lightPage.O.order.products[lightPage.C.cart.curProd].template", template-width="630", template-height="630", type-construction="lightPage.constants.SVG_ID_GLASS")

            .discount-container
              .discount-box.selected
                .discount-data
                  label.disc-input.noPreventDefault#disc-input-main {{lightPage.C.cart.averageDisc | number : 2}}
                  label %
                .discount-txt-arrow(ng-click="lightPage.toggleDiscount()")
                  .discounts-label {{lightPage.DISCOUNT}}
                  .discounts-icon-down(ng-if="!lightPage.G.global.toggleDiscount")
                  .discounts-icon-up(ng-if="lightPage.G.global.toggleDiscount")
              .disc(ng-if="lightPage.G.global.toggleDiscount")
                .discount-box.selected
                  .discount-data(ng-keyup="lightPage.enterKeyPrice(event)")
                    .disc-max(ng-show="lightPage.C.cart.tempConstructDisc > lightPage.U.userInfo.discountConstrMax") {{ ::lightPage.MAX }} {{lightPage.U.userInfo.discountConstrMax}}%
                    input.disc-input.noPreventDefault#disc-input(type="number" value="0" ng-model="lightPage.C.cart.tempConstructDisc")
                    |%
                  .discount-txt(ng-click="lightPage.approveNewDisc(0)")
                    .discounts-label {{ ::lightPage.DISCOUNT_WINDOW }}

                .discount-box.selected
                  .discount-data(ng-keyup="lightPage.enterKeyDop(event)")
                    .disc-max(ng-show="lightPage.C.cart.tempAddelemDisc > lightPage.U.userInfo.discountAddElemMax") {{ ::lightPage.MAX }} {{lightPage.U.userInfo.discountAddElemMax}}%
                    input.disc-input.noPreventDefault#disc-input-add(type="number" value="0" ng-model="lightPage.C.cart.tempAddelemDisc")
                    |%
                  .discount-txt(ng-click="lightPage.approveNewDisc(1)")
                    .discounts-label {{ ::lightPage.DISCOUNT_ADDELEM }}

                .discount-box.selected
                  .discount-data(ng-keyup="lightPage.enterKeyDopService(event)")
                    .disc-max(ng-show="lightPage.U.userInfo.discount_service > 100") {{ ::lightPage.MAX }} {{'100'}}%
                    input.disc-input.noPreventDefault#disc-input-service(type="number" ng-model="lightPage.C.cart.discount_service")
                    |%
                  .discount-txt(ng-click="lightPage.approveNewDisc(2)")
                    .discounts-label {{lightPage.DISCOUNT_SERVICE}}

            .discount-container
              .discount-title {{ ::lightPage.DISCOUNT }}
              .discount-price-container
                .discount-price-box
                  .discount-price-label {{ ::lightPage.DISCOUNT_WITHOUT }}
                  .discount-price {{ lightPage.O.order.order_price }} {{lightPage.U.userInfo.currency}}
                .discount-price-box
                  .discount-price-label {{ ::lightPage.DISCOUNT_WITH }}
                  .discount-price {{ lightPage.O.order.productsPriceDis }} {{lightPage.U.userInfo.currency}}
                .discount-price-box
                  .discount-price-label {{ ::lightPage.DISCOUNT }}
                  .discount-price {{ lightPage.C.cart.discountPriceDiff }} {{lightPage.U.userInfo.currency}}
        //-rehau template for cards ---------------------
        section.cart-page(ng-if="lightPage.G.global.showCart === 1 && lightPage.U.userInfo.factory_id === 2")
          section.cart-container-rehau.full-view(ng-class="{'discount': lightPage.C.cart.isShowDiscount}")
            .scroll-hor-container-rehau
              .order-block
                .order-rehau(ng-repeat="product in lightPage.O.order.products | orderBy: 'product_id' track by $index")
                  button.delete-construction(fs-click="lightPage.clickDeleteProduct($index)")
                  img.eddit-construction(ng-src='img/rehau-img/eddit-construction.png' fs-click="lightPage.box($index, 'product')")
                  .order-header(ng-click="lightPage.showCartTemplte($index)")
                    .order-template-rehau
                      svg-template(template="product.templateIcon", template-width="lightPage.constants.svgTemplateIconWidthCart", template-height="lightPage.constants.svgTemplateIconHeightCart", type-construction="lightPage.constants.SVG_CLASS_ICON")
                    .order-u-coeff(ng-if="!lightPage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': product.heat_coef_total > lightPage.O.order.heat_coef_min}")
                      div U = {{ product.heat_coef_total }}
                      div {{ ::lightPage.HEATCOEF_VAL }}/{{ ::lightPage.LETTER_M }} &sup2;&middot;&deg;C
                  .order-content-rehau
                    ul.order-list
                      li.order-item-rehau
                        .order-label-rehau Ширина x Высота
                        .order-value-rehau(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ product.template_width }}x{{ product.template_height }} {{ ::lightPage.MM }} 
                      li.order-item-rehau
                        .order-label-rehau {{ ::lightPage.CONFIGMENU_PROFILE }}
                        .order-value-rehau(ng-if="product.construction_type !== 4") {{ product.profile.short_name }}
                      li.order-item-rehau(ng-if="product.glass.length > 1")
                        .order-label-rehau {{ ::lightPage.CONFIGMENU_GLASS }}
                        .order-value-rehau {{ product.glass[0].sku + ', ...' }}
                      li.order-item-rehau(ng-if="product.glass.length <= 1")
                        .order-label-rehau {{ ::lightPage.CONFIGMENU_GLASS }}
                        .order-value-rehau {{ product.glass[0].sku }}
                      li.order-item-rehau
                        .order-label-rehau {{ ::lightPage.CONFIGMENU_LAMINATION }}
                        .order-value-rehau
                          span(ng-if="product.lamination.lamination_in_id > 1") {{ product.lamination.laminat_in_name }}
                          span(ng-if="product.lamination.lamination_in_id === 1") {{ product.lamination.laminat_in_name |translate }}
                          span /
                          span(ng-if="product.lamination.lamination_out_id > 1") {{ product.lamination.laminat_out_name }}
                          span(ng-if="product.lamination.lamination_out_id === 1") {{ product.lamination.laminat_out_name |translate }}
                      li.order-item-rehau.addelements-btn(fs-click="lightPage.showAddElementDetail($index)")
                        .order-label-rehau {{ ::lightPage.CONFIGMENU_ADDITIONAL }}
                        .order-value-rehau {{lightPage.C.cart.allAddElements[$index].length + lightPage.coutNull(lightPage.O.order.products[$index].services_price_arr)}}
                          ng-pluralize(count="lightPage.C.cart.allAddElements[$index].length",
                          when="{'0': '{{ lightPage.config.elements }}', '1': '{{ lightPage.config.element }}', '2': '{{ lightPage.config.elementa }}', '3': '{{ lightPage.config.elementa }}', '4': '{{ lightPage.config.elementa }}', 'other': '{{ lightPage.config.elements }}'}")
                    .order-qty
                      button.order-tool-minus-rehau(fs-click="lightPage.decreaseProductQty($index)")
                      .order-value-qty {{ product.product_qty }}
                      button.order-tool-plus-rehau(fs-click="lightPage.increaseProductQty($index)")
                  .order-footer-rehau
                    .order-footer-warmcoef
                      <h3>Оценка<br>энергоэффективности</h3>
                      <h2>7.4<h2>
                    .order-footer-price-rehau
                      <h3>Стоимость<br>окна</h3>
                      .order-price(price-fixed="{{lightPage.P.product.productPriceDis}}", qty-element="{{product.product_qty}}", currency-element="{{lightPage.U.userInfo.currency}}")
                    
                    
                .add-new-product-rehau.order-rehau(ng-click="lightPage.addNewProductInOrder()")
                  .add-img-rehau 
                    img(src="../../img/rehau-img/plus-gray.svg", alt="")
                  .order-footer

            .template-window(ng-if="lightPage.C.cart.showCurrentTemp")
              button.close-cur-window(ng-click="lightPage.C.cart.showCurrentTemp=0")
              img.edit-cur-window(ng-src='img/copy_edit.png', ng-click="lightPage.fastEdit(lightPage.C.cart.curProd, 'product')")
              svg-template(template="lightPage.O.order.products[lightPage.C.cart.curProd].template", template-width="630", template-height="630", type-construction="lightPage.constants.SVG_ID_GLASS")

            .discount-container
              .discount-box.selected
                .discount-data
                  label.disc-input.noPreventDefault#disc-input-main {{lightPage.C.cart.averageDisc | number : 2}}
                  label %
                .discount-txt-arrow(ng-click="lightPage.toggleDiscount()")
                  .discounts-label {{lightPage.DISCOUNT}}
                  .discounts-icon-down(ng-if="!lightPage.G.global.toggleDiscount")
                  .discounts-icon-up(ng-if="lightPage.G.global.toggleDiscount")
              .disc(ng-if="lightPage.G.global.toggleDiscount")
                .discount-box.selected
                  .discount-data(ng-keyup="lightPage.enterKeyPrice(event)")
                    .disc-max(ng-show="lightPage.C.cart.tempConstructDisc > lightPage.U.userInfo.discountConstrMax") {{ ::lightPage.MAX }} {{lightPage.U.userInfo.discountConstrMax}}%
                    input.disc-input.noPreventDefault#disc-input(type="number" value="0" ng-model="lightPage.C.cart.tempConstructDisc")
                    |%
                  .discount-txt(ng-click="lightPage.approveNewDisc(0)")
                    .discounts-label {{ ::lightPage.DISCOUNT_WINDOW }}

                .discount-box.selected
                  .discount-data(ng-keyup="lightPage.enterKeyDop(event)")
                    .disc-max(ng-show="lightPage.C.cart.tempAddelemDisc > lightPage.U.userInfo.discountAddElemMax") {{ ::lightPage.MAX }} {{lightPage.U.userInfo.discountAddElemMax}}%
                    input.disc-input.noPreventDefault#disc-input-add(type="number" value="0" ng-model="lightPage.C.cart.tempAddelemDisc")
                    |%
                  .discount-txt(ng-click="lightPage.approveNewDisc(1)")
                    .discounts-label {{ ::lightPage.DISCOUNT_ADDELEM }}

                .discount-box.selected
                  .discount-data(ng-keyup="lightPage.enterKeyDopService(event)")
                    .disc-max(ng-show="lightPage.U.userInfo.discount_service > 100") {{ ::lightPage.MAX }} {{'100'}}%
                    input.disc-input.noPreventDefault#disc-input-service(type="number" ng-model="lightPage.C.cart.discount_service")
                    |%
                  .discount-txt(ng-click="lightPage.approveNewDisc(2)")
                    .discounts-label {{lightPage.DISCOUNT_SERVICE}}

            .discount-container
              .discount-title {{ ::lightPage.DISCOUNT }}
              .discount-price-container
                .discount-price-box
                  .discount-price-label {{ ::lightPage.DISCOUNT_WITHOUT }}
                  .discount-price {{ lightPage.O.order.order_price }} {{lightPage.U.userInfo.currency}}
                .discount-price-box
                  .discount-price-label {{ ::lightPage.DISCOUNT_WITH }}
                  .discount-price {{ lightPage.O.order.productsPriceDis }} {{lightPage.U.userInfo.currency}}
                .discount-price-box
                  .discount-price-label {{ ::lightPage.DISCOUNT }}
                  .discount-price {{ lightPage.C.cart.discountPriceDiff }} {{lightPage.U.userInfo.currency}}
            //-rehau template for cards END -------------------------

        .addelements-detail(ng-if="lightPage.config.isAddElementDetail")
          .addelements-detail-header
            .addelements-detail-tools
              button.addelements-detail-edit(fs-click="lightPage.editProduct(lightPage.config.detailProductIndex, 'auxiliary')") {{ ::lightPage.ADDELEMENTS_EDIT_LIST }}
              button.addelements-detail-close(fs-click="lightPage.closeAddElementDetail()")
            .product-template(ng-hide="lightPage.O.order.products[lightPage.config.detailProductIndex].is_addelem_only")
              .addelements-detail-row
                .product-value
                  .product-icon-thumb
                    svg-template(template="lightPage.O.order.products[lightPage.config.detailProductIndex].templateIcon", template-width="lightPage.constants.svgTemplateIconWidth", template-height="lightPage.constants.svgTemplateIconHeight", type-construction="lightPage.constants.SVG_CLASS_ICON")
                  span.product-template-qty X {{ lightPage.O.order.products[lightPage.config.detailProductIndex].product_qty }}
                .product-icon-label {{ ::lightPage.PRODUCT_QTY }}
              .addelements-detail-row
                .product-value(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ lightPage.O.order.products[lightPage.config.detailProductIndex].template_width }} {{ ::lightPage.MM }} *
                .product-value(ng-if='lightPage.U.userInfo.factory_id===1966') {{ lightPage.O.order.products[lightPage.config.detailProductIndex].template_width*0.0393701 | number : 0 }} {{ ::lightPage.INCH }} *
                .product-label {{ ::lightPage.WIDTH_LABEL }}
              .addelements-detail-row
                .product-value(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ lightPage.O.order.products[lightPage.config.detailProductIndex].template_height }} {{ ::lightPage.MM }}
                .product-value(ng-if='lightPage.U.userInfo.factory_id===1966') {{ lightPage.O.order.products[lightPage.config.detailProductIndex].template_height*0.0393701 | number : 0 }} {{ ::lightPage.INCH }}
                .product-label {{ ::lightPage.HEIGHT_LABEL }}
          .addelements-detail-content
            ul.addelements-detail-list
              li.addelements-detail-item(ng-repeat="addelement in lightPage.C.cart.allAddElements[lightPage.config.detailProductIndex] track by $index", ng-switch="addelement.element_type")
                .product-value {{ addelement.name }}
                .product-value(ng-switch-when="0") {{ ::lightPage.GRID }}
                .product-value(ng-switch-when="1") {{ ::lightPage.VISOR }}
                .product-value(ng-switch-when="2") {{ ::lightPage.SPILLWAY }}
                .product-value(ng-switch-when="3") {{ ::lightPage.OUTSIDE }}
                .product-value(ng-switch-when="4") {{ ::lightPage.LOUVERS }}
                .product-value(ng-switch-when="5") {{ ::lightPage.INSIDE }}
                .product-value(ng-switch-when="6") {{ ::lightPage.CONNECTORS }}
                .product-value(ng-switch-when="7") {{ ::lightPage.FAN }}
                .product-value(ng-switch-when="8") {{ ::lightPage.WINDOWSILL }}
                .product-value(ng-switch-when="9") {{ ::lightPage.HANDLEL }}
                .product-value(ng-switch-when="10") {{ ::lightPage.OTHERS }}
                .addelement-parameters
                  .addelement-parameter(ng-if="addelement.element_width")
                  .addelement-value(ng-if='lightPage.U.userInfo.factory_id===1966') {{ addelement.element_width*0.0393701 | number : 0  }}
                  .addelement-value(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ addelement.element_width }}
                  .addelement-label {{ ::lightPage.WIDTH_LABEL }}
                .addelement-parameter(ng-show="addelement.element_height")
                  .addelement-value(ng-if='lightPage.U.userInfo.factory_id===1966') {{ addelement.element_height*0.0393701 | number : 0  }}
                  .addelement-value(ng-if='lightPage.U.userInfo.factory_id!==1966') {{ addelement.element_height }}
                  .addelement-label {{ ::lightPage.HEIGHT_LABEL }}
                .addelement-parameter(ng-if="addelement.element_qty")
                  .addelement-value {{ addelement.element_qty }}
                  .addelement-label {{ ::lightPage.QTY_LABEL }}
            .service-block
              .sb-1(ng-if="lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[0]")
                | {{lightPage.SERV1}} - {{lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[0]}} {{lightPage.U.userInfo.currency}}
              .sb-2(ng-if="lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[1]")
                | {{lightPage.SERV2}} - {{lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[1]}} {{lightPage.U.userInfo.currency}}
              .sb-3(ng-if="lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[2]")
                | {{lightPage.SERV3}} - {{lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[2]}} {{lightPage.U.userInfo.currency}}
              .sb-4(ng-if="lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[3]")
                | {{lightPage.SERV4}} - {{lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[3]}} {{lightPage.U.userInfo.currency}}
              .sb-5(ng-if="lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[4]")
                | {{lightPage.OTHER}} - {{lightPage.O.order.products[lightPage.config.detailProductIndex].services_price_arr[4]}} {{lightPage.U.userInfo.currency}}
            .addelements-detail-row.price-one-product
              .addelement-price-value(price-fixed="{{lightPage.O.order.products[lightPage.config.detailProductIndex].addelemPriceDis+ lightPage.O.order.products[lightPage.config.detailProductIndex].service_price_dis}}", qty-element="1", currency-element="{{lightPage.U.userInfo.currency}}")
              .product-label {{ ::lightPage.ADDELEMENTS_PRODUCT_COST }}
          .addelements-detail-footer
            div(price-fixed="{{lightPage.O.order.products[lightPage.config.detailProductIndex].addelemPriceDis + lightPage.O.order.products[lightPage.config.detailProductIndex].service_price_dis}}", qty-element="{{lightPage.O.order.products[lightPage.config.detailProductIndex].product_qty}}", currency-element="{{lightPage.U.userInfo.currency}}")
            div &#8721;
        .backDarkView(ng-if="lightPage.config.isAddElementDetail", ng-click="lightPage.closeAddElementDetail()")



        include panels/_add-elements-cart
      .config-menu(ng-controller="ConfigMenuCtrl as configMenu")
        include menus/_addelems-menu
        .config-title-rehau(ng-if="lightPage.U.userInfo.factory_id == 2")
          h1 Онлайн калькулятор 
          h3 Задайте параметры вашего окна

        .config-buttons(ng-if="lightPage.U.userInfo.factory_id !== 2")
          .karkas-button(ng-click="configMenu.karkasButton()", ng-class="{'active': configMenu.G.global.showKarkas == 1}")
              .img-border(ng-class="{'active': configMenu.G.global.showKarkas == 1}")
                .img-karkas(ng-class="{'active': configMenu.G.global.showKarkas == 1}")
              p {{lightPage.KARKAS}}
            .configuration-button(ng-click="configMenu.configButton()", ng-class="{'active': configMenu.G.global.showConfiguration == 1}")
              .img-border(ng-class="{'active': configMenu.G.global.showConfiguration == 1}")
                .img-configuration(ng-class="{'active': configMenu.G.global.showConfiguration == 1}")
              p {{lightPage.KONFIG}}.
            .cart-button(ng-click="configMenu.cartButton()", ng-class="{'active': configMenu.G.global.showCart == 1}")
              .order-qty-menu(ng-class="{'active': configMenu.G.global.showCart == 1}")
                p {{ configMenu.G.global.construction_count }}
              .img-border(ng-class="{'active': configMenu.G.global.showCart == 1}")
                .img-cart(ng-class="{'active': configMenu.G.global.showCart == 1}")
              p {{lightPage.CART}}

        //- Rehau template --------------------
        .karkas-rehau(ng-controller="DesignCtrl as designPage", ng-if="configMenu.G.global.showKarkas", ng-show="lightPage.U.userInfo.factory_id === 2")
         .construction-left-menu-rehau
            ul.figure-lists-rehau
              li.figure-item-rehau.temp-fig-rehau(ng-click="designPage.selectMenuItem(6)")
                .figure-item-rehau-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 6, 'hov': designPage.D.design.activeMenuItem !== 6}")
                .figure-label-rehau(typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}") <span>Шаблон</span>
                .figure-label-rehau-subtitle(ng-if="!designPage.G.global.SelectedTemplateName", data-output="Поворотное с импостом"  typing="{{ lightPage.config.typing }}", typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}")
                .figure-label-rehau-subtitle(ng-if="designPage.G.global.SelectedTemplateName", data-output="{{ lightPage.G.global.SelectedTemplateName }}"  typing="{{ lightPage.config.typing }}", typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}") 

              hr.separator
              li.figure-item-rehau(fs-click="configMenu.selectConfigPanel(2)")
                .figure-item-rehau-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 3}")
                .figure-label-rehau(typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}") <span>Профиль<span>
                .figure-label-rehau-subtitle(data-output="{{ lightPage.P.product.profile.name }}", typing="{{ lightPage.config.typing }}", typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}")
              hr.separator
              li.figure-item-rehau(fs-click="configMenu.selectConfigPanel(3)")
                .figure-item-rehau-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 1, 'hov': designPage.D.design.activeMenuItem !== 1}")
                .figure-label-rehau(typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}") <span>Стеклопакет<span>
                .figure-label-rehau-subtitle(data-output="{{ lightPage.P.product.glass[0].sku }}", typing="{{ lightPage.config.typing }}", typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}") <span>4-16-4</span>
              hr.separator
              li.figure-item-rehau(fs-click="configMenu.selectConfigPanel(5)")
                .figure-item-rehau-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 2, 'hov': designPage.D.design.activeMenuItem !== 2}") 
                .figure-label-rehau(typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}") <span>Ламинация<span>
                .figure-label-rehau-subtitle(data-output="{{ lightPage.P.product.lamination.laminat_in_name | translate }}", typing="{{ lightPage.config.typing }}", typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}")
              hr.separator
              li.figure-item-rehau(ng-class="{'active': configMenu.G.global.activePanel == 6, 'hov': configMenu.G.global.activePanel !== 6}", fs-click="configMenu.selectConfigPanel(6)")
                .figure-label-rehau(typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}") <span>Доп. элементы<span>
                .figure-label-rehau-subtitle(ng-hide="configMenu.P.product.addelem_price > 0", data-output="{{ ::configMenu.CONFIGMENU_NO_ADDELEMENTS_REHAU }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
                //- .additional-items-list
                //-   ul.additional-items-group(ng-repeat="addElementGroup in configMenu.P.product.chosenAddElements")
                //-     li.additional-item(ng-repeat="addElement in addElementGroup")
                //-       span.value-rehau(data-output="") {{ addElement.name }}
              hr.separator

            #impost-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 3}")
              .constr-shape-icon.impost-vert(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(2)")
              .constr-shape-icon.impost-hor(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(3)")
              .constr-shape-icon.impost-inc-hor(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(4)")
              .drop-shape-icon.impost-inc-hor2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(5)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
              .drop-shape-icon.impost-inc-vert(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(6)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
              .drop-shape-icon.impost-inc-vert2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(7)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
              .constr-shape-icon.impost-curv-right(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(8)")
              .drop-shape-icon.impost-curv-left(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(9)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
              .drop-shape-icon.impost-curv-up(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(10)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
              .drop-shape-icon.impost-curv-down(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(11)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
              .constr-shape-icon.impost-curv1(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(12)")
              .drop-shape-icon.impost-curv3(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(13)", ng-class="{'active': designPage.D.design.isDropSubMenu == 12}")
              //.constr-shape-icon.impost-curv4(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(14)")
              //.constr-shape-icon.impost-curv2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(15)")
              .constr-shape-icon.clean(ng-if="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(1)")

            #sash-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 1}")
              .constr-shape-icon.sash-left(ng-click="designPage.insertSash(2)")
              .drop-shape-icon.sash-right(ng-click="designPage.insertSash(3)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
              .drop-shape-icon.sash-up(ng-click="designPage.insertSash(4)", ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
              .drop-shape-icon.sash-down(ng-click="designPage.insertSash(5)", ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
              .constr-shape-icon.sash-right-up(ng-click="designPage.insertSash(6)", ng-hide="designPage.P.product.construction_type === 4")
              .drop-shape-icon.sash-left-up(ng-click="designPage.insertSash(7)", ng-class="{'active': designPage.D.design.isDropSubMenu == 6}", ng-hide="designPage.P.product.construction_type === 4")
              .constr-shape-icon(ng-click="designPage.insertSash(8)", ng-class="(designPage.P.product.construction_type === 4) ? 'sash-shtulp-left-door' : 'sash-shtulp-left'")
              .drop-shape-icon.sash-shtulp-right(ng-click="designPage.insertSash(9)", ng-class="[ (designPage.P.product.construction_type === 4) ? 'sash-shtulp-right-door' : 'sash-shtulp-right' , {'active': designPage.D.design.isDropSubMenu == 8, 'left': designPage.P.product.construction_type === 4}]")
              .constr-shape-icon.clean(ng-click="designPage.insertSash(1)")

            #angel-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 2}")
              .constr-shape-icon.corner(ng-click="designPage.insertCorner(2)")
              .constr-shape-icon.corner-curv(ng-click="designPage.insertCorner(3)")
              .constr-shape-icon.clean(ng-click="designPage.insertCorner(1)")

            #arc-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 4}")
              .constr-shape-icon.arc(ng-click="designPage.insertArc(2)")
              .constr-shape-icon.clean(ng-click="designPage.insertArc(1)")

            #position-menu-for-position.edit_submenu(ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.activeSubMenuItem == 5}")
              //- .constr-shape-icon.mirror(ng-click="designPage.initMirror()")
              .constr-shape-position(ng-click="designPage.positionAxis()") {{::designPage.BY_AXIS}}
              .constr-shape-position(ng-click="designPage.positionGlass()") {{::designPage.BY_GLASS}}
         //- Rehau template end ---------------------

        .karkas(ng-controller="DesignCtrl as designPage", ng-if="configMenu.G.global.showKarkas", ng-show="lightPage.U.userInfo.factory_id !== 2")
          .construction-left-menu
            ul.figure-lists
              li.figure-item.temp-fig(ng-click="designPage.selectMenuItem(6)", ng-class="{'selected': designPage.D.design.activeMenuItem == 6, 'hov': designPage.D.design.activeMenuItem !== 6}")
                .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 6, 'hov': designPage.D.design.activeMenuItem !== 6}")
                  img.template-icon(src="img/config-menu/template.svg")
                .figure-label(data-output="{{ ::designPage.ROOM_SELECTION }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
              hr.separator
              li.figure-item(ng-click="designPage.selectMenuItem(3)",ng-class="{'selected': designPage.D.design.activeMenuItem == 3, 'hov': designPage.D.design.activeMenuItem !== 3}")
                .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 3, 'hov': designPage.D.design.activeMenuItem !== 3}")
                  .figure-icon-top.impost-shape-a
                  .figure-icon-bottom.impost-shape-b
                .figure-label(data-output="{{ ::designPage.IMPOST_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
              hr.separator
              li.figure-item(ng-click="designPage.selectMenuItem(1)",ng-class="{'selected': designPage.D.design.activeMenuItem == 1, 'hov': designPage.D.design.activeMenuItem !== 1}")
                .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 1, 'hov': designPage.D.design.activeMenuItem !== 1}")
                  .figure-icon-top.sash-shape-a
                  .figure-icon-bottom.sash-shape-b
                .figure-label(data-output="{{ ::designPage.SASH_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
              hr.separator
              li.figure-item(ng-click="designPage.selectMenuItem(2)",ng-class="{'selected': designPage.D.design.activeMenuItem == 2, 'hov': designPage.D.design.activeMenuItem !== 2}")
                .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 2, 'hov': designPage.D.design.activeMenuItem !== 2}")
                  .figure-icon-top.angel-shape-a
                  .figure-icon-bottom.angel-shape-b
                .figure-label(data-output="{{ ::designPage.ANGEL_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
              hr.separator
              li.figure-item(ng-click="designPage.selectMenuItem(4)",ng-class="{'selected': designPage.D.design.activeMenuItem == 4, 'hov': designPage.D.design.activeMenuItem !== 4}")
                .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 4, 'hov': designPage.D.design.activeMenuItem !== 4}")
                  .figure-icon-top.arch-shape-a
                  .figure-icon-bottom.arch-shape-b
                .figure-label(data-output="{{ ::designPage.ARCH_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")
              hr.separator
              li.figure-item(ng-click="designPage.selectMenuItem(5)",ng-class="{'selected': designPage.D.design.activeMenuItem == 5, 'hov': designPage.D.design.activeMenuItem !== 5}")
                .figure-item-block(ng-class="{'selected': designPage.D.design.activeMenuItem == 5, 'hov': designPage.D.design.activeMenuItem !== 5}")
                  .figure-icon-top.position-shape-a
                  .figure-icon-bottom.position-shape-b
                .figure-label(data-output="{{ ::designPage.POSITION_SHAPE }}", typing="{{ designPage.config.typing }}", typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}")

            #impost-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 3}")
              .constr-shape-icon.impost-vert(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(2)")
              .constr-shape-icon.impost-hor(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(3)")
              .constr-shape-icon.impost-inc-hor(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(4)")
              .drop-shape-icon.impost-inc-hor2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(5)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
              .drop-shape-icon.impost-inc-vert(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(6)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
              .drop-shape-icon.impost-inc-vert2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(7)", ng-class="{'active': designPage.D.design.isDropSubMenu == 4}")
              .constr-shape-icon.impost-curv-right(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(8)")
              .drop-shape-icon.impost-curv-left(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(9)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
              .drop-shape-icon.impost-curv-up(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(10)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
              .drop-shape-icon.impost-curv-down(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(11)", ng-class="{'active': designPage.D.design.isDropSubMenu == 8}")
              .constr-shape-icon.impost-curv1(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(12)")
              .drop-shape-icon.impost-curv3(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(13)", ng-class="{'active': designPage.D.design.isDropSubMenu == 12}")
              //.constr-shape-icon.impost-curv4(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(14)")
              //.constr-shape-icon.impost-curv2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(15)")
              .constr-shape-icon.clean(ng-if="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(1)")

            #sash-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 1}")
              .constr-shape-icon.sash-left(ng-click="designPage.insertSash(2)")
              .drop-shape-icon.sash-right(ng-click="designPage.insertSash(3)", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
              .drop-shape-icon.sash-up(ng-click="designPage.insertSash(4)", ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
              .drop-shape-icon.sash-down(ng-click="designPage.insertSash(5)", ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")
              .constr-shape-icon.sash-right-up(ng-click="designPage.insertSash(6)", ng-hide="designPage.P.product.construction_type === 4")
              .drop-shape-icon.sash-left-up(ng-click="designPage.insertSash(7)", ng-class="{'active': designPage.D.design.isDropSubMenu == 6}", ng-hide="designPage.P.product.construction_type === 4")
              .constr-shape-icon(ng-click="designPage.insertSash(8)", ng-class="(designPage.P.product.construction_type === 4) ? 'sash-shtulp-left-door' : 'sash-shtulp-left'")
              .drop-shape-icon.sash-shtulp-right(ng-click="designPage.insertSash(9)", ng-class="[ (designPage.P.product.construction_type === 4) ? 'sash-shtulp-right-door' : 'sash-shtulp-right' , {'active': designPage.D.design.isDropSubMenu == 8, 'left': designPage.P.product.construction_type === 4}]")
              .constr-shape-icon.clean(ng-click="designPage.insertSash(1)")

            #angel-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 2}")
              .constr-shape-icon.corner(ng-click="designPage.insertCorner(2)")
              .constr-shape-icon.corner-curv(ng-click="designPage.insertCorner(3)")
              .constr-shape-icon.clean(ng-click="designPage.insertCorner(1)")

            #arc-shape-menu.edit_submenu(ng-class="{'active': designPage.D.design.activeSubMenuItem == 4}")
              .constr-shape-icon.arc(ng-click="designPage.insertArc(2)")
              .constr-shape-icon.clean(ng-click="designPage.insertArc(1)")

            #position-menu-for-position.edit_submenu(ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.activeSubMenuItem == 5}")
              //- .constr-shape-icon.mirror(ng-click="designPage.initMirror()")
              .constr-shape-position(ng-click="designPage.positionAxis()") {{::designPage.BY_AXIS}}
              .constr-shape-position(ng-click="designPage.positionGlass()") {{::designPage.BY_GLASS}}

        //.configuration( ng-if="configMenu.G.global.showConfiguration")
        .configuration(ng-if="configMenu.G.global.showConfiguration")
          ul.items-list.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_SHOW_CONFIG_LIST }}")
            li.item(ng-class="{'active': configMenu.G.global.activePanel == 2, 'hov': configMenu.G.global.activePanel !== 2}", fs-click="configMenu.selectConfigPanel(2)")
              .titleLight(data-output="{{ ::configMenu.CONFIGMENU_PROFILE }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'en' && configMenu.P.product.profile.translate.en", data-output="{{ configMenu.P.product.profile.translate.en }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'ru' && configMenu.P.product.profile.translate.ru", data-output="{{ configMenu.P.product.profile.translate.ru }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'uk' && configMenu.P.product.profile.translate.ua", data-output="{{ configMenu.P.product.profile.translate.ua }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'pl' && configMenu.P.product.profile.translate.pl", data-output="{{ configMenu.P.product.profile.translate.pl }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'de' && configMenu.P.product.profile.translate.de", data-output="{{ configMenu.P.product.profile.translate.de }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'bg' && configMenu.P.product.profile.translate.bg", data-output="{{ configMenu.P.product.profile.translate.bg }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'it' && configMenu.P.product.profile.translate.it", data-output="{{ configMenu.P.product.profile.translate.it }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'es' && configMenu.P.product.profile.translate.it", data-output="{{ configMenu.P.product.profile.translate.es }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'ro' && configMenu.P.product.profile.translate.ro", data-output="{{ configMenu.P.product.profile.translate.ro }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'en' && !configMenu.P.product.profile.translate.en", data-output="{{ configMenu.P.product.profile.name}}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'ru' && !configMenu.P.product.profile.translate.ru", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'uk' && !configMenu.P.product.profile.translate.ua", data-output="{{ configMenu.P.product.profile.name}}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'pl' && !configMenu.P.product.profile.translate.pl", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'de' && !configMenu.P.product.profile.translate.de", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'bg' && !configMenu.P.product.profile.translate.bg", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'it' && !configMenu.P.product.profile.translate.it", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'es' && !configMenu.P.product.profile.translate.es", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4 && configMenu.U.userInfo.langLabel === 'ro' && !configMenu.P.product.profile.translate.ro", data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type === 4") {{ configMenu.P.product.doorName | translate }}
              .value(ng-if="configMenu.P.product.construction_type === 4") {{ configMenu.P.product.doorSashName }}
            hr.separator
            li.item(ng-class="{'active': configMenu.G.global.activePanel == 3, 'hov': configMenu.G.global.activePanel !== 3}", fs-click="configMenu.selectConfigPanel(3)")
              .titleLight(data-output="{{ ::configMenu.CONFIGMENU_GLASS }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.glass.length == 1", data-output="{{ configMenu.P.product.glass[0].sku }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.glass.length == 2", data-output="{{ configMenu.P.product.glass[0].sku +', '+ configMenu.P.product.glass[1].sku }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.glass.length > 2", data-output="{{ configMenu.P.product.glass[0].sku +', '+ configMenu.P.product.glass[1].sku +', '+ configMenu.P.product.glass[2].sku }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
            hr.separator
            li.item(ng-class="{'active': configMenu.G.global.activePanel == 4, 'hov': configMenu.G.global.activePanel !== 4}", fs-click="configMenu.selectConfigPanel(4)")
              .titleLight(data-output="{{ ::configMenu.CONFIGMENU_HARDWARE }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type !== 4", data-output="{{ configMenu.P.product.hardware.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(ng-if="configMenu.P.product.construction_type === 4") {{ configMenu.P.product.doorHandle.name }}
              .value(ng-if="configMenu.P.product.construction_type === 4") {{ configMenu.P.product.doorLock.name }}
            hr.separator
            li.item(ng-class="{'active': configMenu.G.global.activePanel == 5, 'hov': configMenu.G.global.activePanel !== 5}", fs-click="configMenu.selectConfigPanel(5)")
              .titleLight(data-output="{{ ::configMenu.CONFIGMENU_LAMINATION }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .name(data-output="{{ ::configMenu.CONFIGMENU_LAMINATION_TYPE }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .value(data-output="{{ configMenu.P.product.lamination.laminat_in_name | translate}} / {{ configMenu.P.product.lamination.laminat_out_name | translate}}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
            hr.separator
            li.item(ng-class="{'active': configMenu.G.global.activePanel == 6, 'hov': configMenu.G.global.activePanel !== 6}", fs-click="configMenu.selectConfigPanel(6)")
              .titleLight(data-output="{{ ::configMenu.CONFIGMENU_ADDITIONAL }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .name(ng-hide="configMenu.P.product.addelem_price > 0", data-output="{{ ::configMenu.CONFIGMENU_NO_ADDELEMENTS }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
              .additional-items-list
                ul.additional-items-group(ng-repeat="addElementGroup in configMenu.P.product.chosenAddElements")
                  li.additional-item(ng-repeat="addElement in addElementGroup")
                    span.value(data-output="") {{ addElement.name }}

        .cart-menu(ng-if="configMenu.G.global.showCart && lightPage.U.userInfo.factory_id !== 2", ng-controller="CartMenuCtrl as cartMenu")
          ul.items-list
            li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 1, 'hov': cartMenu.config.activeMenuItem !== 1}", fs-click="cartMenu.selectMenuItem(1)")
              .title(data-output="{{ ::cartMenu.DELIVERY }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
              .cart-item-data
                .value(ng-show="!cartMenu.O.order.floor_id && !cartMenu.O.order.delivery_garbage_removal && !cartMenu.O.order.delivery_add", data-output="{{ ::cartMenu.SELF_EXPORT }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                .value(ng-show="cartMenu.O.order.floor_id", data-output="{{cartMenu.O.order.floorName}}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                .value(ng-show="cartMenu.O.order.delivery_garbage_removal", data-output="{{ ::cartMenu.GARBAGE_REMOVE  }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                .value(ng-show="cartMenu.O.order.delivery_add", data-output="{{ ::cartMenu.DELIVERY}}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")

                span.name.aside(ng-show="cartMenu.O.order.floor_id", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                span.name.aside(ng-show="cartMenu.O.order.floor_id || cartMenu.O.order.delivery_garbage_removal || cartMenu.O.order.delivery_add",
                data-output=" + {{ cartMenu.O.order.floor_price + cartMenu.O.order.delivery_garbage_removal + cartMenu.O.order.delivery_add}} {{ cartMenu.U.userInfo.currency }}",
                typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
            .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenu.config.activeMenuItem == 1 && cartMenu.G.global.supplyData.length}")
              ul.dropdown-items-list
                li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.floor_id}", fs-click="cartMenu.selectFloorPrice(0)")
                  .dropdown-item-inner
                    .value.drop-txt {{ ::cartMenu.SELF_EXPORT }}
                    .name.drop-txt
                li.dropdown-item(ng-repeat="supplyList in cartMenu.G.global.supplyData", ng-class="{'selected': supplyList.id == cartMenu.O.order.floor_id}", fs-click="cartMenu.selectFloorPrice(supplyList)")
                  .dropdown-item-inner
                    .value.drop-txt {{supplyList.name}} {{ ::cartMenu.FLOOR }}
                    .name.drop-txt + {{supplyList.priceReal}} {{ cartMenu.U.userInfo.currency }}
                li.dropdown-item
                  .dropdown-item-inner
                    .value.drop-txt {{ ::cartMenu.DELIVERY }}
                    input.name.drop-txt(type="number" ng-model="cartMenu.O.order.delivery_add" ng-change="cartMenu.calculateOrderPrice()")
                    .name.drop-txt {{ cartMenu.U.userInfo.currency }}
                li.dropdown-item
                  .dropdown-item-inner
                    .value.drop-txt {{ ::cartMenu.GARBAGE_REMOVE }}
                    input.name.drop-txt(type="number" ng-model="cartMenu.O.order.delivery_garbage_removal" ng-change="cartMenu.calculateOrderPrice()")
                    .name.drop-txt {{ cartMenu.U.userInfo.currency }}
            hr.separator

            li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 7, 'hov': cartMenu.config.activeMenuItem !== 7}", fs-click="cartMenu.selectMenuItem(7)")
              .title(data-output="{{::cartMenu.DIS_ASSEMBLING}}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
              .cart-item-data
                .value(ng-show="!cartMenu.O.order.dismantling_id", data-output="{{ ::cartMenu.WITHOUT_DIS_ASSEMBLING }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                .value(ng-show="cartMenu.O.order.dismantling_id", data-output="{{ cartMenu.O.order.dismantling_name }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                span.name.aside(ng-show="cartMenu.O.order.dismantling_id", data-output=" + {{ cartMenu.O.order.dismantling_price }} {{ cartMenu.U.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
            .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenu.config.activeMenuItem == 7 && cartMenu.G.global.disassemblyData.length}")
              ul.dropdown-items-list
                li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.dismantling_id}", fs-click="cartMenu.selectDisAssembling(0)")
                  .dropdown-item-inner
                    .value.drop-txt {{ ::cartMenu.WITHOUT_ASSEMBLING }}
                    .name.drop-txt {{ ::cartMenu.FREE }}
                li.dropdown-item(ng-repeat="assemb in cartMenu.G.global.disassemblyData", ng-class="{'selected': assemb.id == cartMenu.O.order.dismantling_id}", fs-click="cartMenu.selectDisAssembling(assemb)")
                  .dropdown-item-inner
                    .value.drop-txt {{ assemb.name }}
                    .name.drop-txt + {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}

            hr.separator
            li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 2, 'hov': cartMenu.config.activeMenuItem !== 2}", fs-click="cartMenu.selectMenuItem(2)")
              .title(data-output="{{ ::cartMenu.ASSEMBLING }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
              .cart-item-data
                .value(ng-show="!cartMenu.O.order.mounting_id", data-output="{{ ::cartMenu.WITHOUT_ASSEMBLING }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                .value(ng-show="cartMenu.O.order.mounting_id", data-output="{{ cartMenu.O.order.mountingName }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                span.name.aside(ng-show="cartMenu.O.order.mounting_id", data-output=" + {{ cartMenu.O.order.mounting_price }} {{ cartMenu.U.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
            .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenu.config.activeMenuItem == 2 && cartMenu.G.global.assemblingData.length}")
              ul.dropdown-items-list
                li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.mounting_id}", fs-click="cartMenu.selectAssembling(0)")
                  .dropdown-item-inner
                    .value.drop-txt {{ ::cartMenu.WITHOUT_ASSEMBLING }}
                    .name.drop-txt {{ ::cartMenu.FREE }}
                li.dropdown-item(ng-repeat="assemb in cartMenu.G.global.assemblingData", ng-class="{'selected': assemb.id == cartMenu.O.order.mounting_id}", fs-click="cartMenu.selectAssembling(assemb)")
                  .dropdown-item-inner
                    .value.drop-txt {{ assemb.name }}
                    .name.drop-txt + {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}
            hr.separator
            li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 6, 'hov': cartMenu.config.activeMenuItem !== 6}", fs-click="cartMenu.selectMenuItem(6)")
              .title(data-output="{{ cartMenu.ADD_SERVICES }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
              .cart-item-data
              .dismounting(ng-if="cartMenu.O.order.sale_price")
                .value(data-output="{{ cartMenu.O.order.sale_price }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
                label {{cartMenu.U.userInfo.currency}}
            .dismounting
              .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenu.config.activeMenuItem == 6}")
                input.comment-field.noPreventDefault(type="number" ng-model="cartMenu.O.order.sale_price" ng-change="cartMenu.calculateOrderPrice()")
                //label {{cartMenu.U.userInfo.currency}}
            hr.separator
            li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 5, 'hov': cartMenu.config.activeMenuItem !== 5}", fs-click="cartMenu.selectMenuItem(5)")
              .title(data-output="{{ ::cartMenu.COMMENT }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
              .cart-item-data
              .value(data-output="{{ cartMenu.O.order.comment }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
            .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenu.config.activeMenuItem == 5}")
              textarea.comment-field.noPreventDefault(ng-model="cartMenu.O.order.comment")

          footer.menu-footer
            .price-block.price-with-instalments(ng-class="{'active': cartMenu.O.order.is_instalment}", fs-click="cartMenu.swipeDiscountBlock()")
              .name {{ ::cartMenu.FIRST_PAYMENT_LABEL }} {{ cartMenu.O.order.selectedInstalmentPercent }} %
              .name {{ ::cartMenu.DATE_DELIVERY_LABEL }} {{cartMenu.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
              price(price-value="cartMenu.O.order.paymentFirstDis", price-currency="cartMenu.U.userInfo.currency")
              .name {{ cartMenu.O.order.selectedInstalmentPeriod }} {{ ::cartMenu.MONTHLY_PAYMENT_LABEL }}
              price(price-value="cartMenu.O.order.paymentMonthlyDis", price-currency="cartMenu.U.userInfo.currency")
            .price-block.price-without-instalments(ng-class="{'active': !cartMenu.O.order.is_instalment}", fs-click="cartMenu.swipeDiscountBlock()")
              .name {{ ::cartMenu.TOTAL_PRICE_LABEL }} {{cartMenu.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
              price(price-value="cartMenu.O.order.order_price_dis", price-currency="cartMenu.U.userInfo.currency")
            button.order-btn(ng-click="cartMenu.openOrderDialog()") {{ cartMenu.ORDER_LV }}



        //-rehau templates ---------------------------
        .cart-menu-rehau(ng-if="configMenu.G.global.showCart && lightPage.U.userInfo.factory_id === 2", ng-controller="CartMenuCtrl as cartMenu")
          ul.items-list
            li.item-rehau(ng-class="{'active': cartMenu.config.activeMenuItem == 5, 'hov': cartMenu.config.activeMenuItem !== 5}", fs-click="cartMenu.selectMenuItem(5)")
              .title-rehau(typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}") <h3>Заметка к заказу</h3>
              .cart-item-data-rehau
              .value-rehau-comment(data-output="{{ cartMenu.O.order.comment }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
            .dropdown-cart-menu-rehau.drop-calendar-rehau(ng-class="{'active': cartMenu.config.activeMenuItem == 5}")
              textarea.comment-field-rehau.noPreventDefault(ng-model="cartMenu.O.order.comment", placeholder="Пишите здесь")

          footer.menu-footer
            .price-block-rehau.price-with-instalments-rehau(ng-class="{'active': cartMenu.O.order.is_instalment}", fs-click="cartMenu.swipeDiscountBlock()")
              price(price-value="cartMenu.O.order.paymentFirstDis", price-currency="cartMenu.U.userInfo.currency")
              price(price-value="cartMenu.O.order.paymentMonthlyDis", price-currency="cartMenu.U.userInfo.currency")
            .price-block-rehau.price-without-instalments-rehau(ng-class="{'active': !cartMenu.O.order.is_instalment}")
              <h2>Итого:</h2> 
              price(price-value="cartMenu.O.order.order_price_dis", price-currency="cartMenu.U.userInfo.currency")
            button.order-btn-rehau(ng-click="cartMenu.openOrderDialog()") <h2>Оставить заявку</h2>
      
        .discount-block-rehau(ng-if="configMenu.G.global.showCart == 0", ng-show="lightPage.U.userInfo.factory_id == 2")
          .discount-price-rehau
            .price-text Цена:
            price(price-value="lightPage.G.global.tempPrice", price-currency="lightPage.U.userInfo.currency")
        .counter-block-rehau(ng-class="{'unactive': !lightPage.G.global.construction_count}" ng-if="configMenu.G.global.showCart == 0" ng-show="lightPage.U.userInfo.factory_id == 2")
          .counter-rehau
            input.prodcounter-rehau(readonly, ng-model="lightPage.G.global.construction_count", ng-click="configMenu.cartButton()")
          .save-block-rehau#save-block(ng-click="lightPage.checkForAddElem()")
            p {{lightPage.CONFIGMENU_IN_CART}}
        //- rehau template end  
        
        .discount-block(ng-if="configMenu.G.global.showCart == 0", ng-show="lightPage.U.userInfo.factory_id !== 2")
          .discount-priceRed {{ lightPage.P.product.product_price * lightPage.G.global.product_qty | number : 2}} {{lightPage.U.userInfo.currency}}
          .discount-price
            price(price-value="lightPage.G.global.tempPrice", price-currency="lightPage.U.userInfo.currency")
        .counter-block(ng-if="configMenu.G.global.showCart == 0", ng-show="lightPage.U.userInfo.factory_id !== 2")
          .counter
            input.prodcounter(min="1", ng-model="lightPage.G.global.product_qty", ng-click="lightPage.showCalck()")
          .save-block#save-block(ng-click="lightPage.checkForAddElem()")
            p {{lightPage.CONFIGMENU_IN_CART}}

        .curtain(ng-if="configMenu.P.product.is_addelem_only")  

        .menu_tooltip(ng-if="configMenu.G.global.configMenuTips && configMenu.G.global.isConfigMenu && !configMenu.G.global.productEditNumber", fs-click="configMenu.showNextTip()", ng-class="{'tempate_tip': configMenu.G.global.configMenuTips == 1, 'profile_tip': configMenu.G.global.configMenuTips == 2, 'glass_tip': configMenu.G.global.configMenuTips == 3}") {{ configMenu.config.TOOLTIP[configMenu.G.global.configMenuTips] }}
          .close_menu_tooltip
        .right-menu-footer
          .calculators-box.size-calculator(ng-class="{'active': lightPage.G.global.isSizeCalculator}" ng-if="lightPage.G.global.isSizeCalculator")
            include parts/_size-calculator
          .calculators-box.qty-calculator(ng-class="{'active': lightPage.G.global.isQtyCalculator}")
            include parts/_qty-calculator
          .calculators-box.serv-calculator(ng-class="{'active': lightPage.G.global.isServiceCalculator}" ng-if="lightPage.G.global.isServiceCalculator")
            include parts/_serviсe-calculator
    section.order-forms(ng-controller="OrderFormCtrl as orderForm")
      include parts/_form-master
      include parts/_form-order
      include parts/_form-credit
include parts/_info-box
include parts/_attantions
include parts/_danger-alert
include parts/_check-doors
include parts/_alert
include parts/_loader
include parts/_error-product
