section.settings.location-page
  .header
    button.back
    .location-current(data-output="Днепропетровск")
    button.save Отмена
  .location-container
    .lists
      ul.list
        li.item.click
          .location-label(data-output="Днепропетровск, Лнепропетровская область, Украина")
        li.item.click
          .location-label(data-output="Днепропетровск, Лнепропетровская область, Украина")
        li.item.click
          .location-label(data-output="Днепропетровск, Лнепропетровская область, Украина")