section.settings.location-page
  .header
    button.back
    .location-current(name="Днепропетровск")
    button.save Отмена
  .location-container
    .lists
      ul.list.unvisible
        li.item.click
          .location-label(name="Днепропетровск, Лнепропетровская область, Украина")
        li.item.click
          .location-label(name="Днепропетровск, Лнепропетровская область, Украина")
        li.item.click
          .location-label(name="Днепропетровск, Лнепропетровская область, Украина")