section.settings.location-page.login-container-mobView
  .header
    button.back
    input.location-current(type="text", ng-model="locationPage.userNewLocation")
    button.save(fs-click="locationPage.closeLocationPage()") {{ 'add_elements.CANCEL' | translate }}
  .location-container
    .lists
      ul.list
        li.item.click(ng-repeat="location in locationPage.locations | locationFilter:locationPage.userNewLocation track by $index", fs-click="locationPage.selectCity(location)")
          .location-label {{location.fullLocation}}


