section.login-page
  #login-container.login-container(ng-hide="!isCodeValid")
    .logo
    form(name='loginForm', novalidate, ng-submit="submitForm(loginForm)")
      .input-field(ng-class="{ 'has-error' : submitted && loginForm.phone.$error.required }")
        input.user-field(type="tel", name="phone", ng-model="user.phone", ng-pattern="", placeholder="Мобильный телефон", required)
        .error-tooltip(ng-show="submitted && loginForm.phone.$error.required") Заполните это поле.
        .error-tooltip(ng-show="submitted && loginForm.phone.$error.pattern || loginForm.phone.$dirty && loginForm.phone.$error.pattern") Неверный номер, формат +XX(XXX)XXX-XXXX.

      .input-field(ng-class="{ 'has-error' : submitted && loginForm.password.$error.required }")
        input.user-field(type="password", name="password", ng-model="user.password", ng-minlength="3", placeholder="Пароль", required)
        .error-tooltip(ng-show='submitted && loginForm.password.$error.required') Заполните это поле.
        .error-tooltip(ng-show='submitted && loginForm.password.$error.minlength || loginForm.password.$dirty && loginForm.password.$error.minlength') Слишком маленький пароль.

      button.login-submit(type="submit") Войти
  #code-container.login-container(ng-hide="isCodeValid")
    .logo
    .text-container
      p Сообщите этот код кому-нибудь.
    .text-container
      span Ваш код:
      span  drKJKsdf5645
    .text-container.error(ng-show="!isCodeCheckingSuccess")
      p Произошло что-то страшное, поэтому вы видите это сообщение об ошибке.
    button.login-submit(type="button", ng-click="checkCode()") ОК