section.login-page

  //---------------- LogIn Form
  #login-container.login-container(ng-hide="loginPage.isRegistration", ng-mousemove="loginPage.isSendEmail = false; loginPage.isUserNotExist = false; loginPage.isUserNotActive = false; loginPage.isUserPasswordError = false;")
    .attantion(ng-hide="loginPage.isOnline || !loginPage.isOffline") {{ 'login.OFFLINE' | translate }}
      button.inet_ok(hm-tap="loginPage.closeOfflineAlert()") {{ 'common_words.OK' | translate }}
    .attantion(ng-show="loginPage.isSendEmail") {{ 'login.USER_CHECK_EMAIL' | translate }}
    .attantion(ng-show="loginPage.isUserNotExist") {{ 'login.USER_NOT_EXIST' | translate }}
    .attantion(ng-show="loginPage.isUserNotActive") {{ 'login.USER_NOT_ACTIVE' | translate }}
    .attantion(ng-show="loginPage.isUserPasswordError") {{ 'login.USER_PASSWORD_ERROR' | translate }}
    .attantion(ng-show="loginPage.isStartImport") {{ 'login.IMPORT_DB' | translate }}
    .logo
    form(name='loginForm', novalidate, ng-submit="loginPage.enterForm(loginForm)")
      .input-field(ng-class="{ 'has-error': loginPage.submitted && loginForm.phone.$error.required }")
        input.user-field(type="tel", name="phone", ng-model="loginPage.user.phone", ng-pattern="loginPage.regPhone", ng-minlength="6", placeholder="{{ 'login.MOBILE' | translate }}", required)
        .error-tooltip(ng-show="loginPage.submitted && loginForm.phone.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && loginForm.phone.$error.pattern || loginForm.phone.$dirty && loginForm.phone.$error.pattern") {{ 'login.WRONG_NUMBER' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && loginForm.phone.$error.minlength || loginForm.phone.$dirty && loginForm.phone.$error.minlength") {{ 'login.SHORT_PHONE' | translate }}

      .input-field(ng-class="{ 'has-error' : loginPage.submitted && loginForm.password.$error.required }")
        input.user-field(type="password", name="password", ng-model="loginPage.user.password", ng-minlength="4", placeholder="{{ 'login.PASSWORD' | translate }}", required)
        .error-tooltip(ng-show='loginPage.submitted && loginForm.password.$error.required') {{ 'login.EMPTY_FIELD' | translate }}
        .error-tooltip(ng-show='loginPage.submitted && loginForm.password.$error.minlength || loginForm.password.$dirty && loginForm.password.$error.minlength') {{ 'login.SHORT_PASSWORD' | translate }}

      button.login-submit(type="submit") {{ 'login.ENTER' | translate }}
    button.login-submit(hm-tap="loginPage.switchRegistration()") {{ 'login.REGISTRATION' | translate }}

    //-------------- Factory List
    .factory_box(ng-show="loginPage.isFactoryId", ng-mousemove="loginPage.isFactoryNotSelect = false;")
      .attantion(ng-show="loginPage.isFactoryNotSelect") {{ 'login.SELECT_FACTORY' | translate }}
      button.close_dialog(type="button", hm-tap="loginPage.closeFactoryDialog()")
      .factory_title {{ 'login.SELECT_PRODUCER' | translate }}
      .factory_list
        table.factory_table
          tr.factory_item(ng-repeat="factory in loginPage.factories track by $index")
            td.factory_select
              input.radio-field(type="radio", name="factory", ng-model="loginPage.user.factoryId", ng-value="factory.id")
            td.factory_name {{ factory.name }}
            td.factory_place {{ factory.country }}, {{ factory.region }}, {{ factory.city }}
      button.login-submit(hm-tap="loginPage.selectFactory()") {{ 'common_words.SELECT' | translate }}


  //------------- Registration Form
  .login-container(ng-show="loginPage.isRegistration", ng-mousemove="loginPage.isUserExist = false;")
    button.close_dialog(type="button", hm-tap="loginPage.switchRegistration()")
    .attantion(ng-show="loginPage.isUserExist") {{ 'login.USER_EXIST' | translate }}
    .logo
    form(name='registrForm', novalidate, ng-submit="loginPage.registrForm(registrForm)")

      .input-field(ng-class="{ 'has-error' : loginPage.submitted && registrForm.name.$error.required }")
        input.user-field(type="text", name="name", ng-model="loginPage.user.name", ng-pattern="loginPage.regName", ng-minlength="3", placeholder="{{ 'cart.CLIENT_NAME' | translate }}", required)
        .error-tooltip(ng-show="loginPage.submitted && registrForm.name.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.name.$error.pattern || registrForm.name.$dirty && registrForm.name.$error.pattern") {{ 'login.WRONG_NAME' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.name.$error.minlength || registrForm.name.$dirty && registrForm.name.$error.minlength") {{ 'login.SHORT_NAME' | translate }}

      .input-field(ng-class="{ 'has-error': loginPage.submitted && registrForm.phone.$error.required }")
        input.user-field(type="tel", name="phone", ng-model="loginPage.user.phone", ng-pattern="loginPage.regPhone", ng-minlength="6", placeholder="{{ 'login.MOBILE' | translate }}", required)
        .error-tooltip(ng-show="loginPage.submitted && registrForm.phone.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.phone.$error.pattern || registrForm.phone.$dirty && registrForm.phone.$error.pattern") {{ 'login.WRONG_NUMBER' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.phone.$error.minlength || registrForm.phone.$dirty && registrForm.phone.$error.minlength") {{ 'login.SHORT_PHONE' | translate }}

      .input-field(ng-class="{ 'has-error': loginPage.submitted && registrForm.country.$error.required, 'placeholder-select': !loginPage.user.country }")
        select.user-select-field(name="country", ng-model="loginPage.user.country", ng-options="country.name for country in loginPage.generalLocations.countries | orderBy:'name'", ng-change="loginPage.selectLocation()", required)
          option(value='') {{ 'login.SELECT_COUNTRY' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.country.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

      .input-field(ng-class="{ 'has-error': loginPage.submitted && registrForm.region.$error.required, 'placeholder-select': !loginPage.user.region }")
        select.user-select-field(name="region", ng-model="loginPage.user.region", ng-options="region.name for region in loginPage.generalLocations.regions | filter: {countryId: loginPage.user.country.id}:true | orderBy:'name'", ng-change="loginPage.selectLocation()", ng-disabled="!loginPage.user.country", required)
          option(value='') {{ 'login.SELECT_REGION' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.region.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

      .input-field(ng-class="{ 'has-error': loginPage.submitted && registrForm.city.$error.required, 'placeholder-select': !loginPage.user.city }")
        select.user-select-field(name="city", ng-model="loginPage.user.city", ng-options="city.name for city in loginPage.generalLocations.cities | filter: {regionId: loginPage.user.region.id}:true | orderBy:'name'", ng-change="loginPage.selectLocation()", ng-disabled="!loginPage.user.region", required)
          option(value='') {{ 'login.SELECT_CITY' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.city.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

      .input-field(ng-class="{ 'has-error' : loginPage.submitted && registrForm.mail.$error.required }")
        input.user-field(type="email", name="mail", ng-model="loginPage.user.mail", ng-pattern="loginPage.regMail", placeholder="{{ 'cart.CLIENT_EMAIL' | translate }}", required)
        .error-tooltip(ng-show="loginPage.submitted && registrForm.mail.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.mail.$error.email") {{ 'cart.WRONG_EMAIL' | translate }}
        .error-tooltip(ng-show="loginPage.submitted && registrForm.mail.$error.pattern || registrForm.mail.$dirty && registrForm.mail.$error.pattern") {{ 'cart.WRONG_EMAIL' | translate }}

      button.login-submit(type="submit") {{ 'login.REGISTRATION' | translate }}

  .backDarkView(ng-show="loginPage.isFactoryId")
  .backDarkView(ng-show="loginPage.isOffline")