extend _template

block pageTitle
  - var pageTitle = 'Login'
block prepend body
  body
    section.login-page(ng-app="Login")
      .login-container(ng-controller="LoginCtrl")
        .logo
        form(name='loginForm', novalidate)
          .input-field(ng-class="{ 'has-error' : submitted && loginForm.phone.$error.required }")
            input.user-field(type="tel", name="phone", ng-model="user.phone", ng-pattern="regPhone", placeholder="Мобильный телефон", required)
            .error-tooltip(ng-show="submitted && loginForm.phone.$error.required") Заполните это поле.
            .error-tooltip(ng-show="submitted && loginForm.phone.$error.pattern || loginForm.phone.$dirty && loginForm.phone.$error.pattern") Неверный номер, формат +XX(XXX)XXX-XXXX.

          .input-field(ng-class="{ 'has-error' : submitted && loginForm.password.$error.required }")
            input.user-field(type="password", name="password", ng-model="user.password", ng-minlength="3", placeholder="Пароль", required)
            .error-tooltip(ng-show='submitted && loginForm.password.$error.required') Заполните это поле.
            .error-tooltip(ng-show='submitted && loginForm.password.$error.minlength || loginForm.password.$dirty && loginForm.password.$error.minlength') Слишком маленький пароль.

          button.login-submit(type="submit" ng-click="submitForm(loginForm)") Войти