section.page-container(ng-class="{ 'swiped': !mainPage.G.global.isNavMenu }")
  section.left-side
    include menus/_navigation-menu
  //TODO change to directive!!!! rooms will be more
  section.right-side(ng-class="{'main-page-bg': mainPage.G.global.currOpenPage === 'main', 'main-room-bg': mainPage.G.global.currOpenPage === 'main'}", ng-style="{'background-image':'url(img/rooms/'+mainPage.P.product.room_id+'.jpg)'}")
    section.main-content
      include parts/_user-info
      include parts/_main-central
      include parts/_room-info
      include parts/_room-selector

      include panels/_templates
      include panels/_profiles
      include panels/_glasses
      include panels/_hardwares
      include panels/_laminations
      include panels/_add-elements
      include panels/_add-elements-list
      include parts/_glass-selector
      .backDarkView(ng-show="mainPage.G.global.isShowCommentBlock")
    section.right-menu
      include menus/_config-menu
      include menus/_addelements-menu
  include parts/_info-box
include parts/_loader
include parts/_alert