section.page-container(ng-class="{ 'swiped': main.isConfigMenuShow }")
  section.left-side
    include menus/_navigation-menu
  section.right-side.child-room
    section.main-content
      include parts/_user-info
      include parts/_room-info
      include parts/_room-selector
      include parts/_scheme-view

      include panels/_template-selector
      include panels/_profile
      include panels/_glass
      include panels/_hardware-window
      include panels/_lamination
      include panels/_additional-elements
    section.right-menu
      include menus/_config-menu
      include menus/_elements-list