.mobile
    //.main-view
    .main-view(ng-hide='mobilePage.P.product.is_addelem_only')
        .svg-template(ng-controller="DesignCtrl as designPage")
            svg-template(template="designPage.D.design.templateTEMP", template-width="mobilePage.mobWidth", template-height="mobilePage.mobHeight", type-construction="designPage.constants.SVG_ID_EDIT")
    include mobile/price-mobile
    .content-container(ng-if="!mobilePage.isSet(0)")
        .templates-content(ng-if="mobilePage.isSet(1)")
            include mobile/templates-mobile
        .common-content-style(ng-if="mobilePage.isSet(2)")
            include mobile/karkas-mobile
        .common-content-style.config-content(ng-if="mobilePage.isSet(3)")
            include mobile/config-mobile

    .control-buttons-container
        .templates.control-button(ng-click="mobilePage.setTab(1)" ng-class="{ active: mobilePage.isSet(1) }")
            .img-common.templates-img
            p {{mobilePage.ROOM_SELECTION}}
        .karkas.control-button(ng-click="mobilePage.setTab(2)" ng-class="{ active: mobilePage.isSet(2) }")
            .img-common.karkas-img
            p {{mobilePage.KARKAS}}
        .config.control-button(ng-click="mobilePage.setTab(3)" ng-class="{ active: mobilePage.isSet(3) }")
            .img-common.config-img
            p {{mobilePage.KONFIG}}
        .cart.control-button(ng-click="mobilePage.setTab(4)" ng-class="{ active: mobilePage.isSet(4) }")
            .img-common.cart-img
                .qty-mobile#qty-mobile
                    span {{ mobilePage.G.global.construction_count }}
            p {{mobilePage.CART}}
    //- This piece of code is commented out in connection with this task, https://trello.com/c/0joTs55J/587
    //- in order for the mobile version to be able to open the side menu, just uncomment

    .burger(ng-click='mobilePage.OpenMenu()' ng-class="{ active: mobilePage.mobMenu }")
    section.mobile_disable(ng-if="mobilePage.U.userInfo.user_type !== 8" ng-class="burger:active")
        include mobile/left-menu-mobile
    include mobile/door-settings-mobile
    include mobile/heat-coef-mobile
    include mobile/profiles-mobile
    include mobile/glass-mobile
    include mobile/grid-selector-mobile
    include mobile/hardwares-mobile
    include mobile/lamination-mobile
    include mobile/add-elements-mobile
    include mobile/order-history-mobile
    section.mobile-order-forms(ng-controller="OrderFormCtrl as orderForm" ng-if="mobilePage.C.cart.isOrderDialog")
        include mobile/form-order-mobile
    include parts/_alert
    include parts/_info-box
    include mobile/attention-mobile
    include parts/_danger-alert
    include parts/_error-product
    include parts/_loader
    .mob-rep(ng-if="mobilePage.G.global.isMobileReport")
        include mobile/report_mobile
    include mobile/cart-mobile
    .mob-size-calculator(ng-if="mobilePage.G.global.isSizeCalculator")
        include parts/_size-calculator

