.mobile
  .control-buttons
    .templates
    .karkas
    .config
    .cart
  .content-container
    .templates-content
    .karkas-content
    .config-content
    .cart-content
  .content-container-inner

