section.settings.setting-page(ng-controller="SettingsCtrl")
  .header
    button.back(ng-click="global.gotoMainPage()")
    .title(data-output="Настройки")

  .setting-container
    .setting-user-foto
      .change-foto Изменить

    .lists
      ul.list.unvisible
        li.item
          .divider(data-output="Авторизация:")
        li.item
          .setting-item-label(data-output="+38 (066) 322-3334")
        li.item.click
          .setting-item-label(data-output="**********")
          .setting-item-change.unvisible(data-output="Изменить пароль")

      ul.list.unvisible
        li.item
          .divider(data-output="Личная информация:")
        li.item.click
          .setting-item-label(data-output="Контактное лицо")
          .setting-item-data(data-output="John Appleseed")
          input.set-input-txt.new
          .setting-item-change.unvisible
        li.item.click
          .setting-item-label(data-output="Город")
          .setting-item-data(data-output="Ивано-Франковск, Ивано-Франковская обл., Украина Ивано-Франковск, Ивано-Франковская обл.,")
          input.set-input-txt.new
          .setting-item-change.unvisible
        li.item.click
          .setting-item-label(data-output="Адрес")
          .setting-item-data(data-output="John Appleseed")
          input.set-input-txt.new
          .setting-item-change.unvisible
        li.item.click
          .setting-item-label(data-output="Электронная почта")
          .setting-item-data(data-output="John Appleseed")
          input.set-input-txt.new
          .setting-item-change.unvisible

      ul.list.unvisible
        li.item
          .divider(data-output="Дополнительные телефоны:")
        li.item
          button.phone-btn.delete-phone.unvisible
          .setting-item-label(data-output="+38 (066) 322-3334")
        li.item
          button.phone-btn.delete-phone.unvisible
          .setting-item-label(data-output="+38 (066) 322-3334")
        li.item
          button.phone-btn.add-phone.unvisible
          .setting-item-label(data-output="Добавить телефон")


      ul.list.unvisible
        li.item.click
          .setting-item-data(data-output="Голосовой помошник")
          .setting-item-change.unvisible
        li.item.click
          .setting-item-data(data-output="Подержка пользователей")
          .setting-item-change.unvisible
        li.item.click
          .setting-item-data(data-output="Голосовой помошник")
          .setting-item-change.unvisible