section.settings.setting-page(ng-controller="SettingsCtrl")
  .header
    button.back(ng-click="global.gotoMainPage()")
    .title(data-output="{{ 'mainpage.NAVMENU_SETTINGS' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")

  .setting-container
    .setting-user-foto
      .change-foto {{ 'common_words.CHANGE' | translate }}

    .lists
      ul.list
        li.item
          .divider(data-output="{{ 'settings.AUTHORIZATION' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
        li.item
          .setting-item-label(data-output="{{ settings.currPhone }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
        li.item.click
          .setting-item-label(data-output="{{ settings.password }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-change(data-output="{{ 'settings.CHANGE_PASSWORD' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_SHOW_ICONS }}", ng-click="gotoPasswordPage()")

      ul.list
        li.item
          .divider(data-output="{{ 'settings.PRIVATE_INFO' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
        li.item.click(ng-click="changeSettingData(1)")
          .setting-item-label(data-output="{{ 'settings.USER_NAME' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-data(ng-hide="settings.selectedSetting == 1", data-output="{{ settings.userName }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          input.set-input-txt(ng-show="settings.selectedSetting == 1", type="text", ng-model="settings.userName")
        li.item.click(ng-click="global.gotoLocationPage()")
          .setting-item-label(data-output="{{ 'settings.CITY' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-data(data-output="{{ settings.city }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          //input.set-input-txt(ng-show="settings.selectedSetting == 2", type="text", ng-model="settings.city")
          .setting-item-change
        li.item.click(ng-click="changeSettingData(3)")
          .setting-item-label(data-output="{{ 'cart.CLIENT_ADDRESS' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-data(ng-hide="settings.selectedSetting == 3", data-output="{{ settings.address }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          input.set-input-txt(ng-show="settings.selectedSetting == 3", type="text", ng-model="settings.address")
        li.item.click(ng-click="changeSettingData(4)")
          .setting-item-label(data-output="{{ 'cart.CLIENT_EMAIL' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-data(ng-hide="settings.selectedSetting == 4", data-output="{{ settings.email }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          input.set-input-txt(ng-show="settings.selectedSetting == 4", type="text", ng-model="settings.email")

      ul.list
        li.item
          .divider(data-output="{{ 'settings.ADD_PHONES' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
        li.item(ng-repeat="phone in settings.addPhones")
          button.phone-btn.delete-phone(ng-click="deletePhone($index)") &#8211;
          .setting-item-label(data-output="{{ phone }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
        li.item
          button.phone-btn.add-phone(ng-click="appendInputPhone()") +
          .setting-item-label(ng-hide="settings.isInsertPhone", data-output="{{ 'settings.INSERT_PHONE' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          input.set-input-phone(ng-show="settings.isInsertPhone", type="text", ng-model="settings.tempAddPhone", ng-focus="settings.isInsertPhone", ng-blur="addPhone()")
          .error-tooltip(ng-show="settings.isErrorPhone") {{ 'login.WRONG_NUMBER' | translate }}


      ul.list
        li.item.click
          .setting-item-data(data-output="{{ 'mainpage.NAVMENU_VOICE_HELPER' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-change
        li.item.click
          .setting-item-data(data-output="{{ 'settings.CLIENT_SUPPORT' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-change
        li.item.click
          .setting-item-data(data-output="{{ 'settings.LOGOUT' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
          .setting-item-change