section.settings.setting-page
  .header
    button.back
    .title(data-output="Настройки")
      //button.save. Сохранить

  .setting-container
    .setting-user-foto
      .change-foto Изменить

    .lists
      ul.list
        li.item
          .divider(data-output="Авторизация:")
        li.item
          .setting-item-label(data-output="+38 (066) 322-3334")
        li.item.click
          .setting-item-label(data-output="**********")
          .setting-item-change(data-output="Изменить пароль")

      ul.list
        li.item
          .divider(data-output="Личная информация:")
        li.item.click
          .setting-item-label(data-output="Контактное лицо")
          .setting-item-data(data-output="John Appleseed")
          input.set-input-txt.new
          .setting-item-change
        li.item.click
          .setting-item-label(data-output="Город")
          .setting-item-data(data-output="Ивано-Франковск, Ивано-Франковская обл., Украина Ивано-Франковск, Ивано-Франковская обл.,")
          input.set-input-txt.new
          .setting-item-change
        li.item.click
          .setting-item-label(data-output="Адрес")
          .setting-item-data(data-output="John Appleseed")
          input.set-input-txt.new
          .setting-item-change
        li.item.click
          .setting-item-label(data-output="Электронная почта")
          .setting-item-data(data-output="John Appleseed")
          input.set-input-txt.new
          .setting-item-change

      ul.list
        li.item
          .divider(data-output="Дополнительные телефоны:")
        li.item
          button.phone-btn.delete-phone
          .setting-item-label(data-output="+38 (066) 322-3334")
        li.item
          button.phone-btn.delete-phone
          .setting-item-label(data-output="+38 (066) 322-3334")
        li.item
          button.phone-btn.add-phone
          .setting-item-label(data-output="Добавить телефон")


      ul.list
        li.item.click
          .setting-item-data(data-output="Голосовой помошник")
          .setting-item-change
        li.item.click
          .setting-item-data(data-output="Подержка пользователей")
          .setting-item-change
        li.item.click
          .setting-item-data(data-output="Голосовой помошник")
          .setting-item-change