section.settings.setting-page
  .header
    button.back
    .title(name="Настройки")
      //button.save. Сохранить

  .setting-container
    .setting-user-foto
      .change-foto Изменить

    .lists
      ul.list.unvisible
        li.item
          .divider(name="Авторизация:")
        li.item
          .setting-item-label(name="+38 (066) 322-3334")
        li.item.click
          .setting-item-label(name="**********")
          .setting-item-change.unvisible(name="Изменить пароль")

      ul.list.unvisible
        li.item
          .divider(name="Личная информация:")
        li.item.click
          .setting-item-label(name="Контактное лицо")
          .setting-item-data(name="John Appleseed")
          input.set-input-txt.new
          .setting-item-change.unvisible
        li.item.click
          .setting-item-label(name="Город")
          .setting-item-data(name="Ивано-Франковск, Ивано-Франковская обл., Украина Ивано-Франковск, Ивано-Франковская обл.,")
          input.set-input-txt.new
          .setting-item-change.unvisible
        li.item.click
          .setting-item-label(name="Адрес")
          .setting-item-data(name="John Appleseed")
          input.set-input-txt.new
          .setting-item-change.unvisible
        li.item.click
          .setting-item-label(name="Электронная почта")
          .setting-item-data(name="John Appleseed")
          input.set-input-txt.new
          .setting-item-change.unvisible

      ul.list.unvisible
        li.item
          .divider(name="Дополнительные телефоны:")
        li.item
          button.phone-btn.delete-phone.unvisible
          .setting-item-label(name="+38 (066) 322-3334")
        li.item
          button.phone-btn.delete-phone.unvisible
          .setting-item-label(name="+38 (066) 322-3334")
        li.item
          button.phone-btn.add-phone.unvisible
          .setting-item-label(name="Добавить телефон")


      ul.list.unvisible
        li.item.click
          .setting-item-data(name="Голосовой помошник")
          .setting-item-change.unvisible
        li.item.click
          .setting-item-data(name="Подержка пользователей")
          .setting-item-change.unvisible
        li.item.click
          .setting-item-data(name="Голосовой помошник")
          .setting-item-change.unvisible