doctype html
html(ng-app='BauVoiceApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title BauVoice | {{ title }}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=5')
    //Touch Icons - iOS and Android 2.1+
    link(rel="apple-touch-icon-precomposed" href="img/favicon.ico")
    //Firefox, Chrome, Safari, IE 11+ and Opera.
    link(rel="icon" href="img/favicon.ico")
    link(rel='stylesheet', href='css/main.css')

  body
    section.app-container(ng-view)

    script(src='js/plugins.js')
    script(src='js/main.js')

    audio#sounds
      source(src="audio/soundsPrice.aac", type="audio/mpeg")
      //source(src="audio/sounds.aac", type="audio/mpeg")
      //source(src="audio/sounds.mp3", type="audio/mpeg")
      //source(src="audio/sounds.wav", type="audio/wav")
      //source(src="audio/sounds.ogg", type="audio/ogg")
