doctype html
html(ng-app='BauVoiceApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title BauVoice | {{ title }}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body
    section.app-container(ng-view)

    script(src='js/plugins.js')
    script(src='js/app.js')
    //script(src='js/main.js')
    script(src='js/controllers/login.js')
    script(src='js/controllers/main.js')
    //script(src='js/general.js')
    //script(src='js/room-info.js')
    //script(src='js/rooms-selector.js')
    //script(src='js/user-info.js')
    //script(src='js/navigation-menu.js')
    //script(src='js/config-menu.js')
    //script(src='js/profile.js')
    //script(src='js/glass.js')
    //script(src='js/hardware-window.js')
    //script(src='js/lamination.js')
    //script(src='js/aux.js')
    //script(src='js/settings.js')
    //script(src='js/change-pass.js')
    //script(src='js/location.js')