doctype html
html(ng-app='BauVoiceApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title BauVoice | {{ title }}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')
    link(rel='stylesheet', href='css/main.css')

  body
    section.app-container(ng-view)

    script(src='js/plugins.js')
    //script(src='js/main.js')

    script(src='js/app.js')

    script(src='js/services/localDB_Serv.js')
    script(src='js/services/options_Serv.js')
    script(src='js/services/constants.js')
    script(src='js/services/general_Serv.js')
    script(src='js/services/login_Serv.js')
    script(src='js/services/main_Serv.js')
    script(src='js/services/navMenu_Serv.js')
    script(src='js/services/templates_Serv.js')
    script(src='js/services/addElements_Serv.js')
    script(src='js/services/addElementMenu_Serv.js')
    script(src='js/services/svg_Serv.js')
    script(src='js/services/design_Serv.js')
    script(src='js/services/cart_Serv.js')
    script(src='js/services/cartMenu_Serv.js')
    script(src='js/services/history_Serv.js')
    script(src='js/services/settings_Serv.js')
    script(src='js/services/soundPlayer_Serv.js')
    script(src='js/services/analytics_Serv.js')

    script(src='js/storages/userStor.js')
    script(src='js/storages/globalStor.js')
    script(src='js/storages/orderStor.js')
    script(src='js/storages/productStor.js')
    script(src='js/storages/auxiliaryStor.js')
    script(src='js/storages/designStor.js')
    script(src='js/storages/cartStor.js')
    script(src='js/storages/historyStor.js')

    script(src='js/controllers/login.js')
    script(src='js/controllers/main.js')
    script(src='js/controllers/settings.js')
    script(src='js/controllers/change-pass.js')
    script(src='js/controllers/change-lang.js')
    script(src='js/controllers/location.js')
    script(src='js/controllers/history.js')
    script(src='js/controllers/cart.js')
    script(src='js/controllers/design.js')

    script(src='js/controllers/menus/navigation-menu.js')
    script(src='js/controllers/menus/config-menu.js')
    script(src='js/controllers/menus/addelements-menu.js')
    script(src='js/controllers/menus/cart-menu.js')

    script(src='js/controllers/panels/templates.js')
    script(src='js/controllers/panels/profiles.js')
    script(src='js/controllers/panels/glasses.js')
    script(src='js/controllers/panels/hardwares.js')
    script(src='js/controllers/panels/laminations.js')
    script(src='js/controllers/panels/add-elements.js')
    script(src='js/controllers/panels/add-elements-list.js')

    script(src='js/controllers/parts/room-info.js')
    script(src='js/controllers/parts/room-selector.js')
    script(src='js/controllers/parts/user-info.js')
    script(src='js/controllers/parts/search-box.js')
    script(src='js/controllers/parts/size-calculator.js')
    script(src='js/controllers/parts/call-master.js')
    script(src='js/controllers/parts/call-order.js')
    script(src='js/controllers/parts/call-credit.js')
    script(src='js/controllers/parts/loader.js')

    script(src='js/directives/price.js')
    script(src='js/directives/typing.js')
    script(src='js/directives/show-delay.js')
    script(src='js/directives/calendar.js')
    script(src='js/directives/calendar-scroll.js')
    script(src='js/directives/svg.js')
    script(src='js/directives/svg-icon.js')
    script(src='js/directives/order-date.js')
    script(src='js/directives/price-x-qty.js')
    script(src='js/directives/order-filter.js')

    script(src='js/translations/ru.js')
    script(src='js/translations/ua.js')
    script(src='js/translations/en.js')
    script(src='js/translations/de.js')
    script(src='js/translations/ro.js')

    script(src='js/general.js')
    script(src='js/result.js')

    script(src='js/nuancespeechkit.js')
    script(src='js/voicerec.js')
    script(src='js/parser.js')

    audio#sounds
      source(src="audio/soundsPrice.aac", type="audio/mpeg")
      //source(src="audio/sounds.aac", type="audio/mpeg")
      //source(src="audio/sounds.mp3", type="audio/mpeg")
      //source(src="audio/sounds.wav", type="audio/wav")
      //source(src="audio/sounds.ogg", type="audio/ogg")
