doctype html
html(ng-app='BauVoiceApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title BauVoice | {{ title }}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body
    section.app-container(ng-view)

    script(src='js/plugins.js')
    //script(src='js/main.js')
    script(src='js/app.js')

    script(src='js/controllers/login.js')
    script(src='js/controllers/main.js')
    script(src='js/controllers/settings.js')
    script(src='js/controllers/change-pass.js')
    script(src='js/controllers/location.js')

    script(src='js/controllers/menus/navigation-menu.js')
    script(src='js/controllers/menus/config-menu.js')

    script(src='js/controllers/panels/template-selector.js')
    script(src='js/controllers/panels/profile.js')
    script(src='js/controllers/panels/glass.js')
    script(src='js/controllers/panels/hardware-window.js')
    script(src='js/controllers/panels/lamination.js')
    script(src='js/controllers/panels/additional-elements.js')

    script(src='js/controllers/parts/room-info.js')
    script(src='js/controllers/parts/room-selector.js')
    script(src='js/controllers/parts/user-info.js')

    script(src='js/general.js')