extend _template

block pageTitle
  - var pageTitle = 'Main'
block prepend body
  body
    section.page-container.swiped
      section.left-side
        include menus/_navigation-menu
      section.right-side.child-room
        section.main-content
          include parts/_user-info
          include parts/_room-info
          include parts/_rooms-selector
          //include panels/_additional-elements
        section.right-menu
          include menus/_config-menu