extend _template
block pageTitle
  - var pageTitle = 'Login'
block prepend body
  body
    section.setting-page
      .setting-header
        button.setting-back
        .setting-title(name="Настройки")
          //button.setting-save Сохранить

      .setting-container
        .setting-user-foto
          .change-foto Изменить

        .setting-lists
          ul.setting-list
            li.setting-item
              .divider(name="Авторизация:")
            li.setting-item
              .setting-item-label(name="+38 (066) 322-3334")
            li.setting-item.click
              .setting-item-label(name="**********")
              .setting-item-change(name="Изменить пароль")

          ul.setting-list
            li.setting-item
              .divider(name="Личная информация:")
            li.setting-item.click
              .setting-item-label(name="Контактное лицо")
              .setting-item-data(name="John Appleseed")
              .setting-item-change
            li.setting-item.click
              .setting-item-label(name="Город")
              .setting-item-data(name="Ивано-Франковск, Ивано-Франковская обл., Украина Ивано-Франковск, Ивано-Франковская обл.,")
              .setting-item-change
            li.setting-item.click
              .setting-item-label(name="Адрес")
              .setting-item-data(name="John Appleseed")
              .setting-item-change
            li.setting-item.click
              .setting-item-label(name="Электронная почта")
              .setting-item-data(name="John Appleseed")
              .setting-item-change

          ul.setting-list
            li.setting-item
              .divider(name="Дополнительные телефоны:")
            li.setting-item
              button.phone-btn.delete-phone
              .setting-item-label(name="+38 (066) 322-3334")
            li.setting-item
              button.phone-btn.delete-phone
              .setting-item-label(name="+38 (066) 322-3334")
            li.setting-item
              button.phone-btn.add-phone
              .setting-item-label(name="Добавить телефон")


          ul.setting-list
            li.setting-item.click
              .setting-item-data(name="Голосовой помошник")
              .setting-item-change
            li.setting-item.click
              .setting-item-data(name="Подержка пользователей")
              .setting-item-change
            li.setting-item.click
              .setting-item-data(name="Голосовой помошник")
              .setting-item-change