
<div ng-controller="AttantCtrl as attantBox" ng-show="attantBox.D.design.isGlassExtra || attantBox.D.design.isHardwareExtra || attantBox.H.history.isNoPrint || attantBox.D.design.isNoDoors" class="attantion-block">
  <div ng-show="attantBox.D.design.isGlassExtra &amp;&amp; attantBox.D.design.extraGlass.length" class="glass-attantion">
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
    <div class="glass-list">
      <div ng-repeat="glassExtra in attantBox.D.design.extraGlass track by $index" class="extra-glass">{{ glassExtra }}</div>
    </div>
  </div>
  <div ng-show="attantBox.H.history.isNoPrint" class="design-attantion">{{ ::attantBox.NO_PRINT }}
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
  </div>
  <div ng-show="attantBox.D.design.isHardwareExtra &amp;&amp; attantBox.D.design.extraHardware.length" class="glass-attantion">
    <div class="attention">{{mobilePage.ATENTION}}</div>
    <div class="glass-list">{{ ::attantBox.EXTRA_SASH }}
      <div ng-repeat="sashExtra in attantBox.D.design.extraHardware track by $index" class="extra-glass"><span ng-if="!$last">{{ sashExtra }},</span><span ng-if="$last">{{ sashExtra }}.</span></div>
      <div class="extra-glass">{{ ::attantBox.CHANGE_SIZE }}</div>
    </div>
    <div fs-click="attantBox.closeAttantion()" class="close-dialog-button">
      <div class="close-dialog-title">{{::mobilePage.HEAT_TRANSFER_INFO_11}}</div>
      <div class="close-dialog"></div>
    </div>
  </div>
  <div ng-show="attantBox.D.design.isNoDoors" class="design-attantion">{{ ::attantBox.DOOR_ERROR }}
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
  </div>
</div>