
<div ng-if="cartPage.G.global.showMountDelivery" class="mount-delivery">
  <div class="mount-delivery-header">
    <div ng-click="cartPage.cancelMoundDeliveryFunc()" class="header-buttons alert-no">
      <label>{{mobilePage.CANCEL}}</label>
    </div>
    <div ng-click="cartPage.showMoundDeliveryFunc()" class="header-buttons alert-yes">
      <label>{{mobilePage.APPLY}}</label>
    </div>
  </div>
  <div ng-controller="CartMenuCtrl as cartMenu" class="mount-delivery-mountings-container">
    <div class="mobile-delivery gray"> 
      <div ng-click="cartMenu.selectMenuItem(1)" class="mobile-delivery-title">
        <label>{{::cartMenu.DELIVERY}}</label>
      </div>
      <div ng-if="cartMenu.O.order.floor_id" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label>{{cartMenu.O.order.floorName}}</label>
        </div>
        <div class="mobile-delivery-price">
          <label>{{ cartMenu.O.order.floor_price }} {{ cartMenu.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-if="cartMenu.O.order.delivery_garbage_removal" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label>{{ ::cartMenu.GARBAGE_REMOVE  }}</label>
        </div>
        <div class="mobile-delivery-price">
          <label>{{ cartMenu.O.order.delivery_garbage_removal }} {{ cartMenu.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-if="cartMenu.O.order.delivery_add" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected"> 
        <div class="mobile-delivery-value">
          <label>{{ ::cartMenu.DELIVERY}}</label>
        </div>
        <div class="mobile-delivery-price">
          <label>{{ cartMenu.O.order.delivery_add }} {{ cartMenu.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-if="!cartMenu.O.order.floor_id" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label> {{ ::cartMenu.SELF_EXPORT }}</label>
        </div>
        <div class="mobile-delivery-price">
          <label>{{ 0 }} {{ cartMenu.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-if="cartMenu.config.activeMenuItem == 1 &amp;&amp; cartMenu.G.global.supplyData.length" class="mobile-delivery-items">
        <div fs-click="cartMenu.selectFloorPrice(0)" ng-class="{'selected': !cartMenu.O.order.floor_id}" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label>{{ ::cartMenu.SELF_EXPORT }}</label>
          </div>
          <div class="mobile-delivery-price">
            <label>{{ 0 }} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-repeat="supplyList in cartMenu.G.global.supplyData" ng-class="{'selected': supplyList.id == cartMenu.O.order.floor_id}" fs-click="cartMenu.selectFloorPrice(supplyList)" ng-click="cartMenu.config.activeMenuItem = 0" onClick="this.setSelectionRange(0, this.value.length)" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{supplyList.name}} {{ ::cartMenu.FLOOR }}</div>
          <div class="name drop-txt"> {{supplyList.priceReal}} {{ cartMenu.U.userInfo.currency }}</div>
        </div>
        <div ng-class="{'selected': cartMenu.O.order.delivery_add}" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.DELIVERY }}</div>
          <div class="mobile-delivery-value">
            <input ng-model="cartMenu.O.order.delivery_add" ng-change="cartMenu.changeVal(cartMenu.O.order.delivery_add)" ng-keydown="cartMenu.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" class="name drop-txt only-numbers">
            <div class="name drop-txt">{{ cartMenu.U.userInfo.currency }}</div>
          </div>
        </div>
        <div ng-class="{'selected': cartMenu.O.order.delivery_garbage_removal}" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.GARBAGE_REMOVE }}</div>
          <div class="mobile-delivery-value">
            <input ng-model="cartMenu.O.order.delivery_garbage_removal" ng-change="cartMenu.changeVal(cartMenu.O.order.delivery_garbage_removal)" ng-keydown="cartMenu.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" class="name drop-txt only-numbers">
            <div class="name drop-txt">{{ cartMenu.U.userInfo.currency }}</div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="cartMenu.G.global.disassemblyData.length" class="mobile-delivery">
      <div ng-click="cartMenu.selectMenuItem(7)" class="mobile-delivery-title">
        <label>{{::cartMenu.DIS_ASSEMBLING}}</label>
      </div>
      <div ng-hide="cartMenu.config.activeMenuItem == 7" class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label ng-show="!cartMenu.O.order.dismantling_id">{{ ::cartMenu.WITHOUT_DIS_ASSEMBLING }}</label>
          <label ng-show="cartMenu.O.order.dismantling_id">{{ cartMenu.O.order.dismantling_name }}</label>
        </div>
        <div class="mobile-delivery-price">
          <label> {{ cartMenu.O.order.dismantling_price}} {{ cartMenu.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-if="cartMenu.config.activeMenuItem == 7 &amp;&amp; cartMenu.G.global.disassemblyData.length" class="mobile-delivery-items">
        <div ng-class="{'selected': !cartMenu.O.order.dismantling_id}" fs-click="cartMenu.selectDisAssembling(0)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.WITHOUT_ASSEMBLING }}</div>
          <div class="name drop-txt">{{ ::cartMenu.FREE }}</div>
        </div>
        <div ng-repeat="assemb in cartMenu.G.global.disassemblyData" ng-class="{'selected': assemb.id == cartMenu.O.order.dismantling_id}" fs-click="cartMenu.selectDisAssembling(assemb)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{ assemb.name }}</div>
          <div class="name drop-txt"> {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}</div>
        </div>
      </div>
    </div>
    <div ng-if="cartMenu.G.global.assemblingData.length" class="mobile-delivery gray">
      <div ng-click="cartMenu.selectMenuItem(2)" class="mobile-delivery-title">
        <label>{{::cartMenu.ASSEMBLING }}</label>
      </div>
      <div ng-hide="cartMenu.config.activeMenuItem == 2" class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label ng-show="!cartMenu.O.order.mounting_id">{{ ::cartMenu.WITHOUT_ASSEMBLING }}</label>
          <label ng-show="cartMenu.O.order.mounting_id">{{ cartMenu.O.order.mountingName }}</label>
        </div>
        <div class="mobile-delivery-price">
          <label> {{ cartMenu.O.order.mounting_price }} {{ cartMenu.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-if="cartMenu.config.activeMenuItem == 2 &amp;&amp; cartMenu.G.global.assemblingData.length" class="mobile-delivery-items">
        <div ng-class="{'selected': !cartMenu.O.order.mounting_id}" fs-click="cartMenu.selectAssembling(0)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.WITHOUT_ASSEMBLING }}</div>
          <div class="name drop-txt">{{ ::cartMenu.FREE }}</div>
        </div>
        <div ng-repeat="assemb in cartMenu.G.global.assemblingData" ng-class="{'selected': assemb.id == cartMenu.O.order.mounting_id}" fs-click="cartMenu.selectAssembling(assemb)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
          <div class="mobile-delivery-value drop-txt">{{ assemb.name }}</div>
          <div class="name drop-txt"> {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}</div>
        </div>
      </div>
    </div>
    <div class="mobile-delivery"> 
      <div ng-click="cartMenu.selectMenuItem(6)" class="mobile-delivery-title">
        <label>{{::cartMenu.ADD_SERVICES }}</label>
      </div>
      <div class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label>{{::cartMenu.ADD_SERVICES_SHORT }}</label>
        </div>
        <div class="mobile-delivery-price">
          <input ng-model="cartMenu.O.order.sale_price" ng-change="cartMenu.changeVal(cartMenu.O.order.sale_price)" ng-keydown="cartMenu.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" class="comment-field noPreventDefault only-numbers">
          <label>{{cartMenu.U.userInfo.currency}}</label>
        </div>
      </div>
    </div>
    <div class="mobile-delivery gray">
      <div ng-click="cartMenu.selectMenuItem(5)" class="mobile-delivery-title">
        <label>{{::cartMenu.COMMENT }}</label>
      </div>
      <div class="mobile-delivery-selected">
        <div class="mobile-delivery-value">
          <label class="splice-comment">{{ cartMenu.O.order.comment }}</label>
        </div>
      </div>
      <div ng-if="cartMenu.config.activeMenuItem == 5" class="mobile-delivery-items"> 
        <textarea ng-model="cartMenu.O.order.comment" class="comment-field noPreventDefault"></textarea>
      </div>
    </div>
  </div>
</div>