.aux-choose-but {
  @extend .splash;
  @extend .small-button;
  @extend .ghost-button;

  padding: 0 30px;
  background-color: transparent;
}

.parameters-block {
  .aux-title {
    @extend .truncated;
    @include roboto-lt(36px);
  }
  .aux-params-but {
    @extend .splash;
    @extend .ghost-button;
    @extend .small-button;

    padding: 0 20px;
    background-color: transparent;
  }
  .aux-label {
    @include roboto-lt(22px);

    color: $main_gray_txt;
  }
}

.aux-params {
  float: left;
  margin-right: 10px;

  &.selected {
    .aux-params-but {
      color: #fff;
    }
    .aux_big_but {
      background-color: $aux_big_color;
    }
    .aux_middle_but {
      background-color: $aux_middle_color;
    }
    .aux_small_but {
      background-color: $aux_small_color;
    }
    .aux_slope_but {
      background-color: $main_green;
    }
    .aux_connect_but {
      background-color: $aux_connect_color;
    }
  }
}


.aux-color {
  @include font-general-icon(30px, 1);
  @extend .splash;
  @extend .button;

  position: relative;
  width: 45px;
  height: 45px;
  padding: 0;
  &.selected {
    border-style: solid;
    border-width: 1px;
    border-color: $main_green;
    &:after {
      position: absolute;
      left: 20%;
      top: 15%;
      content: $check-panel-icon;
      color: $main_green;
    }
  }
  img {
    width: 45px;
  }
}

// List View

.aux-list-row {
  @include display-flex();
  @include flex-flow(row nowrap);
  @include justify-content(space-between);
  @include align-items(flex-start);
}
.aux-name {
  max-width: 50%;
}
.aux-title {
  max-width: 90%;
  cursor: pointer;
}
.aux-price {
  @include roboto-bd(36px);
  min-width: 20%;
  text-align: right;
  color: $main_gray_txt;
}


.aux_color_big {
  .item {
    &.active {
      background-color: $aux_big_color;
    }
  }
  .aux-list-item {
    &.selected {
      .aux-choose-but {
        color: #fff;
        border-color: $aux_big_color;
        background-color: $aux_big_color;
      }
    }
  }
  .frame-tab {
    &.active {
      border-top-color: $aux_big_color;
    }
  }

  .aux-params-but {
    color: $aux_big_color;
    border-color: $aux_big_color;
    &.selected {
      color: #fff;
      border-color: $aux_big_color;
      background-color: $aux_big_color;
    }
  }

  .aux-title,
  .calc-value-limit {
    color: $aux_big_color;
  }

  .calc-equal,
  .search-element {
    background-color: $aux_big_color;
  }

  .group-indicator {
    background-color: $aux_big_color;
    &:before {
      border-color: transparent $aux_big_color;
    }
  }
}

.aux_color_middle {
  .item {
    &.active {
      background-color: $aux_middle_color;
    }
  }
  .aux-list-item {
    &.selected {
      .aux-choose-but {
        color: #fff;
        border-color: $aux_middle_color;
        background-color: $aux_middle_color;
      }
    }
  }
  .frame-tab {
    &.active {
      border-top-color: $aux_middle_color;
    }
  }
  .aux-params-but {
    color: $aux_middle_color;
    border-color: $aux_middle_color;
    &.selected {
      color: #fff;
      border-color: $aux_middle_color;
      background-color: $aux_middle_color;
    }
  }

  .aux-title,
  .calc-value-limit {
    color: $aux_middle_color;
  }

  .calc-equal,
  .search-element {
    background-color: $aux_middle_color;
  }

  .group-indicator {
    background-color: $aux_middle_color;
    &:before {
      border-color: transparent $aux_middle_color;
    }
  }
}

.aux_color_connect {
  .item {
    &.active {
      background-color: $aux_connect_color;
    }
  }
  .aux-list-item {
    &.selected {
      .aux-choose-but {
        color: #fff;
        border-color: $aux_connect_color;
        background-color: $aux_connect_color;
      }
    }
  }
  .frame-tab {
    &.active {
      border-top-color: $aux_connect_color;
    }
  }
  .aux-params-but {
    color: $aux_connect_color;
    border-color: $aux_connect_color;
    &.selected {
      color: #fff;
      border-color: $aux_connect_color;
      background-color: $aux_connect_color;
    }
  }

  .aux-title,
  .calc-value-limit {
    color: $aux_connect_color;
  }

  .calc-equal,
  .search-element {
    background-color: $aux_connect_color;
  }

  .group-indicator {
    background-color: $aux_connect_color;
    &:before {
      border-color: transparent $aux_connect_color;
    }
  }
}

.aux_color_slope {
  .item {
    &.active {
      background-color: $main_green;
    }
  }
  .aux-list-item {
    &.selected {
      .aux-choose-but {
        color: #fff;
        border-color: $main_green;
        background-color: $main_green;
      }
    }
  }
  .frame-tab {
    &.active {
      border-top-color: $main_green;
    }
  }

  .aux-params-but {
    color: $main_green;
    border-color: $main_green;
    &.selected {
      color: #fff;
      border-color: $main_green;
      background-color: $main_green;
    }
  }

  .aux-title,
  .calc-value-limit {
    color: $main_green;
  }

  .calc-equal,
  .search-element {
    background-color: $main_green;
  }

  .group-indicator {
    background-color: $main_green;
    &:before {
      border-color: transparent $main_green;
    }
  }
}

.aux_color_small {
  .item {
    &.active {
      background-color: $aux_small_color;
    }
  }
  .aux-list-item {
    &.selected {
      .aux-choose-but {
        color: #fff;
        border-color: $aux_small_color;
        background-color: $aux_small_color;
      }
    }
  }
  .frame-tab {
    &.active {
      border-top-color: $aux_small_color;
    }
  }

  .aux-params-but {
    color: $aux_small_color;
    border-color: $aux_small_color;
    &.selected {
      color: #fff;
      border-color: $aux_small_color;
      background-color: $aux_small_color;
    }
  }

  .aux-title,
  .calc-value-limit {
    color: $aux_small_color;
  }

  .calc-equal,
  .search-element {
    background-color: $aux_small_color;
  }

  .group-indicator {
    background-color: $aux_small_color;
    &:before {
      border-color: transparent $aux_small_color;
    }
  }
}