.aux-search-content {
  @include transition(left .5s linear);

  position: absolute;
  left: rem(-2000px);
  //  height: 80%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(#fff, .9);
  z-index: 10;
  &.active {
    left: 0;
  }

  .aux-list-groups {
    padding-left: rem(70px);
  }
  .aux-list-group {
    @include roboto-lt(rem(36px), rem(100px));
    @include transition(color .5s linear);

    position: relative;
    border-bottom: 1px solid $main_gray_btn;
    color: $main_gray_txt;
    cursor: pointer;
    &.selected {
      color: #fff;
      .group-indicator{
        &.active {
          width: 100%;
        }
      }
    }
  }
  .group-indicator {
    @extend .button;
    @include top_left_coord(10px, -82px);
    @include transition(width .5s linear);

    position: absolute;
    width: 0;
    height: rem(80px);
    z-index: -1;
    &:before {
      position: absolute;
      display: block;
      top: 0;
      right: rem(-40px);
      width: 0;
      border-width: rem(40px) 0 rem(40px) rem(40px);
      border-style: solid;
      content: '';
    }
  }
  .search-elements-block {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    width: 95%;

  }
  .search-elem {
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 25%;
    color: #fff;
  }
}