.calculator {
  border: none;
  background-color: #f8f8f8;

  td {
    border-style: solid;
    border-color: $main_gray_btn;
    border-width: 1px 0 0 1px;
    @include user-select(none);

    &:first-child {
      border-left-width: 0;
    }
  }

  .cell {
    @extend .button;
    @include roboto-lt(rem(36px));
    @include user-select(none);
    width: 11rem;
    height: rem(100px);
  }

  .calc-interval {
    @include display-flex();
    @include flex-flow(row wrap);
    @include align-items(center);

    height: rem(100px);
    background-color: #fff;
  }

  .calc-label-limit {
    @include roboto-lt(rem(22px));

    text-align: center;
    color: $main_gray_btn;
  }

  .calc-digit {
    @extend .button;

    background-color: transparent;
    color: $main_gray_txt;
  }
  .calc-digitLight{
    @extend .button;
    width: 100%;
    background-color: transparent;
    color: $main_gray_txt;
  }
  .calc-equal {
    color: #fff;
  }
}