.cart-dialogs {
  @include transition(all 1.5s linear);
  @include overflow-scroll();
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, .8);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
}

.box-menu {
  @extend .backDarkView;
  opacity: 1.08;
  z-index: 10000;
}

.edit-template {
  width: 45px;
  position: absolute;
  height: 90px;
  left: 15px;
  background-color:  #2E8B57;
  z-index: 34;
}
.copy-template {
position: absolute;
  width: 45px;
  height: 90px;
  left:0px;
  background-color: #800000;
  z-index: 35;
}
//rehau styles
.cart-dialogs-rehau {
  @include transition(all 1.5s linear);
  @include overflow-scroll();
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(4px);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
}
.cart-dialogs-container-rehau {
  width: 704px;
  height: 604px;
  margin-left: 35%;
  margin-top: 5%;

  .cart-dialog-header{
    position: relative;
    text-align: center;
    padding-top: 3%;
    background-color: $primary_green;
    height: 80px;
  }
  .cart-dialog-tool {
    position: absolute;
    background-image: url(/img/rehau-img/close.png);
    background-color: $primary_green;
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;

    border: none;

    right: 0;
    top: 0;
  }
  // .back {
  //   &:before {
  //     background-image: url(../img/rehau-img/close.png);
  //     width: 32px;
  //     height: 32px;
  //   }
  // }
  .print {
    left: 10%;
    &:before {
      content: $printer-icon;
    }
  }

  .cart-dialog-title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;

    text-align: center;

    color: #FFFFFF;
  }
  .save {
    @extend .splash;
    position: absolute;
    top: 25%;
    right: 3%;
    height: rem(70px);
    padding: 0 rem(28px);
    color: #fff;
    background-color: $primary_green;

    &.unactive {
      background-color:#4e4e4e;
    }
  }
  .save-order{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    position: inherit;
    display: block;
    height: 48px;
    width: 224px;
    height: 6rem;
    padding: 0 1.75rem;
    color: #fff;
    background-color: $primary_green;
    border: none;

    margin-top: 35px;
  }
  .cart-dialog-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: rem(60px);
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);

    height: 630px;
    .user-field {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;

      color: #000000;
      width: 360px;
      height: 48px;
      padding: rem(20px);
      border: 1px solid #8c8c8c;
      outline: none;

      &.ng-invalid-minlength,
      &.ng-invalid-pattern {
        border-color: $error_color;
      }
      &.street {
        display: inline-block;
        width: 60%;
      }
      &.small {
        display: inline-block;
        width: 12.5% ;
      }
    }
    .user-field-phone {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;

      color: #000000;
      width: 360px;
      height: 48px;
      padding: rem(20px);
      border: 1px solid #8c8c8c;
      outline: none;

      &.ng-invalid-minlength,
      &.ng-invalid-pattern {
        border-color: $error_color;
      }
      &.street {
        display: inline-block;
        width: 60%;
      }
      &.small {
        display: inline-block;
        width: 12.5% ;
      }
    }
    .user-field-comment {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;

      color: #000000;
      width: 600px;
      height: 200px;
      padding: rem(20px);
      border: 1px solid #8c8c8c;
      outline: none;
      padding-bottom: 150px;

      &.ng-invalid-minlength,
      &.ng-invalid-pattern {
        border-color: $error_color;
      }
      &.street {
        display: inline-block;
        width: 60%;
      }
      &.small {
        display: inline-block;
        width: 12.5% ;
      }
    }
    .input-field {
      position: relative;
      margin-bottom: rem(44px);

      .input-name {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;

        color: #4E4E4E;

        margin: 0;
      }
    }
    .privacy-policy-text {
      display: flex;
      align-items: center;

      .agreement-checkbox {
        transform:scale(1.5);
        cursor: pointer;
        margin-right: 24px;
      }

      .agreement {
        font-size: 14px;
        // font-family: cursive;
        font-style: italic;
      }
    }
  }
  .cart-dialog-descrip {
    @include roboto-lt(rem(36px));

    margin-bottom: rem(20px);
    text-align: center;
    color: $main_gray_txt;
  }

  .location-list-tooltip {
    @include top_left_coord(0px, 600px);
    position: absolute;
    width: rem(640px);
    max-height: 33rem;
    overflow-y: auto;
    list-style: none;
    border-radius: rem($radius_login-container);
    background-color: #f8f8f8;
    outline: none;
    z-index: 5;
  }
  .location-option {
    @include roboto-lt(rem(36px), rem(88px));

    border-bottom: 1px solid #c4c3c3;
    color: $main_gray_txt;
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
    &:first-letter {
      color: $main_orange;
    }
  }
  .current-city {
    position: relative;

    &:after {
      @extend .icon-setting;
      @include font-icon(rem(30px), 1);

      position: absolute;
      top: 35%;
      right: rem(30px);
      color: $main_orange;
      content: $geolocation_filled-icon;
    }
  }

  .cart-dialog-label {
    @include roboto-bd(rem(48px));

    margin-bottom: rem(20px);
    text-align: center;
    color: $main_gray_txt;
  }
}

//rehau styles end

.cart-dialogs-container {
  @include box-shadow(rgba(98, 67, 48, .5) 0 0 rem(15px) 1px);
  width: rem(1000px);
  margin-left: 42%;

  .cart-dialog-header{
    position: relative;
    padding: rem(30px);
    border-top-left-radius: rem($radius_login-container);
    border-top-right-radius: rem($radius_login-container);
    background-color: #fff;
  }
  .cart-dialog-tool {
    @extend .splash;
    @extend .icon-setting;
    @include font-icon(rem(50px), 1);

    position: absolute;
    top: 25%;
    width: rem(60px);
    height: rem(60px);
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    &:before {
      color: $main_orange;
    }
  }
  .back {
    left: 3%;
    &:before {
      content: $arrow-icon;
    }
  }
  .print {
    left: 10%;
    &:before {
      content: $printer-icon;
    }
  }

  .cart-dialog-title {
    @include roboto-md(rem(36px));

    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: $main_gray_txt;
  }
  .save {
    @extend .middle-button;
    @extend .splash;

    position: absolute;
    top: 25%;
    right: 3%;
    height: rem(70px);
    padding: 0 rem(28px);
    color: #fff;
    background-color: $main_orange;
  }
  .save-order{
    position: inherit;
    display: block;
    height: 4.375rem;
    width: 25rem;
    height: 6rem;
    padding: 0 1.75rem;
    color: #fff;
    background-color: #f98000;
    margin: 0 auto;
    font: normal 2.25rem/1.42857 roboto-light, sans-serif;
  }
  .little{
    background-color: red !important;
  }
  .cart-dialog-body {
    padding: rem(60px);
    background-color: #f0f0f0;
    border-bottom-left-radius: rem($radius_login-container);
    border-bottom-right-radius: rem($radius_login-container);
    .user-field {
      @include roboto-lt(rem(36px));
      display: inline-flex;
      width: 100%;
      height: rem(112px);
      padding: rem(20px);
      border: 1px solid #8c8c8c;
      border-radius: rem($radius_general-big_button);
      outline: none;
      &.ng-invalid-minlength,
      &.ng-invalid-pattern {
        border-color: $error_color;
      }
      &.street {
        display: inline-block;
        width: 60%;
      }
      &.small {
        display: inline-block;
        width: 12.5% ;
      }
    }
    .input-field {
      position: relative;
      margin-bottom: rem(44px);

    }
  }
  .cart-dialog-descrip {
    @include roboto-lt(rem(36px));

    margin-bottom: rem(20px);
    text-align: center;
    color: $main_gray_txt;
  }

  .location-list-tooltip {
    @include top_left_coord(0px, 600px);
    position: absolute;
    width: rem(640px);
    max-height: 33rem;
    overflow-y: auto;
    list-style: none;
    border-radius: rem($radius_login-container);
    background-color: #f8f8f8;
    outline: none;
    z-index: 5;
//    &:before {
//      @include transform(rotate(45deg));
//
//      position: absolute;
//      top: rem(25px);
//      left: rem(-15px);
//      display: block;
//      width: rem(40px);
//      height: rem(40px);
//      border-radius: rem(5px);
//      background-color: #f8f8f8;
//      content: '';
//    }
  }
  .location-option {
    @include roboto-lt(rem(36px), rem(88px));

    border-bottom: 1px solid #c4c3c3;
    color: $main_gray_txt;
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
    &:first-letter {
      color: $main_orange;
    }
  }
  .current-city {
    position: relative;

    &:after {
      @extend .icon-setting;
      @include font-icon(rem(30px), 1);

      position: absolute;
      top: 35%;
      right: rem(30px);
      color: $main_orange;
      content: $geolocation_filled-icon;
    }
  }

  .cart-dialog-label {
    @include roboto-bd(rem(48px));

    margin-bottom: rem(20px);
    text-align: center;
    color: $main_gray_txt;
  }
}

.master-dialog {
  .cart-dialogs-container {
    margin-top: 10%;
  }
}
.order-dialog {
  .cart-dialogs-container {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}


.time-block {
  display: inline-block;
  &:first-child {
    margin: 0 15% 0 3%;
  }
}
.time-label {
  @include roboto-lt(rem(36px));

  margin-right: rem(10px);
  color: #8c8c8c;
}
.time-field {
  @include roboto-lt(rem(36px));

  display: inline-block;
  width: rem(175px);
  height: rem(112px);
  padding: rem(20px);
  border: 1px solid #8c8c8c;
  border-radius: rem($radius_general-big_button);
  text-align: center;
  outline: none;
}

.subtitle-field {
  @include roboto-lt(rem(36px));
  //margin-bottom: rem(20px);
  text-align: left;
  color: $main_gray_txt;
}

.label-field {
  margin: 10.25rem;
  font: normal 2.25rem/1.42857 roboto-light, sans-serif;
  color: $main_gray_txt;
}

.user-select-field {
  @extend .user-field;
  @include appearance(none);
  background-color: #fff;
}




.cart-dialogs .error-tooltip {
  top: 1rem;
  &.street {
    left: 55rem;
  }
  &.house {
    left: 55rem;
  }
  &.flat {
    left: 55rem;
  }
  &.floor {
    left: 55rem;
  }
}
/*
.error-tooltip {
  @include top_left_coord(-10px, 600px);
  @include roboto-lt(rem(36px));

  position: absolute;
  display: table;
  max-width: rem(600px);
  padding: rem(20px) rem(40px);
  color: #fff;
  border-radius: rem($radius_general-small_button);
  background: $error_color;
  &:before {
    @include transform(rotate(45deg));

    position: absolute;
    top: rem(25px);
    left: rem(-15px);
    display: block;
    width: rem(40px);
    height: rem(40px);
    border-radius: rem(5px);
    background-color: $error_color;
    content: '';
  }
}
*/
