.config-panel {
  @include transition(all .2s linear);
  @include top_left_coord(0px, -2500px);
  @include transform(all .2s linear);
  @include transform(translate3d(0,0,0));
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(#fff, .9);
  z-index: 12;
  &.active {
    @include top_left_coord(0px, 0px);
    overflow: hidden;
  }
  &.actived {
    @include top_left_coord(0px, 0px);
    overflow: auto;
  }

  .construction-type {
    display: inline-flex !important;
    flex-direction: row !important;
    position: absolute;
    height: 3rem;
    left: 2rem;
    width: 100%;
    .type-btn {
      position: relative;
      height: 100%;
      width: auto;
      margin: 0rem 5rem 0rem 0rem;
      float: left;
      font-size: large;
      overflow: hidden;
      text-transform: uppercase;
      cursor : pointer;
      &.selected {
        color: #4bd963;
        text-decoration: underline;
      }
    }
    .hide {
      height: 2rem;
      width: 2rem;
      left: -0.8%;
      border-radius: 1rem;
      top: 0.7rem;
      background: #f74f2e;
      position: absolute;
    }
  }
  //rehau styles
  .construction-type-rehau {
    display: inline-flex !important;
    flex-direction: row !important;
    position: absolute;
    height: 3rem;
    left: 2rem;
    width: 100%;
    .type-btn-rehau {
      position: relative;
      height: 100%;
      width: auto;
      margin: 0rem 5rem 0rem 0rem;
      float: left;
      font-size: large;
      overflow: hidden;
      text-transform: uppercase;
      cursor : pointer;
      
      &.selected {
        color: #4bd963;
        text-decoration: underline;
        margin-top: 50px;
      }
    }
    .hide {
      height: 2rem;
      width: 2rem;
      left: -0.8%;
      border-radius: 1rem;
      top: 0.7rem;
      background: #f74f2e;
      position: absolute;
    }
  }
  //rehau styles end
  .info {
    position: absolute;
    cursor: pointer;
    &:before {
      @include top_left_coord(15px, 15px);
      @include font-icon(rem(50px), 1);

      position: absolute;
      color: $main_green;
      content: $info-panel-icon;
    }
  }

  .panel-inner {
    @include overflow-scroll();
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.configur-panel {
  @include transition(all .2s linear);
  @include top_left_coord(0px, -2000px);
  @include transform(all .2s linear);
  @include transform(translate3d(0,0,0));
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(#fff, .9);
  z-index: 12;
  &.active {
    @include top_left_coord(1200px, 0px);
    height: 21rem;
    overflow: hidden;
  }
    &.select {
    @include top_left_coord(1465px, 0px);
    height: 21rem;
    overflow: hidden;
  }
    .construction-type {
      display: inline-flex !important;
      flex-direction: row !important;
    position: absolute;
    height: 3rem;
    left: 2rem;
    width: 100%;
    .type-btn {
      position: relative;
      height: 100%;
      width: auto;
      margin: 0rem 2rem 0rem 0rem;
      float: left;
      font-size: large;
      overflow: hidden;
      text-transform: uppercase;
      cursor : pointer;
      &.selected {
        color: #4bd963;
        text-decoration: underline;
      }
    }
    .hide {
      height: 2rem;
      width: 2rem;
      left: -0.8%;
      border-radius: 1rem;
      top: 0.7rem;
      background: #f74f2e;
      position: absolute;
    }
  }
  //rehau styles
  .construction-type-rehau {
    display: inline-flex !important;
    flex-direction: row !important;
    position: absolute;
    height: 3rem;
    left: 2rem;
    width: 100%;
    .type-btn-rehau {
      position: relative;
      height: 100%;
      width: auto;
      margin: 0rem 2rem 0rem 0rem;
      float: left;
      font-size: large;
      overflow: hidden;
      text-transform: uppercase;
      cursor : pointer;
      
      &.selected {
        color: #4bd963;
        text-decoration: underline;
        margin-top: 50px;
      }
    }
    .hide {
      height: 2rem;
      width: 2rem;
      left: -0.8%;
      border-radius: 1rem;
      top: 0.7rem;
      background: #f74f2e;
      position: absolute;
    }
  }
  //rehau styles end
}
.config-section {
  width: 98%;
  padding: rem(50px) 0 rem(50px) rem(80px);
  border-bottom: 1px solid $main_gray_btn;
  &.selected {
    position: relative;
    &:before {
      @include top_left_coord(56px, -27px);
      @include font-icon(rem(90px), rem(60px));

      position: absolute;
      color: $main_green;
      content: $triangle-panel-icon;
    }
  }

  .group-block-header {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
  }
  .group-block-header-rehau {
    padding-top: 5px;
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
  }
  .title {
    @include roboto-bd(rem(48px));

    color: $main_gray_txt;
  }
  .group-info {
    position: relative;

    .info {
      top: 0;
      right: 0;
    }
  }

  .group-info-rehau {
    position: relative;
    color: gray;
    align-self: center;

    .info-icon {
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .profile-cameras{
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .type {
    @include roboto-md(rem(96px), rem(56px));
    color: $main_green;
    float:left;
  }
  .type-label{
    position:relative;
    padding-left:rem(80px);
    top :rem(32px);
    @include roboto-md(rem(36px), rem(36px));
    color: $main_gray_txt;
  }
  .coef-index {
    width: 19%;
    height: rem(25px);
    margin-right: 1%;
    margin-left: 1%;
    &:first-child {
      border-top-left-radius: rem($radius_coef-index);
      border-bottom-left-radius: rem($radius_coef-index);
      background-color: #55d995;
    }
    &:nth-child(2) {
      background-color: #5bd883;
    }
    &:nth-child(3) {
      background-color: #61d771;
    }
    &:nth-child(4) {
      background-color: #68d55c;
    }
    &:last-child {
      border-top-right-radius: rem($radius_coef-index);
      border-bottom-right-radius: rem($radius_coef-index);
      background-color: $main_green;
    }
  }
  .box {
    @extend .splash;
    @include transition(all .3s linear);

    position: relative;
    float: left;
    border-radius: rem($radius_profile-box);
    background-color: #fff;
    cursor: pointer;
    &.selected {
      position: relative;
      background-color: $main_green;
      &:after {
        @include font-icon(rem(50px), 1);
        position: absolute;
        color: #fff;
        content: '\e61e';
      }
      .label {
        color: $main_gray_txt;
      }
      .cam {
        color: white;
      }
      .coef-index {
        &:first-child {
          background-color: #3db26a;
        }
        &:nth-child(2) {
          background-color: #42b260;
        }
        &:nth-child(3) {
          background-color: #4ab253;
        }
        &:nth-child(4) {
          background-color: #51b247;
        }
        &:last-child {
          background-color: #57b23c;
        }
      }
    }
  }

  .box-rehau {
    @extend .splash;
    @include transition(all .3s linear);

    position: relative;
    float: left;
    background-color: #fff;
    cursor: pointer;
    &.selected {
      position: relative;
      box-shadow: inset 0 0 0 7px $primary_pink;
    }
  }

  .box_inner {
    padding: rem(45px);
  }
  .coef-level {
    @include display-flex();
    &:first-child {
      margin-top: 0;
    }
    &.coef-level-0 {
      .coef-index {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          border: 1px solid #b1b1b1;
          background-color: white;
        }
        &:first-child {
          border: 1px solid #b1b1b1;
          background-color: white;
          //border-top-right-radius: rem($radius_coef-index);
          //border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-1 {
      .coef-index {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          border: 1px solid #b1b1b1;
          background-color: white;
        }
        &:first-child {
          //border-top-right-radius: rem($radius_coef-index);
          //border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-2 {
      .coef-index {
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          border: 1px solid #b1b1b1;
          background-color: white;
        }
        &:nth-child(2) {
          //border-top-right-radius: rem($radius_coef-index);
          //border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-3 {
      .coef-index {
        &:nth-child(4),
        &:last-child {
          border: 1px solid #b1b1b1;
          background-color: white;
        }
        &:nth-child(3) {
          //border-top-right-radius: rem($radius_coef-index);
          //border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-4 {
      .coef-index {
        &:nth-child(4) {
          //border-top-right-radius: rem($radius_coef-index);
          //border-bottom-right-radius: rem($radius_coef-index);
        }
        &:last-child {
          border: 1px solid #b1b1b1;
          background-color: white;
        }
      }
    }
  }
}
