.config-panel {
  @include transition(all .2s linear);
  @include top_left_coord(0px, -2000px);

  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(#fff, .9);

  &.active {
    @include top_left_coord(0px, 0px);
  }
  .info {
    position: absolute;
    &:before {
      @include top_left_coord(15px, 15px);
      @include font-general-icon(rem(50px), 1);

      position: absolute;
      color: $main_green;
      content: '\e60d';
    }
  }

  .panel-inner {
    @include overflow-scroll();
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll
  }
}

.config-section {
  width: 98%;
  //width: 96rem;
  padding: rem(50px) 0 rem(50px) rem(80px);
  border-bottom: 1px solid $main_gray_btn;
  &.selected {
    position: relative;
    &:before {
      @include top_left_coord(56px, -27px);
      @include font-general-icon(rem(90px), rem(60px));

      position: absolute;
      color: $main_green;
      content: '\e612';
    }
  }

  .group-block-header {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
  }
  .title {
    @include roboto-bd(rem(48px));

    color: $main_gray_txt;
  }
  .group-info {
    position: relative;

    .info {
      top: 0;
      right: 0;
    }
  }
  .type {
    @include roboto-md(rem(36px), rem(56px));

    display: inline;
    padding: rem(5px) rem(20px);
    color: #fff;
    border-radius: rem($radius_general-big_button);
    background-color: $main_green;
  }
  .coef-index {
    width: 19%;
    height: rem(25px);
    margin-right: 1%;
    &:first-child {
      border-top-left-radius: rem($radius_coef-index);
      border-bottom-left-radius: rem($radius_coef-index);
      background-color: #55d995;
    }
    &:nth-child(2) {
      background-color: #5bd883;
    }
    &:nth-child(3) {
      background-color: #61d771;
    }
    &:nth-child(4) {
      background-color: #68d55c;
    }
    &:last-child {
      border-top-right-radius: rem($radius_coef-index);
      border-bottom-right-radius: rem($radius_coef-index);
      background-color: $main_green;
    }
  }
  .box {
    @extend .splash;
    @include transition(all .3s linear);

    position: relative;
    float: left;
    padding: rem(45px);
    border-radius: rem($radius_profile-box);
    background-color: #fff;
    cursor: pointer;
    &.selected {
      position: relative;
      background-color: $main_green;
      .type {
        background-color: #57b23c;
      }
      &:after {
        @include font-general-icon(rem(50px), 1);

        position: absolute;
        color: #fff;
        content: '\e61e';
      }
      .label {
        color: $main_gray_txt;
      }
      .coef-index {
        &:first-child {
          background-color: #3db26a;
        }
        &:nth-child(2) {
          background-color: #42b260;
        }
        &:nth-child(3) {
          background-color: #4ab253;
        }
        &:nth-child(4) {
          background-color: #51b247;
        }
        &:last-child {
          background-color: #57b23c;
        }
      }
    }
  }
  .coef-level {
    @include display-flex();

    margin-top: rem(10px);
    &:first-child {
      margin-top: 0;
    }
    &.coef-level-1 {
      .coef-index {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          display: none;
        }
        &:first-child {
          border-top-right-radius: rem($radius_coef-index);
          border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-2 {
      .coef-index {
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          display: none;
        }
        &:nth-child(2) {
          border-top-right-radius: rem($radius_coef-index);
          border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-3 {
      .coef-index {
        &:nth-child(4),
        &:last-child {
          display: none;
        }
        &:nth-child(3) {
          border-top-right-radius: rem($radius_coef-index);
          border-bottom-right-radius: rem($radius_coef-index);
        }
      }
    }
    &.coef-level-4 {
      .coef-index {
        &:nth-child(4) {
          border-top-right-radius: rem($radius_coef-index);
          border-bottom-right-radius: rem($radius_coef-index);
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}