.background {
	background: #FFFFFF;
	position: absolute;
	top: 0rem;
	left: 0rem;
	height: 100%;
	width: 100%; 
}

.boxText{
	background: #FFFFFF;
	top: 40rem;
	left: 0rem;
	height: 4%;
	width: 45%; 
}

.user-select-field-m {
  @extend .user-field;
  @include appearance(none);
  background-color: #fff;
}

  .cart-item-data-m {
    @include display-flex();
    @include flex-flow(row wrap);
    @include align-items(center);
  }