.background {
	background: #FFFFFF;
	position: absolute;
	top: 0rem;
	left: 0rem;
	height: 100%;
	width: 100%; 
}
.boxTitle {
	background: #FFFFFF;
	position: absolute;
	top: 40rem;
	left: 0rem;
	height: 10%;
	width: 50%; 
}
.boxText{
	background: #FFFFFF;
	top: 40rem;
	left: 0rem;
	height: 4%;
	width: 45%; 
}
.boxName {
	background: #FFFFFF;
	top: 40rem;
	left: 5rem;
	height: 90%;
	width: 90%;
	font-size: 12pt;
}