.background {
	background: #FFFFFF;
	position: absolute;
	top: 0rem;
	left: 0rem;
	height: 100%;
	width: 100%; 
}

  .full-view-hb {
    .order-block-hb {
      background: #000000;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: relative;
      min-height: 45%;
      z-index: 4;
    }
    .order-hb {
      width: rem(512px);
      float: left;
      border-bottom-right-radius: rem(20px);
      border-bottom-left-radius: rem(20px);
    }
    .order-header-hb {
      height: rem(320px);
    }
    .order-header-fon-hb {
      width: rem(512px);
      height: rem(320px);
      cursor: pointer;
    }
    .order-template-hb {
      position: absolute;
      bottom: rem(-73px);
      left: rem(10px);
      padding: rem(20px);
      background-color: #fff;
      border-radius: rem($radius_order-template);
    }
    .order-u-coeff-hb {
      @include roboto-lt(rem(42px));
      bottom: -7.75rem;
      right: 3.3rem;
      position: absolute;
      margin-left: rem(5px);
      background-color: #fff;
      color: $main_green;

      &.coeff-low {
        @extend .coeff-low;
      }
    }
    .order-content-hb {
      padding: rem(70px) rem(40px) 0 rem(50px);
      background-color: #fff;
    }
    .order-list-hb {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .order-qty-hb {
      @include flex-flow(row nowrap);
      @include justify-content(space-between);
      height: rem(100px);
    }
    .qty-label-hb {
      max-width: rem(170px);
    }

  }