.loader-container {
  @extend .backLightView;

  .loader {
    position: absolute;
    top: 45%;
    left: 48.5%;
    width: 11rem;
    height: 11rem;
    margin: -3rem 0 0 -3rem;
    background-image: url('../img/spinner.gif');
    background-repeat: no-repeat;
    background-size: cover;
    &.active {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6rem;
      height: 6rem;
      margin: -3rem 0 0 -3rem;
      background-image: image-url('spinner.gif');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
  .loader-counter {
    position: absolute;
    top: 45.8%;
    font-size: 17px;
    left: 49%;
    width: 3.9rem;
    height: 3.9rem;
    color: #8c8c8c;
  }
}