.right-menu-controller {
  height: 100%;
}

.menu-right-general {
  @include display-flex();
  @include flex-flow(column nowrap);
  @include align-content(space-between);

  height: 100%;
  padding-left: $config_menu-side_padding;
  background: rgba(#f8f8f8, .95);
  box-shadow: -3px 0 15px -5px rgba(0, 0, 0, .5);

  .items-list {
    @include display-flex();
    @include flex-grow(1);
    @include flex-flow(column wrap);

    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
  }
  .item {
    max-width: 100%;
    min-height: 120px;
    padding: 10px $config_menu-side_padding 10px 0;
    border-bottom: 1px solid $main_gray_btn;
    cursor: pointer;
    &.active {
      position: relative;
      margin-left: -$config_menu-side_padding;
      padding-left: $config_menu-side_padding;
    }
    &:last-child {
      @include flex-grow(1);
    }
  }

  .title {
    @include roboto-bd(24px);

    text-transform: uppercase;
  }

  .value {
    @extend .truncated;
    @include roboto-lt(36px);

    margin: 5px 0;
    color: $main_gray_txt;
  }

  .name {
    @include roboto-lt(22px);

    color: #8c8c8c;
    &.aside {
      @extend .name;

      margin-left: 10px;
      word-wrap: break-word;
    }
  }

  .menu-footer {
    width: 100%;
    padding-right: $config_menu-side_padding;
    text-align: center;
  }
  .price {
    @include display-flex();
    @include justify-content(center);
  }
  .price-value {
    @include roboto-md($price_container-height, 1);

    display: inline-flex;
    overflow: hidden;
    height: $price_container-height;
    text-align: center;
    color: $main_gray_txt;
  }
  .digit-cell {
    position: relative;
    float: left;
    &:nth-last-child(3n+3) {
      margin-left: 4px;
    }
    &:nth-last-child(3) {
      margin-left: 0;
    }
  }
  .price-currency {
    @include roboto-lt(50px, $price_container-height - 8px);

    margin-left: 10px;
    padding-top: 8px;
    color: $main_gray_txt;
  }
  .cart-btn {
    @extend .orange-big-btn;
    @extend .splash;

    position: relative;
    width: 100%;
    margin: 20px 0;
  }
}