@media print {
  body, html, #main-frame,.app-container,.print-conteiner  {
    height: auto;
  }
  .print-conteiner {
    position: absolute;
    top : 0;
    width: 100%;
    min-height: 768px;
    display: block;
    height: auto;
  }
  .pagebreak {
    page-break-after: always;
  }
  .app-container {
    height:auto;
  }
}

.print-conteiner {
  background-color: #fff;
  margin: 0px auto;
  padding: 10px;
  padding-top: 5px;
  font-size: 12px;
  font-family: 'roboto';
	.header {
    max-height: 230px;
    min-height: 230px;
    .order-number {
      clear: both;
	    display: table;
	    content: " ";
	    box-sizing: border-box;
	    margin-bottom: 2px;
	    width: 100%;
	    b {
	    	font-weight: normal;
        font-size: 11px;
	    }
    }
    .order-info {
	    clear: both;
	    display: table;
	    content: " ";
	    box-sizing: border-box;
	    margin-bottom: 2px;
	    width: 100%;
	    .col-md-7 {
			  box-sizing: border-box;
			  position: relative;
			  min-height: 1px;
			  padding-right: 5px;
			  padding-left: 5px;
			  float: left;
			  padding-top: 2px;
			  padding-bottom: 2px;
		    width: 58.333333%;
        font-size: 11px;
		    p {
	        display: block;
			    -webkit-margin-before: 1em;
			    -webkit-margin-after: 1em;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;
		    }
	    }
	    .col-md-5 {
			  box-sizing: border-box;
			  position: relative;
			  min-height: 1px;
			  padding-right: 5px;
			  padding-left: 5px;
			  float: left;
			  padding-top: 2px;
			  padding-bottom: 2px;
		    width: 41.666666%;

		    table {
	        font-size: 11px;
			    border-collapse: collapse;
			    text-align: right;
			    width: 100%;
			    tbody {
				    display: table-row-group;
				    vertical-align: middle;
			    	border-color: inherit;
			    	tr {
		    	    display: table-row;
					    vertical-align: inherit;
					    border-color: inherit;
			    	}
			    	td, th {
				    	display: table-cell;
	    				vertical-align: inherit;
			    		&.title {width: 650pt; text-align: left;}
			    		&.result {width: 80pt; color: #283891; padding-right: 20px;}
			    	}
			    }
		    }
	    }
    }
	}
	.content {
		.header {
			box-sizing: border-box;
	    margin-bottom: 2px;
	    width: 100%;
	    min-height: 50px;
    	max-height: 50px;
			.head-block {
		    box-sizing: border-box;
		    position: relative;
		    min-height: 1px;
		    padding-right: 5px;
		    padding-left: 5px;
		    float: left;
		    padding-top: 2px;
		    padding-bottom: 2px;
		    width: 50%;
			}
		}
		.construction {
	    position: relative;
	    min-height: 200px;
	    max-height: 200px;
	    .left {
			  box-sizing: border-box;
			  position: relative;
			  min-height: 1px;
			  padding-right: 5px;
			  padding-left: 5px;
			  float: left;
			  padding-top: 2px;
			  padding-bottom: 2px;
		    width:40%;
        font-size: 11px;
	    }
	    .right {
			  box-sizing: border-box;
			  position: relative;
			  min-height: 1px;
			  padding-right: 5px;
			  padding-left: 5px;
			  float: left;
			  padding-top: 2px;
			  padding-bottom: 2px;
		    width: 60%;
        font-size: 11px;
	    }
	    table {
        font-size: 12px!important;
		    border-collapse: collapse;
		    text-align: right;
		    width: 100%;
		    tbody {
			    display: table-row-group;
			    vertical-align: middle;
			    border-color: inherit;
		    	tr {
	    	    display: table-row;
				    vertical-align: inherit;
				    border-color: inherit;
		    	}
		    	td, th {
			    	display: table-cell;
    				vertical-align: inherit;
		    		&.title {width: 200px; border-right: solid 1px #d1d2d4;}
		    		&.result {width: 450px; color: #283891; padding-right: 15px;}
		    	}
		    }
	    }
		}
	}
	hr {
    margin: 2px!important;
    clear: both;
	}
  .footer{
    width:100%;
  }
}