@import 'compass/css3';
@import '../base/fonts';
@import '../base/mixins';
@import '../base/sizes';
@import '../base/colors';


.room-info-container {
  position: absolute;
  bottom: 360px;
  left: 0;
  width: 100%;
  z-index: 2;

  .room-header {
    @include top_left_coord(0, 0);
    position: absolute;
    padding-left: 50px;
    z-index: 2;
    @include animation(moveRoomHeader, 1s, 0, ease, 1)
  }
  .room-name {
    @include display-flex();
    @include align-items(flex-start);
    @include roboto-th(200px, 150px);
    color: #fff;
  }
  .select-rooms {
    @extend .orange-big-btn;
    width: 136px;
    height: 72px;
    margin-left: 35px;
  }

  .coeff-container {
    @include display-flex();
    @include flex-flow(row wrap);
    @include top_left_coord(230, 0);

    position: absolute;
    width: 100%;
    z-index: 2;
    @include animation(moveCoeff, 1s, 0, ease, 1)
  }

  .coeff-block {
    @include single-text-shadow(rgba(black, 0.4) 1px 2px 0px);
    margin: 0;
    padding: 0 45px;
    color: #fff;
    border-left:  2px dotted #fff;
    &:first-child {
      border-left: none;
    }
  }

  .coeff-max {
    @include roboto-md(36px, 36px);
    position: absolute;
    top: -50px;
    right: 0;
    color: #fff;
  }
  .coeff {
    @include roboto-lt(80px, 80px);
    position: relative;
    float: left;
    min-width: 50px;

    &.coeff-low {
      color: #ff9500;
    }
  }
  .coeff-title {
    @include roboto-lt(32px, 36px);
    float: left;
    width: 250px;
    margin-left: 20px;
    word-wrap: break-word;
  }
}


@include behavior-move(moveRoomHeader, 2000px, 0, 0, 0);
@include behavior-move(moveCoeff, 0, 2000px, 250, 0);