.room-info-container {
  @include transition(height .5s linear);
  position: absolute;
  bottom: 0;
  left: 37.5rem;
  width: 58%;
  height: 20.5rem;
  z-index: 11;

  &.show-comment {
    height: 95.5rem;
  }
  .room-header {
    @include top_left_coord(0px, 0px);
    @include animation(moveRoomHeader 1s 0 ease 1);

    position: absolute;
    padding-left: rem(50px);
  }
  .room-name {
    @include display-flex();
    @include justify-content(space-between);
    @include roboto-th(rem(200px), rem(150px));

    min-width: rem(960px);
    color: #fff;
  }
  .select-rooms {
    @extend .orange-big-btn;
    @extend .splash;
    @extend .truncated;
    height: 5.5rem;
    padding: 0.5rem 1.5rem;
  }
  .coeff-container {
    @include display-flex();
    @include flex-flow(row wrap);
    @include top_left_coord(200px, 0px);
    @include animation(moveCoeff 1s 0 ease 1);

    position: absolute;
    width: 100%;
  }
  .coeff-block {
    @include single-text-shadow(1px, 2px, 0px, false, rgba(black, .4));

    margin: 0;
    padding: 0 rem(45px);
    color: #fff;
    border-left: 2px dotted #fff;
    &:first-child {
      border-left: none;
    }
    &:nth-child(2),
    &:last-child {
      max-width: rem(520px);
    }
  }
  .coeff-max {
    @include roboto-md(rem(36px), 1);

    position: absolute;
    top: rem(-50px);
    right: 0;
    color: #fff;
  }
  .coeff {
    @include roboto-lt(rem(80px), 1);
    position: relative;
    float: left;
    &.coeff-low {
      @extend .coeff-low;
    }
  }
  .coeff-title {
    @include roboto-lt(rem(32px), rem(40px));
    float: left;
    width: rem(250px);
    max-height: 7rem;
    margin-left: rem(20px);
    word-wrap: break-word;
    overflow: auto;
  }

  .comment-btn {
    position: absolute;
    bottom: 0;
    right: 1rem;
    &:after {
      @include font-icon(5rem, 1);
      content: $coment;
      color: #fff;
      cursor: pointer;
    }
  }

  //----- Comment Block
  .product-comment {
    margin-top: 25rem;
    height: 90%;
  }
  textarea.comment-field {
    @include roboto-lt(rem(36px));
    width: 90%;
    height: 80%;
    display: block;
    margin: 0 1rem;
    padding: 2rem;
    border: none;
    border-radius: rem($radius_general-small_button);
    outline: none;
  }
}

@include behavior-move(moveRoomHeader, rem(2000px), 0, 0, 0);
@include behavior-move(moveCoeff, 0, rem(2000px), 250, 0);