  .coeff-RoomContainer {
	position: absolute;
	top: 0rem;
	left: -4px;
	height: 83%;
	width: 143%; 
	}

  	.coeff-room-block1 {
  		position: absolute;
  		z-index: -20;
		top: 0rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; } 
		}

	.coeff-room-block2 {
  		position: absolute;
  		z-index: -19;
		top: 0rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%;
		img {
			height: 100%;
			width: 100%; } 
		}
		
	.coeff-room-block3 {
  		position: absolute;
		z-index: -18;
		top: 0rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; }
		}

	.coeff-room-block5 {
  		position: absolute;
		z-index: -16;
		top: 456px;
		left: 0px;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 32%;
			width: 32%; }  
		}

	.coeff-room-block6 {
  		position: absolute;
		z-index: -15;
		top: 0rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; }  
		}

	.coeff-room-block7 {
  		position: absolute;
		z-index: -14;
		top: 0rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; }  
		}

	.coeff-room-block8 {
  		position: absolute;
		z-index: -13;
		top: 653px;
		left: 0px;
		max-height: 90%;
		min-width: 90%; 
		img {
			height: 90%;
			width: 90%; }  
		}

	.coeff-room-block9 {
  		position: absolute;
		z-index: -12;
		top: 0rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; }  
		}

	.coeff-room-block10 {
		transition-delay: 300;
  		position: absolute;
		z-index: -11;
		top: 582px;
		left: 267px;
		max-height: 11%;
		min-width: 11%; 
		img {
			height: 11%;
			width: 11%; }  
		}

	.coeff-room-block11 {
		transition-delay: 300;
  		position: absolute;
		z-index: -10;
		top: 572px;
		max-height: 12%;
		min-width: 12%; 
		img {
			height: 11.5%;
			width: 11.5%; }  
		}

	.coeff-room-block12 {
  		position: absolute;
		z-index: -9;
		top: 15rem;
		left: 180px;
		img {
			height: 100%;
			width: 100%; }   
		}

	.coeff-room-block13 {
  		position: absolute;
		z-index: -8;
		top: -5.5rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; }  
		}

	.coeff-room-block14 {
  		position: absolute;
		z-index: -7;
		top: -5.5rem;
		left: 0rem;
		max-height: 100%;
		min-width: 100%; 
		img {
			height: 100%;
			width: 100%; }  
		}

	.coeff-room-block15 {
	  background: #FFFFFF;
	  -moz-transform: skewX(130deg);
	  -ms-transform: skewX(130deg);
	  -webkit-transform: skewX(130deg);
	  transform: skewX(130deg);
	  border-radius: 7px;
	  -moz-box-shadow: rgba(255, 255, 255, 0.4) 1.125rem 0.8125rem 1.875rem 2;
	  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 1.125rem 0.8125rem 1.875rem 2;
	  box-shadow: rgba(255, 255, 255, 0.4) 1.125rem 0.8125rem 1.875rem 2;
	  transition-delay: 300;
	  position: absolute;
	  z-index: -4;
	  top: 0px;
	  left: 65px;
	  opacity: .3;
	}

	.coeff-room-block16 {
  		position: absolute;
		z-index: -5;
		top: 337px;
		left: 0px;
		opacity: 0.7;
		max-height: 45%;
		min-width: 45%; 
		img {
			height: 30%;
			width: 30%; }  
		}

	.coeff-room-block17 {
  		position: absolute;
		z-index: 1;
		top: 0px;
		height: 57%;
		width: 57%; 
		img {
			height: 57%;
			width: 57%; }  
		}
	
	.coeff-room-block18 {
		transition-delay: 300;
  		position: absolute;
		z-index: 4;
		top: 100px;
		opasity: 1;
		@extend .firstLight;
		img {
			height: 122%;
			width: 105%; }  
		}

	.coeff-room-block19 {
		transition-delay: 300;
  		position: absolute;
		z-index: 2;
		top: 100px;
		opacity: 1;
		@extend .secondLight;
		img {
			height: 122%;
			width: 105%; }  
		}

	.coeff-room-block20 {
		transition-delay: 300;
  		position: absolute;
		z-index: 3;
		top: 100px;
		opacity: 1;
		@extend .thirdLight;
		img {
			height: 122%;
			width: 105%; }  
		}

	.coeff-room-block21 {
		transition-delay: 300;
  		position: absolute;
		z-index: 4;
		top: 100px;
		opacity: 1;
		img {
			height: 122%;
			width: 105%; }  
		}	

  	.coeff-room-block23 {
  	 	transition-delay: 300;
  		position: absolute;
		z-index: -7;
		top: 0px;
		left: 0px;
		opacity: 0.5;

		img {
			height: 95%;
			width: 95%; }  
		}