.rooms-selector-dialog {
  @extend .modal-dialog;
  @include display-flex();
  @include flex-flow(column nowrap);
  height: rem(800px);

  &:after {
    position: absolute;
    right: 35%;
    bottom: rem(-24px);
    display: block;
    width: 0;
    border-width: rem(25px) rem(25px) 0;
    border-style: solid;
    border-color: rgba(#fff, .85) transparent;
    content: '';
  }

  .rooms-row {
    @include display-flex();

    &:first-of-type {
      margin-bottom: rem(25px);
    }
  }
  .room-block {
    width: rem(404px);
    height: rem(314px);
  }
  .room-box {
    width: 100%;
    height: 100%;
    padding: rem(16px);
    border-radius: rem($radius_room-box_dialog);
    cursor: pointer;
    &:hover,
    &.selected {
      background-color: #6ed44a;
    }
  }
  .room-img {
    @extend .splash;

    position: relative;
    width: 100%;
    height: 100%;
    &.kitchen {
      background: image-url('rooms-dialog/1.jpg');
      background-size: contain;
    }
    &.livingroom {
      background: image-url('rooms-dialog/livingroom.jpg');
      background-size: contain;
    }
    &.balcony {
      background: image-url('rooms-dialog/balcony.jpg');
      background-size: contain;
    }
    &.childroom {
      background: image-url('rooms-dialog/4.jpg');
      background-size: contain;
    }
    &.bedroom {
      background: image-url('rooms-dialog/bedroom.jpg');
      background-size: contain;
    }
    &.door {
      background: image-url('rooms-dialog/door.jpg');
      background-size: contain;
    }
  }
  .room-title {
    @include background-image(linear-gradient(color-stops(rgba(#efefef, .1), #474747)));
    @include roboto-rg(rem(36px), rem(80px));

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: rem(30px);
    color: #fff;
  }
}