.room-info-container {
  @include transition(height .5s linear);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20.5rem;
  z-index: 11;
  &.show-comment {
    height: 95.5rem;
  }
  .room-header {
    @include top_left_coord(0px, 0px);
    @include animation(moveRoomHeader 1s 0 ease 1);

    position: absolute;
    padding-left: rem(50px);
  }
  .room-name {
    @include display-flex();
    @include justify-content(space-between);
    @include roboto-th(rem(200px), rem(150px));

    min-width: rem(960px);
    color: #fff;
  }
  .select-rooms {
    @include roboto-lt(rem(60px));
    height: rem(110px);
    color: #fff;
    @extend .splash;
    @extend .truncated;
    height: 5.5rem;
    padding: 0.5rem 1.5rem;
    position: relative;
    top : -1.3rem;
    cursor: pointer;
  }
  .coeff-info-block{
    position: absolute;
    top: -21rem;
    width: 80rem;
    height: 20rem;
    left:8rem;
    border-radius:2rem;
    background-color: white;
    text-align:center;
    padding: 2rem 0 0 0;
    text-shadow: none;
    &:after {
      position: absolute;
      right: 50rem;
      bottom: -2rem;
      display: block;
      width: 0;
      border-width: 1.5625rem 0 1.5625rem 1.5625rem;
      border-style: solid;
      border-color: transparent rgba(255, 255, 255, 1);
      transform: rotate(90deg);
      content: '';
    }
    .coeff-max, .heat-transfer{
      color : $main_green;
      @include roboto-rg(rem(80px));
      position:relative;
      top:0;
      display: inline-block;
    }
    .heat-transfer-info_hr{
      position:relative;
      @include roboto-rg(rem(30px));
      color: #000;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ccc;
      width : 90%;
      display : inline-block;
    }
    .heat-transfer-info{

      position:relative;
      @include roboto-rg(rem(30px));
      color: #000;
      margin: 0;
      padding: 0;
      width : 90%;
      display : inline-block;
    }
  }
  .select-window-door{
    @extend .select-rooms;
    @include roboto-lt(rem(40px));
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top : -2rem;
  }
  .powered-by{
    width : 100%;
  }
  .powered-by a{
    @include roboto-lt(rem(35px));
    color : white;
    text-decoration: none;
    float:right;
  }
  .coeff-container {
    @include display-flex();
    @include flex-flow(row wrap);
    @include top_left_coord(200px, 0px);
    @include animation(moveCoeff 1s 0 ease 1);
    position: absolute;
    width: 100%;
  }
  .coeff-block {
    @include single-text-shadow(1px, 2px, 0px, false, rgba(black, .6));
    margin: 0;
    padding: 0 rem(35px);
    color: #fff;
    border-left: 2px dotted #fff;
    &:first-child {
      border-left: none;
    }
    &:nth-child(2),
    &:last-child {
      max-width: rem(520px);
    }
  }
  .coeff-max {
    @extend .splash;
    @include roboto-md(rem(36px), 1);
    position: absolute;
    top: rem(-50px);
    right: 0;
    color: #fff;
  }
  .coeff {
    text-align :center;
    @include roboto-rg(rem(50px), 1);
    position: relative;
    float: left;
    &.coeff-low {
      @extend .coeff-low;
    }
  }
  .coeff-title {
    @include roboto-lt(2rem);
    color : white;
    float: left;
    width: 110%;
    margin-left:-1rem;
    margin-right:-1rem;
    max-height: 7rem;
    word-wrap: normal;
    overflow: auto;
    display: inline-block;
    text-align: center;
  }
  .heat-transfer{
    margin-top:0.2rem;
    cursor: pointer;
  }
  .comment-btn {
    position: absolute;
    bottom: 0;
    right: 1rem;
    &:after {
      @include font-icon(5rem, 1);
      content: $coment;
      color: #fff;
    }
  }

  //----- Comment Block
  .product-comment {
    margin-top: 25rem;
    height: 90%;
  }
  textarea.comment-field {
    @include roboto-lt(rem(36px));
    width: 90%;
    height: 80%;
    display: block;
    margin: 0 1rem;
    padding: 2rem;
    border: none;
    border-radius: rem($radius_general-small_button);
    outline: none;
  }
}
  textarea.comment-field {
    font: normal 2.25rem/1.42857 roboto-light, sans-serif, icons;
    width: 90%;
    height: 80%;
    display: -webkit-inline-box;
    margin: 0 1rem;
    padding: 2rem;
    border: none;
    border-radius: 1.25rem;
    outline: none;
  }
@include behavior-move(moveRoomHeader, rem(2000px), 0, 0, 0);
@include behavior-move(moveCoeff, 0, rem(2000px), 250, 0);
