.rooms-selector-dialog {
  @extend .modal-dialog;
  height: 51rem;
  overflow: hidden;
  &:after {
    position: absolute;
    right: 35%;
    bottom: rem(-24px);
    display: block;
    width: 0;
    border-width: rem(25px) rem(25px) 0;
    border-style: solid;
    border-color: rgba(#fff, .85) transparent;
    content: '';
  }
  .rooms-inner {
    height: 100%;
    width: 110%;
    overflow-y: auto;
  }
  .room-block {
    width: rem(404px);
    height: rem(314px);
    float: left;
    margin-bottom: rem(25px);
  }
  .room-box {
    width: 100%;
    height: 100%;
    padding: rem(16px);
    border-radius: rem($radius_room-box_dialog);
    cursor: pointer;
    &:hover,
    &.selected {
      background-color: #6ed44a;
    }
  }
  .room-img {
    @extend .splash;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

}