.calculators-box {
  @include transition(all 0.5s linear);
  position: absolute;
  bottom: rem(-3000px);
  border-left: 1px solid $main_gray_btn;
  z-index: 4;
  &.active {
    bottom: 0;
    z-index: 14;
  }
}

.calc-equal {
  background-color: $main_green;
}

.size-calc-container {
  @extend .calculator;

  .calc-delete {
    position: relative;
    display: table;
    background-color: $main_gray_btn;
    &:after {
      @extend .icon-setting;
      @include font-icon(rem(36px), 0);

      left: 30%;
      position: absolute;
      color: $main_gray_txt;
      content: $calc-clean-icon;
    }
  }

  .calc-interval {
    @include justify-content(space-around);

    position: relative;

    &:after {
      @extend .icon-setting;
      @include font-icon(rem(36px), 0);

      top: 45%;
      left: 45%;
      position: absolute;
      color: $main_gray_btn;
      content: $calc-more-icon;
    }
  }

  .calc-value-limit {
    @include roboto-lt(rem(36px));
    max-width: 7rem;

    &.restriction {
      @extend .flashing;
      color: $error_color;
    }
  }
}