.size-calc-container {
  @extend .calculator;

  .calc-delete {
    position: relative;
    background-color: $main_gray_btn;
    &:after {
      @extend .icon-setting;
      @include font-icon(rem(36px), 0);

      left: 30%;
      position: absolute;
      color: $main_gray_txt;
      content: $calc-clean-icon;
    }
  }

  .calc-interval {
    @include justify-content(space-around);

    position: relative;

    &:after {
      @extend .icon-setting;
      @include font-icon(rem(36px), 0);

      top: 45%;
      left: 45%;
      position: absolute;
      color: $main_gray_btn;
      content: $calc-more-icon;
    }
  }

  .calc-value-limit {
    @include roboto-lt(rem(36px));

    &.restriction {
      @extend .flashing;
      color: $error_color;
    }
  }
}