.frame {
  @include transition(all 0.2s linear);
  opasity: 0.6;
  cursor: pointer;
}
.frame-icon {
  fill: #aaa;
  stroke: #000;
  stroke-width: 4;
}
.glass {
  @include transition(all 0.1s linear);
  cursor: pointer;

}

.glass-main {
  @include transition(all 0.1s linear);
  fill: url(#background);
  cursor: pointer;
}
.fp2 {
  filter: alpha(opacity=50);
}
.glass-icon {
  fill: #94DEEE;
}
.glass-sandwich {
  fill: #ececec;
}
.glass-brown {
  fill: #A52A2A;
}
//----- door step
.doorstep {
  fill: #000;
  stroke: #000;
}
.active_svg {
  fill: rgba(34, 34, 255, 0.5)!important;
}
.frame-active, .glass-active {
  @extend .active_svg;
}
.sash_mark {
  fill: none;
  stroke: $main_orange;
  stroke-width: 6;
}
.light-v {
  .sash_mark {
    fill: none;
    stroke: $main_red;
    stroke-width: 6;
  }
}
.corner_mark {
  @extend .active_svg;
  stroke: none;
  cursor: pointer;
}
.handle-mark {
  fill: #f9f9f9;
  stroke: #817D7D;
  stroke-width: .7;
}
.hinge-mark {
  @extend .handle-mark;
  stroke-width: .3;
}
.error_glass {
  fill: $error_color;
}
//----- dimension
.dim_blockX, .dim_blockY {
  @include transition(all 0.5s linear);
}
.dim_shiftX {
  @include translate(0, -150px);
}
.dim_shiftY {
  @include translate(-200px, 0);
}

.dim_block {
  @include transition(all 0.5s linear);
  opacity: 1;
  visibility: visible;
}
.dim_hidden {
  opacity: 0;
  visibility: hidden;
}

.size-line {
  fill: none;
  stroke: #000;
//  stroke: #D2D2D2;
  stroke-width: 1;
}
.size-rect {
  width: 160px;
  height: 70px;
  stroke: $main_green;
  stroke-width: 3px;
  fill-opacity: 0;
  cursor: pointer;
  &.active {
    fill: $main_green;
    fill-opacity: 1;
  }
}
.size-txt {
  font-size: rem(90px);
  stroke: #000;
  stroke-width: 1px;
  text-anchor: middle;
  alignment-baseline: middle;
  cursor: pointer;
}
.size-txt-edit {
  @extend .size-txt;
  stroke: $main_green;
  fill: $main_green;

  &.active {
    stroke: #fff;
    fill: #fff;
  }
}

.glass-txt {
  @extend .size-txt;
  font-size: 7rem;
}



.doorstep {
  fill: #4f4f4f;
  stroke: #4f4f4f;
}
.main-line {
  fill: $main_gray_txt;
}
//.size-line {
//  fill: none;
//  stroke: #D2D2D2;
//  stroke-width: 1;
//stroke-linejoin: "round";
//stroke-miterlimit: "10";
//stroke-linecap: "round";
//}


/*
.size-value-vertical {
  @extend .size-value;
  //text-anchor: end;

  //writing-mode: tb;
  //glyph-orientation-vertical: 190;
  //@include rotate(180deg);
}
*/
