@import 'compass/css3';
@import '../base/base';

.user-info-container {
  @include display-flex();
  @include flex-flow(row wrap);
  @include align-items(center);
  @include top_left_coord(40, 10);

  position: absolute;
  width: 100%;
  .nav-menu-btn {
    @extend .menu-btn;

    &.show-navmenu {
      @include animation(show-navmenu-btn .5s 0 ease 1);
      @include rotate(90deg);
    }
    &.hide-navmenu {
      @include animation(hide-navmenu-btn .5s 0 ease 1);
      @include rotate(0deg);
    }
    &.move-btn {
      @include animation(move-nav-btn 1s 0 ease 1);
    }
  }
  .user-foto {
    @extend .avatar;

    margin: 0 20px;
  }
  .icon-location {
    @include animation(splashing .5s 0 ease 1);
    display: none;
    position: relative;
    width: 35px;

    &:before {
      @extend .icon-setting;
      @include font-general-icon(30px, 1);

      position: absolute;
      top: -30px;
      margin-right: 6px;
      color: $main_orange;
      content: $geolocation_filled-icon;
    }
  }

  .user-info-block {
    text-align: center;
  }
  .user-location {
    @include roboto-md(36px, 54px);

    color: $main_gray_txt;
  }
  .user-name {
    @include roboto-lt(24px, 40px);

    color: $main_gray_txt;
  }
}

@include behavior-splash(splashing, 0, 1.3, 1);
@include behavior-move(move-nav-btn, 100px, 0, 0, 0);
@include behavior-move(move-location-icon, -100px, 0, 0, 0);
@include behavior-rotate(show-navmenu-btn, 0deg, 90deg);
@include behavior-rotate(hide-navmenu-btn, 90deg, 0deg);