
<div ng-controller="HistoryCtrl as historyPage" ng-if="mobilePage.G.global.mobileOrderHistory" class="mobile-order-history mobile-common-panel">
  <div ng-click="mobilePage.OpenMenu()" ng-class="{ active: mobilePage.mobMenu }" class="burger"></div>
  <div class="mobile-order-history-title">
    <label>{{mobilePage.ORDER_HISTORY}}</label>
  </div>
  <div class="search-config-order">
    <div class="search">
      <div ng-click="historyPage.orderSearching()" class="lupa tool-btn"></div>
      <div ng-class="{active: historyPage.H.history.isOrderSearch, border: historyPage.H.history.isOrderSearch}" class="mobile-history-search">
        <form ng-controller="searchCtrl as searchBox" name="searchForm">
          <input type="text" name="searching" ng-model="searchBox.searchingWord" ng-change="searchBox.checkChanges()" placeholder="{{searchBox.placeholder}}" class="search-input">
          <div fs-click="searchBox.deleteSearchChart()" class="delete-search"></div>
          <div ng-click="searchBox.cancelSearching()" class="close-dialog"></div>
        </form>
      </div>
    </div>
    <div class="order">
      <select class="period-of-time">
        <option value="{{1}}">{{historyPage.DURING_THE_WEEK}}</option>
        <option value="{{2}}">{{historyPage.PER_MOUNTH}}</option>
        <option value="{{3}}">{{historyPage.IN_A_YEAR}}</option>
      </select>
      <div class="arrow-down"></div>
    </div>
    <div class="history-settings">
      <div ng-click="historyPage.orderSorting()" class="config tool-btn"></div>
      <div ng-class="{ 'active': historyPage.H.history.isOrderSort , border: historyPage.H.history.isOrderSort }" class="settings-block">
        <div class="filter-divider">{{ ::historyPage.SORTING }}</div>
        <div class="filter-list">
          <div ng-class="{ 'selected': historyPage.H.history.isSortType == 'first' }" fs-click="historyPage.sortingInit(0, 'first')" class="filter-item">
            <div class="filter-label">{{ ::historyPage.NEWEST_FIRST }}</div>
          </div>
          <div ng-class="{ 'selected': historyPage.H.history.isSortType == 'last' }" fs-click="historyPage.sortingInit(0, 'last')" class="filter-item">
            <div class="filter-label">{{ ::historyPage.NEWEST_LAST }}</div>
          </div>
          <div ng-class="{ 'selected': historyPage.H.history.isSortType == 'type' }" fs-click="historyPage.sortingInit(0, 'type')" class="filter-item">
            <div class="filter-label">{{ ::historyPage.SORT_BY_TYPE }}</div>
          </div>
        </div>
        <div class="filter-divider">{{ ::historyPage.SORT_SHOW }}</div>
        <div class="filter-list">
          <div ng-class="{ 'selected': !historyPage.H.history.isFilterType }" fs-click="historyPage.sortingInit(1, undefined)" class="filter-item">
            <div class="filter-label">{{ ::historyPage.ALL }}</div>
          </div>
          <div ng-class="{ 'selected': historyPage.H.history.isFilterType == 'order' }" fs-click="historyPage.sortingInit(1, 'order')" class="filter-item">
            <div class="filter-label">{{ ::historyPage.SORT_SHOW_ACTIVE }}</div>
          </div>
          <div ng-class="{ 'selected': historyPage.H.history.isFilterType == 'master' }" fs-click="historyPage.sortingInit(1, 'master')" class="filter-item">
            <div class="filter-label">{{ ::historyPage.SORT_SHOW_WAIT }}</div>
          </div>
          <div ng-class="{ 'selected': historyPage.H.history.isFilterType == 'done' }" fs-click="historyPage.sortingInit(1, 'done')" class="filter-item">
            <div class="filter-label">{{ ::historyPage.SORT_SHOW_DONE }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-list-scroll-block">
    <div ng-repeat="order in historyPage.H.history.orders | orderSorting:historyPage.H.history.isSortType | filter: {order_style: historyPage.H.history.isFilterType} | filter:historyPage.H.history.searchingWord track by $index" ng-class="{ 'done': order.order_style == 'done' }" class="order-card">
      <div ng-click="historyPage.showOrderActions($index)" class="curr-card">
        <div class="row-id">
          <div class="order-row-item">
            <label>id {{ order.order_number }}-{{ order.id }}</label>
          </div>
          <div class="order-row-item">
            <label>{{ ::historyPage.FROM }} {{order.order_date | date:"dd MMMM, yyyy"}}</label>
          </div>
        </div>
        <div class="order-row">
          <div class="order-row-item">
            <label>{{ order.customer_name }}</label><span> {{ ::historyPage.CLIENT }}</span>
          </div>
        </div>
        <div class="order-row">
          <div ng-if="order.customer_phone" class="order-row-item">
            <label>{{ order.customer_phone }}</label><span> {{ ::historyPage.PHONE }}</span>
          </div>
        </div>
        <div class="order-row">
          <div class="order-row-item">
            <label>{{ order.customer_location }}, {{ order.customer_address }}</label><span> {{ ::historyPage.ADDRESS }}</span>
          </div>
        </div>
        <div class="order-row">
          <div class="order-row-item">
            <label>{{ order.products_qty }} {{ ::historyPage.ALLPRODUCTS }} {{ ::historyPage.ON }} {{order.new_delivery_date | date:"dd.MM.yyyy"}}</label>
          </div>
        </div>
        <div class="order-row-price">
          <!--.config.tool-btn(ng-click='historyPage.showOrderActions($index)')-->
          <label>{{ order.order_price_dis }} {{ historyPage.U.userInfo.currency }}</label>
        </div>
      </div>
      <div ng-class="{active : historyPage.OrderActions === $index}" class="order-actions">
        <div ng-hide="order.order_style == 'done'" fs-click="historyPage.clickDeleteOrder(order.order_type, order.id)" class="btn delete"><span>{{ ::historyPage.DELETE }}</span></div>
        <div fs-click="historyPage.orderPrint(order.id)" class="btn"> <span>{{ ::historyPage.PRINT }}</span></div>
        <div ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}" ng-hide="order.order_style == 'done'" fs-click="historyPage.editOrder(1, order.id)" class="btn"> <span>{{ ::historyPage.CHANGE }}</span></div>
        <div fs-click="historyPage.makeOrderCopy(order.order_style, order.id)" class="btn"> <span>{{ ::historyPage.BUTTON_C }}</span></div>
        <div ng-hide="order.order_style == 'done'" fs-click="historyPage.sendOrderToFactory(order.order_style, order.id)" ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}" class="btn delete"><span>{{ ::historyPage.SEND_ORDER_TITLE }}</span></div>
        <div ng-click="historyPage.OrderActions = -1" class="order-delete"></div>
      </div>
    </div>
  </div>
</div>