$aux-img-path: "auxiliaries";
$aux-img-focus-path: "auxiliaries-focused";
$aux-img-select-path: "auxiliaries-selected";

.auxiliaries-container {
  @extend .parameters-block;

  .auxiliary-item {
    position: absolute;

    &.focused {
      .aux-grid-img {
        background-image: image-url($aux-img-focus-path + "/grid.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-grating-img {
        background-image: image-url($aux-img-focus-path + "/grating.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-grat-img {
        background-image: image-url($aux-img-focus-path + "/grating2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-shutters-img {
        background-image: image-url($aux-img-focus-path + "/shutters.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-shut-img {
        background-image: image-url($aux-img-focus-path + "/shutters2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-visor-img {
        background-image: image-url($aux-img-focus-path + "/visor.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-vis-img {
        background-image: image-url($aux-img-focus-path + "/visor2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-spillway-img {
        background-image: image-url($aux-img-focus-path + "/spillway.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-spil-img {
        background-image: image-url($aux-img-focus-path + "/spillway2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-windowsill-img {
        background-image: image-url($aux-img-focus-path + "/windowsill.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-louver-top {
        background-image: image-url($aux-img-focus-path + "/louvers-top.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-louver-midle {
        background-image: image-url($aux-img-focus-path + "/louvers-middle.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-louver-bottom {
        background-image: image-url($aux-img-focus-path + "/louvers-bottom.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-inside-top {
        background-image: image-url($aux-img-focus-path + "/inside-slope-top.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-inside-right {
        background-image: image-url($aux-img-focus-path + "/inside-slope-right.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-inside-left {
        background-image: image-url($aux-img-focus-path + "/inside-slope-left.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-outside-img {
        background-image: image-url($aux-img-focus-path + "/outside.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-fan-img {
        background-image: image-url($aux-img-focus-path + "/fan.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-force-connect {
        background-image: image-url($aux-img-focus-path + "/force-connector.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-balcon-connect {
        background-image: image-url($aux-img-focus-path + "/balcon-connector.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-handle-img {
        background-image: image-url($aux-img-focus-path + "/handle.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-blind-img {
        background-image: image-url($aux-img-focus-path + "/blind.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      //Buttons Colors
      .aux-choose-but {
        color: #fff;
      }
    }

    &.selected {
      .aux-grid-img {
        background-image: image-url($aux-img-select-path + "/grid.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-visor-img {
        background-image: image-url($aux-img-select-path + "/visor.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-vis-img {
        background-image: image-url($aux-img-select-path + "/visor2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-grating-img {
        background-image: image-url($aux-img-select-path + "/grating.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-grat-img {
        background-image: image-url($aux-img-select-path + "/grating2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-shutters-img {
        background-image: image-url($aux-img-select-path + "/shutters.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-shut-img {
        background-image: image-url($aux-img-select-path + "/shutters2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-spillway-img {
        background-image: image-url($aux-img-select-path + "/spillway.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-spil-img {
        background-image: image-url($aux-img-select-path + "/spillway2.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-windowsill-img {
        background-image: image-url($aux-img-select-path + "/windowsill.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-louver-top {
        background-image: image-url($aux-img-select-path + "/louvers-top.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-louver-midle {
        background-image: image-url($aux-img-select-path + "/louvers-middle.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-louver-bottom {
        background-image: image-url($aux-img-select-path + "/louvers-bottom.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-inside-top {
        background-image: image-url($aux-img-select-path + "/inside-slope-top.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-inside-right {
        background-image: image-url($aux-img-select-path + "/inside-slope-right.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-inside-left {
        background-image: image-url($aux-img-select-path + "/inside-slope-left.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-outside-left {
        background-image: image-url($aux-img-select-path + "/outside.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-fan-img {
        background-image: image-url($aux-img-select-path + "/fan.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-force-connect {
        background-image: image-url($aux-img-select-path + "/force-connector.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-balcon-connect {
        background-image: image-url($aux-img-select-path + "/balcon-connector.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-handle-img {
        background-image: image-url($aux-img-select-path + "/handle.png");
        background-repeat: no-repeat;
        background-size: contain;
      }

      .aux-blind-img {
        background-image: image-url($aux-img-focus-path + "/blind.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .aux-grid.focused,
  .aux-outside.focused,
  .aux-spil.focused,
  .aux-spillway.focused {
    z-index: 20;
  }
  //------Grid
  .aux-grid {
    @include top_left_coord(380px, 880px);
    z-index: 3;
  }

  .aux-grid-img {
    @include top_left_coord(0px, 0px);
    position: absolute;
    width: rem(220px);
    height: rem(390px);
    background-image: image-url($aux-img-path + "/grid.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Visor
  .aux-visor {
    @include top_left_coord(140px, 540px);
    z-index: 4;
  }

  .aux-visor-img {
    @include top_left_coord(10px, -250px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/visor.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Vis
  .aux-vis {
    @include top_left_coord(476px, 860px);
    z-index: 4;
  }

  .aux-vis-img {
    @include top_left_coord(10px, -250px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/visor2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Grating
  .aux-grating {
    @include top_left_coord(140px, 540px);
    z-index: 4;
  }

  .aux-grating-img {
    @include top_left_coord(520px, -440px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/grating.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Grat
  .aux-grat {
    @include top_left_coord(-250px, 330px);
    z-index: 4;
  }

  .aux-grat-img {
    @include top_left_coord(520px, -340px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/grating2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Shutters
  .aux-shutters {
    @include top_left_coord(140px, 540px);
    z-index: 4;
  }

  .aux-shutters-img {
    @include top_left_coord(-830px, 480px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/shutters.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Shutters main
  .aux-shut {
    @include top_left_coord(140px, 540px);
    z-index: 4;
  }

  .aux-shut-img {
    @include top_left_coord(-40px, -140px);
    position: absolute;
    width: 28.75rem;
    height: 38.625rem;
    background-image: image-url($aux-img-path + "/shutters2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Spillway
  .aux-spillway {
    @include top_left_coord(690px, 540px);
    z-index: 5;
  }

  .aux-spillway-img {
    @include top_left_coord(160px, 70px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/spillway.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Spil
  .aux-spil {
    @include top_left_coord(786px, 396px);
    z-index: 5;
  }

  .aux-spil-img {
    @include top_left_coord(160px, 70px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/spillway2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-------Outside
  .aux-outside {
    @include top_left_coord(380px, 440px);
    z-index: 6;
  }

  .aux-outside-img {
    @include top_left_coord(70px, 310px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/outside.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Windowsill
  .aux-windowsill {
    @include top_left_coord(1116px, 88px);
    z-index: 7;
  }

  .aux-windowsill-img {
    @include top_left_coord(0px, 0px);
    position: absolute;
    width: rem(720px);
    height: rem(236px);
    background-image: image-url($aux-img-path + "/windowsill.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----blind
  .aux-blind {
    @include top_left_coord(1160px, 100px);
    z-index: 7;
  }

  .aux-blind-img {
    @include top_left_coord(370px, -46px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/blind.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Template
  .aux-template1 {
    @include top_left_coord(1160px, 100px);
    z-index: 7;
  }

  .aux-template1-img {
    @include top_left_coord(160px, 96px);
    position: absolute;
    width: rem(454px);
    height: rem(484px);
    background-image: image-url($aux-img-path + "/template1.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .aux-template2 {
    @include top_left_coord(1160px, 100px);
    z-index: 7;
  }

  .aux-template2-img {
    @include top_left_coord(140px, 40px);
    position: absolute;
    width: rem(454px);
    height: rem(772px);
    background-image: image-url($aux-img-path + "/template2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Louvers
  .aux-louver {
    @include top_left_coord(750px, 530px);
    z-index: 8;
  }

  .aux-louver-img {
    @include top_left_coord(0px, 0px);
    position: relative;
  }

  .aux-louver-top {
    @include top_left_coord(0px, 50px);
    position: absolute;
    z-index: 10;
    width: rem(261px);
    height: rem(79px);
    background-image: image-url($aux-img-path + "/louvers-top.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .aux-louver-midle {
    position: absolute;
    left: rem(50px);
    width: rem(261px);
    height: rem(99px);
    background-image: image-url($aux-img-path + "/louvers-middle.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .louver-midle-1 {
    z-index: 9;
    top: rem(27px);
  }

  .louver-midle-2 {
    z-index: 8;
    top: rem(65px);
  }

  .louver-midle-3 {
    z-index: 7;
    top: rem(103px);
  }

  .aux-louver-bottom {
    @include top_left_coord(143px, 50px);
    position: absolute;
    z-index: 6;
    width: rem(261px);
    height: rem(104px);
    background-image: image-url($aux-img-path + "/louvers-bottom.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Inside-slope
  .aux-inside {
    @include top_left_coord(410px, 350px);
    z-index: 9;
  }

  .aux-inside-img {
    @include top_left_coord(0px, 0px);
    position: relative;
  }

  .aux-inside-top {
    @include top_left_coord(0px, 50px);
    position: absolute;
    width: rem(660px);
    height: rem(183px);
    background-image: image-url($aux-img-path + "/inside-slope-top.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .aux-inside-right {
    @include top_left_coord(180px, 680px);
    position: absolute;
    width: rem(90px);
    height: rem(434px);
    background-image: image-url($aux-img-path + "/inside-slope-right.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .aux-inside-left {
    @include top_left_coord(60px, 0px);
    position: absolute;
    width: rem(97px);
    height: rem(408px);
    background-image: image-url($aux-img-path + "/inside-slope-left.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //------Fun
  .aux-fan {
    @include top_left_coord(900px, 370px);
    z-index: 10;
  }

  .aux-fan-img {
    @include top_left_coord(0px, 0px);
    position: absolute;
    width: rem(114px);
    height: rem(120px);
    background-image: image-url($aux-img-path + "/fan.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Connectors
  .aux-connectors {
    @include top_left_coord(990px, 1010px);
    z-index: 11;
  }

  .aux-connectors-img {
    @include top_left_coord(0px, 0px);
    position: relative;
  }

  .aux-force-connect {
    @extend .splash;
    @include top_left_coord(0px, 0px);
    position: absolute;
    width: rem(128px);
    height: rem(168px);
    background-image: image-url($aux-img-path + "/force-connector.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .aux-balcon-connect {
    @extend .splash;
    @include top_left_coord(30px, 90px);
    position: absolute;
    width: rem(128px);
    height: rem(168px);
    background-image: image-url($aux-img-path + "/balcon-connector.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Handle
  .aux-handle {
    @include top_left_coord(1325px, 230px);
    z-index: 12;
  }

  .aux-handle-img {
    @include top_left_coord(0px, 0px);
    position: absolute;
    width: rem(106px);
    height: rem(126px);
    background-image: image-url($aux-img-path + "/handle.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  //-----Others
  .aux-others {
    @include top_left_coord(1275px, 1212px);
    z-index: 13;
  }

  .aux-txt-box {
    position: absolute;
  }

  .aux-grid-txt {
    @include top_left_coord(100px, 250px);
  }

  .aux-visor-txt {
    @include top_left_coord(210px, -280px);
  }

  .aux-vis-txt {
    @include top_left_coord(162px, 248px);
  }

  .aux-grating-txt {
    @include top_left_coord(920px, -480px);
  }

  .aux-grat-txt {
    @include top_left_coord(600px, -280px);
  }

  .aux-blind-txt {
    @include top_left_coord(-500px, 150px);
  }

  .aux-shutters-txt {
    @include top_left_coord(140px, 530px);
  }

  .aux-shut-txt {
    @include top_left_coord(121.5px, 234px);
  }

  .aux-spillway-txt {
    @include top_left_coord(630px, 400px);
  }

  .aux-spil-txt {
    @include top_left_coord(342px, 416px);
  }

  .aux-outside-txt {
    @include top_left_coord(350px, 620px);
    z-index: 10;
  }

  .aux-louver-txt {
    @include top_left_coord(280px, -94px);
  }

  .aux-inside-txt {
    @include top_left_coord(370px, 850px);
  }

  .aux-connectors-txt {
    @include top_left_coord(70px, 250px);
  }

  .aux-fan-txt {
    @include top_left_coord(20px, -260px);
  }

  .aux-windowsill-txt {
    @include top_left_coord(196px, 750px);
    width: rem(300px);
  }

  .aux-handle-txt {
    @include top_left_coord(35px, 150px);
  }

  .selected-block {
    @include display-flex();
    @include justify-content(flex-start);

    &.horisontal {
      @include flex-flow(row wrap);
      @include align-items(center);
      min-width: rem(520px);
    }

    &.vertival {
      @include flex-flow(column wrap);
      width: 25rem;
    }
  }

  .aux-info-box {
    width: rem(250px);
  }

  .aux-title {
    color: $main_gray_txt;
    cursor: pointer;
  }

  .scheme-info {
    @extend .button;
    @extend .splash;
    @include top_left_coord(420px, 520px);
    @include font-icon(rem(30px), 1);
    position: absolute;
    display: none;
    width: rem(50px);
    height: rem(50px);
    border-radius: 50%;
    background-color: $main_orange;
    z-index: 21;

    &:after {
      color: #fff;
      content: $info-i-icon;
    }
  }

  .scheme-view-dialog {
    @extend .modal-dialog;
    height: 60rem;
    padding-top: 2rem;
    overflow: hidden;
    z-index: 22;
    text-align: center;
  }

  //rehau styles
  .auxiliaries-inner-rehau {
    position: relative;
    top: 6rem;

    .totalNumberAddElements {
      color: #333;
      font-size: 24px;
    }

    .folders {
      background-size: contain;
      transition: 0.5s;
      margin-right: 32px;

      cursor: pointer;

      .subfolders {
        background-size: contain;
        transition: 0.5s;
        margin-right: 32px;

        p {
          // background-image: url(../img/calc/right-arrow-white.svg);
          // background-repeat: no-repeat;
          // background-position-x: 98%;
          // background-position-y: center;
        }

        .subfolders-name {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;

          width: 104.5%;

          padding: 8px 0;

          color: #ffffff;

          transition: 0.5;

          .splice {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 40px;
            padding: 8px;
            color: #fff;
            background-color: #2a7e6b;
            .arrow {
              transform: rotate(180deg);
            }
          }

          &::first-letter {
            text-transform: uppercase;
          }

          &.active {
            .arrow {
              transition: 0.3s;
              transform: rotate(360deg);
            }
          }
        }
      }

      p {
        margin-bottom: 0;
        color: white;
      }

      .title-box {
        display: flex;
        justify-content: space-between;

        background-color: $primary_green;

        margin-top: 25px;

        &.active {
          .arrow {
            transform: rotate(360deg);
          }
        }
      }

      .arrow {
        top: 30px;
        align-items: end;

        transition: 0.5s;
        align-self: center;

        padding: 8px;
        transform: rotate(180deg);
      }

      .folders-name-rehau {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        padding: 8px;

        color: #fff;

        margin: 0;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .items {
        width: 104.5%;
      }

      .splice {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        padding: 8px;
        margin: 0;

        background-color: #ffff;

        color: #000000;

        &.active {
          background-color: #dd0060;
          color: #fff;
        }
      }
    }
  }
}

.numberMenu {
  position: relative;
  width: 14.7%;
  left: 4%;
  top: 1rem;
  text-align: center;
  color: white;
  float: left;
  height: 5rem;
  line-height: 5rem;
  font: normal 2.3rem/2 roboto-light, sans-serif, icons;
  margin: 1.25rem 0.5rem;
  border-radius: 1rem;
  background-color: orange;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.green {
    transition: 0.5s;
    background-color: #6ed44a;
  }
}

.services {
  margin-left: 8rem;
  padding-top: 20rem;

  .service-block {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .service-type {
    width: 70%;
    height: 6rem;
    @include roboto-th(26px);
    margin: 1.25rem 0.5rem;
    border-radius: 1rem;
    padding-left: 1rem;
    display: inline-flex;
    align-items: center;

    &.green {
      transition: 0.5s;
      @include roboto-rg(26px);
      background-color: #6ed44a;
      color: white;
    }
  }

  .service-input {
    border-radius: 5px !important;
    box-shadow: inset 1px 1px 1px 0 $main_gray_btn;
    width: 15rem;
    height: 5rem;
    background-color: white;
    border: 1px solid gray;
    @include roboto-th(25px);
  }

  label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 5px;
  }

  input:focus {
    outline: none;
  }
}
