.additional-list-container {
  position: absolute;
  padding: rem(50px) rem(80px);
  z-index: 30;


  .search-element {
    @extend .button;
    @extend .splash;
    @include roboto-lt(rem(36px), rem(36px));

    margin: rem(20px);
    margin-left: 0;
    padding: rem(18px) rem(20px);
    border-radius: rem($radius_general-big_button);
    color: #fff;
  }


  .aux-list-content {
    @extend .parameters-block;

  }
  .aux-list-block {
    padding: rem(50px) 0;
    border-bottom: 1px solid $main_gray_btn;

    &:last-child {
      padding: rem(50px) 0 0 0;
      border: none;
    }
  }

  .aux-list-block-title,
  .aux-total-label {
    @include roboto-bd(rem(36px));

    color: $main_gray_txt;
  }
  .aux-list-block-title:first-letter {
    text-transform: uppercase;
  }
  .aux-list-row {
    margin-bottom: rem(20px);
  }
  .aux-total-price {
    @extend .aux-price;
  }
  .aux-total-label {
    min-width: 69%;
  }

  .aux-list-addellement {
    width: 100%;

    .aux-tablecell-name {
      width: rem(500px);
      .aux-name {
        max-width: 100%;
      }
    }
    .aux-tablecell-total {
      width: 75%;
    }
    .aux-tablecell-qty {
      width: rem(100px);
    }
    .aux-tablecell-width,
    .aux-tablecell-height {
      width: rem(150px);
    }
    .aux-tablecell-color {
      width: rem(100px);
    }
    .aux-tablecell-price {
      width: rem(200px);
      .aux-price {
        text-align: center;
      }
    }
    .aux-tablecell-delete {
      width: rem(100px);
    }
  }
}