.additional-list-container {
  position: relative;
  padding: rem(50px) rem(80px);

  .aux-search-content {
    @include transition(left .5s linear);

    position: absolute;
    left: rem(-2000px);
    height: 80%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(#fff, .9);
    z-index: 10;
    &.active {
      left: 0;
    }
  }
  .aux-list-groups {
    list-style: none;
    padding-left: rem(70px);
  }
  .aux-list-group {
    @include roboto-lt(rem(36px), rem(100px));
    @include transition(color .5s linear);

    position: relative;
    border-bottom: 1px solid $main_gray_btn;
    color: $main_gray_txt;
    cursor: pointer;
    &.selected {
      color: #fff;
      .group-indicator{
        &.active {
          width: 100%;
        }
      }
    }
  }
  .group-indicator {
    @extend .button;
    @include top_left_coord(10, -82);
    @include transition(width .5s linear);

    position: absolute;
    width: 0;
    height: rem(80px);
    z-index: -1;
    &:before {
      position: absolute;
      display: block;
      top: 0;
      right: rem(-40px);
      width: 0;
      border-width: rem(40px) 0 rem(40px) rem(40px);
      border-style: solid;
      content: '';
    }
  }
  .search-elements-block {
    @include display-flex();
    @include flex-flow(row wrap);
    @include align-items(flex-start);
  }
  .search-element {
    @extend .button;
    @extend .splash;
    @include roboto-lt(rem(36px), rem(36px));

    margin: rem(20px);
    margin-left: 0;
    padding: rem(18px) rem(20px);
    border-radius: $radius_general-big_button;
    color: #fff;
  }


  .aux-list-content {
    @extend .parameters-block;

  }
  .aux-list-block {
    padding: rem(50px) 0;
    border-bottom: 1px solid $main_gray_btn;

    &:last-child {
      padding: rem(50px) 0 0 0;
      border: none;
    }
  }

  .aux-list-block-title,
  .aux-total-label {
    @include roboto-bd(rem(36px));

    color: $main_gray_txt;
  }
  .aux-list-block-title:first-letter {
    text-transform: uppercase;
  }
  .aux-list-row {
    margin-bottom: rem(20px);
  }
  .aux-total-price {
    @extend .aux-price;
  }
  .aux-total-label {
    min-width: 69%;
  }

  .aux-list-addellement {
    width: 100%;

    .aux-tablecell-name {
      width: rem(500px);
      .aux-name {
        max-width: 100%;
      }
    }
    .aux-tablecell-total {
      width: 75%;
    }
    .aux-tablecell-qty {
      width: rem(100px);
    }
    .aux-tablecell-width,
    .aux-tablecell-height {
      width: rem(150px);
    }
    .aux-tablecell-color {
      width: rem(100px);
    }
    .aux-tablecell-price {
      width: rem(200px);
      .aux-price {
        text-align: center;
      }
    }
    .aux-tablecell-delete {
      width: rem(100px);
    }
  }
}
