// TODO: Проверить координаты

$aux-img-path: 'auxiliaries';
$aux-img-focus-path: 'auxiliaries-focused';
$aux-img-select-path: 'auxiliaries-selected';

.auxiliaries-container {
  .auxiliary-item {
    position: absolute;

    &.focused {
      .aux-grid-img {
        background: image-url($aux-img-focus-path+'/grid.png') no-repeat;
      }
      .aux-visor-img {
        background: image-url($aux-img-focus-path+'/visor.png') no-repeat;
      }
      .aux-spillway-img {
        background: image-url($aux-img-focus-path+'/spillway.png') no-repeat;
      }
      .aux-windowsill-img {
        background: image-url($aux-img-focus-path+'/windowsill.png') no-repeat;
      }
      .aux-louver-top {
        background: image-url($aux-img-focus-path+'/louvers-top.png') no-repeat;
      }
      .aux-louver-midle {
        background: image-url($aux-img-focus-path+'/louvers-middle.png') no-repeat;
      }
      .aux-louver-bottom {
        background: image-url($aux-img-focus-path+'/louvers-bottom.png') no-repeat;
      }
      .aux-inside-top {
        background: image-url($aux-img-focus-path+'/inside-slope-top.png') no-repeat;
      }
      .aux-inside-right {
        background: image-url($aux-img-focus-path+'/inside-slope-right.png') no-repeat;
      }
      .aux-inside-left {
        background: image-url($aux-img-focus-path+'/inside-slope-left.png') no-repeat;
      }
      .aux-fan-img {
        background: image-url($aux-img-focus-path+'/fan.png') no-repeat;
      }
      .aux-force-connect {
        background: image-url($aux-img-focus-path+'/force-connector.png') no-repeat;
      }
      .aux-balcon-connect {
        background: image-url($aux-img-focus-path+'/balcon-connector.png') no-repeat;
      }
      .aux-handle-img {
        background: image-url($aux-img-focus-path+'/handle.png') no-repeat;
      }

      //Buttons Colors
      .aux-choose-but {
        color: #fff;
      }
      .choose-block {
        .aux_big_but {
          background-color: $aux_big_color;
        }
        .aux_middle_but {
          background-color: $aux_middle_color;
        }
        .aux_small_but {
          background-color: $aux_small_color;
        }
        .aux_slope_but {
          background-color: $main_green;
        }
        .aux_connect_but {
          background-color: $aux_connect_color;
        }
      }

    }

    &.selected {
      .aux-grid-img {
        background: image-url($aux-img-select-path+'/grid.png') no-repeat;
      }
      .aux-visor-img {
        background: image-url($aux-img-select-path+'/visor.png') no-repeat;
      }
      .aux-spillway-img {
        background: image-url($aux-img-select-path+'/spillway.png') no-repeat;
      }
      .aux-windowsill-img {
        background: image-url($aux-img-select-path+'/windowsill.png') no-repeat;
      }
      .aux-louver-top {
        background: image-url($aux-img-select-path+'/louvers-top.png') no-repeat;
      }
      .aux-louver-midle {
        background: image-url($aux-img-select-path+'/louvers-middle.png') no-repeat;
      }
      .aux-louver-bottom {
        background: image-url($aux-img-select-path+'/louvers-bottom.png') no-repeat;
      }
      .aux-inside-top {
        background: image-url($aux-img-select-path+'/inside-slope-top.png') no-repeat;
      }
      .aux-inside-right {
        background: image-url($aux-img-select-path+'/inside-slope-right.png') no-repeat;
      }
      .aux-inside-left {
        background: image-url($aux-img-select-path+'/inside-slope-left.png') no-repeat;
      }
      .aux-fan-img {
        background: image-url($aux-img-select-path+'/fan.png') no-repeat;
      }
      .aux-force-connect {
        background: image-url($aux-img-select-path+'/force-connector.png') no-repeat;
      }
      .aux-balcon-connect {
        background: image-url($aux-img-select-path+'/balcon-connector.png') no-repeat;
      }
      .aux-handle-img {
        background: image-url($aux-img-select-path+'/handle.png') no-repeat;
      }
    }
  }

  .aux-grid.focused,
  .aux-spillway.focused,
  .aux-outside.focused {
    z-index: 10;
  }

  //------Grid
  .aux-grid {
    @include top_left_coord(360, 960);

    z-index: 3;
  }

  .aux-grid-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 220px;
    height: 390px;
    background: image-url($aux-img-path+'/grid.png') no-repeat;
  }

  //------Visor
  .aux-visor {
    @include top_left_coord(140, 540);

    z-index: 3;
  }

  .aux-visor-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 893px;
    height: 261px;
    background: image-url($aux-img-path+'/visor.png') no-repeat;
  }

  //------Spillway
  .aux-spillway {
    @include top_left_coord(690, 595);

    z-index: 3;
  }

  .aux-spillway-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 719px;
    height: 206px;
    background: image-url($aux-img-path+'/spillway.png') no-repeat;
  }

  //-------Outside
  .aux-outside {
    @include top_left_coord(380, 440);

    z-index: 3;
  }

  .aux-outside-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 650px;
    height: 610px;
    background: image-url($aux-img-path+'/outside.png') no-repeat;
  }

  //-----Windowsill
  .aux-windowsill {
    @include top_left_coord(1160, 100);

    z-index: 3;
  }

  .aux-windowsill-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 720px;
    height: 236px;
    background: image-url($aux-img-path+'/windowsill.png') no-repeat;
  }

  //-----Louvers

  .aux-louver {
    @include top_left_coord(750, 570);

    z-index: 4;
  }

  .aux-louver-img {
    @include top_left_coord(0, 0);

    position: relative;
  }

  .aux-louver-top {
    @include top_left_coord(0, 50);

    position: absolute;
    z-index: 10;
    width: 261px;
    height: 79px;
    background: image-url($aux-img-path+'/louvers-top.png') no-repeat;
  }

  .aux-louver-midle {
    position: absolute;
    left: 50px;
    width: 261px;
    height: 99px;
    background: image-url($aux-img-path+'/louvers-middle.png') no-repeat;
  }

  .louver-midle-1 {
    z-index: 9;
    top: 27px;
  }

  .louver-midle-2 {
    z-index: 8;
    top: 65px;
  }

  .louver-midle-3 {
    z-index: 7;
    top: 103px;
  }

  .aux-louver-bottom {
    @include top_left_coord(143, 50);

    position: absolute;
    z-index: 6;
    width: 261px;
    height: 104px;
    background: image-url($aux-img-path+'/louvers-bottom.png') no-repeat;
  }

  //-----Inside-slope
  .aux-inside {
    @include top_left_coord(510, 210);

    z-index: 3;
  }

  .aux-inside-img {
    @include top_left_coord(0, 0);

    position: relative;
  }

  .aux-inside-top {
    @include top_left_coord(0, 50);

    position: absolute;
    width: 660px;
    height: 183px;
    background: image-url($aux-img-path+'/inside-slope-top.png') no-repeat;
  }

  .aux-inside-right {
    @include top_left_coord(180, 680);

    position: absolute;
    width: 90px;
    height: 434px;
    background: image-url($aux-img-path+'/inside-slope-right.png') no-repeat;
  }

  .aux-inside-left {
    @include top_left_coord(60, 0);

    position: absolute;
    width: 97px;
    height: 408px;
    background: image-url($aux-img-path+'/inside-slope-left.png') no-repeat;
  }

  //------Fun
  .aux-fan {
    @include top_left_coord(990, 358);

    z-index: 5;
  }

  .aux-fan-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 114px;
    height: 120px;
    background: image-url($aux-img-path+'/fan.png') no-repeat;
  }

  //-----Connectors
  .aux-connectors {
    @include top_left_coord(990, 1010);

    z-index: 3;
  }

  .aux-connectors-img {
    @include top_left_coord(0, 0);

    position: relative;
  }

  .aux-force-connect {
    @extend .splash;
    @include top_left_coord(0, 0);

    position: absolute;
    width: 205px;
    height: 168px;
    background: image-url($aux-img-path+'/force-connector.png') no-repeat;
  }

  .aux-balcon-connect {
    @extend .splash;
    @include top_left_coord(30, 90);

    position: absolute;
    width: 205px;
    height: 168px;
    background: image-url($aux-img-path+'/balcon-connector.png') no-repeat;
  }

  //-----Handle
  .aux-handle {
    @include top_left_coord(1290, 50);

    z-index: 3;
  }

  .aux-handle-img {
    @include top_left_coord(0, 0);

    position: absolute;
    width: 106px;
    height: 126px;
    background: image-url($aux-img-path+'/handle.png') no-repeat;
  }


  //-----Others
  .aux-others {
    @include top_left_coord(1350, 1260);

    z-index: 3;
  }


  .aux-txt-box {
    position: absolute;
  }

  .aux-grid-txt {
    @include top_left_coord(100, 300);
  }

  .aux-visor-txt {
    @include top_left_coord(-50, 550);
  }

  .aux-spillway-txt {
    @include top_left_coord(110, 737);
  }

  .aux-outside-txt {
    @include top_left_coord(-150, -350);
  }

  .aux-louver-txt {
    @include top_left_coord(280, 50);
  }

  .aux-inside-txt {
    @include top_left_coord(-115, -120);
  }

  .aux-connectors-txt {
    @include top_left_coord(70, 250);
  }

  .aux-fan-txt {
    @include top_left_coord(20, -325);
  }

  .aux-windowsill-txt {
    @include top_left_coord(100, 750);
  }

  .aux-handle-txt {
    @include top_left_coord(35, 150);
  }

  .aux-choose-but {
    @extend .splash;
    @extend .small-button;
    @extend .ghost-button;

    padding: 0 30px;
    background-color: transparent;
  }

  .aux_big_but {
    color: $aux_big_color;
    border-color: $aux_big_color;
  }

  .aux_middle_but {
    color: $aux_middle_color;
    border-color: $aux_middle_color;
  }

  .aux_small_but {
    color: $aux_small_color;
    border-color: $aux_small_color;
  }

  .aux_slope_but {
    color: $main_green;
    border-color: $main_green;
  }

  .aux_connect_but {
    color: $aux_connect_color;
    border-color: $aux_connect_color;
  }

  .aux-label {
    @include roboto-lt(22px);

    color: $main_gray_txt;
  }

  .selected-block {
    @include display-flex();
    @include justify-content(flex-start);

    &.horisontal {
      @include flex-flow(row wrap);
      @include align-items(center);
      min-width: 520px;
    }
    &.vertival {
      @include flex-flow(column wrap);
    }
  }

  .aux-info-box {
    width: 250px;
  }

  .aux-title {
    @extend .truncated;
    @include roboto-lt(36px);

    color: $main_gray_txt;
    cursor: pointer;
  }

  .aux-params {
    float: left;
    margin-right: 10px;

    &.selected {
      .aux-params-but {
        color: #fff;
      }
      .aux_big_but {
        background-color: $aux_big_color;
      }
      .aux_middle_but {
        background-color: $aux_middle_color;
      }
      .aux_small_but {
        background-color: $aux_small_color;
      }
      .aux_slope_but {
        background-color: $main_green;
      }
      .aux_connect_but {
        background-color: $aux_connect_color;
      }

    }
  }

  .aux-params-but {
    @extend .splash;
    @extend .ghost-button;
    @extend .small-button;

    padding: 0 20px;
    background-color: transparent;
  }

  .aux-params-label {
    @extend .aux-label;
  }


  .scheme-info {
    @extend .button;
    @include top_left_coord(420, 520);
    @include font-general-icon(50px, 1);

    position: absolute;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 11;
    &:after {
      color: $main_orange;
      content: '\e60d';
    }
  }

}