.glass-container {
  .glass-block {
    @extend .config-section;
  }
  .glass-block-header,
  .glass-block-footer {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
  }
  .info {
    top: rem(-30px);
    right: rem(35px);
  }
  .glass-block-footer {
    overflow-x: auto;
    overflow-y: hidden;
    //min-width: 98%;
    height: rem(370px);
    margin-top: rem(50px);
    padding-top: 1rem;
  }
  .footer-inner {
    @include display-flex();
    @include align-items(center);
  }
  .glass-box {
    @include transition(all .5s linear);
    width: rem(515px);
    min-width: rem(515px);
    height: rem(310px);
    margin-right: rem(50px);
    &.selected {
      position: relative;
      background-color: $main_green;
      .glass-type {
        background-color: #57b23c;
      }
      &:after {
        @include top_left_coord(40px, 30px);
      }
    }
    .label {
      display: inline-block;
      margin-left: 4.5rem;
      width: 100%;
      margin-top : .6rem;
      span {
        @include roboto-lt(rem(30px));
        float:  left;
        width: auto;
        display: inline-block;
      }
    }
  }
  .glass-box-view {
    @include display-flex();
    @include flex-flow(column wrap);
    @include justify-content(space-between);

    float: left;
    overflow: hidden;
    max-width: 12rem;
    text-align: center;
    .label {
      max-width: 12rem;
      word-wrap: break-word;
    }
  }
  .glass-img {
    img {
      max-width: rem(150px);
    }
  }
  .glass-box-data {
    float: right;
    width: rem(225px);
    margin-top: 1.5rem;
  }
  .glass-descr {
    @extend .truncated;
    @include roboto-md(rem(36px));
    color: $main_gray_txt;
    margin-left: 2rem;
  }
  .label {
    @include roboto-lt(rem(22px));
    color: #8c8c8c;
  }

  .full-name {
    @extend .truncated;
    @include roboto-lt(rem(20px));
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $main_orange;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
  }

  //======== Glasses dialog

  .glass-selector-dialog {
    @extend .modal-dialog;
    @include box-shadow(rgba(#000, 0.5) 0 0 4rem);
    height: 70rem;
    background-color: #fff;
    z-index: 12;
    text-align: center;

    .dialog-inner {
      height: 90%;
      width: 100%;
      text-align: center;
    }
    .set-glass-btn {
      @extend .button;
      @extend .splash;
      @include font-icon(1.5rem, 2);
      position: absolute;
      top: 1.875rem;
      right: 6rem;
      border-radius: 50%;
      width: 3.2rem;
      background-color: $main_green;
      text-align: center;

      &:after {
        color: #fff;
        content: $select-history-icon;
      }
    }
  }
}