.glass-container {
  .glass-block {
    @extend .config-section;
  }
  .glass-block-header,
  .glass-block-footer {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
  }
  .info {
    top: rem(-30px);
    right: rem(35px);
  }
  .glass-block-footer {
    overflow-x: auto;
    overflow-y: hidden;
    //min-width: 98%;
    height: rem(370px);
    margin-top: rem(50px);
    padding-top: 1rem;
  }
  .footer-inner {
    @include display-flex();
    @include align-items(center);
  }
  .glass-box {
    @include transition(all .5s linear);
    width: rem(515px);
    min-width: rem(515px);
    height: rem(310px);
    margin-right: rem(50px);
    &.selected {
      position: relative;
      background-color: $main_green;
      .glass-type {
        background-color: #57b23c;
      }
      &:after {
        @include top_left_coord(40px, 30px);
      }
    }
  }
  .glass-box-view {
    @include display-flex();
    @include flex-flow(column wrap);
    @include justify-content(space-between);

    float: left;
    overflow: hidden;
    max-width: 12rem;
    text-align: center;
    .label {
      max-width: 12rem;
      word-wrap: break-word;
    }
  }
  .glass-img {
    img {
      max-width: rem(150px);
    }
  }
  .glass-box-data {
    float: right;
    width: rem(225px);
  }
  .glass-descr {
    @extend .truncated;
    @include roboto-md(rem(36px));

    margin-bottom: rem(50px);
    color: $main_gray_txt;
  }
  .label {
    @include roboto-lt(rem(22px));

    color: #8c8c8c;
  }
}