.hardware-container {
  overflow-y: auto;
  overflow-x: hidden;

  .hardware-block {
    @extend .config-section;

    width: 94%;
    padding: 50px 80px;
    padding-right: 0;
    border-bottom: 1px solid $main_gray_btn;
    &.selected {
      position: relative;
      &:before {
        @include top_left_coord(56, -27);
        @include font-general-icon(90px, 60px);

        position: absolute;
        color: $main_green;
        content: $triangle-panel-icon;
      }
    }
  }
  .hardware-block-header {
    //@include display-flex();
    //@include flex-flow(row wrap);
    //@include justify-content(flex-start);
  }
  .hardware-title {
    @include roboto-bd(48px);

    color: $main_gray_txt;
  }
  .hardware-box {
    @extend .splash;

    position: relative;
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
    &.selected {
      .hardware-box-data {
        position: relative;
        background-color: $main_green;
        &:after {
          @include font-general-icon(150px, 130px);

          position: absolute;
          top: 40px;
          right: 30px;
          color: #fff;
          content: $check-panel-icon;
        }
        .hardware-label {
          color: $main_gray_txt;
        }
        .coef-index {
          &:first-child {
            background-color: #3db26a;
          }
          &:nth-child(2) {
            background-color: #42b260;
          }
          &:nth-child(3) {
            background-color: #4ab253;
          }
          &:nth-child(4) {
            background-color: #51b247;
          }
          &:last-child {
            background-color: #57b23c;
          }
        }
      }
    }
  }
  .info {
    @include top_left_coord(15, 15);

    position: absolute;
    text-decoration: none;
    &:before {
      @include font-general-icon(50px, 50px);

      color: $main_green;
      content: $info-panel-icon;
    }
  }
  .hardware-box-inner {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(space-between);
  }
  .hardware-box-view {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    width: 305px;
    border-top-left-radius: $radius_profile-box;
    border-bottom-left-radius: $radius_profile-box;
    background-color: #fff;
  }
  .hardware-logo {
    img {
      max-width: 200px;
    }
  }
  .hardware-box-data {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    @include flex-grow(2);

    padding: 35px;
    border-top-right-radius: $radius_profile-box;
    border-bottom-right-radius: $radius_profile-box;
    background-color: #fff;
  }
  .hardware-data {
    float: left;
    margin-right: 45px;
  }
  .hardware-descr {
    @include roboto-md(36px);

    margin-bottom: 5px;
    color: $main_gray_txt;
  }
  .hardware-brand {
    @include roboto-lt(36px);

    margin-bottom: 5px;
    color: $main_gray_txt;
  }
  .hardware-label {
    @include roboto-lt(22px);

    color: #8c8c8c;
  }
  .hardware-data-coeff {
    min-width: 40%;
  }
}