.hardware-container {
  overflow-y: auto;
  overflow-x: hidden;

  .hardware-block {
    @extend .config-section;

    width: 94%;
    padding: rem(50px) rem(80px);
    padding-right: 0;
    border-bottom: 1px solid $main_gray_btn;
    &.selected {
      position: relative;
      &:before {
        @include top_left_coord(56px, -27px);
        @include font-icon(rem(90px), rem(60px));

        position: absolute;
        color: $main_green;
        content: $triangle-panel-icon;
      }
    }
  }
  .hardware-title {
    @include roboto-bd(rem(48px));

    color: $main_gray_txt;
  }
  .hardware-box {
    @extend .splash;

    position: relative;
    width: 100%;
    margin-top: rem(50px);
    cursor: pointer;
    &.selected {
      .hardware-box-data {
        position: relative;
        background-color: $main_green;
        &:after {
          @include font-icon(rem(150px), rem(130px));

          position: absolute;
          top: rem(40px);
          right: rem(30px);
          color: #fff;
          content: $check-panel-icon;
        }
        .hardware-label {
          color: $main_gray_txt;
        }
        .coef-index {
          &:first-child {
            background-color: #3db26a;
          }
          &:nth-child(2) {
            background-color: #42b260;
          }
          &:nth-child(3) {
            background-color: #4ab253;
          }
          &:nth-child(4) {
            background-color: #51b247;
          }
          &:last-child {
            background-color: #57b23c;
          }
        }
      }
    }
  }
  .info {
    @include top_left_coord(15px, 15px);

    position: absolute;
    text-decoration: none;
    &:before {
      @include font-icon(rem(50px), rem(50px));

      color: $main_green;
      content: $info-panel-icon;
    }
  }
  .hardware-box-inner {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(space-between);
  }
  .hardware-box-view {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    width: rem(305px);
    border-top-left-radius: rem($radius_profile-box);
    border-bottom-left-radius: rem($radius_profile-box);
    background-color: #fff;
  }
  .hardware-logo {
    img {
      max-width: rem(200px);
    }
  }
  .hardware-box-data {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    @include flex-grow(2);
    @include transition(all .5s linear);

    padding: rem(35px);
    border-top-right-radius: rem($radius_profile-box);
    border-bottom-right-radius: rem($radius_profile-box);
    background-color: #fff;
  }
  .hardware-data {
    float: left;
    margin-right: rem(45px);
  }
  .hardware-descr {
    @include roboto-md(rem(36px));

    margin-bottom: rem(5px);
    color: $main_gray_txt;
  }
  .hardware-brand {
    @include roboto-lt(rem(36px));

    margin-bottom: rem(5px);
    color: $main_gray_txt;
  }
  .hardware-label {
    @include roboto-lt(rem(22px));

    color: #8c8c8c;
  }
  .hardware-data-coeff {
    min-width: 40%;
  }
}