.lamination-container {
  overflow-y: auto;
  overflow-x: hidden;
  padding: rem(50px) rem(80px);
  .lamination-block {
    margin-bottom: rem(100px);
  }
  .lamination-title {
    @include roboto-bd(rem(48px));

    margin-bottom: rem(15px);
    color: $main_gray_txt;
  }
  .lamination-white {
    @include display-flex();
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    @include align-items(center);

    margin-bottom: rem(15px);
  }
  .lam-option-box {
    position: relative;
    float: left;
    min-height: rem(326px);
    margin-right: rem(15px);
  }
  .lamination-img {
    @extend .splash;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include transition(all .5s linear);

    width: rem(225px);
    min-width: rem(190px);
    height: rem(225px);
    cursor: pointer;
    img {
      max-width: rem(190px);
    }
    &.selected {
      position: relative;
      border-radius: rem($radius_lamination);
      background-color: $main_green;
      &:after {
        @include font-general-icon(rem(130px), rem(130px));

        position: absolute;
        top: rem(40px);
        right: rem(40px);
        color: $main_green;
        content: $check-panel-icon;
      }
    }
  }
  .lamination-label {
    @include roboto-lt(rem(36px));

    max-width: rem(190px);
    padding: 0 rem(17px);
    word-wrap: break-word;
    color: $main_gray_txt;
    &.for-white {
      max-width: rem(500px);
    }
  }
  .info {
    top: rem(-20px);
    right: rem(50px);
  }
  .lamination-img.selected ~ .info {
    top: rem(-30px);
    right: rem(30px);
  }
}