.profile-container {
  @extend .config-panel;
  @include animation(show-config-panel .5s 0 linear 1);
  .profile-block {
    @extend .config-section;
  }
  .profile-box {
    width: 424px;
    min-width: 424px;
    height: 532px;
    margin: 25px 50px 25px 0;
    &.selected {
      &:after {
        top: 45px;
        right: 45px;
      }
    }
  }
  .profile-box-bottom {
    // TODO: Переделать на flexbox (для этого придется менять showElementWithDelay())
    position: absolute;
    right: 45px;
    bottom: 45px;
    left: 45px;
  }
  .profile-descr {
    @include roboto-md(36px);

    margin: 30px 0;
    word-wrap: break-word;
    color: $main_gray_txt;
  }
  .profile-country {
    @include roboto-lt(36px);

    color: $main_gray_txt;
  }
  .label {
    @include roboto-lt(22px);

    color: #8c8c8c;
  }
}

@include behavior-widening(show-config-panel, 0, 80%);
@include behavior-splash(splashing, 0, 1.3, 1);