.profile-container {
  .profile-block {
    @extend .config-section;
    width: 100%;
  }
  .profile-box {
    width: rem(424px);
    min-width: rem(424px);
    margin: rem(25px) rem(50px) rem(25px) 0;
    &.selected {
      &:after {
        top: rem(45px);
        right: rem(45px);
      }
    }
  }
  .box_inner {
    @include display-flex();
    @include flex-flow(column wrap);
    @include justify-content(space-between);
    @include align-items(space-between);
    height: rem(532px);

  }
  .profile-box-top {
    width: 100%;
  }
  .info {
    top: rem(-30px);
    right: rem(35px);
  }
  .profile-descr {
    @extend .truncated;
    @include roboto-md(rem(36px));
    position:absolute;
    bottom:9rem;
    color: $main_gray_txt;
    width:80%;
    overflow: hidden;
  }
  .profile-country {
    @include roboto-lt(rem(46px));

    color: $main_gray_txt;
  }
  .label {
    @include roboto-lt(rem(22px));
    margin-left:rem(5px);
    color: #8c8c8c;
  }
  .label-country{
    @extend .label;
    position:absolute;
    top:7rem;

  }
  .profile-img{
    width:100%;
    max-height: 18rem;
  }
}


.profile-container-rehau {
  .profile-block-rehau {
    @extend .config-section;
    width: 100%;
  }
}

