.template-container {
  padding: 50px;
  .template-title {
    @extend .splash;
    @include roboto-lt(80px, 80px);

    position: relative;
    width: 236px;
    height: 92px;
    margin: 0 auto 30px auto;
    text-align: center;
    color: $main_green;
    border: 1px solid $main_green;
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
    &.active {
      color: #fff;
      background-color: $main_green;

      .window-type {
        @include display-flex();
      }
    }
  }
  .window-type {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include roboto-lt(36px, 72px);
    @include top_left_coord(-30, 170);

    position: absolute;
    white-space: nowrap;
    color: #fff;
    border-radius: 16px;
    background-color: #242424;
    &:before {
      position: absolute;
      z-index: 1;
      bottom: -20px;
      left: 30px;
      display: block;
      width: 0;
      border-width: 20px 20px 0;
      border-style: solid;
      border-color: #242424 transparent;
      content: '';
    }
  }
  .balcon-config {
    padding: 0 30px;
    border-right: 1px solid #b9b9b9;
    cursor: pointer;
  }
  .window-config {
    padding: 0 30px;
    cursor: pointer;
  }
  .template-discr {
    @include roboto-lt(80px);

    text-align: center;
    color: $main_gray_txt;
  }
  .template-section {
    height: 1000px;
  }
  .template-footer {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
  }
  .template-edit {
    @extend .big-button;
    @extend .splash;

    display: block;
    width: 462px;
    height: 112px;
    margin: 0 auto 30px auto;
    color: #fff;
    background-color: $main_green;
  }
  .template-default {
    @extend .middle-button;
    @extend .splash;

    display: block;
    width: 318px;
    height: 72px;
    margin: 0 auto;
    color: $main_gray_txt;
    background-color: $main_gray_btn;
  }
  .other-template {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include align-items(center);

    min-width: 400px;
    cursor: pointer;
    &.prev {
      @include justify-content(flex-start);
    }
    &.next {
      @include justify-content(flex-end);
    }
  }
  .prev-btn {
    @extend .icon-setting;
    @include font-general-icon(35px, 0px);

    position: relative;
    width: 80px;

    &:after {
      position: absolute;
      color: $main_gray_btn;
      content: $arrow-icon;
    }
  }
  .next-btn {
    @extend .prev-btn;
    @include rotate(180deg);
  }
  .other-template-img {
    @extend .splash;

    text-align: center;
    img {
      max-height: 123px;
    }
  }
  .other-template-label {
    @include roboto-lt(24px);

    max-width: 150px;
    margin: 20px auto 0 auto;
    text-align: center;
    word-wrap: break-word;
    color: #666;
  }
  .other-template-subscr {
    @extend .truncated;
    @include roboto-lt(24px);

    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    color: #666;
  }
}