.template-container {
  //padding: rem(50px);
  //left: -135rem;

  .template-header {
    text-align: center;
  }

  .template-title {
    @extend .splash;
    @include roboto-lt(rem(80px), rem(80px));
    height: rem(92px);
    text-align: center;
    color: $main_green;
    border: 1px solid $main_green;
    border-radius: rem(16px);
    background-color: transparent;
    outline: none;
    &.active {
      color: #fff;
      background-color: $main_green;
    }
  }

  .tempate-type-box {
    position: relative;
    display: inline;
  }
  .template-type {
    @include roboto-lt(rem(36px), rem(65px));
    position: absolute;
    top: -4rem;
    left: 2rem;
    padding: rem(10px) rem(20px);
    border-radius: rem(16px);
    background-color: #242424;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    &:before {
      position: absolute;
      z-index: 1;
      top: 1.75rem;
      left: -1.25rem;
      display: block;
      width: 0;
      border-width: 1.25rem 1.25rem 1.25rem 0;
      border-style: solid;
      border-color: transparent #242424;
      content: '';
    }
  }
  .template-type-btn {
    border-bottom: 1px solid $main_gray_btn;
    &:last-child {
      border-bottom: none;
    }
  }

  .template-discr {
    @include roboto-lt(rem(80px));
    text-align: center;
    color: $main_gray_txt;
  }

  .template-section {
    //width: rem(1500px);
    height: rem(1000px);
    text-align: center;
    cursor: pointer;
  }

  .template-footer {
      @include display-flex();
      overflow: auto;
      position: relative;
      top: 5rem;
      display: flex;
      overflow: auto;
//    @include flex-flow(row nowrap);
//    @include justify-content(center);
  }
  .template-footerLight {
    display: none !important;
    flex-direction: column;
    left: -1rem;
    width: 20rem;
    @include display-flex();
    overflow: auto;
    position: relative;
    top: 20rem;
    display: flex;
    overflow: auto;
    &.goLeft{
      display: inline-flex !important;
    }
    //    @include flex-flow(row nowrap);
    //    @include justify-content(center);
  }

  .other-templates {
    @include display-flex();
    @include overflow-scroll();
    min-height: 14rem;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .other-template {
    display: inline-block;
    min-width: rem(300px);
    margin: 0 rem(10px);
    cursor: pointer;
    &.selected {
      background-color: rgba(114, 225, 133, 0.55);
      border-radius: 1rem;
    }
  }

  .other-template-img {
    @extend .splash;
    text-align: center;
    img {
      max-height: rem(123px);
    }
  }

  .other-template-label {
    @include roboto-lt(rem(24px));
    max-width: rem(150px);
    margin: rem(20px) auto 0 auto;
    text-align: center;
    word-wrap: break-word;
    color: #666;
  }

  .other-template-subscr {
    @extend .truncated;
    @include roboto-lt(rem(24px));
    max-width: rem(200px);
    margin: 0 auto;
    text-align: center;
    color: #666;
  }
}
//rehau styles 
.template-container-rehau {
  .other-template-rehau {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    //single leaf windows
    .other-single-template-rehau {
      display: flex;
      flex-direction: column;
      min-width: 184px;
      min-height: 224px;
      margin: 0 rem(10px);
      cursor: pointer;
      &.selected {
        background-color: $primary_green;
      }
      &:hover {
        background-color: #F5F5F5;
      }

      .other-template-img {
        // @extend .splash;
        text-align: center;
        padding-top: 50px;
        img {
          max-height: rem(123px);
        }
      }
    
      .other-template-subscr {
        font-size: 18px;
        line-height: 32px;
        margin: 0 auto;
        text-align: center;
        color: $primary_green;
        white-space: normal;
        padding-top: 16px;
      }

    }
    .single-leaf-windows {
      margin-top: 50px;
      .single-leaf-windows-title {
        h1 {
          color: $primary_green;
          text-align: start;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;

          text-transform: uppercase;
        }
      }
      .single-leaf-windows-templates {
        text-align: start;
        display: flex;
      }
    }
    //duble leaf windows
    .duble-leaf-windows {
      .duble-leaf-windows-title {
        h1 {
          color: $primary_green;
          text-align: start;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;

          text-transform: uppercase;
        }
      }
      .duble-leaf-windows-templates {
        text-align: start;
        display: flex;
      }
    }
    //three leaf windows
    .three-leaf-windows {
      .three-leaf-windows-title {
        h1 {
          color: $primary_green;
          text-align: start;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;

          text-transform: uppercase;
        }
      }
      .three-leaf-windows-templates {
        text-align: start;
        display: flex;
      }
    }

  }


  .template-header {
    text-align: center;
  }

  .template-title {
    @extend .splash;
    @include roboto-lt(rem(80px), rem(80px));
    height: rem(92px);
    text-align: center;
    color: $main_green;
    border: 1px solid $main_green;
    border-radius: rem(16px);
    background-color: transparent;
    outline: none;
    &.active {
      color: #fff;
      background-color: $main_green;
    }
  }

  .tempate-type-box {
    position: relative;
    display: inline;
  }
  .template-type {
    @include roboto-lt(rem(36px), rem(65px));
    position: absolute;
    top: -4rem;
    left: 2rem;
    padding: rem(10px) rem(20px);
    border-radius: rem(16px);
    background-color: #242424;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    &:before {
      position: absolute;
      z-index: 1;
      top: 1.75rem;
      left: -1.25rem;
      display: block;
      width: 0;
      border-width: 1.25rem 1.25rem 1.25rem 0;
      border-style: solid;
      border-color: transparent #242424;
      content: '';
    }
  }
  .template-type-btn {
    border-bottom: 1px solid $main_gray_btn;
    &:last-child {
      border-bottom: none;
    }
  }

  .template-discr {
    @include roboto-lt(rem(80px));
    text-align: center;
    color: $main_gray_txt;
  }

  .template-section {
    //width: rem(1500px);
    height: rem(1000px);
    text-align: center;
    cursor: pointer;
  }

  .template-footer {
      @include display-flex();
      overflow: auto;
      position: relative;
      top: 5rem;
      display: flex;
      overflow: auto;
//    @include flex-flow(row nowrap);
//    @include justify-content(center);
  }
  .template-footerLight {
    display: none !important;
    flex-direction: column;
    left: -1rem;
    width: 20rem;
    @include display-flex();
    overflow: auto;
    position: relative;
    top: 20rem;
    display: flex;
    overflow: auto;
    &.goLeft{
      display: inline-flex !important;
    }
    //    @include flex-flow(row nowrap);
    //    @include justify-content(center);
  }

  .other-templates {
    @include display-flex();
    @include overflow-scroll();
    min-height: 14rem;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .other-template {
    display: inline-block;
    min-width: 25rem;
    margin: 0 rem(10px);
    cursor: pointer;
    &.selected {
      background-color: rgba(114, 225, 133, 0.55);
      border-radius: 1rem;
    }
  }

  .other-template-img {
    @extend .splash;
    text-align: center;
    img {
      max-height: rem(123px);
    }
  }

  .other-template-label {
    @include roboto-lt(rem(24px));
    max-width: rem(150px);
    margin: rem(20px) auto 0 auto;
    text-align: center;
    word-wrap: break-word;
    color: #666;
  }

  .other-template-subscr {
    @extend .truncated;
    @include roboto-lt(rem(24px));
    max-width: rem(200px);
    margin: 0 auto;
    text-align: center;
    color: #666;
  }
}
//rehau styles end 