.template-container {
  padding: rem(50px);

  .template-header {
    text-align: center;
  }

  .template-title {
    @extend .splash;
    @include roboto-lt(rem(80px), rem(80px));
    position: relative;
    height: rem(92px);
    text-align: center;
    color: $main_green;
    border: 1px solid $main_green;
    border-radius: rem(16px);
    background-color: transparent;
    outline: none;
    &.active {
      color: #fff;
      background-color: $main_green;
    }
  }

  .template-type {
    @include roboto-lt(rem(36px), rem(65px));
    position: absolute;
    top: rem(-30px);
    left: 75%;
    padding: 0 rem(20px);
    border-radius: rem(16px);
    background-color: #242424;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    &:before {
      position: absolute;
      z-index: 1;
      bottom: rem(-20px);
      left: rem(30px);
      display: block;
      width: 0;
      border-width: rem(20px) rem(20px) 0;
      border-style: solid;
      border-color: #242424 transparent;
      content: '';
    }
  }

  .template-discr {
    @include roboto-lt(rem(80px));
    text-align: center;
    color: $main_gray_txt;
  }

  .template-section {
    width: rem(1500px);
    height: rem(1000px);
    text-align: center;
    cursor: pointer;
  }

  .template-footer {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include justify-content(center);
  }

  .other-templates {
    @include display-flex();
    @include overflow-scroll();
    overflow-y: hidden;
    overflow-x: auto;
  }

  .other-template {
    display: inline-block;
    min-width: rem(300px);
    margin: 0 rem(10px);
    cursor: pointer;
  }

  .other-template-img {
    @extend .splash;
    text-align: center;
    img {
      max-height: rem(123px);
    }
  }

  .other-template-label {
    @include roboto-lt(rem(24px));
    max-width: rem(150px);
    margin: rem(20px) auto 0 auto;
    text-align: center;
    word-wrap: break-word;
    color: #666;
  }

  .other-template-subscr {
    @extend .truncated;
    @include roboto-lt(rem(24px));
    max-width: rem(200px);
    margin: 0 auto;
    text-align: center;
    color: #666;
  }
}