.menu.config-menu
  ul.items-list
    li.item.item-header
      .title(name="Конфигурация и размеры")
      .icon
      .name(name="ширина * высота -")
      .value(name="1060000 мм*")
      .value(name="1320000 мм")
    li.item
      .title(name="Профиль")
      .value(name="Окошко S58")
    li.item
      .title(name="Стеклопакет")
      .value(name="4/16/4")
    li.item
      .title(name="Фурнитура")
      .value(name="Maco")
    li.item
      .title(name="Ламинация")
      .row
        .name(name="фасад")
        .value(name="без ламинации")
      .row
        .name(name="в комнате")
        .value(name="без ламинации")
    li.item
      .title(name="Дополнительно")
      .row
        span.value(name="УВ-100Х100")
        span.name_aside(name="нащельник")
      .row
        span.value(name="ОБ-120")
        span.name_aside(name="водоотлив")

  footer.menu-footer
    .price.clearfix
      #price.price.total-price(name="4855268.52")
      #currency.currency &#8372;
    button.cart-btn В корзину
      .qty 22