.menu.nav-menu
  header.nav-menu-header
    ul.items-list
      li.item
        .item-content.hidden
          span.icon.icon-addLocation
          span.title(name="Выбрать расположение")
      li.item
        .item-content.hidden
          span.icon.icon-geoLocation
          span.title(name="Текущее расположение")
      li.item
        .item-content.hidden
          span.icon.icon-location
          span.title(name="Ивано - Франковск")
      li.item
        .item-content.hidden
          span.icon.icon-location
          span.title(name="Днепропетровск")

    .divider(name="Расчеты")

    ul.items-list
      li.item
        .item-content.hidden
          span.icon.icon-calculation
          span.title(name="Текущий расчет")
      li.item
        .item-content.hidden
          span.icon.icon-basketOfCalculation
          span.title(name="Корзина расчета")
          span.badge 22
      li.item
        .item-content.hidden
          span.icon.icon-additionalComponents
          span.title(name="Дополнительные элементы")
      li.item
        .item-content.hidden
          span.icon.icon-calculationsHistory
          span.title(name="Все расчеты")

    .divider(name="Приложение")

    ul.items-list
      li.item
        .item-content.hidden
          span.icon.icon-settings
          span.title(name="Настройки")
      li.item
        .item-content.hidden
          span.icon.icon-information
          span.title(name="Больше информации")
      li.item
        .item-content.hidden
          span.icon.icon-information
          span.title(name="Выбрать расположение")
      li.item
        .item-content.hidden
          span.icon.icon-information
          span.title(name="Выбрать расположение")

  footer.nav-menu-footer
    button.new-calc + Новый расчет
