.cart-dialogs.order-dialog(ng-class="{ 'unvisible' : !orderForm.C.cart.isOrderDialog }")
    .cart-dialogs-container
        form(name='callOrderForm', novalidate, ng-submit="orderForm.submitForm(callOrderForm)")
            .cart-dialog-header
                button.cart-dialog-tool.back(fs-click="orderForm.closeOrderDialog()", type="button")
                .cart-dialog-title {{ ::orderForm.CALL_ORDER }}
            .cart-dialog-body
                .cart-dialog-descrip {{ ::orderForm.CALL_ORDER_DESCRIP }}

                .cart-dialog-label {{ ::orderForm.CALL_ORDER_CLIENT_INFO }}

                .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.name.$error.required }")
                    input.user-field(type="text", name="name", ng-model="orderForm.C.cart.customer.customer_name", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_NAME }}", required)
                    .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.name.$error.required") {{ ::orderForm.EMPTY_FIELD }}

                .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.phone.$error.required }")
                    input.user-field(type="tel", name="phone", ng-model="orderForm.C.cart.customer.customer_phone", ng-pattern="", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.MOBILE }}")
                    .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.phone.$error.required") {{ ::orderForm.EMPTY_FIELD }}
                    .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.phone.$error.pattern || callOrderForm.phone.$dirty && callOrderForm.phone.$error.pattern") {{ ::orderForm.WRONG_NUMBER }}

                .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.mail.$error.required }")
                    input.user-field(type="email", name="mail", ng-model="orderForm.C.cart.customer.customer_email", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_EMAIL_ORDER }}", required)
                    .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.mail.$error.email") {{ ::orderForm.WRONG_EMAIL }}
                    .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.mail.$error.required") {{ ::orderForm.EMPTY_FIELD }}

                button.save.save-order(type="submit") {{ ::orderForm.READY }}
