.configMenu
  ul.configList
    li.configItem.configItem_header
      .configItem_title(name="Конфигурация и размеры")
      .configItem_icon
      .configItem_label(name="ширина * высота -")
      .configItem_value(name="1060000 мм*")
      .configItem_value(name="1320000 мм")
    li.configItem
      .configItem_title(name="Профиль")
      .configItem_value(name="Окошко S58")
    li.configItem
      .configItem_title(name="Стеклопакет")
      .configItem_value(name="4/16/4")
    li.configItem
      .configItem_title(name="Фурнитура")
      .configItem_value(name="Maco")
    li.configItem
      .configItem_title(name="Ламинация")
      .configItem_label(name="фасад")
      .configItem_value(name="без ламинации")
      .configItem_label(name="в комнате")
      .configItem_value(name="без ламинации")
    li.configItem
      .configItem_title(name="Дополнительно")
      .configItem_row
        span.configItem_value(name="УВ-100Х100")
        span.descript-label(name="нащельник")
      .configItem_row
        span.configItem_value(name="ОБ-120")
        span.descript-label(name="водоотлив")

  .configItem_footer
    .configPrice.clearfix
      #price(name="5268.52")
      #currency &#8372;
    button.cart В корзину
      .qualOrders_cartbut 22