.rooms-selector-dialog
  .rooms-row
    .room-box
      .room-img.kitchen
        .room-titile Кухня
    .room-box
      .room-img.livingroom
        .room-titile Гостиная
    .room-box
      .room-img.balcony
        .room-titile Балкон
  .rooms-row
    .room-box
      .room-img.childroom
        .room-titile Детская
    .room-box
      .room-img.bedroom
        .room-titile Спальня
    .room-box
      .room-img.door
        .room-titile Вход
  .close-dialog


