$icon-5: "\e652";
$icon-top_right: "\e656";
$icon-1: "\e657";
$icon-13: "\e658";
$icon-14: "\e659";
$icon-15: "\e65a";
$icon-16: "\e65b";
$icon-12: "\e65c";
$icon-11: "\e65d";
$icon-10: "\e65e";
$icon-9: "\e65f";
$icon-82: "\e660";
$icon-72: "\e661";
$icon-impost-shape-vert: "\e644";
$icon-impost-shape-hor: "\e645";
$icon-sash-shape7: "\e634";
$icon-sash-shape1: "\e63e";
$icon-sash-shape2: "\e63f";
$icon-sash-shape3: "\e640";
$icon-sash-shape4: "\e641";
$icon-sash-shape5: "\e642";
$icon-sash-shape6: "\e643";
$icon-uniE600: "\e609";
$icon-uniE601: "\e60a";
$icon-uniE602: "\e60b";
$icon-uniE603: "\e60c";
$icon-uniE604: "\e60d";
$icon-uniE605: "\e60e";
$icon-uniE606: "\e60f";
$icon-uniE607: "\e610";
$icon-uniE608: "\e611";
$icon-uniE609: "\e612";
$icon-uniE60A: "\e613";
$icon-uniE60B: "\e614";
$icon-uniE60C: "\e615";
$icon-uniE60D: "\e616";
$icon-uniE60E: "\e617";
$icon-uniE60F: "\e618";
$icon-uniE610: "\e619";
$icon-uniE611: "\e61a";
$icon-uniE612: "\e61b";
$icon-uniE613: "\e61c";
$icon-uniE614: "\e61d";
$icon-uniE615: "\e61e";
$icon-uniE616: "\e61f";
$icon-uniE617: "\e620";
$icon-uniE618: "\e621";
$icon-uniE619: "\e622";
$icon-uniE61A: "\e623";
$icon-uniE61B: "\e624";
$icon-uniE61C: "\e625";
$icon-uniE61D: "\e626";
$icon-uniE61E: "\e627";
$icon-uniE61F: "\e628";
$icon-uniE620: "\e629";
$icon-uniE621: "\e62a";
$icon-uniE622: "\e62b";
$icon-uniE623: "\e62c";
$icon-uniE624: "\e62d";
$icon-uniE625: "\e62e";
$icon-uniE626: "\e62f";
$icon-uniE627: "\e630";
$icon-uniE628: "\e631";
$icon-uniE629: "\e632";
$icon-uniE62A: "\e633";
$icon-uniE62B: "\e635";
$icon-uniE62C: "\e636";
$icon-uniE62D: "\e637";
$icon-uniE62E: "\e638";
$icon-uniE62F: "\e639";
$icon-uniE630: "\e63a";
$icon-uniE631: "\e63b";
$icon-uniE635: "\e63c";
$icon-uniE636: "\e63d";
$icon-uniE637: "\e646";
$icon-uniE638: "\e647";
$icon-uniE639: "\e648";
$icon-uniE63A: "\e649";
$icon-uniE63B: "\e64a";
$icon-uniE63C: "\e64b";
$icon-uniE63D: "\e64c";
$icon-additionalComponents: "\e600";
$icon-addLocation: "\e601";
$icon-basketOfCalculation: "\e602";
$icon-calculation: "\e603";
$icon-calculationsHistory: "\e604";
$icon-geoLocation: "\e605";
$icon-information: "\e606";
$icon-location: "\e607";
$icon-settings: "\e608";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-subject: "\e64d";
$icon-sort: "\e64e";
$icon-align-right: "\f038";
$icon-microphone: "\f130";
$icon-microphone-slash: "\f131";
