
<div class="language-page">
  <div class="header">
    <div fs-click="languagePage.gotoSettingsPage()" class="back-button"></div>
    <div data-output="{{ 'settings.CHANGE_CURRENCY' | translate }}" typing="{{ languagePage.config.typing }}" typing-delay="{{ languagePage.config.DELAY_START }}" class="title"></div>
  </div>
  <div class="lang-container">
    <div class="list">
      <div ng-repeat="lang in languagePage.constants.currency" ng-class="{'active': languagePage.U.userInfo.langLabel === lang.label}" fs-click="languagePage.switchLang($index)" class="item click">
        <div class="lang-label">{{ lang.name }}</div>
      </div>
    </div>
  </div>
</div>