
<div class="currency-page">
  <div class="header">
    <div fs-click="currencyPage.gotoSettingsPage()" class="back-button"></div>
    <div data-output="{{ 'settings.CHANGE_CURRENCY' | translate }}" typing="{{ currencyPage.config.typing }}" typing-delay="{{ currencyPage.config.DELAY_START }}" class="title"></div>
  </div>
  <div class="currency-container">
    <div class="list">
      <div ng-class="{'active': currencyPage.U.userInfo.currencyLabel === currency.label}" class="item click">
        <div fs-click="currencyPage.switchCurrencyToEur($index)" class="currency-label">{{ currencyPage.constants.currencies[0].name }}</div>
        <div fs-click="currencyPage.switchCurrencyToUah($index)" class="currency-label">{{ currencyPage.constants.currencies[1].name }}</div>
        <div fs-click="currencyPage.switchCurrencyToUsd($index)" class="currency-label">{{ currencyPage.constants.currencies[2].name }}</div>
      </div>
    </div>
  </div>
</div>