
<section class="settings password-page">
  <div class="header">
    <button hm-tap="global.gotoSettingsPage()" class="back"></button>
    <div data-output="{{ 'settings.CHANGE_PASSWORD' | translate }}" typing="{{ password.typing }}" typing-delay="{{ password.DELAY_START }}" class="title"></div>
    <button hm-tap="saveNewPassword()" class="save">{{ 'settings.SAVE' | translate }}</button>
  </div>
  <div class="psw-container">
    <div class="lists">
      <form name="passForm">
        <ul class="list">
          <li class="item">
            <div data-output="{{ 'settings.CURRENT_PASSWORD' | translate }}" typing="{{ password.typing }}" typing-delay="{{ password.DELAY_START }}" class="psw-label"></div>
            <div data-output="{{ userInfo.password }}" typing="{{ password.typing }}" typing-delay="{{ password.DELAY_START }}" class="psw-data"></div>
          </li>
          <li class="item click">
            <div data-output="{{ 'settings.NEW_PASSWORD' | translate }}" typing="{{ password.typing }}" typing-delay="{{ password.DELAY_START }}" class="psw-label"></div>
            <input type="text" name="newPassword" ng-model="password.newPassword" ng-minlength="3" class="set-input-txt">
            <div ng-show="passForm.newPassword.$dirty &amp;&amp; passForm.newPassword.$error.minlength" class="error-tooltip">{{ 'login.SHORT_PASSWORD' | translate }}</div>
          </li>
          <li class="item click">
            <div data-output="{{ 'settings.CONFIRM_PASSWORD' | translate }}" typing="{{ password.typing }}" typing-delay="{{ password.DELAY_START }}" class="psw-label"></div>
            <input type="text" name="confirmPassword" ng-model="password.confirmPassword" ng-minlength="3" ng-change="checkError()" class="set-input-txt">
            <div ng-show="passForm.confirmPassword.$dirty &amp;&amp; passForm.confirmPassword.$error.minlength" class="error-tooltip">{{ 'login.SHORT_PASSWORD' | translate }}</div>
            <div ng-show="password.isErrorPassword" class="error-tooltip">{{ 'settings.NO_CONFIRM_PASS' | translate }}</div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</section>