
<section class="construction-page">
  <section class="construction-container">
    <div class="construction-left-menu">
      <ul class="figure-lists">
        <li ng-class="{'selected': designPage.config.activeMenuItem == 1}" hm-tap="designPage.selectMenuItem(1)" class="figure-item">
          <div class="figure-icon sash-shape"></div>
          <div data-output="{{ 'construction.SASH_SHAPE' | translate }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          <div id="sash-shape-menu" ng-class="{'active': designPage.config.activeMenuItem == 1}" class="edit_submenu">
            <ul class="constr-shape-list">
              <li ng-hide="designPage.P.product.constructionType === 4" hm-tap="designPage.insertNewSash('empty')" class="constr-shape-icon sash-empty"></li>
              <li hm-tap="designPage.insertNewSash('left')" class="constr-shape-icon sash-left"></li>
              <li hm-tap="designPage.insertNewSash('right')" class="constr-shape-icon sash-right"></li>
              <li hm-tap="designPage.insertNewSash('up')" class="constr-shape-icon sash-up"></li>
              <li hm-tap="designPage.insertNewSash('down')" class="constr-shape-icon sash-down"></li>
              <li hm-tap="designPage.insertNewSash('up', 'right')" class="constr-shape-icon sash-right-up"></li>
              <li hm-tap="designPage.insertNewSash('up', 'left')" class="constr-shape-icon sash-left-up"></li>
            </ul>
          </div>
        </li>
        <li ng-class="{'selected': designPage.config.activeMenuItem == 2}" hm-tap="designPage.selectMenuItem(2)" class="figure-item">
          <div class="figure-icon angel-shape"></div>
          <div data-output="{{ 'construction.ANGEL_SHAPE' | translate }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          <div id="angel-shape-menu" ng-class="{'active': designPage.config.activeMenuItem == 2}" class="edit_submenu">
            <ul class="constr-shape-list">
              <li hm-tap="designPage.insertNewImpost('vert')" class="constr-shape-icon impost-vert"></li>
              <li hm-tap="designPage.insertNewImpost('horis')" class="constr-shape-icon impost-hor"></li>
            </ul>
          </div>
        </li>
        <li ng-class="{'selected': designPage.config.activeMenuItem == 3}" hm-tap="designPage.selectMenuItem(3)" class="figure-item">
          <div class="figure-icon impost-shape"></div>
          <div data-output="{{ 'construction.IMPOST_SHAPE' | translate }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          <div id="impost-shape-menu" ng-class="{'active': designPage.config.activeMenuItem == 3}" class="edit_submenu">
            <ul class="constr-shape-list">
              <li ng-hide="designPage.P.product.constructionType === 4" hm-tap="designPage.insertNewSash('empty')" class="constr-shape-icon sash-empty"></li>
              <li hm-tap="designPage.insertNewImpost('vert')" class="constr-shape-icon impost-vert"></li>
              <li hm-tap="designPage.insertNewImpost('horis')" class="constr-shape-icon impost-hor"></li>
            </ul>
          </div>
        </li>
        <li ng-class="{'selected': designPage.config.activeMenuItem == 4}" hm-tap="designPage.selectMenuItem(4)" class="figure-item">
          <div class="figure-icon arch-shape"></div>
          <div data-output="{{ 'construction.ARCH_SHAPE' | translate }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          <div id="arc-shape-menu" ng-class="{'active': designPage.config.activeMenuItem == 4}" class="edit_submenu">
            <ul class="constr-shape-list">
              <li ng-hide="designPage.P.product.constructionType === 4" hm-tap="designPage.insertNewSash('empty')" class="constr-shape-icon sash-empty"></li>
              <li hm-tap="designPage.insertNewImpost('horis')" class="constr-shape-icon impost-hor"></li>
            </ul>
          </div>
        </li>
        <li ng-class="{'selected': designPage.config.activeMenuItem == 5}" hm-tap="designPage.selectMenuItem(5)" class="figure-item">
          <div class="figure-icon position-shape"></div>
          <div data-output="{{ 'construction.POSITION_SHAPE' | translate }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
        </li>
      </ul>
      <div class="left-menu-footer">
        <div data-output="{{ 'construction.UNITS_DESCRIP' | translate }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="footer-description"></div>
        <div hm-tap="designPage.setDefaultConstruction()" class="project-default">{{ 'construction.PROJECT_DEFAULT' | translate }}</div>
      </div>
    </div>
    <div class="construction-block">
      <div class="construction-scrollbox">
        <svg-template template="designPage.D.design.templateTEMP" template-width="designPage.constants.svgTemplateWidth" template-height="designPage.constants.svgTemplateHeight" type-construction="edit"></svg-template>
      </div>
    </div>
    <!--#sash-shape-menu.constr-shape-menu(ng-show="designPage.config.isSashEdit && designPage.config.isSashEditMenu")
    ul.constr-shape-list
      li.constr-shape-icon.sash-empty(ng-hide="designPage.P.product.constructionType === 4", hm-tap="designPage.insertNewSash('empty')")
      li.constr-shape-icon.sash-left(hm-tap="designPage.insertNewSash('left')")
      li.constr-shape-icon.sash-right(hm-tap="designPage.insertNewSash('right')")
      li.constr-shape-icon.sash-up(hm-tap="designPage.insertNewSash('up')")
      li.constr-shape-icon.sash-down(hm-tap="designPage.insertNewSash('down')")
      li.constr-shape-icon.sash-right-up(hm-tap="designPage.insertNewSash('up', 'right')")
      li.constr-shape-icon.sash-left-up(hm-tap="designPage.insertNewSash('up', 'left')")
      
    -->
    <!--#impost-shape-menu.constr-shape-menu(ng-show="designPage.config.isImpostEdit && designPage.config.isImpostEditMenu")
    ul.constr-shape-list
      li.constr-shape-icon.impost-vert(hm-tap="designPage.insertNewImpost('vert')")
      li.constr-shape-icon.impost-hor(hm-tap="designPage.insertNewImpost('horis')")
      
    -->
    <div class="construction-right-menu">
      <div class="right-menu-header">
        <button ng-show="designPage.designSteps.length &gt; 0" hm-tap="designPage.stepBack()" class="construct-tools step-back"></button>
        <button hm-tap="designPage.designSaved()" class="construct-tools save-construction"></button>
        <button hm-tap="designPage.designCancel()" class="construct-tools close-construction"></button>
      </div>
      <div ng-show="designPage.P.product.constructionType === 4" class="door-config-menu">
        <button ng-class="{'active': designPage.config.isDoorConfig}" hm-tap="designPage.toggleDoorConfig()" class="door-config-btn"></button>
        <div class="door-config-label">{{ 'construction.DOOR_CONFIG_LABEL' | translate }}</div>
        <div class="door-config-description">{{ 'construction.DOOR_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.doorShapeList[designPage.D.design.doorConfig.doorShapeIndex].shapeLabel }};</div>
        <div class="door-config-description">{{ 'construction.SASH_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.sashShapeList[designPage.D.design.doorConfig.sashShapeIndex].shapeLabel }};</div>
        <div class="door-config-description">{{ 'construction.HANDLE_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.handleShapeList[designPage.D.design.doorConfig.handleShapeIndex].shapeLabel }};</div>
        <div class="door-config-description">{{ 'construction.LOCK_CONFIG_DESCTIPT' | translate }}: {{ designPage.D.design.lockShapeList[designPage.D.design.doorConfig.lockShapeIndex].shapeLabel }};</div>
      </div>
      <div class="right-menu-footer">
        <div ng-class="{'active': designPage.G.global.isSizeCalculator}" class="size-calculator">
          <table ng-controller="sizeCalculatorCtrl as sizeCalc" class="size-calc-container">
            <thead>
              <td>
                <button hm-tap="sizeCalc.deleteLastNumber()" class="cell calc-delete"></button>
              </td>
              <td colspan="2">
                <div class="calc-interval">
                  <div class="interval">
                    <div ng-hide="sizeCalc.isDesignPage" class="calc-value-limit">0</div>
                    <div ng-show="sizeCalc.isDesignPage" ng-class="{'restriction': sizeCalc.D.design.isMinSizeRestriction}" class="calc-value-limit">{{ sizeCalc.D.design.minSizeLimit }}</div>
                    <div class="calc-label-limit">{{ 'common_words.MIN' | translate }}</div>
                  </div>
                  <div class="interval">
                    <div ng-hide="sizeCalc.isDesignPage" class="calc-value-limit">5000</div>
                    <div ng-show="sizeCalc.isDesignPage" ng-class="{'restriction': sizeCalc.D.design.isMaxSizeRestriction}" class="calc-value-limit">{{ sizeCalc.D.design.maxSizeLimit }}</div>
                    <div class="calc-label-limit">{{ 'common_words.MAX' | translate }}</div>
                  </div>
                </div>
              </td>
            </thead>
            <tr>
              <td>
                <button hm-tap="sizeCalc.setValueSize(1)" class="cell calc-digit">1</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize(2)" class="cell calc-digit">2</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize(3)" class="cell calc-digit">3</button>
              </td>
            </tr>
            <tr>
              <td>
                <button hm-tap="sizeCalc.setValueSize(4)" class="cell calc-digit">4</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize(5)" class="cell calc-digit">5</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize(6)" class="cell calc-digit">6</button>
              </td>
            </tr>
            <tr>
              <td>
                <button hm-tap="sizeCalc.setValueSize(7)" class="cell calc-digit">7</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize(8)" class="cell calc-digit">8</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize(9)" class="cell calc-digit">9</button>
              </td>
            </tr>
            <tr>
              <td>
                <button hm-tap="sizeCalc.setValueSize(0)" class="cell calc-digit">0</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.setValueSize('00')" class="cell calc-digit">00</button>
              </td>
              <td>
                <button hm-tap="sizeCalc.closeSizeCaclulator()" class="cell calc-equal">=</button>
              </td>
            </tr>
          </table>
        </div>
        <div ng-class="{'active': designPage.D.design.openVoiceHelper}" class="voice-container">
          <div ng-class="{'loud-voice': designPage.D.design.loudVoice == true, 'quiet-voice': designPage.D.design.quietVoice == true}" class="voice-icon"></div>
          <div class="voice-title">Укажите размер:</div>
          <input type="text" name="name" ng-model="designPage.D.design.voiceTxt" placeholder="{{ 'mainpage.VOICE_SPEACH' | translate }}" class="voice-input">
        </div>
      </div>
    </div>
    <section ng-class="{'active': designPage.config.isDoorConfig}" class="door-configuration">
      <div class="door-config-column step1">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">1 {{ 'construction.STEP' | translate }}</div>
            <div class="door-subtitle">{{ 'construction.LABEL_DOOR_TYPE' | translate }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': !designPage.config.selectedStep2}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="door in designPage.D.design.doorShapeList" ng-class="{'selected': designPage.D.design.doorConfig.doorShapeIndex === $index}" hm-tap="designPage.selectDoor($index)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-icon"><img ng-src="{{ door.shapeIcon }}" ng-hide="designPage.D.design.doorConfig.doorShapeIndex === $index" class="door-shape"><img ng-src="{{ door.shapeIconSelect }}" ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index" class="door-shape"></div>
                <div class="door-option-label">{{ door.shapeLabel }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div ng-class="{'active': designPage.config.selectedStep1}" class="door-config-column step2">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">2 {{ 'construction.STEP' | translate }}</div>
            <div class="door-subtitle">{{ 'construction.LABEL_SASH_TYPE' | translate }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': !designPage.config.selectedStep3}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="sash in designPage.D.design.sashShapeList" ng-class="{'selected': designPage.D.design.doorConfig.sashShapeIndex === $index}" hm-tap="designPage.selectSash($index)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-label">{{ sash.shapeLabel }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.sashShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div ng-class="{'active': designPage.config.selectedStep2}" class="door-config-column step3">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">3 {{ 'construction.STEP' | translate }}</div>
            <div class="door-subtitle">{{ 'construction.LABEL_HANDLE_TYPE' | translate }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': !designPage.config.selectedStep4}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="handle in designPage.D.design.handleShapeList" ng-class="{'selected': designPage.D.design.doorConfig.handleShapeIndex === $index}" hm-tap="designPage.selectHandle($index)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-icon"><img ng-src="{{ handle.shapeIcon }}" ng-hide="designPage.D.design.doorConfig.handleShapeIndex === $index" class="door-hardware"><img ng-src="{{ handle.shapeIconSelect }}" ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index" class="door-hardware"></div>
                <div class="door-option-label">{{ handle.shapeLabel }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.handleShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div ng-class="{'active': designPage.config.selectedStep3}" class="door-config-column step4">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">4 {{ 'construction.STEP' | translate }}</div>
            <div class="door-subtitle">{{ 'construction.LABEL_LOCK_TYPE' | translate }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': designPage.config.selectedStep3}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="lock in designPage.D.design.lockShapeList" ng-class="{'selected': designPage.D.design.doorConfig.lockShapeIndex === $index}" hm-tap="designPage.selectLock($index)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-icon"><img ng-src="{{ lock.shapeIcon }}" ng-hide="designPage.D.design.doorConfig.lockShapeIndex === $index" class="door-hardware"><img ng-src="{{ lock.shapeIconSelect }}" ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index" class="door-hardware"></div>
                <div class="door-option-label">{{ lock.shapeLabel }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="door-config-tools">
        <button hm-tap="designPage.closeDoorConfig()" class="door-config-btn close-door-config"></button>
        <button ng-show="designPage.config.selectedStep4" hm-tap="designPage.saveDoorConfig()" class="door-config-btn save-door-config"></button>
      </div>
    </section>
  </section>
</section>