
<section ng-class="{ 'swiped': !historyPage.G.global.isNavMenu }" class="page-container">
  <section class="left-side">
    <div ng-controller="NavMenuCtrl as navMenu" class="nav-menu">
      <header class="nav-menu-header">
        <ul class="items-list">
          <li ng-class="{'selected': navMenu.activeMenuItem == 1}" fs-click="navMenu.selectMenuItem(1)" class="item">
            <div class="item-content"><span class="nav-icon-addLocation"></span><span class="title">{{ ::navMenu.NAVMENU_GEOLOCATION }}</span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 2}" fs-click="navMenu.selectMenuItem(2)" class="item">
            <div class="item-content"><span class="nav-icon-geoLocation"></span><span class="title">{{ ::navMenu.NAVMENU_CURRENT_GEOLOCATION }}</span></div>
          </li>
          <li class="item">
            <div class="item-content"><span class="nav-icon-location"></span><span class="title">{{ navMenu.O.order.customer_city }}</span></div>
          </li>
        </ul>
        <div class="divider">{{ ::navMenu.NAVMENU_CALCULATIONS }}</div>
        <ul class="items-list">
          <li ng-if="(navMenu.G.global.currOpenPage === 'history' &amp;&amp; navMenu.G.global.isCreatedNewProject &amp;&amp; navMenu.G.global.isCreatedNewProduct)" ng-class="{'selected': navMenu.activeMenuItem == 3}" fs-click="navMenu.selectMenuItem(3)" class="item">
            <div class="item-content"><span class="nav-icon-calculation"></span><span class="title">{{ ::navMenu.NAVMENU_CURRENT_CALCULATION }}</span></div>
          </li>
          <li ng-show="navMenu.O.order.products.length &amp;&amp; navMenu.G.global.currOpenPage === 'main'" ng-class="{'selected': navMenu.activeMenuItem == 4 || navMenu.G.global.isOpenedCartPage}" fs-click="navMenu.selectMenuItem(4)" class="item">
            <div class="item-content"><span class="nav-icon-basketOfCalculation"></span><span class="title">{{ ::navMenu.NAVMENU_CART }}</span><span class="badge">{{ navMenu.O.order.products.length }}</span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 5}" fs-click="navMenu.selectMenuItem(5)" class="item">
            <div class="item-content"><span class="nav-icon-additionalComponents"></span><span class="title">{{ ::navMenu.NAVMENU_ADD_ELEMENTS }}</span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 6 || navMenu.G.global.isOpenedHistoryPage}" fs-click="navMenu.selectMenuItem(6)" class="item">
            <div class="item-content"><span class="nav-icon-calculationsHistory"></span><span class="title">{{ ::navMenu.NAVMENU_ALL_CALCULATIONS }}</span></div>
          </li>
        </ul>
        <div class="divider">{{ ::navMenu.NAVMENU_APPENDIX }}</div>
        <ul class="items-list">
          <li ng-class="{'selected': navMenu.activeMenuItem == 7}" fs-click="navMenu.selectMenuItem(7)" class="item">
            <div class="item-content"><span class="nav-icon-settings"></span><span class="title">{{ ::navMenu.NAVMENU_SETTINGS }}</span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 8}" fs-click="navMenu.selectMenuItem(8)" class="item">
            <div class="item-content"><span class="nav-icon-information"></span><span class="title">{{ ::navMenu.NAVMENU_MORE_INFO }}</span></div>
          </li>
          <li ng-if="navMenu.G.global.isDevice" ng-class="{'selected': navMenu.activeMenuItem == 9}" fs-click="navMenu.selectMenuItem(9)" class="item">
            <div class="item-content"><span class="nav-icon-voicehelp"></span><span class="title">{{ ::navMenu.NAVMENU_VOICE_HELPER }}</span></div>
          </li>
        </ul>
      </header>
      <footer class="nav-menu-footer">
        <button ng-if="!navMenu.G.global.orderEditNumber" fs-click="navMenu.clickNewProject()" class="new-calc">{{ ::navMenu.NAVMENU_NEW_CALC }}</button>
      </footer>
    </div>
  </section>
  <section class="right-side">
    <section class="main-history">
      <section class="history-page">
        <section ng-class="{'dark-fon': historyPage.H.history.isOrderDate || historyPage.H.history.isOrderSort }" class="accounts-container history-view">
          <div class="history-header">
            <button fs-click="historyPage.toCurrentCalculation()" class="history-back"></button>
            <div ng-hide="historyPage.H.history.isOrderSearch" class="history-user-info">
              <div ng-controller="UserInfoCtrl as userBox" ng-swipe-left="userBox.swipeLeft($event)" ng-swipe-right="userBox.swipeRight($event)" class="user-info-container">
                <button ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': (userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedCartPage)}" fs-click="userBox.swipeMainPage($event)" class="nav-menu-btn"></button><img ng-if="userBox.U.userInfo.avatar &amp;&amp; (userBox.U.userInfo.avatar!='null')" ng-src="{{userBox.U.userInfo.avatar}}" class="user-foto">
                <div show-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="icon-location unvisible"></div>
                <div class="user-info-block">
                  <div data-output="{{ userBox.U.userInfo.cityName }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-location"></div>
                  <div data-output="{{ userBox.U.userInfo.name }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-name"></div>
                </div>
              </div>
            </div>
            <div ng-show="historyPage.H.history.isOrderSearch" class="history-search">
              <form ng-controller="searchCtrl as searchBox" name="searchForm">
                <div class="search-block">
                  <input type="text" name="searching" ng-model="searchBox.searchingWord" ng-change="searchBox.checkChanges()" placeholder="{{searchBox.placeholder}}" class="search-input">
                  <button fs-click="searchBox.deleteSearchChart()" class="delete-search"></button>
                  <button fs-click="searchBox.cancelSearching()" class="cancel-search">{{ ::searchBox.CANCEL }}</button>
                </div>
              </form>
            </div>
            <div class="history-tools-panel">
              <div ng-class="{ 'active': historyPage.H.history.isOrderSearch }" class="tools-block search-tool">
                <button fs-click="historyPage.orderSearching()" class="tool search-btn"></button>
              </div>
              <div ng-class="{ 'active': historyPage.H.history.isOrderDate }" class="tools-block tool-drop">
                <button fs-click="historyPage.orderDateSelecting()" class="tool calendar-btn"></button>
                <div ng-class="{ 'empty': historyPage.H.history.startDate === '' &amp;&amp;  historyPage.H.history.finishDate === ''}" class="time-interval"><span ng-if="historyPage.H.history.startDate !== ''">{{ ::historyPage.FROM }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}</span><span ng-hide="historyPage.H.history.startDate == '' || historyPage.H.history.finishDate == ''">&nbsp; - &nbsp;</span><span ng-if="historyPage.H.history.finishDate !== ''">{{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}</span></div>
                <div ng-if="!historyPage.H.history.isDraftView" class="dropdown-tool-dialog date-filter">
                  <div class="filter-title">{{ ::historyPage.DATE_RANGE }}</div>
                  <div ng-class="{ 'selected': historyPage.H.history.isStartDate }" fs-click="historyPage.openCalendarScroll('start-date')" class="period start-date">{{ ::historyPage.FROM }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isStartDate }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="1" calendar-type="1"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isFinishDate }" fs-click="historyPage.openCalendarScroll('finish-date')" class="period finish-date">{{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isFinishDate }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="1" calendar-type="0"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isAllPeriod }" fs-click="historyPage.openCalendarScroll('full-date')" class="period total-date">{{ ::historyPage.ALL_TIME }}</div>
                </div>
              </div>
              <div ng-class="{ 'active': historyPage.H.history.isOrderSort }" class="tools-block tool-drop">
                <button fs-click="historyPage.orderSorting()" class="tool settings-btn"></button>
                <div class="dropdown-tool-dialog sort-filter">
                  <div class="filter-divider">{{ ::historyPage.SORTING }}</div>
                  <ul class="filter-list">
                    <li ng-class="{ 'selected': historyPage.H.history.isSortType == 'first' }" fs-click="historyPage.sortingInit(0, 'first')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.NEWEST_FIRST }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isSortType == 'last' }" fs-click="historyPage.sortingInit(0, 'last')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.NEWEST_LAST }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isSortType == 'type' }" fs-click="historyPage.sortingInit(0, 'type')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.SORT_BY_TYPE }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                  </ul>
                  <div class="filter-divider">{{ ::historyPage.SORT_SHOW }}</div>
                  <ul class="filter-list">
                    <li ng-class="{ 'selected': !historyPage.H.history.isFilterType }" fs-click="historyPage.sortingInit(1, undefined)" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.ALL }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isFilterType == 'order' }" fs-click="historyPage.sortingInit(1, 'order')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.SORT_SHOW_ACTIVE }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isFilterType == 'master' }" fs-click="historyPage.sortingInit(1, 'master')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.SORT_SHOW_WAIT }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isFilterType == 'done' }" fs-click="historyPage.sortingInit(1, 'done')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.SORT_SHOW_DONE }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="scroll-vert-container">
            <div ng-repeat="order in historyPage.H.history.orders | orderSorting:historyPage.H.history.isSortType | filter: {order_style: historyPage.H.history.isFilterType} | filter:historyPage.H.history.searchingWord track by $index" class="account-block">
              <div ng-class="{'current': order.order_style == 'order', 'wait': order.order_style == 'master', 'done': order.order_style == 'done' }" class="account">
                <div class="account-row header">
                  <div class="account-data title">
                    <div ng-show="order.order_style == 'done'" class="complete-icon"></div>
                    <div ng-if="order.order_number" class="account-id">id {{ order.order_number }}<span ng-if="order.order_hz &amp;&amp; order.order_hz !== '---'">{{ order.order_hz }}</span></div>
                    <div class="account-addinfo"><span ng-hide="!order.floor_id &amp;&amp; !order.mounting_id">- {{ ::historyPage.INCLUDED }}:</span><span ng-hide="!order.floor_id">&nbsp; {{ ::historyPage.DELIVERY }}</span><span ng-hide="!order.floor_id || !order.mounting_id">&nbsp; {{ ::historyPage.AND }}</span><span ng-hide="!order.mounting_id">&nbsp; {{ ::historyPage.ASSEMBLING }}</span></div>
                  </div>
                  <div class="account-data">
                    <div class="account-label account-date-filter">{{ ::historyPage.FROM }} {{order.order_date | date:"dd MMMM, yyyy"}}</div>
                  </div>
                </div>
                <div class="account-row">
                  <div class="account-data">
                    <div class="user-data account-user">{{ order.customer_name }}</div>
                    <div class="account-label">{{ ::historyPage.CLIENT }}</div>
                  </div>
                </div>
                <div class="account-row">
                  <div class="account-data phone">
                    <div class="user-data account-user-phone">{{ order.customer_phone }}</div>
                    <div class="account-label">{{ ::historyPage.PHONE }}</div>
                  </div>
                  <div class="account-data">
                    <div class="user-data account-user-adress">{{ order.customer_location }}, {{ order.customer_address }}</div>
                    <div class="account-label">{{ ::historyPage.ADDRESS }}</div>
                  </div>
                </div>
                <div class="account-row footer">
                  <div class="account-value">{{ order.order_price_dis }} {{ historyPage.U.userInfo.currency }}<span ng-show="order.is_instalment">, {{ order.selectedInstalmentPeriod }} {{ ::historyPage.PAYMENTS }} {{order.payment_monthly}} {{ historyPage.U.userInfo.currency }}</span></div>
                  <div ng-show="order.order_style == 'master'" class="account-value">{{ ::historyPage.WAIT_MASTER }}</div>
                  <div class="account-date">{{ order.products_qty }} {{ ::historyPage.ALLPRODUCTS }} {{ ::historyPage.ON }} {{order.new_delivery_date | date:"dd.MM.yyyy"}}</div>
                </div>
              </div>
              <button ng-hide="order.order_style == 'done'" fs-click="historyPage.sendOrderToFactory(order.order_style, order.id)" class="account-tool account-select-btn"></button>
              <button ng-hide="order.order_style == 'done'" fs-click="historyPage.makeOrderCopy(order.order_style, order.id)" class="account-tool account-copy-btn"></button>
              <button fs-click="historyPage.orderPrint(order.id)" class="account-tool account-print-btn"></button>
              <button ng-hide="order.order_style == 'done'" fs-click="historyPage.clickDeleteOrder(order.order_type, order.id)" class="account-delete-btn"></button>
              <button ng-hide="order.order_style == 'done'" fs-click="historyPage.editOrder(1, order.id)" class="account-change-btn">{{ ::historyPage.CHANGE }}</button>
            </div>
            <div ng-show="historyPage.H.history.searchingWord.length &amp;&amp; (historyPage.H.history.orders | filter:historyPage.H.history.searchingWord).length == 0" class="empty-search-result">
              <div class="result-icon"></div>
              <div class="result-text">{{ ::historyPage.BY_YOUR_REQUEST }} "<span class="searchin-text"> {{ historyPage.H.history.searchingWord }} </span>" {{ ::historyPage.NOT_FIND }}.</div>
            </div>
            <div ng-show="!historyPage.H.history.searchingWord.length &amp;&amp; ((historyPage.H.history.orders | filter:{order_style: historyPage.H.history.isFilterType}).length == 0 || historyPage.H.history.isEmptyResult)" class="empty-search-result">
              <div class="result-icon"></div>
              <div class="result-text">{{ ::historyPage.BY_YOUR_REQUEST }} {{ ::historyPage.NOT_FIND }}.</div>
            </div>
          </div>
          <button fs-click="historyPage.viewSwitching()" class="view-switch-tab">{{ ::historyPage.DRAFT_VIEW }}</button>
        </section>
        <section ng-class="{'active': historyPage.H.history.isDraftView, 'dark-fon': historyPage.H.history.isOrderDateDraft || historyPage.H.history.isOrderSortDraft }" class="accounts-container draft-view">
          <div class="history-header">
            <div ng-controller="UserInfoCtrl as userBox" ng-swipe-left="userBox.swipeLeft($event)" ng-swipe-right="userBox.swipeRight($event)" class="user-info-container">
              <button ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': (userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedCartPage)}" fs-click="userBox.swipeMainPage($event)" class="nav-menu-btn"></button><img ng-if="userBox.U.userInfo.avatar &amp;&amp; (userBox.U.userInfo.avatar!='null')" ng-src="{{userBox.U.userInfo.avatar}}" class="user-foto">
              <div show-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="icon-location unvisible"></div>
              <div class="user-info-block">
                <div data-output="{{ userBox.U.userInfo.cityName }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-location"></div>
                <div data-output="{{ userBox.U.userInfo.name }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-name"></div>
              </div>
            </div>
            <div class="history-tools-panel">
              <div ng-class="{ 'active': historyPage.H.history.isOrderDateDraft }" class="tools-block tool-drop">
                <button fs-click="historyPage.orderDateSelecting()" class="tool calendar-btn"></button>
                <div ng-class="{ 'empty': historyPage.H.history.startDateDraft === '' &amp;&amp; historyPage.H.history.finishDateDraft === ''}" class="time-interval"><span ng-if="historyPage.H.history.startDateDraft !== ''">{{ ::historyPage.FROM }} {{historyPage.H.history.startDateDraft | date:"dd.MM.yyyy"}}</span><span ng-show="historyPage.H.history.startDateDraft !== ''">&nbsp; - &nbsp;</span><span ng-if="historyPage.H.history.finishDateDraft !== ''">{{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDateDraft | date:"dd.MM.yyyy"}}</span></div>
                <div ng-if="historyPage.H.history.isDraftView" class="dropdown-tool-dialog date-filter">
                  <div class="filter-title">{{ ::historyPage.DATE_RANGE }}</div>
                  <div ng-class="{ 'selected': historyPage.H.history.isStartDateDraft }" fs-click="historyPage.openCalendarScroll('start-date')" class="period start-date">{{ ::historyPage.FROM }} {{historyPage.H.history.startDateDraft | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isStartDateDraft }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="0" calendar-type="1"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isFinishDateDraft }" fs-click="historyPage.openCalendarScroll('finish-date')" class="period finish-date">{{ ::historyPage.UNTIL }} {{historyPage.H.history.finishDateDraft | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isFinishDateDraft }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="0" calendar-type="0"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isAllPeriodDraft }" fs-click="historyPage.openCalendarScroll('full-date')" class="period total-date">{{ ::historyPage.ALL_TIME }}</div>
                </div>
              </div>
              <div ng-class="{ 'active': historyPage.H.history.isOrderSortDraft }" class="tools-block tool-drop">
                <button fs-click="historyPage.orderSorting()" class="tool settings-btn"></button>
                <div class="dropdown-tool-dialog sort-filter">
                  <div class="filter-divider">{{ ::historyPage.SORTING }}</div>
                  <ul class="filter-list">
                    <li ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'first' }" fs-click="historyPage.sortingInit('first')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.NEWEST_FIRST }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'last' }" fs-click="historyPage.sortingInit('last')" class="filter-item">
                      <div class="filter-label">{{ ::historyPage.NEWEST_LAST }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="scroll-vert-container">
            <div class="scrolling-container">
              <div ng-repeat="draft in historyPage.H.history.drafts | orderBy:historyPage.createdDate:historyPage.H.history.reverseDraft" class="account-block">
                <div fs-click="historyPage.editOrder(0, draft.id)" class="account">
                  <div class="account-row header">
                    <div class="account-id">{{ ::historyPage.DRAFT }}</div>
                    <div class="account-label account-date-filter">{{ ::historyPage.FROM }} {{draft.order_date | date:"dd MMMM, yyyy"}}</div>
                  </div>
                  <div class="account-row footer">
                    <div class="account-value">{{ draft.order_price_dis }} {{ historyPage.U.userInfo.currency }}<span ng-show="draft.is_instalment">, {{ draft.selectedInstalmentPeriod }} {{ ::historyPage.PAYMENTS }} {{draft.payment_monthly}} {{ historyPage.U.userInfo.currency }}</span></div>
                    <div class="account-qty">{{ draft.products_qty }} {{ ::historyPage.ALLPRODUCTS }} {{ ::historyPage.ON }} {{draft.new_delivery_date | date:"dd.MM.yyyy"}}</div>
                  </div>
                </div>
                <button fs-click="" class="account-tool account-print-btn"></button>
                <button fs-click="historyPage.clickDeleteOrder(draft.order_type, draft.id)" class="account-delete-btn"></button>
              </div>
            </div>
            <div ng-show="historyPage.H.history.isEmptyResultDraft" class="empty-search-result">
              <div class="result-icon"></div>
              <div class="result-text">{{ ::historyPage.BY_YOUR_REQUEST }} {{ ::historyPage.NOT_FIND }}.</div>
            </div>
          </div>
          <button fs-click="historyPage.viewSwitching()" class="view-switch-tab">{{ ::historyPage.HISTORY_VIEW }}</button>
        </section>
      </section>
    </section>
  </section>
</section>
<div ng-controller="AttantCtrl as attantBox" ng-show="attantBox.D.design.isGlassExtra || attantBox.D.design.isHardwareExtra || attantBox.H.history.isNoPrint || attantBox.D.design.isNoDoors" class="attantion-block">
  <div ng-show="attantBox.D.design.isGlassExtra &amp;&amp; attantBox.D.design.extraGlass.length" class="glass-attantion">
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
    <div class="glass-list">
      <div ng-repeat="glassExtra in attantBox.D.design.extraGlass track by $index" class="extra-glass">{{ glassExtra }}</div>
    </div>
  </div>
  <div ng-show="attantBox.H.history.isNoPrint" class="design-attantion">{{ ::attantBox.NO_PRINT }}
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
  </div>
  <div ng-show="attantBox.D.design.isHardwareExtra &amp;&amp; attantBox.D.design.extraHardware.length" class="glass-attantion">
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
    <div class="glass-list">{{ ::attantBox.EXTRA_SASH }}
      <div ng-repeat="sashExtra in attantBox.D.design.extraHardware track by $index" class="extra-glass"><span ng-if="!$last">{{ sashExtra }},</span><span ng-if="$last">{{ sashExtra }}.</span></div>
      <div class="extra-glass">{{ ::attantBox.CHANGE_SIZE }}</div>
    </div>
  </div>
  <div ng-show="attantBox.D.design.isNoDoors" class="design-attantion">{{ ::attantBox.DOOR_ERROR }}
    <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
  </div>
</div>
<div ng-controller="LoaderCtrl as loadBox" ng-show="loadBox.G.global.isLoader" class="loader-container">
  <div ng-class="{'active': loadBox.G.global.loader === 2}" class="loader"></div>
  <div ng-show="loadBox.G.global.loader !== 2" class="loader-counter">{{loadBox.G.global.isLoader2 + '%'}}</div>
</div>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isAlert" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-sign"></div>
    <div class="alert-title">{{ alertBox.G.global.alertTitle }}</div>
    <div class="alert-descr">{{ alertBox.G.global.alertDescr }}</div>
    <div class="alert-btns">
      <div class="thisAlert">
        <section class="cart-page">
          <div fs-click="alertBox.isAlert()" ng-show="alertBox.G.global.isBox" class="order-delete"></div>
        </section>
      </div>
      <button fs-click="alertBox.clickCopy()" ng-show="alertBox.G.global.isBox" class="alert-yes">{{ ::alertBox.BUTTON_C }}</button>
      <button fs-click="alertBox.clickYes()" ng-show="alertBox.G.global.isBox" class="alert-yes">{{ ::alertBox.BUTTON_E }}</button>
      <button fs-click="alertBox.G.global.isAlert = 0" ng-show="!alertBox.G.global.isBox" class="alert-no">{{ ::alertBox.BUTTON_N }}</button>
      <button fs-click="alertBox.clickYes()" ng-show="!alertBox.G.global.isBox" class="alert-yes">{{ ::alertBox.BUTTON_Y }}</button>
    </div>
  </div>
</div>
<div ng-show="historyPage.G.global.isEditBox" ng-controller="EditOrderCtrl as editOrder" class="background">
  <div class="order-cont">
    <div class="boxText">
      <div fs-click="editOrder.close()" class="close-m"></div>
    </div>
    <div class="boxText">
      <div ng-class="{'alert':historyPage.G.global.isAlertHistory === 1}" class="txt">{{::editOrder.CONFIGMENU_ALERT}}</div>
    </div>
    <div ng-repeat="isBoxArray in editOrder.H.history.isBoxArray track by $index" class="boxOrder">
      <div class="cart-menu-m">
        <div class="box6">
          <div class="title">{{'№'}}</div>
          <div class="cart-item-data-m">
            <div class="value">{{isBoxArray.product_id}}</div>
          </div>
        </div>
        <div class="box3">
          <div class="title">{{::editOrder.CONFIGMENU_PROFILE}}</div>
          <div class="cart-item-data-m">
            <div class="value">{{isBoxArray.nameProfiles}}
              <select name="Profiles" ng-if="isBoxArray.nameProfiles" ng-change="editOrder.listName(isBoxArray.product_id)" ng-model="isBoxArray.dataProfiles" ng-options="listNameProfiles.name for listNameProfiles in editOrder.H.history.listNameProfiles" required class="user-select-field-m">     </select>
            </div>
          </div>
        </div>
        <div class="box4">
          <div class="title">{{::editOrder.CONFIGMENU_GLASS}}</div>
          <div class="cart-item-data-m">
            <div ng-repeat="nameGlass in isBoxArray.nameGlass track by $index" class="cart-item">
              <div class="value">{{nameGlass.name}}
                <select name="Glass" ng-if="isBoxArray.nameGlass" ng-model="nameGlass.dataGlass" ng-options="listNameGlass.name for listNameGlass in isBoxArray.listNameGlass" required class="user-select-field-m">      </select>
              </div>
            </div>
          </div>
        </div>
        <div class="box2">
          <div class="title">{{::editOrder.CONFIGMENU_HARDWARE}}</div>
          <div class="cart-item-data-m">
            <div class="value">{{isBoxArray.nameHardware }}
              <select name="Hardware" ng-if="isBoxArray.nameHardware" ng-model="isBoxArray.dataHardware" ng-options="listNameHardware.name for listNameHardware in editOrder.H.history.listNameHardware" required class="user-select-field-m"></select>
            </div>
          </div>
        </div>
        <div class="box1">
          <div class="title">{{::editOrder.CONFIGMENU_LAMINATION}}</div>
          <div class="cart-item-data-m">
            <div class="value"><span ng-if="isBoxArray.img_in_id &gt; 1">{{ isBoxArray.nameIn }}</span><span ng-if="isBoxArray.img_in_id === 1">{{ isBoxArray.nameIn |translate }}</span><span>/</span><span ng-if="isBoxArray.img_out_id &gt; 1">{{ isBoxArray.nameOut }}</span><span ng-if="isBoxArray.img_out_id === 1">{{ isBoxArray.nameOut |translate }}</span></div>
            <select name="Lamination" ng-model="isBoxArray.dataLamination" ng-options="listNameLaminat.name for listNameLaminat in isBoxArray.listNameLaminat" required class="user-select-field-m"></select>
          </div>
        </div>
      </div>
      <div class="cart-menu-m">
        <div ng-repeat="isBoxDopElem in editOrder.H.history.isBoxDopElem track by $index" ng-if="isBoxDopElem.product_id === isBoxArray.product_id" class="addElemBox">
          <div class="title">{{isBoxDopElem.list_group_name}}</div>
          <div class="valueAddElem">{{isBoxDopElem.name}}
            <select name="list_group_name" ng-if="isBoxDopElem.listAddElem" ng-model="isBoxDopElem.selectedAddElem" ng-options="listAddElem.name for listAddElem in isBoxDopElem.listAddElem" required class="user-select-field-add"></select>
          </div>
          <div class="width">
            <input type="text" name="width" ng-model="isBoxDopElem.selectedWidth" class="user-select-field-add">
          </div>
          <div class="quantity">
            <input type="text" name="width" ng-model="isBoxDopElem.selectedQuantity" class="user-select-field-add">
          </div>
        </div>
      </div>
    </div>
    <div class="boxText">
      <div fs-click="editOrder.check()" class="save-m"></div>
    </div>
  </div>
</div>