
<section ng-controller="HistoryCtrl" class="history-page">
  <section ng-class="{'dark-fon': history.isIntervalDate || history.isOrderSort }" class="accounts-container history-view">
    <div class="history-header">
      <div ng-hide="history.isOrderSearch" class="history-user-info">
        <div ng-controller="UserInfoCtrl" class="user-info-container">
          <button ng-if="!global.isHistoryPage" ng-class="{ 'show-navmenu': global.showNavMenu }" ng-click="swipeMainPage()" class="nav-menu-btn"></button>
          <button ng-if="global.isHistoryPage" ng-click="global.createNewProjectHistory()" class="nav-menu-btn"></button>
          <div class="user-foto"></div>
          <div show-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}" class="icon-location unvisible"></div>
          <div class="user-info-block">
            <div data-output="{{ global.userInfo.cityName }}" typing="{{ userInfo.typing }}" typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}" class="user-location"></div>
            <div data-output="{{ global.userInfo.name }}" typing="{{ userInfo.typing }}" typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}" class="user-name"></div>
          </div>
        </div>
      </div>
      <div ng-show="history.isOrderSearch" class="history-search">
        <form name="searchForm">
          <div class="search-block">
            <input ng-show="!global.isHistoryPage" type="text" name="searching" ng-model="searchingWord" ng-change="checkChanges()" placeholder="{{ 'add_elements.INPUT_ADD_ELEMENT' | translate }}" class="search-input">
            <input ng-show="global.isHistoryPage" type="text" name="searching" ng-model="searchingWord" ng-change="checkChanges()" placeholder="{{ 'history.SEARCH_PLACEHOLDER' | translate }}" class="search-input">
            <button ng-click="deleteSearchChart()" class="delete-search"></button>
            <button ng-show="!global.isHistoryPage &amp;&amp; searchingWord" ng-click="cancelSearching()" class="cancel-search">{{ 'add_elements.CANCEL' | translate }}</button>
            <button ng-show="global.isHistoryPage &amp;&amp; history.isOrderSearch" ng-click="cancelSearching()" class="cancel-search">{{ 'add_elements.CANCEL' | translate }}</button>
          </div>
        </form>
      </div>
      <div class="history-tools-panel">
        <div ng-class="{ 'active': history.isOrderSearch }" class="tools-block search-tool">
          <button ng-click="orderSearching()" class="tool search-btn"></button>
        </div>
        <div ng-class="{ 'active': history.isIntervalDate }" class="tools-block tool-drop">
          <button ng-click="intervalDateSelecting()" class="tool calendar-btn"></button>
          <div ng-class="{ 'empty': history.startDate === '' &amp;&amp;  history.finishDate === ''}" class="time-interval"><span ng-if="history.startDate !== ''">{{ 'history.FROM' | translate }}</span><span order-date="{{ history.startDate }}" months-label=" {{ 'common_words.MONTHA' | translate }}" type-date=""></span><span ng-hide="history.startDate == '' || history.finishDate == ''">&nbsp; - &nbsp;</span><span ng-if="history.finishDate !== ''">{{ 'history.UNTIL' | translate }}</span><span order-date="{{ history.finishDate }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span></div>
          <div class="dropdown-tool-dialog date-filter">
            <div class="filter-title">{{ 'history.DATE_RANGE' | translate }}</div>
            <div ng-class="{ 'selected': history.isStartDate }" ng-click="openCalendarScroll('start-date')" class="period start-date">{{ 'history.FROM' | translate }}<span order-date="{{ history.startDate }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span></div>
            <div ng-class="{ 'active': history.isStartDate }" class="dropdown-calendar-scroll">
              <calendar-scroll calendar-time="history.startDate" max-time="{{ history.maxDeliveryDateOrder }}" calendar-option=" {{ 'common_words.MONTHS' | translate }} "></calendar-scroll>
            </div>
            <div ng-class="{ 'selected': history.isFinishDate }" ng-click="openCalendarScroll('finish-date')" class="period finish-date">{{ 'history.UNTIL' | translate }}<span order-date="{{ history.finishDate }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span></div>
            <div ng-class="{ 'active': history.isFinishDate }" class="dropdown-calendar-scroll">
              <calendar-scroll calendar-time="history.finishDate" max-time="{{ history.maxDeliveryDateOrder }}" calendar-option=" {{ 'common_words.MONTHS' | translate }} "></calendar-scroll>
            </div>
            <div ng-class="{ 'selected': history.isAllPeriod }" ng-click="openCalendarScroll('full-date')" class="period total-date">{{ 'history.ALL_TIME' | translate }}</div>
          </div>
        </div>
        <div ng-class="{ 'active': history.isOrderSort }" class="tools-block tool-drop">
          <button ng-click="orderSorting()" class="tool settings-btn"></button>
          <div class="dropdown-tool-dialog sort-filter">
            <div class="filter-divider">{{ 'history.SORTING' | translate }}</div>
            <ul class="filter-list">
              <li ng-class="{ 'selected': history.isSortType == 'first' }" ng-click="sortingInit('first')" class="filter-item">
                <div class="filter-label">{{ 'history.NEWEST_FIRST' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
              <li ng-class="{ 'selected': history.isSortType == 'last' }" ng-click="sortingInit('last')" class="filter-item">
                <div class="filter-label">{{ 'history.NEWEST_LAST' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
              <li class="filter-item">
                <div class="filter-label">{{ 'history.SORT_BY_TYPE' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
            </ul>
            <div class="filter-divider">{{ 'history.SORT_SHOW' | translate }}</div>
            <ul class="filter-list">
              <!--li.filter-item(ng-class="{ 'selected': history.isSortType == 'all-order' }", ng-click="sortingInit('all-order')")
              .filter-label {{ 'common_words.ALL' | translate }}
              .filter-select-icon
              -->
              <li ng-class="{ 'selected': history.isSortType == 'current-order' }" ng-click="sortingInit('current-order')" class="filter-item">
                <div class="filter-label">{{ 'history.SORT_SHOW_ACTIVE' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
              <li ng-class="{ 'selected': history.isSortType == 'wait-order' }" ng-click="sortingInit('wait-order')" class="filter-item">
                <div class="filter-label">{{ 'history.SORT_SHOW_WAIT' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
              <li ng-class="{ 'selected': history.isSortType == 'done-order' }" ng-click="sortingInit('done-order')" class="filter-item">
                <div class="filter-label">{{ 'history.SORT_SHOW_DONE' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="order in orders | orderBy:createdDate:reverse | filter:searchingWord" ng-hide="order.orderStyle == 'order' &amp;&amp; history.isCurrentOrdersHide || order.orderStyle == 'credit' &amp;&amp; history.isCurrentOrdersHide || order.orderStyle == 'master' &amp;&amp; history.isWaitOrdersHide || order.orderStyle == 'done' &amp;&amp; history.isDoneOrdersHide" class="account-block">
      <div ng-class="{'current': order.orderStyle == 'order' || order.orderStyle == 'credit', 'wait': order.orderStyle == 'master', 'done': order.orderStyle == 'done' }" class="account">
        <div class="account-row header">
          <div class="account-data title">
            <div ng-show="order.orderStyle == 'done'" class="complete-icon"></div>
            <div class="account-id">id {{ order.orderId }}</div>
            <div class="account-addinfo"><span ng-hide="order.floorPrice == 0 &amp;&amp; order.assemblingPrice == 0">- включены:</span><span ng-hide="order.floorPrice == 0">&nbsp;доставка</span><span ng-hide="order.floorPrice == 0 || order.assemblingPrice == 0">&nbsp;и</span><span ng-hide="order.assemblingPrice == 0">&nbsp;монтаж</span></div>
          </div>
          <div class="account-data">
            <div class="account-label account-date-filter">{{ 'history.FROM' | translate }}<span order-date="{{ order.created }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date="'order'"></span></div>
          </div>
        </div>
        <div class="account-row">
          <div class="account-data">
            <div class="user-data account-user">{{ order.name }}</div>
            <div class="account-label">{{ 'history.CLIENT' | translate }}</div>
          </div>
        </div>
        <div class="account-row">
          <div class="account-data phone">
            <div class="user-data account-user-phone">{{ order.phone }}</div>
            <div class="account-label">{{ 'history.PHONE' | translate }}</div>
          </div>
          <div class="account-data">
            <div class="user-data account-user-adress">{{ order.location }}, {{ order.address }}</div>
            <div class="account-label">{{ 'history.ADDRESS' | translate }}</div>
          </div>
        </div>
        <div ng-click="gotoCartPage()" class="account-row footer">
          <div ng-hide="order.orderStyle == 'credit'" class="account-value">{{ order.totalPrice }}{{ global.currency }}</div>
          <div ng-show="order.orderStyle == 'credit'" class="account-value">{{ order.totalPrice }}{{ global.currency }}, {{ order.instalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{order.totalPriceMonthly}}{{ global.currency }}</div>
          <div ng-show="order.orderStyle == 'master'" class="account-value">{{ 'history.WAIT_MASTER' | translate }}</div>
          <div class="account-date">{{ order.productsQty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{ order.deliveryDate }}</div>
        </div>
      </div>
      <button ng-hide="order.orderStyle == 'done'" ng-click="sendOrderToFactory(order.orderStyle, order.orderId)" class="account-tool account-select-btn"></button>
      <button ng-hide="order.orderStyle == 'done'" ng-click="makeOrderCopy(order.orderStyle, order.orderId)" class="account-tool account-copy-btn"></button>
      <button ng-click="" class="account-tool account-print-btn"></button>
      <button ng-hide="order.orderStyle == 'done'" ng-click="clickDeleteOrder(order.orderType, order.orderId)" class="account-delete-btn"></button>
      <button ng-hide="order.orderStyle == 'done'" ng-click="editOrder(order.orderId)" class="account-change-btn">{{ 'common_words.CHANGE' | translate }}</button>
    </div>
    <button ng-click="viewSwitching()" class="view-switch-tab">{{ 'history.DRAFT_VIEW' | translate }}</button>
    <div ng-show="(orders | filter:searchingWord).length == 0" class="empty-search-result">
      <div class="result-icon"></div>
      <div class="result-text">{{ 'history.BY_YOUR_REQUEST' | translate }} "<span class="searchin-text"> {{ searchingWord }} </span>" {{ 'history.NOT_FIND' | translate }}.</div>
    </div>
    <div ng-show="history.isEmptySortResult" class="empty-search-result">
      <div class="result-icon"></div>
      <div class="result-text">{{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.</div>
    </div>
  </section>
  <section ng-class="{'active': history.isDraftView, 'dark-fon': history.isIntervalDateDraft || history.isOrderSortDraft }" class="accounts-container draft-view">
    <div class="history-header">
      <div ng-controller="UserInfoCtrl" class="user-info-container">
        <button ng-if="!global.isHistoryPage" ng-class="{ 'show-navmenu': global.showNavMenu }" ng-click="swipeMainPage()" class="nav-menu-btn"></button>
        <button ng-if="global.isHistoryPage" ng-click="global.createNewProjectHistory()" class="nav-menu-btn"></button>
        <div class="user-foto"></div>
        <div show-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}" class="icon-location unvisible"></div>
        <div class="user-info-block">
          <div data-output="{{ global.userInfo.cityName }}" typing="{{ userInfo.typing }}" typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}" class="user-location"></div>
          <div data-output="{{ global.userInfo.name }}" typing="{{ userInfo.typing }}" typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}" class="user-name"></div>
        </div>
      </div>
      <div class="history-tools-panel">
        <div ng-class="{ 'active': history.isIntervalDateDraft }" class="tools-block tool-drop">
          <button ng-click="intervalDateSelecting()" class="tool calendar-btn"></button>
          <div ng-class="{ 'empty': history.startDateDraft === '' &amp;&amp;  history.finishDateDraft === ''}" class="time-interval"><span ng-if="history.startDateDraft !== ''">{{ 'history.FROM' | translate }}</span><span order-date="{{ history.startDateDraft }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span><span ng-show="history.startDateDraft !== ''">&nbsp; - &nbsp;</span><span ng-if="history.finishDateDraft !== ''">{{ 'history.UNTIL' | translate }}</span><span order-date="{{ history.finishDateDraft }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span></div>
          <div class="dropdown-tool-dialog date-filter">
            <div class="filter-title">{{ 'history.DATE_RANGE' | translate }}</div>
            <div ng-class="{ 'selected': history.isStartDateDraft }" ng-click="openCalendarScroll('start-date')" class="period start-date">{{ 'history.FROM' | translate }}<span order-date="{{ history.startDateDraft }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span></div>
            <div ng-class="{ 'active': history.isStartDateDraft }" class="dropdown-calendar-scroll">
              <calendar-scroll calendar-time="history.startDateDraft" max-time="" calendar-option=" {{ 'common_words.MONTHS' | translate }} "></calendar-scroll>
            </div>
            <div ng-class="{ 'selected': history.isFinishDateDraft }" ng-click="openCalendarScroll('finish-date')" class="period finish-date">{{ 'history.UNTIL' | translate }}<span order-date="{{ history.finishDateDraft }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date=""></span></div>
            <div ng-class="{ 'active': history.isFinishDateDraft }" class="dropdown-calendar-scroll">
              <calendar-scroll calendar-time="history.finishDateDraft" max-time="" calendar-option=" {{ 'common_words.MONTHS' | translate }} "></calendar-scroll>
            </div>
            <div ng-class="{ 'selected': history.isAllPeriodDraft }" ng-click="openCalendarScroll('full-date')" class="period total-date">{{ 'history.ALL_TIME' | translate }}</div>
          </div>
        </div>
        <div ng-class="{ 'active': history.isOrderSortDraft }" class="tools-block tool-drop">
          <button ng-click="orderSorting()" class="tool settings-btn"></button>
          <div class="dropdown-tool-dialog sort-filter">
            <div class="filter-divider">{{ 'history.SORTING' | translate }}</div>
            <ul class="filter-list">
              <li ng-class="{ 'selected': history.isSortTypeDraft == 'first' }" ng-click="sortingInit('first')" class="filter-item">
                <div class="filter-label">{{ 'history.NEWEST_FIRST' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
              <li ng-class="{ 'selected': history.isSortTypeDraft == 'last' }" ng-click="sortingInit('last')" class="filter-item">
                <div class="filter-label">{{ 'history.NEWEST_LAST' | translate }}</div>
                <div class="filter-select-icon"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="draft in drafts | orderBy:createdDate:reverseDraft" ng-click="editDraft(draft.orderId)" class="account-block">
      <div class="account">
        <div class="account-row header">
          <div class="account-id">{{ 'history.DRAFT' | translate }}</div>
          <div class="account-label account-date-filter">{{ 'history.FROM' | translate }}<span order-date="{{ draft.created }}" months-label=" {{ 'common_words.MONTHA' | translate }} " type-date="'order'"></span></div>
        </div>
        <div ng-click="gotoCartPage()" class="account-row footer">
          <div ng-hide="draft.orderStyle == 'credit'" class="account-value">{{ draft.totalPrice }}{{ global.currency }}</div>
          <div ng-show="draft.orderStyle == 'credit'" class="account-value">{{ draft.totalPrice }}{{ global.currency }}, {{ draft.instalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{draft.totalPriceMonthly}}{{ global.currency }}</div>
          <div class="account-qty">{{ draft.productsQty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{ draft.deliveryDate }}</div>
        </div>
      </div>
      <button ng-click="" class="account-tool account-print-btn"></button>
      <button ng-click="deleteOrder(draft.orderType, draft.orderId)" class="account-delete-btn"></button>
    </div>
    <button ng-click="viewSwitching()" class="view-switch-tab">{{ 'history.HISTORY_VIEW' | translate }}</button>
    <div ng-show="history.isEmptySortResultDraft" class="empty-search-result">
      <div class="result-icon"></div>
      <div class="result-text">{{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.</div>
    </div>
  </section>
</section>