
<section ng-class="{ 'swiped': !historyPage.G.global.isNavMenu }" class="page-container">
  <section class="left-side">
    <div ng-controller="NavMenuCtrl as navMenu" class="nav-menu">
      <header class="nav-menu-header">
        <ul show-delay="{{ navMenu.config.DELAY_SHOW_NAV_LIST }}" class="items-list unvisible">
          <li ng-class="{'selected': navMenu.activeMenuItem == 1}" hm-tap="navMenu.selectMenuItem(1)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP) }}" class="nav-icon-addLocation unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_GEOLOCATION' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP) }}" class="title"></span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 2}" hm-tap="navMenu.selectMenuItem(2)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 2) }}" class="nav-icon-geoLocation unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_CURRENT_GEOLOCATION' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 2) }}" class="title"></span></div>
          </li>
          <li class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 3) }}" class="nav-icon-location unvisible"></span><span data-output="{{ navMenu.O.order.customer_city }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 3) }}" class="title"></span></div>
          </li>
        </ul>
        <div data-output="{{ 'mainpage.NAVMENU_CALCULATIONS' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_DIVIDER }}" class="divider"></div>
        <ul show-delay="{{ navMenu.config.DELAY_SHOW_NAV_LIST * 2.5 }}" class="items-list unvisible">
          <li ng-if="(navMenu.G.global.currOpenPage === 'history' &amp;&amp; navMenu.G.global.isCreatedNewProject &amp;&amp; navMenu.G.global.isCreatedNewProduct)" ng-class="{'selected': navMenu.activeMenuItem == 3}" hm-tap="navMenu.selectMenuItem(3)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 4)}}" class="nav-icon-calculation unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_CURRENT_CALCULATION' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 4) }}" class="title"></span></div>
          </li>
          <li ng-show="navMenu.O.order.products.length &amp;&amp; navMenu.G.global.currOpenPage === 'main'" ng-class="{'selected': navMenu.activeMenuItem == 4 || navMenu.G.global.isOpenedCartPage}" hm-tap="navMenu.selectMenuItem(4)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 5) }}" class="nav-icon-basketOfCalculation unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_CART' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 5) }}" class="title"></span><span show-delay="{{ navMenu.config.DELAY_SHOW_ORDERS }}" class="badge unvisible">{{ navMenu.O.order.products.length }}</span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 5}" hm-tap="navMenu.selectMenuItem(5)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 6) }}" class="nav-icon-additionalComponents unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_ADD_ELEMENTS' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 6) }}" class="title"></span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 6 || navMenu.G.global.isOpenedHistoryPage}" hm-tap="navMenu.selectMenuItem(6)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 7) }}" class="nav-icon-calculationsHistory unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_ALL_CALCULATIONS' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 7) }}" class="title"></span></div>
          </li>
        </ul>
        <div data-output="{{ 'mainpage.NAVMENU_APPENDIX' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_DIVIDER * 2 }}" class="divider"></div>
        <ul show-delay="{{ navMenu.config.DELAY_SHOW_NAV_LIST * 4 }}" class="items-list unvisible">
          <li ng-class="{'selected': navMenu.activeMenuItem == 7}" hm-tap="navMenu.selectMenuItem(7)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 8) }}" class="nav-icon-settings unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_SETTINGS' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 8) }}" class="title"></span></div>
          </li>
          <li ng-class="{'selected': navMenu.activeMenuItem == 8}" hm-tap="navMenu.selectMenuItem(8)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 9) }}" class="nav-icon-information unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_MORE_INFO' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 9) }}" class="title"></span></div>
          </li>
          <li ng-if="navMenu.G.global.isDevice" ng-class="{'selected': navMenu.activeMenuItem == 9}" hm-tap="navMenu.selectMenuItem(9)" class="item">
            <div class="item-content"><span show-delay="{{ navMenu.config.DELAY_SHOW_NAVICON * (1 + navMenu.config.DELAY_SHOW_STEP * 10) }}" class="nav-icon-voicehelp unvisible"></span><span data-output="{{ 'mainpage.NAVMENU_VOICE_HELPER' | translate }}" typing="{{ navMenu.config.typing }}" typing-delay="{{ navMenu.config.DELAY_TYPE_NAVTITLE * (1 + navMenu.config.DELAY_SHOW_STEP * 10) }}" class="title"></span></div>
          </li>
        </ul>
      </header>
      <footer class="nav-menu-footer">
        <button ng-if="!navMenu.G.global.orderEditNumber" hm-tap="navMenu.clickNewProject()" show-delay="{{ navMenu.config.DELAY_SHOW_NEWCALC_BTN }}" class="new-calc unvisible">{{ 'mainpage.NAVMENU_NEW_CALC' | translate }}</button>
      </footer>
    </div>
  </section>
  <section class="right-side">
    <section class="main-history">
      <section class="history-page">
        <section ng-class="{'dark-fon': historyPage.H.history.isOrderDate || historyPage.H.history.isOrderSort }" class="accounts-container history-view">
          <div class="history-header">
            <button hm-tap="historyPage.toCurrentCalculation()" class="history-back"></button>
            <div ng-hide="historyPage.H.history.isOrderSearch" class="history-user-info">
              <div ng-controller="UserInfoCtrl as userBox" hm-swipeleft="userBox.swipeLeft($event)" hm-swiperight="userBox.swipeRight($event)" class="user-info-container">
                <button ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedCartPage}" hm-tap="userBox.swipeMainPage($event)" class="nav-menu-btn"></button><img ng-if="userBox.U.userInfo.avatar &amp;&amp; (userBox.U.userInfo.avatar!='null')" ng-src="{{userBox.U.userInfo.avatar}}" class="user-foto">
                <div show-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="icon-location unvisible"></div>
                <div class="user-info-block">
                  <div data-output="{{ userBox.U.userInfo.cityName }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-location"></div>
                  <div data-output="{{ userBox.U.userInfo.name }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-name"></div>
                </div>
              </div>
            </div>
            <div ng-show="historyPage.H.history.isOrderSearch" class="history-search">
              <form ng-controller="searchCtrl as searchBox" name="searchForm">
                <div class="search-block">
                  <input type="text" name="searching" ng-model="searchBox.searchingWord" ng-change="searchBox.checkChanges()" placeholder="{{searchBox.placeholder}}" class="search-input">
                  <button hm-tap="searchBox.deleteSearchChart()" class="delete-search"></button>
                  <button hm-tap="searchBox.cancelSearching()" class="cancel-search">{{ 'add_elements.CANCEL' | translate }}</button>
                  <!--button.cancel-search(ng-show="searchBox.global.isHistoryPage && searchBox.history.isOrderSearch", hm-tap="searchBox.cancelSearching()") {{ 'add_elements.CANCEL' | translate }}-->
                </div>
              </form>
            </div>
            <div class="history-tools-panel">
              <div ng-class="{ 'active': historyPage.H.history.isOrderSearch }" class="tools-block search-tool">
                <button hm-tap="historyPage.orderSearching()" class="tool search-btn"></button>
              </div>
              <div ng-class="{ 'active': historyPage.H.history.isOrderDate }" class="tools-block tool-drop">
                <button hm-tap="historyPage.orderDateSelecting()" class="tool calendar-btn"></button>
                <div ng-class="{ 'empty': historyPage.H.history.startDate === '' &amp;&amp;  historyPage.H.history.finishDate === ''}" class="time-interval"><span ng-if="historyPage.H.history.startDate !== ''">{{ 'history.FROM' | translate }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}</span><span ng-hide="historyPage.H.history.startDate == '' || historyPage.H.history.finishDate == ''">&nbsp; - &nbsp;</span><span ng-if="historyPage.H.history.finishDate !== ''">{{ 'history.UNTIL' | translate }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}</span></div>
                <div ng-if="!historyPage.H.history.isDraftView" class="dropdown-tool-dialog date-filter">
                  <div class="filter-title">{{ 'history.DATE_RANGE' | translate }}</div>
                  <div ng-class="{ 'selected': historyPage.H.history.isStartDate }" hm-tap="historyPage.openCalendarScroll('start-date')" class="period start-date">{{ 'history.FROM' | translate }} {{historyPage.H.history.startDate | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isStartDate }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="1" calendar-type="1"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isFinishDate }" hm-tap="historyPage.openCalendarScroll('finish-date')" class="period finish-date">{{ 'history.UNTIL' | translate }} {{historyPage.H.history.finishDate | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isFinishDate }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="1" calendar-type="0"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isAllPeriod }" hm-tap="historyPage.openCalendarScroll('full-date')" class="period total-date">{{ 'history.ALL_TIME' | translate }}</div>
                </div>
              </div>
              <div ng-class="{ 'active': historyPage.H.history.isOrderSort }" class="tools-block tool-drop">
                <button hm-tap="historyPage.orderSorting()" class="tool settings-btn"></button>
                <div class="dropdown-tool-dialog sort-filter">
                  <div class="filter-divider">{{ 'history.SORTING' | translate }}</div>
                  <ul class="filter-list">
                    <li ng-class="{ 'selected': historyPage.H.history.isSortType == 'first' }" hm-tap="historyPage.sortingInit(0, 'first')" class="filter-item">
                      <div class="filter-label">{{ 'history.NEWEST_FIRST' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isSortType == 'last' }" hm-tap="historyPage.sortingInit(0, 'last')" class="filter-item">
                      <div class="filter-label">{{ 'history.NEWEST_LAST' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isSortType == 'type' }" hm-tap="historyPage.sortingInit(0, 'type')" class="filter-item">
                      <div class="filter-label">{{ 'history.SORT_BY_TYPE' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                  </ul>
                  <div class="filter-divider">{{ 'history.SORT_SHOW' | translate }}</div>
                  <ul class="filter-list">
                    <li ng-class="{ 'selected': !historyPage.H.history.isFilterType }" hm-tap="historyPage.sortingInit(1, undefined)" class="filter-item">
                      <div class="filter-label">{{ 'common_words.ALL' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isFilterType == 'order' }" hm-tap="historyPage.sortingInit(1, 'order')" class="filter-item">
                      <div class="filter-label">{{ 'history.SORT_SHOW_ACTIVE' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isFilterType == 'master' }" hm-tap="historyPage.sortingInit(1, 'master')" class="filter-item">
                      <div class="filter-label">{{ 'history.SORT_SHOW_WAIT' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isFilterType == 'done' }" hm-tap="historyPage.sortingInit(1, 'done')" class="filter-item">
                      <div class="filter-label">{{ 'history.SORT_SHOW_DONE' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="scroll-vert-container">
            <div ng-repeat="order in historyPage.H.history.orders | orderSorting:historyPage.H.history.isSortType | filter: {order_style: historyPage.H.history.isFilterType} | filter:historyPage.H.history.searchingWord track by $index" class="account-block">
              <div ng-class="{'current': order.order_style == 'order', 'wait': order.order_style == 'master', 'done': order.order_style == 'done' }" class="account">
                <div class="account-row header">
                  <div class="account-data title">
                    <div ng-show="order.order_style == 'done'" class="complete-icon"></div>
                    <div ng-if="order.order_number" class="account-id">id {{ order.order_number }}<span ng-if="order.order_hz &amp;&amp; order.order_hz !== '---'">{{ order.order_hz }}</span></div>
                    <div class="account-addinfo"><span ng-hide="!order.floor_id &amp;&amp; !order.mounting_id">- {{ 'history.INCLUDED' | translate }}:</span><span ng-hide="!order.floor_id">&nbsp; {{ 'cart.DELIVERY' | translate }}</span><span ng-hide="!order.floor_id || !order.mounting_id">&nbsp; {{ 'common_words.AND' | translate }}</span><span ng-hide="!order.mounting_id">&nbsp; {{ 'cart.ASSEMBLING' | translate }}</span></div>
                  </div>
                  <div class="account-data">
                    <div class="account-label account-date-filter">{{ 'history.FROM' | translate }} {{order.order_date | date:"dd MMMM, yyyy"}}</div>
                  </div>
                </div>
                <div class="account-row">
                  <div class="account-data">
                    <div class="user-data account-user">{{ order.customer_name }}</div>
                    <div class="account-label">{{ 'history.CLIENT' | translate }}</div>
                  </div>
                </div>
                <div class="account-row">
                  <div class="account-data phone">
                    <div class="user-data account-user-phone">{{ order.customer_phone }}</div>
                    <div class="account-label">{{ 'history.PHONE' | translate }}</div>
                  </div>
                  <div class="account-data">
                    <div class="user-data account-user-adress">{{ order.customer_location }}, {{ order.customer_address }}</div>
                    <div class="account-label">{{ 'history.ADDRESS' | translate }}</div>
                  </div>
                </div>
                <div class="account-row footer">
                  <div class="account-value">{{ order.order_price_dis }} {{ historyPage.U.userInfo.currency }}<span ng-show="order.is_instalment">, {{ order.selectedInstalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{order.payment_monthly}} {{ historyPage.U.userInfo.currency }}</span></div>
                  <div ng-show="order.order_style == 'master'" class="account-value">{{ 'history.WAIT_MASTER' | translate }}</div>
                  <div class="account-date">{{ order.products_qty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{order.new_delivery_date | date:"dd.MM.yyyy"}}</div>
                </div>
              </div>
              <button ng-hide="order.order_style == 'done'" hm-tap="historyPage.sendOrderToFactory(order.order_style, order.id)" class="account-tool account-select-btn"></button>
              <button ng-hide="order.order_style == 'done'" hm-tap="historyPage.makeOrderCopy(order.order_style, order.id)" class="account-tool account-copy-btn"></button>
              <button hm-tap="" class="account-tool account-print-btn"></button>
              <button ng-hide="order.order_style == 'done'" hm-tap="historyPage.clickDeleteOrder(order.order_type, order.id, $event)" class="account-delete-btn"></button>
              <button ng-hide="order.order_style == 'done'" hm-tap="historyPage.editOrder(1, order.id)" class="account-change-btn">{{ 'common_words.CHANGE' | translate }}</button>
            </div>
            <div ng-show="historyPage.H.history.searchingWord.length &amp;&amp; (historyPage.H.history.orders | filter:historyPage.H.history.searchingWord).length == 0" class="empty-search-result">
              <div class="result-icon"></div>
              <div class="result-text">{{ 'history.BY_YOUR_REQUEST' | translate }} "<span class="searchin-text"> {{ historyPage.H.history.searchingWord }} </span>" {{ 'history.NOT_FIND' | translate }}.</div>
            </div>
            <div ng-show="!historyPage.H.history.searchingWord.length &amp;&amp; ((historyPage.H.history.orders | filter:{order_style: historyPage.H.history.isFilterType}).length == 0 || historyPage.H.history.isEmptyResult)" class="empty-search-result">
              <div class="result-icon"></div>
              <div class="result-text">{{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.</div>
            </div>
          </div>
          <button hm-tap="historyPage.viewSwitching()" class="view-switch-tab">{{ 'history.DRAFT_VIEW' | translate }}</button>
        </section>
        <section ng-class="{'active': historyPage.H.history.isDraftView, 'dark-fon': historyPage.H.history.isOrderDateDraft || historyPage.H.history.isOrderSortDraft }" class="accounts-container draft-view">
          <div class="history-header">
            <div ng-controller="UserInfoCtrl as userBox" hm-swipeleft="userBox.swipeLeft($event)" hm-swiperight="userBox.swipeRight($event)" class="user-info-container">
              <button ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedCartPage}" hm-tap="userBox.swipeMainPage($event)" class="nav-menu-btn"></button><img ng-if="userBox.U.userInfo.avatar &amp;&amp; (userBox.U.userInfo.avatar!='null')" ng-src="{{userBox.U.userInfo.avatar}}" class="user-foto">
              <div show-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="icon-location unvisible"></div>
              <div class="user-info-block">
                <div data-output="{{ userBox.U.userInfo.cityName }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-location"></div>
                <div data-output="{{ userBox.U.userInfo.name }}" typing="{{ userBox.config.typing }}" typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}" class="user-name"></div>
              </div>
            </div>
            <div class="history-tools-panel">
              <div ng-class="{ 'active': historyPage.H.history.isOrderDateDraft }" class="tools-block tool-drop">
                <button hm-tap="historyPage.orderDateSelecting()" class="tool calendar-btn"></button>
                <div ng-class="{ 'empty': historyPage.H.history.startDateDraft === '' &amp;&amp; historyPage.H.history.finishDateDraft === ''}" class="time-interval"><span ng-if="historyPage.H.history.startDateDraft !== ''">{{ 'history.FROM' | translate }} {{historyPage.H.history.startDateDraft | date:"dd.MM.yyyy"}}</span><span ng-show="historyPage.H.history.startDateDraft !== ''">&nbsp; - &nbsp;</span><span ng-if="historyPage.H.history.finishDateDraft !== ''">{{ 'history.UNTIL' | translate }} {{historyPage.H.history.finishDateDraft | date:"dd.MM.yyyy"}}</span></div>
                <div ng-if="historyPage.H.history.isDraftView" class="dropdown-tool-dialog date-filter">
                  <div class="filter-title">{{ 'history.DATE_RANGE' | translate }}</div>
                  <div ng-class="{ 'selected': historyPage.H.history.isStartDateDraft }" hm-tap="historyPage.openCalendarScroll('start-date')" class="period start-date">{{ 'history.FROM' | translate }} {{historyPage.H.history.startDateDraft | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isStartDateDraft }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="0" calendar-type="1"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isFinishDateDraft }" hm-tap="historyPage.openCalendarScroll('finish-date')" class="period finish-date">{{ 'history.UNTIL' | translate }} {{historyPage.H.history.finishDateDraft | date:"dd.MM.yyyy"}}</div>
                  <div ng-class="{ 'active': historyPage.H.history.isFinishDateDraft }" class="dropdown-calendar-scroll">
                    <calendar-scroll order-type="0" calendar-type="0"></calendar-scroll>
                  </div>
                  <div ng-class="{ 'selected': historyPage.H.history.isAllPeriodDraft }" hm-tap="historyPage.openCalendarScroll('full-date')" class="period total-date">{{ 'history.ALL_TIME' | translate }}</div>
                </div>
              </div>
              <div ng-class="{ 'active': historyPage.H.history.isOrderSortDraft }" class="tools-block tool-drop">
                <button hm-tap="historyPage.orderSorting()" class="tool settings-btn"></button>
                <div class="dropdown-tool-dialog sort-filter">
                  <div class="filter-divider">{{ 'history.SORTING' | translate }}</div>
                  <ul class="filter-list">
                    <li ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'first' }" hm-tap="historyPage.sortingInit('first')" class="filter-item">
                      <div class="filter-label">{{ 'history.NEWEST_FIRST' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                    <li ng-class="{ 'selected': historyPage.H.history.isSortTypeDraft == 'last' }" hm-tap="historyPage.sortingInit('last')" class="filter-item">
                      <div class="filter-label">{{ 'history.NEWEST_LAST' | translate }}</div>
                      <div class="filter-select-icon"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="scroll-vert-container">
            <div class="scrolling-container">
              <div ng-repeat="draft in historyPage.H.history.drafts | orderBy:historyPage.createdDate:historyPage.H.history.reverseDraft" class="account-block">
                <div hm-tap="historyPage.editOrder(0, draft.id)" class="account">
                  <div class="account-row header">
                    <div class="account-id">{{ 'history.DRAFT' | translate }}</div>
                    <div class="account-label account-date-filter">{{ 'history.FROM' | translate }} {{draft.order_date | date:"dd MMMM, yyyy"}}</div>
                  </div>
                  <div class="account-row footer">
                    <div class="account-value">{{ draft.order_price_dis }} {{ historyPage.U.userInfo.currency }}<span ng-show="draft.is_instalment">, {{ draft.selectedInstalmentPeriod }} {{ 'history.PAYMENTS' | translate }} {{draft.payment_monthly}} {{ historyPage.U.userInfo.currency }}</span></div>
                    <div class="account-qty">{{ draft.products_qty }} {{ 'history.ALLPRODUCTS' | translate }} {{ 'history.ON' | translate }} {{draft.new_delivery_date | date:"dd.MM.yyyy"}}</div>
                  </div>
                </div>
                <button hm-tap="" class="account-tool account-print-btn"></button>
                <button hm-tap="historyPage.clickDeleteOrder(draft.order_type, draft.id, $event)" class="account-delete-btn"></button>
              </div>
            </div>
            <div ng-show="historyPage.H.history.isEmptyResultDraft" class="empty-search-result">
              <div class="result-icon"></div>
              <div class="result-text">{{ 'history.BY_YOUR_REQUEST' | translate }} {{ 'history.NOT_FIND' | translate }}.</div>
            </div>
          </div>
          <button hm-tap="historyPage.viewSwitching()" class="view-switch-tab">{{ 'history.HISTORY_VIEW' | translate }}</button>
        </section>
      </section>
    </section>
  </section>
</section>
<div ng-controller="LoaderCtrl as loadBox" ng-show="loadBox.G.global.isLoader" class="loader-container">
  <div class="loader"></div>
</div>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isAlert" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-sign"></div>
    <div class="alert-title">{{ alertBox.G.global.alertTitle }}</div>
    <div class="alert-descr">{{ alertBox.G.global.alertDescr }}</div>
    <div class="alert-btns">
      <button hm-tap="alertBox.G.global.isAlert = 0" class="alert-no">{{ 'common_words.BUTTON_N' | translate }}</button>
      <button hm-tap="alertBox.clickYes()" class="alert-yes">{{ 'common_words.BUTTON_Y' | translate }}</button>
    </div>
  </div>
</div>