
<section class="settings setting-page">
  <div class="header">
    <button hm-tap="settingsPage.closeSettingsPage()" class="back"></button>
    <div data-output="{{ 'mainpage.NAVMENU_SETTINGS' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="title"></div>
  </div>
  <div class="setting-container">
    <div class="setting-user-foto">
      <!--img(ng-crs="global.AvatarUrl")-->
      <div hm-tap="settingsPage.changeAvatar()" class="change-foto">{{ 'common_words.CHANGE' | translate }}</div>
    </div>
    <div class="lists">
      <ul class="list">
        <li class="item">
          <div data-output="{{ 'settings.AUTHORIZATION' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="divider"></div>
        </li>
        <li class="item">
          <div data-output="{{ settingsPage.userInfo.phone }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
        </li>
        <li hm-tap="settingsPage.gotoPasswordPage()" class="item click">
          <div data-output="{{ settingsPage.userInfo.password }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <div data-output="{{ 'settings.CHANGE_PASSWORD' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_SHOW_ICONS }}" class="setting-item-change"></div>
        </li>
        <li hm-tap="settingsPage.gotoLanguagePage()" class="item click">
          <div data-output="{{ settingsPage.userInfo.langName }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <div data-output="{{ 'settings.CHANGE_LANGUAGE' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_SHOW_ICONS }}" class="setting-item-change"></div>
        </li>
      </ul>
      <ul class="list">
        <li class="item">
          <div data-output="{{ 'settings.PRIVATE_INFO' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="divider"></div>
        </li>
        <li id="user-name" hm-tap="settingsPage.changeSettingData(1, $event)" class="item click">
          <div data-output="{{ 'settings.USER_NAME' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <div ng-hide="settingsPage.config.selectedSetting == 1" data-output="{{ settingsPage.userInfo.name }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-data"></div>
          <input ng-show="settingsPage.config.selectedSetting == 1" type="text" ng-model="settingsPage.userInfo.name" ng-keypress="settingsPage.saveChanges('user-name', settingsPage.userInfo.name)" ng-blur="settingsPage.saveChangesBlur('user-name', settingsPage.userInfo.name)" class="set-input-txt">
        </li>
        <li hm-tap="settingsPage.gotoLocationPage()" class="item click">
          <div data-output="{{ 'settings.CITY' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <div data-output="{{ settingsPage.userInfo.fullLocation }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-data"></div>
          <div class="setting-item-change"></div>
        </li>
        <li id="user-address" hm-tap="settingsPage.changeSettingData(3, $event)" class="item click">
          <div data-output="{{ 'cart.CLIENT_ADDRESS' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <div ng-hide="settingsPage.config.selectedSetting == 3" data-output="{{ settingsPage.userInfo.city_phone }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-data"></div>
          <input ng-show="settingsPage.config.selectedSetting == 3" type="text" ng-model="settingsPage.userInfo.city_phone" ng-keypress="saveChanges('user-address', settingsPage.userInfo.city_phone)" ng-blur="saveChangesBlur('user-address', settingsPage.userInfo.city_phone)" class="set-input-txt">
        </li>
        <li id="user-email" hm-tap="settingsPage.changeSettingData(4, $event)" class="item click">
          <div data-output="{{ 'cart.CLIENT_EMAIL' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <div ng-hide="settingsPage.config.selectedSetting == 4" data-output="{{ settingsPage.userInfo.email }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-data"></div>
          <input ng-show="settingsPage.config.selectedSetting == 4" type="email" name="mail" ng-model="settingsPage.userInfo.email" ng-keypress="settingsPage.saveChanges('user-email', settingsPage.userInfo.email)" ng-blur="settingsPage.saveChangesBlur('user-email', settingsPage.userInfo.email)" ng-change="settingsPage.changeEmail()" class="set-input-txt">
          <div ng-show="settingsPage.config.isEmailError" class="set-email-error">{{ 'cart.WRONG_EMAIL' | translate }}</div>
        </li>
      </ul>
      <ul class="list">
        <li class="item">
          <div data-output="{{ 'settings.ADD_PHONES' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="divider"></div>
        </li>
        <li ng-repeat="phone in settingsPage.config.addPhones" class="item">
          <button hm-tap="settingsPage.deletePhone($index)" class="phone-btn delete-phone">&#8211;</button>
          <div data-output="{{ phone }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
        </li>
        <li class="item">
          <button class="phone-btn add-phone">+</button>
          <div ng-hide="settingsPage.config.isInsertPhone" hm-tap="settingsPage.appendInputPhone()" data-output="{{ 'settings.INSERT_PHONE' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-label"></div>
          <input ng-show="settingsPage.config.isInsertPhone" type="text" ng-model="settingsPage.config.tempAddPhone" ng-keypress="settingsPage.saveChangesPhone()" ng-blur="settingsPage.cancelAddPhone()" class="set-input-phone">
          <div ng-show="settingsPage.config.isErrorPhone" class="error-tooltip">{{ 'login.WRONG_NUMBER' | translate }}</div>
        </li>
      </ul>
      <ul class="list">
        <!--li.item.click
        .setting-item-data(data-output="{{ 'mainpage.NAVMENU_VOICE_HELPER' | translate }}", typing="{{ settings.typing }}", typing-delay="{{ settings.DELAY_START }}")
        .setting-item-change
        -->
        <li class="item click">
          <div data-output="{{ 'settings.CLIENT_SUPPORT' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-data"></div>
          <div class="setting-item-change"></div>
        </li>
        <li hm-tap="settingsPage.logOut()" class="item click">
          <div data-output="{{ 'settings.LOGOUT' | translate }}" typing="{{ settingsPage.config.typing }}" typing-delay="{{ settingsPage.config.DELAY_START }}" class="setting-item-data"></div>
          <div class="setting-item-change"></div>
        </li>
      </ul>
    </div>
  </div>
</section>