/* line 11, ../../../dev/sass/base/boilerplate.scss */
html {
  font-size: 1em;
  line-height: 1.5;
}

/* line 19, ../../../dev/sass/base/boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 24, ../../../dev/sass/base/boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 30, ../../../dev/sass/base/boilerplate.scss */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* line 41, ../../../dev/sass/base/boilerplate.scss */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/* line 50, ../../../dev/sass/base/boilerplate.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 57, ../../../dev/sass/base/boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 66, ../../../dev/sass/base/boilerplate.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 72, ../../../dev/sass/base/boilerplate.scss */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/* line 84, ../../../dev/sass/base/boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/* line 97, ../../../dev/sass/base/boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* line 110, ../../../dev/sass/base/boilerplate.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}

/* line 116, ../../../dev/sass/base/boilerplate.scss */
.clearfix:after {
  clear: both;
}
