@mixin behavior-move($nameMove, $fromX, $fromY, $toX, $toY) {
  @include keyframes($nameMove) {
    from {
      transform: translate($fromX, $fromY);
    }
    to {
      transform: translate($toX, $toY);
    } 
  }
}

@mixin behavior-louvers-move($nameMove, $fromX, $fromY, $middleX, $middleY, $toX, $toY) {
  @include keyframes($nameMove) {
    from {
      transform: translate($fromX, $fromY);
    }
    50% {
      transform: translate($middleX, $middleY);
    }
    to {
      transform: translate($toX, $toY);
    }
  }
}

// Rotate
@mixin behavior-rotate($nameMove, $fromDeg, $toDeg) {
  @include keyframes($nameMove) {
    from {
      transform: rotate($fromDeg);
    }
    to {
      transform: rotate($toDeg);
    }
  }
}

// Splash
@mixin behavior-splash($nameMove, $fromSize, $middleSize, $toSize) {
  @include keyframes($nameMove) {
    from {
      transform: scale($fromSize);
    }
    50% {
      transform: scale($middleSize);
    }
    to {
      transform: scale($toSize);
    }
  }
}

@mixin behavior-flashing($nameMove) {
  @include keyframes($nameMove) {
    0%, 20%, 40%, 60%, 80%, 100% {
      opacity: 1;
    }
    10%, 30%, 50%, 70%, 90% {
      opacity: 0;
    }
  }
}

@mixin behavior-firstLight($nameMove) {
  @include keyframes($nameMove) {
    0%, 20%, 40%, 60%, 80%, 100% {
      opacity: 1;
    }
    10%, 30%, 50%, 70%, 90% {
      opacity: .5;
    }
  }
}
@mixin behavior-secondLight($nameMove) {
  @include keyframes($nameMove) {
    0%, 20%, 40%, 60%, 80%, 100% {
      opacity: .4;
    }
    10%, 30%, 50%, 70%, 90% {
      opacity: 1;
    }
  }
}
@mixin behavior-thirdLight($nameMove) {
  @include keyframes($nameMove) {
    0%, 20%, 40%, 60%, 80%, 100% {
      opacity: 1;
    }
    10%, 30%, 50%, 70%, 90% {
      opacity: .7;
    }
  }
}

@mixin behavior-elements($nameMove) {
  @include keyframes($nameMove) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin behavior-jump($nameMove, $fromX, $fromY, $toX, $toY) {
  @include keyframes($nameMove) {
    from {
      transform: translate($fromX, $fromY);
    }
    5% {
      transform: translate($toX, $toY);
    }
    10% {
      transform: translate($fromX, $fromY);
    }
    to {
      transform: translate($fromX, $fromY);
    }
  }
}


.splash {
  @include animation(splashing .5s ease 0s 1);
}
@include behavior-splash(splashing, 0, 1.3, 1);

.flashing {
  @include animation(flashing 1.5s ease 0s 1);
}
@include behavior-flashing(flashing);

.firstLight {
  @include animation(firstLight 10s ease 0s infinite);
}
@include behavior-firstLight(firstLight);

.secondLight {
  @include animation(secondLight 12s ease 0s infinite);
}
@include behavior-secondLight(secondLight);

.thirdLight {
  @include animation(thirdLight 9s ease 0s infinite);
}
@include behavior-thirdLight(thirdLight);

.elements {
  @include animation(elements 3s ease 0s 1);
}
@include behavior-elements(elements);

.jumping {
  @include animation(jump-hor 2s ease-in 0s infinite);
}
@include behavior-jump(jump-hor, 0, 0, -2.5rem, 0);




// Additional elements panel
//------Grid
.move-grid {
  @include animation(move-grid 1s ease 0s 1);
}
@include behavior-move(move-grid, rem(1000px), rem(-2000px), 0, 0);
//------Grating
.move-grating {
  @include animation(move-grating 1s ease 0s 1);
}
@include behavior-move(move-grating, rem(-1000px), rem(2000px), 0, 0);
//------Shutters
.move-shutters {
  @include animation(move-shutters 1s ease 0s 1);
}
@include behavior-move(move-shutters, rem(1000px), rem(-2000px), 0, 0);
//------Shut
.move-shut {
  @include animation(move-shut 1s ease 0s 1);
}
@include behavior-move(move-shut, rem(1000px), rem(-2000px), 0, 0);
//------Blind
.move-blind {
  @include animation(move-blind 1s ease 0s 1);
}
@include behavior-move(move-blind, rem(-1000px), rem(-2000px), 0, 0);
//------Visor
.move-visor {
  @include animation(move-visor 1s ease 0s 1);
}
@include behavior-move(move-visor, rem(1000px), rem(-2000px), 0, 0);
//------Spillway
.move-spillway {
  @include animation(move-spillway 1s ease 0s 1);
}
@include behavior-move(move-spillway, rem(2000px), rem(-2000px), 0, 0);
//-------Outside
.move-outside {
  @include animation(move-outside 1s ease 0s 1);
}
@include behavior-move(move-outside, 0, rem(-2000px), 0, 0);
//-----Windowsill
.move-windowsill {
  @include animation(move-windowsill 2s ease 0s 1);
}
@include behavior-move(move-windowsill, rem(-1000px), rem(2000px), 0, 0);

//-----Louvers
.move-louvers {
  @include animation(move-louvers 2s ease 0s 1);
}
@include behavior-move(move-louvers, 0, rem(-2000px), 0, 0);

.move-louver-midle-1 {
  @include animation(move-louver-1 2s ease 2s 1);
}
@include behavior-louvers-move(move-louver-1, 0, 0, 0, rem(-30px), 0, 0);

.move-louver-midle-2 {
  @include animation(move-louver-2 2s ease 2s 1);
}
@include behavior-louvers-move(move-louver-2, 0, 0, 0, rem(-60px), 0, 0);

.move-louver-midle-3 {
  @include animation(move-louver-3 2s ease 2s 1);
}
@include behavior-louvers-move(move-louver-3, 0, 0, 0, rem(-90px), 0, 0);

.move-louver-bottom {
  @include animation(move-louver-bottom 2s ease 2s 1);
}
@include behavior-louvers-move(move-louver-bottom, 0, 0, 0, rem(-120px), 0, 0);

//-----Inside-slope
.move-inside-top {
  @include animation(move-slope-top 1s ease 0s 1);
}
@include behavior-move(move-slope-top, 0, rem(-2000px), 0, 0);

.move-inside-right {
  @include animation(move-slope-right 1s ease 0s 1);
}
@include behavior-move(move-slope-right, rem(2000px), rem(2000px), 0, 0);

.move-inside-left {
  @include animation(move-slope-left 1s ease 0s 1);
}
@include behavior-move(move-slope-left, rem(-1000px), 0, 0, 0);

//------Fun
.move-fan {
  @include animation(move-fan 2s ease 1, rot-fan 1s ease 2s 1);
}
@include behavior-move(move-fan, 0, rem(2000px), 0, 0);
@include behavior-rotate(rot-fan, 0deg, 360deg);

//-----Handle
.move-handle {
  @include animation(move-handle 1s ease 0s 1);
}
@include behavior-move(move-handle, rem(-1000px), rem(2000px), 0, 0);

//----View Tab
.move-view-tab {
  @include animation(move-tab 1s ease 0s 1);
}
@include behavior-move(move-tab, rem(-200px), rem(700px), rem(-126px), rem(700px));