// Warning
$error_color: #f74f2e;

// Main colors (Big Buttons, Nav-Menu)
$main_orange: #f98000;
$main_green: #6ed44a;
$main_yellow: #ffe036;
$main_gray_txt: #363636;
$main_gray_btn: #bebebe;
$main_blue: #00219e;
$main_red: #cc0000;
$main_gray_light: #cccccc;
$main_gray_dark: #333;

// Auxiliaries colors
$aux_big_color: #4bd963;
$aux_middle_color: #5755d5;
$aux_connect_color: #0079ff;
$aux_small_color: #34aadc;
$main_f7 : #d0d0d0;
$main_f3 : #f3f3f3;
