// Warning
$error_color: #f74f2e;

// Main colors (Big Buttons, Nav-Menu)
$main_orange: #f98000;
$main_yellow: #ffe036;

// Auxiliaries colors
$aux_big_color: #4bd963;
$aux_slope_color: #6ed44a;
$aux_middle_color: #5755d5;
$aux_connect_color: #0079ff;
$aux_small_color: #34aadc;