@import 'compass/css3';
@import 'sizes';
@import 'fonts';
@import 'mixins';
@import 'colors';

* {
  @include box-sizing(border-box);
}

html,
body {
  overflow: hidden;
  width: $ipad-width;
  height: $ipad-height;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  @include display-flex();

  width: $page_container-width;
  height: 100%;
  &.swiped {
    width: $page_container-width-right_menu;
    .main-content {
      width: $main_content-width-right_menu;
    }
  }
  @include transition(transform 1s linear, width 1s linear);
}

.swiped {
  @include translateX(-$left_side-width);
}

.left-side {
  width: $left_side-width;
  height: 100%;
}

.right-side {
  @include display-flex();

  height: 100%;
}

.right-menu {
  width: $right_menu-width;
  height: 100%;
}

.main-content {
  position: relative;
  overflow: hidden;
  width: $main_content-width;
  height: 100%;
  @include transition(width 1s linear);
}

// Icons setting
.icon-setting {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Buttons

.button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.ghost-button {
  @extend .button;

  border-width: 1px;
  border-style: solid;
}

.big-button {
  @include roboto-lt(48px);
  @extend .button;

  border-radius: $radius_general-big_button;
}

.middle-button {
  @extend .button;
  @include roboto-rg(24px, 36px);

  border-radius: $radius_general-big_button;
}

.small-button {
  @include roboto-lt(36px);
  @extend .button;

  border-radius: $radius_general-small_button;
}

.orange-big-btn {
  @extend .big-button;

  height: 110px;
  color: #fff;
  background-color: $main_orange;
}

.menu-btn {
  @extend .button;
  @extend .icon-setting;
  @include font-general-icon(50px, 1);

  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background: transparent;
  &:before {
    color: $main_orange;
    content: $menu-icon;
  }
}

// shorten the text

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Room backgrounds

.right-side {
  &.child-room {
    background: image-url('rooms/child-bg.jpg') no-repeat;
    background-size: cover;
  }
}

// User avatar
.avatar {
  @include animation(splashing, .5s, 0, ease, 1);

  width: image-width($img_avatar);
  height: image-height($img_avatar);
  background: image-url($img_avatar) no-repeat;
}

// Configuration Panels

// TODO: Возможно, стоит выделить в отдельный файл

.config-panel {
  @include top_left_coord(0, 0);

  position: relative;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  //  display: none;
  height: 100%;
  background: rgba(#fff, .9);
}
.config-section {
  width: 98%;
  padding: 50px 0 50px 80px;
  border-bottom: 1px solid $main_gray_btn;
  &.selected {
    position: relative;
    &:before {
      @include top_left_coord(56, -27);
      @include font-general-icon(90px, 60px);

      position: absolute;
      color: $main_green;
      content: '\e612';
    }
  }
  .title {
    @include roboto-bd(48px);

    color: $main_gray_txt;
  }
  .type {
    @include roboto-md(36px, 56px);

    display: inline;
    padding: 5px 20px;
    color: #fff;
    border-radius: $radius_general-big_button;
    background-color: $main_green;
  }
  .coef-index {
    width: 19%;
    height: 25px;
    margin-right: 1%;
    &:first-child {
      border-top-left-radius: $radius_coef-index;
      border-bottom-left-radius: $radius_coef-index;
      background-color: #55d995;
    }
    &:nth-child(2) {
      background-color: #5bd883;
    }
    &:nth-child(3) {
      background-color: #61d771;
    }
    &:nth-child(4) {
      background-color: #68d55c;
    }
    &:last-child {
      border-top-right-radius: $radius_coef-index;
      border-bottom-right-radius: $radius_coef-index;
      background-color: $main_green;
    }
  }
  .box {
    @include animation(splashing, .5s, 0, ease, 1);

    position: relative;
    display: none;
    float: left;
    padding: 45px;
    border-radius: $radius_profile-box;
    background-color: #fff;
    cursor: pointer;
    &.selected {
      position: relative;
      background-color: $main_green;
      .type {
        background-color: #57b23c;
      }
      &:after {
        @include font-general-icon(50px, 1);

        position: absolute;
        color: #fff;
        content: '\e61e';
      }
      .label {
        color: $main_gray_txt;
      }
      .coef-index {
        &:first-child {
          background-color: #3db26a;
        }
        &:nth-child(2) {
          background-color: #42b260;
        }
        &:nth-child(3) {
          background-color: #4ab253;
        }
        &:nth-child(4) {
          background-color: #51b247;
        }
        &:last-child {
          background-color: #57b23c;
        }
      }
    }
  }
  .coef-level {
    @include display-flex();

    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    &.coef-level-1 {
      .coef-index {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          display: none;
        }
        &:first-child {
          border-top-right-radius: $radius_coef-index;
          border-bottom-right-radius: $radius_coef-index;
        }
      }
    }
    &.coef-level-2 {
      .coef-index {
        &:nth-child(3),
        &:nth-child(4),
        &:last-child {
          display: none;
        }
        &:nth-child(2) {
          border-top-right-radius: $radius_coef-index;
          border-bottom-right-radius: $radius_coef-index;
        }
      }
    }
    &.coef-level-3 {
      .coef-index {
        &:nth-child(4),
        &:last-child {
          display: none;
        }
        &:nth-child(3) {
          border-top-right-radius: $radius_coef-index;
          border-bottom-right-radius: $radius_coef-index;
        }
      }
    }
    &.coef-level-4 {
      .coef-index {
        &:nth-child(4) {
          border-top-right-radius: $radius_coef-index;
          border-bottom-right-radius: $radius_coef-index;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}