@import 'compass/css3';
@import 'sizes';
@import 'fonts';
@import 'mixins';
@import 'colors';

* {
  @include box-sizing(border-box);
}

html,
body {
  overflow: hidden;
  width: $ipad-width;
  height: $ipad-height;
}

body {
  margin: 0;
  padding: 0;
}

.page-container {
  @include display-flex();

  width: $page_container-width;
  height: 100%;
  &.swiped {
    width: $page_container-width-right_menu;
    .main-content {
      width: $main_content-width-right_menu;
    }
  }
}

.swiped {
  @include translateX(-$left_side-width);
}

.left-side {
  width: $left_side-width;
  height: 100%;
}

.right-side {
  @include display-flex();

  height: 100%;
}

.right-menu {
  width: $right_menu-width;
  height: 100%;
}

.main-content {
  position: relative;
  overflow: hidden;
  width: $main_content-width;
  height: 100%;
}

// Buttons

.button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.ghost-button {
  @extend .button;

  border-width: 1px;
  border-style: solid;
}

.big-button {
  @include roboto-lt(48px);
  @extend .button;

  border-radius: $radius_general-big_button;
}

.middle-button {
  @extend .button;
  @include roboto-rg(24px, 36px);

  border-radius: $radius_general-big_button;
}

.small-button {
  @include roboto-lt(36px);
  @extend .button;

  border-radius: $radius_general-small_button;
}

.orange-big-btn {
  @extend .big-button;

  height: 110px;
  color: #fff;
  background-color: $main_orange;
}

// shorten the text

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Room backgrounds

.right-side {
  &.child-room {
    background: image-url('rooms/child-bg.jpg') no-repeat;
    background-size: cover;
  }
}

// Icons setting
.icon-setting {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Configuration Panels
.config-panel {
  @include top_left_coord(0, 0);

  position: relative;
  z-index: 10;
  //  display: none;
  height: 100%;
  background: rgba(255, 255, 255, .9);
}