// General Icons
$logo-icon: '\e628';
$arrow-icon: '\e609';
$arrow-right-icon: '\e607';
$config_menu-arrow-icon: '\e613';
$menu-icon: '\e60e';
$geolocation_filled-icon: '\e600';
$close-icon: '\e60b';
$check-panel-icon: '\e61e';
$triangle-panel-icon: '\e612';
$triangle-up-icon: '\e611';
$triangle-down-icon: '\e610';
$info-panel-icon: '\e60d';
$info-i-icon: '\e60c';
$add-icon: '\e627';
$delete-icon: '\e626';
$cross-icon: '\e61f';
$cross-big-icon: '\e631';
$calc-clean-icon: '\e629';
$calc-more-icon: '\e614';
$search-icon: '\e62d';
$calendar-icon: '\e62f';
$printer-icon: '\e62b';
$select-history-icon: '\e62c';
$copy-doc-icon: '\e62e';
$voice-icon: '\f130';
// Construction Menu
$sash-shape-icon: '\e639';
$angel-shape-icon: '\e63d';
$impost-shape-icon: '\e63a';
$arch-shape-icon: '\e63b';
$position-shape-icon: '\e63c';
// Construction Edit Menu
$sash-empty-icon: '\e634';
$sash-left-icon: '\e641';
$sash-right-icon: '\e640';
$sash-up-icon: '\e642';
$sash-down-icon: '\e643';
$sash-right-up-icon: '\e63e';
$sash-left-up-icon: '\e63f';
$impost-vert-icon: '\e644';
$impost-hor-icon: '\e645';

// Door-Config Menu
$door-config-default-icon: '\e630';
$door-config-active-icon: '\e62a';

// Navigation Menu
$points-icon: '\e600';
$select_location-icon: '\e601';
$basket-icon: '\e602';
$calculations-icon: '\e603';
$clocks-icon: '\e604';
$geolocation-icon: '\e605';
$info-icon: '\e606';
$pin-icon: '\e607';
$settings-icon: '\e608';

// Avatar
$img_avatar: 'userPhoto.png';