* {
  @include box-sizing(border-box);
}

html,
body {
  overflow: hidden;
  width: rem($ipad-width);
  height: rem($ipad-height);
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
}

.page-container {
  @include display-flex();
  @include transition(transform .5s linear, width .5s linear);

  width: rem($page_container-width);
  height: 100%;
  &.swiped {
    width: rem($page_container-width-right_menu);
    .main-content {
      width: rem($main_content-width-right_menu);
    }
  }
}

.swiped {
  @include translateX(rem(-$left_side-width));
}

.left-side {
  width: rem($left_side-width);
  height: 100%;
}

.right-side {
  @include display-flex();

  height: 100%;
}

.right-menu {
  position: relative;
  width: rem($right_menu-width);
  height: 100%;
}

.main-content {
  @include transition(width .5s linear);

  position: relative;
  overflow: hidden;
  width: $main_content-width;
  height: 100%;
  z-index: 0;
}


.unvisible {
  display: none !important;
}

// Icons setting
.icon-setting {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Buttons

.button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.ghost-button {
  @extend .button;

  border-width: 1px;
  border-style: solid;
}

.big-button {
  @include roboto-lt(rem(48px));
  @extend .button;

  border-radius: rem($radius_general-big_button);
}

.middle-button {
  @extend .button;
  @include roboto-rg(rem(24px), rem(36px));

  border-radius: rem($radius_general-big_button);
}

.small-button {
  @include roboto-lt(rem(36px));
  @extend .button;

  border-radius: rem($radius_general-small_button);
}

.orange-big-btn {
  @extend .big-button;

  height: rem(110px);
  color: #fff;
  background-color: $main_orange;
}

.menu-btn {
  @extend .button;
  @extend .icon-setting;
  @include font-general-icon(rem(50px), 1);

  width: rem(60px);
  height: rem(60px);
  margin: 0;
  padding: 0;
  background: transparent;
  &:before {
    color: $main_orange;
    content: $menu-icon;
  }
}

// shorten the text

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Room backgrounds

.right-side {
  &.child-room {
    background: image-url('rooms/child-bg.jpg') no-repeat;
    background-size: cover;
  }
}

// User avatar
.avatar {
  @extend .splash;

  width: image-width($img_avatar);
  height: image-height($img_avatar);
  background: image-url($img_avatar) no-repeat;
}


// Modal dialog
.modal-dialog {
  @include top_left_coord(300px, -2000px);
  @include transition(all 0.3s linear);

  //display: none;
  position: absolute;
  width: rem(1350px);
  padding: rem(80px) rem(60px);
  border-radius: rem($radius_rooms-dialog);
  background-color: rgba(#fff, .85);

  &.active {
    @include top_left_coord(300px, 80px);
  }
}


.cross-btn {
  @extend .button;
  @extend .icon-setting;

  border-radius: 50%;
  &:after {
    position: absolute;
    color: #fff;
    content: $cross-icon;
  }
}
.small-cross-btn {
  @extend .cross-btn;
  @include font-general-icon(rem(40px), 1);

  width: rem(50px);
  height: rem(50px);
  &:after {
    top: 8%;
    left: 10%;
  }
}

// Close button for dialog
.close-dialog {
  @extend .small-cross-btn;

  position: absolute;
  top: rem(30px);
  right: rem(30px);
  background-color: $main_orange;
}

// Delete element button
.aux-delete {
  @extend .small-cross-btn;
  @include top_left_coord(0px, 0px);

  position: relative;
  background-color: $main_gray_btn;
}

// View Switcher
.view-switch-tab {
  @extend .button;
  @include rotate(90deg);
  @include top_left_coord(700px, -126px);
  @include roboto-bd(rem(24px));

  position: absolute;
  width: rem(312px);
  height: rem(60px);
  background-color: #fff;
  border-color: $main_gray_btn;
  border-top-color: $main_orange;
  border-width: rem(5px) 1px 0 1px;
  border-style: solid;
  border-top-left-radius: rem($radius_frame-tab);
  border-top-right-radius: rem($radius_frame-tab);
  color: $main_gray_txt;
  z-index: 1;
}

.test {
  position: absolute;
  left: rem(50px);
  top: rem(50px);
  z-index: 999;
  padding: rem(20px);
  background-color: red;
  box-shadow: 0 0 rem(20px) rem(10px) rgba(0,0,0,0.3);

  input {
    height: rem(50px);
    width: rem(300px);
    font-size: rem(36px);
  }
}

// in Cart AddElements Detail Backview
.addelements-backview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, .4);
  z-index: 9;
}

//------- SVG ----------
.glass, .glass-active {
  fill: rgba(155, 204, 255, 0.20);
  cursor: pointer;
}
.glass-active:hover {
  fill: rgba(34, 34, 255, 0.69);
}
.frame, .sash, .impost {
  fill: #fff;
  stroke: $main_gray_txt;
  stroke-width: 2;
}
.frame-icon, .sash-icon, .impost-icon {
  fill: #ccc;
  stroke: #000;
  stroke-width: 4;
}

.main-line {
  fill: $main_gray_txt;
}
.size-line {
  fill: none;
  stroke: #D2D2D2;
  stroke-width: 1;
  //stroke-linejoin: "round";
  //stroke-miterlimit: "10";
  //stroke-linecap: "round";
}
.size-box {
  cursor: pointer;
}
.size-box-edited {
  cursor: pointer;
  .size-rect {
    fill: $main_green;
  }
  .size-value-edit {
    stroke: #fff;
    fill: #fff;
  }
}

.size-rect {
  stroke: $main_green;
  stroke-width: rem(3px);
  fill: #fff;
}
.size-value {
  font-size: rem(80px);
  stroke: #D2D2D2;
  stroke-width: 1px;
  text-anchor: middle;
}
.size-value-vertical {
  @extend .size-value;
  text-anchor: end;
  //writing-mode: tb;
  //glyph-orientation-vertical: 190;
  //@include rotate(180deg);
}
.size-value-edit {
  font-size: rem(80px);
  stroke: $main_green;
  fill: $main_green;
  stroke-width: 1px;
  text-anchor: middle;
}
.size-value-edit-vertical {
  @extend .size-value-edit;
  text-anchor: end;
}
.open-direction {
  fill: none;
  stroke: $main_orange;
  stroke-width: 2;
}