* {
  @include box-sizing(border-box);
}

html,
body {
  overflow: hidden;
  width: $ipad-width;
  height: $ipad-height;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100%;
}

.page-container {
  @include display-flex();
  @include transition(transform 1s linear, width 1s linear);

  width: $page_container-width;
  height: 100%;
  &.swiped {
    width: $page_container-width-right_menu;
    .main-content {
      width: $main_content-width-right_menu;
    }
  }
}

.swiped {
  @include translateX(-$left_side-width);
}

.left-side {
  width: $left_side-width;
  height: 100%;
}

.right-side {
  @include display-flex();

  height: 100%;
}

.right-menu {
  position: relative;
  width: $right_menu-width;
  height: 100%;
}

.main-content {
  @include transition(width 1s linear);

  position: relative;
  overflow: hidden;
  width: $main_content-width;
  height: 100%;
  z-index: 0;
}


.unvisible {
  display: none !important;
}

// Icons setting
.icon-setting {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Buttons

.button {
  border: 0;
  outline: none;
  cursor: pointer;
}

.ghost-button {
  @extend .button;

  border-width: 1px;
  border-style: solid;
}

.big-button {
  @include roboto-lt(48px);
  @extend .button;

  border-radius: $radius_general-big_button;
}

.middle-button {
  @extend .button;
  @include roboto-rg(24px, 36px);

  border-radius: $radius_general-big_button;
}

.small-button {
  @include roboto-lt(36px);
  @extend .button;

  border-radius: $radius_general-small_button;
}

.orange-big-btn {
  @extend .big-button;

  height: 110px;
  color: #fff;
  background-color: $main_orange;
}

.menu-btn {
  @extend .button;
  @extend .icon-setting;
  @include font-general-icon(50px, 1);

  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background: transparent;
  &:before {
    color: $main_orange;
    content: $menu-icon;
  }
}

// shorten the text

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Room backgrounds

.right-side {
  &.child-room {
    background: image-url('rooms/child-bg.jpg') no-repeat;
    background-size: cover;
  }
}

// User avatar
.avatar {
  @extend .splash;

  width: image-width($img_avatar);
  height: image-height($img_avatar);
  background: image-url($img_avatar) no-repeat;
}


// Modal dialog
.modal-dialog {
  @include top_left_coord(300, -2000);
  @include transition(all 0.3s linear);

  display: none;
  position: absolute;
  width: 1350px;
  padding: 80px 60px;
  border-radius: $radius_rooms-dialog;
  background-color: rgba(#fff, .85);

  &.active {
    @include top_left_coord(300, 80);
  }
}


.cross-btn {
  @extend .button;
  @extend .icon-setting;

  border-radius: 50%;
  &:after {
    position: absolute;
    color: #fff;
    content: $cross-icon;
  }
}
.small-cross-btn {
  @extend .cross-btn;
  @include font-general-icon(40px, 1);

  width: 50px;
  height: 50px;
  &:after {
    top: 8%;
    left: 10%;
  }
}

// Close button for dialog
.close-dialog {
  @extend .small-cross-btn;

  position: absolute;
  top: 30px;
  right: 30px;
  background-color: $main_orange;
}

// Delete element button
.aux-delete {
  @extend .small-cross-btn;
  @include top_left_coord(0, 0);

  position: relative;
  background-color: $main_gray_btn;
}

// View Switcher
.view-switch-tab {
  @extend .button;
  @include rotate(90deg);
  @include top_left_coord(700, -126);
  @include roboto-bd(24px);

  position: absolute;
  width: 312px;
  height: 60px;
  background-color: #fff;
  border-color: $main_gray_btn;
  border-top-color: $main_orange;
  border-width: 5px 1px 0 1px;
  border-style: solid;
  border-top-left-radius: $radius_frame-tab;
  border-top-right-radius: $radius_frame-tab;
  color: $main_gray_txt;
  z-index: 1;
}

.test {
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 999;
  padding: 20px;
  background-color: red;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);

  input {
    height: 50px;
    width: 300px;
    font-size: 36px;
  }
}