* {
  @include box-sizing(border-box);
  -webkit-tap-highlight-color: rgba(#000, 0);
  //-webkit-tap-highlight-color: transparent; android
}

html,
body {
  @include user-select('none');
  overflow: hidden;
//  width: rem($ipad-width);
//  height: rem($ipad-height);
  width: 100%;
  height: 100%;
  font-size: 8px;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  width: rem($ipad-width);
  height: 96rem;
  margin: auto auto;
  overflow: hidden;
  border: 1px solid #000;
}

.page-container {
  @include display-flex();
  @include transition(transform .5s linear, width .5s linear);
  position: relative;
  top: 0;
  left: 0;
  width: rem($page_container-width);
  height: 100%;
  &.swiped {
    @include translateX(rem(-$left_side-width));
  }
}


.left-side {
  width: rem($left_side-width);
  height: 100%;
}

.right-side {
  @include display-flex();

  height: 100%;
}

.right-menu {
  position: relative;
  width: rem($right_menu-width);
  height: 100%;
}

.main-content {
  @include transition(width .5s linear);
  position: relative;
  overflow: hidden;
  width: rem($main_content-width);
  height: 100%;
  z-index: 0;
}


.unvisible {
  display: none !important;
}


// Icons setting
.icon-setting {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Buttons

.button {
  border: 0;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.ghost-button {
  @extend .button;

  border-width: 1px;
  border-style: solid;
}

.big-button {
  @include roboto-lt(rem(48px));
  @extend .button;

  border-radius: rem($radius_general-big_button);
}

.middle-button {
  @extend .button;
  @include roboto-rg(rem(24px), rem(36px));

  border-radius: rem($radius_general-big_button);
}

.small-button {
  @include roboto-lt(rem(36px));
  @extend .button;

  border-radius: rem($radius_general-small_button);
}

.orange-big-btn {
  @extend .big-button;

  height: rem(110px);
  color: #fff;
  background-color: $main_orange;
}

.menu-btn {
  @extend .button;
  @extend .icon-setting;
  @include font-icon(rem(50px), 1);

  width: rem(60px);
  height: rem(60px);
  margin: 0;
  padding: 0;
  background: transparent;
  &:before {
    //color: $main_orange;
    color: #fff;
    content: $menu-icon;
  }
}

// shorten the text

.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Room backgrounds

.right-side {
  &.main-page-bg {
    @include transition(all 1.3s linear);
    opacity: 0.2;
  }
  &.main-room-bg {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
  }
}


// User avatar
.avatar {
  @extend .splash;
  width: 8rem;
  height: 8rem;
}


// Modal dialog
.modal-dialog {
  @include top_left_coord(300px, -2000px);
  @include transition(all 0.3s linear);

  //display: none;
  position: absolute;
  width: rem(1350px);
  padding: rem(80px) rem(60px);
  border-radius: rem($radius_rooms-dialog);
  background-color: rgba(#fff, .85);

  &.active {
    left: 5rem;
  }
}


.cross-btn {
  @extend .button;
  @extend .icon-setting;

  border-radius: 50%;
  &:after {
    position: absolute;
    color: #fff;
    content: $cross-icon;
  }
}
.small-cross-btn {
  @extend .cross-btn;
  @include font-icon(rem(40px), 1);

  width: rem(50px);
  height: rem(50px);
  &:after {
    top: 8%;
    left: 10%;
  }
}

// Close button for dialog
.close-dialog {
  @extend .small-cross-btn;

  position: absolute;
  top: rem(30px);
  right: rem(30px);
  background-color: $main_orange;
}

// Delete element button
.aux-delete {
  @extend .small-cross-btn;
  @include top_left_coord(0px, 0px);

  position: relative;
  background-color: $main_gray_btn;
}

// View Switcher
.view-switch-tab {
  @extend .button;
  @include rotate(90deg);
  @include top_left_coord(700px, -126px);
  @include roboto-bd(rem(24px));

  position: absolute;
  width: rem(312px);
  height: rem(60px);
  background-color: #fff;
  border-color: $main_gray_btn;
  border-top-color: $main_orange;
  border-width: rem(5px) 1px 0 1px;
  border-style: solid;
  border-top-left-radius: rem($radius_frame-tab);
  border-top-right-radius: rem($radius_frame-tab);
  color: $main_gray_txt;
  z-index: 1;
}


// in Cart AddElements Detail and Comment Product Backview
.fullViewDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.backDarkView {
  @extend .fullViewDiv;
  background-color: rgba(black, .7);
  z-index: 9;
}
.backLightView {
  @extend .fullViewDiv;
  background-color: rgba(white, .8);
  z-index: 999;
}





//============ Alert confirn

.alert-overlay {
  @extend .backDarkView;
  opacity: 1.08;
  z-index: 10000;
}
.alert-block {
  @include roboto-lt(2.25rem);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40rem;
  margin-left: -20rem;
  margin-top: -20rem;
  padding: 3rem;
  border-radius: $radius_room-box_dialog;
  overflow: hidden;
  background-color: white;
  text-align: center;
  z-index: 99999;
}

.alert-sign {
  @include font-icon(10rem);
  @extend .icon-setting;
  @extend .splash;
  &:after {
    color: $error_color;
    content: $warning;
  }
}
.alert-title {
  @include roboto-bd(2rem);
}
.alert-descr {
  margin: 2rem 0;
}
.alert-btns {
  @include display-flex();
  @include justify-content(space-around);
  button {
    @extend .middle-button;
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    color: white;
  }
}
.alert-no {
  background-color: #858181;
}
.alert-yes {
  background-color: $main_orange;
}



//=========== Scrolling

.scrolling-container {
  @include overflow-scroll();
}
.scroll-vert {
  overflow-x: hidden;
  overflow-y: auto;
}
.scroll-hor {
  overflow-x: auto;
  overflow-y: hidden;
}
.scroll-vert-container {
  width: 105%;
  height: 90%;
  padding-top: 2rem;
  @extend .scroll-vert;
  @extend .scrolling-container;
}
.scroll-hor-container {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  @extend .scroll-hor;
  @extend .scrolling-container;
}



//============ AUDIO

#sounds {
  visibility: hidden;
}