.elements-list-container(ng-controller="addElementMenuCtrl as elementsMenu", ng-class="[elementsMenu.A.aux.showAddElementsMenu, elementsMenu.A.aux.addElementsMenuStyle]")
	.elements-menu
		header.menu-header
			.tip {{ ::elementsMenu.TIP }}
			button.close-elements-menu(fs-click="elementsMenu.closeAddElementsMenu()")

		.menu-lists
			ul.items-lister(ng-if="elementsMenu.G.global.currOpenPage === 'main'")
				li.item.empty-element(ng-class="{'active': elementsMenu.A.aux.isAddElement == false}", ng-click="elementsMenu.chooseAddElement()")
					.value {{ ::elementsMenu.EMPTY_ELEMENT }}

			ul.items-lister(ng-repeat="type in elementsMenu.A.aux.addElementsList track by $index", id="{{$index}}")
				.title(ng-click="elementsMenu.hideMenu($index)") {{ elementsMenu.A.aux.addElementsType[$index].name }}
					.open-list(id="{{$index + 'open'}}")
						img(ng-src='img/plus.png')
					.open-list2(id="{{$index + 'close'}}")
						img(ng-src='img/minus.png')
				li.item(ng-repeat="addElement in type track by $index")
					.value(fs-click="elementsMenu.selectAddElement($parent.$index, $index, $event)") {{ addElement.name }}
					button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description.length", fs-click="elementsMenu.showInfoBox(addElement.id, type)")

		footer.menu-footer
			.price-element(ng-show="elementsMenu.A.aux.isAddElement && elementsMenu.A.aux.currAddElementPrice")
				.price-value + {{ elementsMenu.A.aux.currAddElementPrice }} {{ elementsMenu.U.userInfo.currency }}


	//========== one element pannel in List View
	.list-items(ng-show="elementsMenu.A.aux.isAddElementListView && elementsMenu.A.aux.showAddElementsMenu && ((elementsMenu.G.global.currOpenPage === 'main' && elementsMenu.A.aux.isFocusedAddElement > 1) || elementsMenu.G.global.currOpenPage === 'cart')", ng-repeat="type in elementsMenu.A.aux.addElementsList track by $index")
		.list-item(ng-repeat="addElement in type track by $index")
			.aux-list-item(ng-class="{'selected': elementsMenu.A.aux.isAddElement == $parent.$index +'-'+ $index}", ng-style="elementsMenu.coordinats")
				.aux-list-row
					.aux-name
						.aux-title {{ addElement.name }}
						.aux-label {{ ::elementsMenu.NAME_LABEL }}
					.aux-params
						button.aux-params-but {{ addElement.element_qty }}
						.aux-label {{ ::elementsMenu.QTY_LABEL }}
					.aux-params(ng-show="addElement.element_width")
						button.aux-params-but {{ addElement.element_width }}
						.aux-label {{ ::elementsMenu.WIDTH_LABEL }}
					.aux-params(ng-show="addElement.element_height")
						button.aux-params-but {{ addElement.element_height }}
						.aux-label {{ ::elementsMenu.HEIGHT_LABEL }}
					.aux-price +{{ addElement.elementPriceDis }} {{ elementsMenu.U.userInfo.currency }}
					button.aux-choose-but(fs-click="elementsMenu.chooseAddElementList($parent.$index, $index)") {{ ::elementsMenu.ADD }}



	//======== Tabs
	.menu-right-tabs(ng-repeat="addElemTab in elementsMenu.P.product.chosenAddElements track by $index", ng-if="elementsMenu.G.global.currOpenPage === 'main' && elementsMenu.A.aux.isFocusedAddElement === ($index+1)")
		.tab-block.simple-frame
			button.frame-tab(ng-class="{'active': addElemTab.length == 1}") {{ ::elementsMenu.TAB_NAME_SIMPLE_FRAME }}
		.tab-block.hard-frame(ng-class="{'active': elementsMenu.A.aux.isTabFrame}")
			button.frame-tab(ng-class="{'active': elementsMenu.A.aux.showAddElementsMenu && addElemTab.length > 1}", fs-click="elementsMenu.showFrameTabs()") {{ ::elementsMenu.TAB_NAME_HARD_FRAME }}
			.tab-content-empty(ng-if="addElemTab.length === 0")
				.tab-empty {{ ::elementsMenu.TAB_EMPTY_EXPLAIN }}
			.tab-content(ng-if="addElemTab.length > 0")
				.tab-aux-row(ng-repeat="addElement in addElemTab track by $index")
					.aux-title(data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
					.aux-params(ng-class="{'selected': elementsMenu.A.aux.auxParameter === ($parent.$index+1)+'-1-'+$index && elementsMenu.A.aux.currentAddElementId === $index}")
						button.aux-params-but(fs-click="elementsMenu.initAddElementTools(($parent.$index+1), 1, $index)", ng-keyup="elementsMenu.pressCulculator($event)", ng-disabled="!elementsMenu.P.product.is_addelem_only && elementsMenu.A.aux.isFocusedAddElement === 1") {{ addElement.element_qty }}
						.aux-label {{ ::elementsMenu.QTY_LABEL }}
					.aux-params(ng-hide="$parent.$index==3 || $parent.$index==5 || $parent.$index==7 || $parent.$index==9 || $parent.$index==10", ng-class="{'selected': elementsMenu.A.aux.auxParameter === ($parent.$index+1)+'-2-'+$index && elementsMenu.A.aux.currentAddElementId === $index}")
						button.aux-params-but(fs-click="elementsMenu.initAddElementTools(($parent.$index+1), 2, $index)", ng-keyup="elementsMenu.pressCulculator($event)", ng-disabled="!elementsMenu.P.product.is_addelem_only && elementsMenu.A.aux.isFocusedAddElement === 1") {{ addElement.element_width }}
						.aux-label {{ ::elementsMenu.WIDTH_LABEL }}
					.aux-params(ng-show="!$parent.$index || $parent.$index==4", ng-class="{'selected': elementsMenu.A.aux.auxParameter === ($parent.$index+1)+'-3-'+$index && elementsMenu.A.aux.currentAddElementId === $index}")
						button.aux-params-but(fs-click="elementsMenu.initAddElementTools(($parent.$index+1), 3, $index)", ng-keyup="elementsMenu.pressCulculator($event)", ng-disabled="!elementsMenu.P.product.is_addelem_only && elementsMenu.A.aux.isFocusedAddElement === 1") {{ addElement.element_height }}
						.aux-label {{ ::elementsMenu.HEIGHT_LABEL }}
					.tab-aux-price(price-fixed="{{addElement.elementPriceDis}}", qty-element="{{addElement.element_qty}}", currency-element="{{elementsMenu.U.userInfo.currency}}")
					.aux-delete(fs-click="elementsMenu.deleteAddElement($parent.$index, $index)")
