.elements-list-container(ng-controller="addElementMenuCtrl as elementsMenu", ng-class="[elementsMenu.A.aux.showAddElementsMenu, elementsMenu.A.aux.addElementsMenuStyle]")
    .elements-menu
        header.menu-header
            .tip {{ ::elementsMenu.TIP }}
            button.close-elements-menu(fs-click="elementsMenu.closeAddElementsMenu()")

        .menu-lists
            ul.items-lister(ng-if="elementsMenu.G.global.currOpenPage === 'main'")
                li.item.empty-element(ng-class="{'active': elementsMenu.A.aux.isAddElement == false}", ng-click="elementsMenu.chooseAddElement()")
                    .value {{ ::elementsMenu.EMPTY_ELEMENT }}

            ul.items-lister(ng-repeat="type in elementsMenu.A.aux.addElementsList track by $index", id="{{$index}}", ng-class="{'one-elem': elementsMenu.A.aux.addElementsList.length<=1}")
                //-Conditions to display translations of additional elements 
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'en' && elementsMenu.A.aux.addElementsType[$index].translate.en") {{ elementsMenu.A.aux.addElementsType[$index].translate.en }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'ru' && elementsMenu.A.aux.addElementsType[$index].translate.ru") {{ elementsMenu.A.aux.addElementsType[$index].translate.ru }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'uk' && elementsMenu.A.aux.addElementsType[$index].translate.ua") {{ elementsMenu.A.aux.addElementsType[$index].translate.ua }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'pl' && elementsMenu.A.aux.addElementsType[$index].translate.pl") {{ elementsMenu.A.aux.addElementsType[$index].translate.pl }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'de' && elementsMenu.A.aux.addElementsType[$index].translate.de") {{ elementsMenu.A.aux.addElementsType[$index].translate.de }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'bg' && elementsMenu.A.aux.addElementsType[$index].translate.bg") {{ elementsMenu.A.aux.addElementsType[$index].translate.bg }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'it' && elementsMenu.A.aux.addElementsType[$index].translate.it") {{ elementsMenu.A.aux.addElementsType[$index].translate.it }}
                   button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'es' && elementsMenu.A.aux.addElementsType[$index].translate.es") {{ elementsMenu.A.aux.addElementsType[$index].translate.es }}
                   button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'ro' && elementsMenu.A.aux.addElementsType[$index].translate.ro") {{ elementsMenu.A.aux.addElementsType[$index].translate.ro }}
                   button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                    //-Conditions to display default value (data from DB) providing that translation of additional elements missing
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'en' && !elementsMenu.A.aux.addElementsType[$index].translate.en") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'ru' && !elementsMenu.A.aux.addElementsType[$index].translate.ru") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'uk' && !elementsMenu.A.aux.addElementsType[$index].translate.ua") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'pl' && !elementsMenu.A.aux.addElementsType[$index].translate.pl") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'de' && !elementsMenu.A.aux.addElementsType[$index].translate.de") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'bg' && !elementsMenu.A.aux.addElementsType[$index].translate.bg") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'it' && !elementsMenu.A.aux.addElementsType[$index].translate.it") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'es' && !elementsMenu.A.aux.addElementsType[$index].translate.es") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                .title(ng-click="elementsMenu.hideMenu($index)", ng-if="elementsMenu.U.userInfo.langLabel === 'ro' && !elementsMenu.A.aux.addElementsType[$index].translate.ro") {{ elementsMenu.A.aux.addElementsType[$index].name }}
                    button.element-info(ng-if="elementsMenu.A.aux.addElementsType[$index].img.length || elementsMenu.A.aux.addElementsType[$index].link.length || elementsMenu.A.aux.addElementsType[$index].description.length", fs-click="elementsMenu.showInfoBox(elementsMenu.A.aux.addElementsType[$index].id, elementsMenu.A.aux.addElementsType)")
                    .open-list(id="{{$index + 'open'}}")
                        img(ng-src='img/plus.png')
                    .open-list2(id="{{$index + 'close'}}")
                        img(ng-src='img/minus.png')
                li.item(ng-repeat="addElement in type track by $index")
                    //-Conditions to display translations of additional elements
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'en' && addElement.translate.en") {{ addElement.translate.en }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'ru' && addElement.translate.ru") {{ addElement.translate.ru }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'uk' && addElement.translate.ua") {{ addElement.translate.ua }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'pl' && addElement.translate.pl") {{ addElement.translate.pl }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'de' && addElement.translate.de") {{ addElement.translate.de }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'bg' && addElement.translate.bg") {{ addElement.translate.bg }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'it' && addElement.translate.it") {{ addElement.translate.it }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'es' && addElement.translate.es") {{ addElement.translate.es }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}", ng-show="elementsMenu.U.userInfo.langLabel === 'ro' && addElement.translate.ro") {{ addElement.translate.ro }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    //-Conditions to display default value (data from DB) providing that translation of additional elements missing
                    .value(ng-click="elementsMenu.selectAddElement($parent.$index, $index, $event)", id="{{$parent.$index+'prod'+$index}}") {{ addElement.name }}
                        button.element-info(ng-if="addElement.img.length || addElement.link.length || addElement.description", fs-click="elementsMenu.showInfoBox(addElement.id, type)")
                    
                



    //========== one element pannel in List View
    .list-items(ng-show="elementsMenu.A.aux.isAddElementListView && elementsMenu.A.aux.showAddElementsMenu && ((elementsMenu.G.global.currOpenPage === 'main' && elementsMenu.A.aux.isFocusedAddElement > 1) || elementsMenu.G.global.currOpenPage === 'cart')", ng-repeat="type in elementsMenu.A.aux.addElementsList track by $index")
        .list-item(ng-repeat="addElement in type track by $index")
            .aux-list-item(ng-class="{'selected': elementsMenu.A.aux.isAddElement == $parent.$index +'-'+ $index}", ng-style="elementsMenu.A.aux.coordinats")
                .aux-list-row
                    .aux-name
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'en'") {{ addElement.translate.en }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ru'") {{ addElement.translate.ru }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'uk'") {{ addElement.translate.ua }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'pl'") {{ addElement.translate.pl }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'de'") {{ addElement.translate.de }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'bg'") {{ addElement.translate.bg }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'it'") {{ addElement.translate.it }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'es'") {{ addElement.translate.es }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ro'") {{ addElement.translate.ro }}

                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'en' && !addElement.translate.en") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ru' && !addElement.translate.ru") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'uk' && !addElement.translate.ua") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'pl' && !addElement.translate.pl") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'de' && !addElement.translate.de") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'bg' && !addElement.translate.bg") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'it' && !addElement.translate.it") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'es' && !addElement.translate.es") {{ addElement.name }}
                        .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ro' && !addElement.translate.ro") {{ addElement.name }}
                        .aux-label {{ ::elementsMenu.NAME_LABEL }}
                    .aux-params
                        button.aux-params-but {{ addElement.element_qty }}
                        .aux-label {{ ::elementsMenu.QTY_LABEL }}
                    .aux-params(ng-show="addElement.element_width")
                        button.aux-params-but {{ addElement.element_width }}
                        .aux-label {{ ::elementsMenu.WIDTH_LABEL }}
                    .aux-params(ng-show="addElement.element_height")
                        button.aux-params-but {{ addElement.element_height }}
                        .aux-label {{ ::elementsMenu.HEIGHT_LABEL }}
                    .aux-price +{{ addElement.elementPriceDis }} {{ elementsMenu.U.userInfo.currency }}
                    button.aux-choose-but(fs-click="elementsMenu.chooseAddElementList($parent.$index, $index)") {{ ::elementsMenu.ADD }}

    //======== Tabs
    //.menu-right-tabs(ng-repeat="addElemTab in elementsMenu.P.product.chosenAddElements track by $index", ng-if="elementsMenu.G.global.currOpenPage === 'main' && elementsMenu.A.aux.isFocusedAddElement === ($index+1)")
    .menu-right-tabs(ng-repeat="addElemTab in elementsMenu.P.product.chosenAddElements track by $index", ng-if="elementsMenu.A.aux.isFocusedAddElement === ($index+1)")
        .tab-block.simple-frame
            button.frame-tab(ng-class="{'active': addElemTab.length == 1}") {{ ::elementsMenu.TAB_NAME_SIMPLE_FRAME }}
        .tab-block.hard-frame(ng-class="{'active': elementsMenu.A.aux.isTabFrame}")
            button.frame-tab(ng-class="{'active': elementsMenu.A.aux.showAddElementsMenu && addElemTab.length > 1}", fs-click="elementsMenu.showFrameTabs()") {{ ::elementsMenu.TAB_NAME_HARD_FRAME }}
            .tab-content-empty(ng-if="addElemTab.length === 0")
                .tab-empty {{ ::elementsMenu.TAB_EMPTY_EXPLAIN }}
            .tab-content(ng-if="addElemTab.length > 0")
                .tab-aux-row(ng-repeat="addElement in addElemTab track by $index")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'en' && addElement.translate.en", data-output="{{ addElement.translate.en }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ru' && addElement.translate.ru", data-output="{{ addElement.translate.ru }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'uk' && addElement.translate.ua", data-output="{{ addElement.translate.ua }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'pl' && addElement.translate.pl", data-output="{{ addElement.translate.pl }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'de' && addElement.translate.de", data-output="{{ addElement.translate.de }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'bg' && addElement.translate.bg", data-output="{{ addElement.translate.bg }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'it' && addElement.translate.it", data-output="{{ addElement.translate.it }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'es' && addElement.translate.es", data-output="{{ addElement.translate.es }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ro' && addElement.translate.ro", data-output="{{ addElement.translate.ro }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")

                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'en' && !addElement.translate.en", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ru' && !addElement.translate.ru", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'uk' && !addElement.translate.ua", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'pl' && !addElement.translate.pl", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'de' && !addElement.translate.de", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'bg' && !addElement.translate.bg", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'it' && !addElement.translate.it", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'es' && !addElement.translate.es", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-title(ng-if="elementsMenu.U.userInfo.langLabel === 'ro' && !addElement.translate.ro", data-output="{{ addElement.name }}", typing="{{ elementsMenu.config.typing }}", typing-delay="{{ elementsMenu.config.DELAY_START }}")
                    .aux-params(ng-class="{'selected': elementsMenu.A.aux.auxParameter === ($parent.$index+1)+'-1-'+$index && elementsMenu.A.aux.currentAddElementId === $index}")
                        button.aux-params-but(fs-click="elementsMenu.initAddElementTools(($parent.$index+1), 1, $index)", ng-keyup="elementsMenu.pressCulculator($event)", ng-disabled="!elementsMenu.P.product.is_addelem_only && elementsMenu.A.aux.isFocusedAddElement === 1") {{ addElement.element_qty }}
                        .aux-label {{ ::elementsMenu.QTY_LABEL }}
                    .aux-params(ng-hide="$parent.$index==3 || $parent.$index==5 || $parent.$index==7 || $parent.$index==9 || $parent.$index==10", ng-class="{'selected': elementsMenu.A.aux.auxParameter === ($parent.$index+1)+'-2-'+$index && elementsMenu.A.aux.currentAddElementId === $index}")
                        button.aux-params-but(fs-click="elementsMenu.initAddElementTools(($parent.$index+1), 2, $index)", ng-keyup="elementsMenu.pressCulculator($event)", ng-disabled="!elementsMenu.P.product.is_addelem_only && elementsMenu.A.aux.isFocusedAddElement === 1") {{ addElement.element_width }}
                        .aux-label {{ ::elementsMenu.WIDTH_LABEL }}
                    .aux-params(ng-show="!$parent.$index || $parent.$index==4", ng-class="{'selected': elementsMenu.A.aux.auxParameter === ($parent.$index+1)+'-3-'+$index && elementsMenu.A.aux.currentAddElementId === $index}")
                        button.aux-params-but(fs-click="elementsMenu.initAddElementTools(($parent.$index+1), 3, $index)", ng-keyup="elementsMenu.pressCulculator($event)", ng-disabled="!elementsMenu.P.product.is_addelem_only && elementsMenu.A.aux.isFocusedAddElement === 1") {{ addElement.element_height }}
                        .aux-label {{ ::elementsMenu.HEIGHT_LABEL }}
                    .tab-aux-price(ng-if="elementsMenu.U.userInfo.currencies === '$'" price-fixed="{{addElement.elementPriceDis / elementsMenu.G.global.currencies[0].value | number: 1.2}}", qty-element="{{addElement.element_qty}}", currency-element="{{elementsMenu.U.userInfo.currencies}}")
                    .tab-aux-price(ng-if="elementsMenu.U.userInfo.currencies === '€'" price-fixed="{{addElement.elementPriceDis / elementsMenu.G.global.currencies[2].value | number: 1.2}}", qty-element="{{addElement.element_qty}}", currency-element="{{elementsMenu.U.userInfo.currencies}}")
                    .tab-aux-price(ng-if="elementsMenu.U.userInfo.currencies === '₴'" price-fixed="{{addElement.elementPriceDis}}", qty-element="{{addElement.element_qty}}", currency-element="{{elementsMenu.U.userInfo.currencies}}")
                    .aux-delete(fs-click="elementsMenu.deleteAddElement($parent.$index, $index)")