.right-menu-controller(ng-controller="CartMenuCtrl as cartMenu")
  .cart-menu
    ul.items-list
      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 1}", hm-tap="cartMenu.selectMenuItem(1)")
        .title(data-output="{{ 'cart.DELIVERY' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-show="cartMenu.order.selectedFloor == 'free'", data-output="{{ 'cart.SELF_EXPORT' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-hide="cartMenu.order.selectedFloor == 'free'", data-output="{{ cartMenu.order.selectedFloor }} {{ 'cart.FLOOR' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          span.name.aside(ng-hide="cartMenu.order.selectedFloor == 'free'", data-output=" + {{ cartMenu.order.selectedFloorPrice }} {{ cartMenu.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenu.config.activeMenuItem == 1}")
        ul.dropdown-items-list
          li.dropdown-item(ng-class="{'selected': cartMenu.order.selectedFloor == 'free'}", hm-tap="cartMenu.selectFloorPrice('free', 0)")
            .dropdown-item-inner
              .value.drop-txt {{ 'cart.SELF_EXPORT' | translate }}
              .name.drop-txt
          li.dropdown-item(ng-repeat="floorList in cartMenu.config.floorData", ng-class="{'selected': cartMenu.order.selectedFloor == floorList.name}", hm-tap="cartMenu.selectFloorPrice(floorList.name, floorList.price)")
            .dropdown-item-inner
              .value.drop-txt {{floorList.name}} {{ 'cart.FLOOR' | translate }}
              .name.drop-txt + {{floorList.price}} {{ cartMenu.userInfo.currency }}

      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 2}", hm-tap="cartMenu.selectMenuItem(2)")
        .title(data-output="{{ 'cart.ASSEMBLING' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-show="cartMenu.order.selectedAssembling == 'free'", data-output="{{ 'cart.WITHOUT_ASSEMBLING' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-hide="cartMenu.order.selectedAssembling == 'free'", data-output="{{ cartMenu.order.selectedAssembling }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          span.name.aside(ng-hide="cartMenu.order.selectedAssembling == 'free'", data-output=" + {{ cartMenu.order.selectedAssemblingPrice }} {{ cartMenu.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenu.config.activeMenuItem == 2}")
        ul.dropdown-items-list
          li.dropdown-item(ng-class="{'selected': cartMenu.order.selectedAssembling == 'free'}", hm-tap="cartMenu.selectAssembling('free', 0)")
            .dropdown-item-inner
              .value.drop-txt {{ 'cart.WITHOUT_ASSEMBLING' | translate }}
              .name.drop-txt {{ 'cart.FREE' | translate }}
          li.dropdown-item(ng-repeat="assemb in cartMenu.config.assemblingData", ng-class="{'selected': cartMenu.order.selectedAssembling == assemb.name}", hm-tap="cartMenu.selectAssembling(assemb.name, assemb.price)")
            .dropdown-item-inner
              .value.drop-txt {{ assemb.name }}
              .name.drop-txt + {{ assemb.price }} {{ cartMenu.userInfo.currency }}


      li.item.switcher(ng-class="{'active': cartMenu.config.activeMenuItem == 3}", hm-tap="cartMenu.selectMenuItem(3)")
        .title(data-output="{{ 'cart.PAYMENT_BY_INSTALMENTS' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-if="!cartMenu.order.isInstalment", data-output="{{ 'cart.WITHOUT_INSTALMENTS' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-if="cartMenu.order.isInstalment") {{ cartMenu.order.selectedInstalmentPeriod }}
            ng-pluralize(count="cartMenu.order.selectedInstalmentPeriod",
            when="{'1': '{{ cartMenu.config.month }}', '2': '{{ cartMenu.config.montha }}', '3': '{{ cartMenu.config.montha }}', '4': '{{ cartMenu.config.montha }}', 'other': '{{ cartMenu.config.months }}'}")
          span.name.aside(ng-if="cartMenu.order.isInstalment", data-output="{{ cartMenu.order.selectedInstalmentPercent }} %", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .check-switcher(ng-class="{'active': cartMenu.order.isInstalment }", hm-tap="cartMenu.closeInstalment()")
          .check-bg-active
          .check-bg-passive
        .check-handle(ng-class="{'active': cartMenu.order.isInstalment }", hm-tap="cartMenu.closeInstalment()")
      .dropdown-cart-menu.drop-instalment(ng-class="{'active': cartMenu.config.activeMenuItem == 3}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="payment in cartMenu.config.instalmentsData", ng-class="{'selected': cartMenu.order.selectedInstalmentPeriod == payment.period}", hm-tap="cartMenu.selectInstalment(payment.period, payment.percent)")
            .dropdown-item-inner
              .value {{ payment.period }}
                ng-pluralize(count="payment.period",
                when="{'1': '{{ cartMenu.config.month }}', '2': '{{ cartMenu.config.montha }}', '3': '{{ cartMenu.config.montha }}', '4': '{{ cartMenu.config.montha }}', 'other': '{{ cartMenu.config.months }}'}")
              .value.value-percent {{ payment.percent }} %


      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 4}", hm-tap="cartMenu.selectMenuItem(4)")
        .title(data-output="{{ 'cart.DELIVERY_DATE' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .value(data-output="{{ cartMenu.order.newDeliveryDate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenu.config.activeMenuItem == 4}")
        calendar.calendar-box(calendar-option=" {{ 'common_words.MONTHS' | translate }} ", calendar-option-short="{{ 'common_words.MONTHS_SHOT' | translate }} ")
      .calendar-prices
        .calendar-price.up(ng-show="cartMenu.order.isDatePriceMore") + {{ cartMenu.order.deliveryPrice }} {{ cartMenu.userInfo.currency }}
        .calendar-price.down(ng-show="cartMenu.order.isDatePriceLess") - {{ cartMenu.order.deliveryPrice }} {{ cartMenu.userInfo.currency }}


    footer.menu-footer
      .price-block.price-with-instalments(ng-class="{'active': cartMenu.order.isInstalment}")
        .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ cartMenu.order.selectedInstalmentPercent }} %
        .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{ cartMenu.order.newDeliveryDate }}
        price(price-value="cartMenu.order.paymentFirst", price-currency="cartMenu.userInfo.currency")
        .name {{ cartMenu.order.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }}
        price(price-value="cartMenu.order.paymentMonthly", price-currency="cartMenu.userInfo.currency")
      .price-block.price-without-instalments(ng-class="{'active': !cartMenu.order.isInstalment}")
        .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{ cartMenu.order.newDeliveryDate }}
        price(price-value="cartMenu.order.orderPriceTOTAL", price-currency="cartMenu.userInfo.currency")
      button.order-btn(hm-tap="cartMenu.showCallOrderDialog()") {{ 'cart.ORDER' | translate }}
      button.measure-btn(hm-tap="cartMenu.showCallMasterDialog()") {{ 'cart.MEASURE' | translate }}

  .old-price-inst-tab(ng-class="{'active': cartMenu.order.isOldPrice && cartMenu.order.isInstalment}")
    .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ cartMenu.order.selectedInstalmentPercent }} %
    .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{ cartMenu.order.deliveryDate }}
    price(price-value="cartMenu.order.paymentFirstPrimary", price-currency="cartMenu.userInfo.currency")
    .name {{ cartMenu.order.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }}
    price(price-value="cartMenu.order.paymentMonthlyPrimary", price-currency="cartMenu.userInfo.currency")
  .old-price-tab(ng-class="{'active': cartMenu.order.isOldPrice && !cartMenu.order.isInstalment}")
    .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{ cartMenu.order.deliveryDate }}
    price(price-value="cartMenu.order.orderPriceTOTALPrimary", price-currency="cartMenu.userInfo.currency")