.right-menu-controller(ng-controller="CartMenuCtrl as cartMenu")
  .cart-menu
    ul.items-list
      li.add-prod(ng-class="{'active': cartMenu.config.activeMenuItem == 1, 'hov': cartMenu.config.activeMenuItem !== 1}",fs-click="cartPage.addNewProductInOrder()")
        .prod-btn {{ ::cartPage.ADD_ORDER }}
        img.prod-img(ng-src='img/add-img.png')
      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 1, 'hov': cartMenu.config.activeMenuItem !== 1}", fs-click="cartMenu.selectMenuItem(1)")
        .title(data-output="{{ ::cartMenu.DELIVERY }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-show="!cartMenu.O.order.floor_id", data-output="{{ ::cartMenu.SELF_EXPORT }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-show="cartMenu.O.order.floor_id", data-output="{{ cartMenu.O.order.floorName }} {{ ::cartMenu.FLOOR }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          span.name.aside(ng-show="cartMenu.O.order.floor_id", data-output=" + {{ cartMenu.O.order.floor_price }} {{ cartMenu.U.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenu.config.activeMenuItem == 1 && cartMenu.G.global.supplyData.length}")
        ul.dropdown-items-list
          li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.floor_id}", fs-click="cartMenu.selectFloorPrice(0)")
            .dropdown-item-inner
              .value.drop-txt {{ ::cartMenu.SELF_EXPORT }}
              .name.drop-txt
          li.dropdown-item(ng-repeat="supplyList in cartMenu.G.global.supplyData", ng-class="{'selected': supplyList.id == cartMenu.O.order.floor_id}", fs-click="cartMenu.selectFloorPrice(supplyList)")
            .dropdown-item-inner
              .value.drop-txt {{supplyList.name}} {{ ::cartMenu.FLOOR }}
              .name.drop-txt + {{supplyList.priceReal}} {{ cartMenu.U.userInfo.currency }}

      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 2, 'hov': cartMenu.config.activeMenuItem !== 2}", fs-click="cartMenu.selectMenuItem(2)")
        .title(data-output="{{ ::cartMenu.ASSEMBLING }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-show="!cartMenu.O.order.mounting_id", data-output="{{ ::cartMenu.WITHOUT_ASSEMBLING }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-show="cartMenu.O.order.mounting_id", data-output="{{ cartMenu.O.order.mountingName }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          span.name.aside(ng-show="cartMenu.O.order.mounting_id", data-output=" + {{ cartMenu.O.order.mounting_price }} {{ cartMenu.U.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenu.config.activeMenuItem == 2 && cartMenu.G.global.assemblingData.length}")
        ul.dropdown-items-list
          li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.mounting_id}", fs-click="cartMenu.selectAssembling(0)")
            .dropdown-item-inner
              .value.drop-txt {{ ::cartMenu.WITHOUT_ASSEMBLING }}
              .name.drop-txt {{ ::cartMenu.FREE }}
          li.dropdown-item(ng-repeat="assemb in cartMenu.G.global.assemblingData", ng-class="{'selected': assemb.id == cartMenu.O.order.mounting_id}", fs-click="cartMenu.selectAssembling(assemb)")
            .dropdown-item-inner
              .value.drop-txt {{ assemb.name }}
              .name.drop-txt + {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}


      li.item.switcher(ng-class="{'active': cartMenu.config.activeMenuItem == 3, 'hov': cartMenu.config.activeMenuItem !== 3}", fs-click="cartMenu.selectMenuItem(3)")
        .title(data-output="{{ ::cartMenu.PAYMENT_BY_INSTALMENTS }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-if="!cartMenu.O.order.is_instalment", data-output="{{ ::cartMenu.WITHOUT_INSTALMENTS }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-if="cartMenu.O.order.is_instalment") {{ cartMenu.O.order.selectedInstalmentPeriod }}
            ng-pluralize(count="cartMenu.O.order.selectedInstalmentPeriod",
            when="{'1': '{{ cartMenu.config.month }}', '2': '{{ cartMenu.config.montha }}', '3': '{{ cartMenu.config.montha }}', '4': '{{ cartMenu.config.montha }}', 'other': '{{ cartMenu.config.months }}'}")
          span.name.aside(ng-if="cartMenu.O.order.is_instalment", data-output="{{ cartMenu.O.order.selectedInstalmentPercent }} %", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .check-switcher(ng-class="{'active': cartMenu.O.order.is_instalment }", fs-click="cartMenu.closeInstalment()")
          .check-bg-active
          .check-bg-passive
        .check-handle(ng-class="{'active': cartMenu.O.order.is_instalment }", fs-click="cartMenu.closeInstalment()")
      .dropdown-cart-menu.drop-instalment(ng-class="{'active': cartMenu.config.activeMenuItem == 3}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="payment in cartMenu.G.global.instalmentsData", ng-class="{'selected': payment.id == cartMenu.O.order.instalment_id}", fs-click="cartMenu.selectInstalment(payment.id, payment.name, payment.value)")
            .dropdown-item-inner
              .value {{ payment.name }}
                ng-pluralize(count="payment.name",
                when="{'1': '{{ cartMenu.config.month }}', '2': '{{ cartMenu.config.montha }}', '3': '{{ cartMenu.config.montha }}', '4': '{{ cartMenu.config.montha }}', 'other': '{{ cartMenu.config.months }}'}")
              .value.value-percent {{ payment.value }} %


      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 4, 'hov': cartMenu.config.activeMenuItem !== 4}", fs-click="cartMenu.selectMenuItem(4)")
        .title(data-output="{{ ::cartMenu.DELIVERY_DATE }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .value(data-output="{{cartMenu.O.order.new_delivery_date | date:'dd.MM.yyyy'}}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenu.config.activeMenuItem == 4}")
        calendar.calendar-box
      .calendar-prices
        .calendar-price.up(ng-show="cartMenu.O.order.is_date_price_more") + {{ cartMenu.O.order.delivery_price }} {{ cartMenu.U.userInfo.currency }}
        .calendar-price.down(ng-show="cartMenu.O.order.is_date_price_less") - {{ cartMenu.O.order.delivery_price }} {{ cartMenu.U.userInfo.currency }}

      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 5, 'hov': cartMenu.config.activeMenuItem !== 5}", fs-click="cartMenu.selectMenuItem(5)")
        .title(data-output="{{ ::cartMenu.COMMENT }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
        .value(data-output="{{ cartMenu.O.order.comment }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenu.config.activeMenuItem == 5}")
        textarea.comment-field.noPreventDefault(ng-model="cartMenu.O.order.comment")

    footer.menu-footer
      .price-block.price-with-instalments(ng-class="{'active': cartMenu.O.order.is_instalment}", fs-click="cartMenu.swipeDiscountBlock()")
        .name {{ ::cartMenu.FIRST_PAYMENT_LABEL }} {{ cartMenu.O.order.selectedInstalmentPercent }} %
        .name {{ ::cartMenu.DATE_DELIVERY_LABEL }} {{cartMenu.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
        price(price-value="cartMenu.O.order.paymentFirstDis", price-currency="cartMenu.U.userInfo.currency")
        .name {{ cartMenu.O.order.selectedInstalmentPeriod }} {{ ::cartMenu.MONTHLY_PAYMENT_LABEL }}
        price(price-value="cartMenu.O.order.paymentMonthlyDis", price-currency="cartMenu.U.userInfo.currency")
      .price-block.price-without-instalments(ng-class="{'active': !cartMenu.O.order.is_instalment}", fs-click="cartMenu.swipeDiscountBlock()")
        .name {{ ::cartMenu.TOTAL_PRICE_LABEL }} {{cartMenu.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
        price(price-value="cartMenu.O.order.order_price_dis", price-currency="cartMenu.U.userInfo.currency")
      button.order-btn(fs-click="cartMenu.openOrderDialog()") {{ ::cartMenu.ORDER }}
      button.measure-btn(fs-click="cartMenu.openMasterDialog()") {{ ::cartMenu.MEASURE }}

  .old-price-inst-tab(ng-class="{'active': cartMenu.O.order.is_old_price && cartMenu.O.order.is_instalment}")
    .name {{ ::cartMenu.FIRST_PAYMENT_LABEL }} {{ cartMenu.O.order.selectedInstalmentPercent }} %
    .name {{ ::cartMenu.DATE_DELIVERY_LABEL }} {{cartMenu.O.order.delivery_date | date:"dd.MM.yyyy"}}
    price(price-value="cartMenu.O.order.paymentFirstPrimaryDis", price-currency="cartMenu.U.userInfo.currency")
    .name {{ cartMenu.O.order.selectedInstalmentPeriod }} {{ ::cartMenu.MONTHLY_PAYMENT_LABEL }}
    price(price-value="cartMenu.O.order.paymentMonthlyPrimaryDis", price-currency="cartMenu.U.userInfo.currency")
  .old-price-tab(ng-class="{'active': cartMenu.O.order.is_old_price && !cartMenu.O.order.is_instalment}")
    .name {{ ::cartMenu.TOTAL_PRICE_LABEL }} {{cartMenu.O.order.delivery_date | date:"dd.MM.yyyy"}}
    price(price-value="cartMenu.O.order.orderPricePrimaryDis", price-currency="cartMenu.U.userInfo.currency")
