.right-menu-controller(ng-controller="CartMenuCtrl", ng-init="getOrderNumber()")
  .cart-menu
    ul.items-list
      li.item(ng-class="{'active': cartMenuData.activeMenuItem==1}", ng-click="selectMenuItem(1)")
        .title(data-output="{{ 'cart.DELIVERY' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .cart-item-data
          .value(data-output="{{ global.selectedFloor }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          span.name.aside(data-output="{{ global.selectedFloorPrice }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
      .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenuData.activeMenuItem==1}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="floorList in cartMenuData.floorData", ng-class="{'selected': cartMenuData.activeFloor == $index}", ng-click="selectFloorPrice($index)")
            .dropdown-item-inner
              .value.drop-txt {{floorList.name}}
              .name.drop-txt {{floorList.price}}

      li.item(ng-class="{'active': cartMenuData.activeMenuItem==2}", ng-click="selectMenuItem(2)")
        .title(data-output="{{ 'cart.ASSEMBLING' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .cart-item-data
          .value(data-output="{{ global.selectedAssembling }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          span.name.aside(data-output="{{ global.selectedAssemblingPrice }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
      .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenuData.activeMenuItem==2}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="assemb in cartMenuData.assemblingData", ng-class="{'selected': cartMenuData.activeAssembling == $index}", ng-click="selectAssembling($index)")
            .dropdown-item-inner
              .value.drop-txt {{ assemb.name }}
              .name.drop-txt {{ assemb.price }}


      li.item.switcher(ng-class="{'active': cartMenuData.activeMenuItem==3}", ng-click="selectMenuItem(3)")
        .title(data-output="{{ 'cart.PAYMENT_BY_INSTALMENTS' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .cart-item-data
          .value(ng-if="cartMenuData.activeInstalment == 'default'", data-output="{{ 'cart.WITHOUT_INSTALMENTS' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          .value(ng-if="cartMenuData.activeInstalment !== 'default' && global.selectedInstalmentPeriod == 1", data-output="{{ global.selectedInstalmentPeriod }} {{ 'common_words.MONTH_LABEL' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          .value(ng-if="cartMenuData.activeInstalment !== 'default' && global.selectedInstalmentPeriod > 1 && global.selectedInstalmentPeriod < 5", data-output="{{ global.selectedInstalmentPeriod }} {{ 'common_words.MONTHA_LABEL' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          .value(ng-if="cartMenuData.activeInstalment !== 'default' && global.selectedInstalmentPeriod > 4", data-output="{{ global.selectedInstalmentPeriod }} {{ 'common_words.MONTHS_LABEL' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          span.name.aside(ng-if="cartMenuData.activeInstalment !== 'default'", data-output="{{ global.selectedInstalmentPercent }} %", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .check-switcher(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}", ng-click="turnOffInstalment()")
          .check-bg-active
          .check-bg-passive
        .check-handle(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}", ng-click="turnOffInstalment()")
      .dropdown-cart-menu.drop-instalment(ng-class="{'active': cartMenuData.activeMenuItem==3}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="payment in cartMenuData.instalmentsData", ng-class="{'selected': cartMenuData.activeInstalment == $index}", ng-click="selectInstalment($index)")
            .dropdown-item-inner
              .value(ng-if="payment.period == 1") {{ payment.period }} {{ 'common_words.MONTH_LABEL' | translate }}
              .value(ng-if="payment.period > 1 && payment.period < 5") {{ payment.period }} {{ 'common_words.MONTHA_LABEL' | translate }}
              .value(ng-if="payment.period > 4") {{ payment.period }} {{ 'common_words.MONTHS_LABEL' | translate }}
              .value.value-percent {{ payment.percent }} %


      li.item(ng-class="{'active': cartMenuData.activeMenuItem==4}", ng-click="selectMenuItem(4)")
        .title(data-output="{{ 'cart.DELIVERY_DATE' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .value(data-output="{{ global.newDeliveryDate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenuData.activeMenuItem==4}")
        calendar.calendar-box(calendar-option=" {{ 'common_words.MONTHS' | translate }} ", calendar-option-short="{{ 'common_words.MONTHS_SHOT' | translate }} ")
      .calendar-prices
        .calendar-price.up(ng-show="cartMenuData.datePriceMore") + {{ global.deliveryPrice }} {{ global.currency }}
        .calendar-price.down(ng-show="cartMenuData.datePriceLess") - {{ global.deliveryPrice }} {{ global.currency }}


    footer.menu-footer
      .price-block.price-with-instalments(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}")
        .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ global.selectedInstalmentPercent }}
        .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{ global.newDeliveryDate }}
        price(price-value="global.paymentFirst", price-currency="global.currency")
        .name {{ global.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }}
        price(price-value="global.paymentMonthly", price-currency="global.currency")
      .price-block.price-without-instalments(ng-class="{'active': !cartMenuData.activeInstalmentSwitcher}")
        .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{ global.newDeliveryDate }}
        price(price-value="global.orderTotalPrice", price-currency="global.currency")
      button.order-btn(ng-click="showCallOrderDialog()") {{ 'cart.ORDER' | translate }}
      button.measure-btn(ng-click="showCallMasterDialog()") {{ 'cart.MEASURE' | translate }}

  .old-price-inst-tab(ng-class="{'active': cartMenuData.isOldPrice && cartMenuData.activeInstalmentSwitcher}")
    .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ global.selectedInstalmentPercent }} %
    .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{ global.deliveryDate }}
    price(price-value="global.paymentFirstPrimary", price-currency="global.currency")
    .name {{ global.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }}
    price(price-value="global.paymentMonthlyPrimary", price-currency="global.currency")
  .old-price-tab(ng-class="{'active': cartMenuData.isOldPrice && !cartMenuData.activeInstalmentSwitcher}")
    .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{ global.deliveryDate }}
    price(price-value="global.orderTotalPricePrimary", price-currency="global.currency")