.right-menu-controller(ng-controller="CartMenuCtrl")
  .cart-menu
    ul.items-list
      li.item(ng-class="{'active': cartMenuData.activeMenuItem==1}", ng-click="selectMenuItem(1)")
        .title(data-output="{{ 'cart.DELIVERY' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .cart-item-data
          .value(data-output="{{ cartMenuData.selectedFloor }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          span.name.aside(data-output="{{ cartMenuData.selectedFloorPrice }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
      .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenuData.activeMenuItem==1}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="floorList in floorPrice", ng-class="{'selected': cartMenuData.selectedFloor === floorList.floor}", ng-click="selectFloorPrice(floorList.floor, floorList.price)")
            .dropdown-item-inner
              .value.drop-txt {{floorList.floor}}
              .name.drop-txt {{floorList.price}}

      li.item(ng-class="{'active': cartMenuData.activeMenuItem==2}", ng-click="selectMenuItem(2)")
        .title(data-output="{{ 'cart.ASSEMBLING' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .cart-item-data
          .value(data-output="{{ cartMenuData.selectedAssembling }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          span.name.aside(data-output="{{ cartMenuData.selectedAssemblingPrice }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
      .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenuData.activeMenuItem==2}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="assemb in assemblingPrice", ng-class="{'selected': cartMenuData.selectedAssembling === assemb.name}", ng-click="selectAssembling(assemb.name, assemb.price)")
            .dropdown-item-inner
              .value.drop-txt {{ assemb.name }}
              .name.drop-txt {{ assemb.price }}


      li.item.switcher(ng-class="{'active': cartMenuData.activeMenuItem==3}", ng-click="selectMenuItem(3)")
        .title(data-output="{{ 'cart.PAYMENT_BY_INSTALMENTS' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .cart-item-data
          .value(data-output="{{ cartMenuData.selectedInstalmentPeriod }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
          span.name.aside(data-output="{{ cartMenuData.selectedInstalmentPercent }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .check-switcher(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}", ng-click="turnOffInstalment()")
          .check-bg-active
          .check-bg-passive
        .check-handle(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}", ng-click="turnOffInstalment()")
      .dropdown-cart-menu.drop-instalment(ng-class="{'active': cartMenuData.activeMenuItem==3}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="payment in instalmentPercent", ng-class="{'selected': cartMenuData.selectedInstalmentPercent === payment.percent}", ng-click="selectInstalment(payment.period, payment.percent)")
            .dropdown-item-inner
              .value {{ payment.period }}
              .value.value-percent {{ payment.percent }}


      li.item(ng-class="{'active': cartMenuData.activeMenuItem==4}", ng-click="selectMenuItem(4)")
        .title(data-output="{{ 'cart.DELIVERY_DATE' | translate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
        .value(data-output="{{ cartMenuData.newDeliveryDate }}", typing="{{ cartMenuData.typing }}", typing-delay="{{ cartMenuData.DELAY_START }}")
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenuData.activeMenuItem==4}")
        calendar.calendar-box
      .calendar-prices
        .calendar-price.up(ng-show="cartMenuData.datePriceLess") {{ cartMenuData.deliveryPriceLess }}
        .calendar-price.down(ng-show="cartMenuData.datePriceMore") {{ cartMenuData.deliveryPriceMore }}


    footer.menu-footer
      .price-block.price-with-instalments(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}")
        .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ cartMenuData.selectedInstalmentPercent }}
        .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{ cartMenuData.newDeliveryDate }}
        price
        .name {{ cartMenuData.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }} 100
        price
      .price-block.price-without-instalments(ng-class="{'active': !cartMenuData.activeInstalmentSwitcher}")
        .name(data-output="") {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{ cartMenuData.newDeliveryDate }}
        price
      button.order-btn(ng-click="showCallOrderDialog()") {{ 'cart.ORDER' | translate }}
      button.measure-btn(ng-click="showCallMasterDialog()") {{ 'cart.MEASURE' | translate }}

  .old-price-inst-tab(ng-class="{'active': cartMenuData.isOldPrice && cartMenuData.activeInstalmentSwitcher}")
    .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ cartMenuData.selectedInstalmentPercent }}
    .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{ cartMenuData.newDeliveryDate }}
    price
    .name {{ cartMenuData.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }} 100
    price
  .old-price-tab(ng-class="{'active': cartMenuData.isOldPrice && !cartMenuData.activeInstalmentSwitcher}")
    .name(data-output="") {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{ cartMenuData.newDeliveryDate }}
    price