.right-menu-controller(ng-controller="CartMenuCtrl")
  .cart-menu
    ul.items-list
      li.item(ng-class="{'active': cartMenuData.activeMenuItem==1}", ng-click="selectMenuItem(1)")
        .title(data-output="Профиль") {{ 'cart.DELIVERY' | translate }}
        .value(data-output="{{ configMenu.profileName }}") {{ cartMenuData.selectedFloor }}
          span.name.aside {{ cartMenuData.selectedFloorPrice }}
      .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenuData.activeMenuItem==1}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="floorList in floorPrice", ng-class="{'selected': cartMenuData.selectedFloor === floorList.floor}", ng-click="selectFloorPrice(floorList.floor, floorList.price)")
            .dropdown-item-inner
              .value.drop-txt {{floorList.floor}}
              .name.drop-txt {{floorList.price}}

      li.item(ng-class="{'active': cartMenuData.activeMenuItem==2}", ng-click="selectMenuItem(2)")
        .title(data-output="Стеклопакет") {{ 'cart.ASSEMBLING' | translate }}
        .value(data-output="{{ configMenu.glassName }}") {{ cartMenuData.selectedAssembling }}
          span.name.aside {{ cartMenuData.selectedAssemblingPrice }}
      .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenuData.activeMenuItem==2}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="assemb in assemblingPrice", ng-class="{'selected': cartMenuData.selectedAssembling === assemb.name}", ng-click="selectAssembling(assemb.name, assemb.price)")
            .dropdown-item-inner
              .value.drop-txt {{ assemb.name }}
              .name.drop-txt {{ assemb.price }}


      li.item.switcher(ng-class="{'active': cartMenuData.activeMenuItem==3}", ng-click="selectMenuItem(3)")
        .title(data-output="Фурнитура") {{ 'cart.PAYMENT_BY_INSTALMENTS' | translate }}
        .value(data-output="{{ configMenu.windowHardware }}") {{ cartMenuData.selectedInstalmentPeriod }}
          span.name.aside {{ cartMenuData.selectedInstalmentPercent }}
        .check-switcher(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}", ng-click="turnOffInstalment()")
          .check-bg-active
          .check-bg-passive
        .check-handle(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}", ng-click="turnOffInstalment()")
      .dropdown-cart-menu.drop-instalment(ng-class="{'active': cartMenuData.activeMenuItem==3}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="payment in instalmentPercent", ng-class="{'selected': cartMenuData.selectedInstalmentPercent === payment.percent}", ng-click="selectInstalment(payment.period, payment.percent)")
            .dropdown-item-inner
              .value {{ payment.period }}
              .value.value-percent {{ payment.percent }}


      li.item(ng-class="{'active': cartMenuData.activeMenuItem==4}", ng-click="selectMenuItem(4)")
        .title(data-output="Ламинация") {{ 'cart.DELIVERY_DATE' | translate }}
        .value(data-output="{{ configMenu.lamination.outer }}") 01.04.2014
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenuData.activeMenuItem==4}")
        .calendar-box
      .calendar-prices
        .calendar-price.up 2655.28
        .calendar-price.down 2655.28


    footer.menu-footer
      .price-block.price-with-instalments(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}")
        .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} 25%
        .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} 25.01.2015
        span price
        .name 3 {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }} 100
        span price
      .price-block.price-without-instalments(ng-class="{'active': !cartMenuData.activeInstalmentSwitcher}")
        .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }}
        span price
      button.order-btn(ng-click="showCallOrderDialog()") {{ 'cart.ORDER' | translate }}
      button.measure-btn(ng-click="showCallMasterDialog()") {{ 'cart.MEASURE' | translate }}

  .old-price-tab(ng-class="{'active': cartMenuData.activeInstalmentSwitcher}")
    .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} 25%
    .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} 25.01.2015
    span price
    .name 3 {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }} 100
    span price