.right-menu-controller(ng-controller="CartMenuCtrl as cartMenu")
  .cart-menu
    ul.items-list
      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 1}", hm-tap="cartMenu.selectMenuItem(1)")
        .title(data-output="{{ 'cart.DELIVERY' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-show="!cartMenu.O.order.floor_id", data-output="{{ 'cart.SELF_EXPORT' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-show="cartMenu.O.order.floor_id", data-output="{{ cartMenu.O.order.floor_id }} {{ 'cart.FLOOR' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          span.name.aside(ng-hide="cartMenu.O.order.floor_id == 'free'", data-output=" + {{ cartMenu.O.order.floor_price }} {{ cartMenu.U.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-delivery(ng-class="{'active': cartMenu.config.activeMenuItem == 1}")
        ul.dropdown-items-list
          li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.floor_id}", hm-tap="cartMenu.selectFloorPrice(0, 0)")
            .dropdown-item-inner
              .value.drop-txt {{ 'cart.SELF_EXPORT' | translate }}
              .name.drop-txt
          li.dropdown-item(ng-repeat="floorList in cartMenu.config.floorData", ng-class="{'selected': cartMenu.O.order.floor_id == floorList.name}", hm-tap="cartMenu.selectFloorPrice(floorList.name, floorList.price)")
            .dropdown-item-inner
              .value.drop-txt {{floorList.name}} {{ 'cart.FLOOR' | translate }}
              .name.drop-txt + {{floorList.price}} {{ cartMenu.U.userInfo.currency }}

      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 2}", hm-tap="cartMenu.selectMenuItem(2)")
        .title(data-output="{{ 'cart.ASSEMBLING' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-show="!cartMenu.O.order.mounting_id", data-output="{{ 'cart.WITHOUT_ASSEMBLING' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-show="cartMenu.O.order.mounting_id", data-output="{{ cartMenu.O.order.mounting_id }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          span.name.aside(ng-hide="cartMenu.O.order.mounting_id == 'free'", data-output=" + {{ cartMenu.O.order.mounting_price }} {{ cartMenu.U.userInfo.currency }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-assembling(ng-class="{'active': cartMenu.config.activeMenuItem == 2}")
        ul.dropdown-items-list
          li.dropdown-item(ng-class="{'selected': !cartMenu.O.order.mounting_id}", hm-tap="cartMenu.selectAssembling(0, 0)")
            .dropdown-item-inner
              .value.drop-txt {{ 'cart.WITHOUT_ASSEMBLING' | translate }}
              .name.drop-txt {{ 'cart.FREE' | translate }}
          li.dropdown-item(ng-repeat="assemb in cartMenu.config.assemblingData", ng-class="{'selected': cartMenu.O.order.mounting_id == assemb.name}", hm-tap="cartMenu.selectAssembling(assemb.name, assemb.price)")
            .dropdown-item-inner
              .value.drop-txt {{ assemb.name }}
              .name.drop-txt + {{ assemb.price }} {{ cartMenu.U.userInfo.currency }}


      li.item.switcher(ng-class="{'active': cartMenu.config.activeMenuItem == 3}", hm-tap="cartMenu.selectMenuItem(3)")
        .title(data-output="{{ 'cart.PAYMENT_BY_INSTALMENTS' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .cart-item-data
          .value(ng-if="!cartMenu.O.order.is_instalment", data-output="{{ 'cart.WITHOUT_INSTALMENTS' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
          .value(ng-if="cartMenu.O.order.is_instalment") {{ cartMenu.O.order.selectedInstalmentPeriod }}
            ng-pluralize(count="cartMenu.O.order.selectedInstalmentPeriod",
            when="{'1': '{{ cartMenu.config.month }}', '2': '{{ cartMenu.config.montha }}', '3': '{{ cartMenu.config.montha }}', '4': '{{ cartMenu.config.montha }}', 'other': '{{ cartMenu.config.months }}'}")
          span.name.aside(ng-if="cartMenu.O.order.is_instalment", data-output="{{ cartMenu.O.order.selectedInstalmentPercent }} %", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .check-switcher(ng-class="{'active': cartMenu.O.order.is_instalment }", hm-tap="cartMenu.closeInstalment()")
          .check-bg-active
          .check-bg-passive
        .check-handle(ng-class="{'active': cartMenu.O.order.is_instalment }", hm-tap="cartMenu.closeInstalment()")
      .dropdown-cart-menu.drop-instalment(ng-class="{'active': cartMenu.config.activeMenuItem == 3}")
        ul.dropdown-items-list
          li.dropdown-item(ng-repeat="payment in cartMenu.config.instalmentsData", ng-class="{'selected': cartMenu.O.order.selectedInstalmentPeriod == payment.period}", hm-tap="cartMenu.selectInstalment(payment.period, payment.percent)")
            .dropdown-item-inner
              .value {{ payment.period }}
                ng-pluralize(count="payment.period",
                when="{'1': '{{ cartMenu.config.month }}', '2': '{{ cartMenu.config.montha }}', '3': '{{ cartMenu.config.montha }}', '4': '{{ cartMenu.config.montha }}', 'other': '{{ cartMenu.config.months }}'}")
              .value.value-percent {{ payment.percent }} %


      li.item(ng-class="{'active': cartMenu.config.activeMenuItem == 4}", hm-tap="cartMenu.selectMenuItem(4)")
        .title(data-output="{{ 'cart.DELIVERY_DATE' | translate }}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
        .value(data-output="{{cartMenu.O.order.new_delivery_date | date:'dd.MM.yyyy'}}", typing="{{ cartMenu.config.typing }}", typing-delay="{{ cartMenu.config.DELAY_START }}")
      .dropdown-cart-menu.drop-calendar(ng-class="{'active': cartMenu.config.activeMenuItem == 4}")
        calendar.calendar-box
      .calendar-prices
        .calendar-price.up(ng-show="cartMenu.O.order.is_date_price_more") + {{ cartMenu.O.order.delivery_price }} {{ cartMenu.U.userInfo.currency }}
        .calendar-price.down(ng-show="cartMenu.O.order.is_date_price_less") - {{ cartMenu.O.order.delivery_price }} {{ cartMenu.U.userInfo.currency }}


    footer.menu-footer
      .price-block.price-with-instalments(ng-class="{'active': cartMenu.O.order.is_instalment}")
        .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ cartMenu.O.order.selectedInstalmentPercent }} %
        .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{cartMenu.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
        price(price-value="cartMenu.C.cart.paymentFirstDis", price-currency="cartMenu.U.userInfo.currency")
        .name {{ cartMenu.O.order.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }}
        price(price-value="cartMenu.C.cart.paymentMonthlyDis", price-currency="cartMenu.U.userInfo.currency")
      .price-block.price-without-instalments(ng-class="{'active': !cartMenu.O.order.is_instalment}")
        .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{cartMenu.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
        price(price-value="cartMenu.C.cart.orderPriceTOTALDis", price-currency="cartMenu.U.userInfo.currency")
      button.order-btn(hm-tap="cartMenu.openOrderDialog()") {{ 'cart.ORDER' | translate }}
      button.measure-btn(hm-tap="cartMenu.openMasterDialog()") {{ 'cart.MEASURE' | translate }}

  .old-price-inst-tab(ng-class="{'active': cartMenu.O.order.isOldPrice && cartMenu.O.order.is_instalment}")
    .name {{ 'cart.FIRST_PAYMENT_LABEL' | translate }} {{ cartMenu.O.order.selectedInstalmentPercent }} %
    .name {{ 'cart.DATE_DELIVERY_LABEL' | translate }} {{cartMenu.O.order.delivery_date | date:"dd.MM.yyyy"}}
    price(price-value="cartMenu.C.cart.paymentFirstPrimaryDis", price-currency="cartMenu.U.userInfo.currency")
    .name {{ cartMenu.O.order.selectedInstalmentPeriod }} {{ 'cart.MONTHLY_PAYMENT_LABEL' | translate }}
    price(price-value="cartMenu.C.cart.paymentMonthlyPrimaryDis", price-currency="cartMenu.U.userInfo.currency")
  .old-price-tab(ng-class="{'active': cartMenu.O.order.is_old_price && !cartMenu.O.order.is_instalment}")
    .name {{ 'cart.TOTAL_PRICE_LABEL' | translate }} {{cartMenu.O.order.delivery_date | date:"dd.MM.yyyy"}}
    price(price-value="cartMenu.C.cart.orderPriceTOTALPrimaryDis", price-currency="cartMenu.U.userInfo.currency")