.config-menu(ng-controller="ConfigMenuCtrl as configMenu")
  ul.items-list.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_SHOW_CONFIG_LIST }}")

    li.item.item-header(ng-class="{'active': configMenu.G.global.activePanel == 1}", hm-tap="configMenu.selectConfigPanel(1)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_CONFIGURATION' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .icon.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
        svg-template(template="configMenu.P.product.templateIcon", template-width="configMenu.constants.svgTemplateIconWidth", template-height="configMenu.constants.svgTemplateIconHeight", type-construction="icon")
      .name(data-output="{{ 'mainpage.CONFIGMENU_SIZING' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.template_width }} {{ 'mainpage.MM' | translate }} *", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.template_height }} {{ 'mainpage.MM' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 2}", hm-tap="configMenu.selectConfigPanel(2)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_PROFILE' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.profile.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 3}", hm-tap="configMenu.selectConfigPanel(3)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_GLASS' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.glass[0].sku }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 4}", hm-tap="configMenu.selectConfigPanel(4)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_HARDWARE' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.hardware.name }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 5}", hm-tap="configMenu.selectConfigPanel(5)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_LAMINATION' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .name(data-output="{{ 'mainpage.CONFIGMENU_LAMINATION_TYPE' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.laminationOutName }} / {{ configMenu.P.product.laminationInName }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 6}", hm-tap="configMenu.selectConfigPanel(6)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_ADDITIONAL' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .name(ng-hide="configMenu.P.product.addelem_price > 0", data-output="{{ 'mainpage.CONFIGMENU_NO_ADDELEMENTS' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .additional-items-list
        ul.additional-items-group(ng-repeat="addElementGroup in configMenu.P.product.chosenAddElements")
          li.additional-item(ng-repeat="addElement in addElementGroup")
            span.value(data-output="") {{ addElement.name }}

  footer.menu-footer.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_SHOW_FOOTER }}")
    price(price-value="configMenu.P.product.productPriceDis", price-currency="configMenu.U.userInfo.currency")
    button.cart-btn(ng-if="!configMenu.G.global.productEditNumber", hm-tap="configMenu.inputProductInOrder()") {{ 'mainpage.CONFIGMENU_IN_CART' | translate }}
      .qty.unvisible(ng-if="configMenu.O.order.products_qty", show-delay="{{ configMenu.config.DELAY_START }}") {{ configMenu.O.order.products_qty }}
    button.cart-btn(ng-if="configMenu.G.global.productEditNumber", hm-tap="configMenu.inputProductInOrder()") {{ 'settings.SAVE' | translate }}

  .product-u-coeff.unvisible(ng-if="configMenu.G.global.isConfigMenu", ng-class="{'u-coeff-low': configMenu.P.product.heat_coef_total < configMenu.O.order.currHeatTransfer}", show-delay="{{ configMenu.config.DELAY_SHOW_U_COEFF }}")
    div U = {{ configMenu.P.product.heat_coef_total }}
    div {{ 'mainpage.HEATCOEF_VAL' | translate }}&sup2;&middot;K
  .curtain(ng-show="configMenu.P.product.is_addelem_only")

  .menu_tooltip(ng-show="configMenu.G.global.configMenuTips && configMenu.G.global.isConfigMenu && !configMenu.G.global.productEditNumber", hm-tap="configMenu.showNextTip()", ng-class="{'tempate_tip': configMenu.G.global.configMenuTips == 1, 'profile_tip': configMenu.G.global.configMenuTips == 2, 'glass_tip': configMenu.G.global.configMenuTips == 3}") {{ configMenu.config.TOOLTIP[configMenu.G.global.configMenuTips] }}
    .close_menu_tooltip

  .report-container(ng-show="configMenu.G.global.isReport")
    .close_report(hm-tap="configMenu.G.global.isReport = 0")
    .report-menu
      .report-menu-item(ng-repeat="reportMenu in configMenu.config.reportMenu | orderBy: reportMenu.position", hm-tap="configMenu.sortReport(reportMenu.id)", ng-class="{'active': reportMenu.id === configMenu.config.reportFilterId}") {{ reportMenu.name }}
    .report-box
      table
        tr.report-item
          th.report-elem {{ 'add_elements.NAME_LABEL' | translate }}
          th.report-elem {{ 'add_elements.ARTICUL_LABEL' | translate }}
          th.report-elem {{ 'add_elements.QTY_LABEL' | translate }}
          th.report-elem {{ 'add_elements.SIZE_LABEL' | translate }}
          th.report-elem {{ configMenu.U.userInfo.currency }}
        tr.report-item(ng-repeat="report in configMenu.P.product.report | filter: {element_group_id: configMenu.config.reportFilterId}:true")
          td.report-elem {{report.name}}
          td.report-elem {{report.sku}}
          td.report-elem {{report.amount}}
          td.report-elem {{report.size}}
          td.report-elem {{report.priceReal}}
      .report-price-total {{ 'cart.CALL_ORDER_TOTAL_PRICE' | translate }} {{configMenu.config.reportPriceTotal}} {{ configMenu.U.userInfo.currency }}