.config-menu(ng-controller="ConfigMenuCtrl")
  ul.items-list.unvisible(ng-if="global.isConfigMenu", show-delay="{{ configMenu.DELAY_SHOW_CONFIG_LIST }}")
    li.item.item-header(ng-class="{'active': global.showPanels.showTemplatePanel}", ng-click="selectTemplatePanel()")
      .title(data-output="{{ 'mainpage.CONFIGMENU_CONFIGURATION' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .icon.unvisible(ng-if="global.isConfigMenu", show-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
        img(ng-src="{{ configMenu.constructThumb }}")
      .name(data-output="{{ 'mainpage.CONFIGMENU_SIZING' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.construction.width }}000 {{ 'mainpage.MM' | translate }}*", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.construction.height }}000 {{ 'mainpage.MM' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
    li.item(ng-class="{'active': global.showPanels.showProfilePanel}", ng-click="selectProfilePanel()")
      .title(data-output="{{ 'mainpage.CONFIGMENU_PROFILE' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ global.profileName }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
    li.item(ng-class="{'active': global.showPanels.showGlassPanel}", ng-click="selectGlassPanel()")
      .title(data-output="{{ 'mainpage.CONFIGMENU_GLASS' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ global.glassName }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
    li.item(ng-class="{'active': global.showPanels.showHardwarePanel}", ng-click="selectHardwarePanel()")
      .title(data-output="{{ 'mainpage.CONFIGMENU_HARDWARE' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ global.hardwareName }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
    li.item(ng-class="{'active': global.showPanels.showLaminationPanel}", ng-click="selectLaminationPanel()")
      .title(data-output="{{ 'mainpage.CONFIGMENU_LAMINATION' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .name(data-output="{{ 'mainpage.CONFIGMENU_LAMINATION_TYPE' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ global.lamination.outer }} / {{ global.lamination.inner }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
    li.item(ng-class="{'active': global.showPanels.showAddElementsPanel}", ng-click="selectAddElementsPanel()")
      .title(data-output="{{ 'mainpage.CONFIGMENU_ADDITIONAL' | translate }}", typing="{{ configMenu.typing }}", typing-delay="{{ configMenu.DELAY_TYPE_ITEM_TITLE }}")
      .additional-items-list
        ul.additional-items-group(ng-repeat="addElementGroup in global.chosenAddElements")
          li.additional-item(ng-repeat="addElement in addElementGroup", ng-init="dubleTyping()")
            span.value(data-output="") {{ addElement.elementName }}
            span.name.aside(data-output="")

  footer.menu-footer.unvisible(ng-if="global.isConfigMenu", show-delay="{{ configMenu.DELAY_SHOW_FOOTER }}")
    price
    //button.cart-btn(ng-click="inputOrderInCart(); global.gotoCartPage()") {{ 'mainpage.CONFIGMENU_IN_CART' | translate }}
    button.cart-btn(ng-click="inputOrderInCart()") {{ 'mainpage.CONFIGMENU_IN_CART' | translate }}
      .qty.unvisible(ng-if="global.ordersInCart > 0", show-delay="{{ configMenu.DELAY_START }}") {{ global.ordersInCart }}

  //.test
    input(ng-model="global.orderPrice")