.config-menu(ng-controller="ConfigMenuCtrl")
  ul.items-list.unvisible
    li.item.item-header(data-panel="template-container")
      .title(data-output="Конфигурация и размеры")
      .icon.unvisible
        img(ng-src="{{ configMenu.constructThumb }}")
      .name(data-output="ширина * высота -")
      .value(data-output="{{ configMenu.construction.width }}000 мм*")
      .value(data-output="{{ configMenu.construction.height }}000 мм")
    li.item(data-panel="profile-container")
      .title(data-output="Профиль")
      .value(data-output="{{ configMenu.profileName }}")
    li.item(data-panel="glass-container")
      .title(data-output="Стеклопакет")
      .value(data-output="{{ configMenu.glassName }}")
    li.item(data-panel="hardware-container")
      .title(data-output="Фурнитура")
      .value(data-output="{{ configMenu.windowHardware }}")
    li.item(data-panel="lamination-container")
      .title(data-output="Ламинация")
      .row
        .name(data-output="фасад")
        .value(data-output="{{ configMenu.lamination.outer }}")
      .row
        .name(data-output="в комнате")
        .value(data-output="{{ configMenu.lamination.inner }}")
    li.item(data-panel="auxiliaries-container")
      .title(data-output="Дополнительно")
      ul.additional-items-list
        li.additional-item(ng-repeat="element in configMenu.additionalElments")
          span.value(data-output="{{ element.name }}")
          span.name.aside(data-output="{{ element.group.name }}")

  footer.menu-footer
    price
    button.cart-btn В корзину
      .qty {{ configMenu.ordersInCart }}

  .test
    input(ng-model="price")