.menu.config-menu(ng-controller="ConfigMenuCtrl")
  ul.items-list
    li.item.item-header(data-panel="template-container")
      .title(name="Конфигурация и размеры")
      .icon
      .name(name="ширина * высота -")
      .value(name="1060000 мм*")
      .value(name="1320000 мм")
    li.item(data-panel="profile-container")
      .title(name="Профиль")
      .value(name="Окошко S58")
    li.item(data-panel="glass-container")
      .title(name="Стеклопакет")
      .value(name="4/16/4")
    li.item(data-panel="hardware-container")
      .title(name="Фурнитура")
      .value(name="Длинный текст, который не влезет в строку")
    li.item(data-panel="lamination-container")
      .title(name="Ламинация")
      .row
        .name(name="фасад")
        .value(name="без ламинации")
      .row
        .name(name="в комнате")
        .value(name="Длинный текст, который не влезет в строку")
    li.item(data-panel="auxiliaries-container")
      .title(name="Дополнительно")
      ul.additional-items-list
        li.additional-item
          span.value(name="УВ-100Х100")
          span.name.aside(name="Длинный текст, который не влезет в строку")
        li.additional-item
          span.value(name="ОБ-120")
          span.name.aside(name="водоотлив")
        li.additional-item
          span.value(name="УВ-100Х100")
          span.name.aside(name="нащельник")
        li.additional-item
          span.value(name="ОБ-120")
          span.name.aside(name="водоотлив")
        li.additional-item
          span.value(name="УВ-100Х100")
          span.name.aside(name="нащельник")
        li.additional-item
          span.value(name="ОБ-120")
          span.name.aside(name="водоотлив")

  footer.menu-footer
    .price.clearfix
      #price.price-value(name="4855268.52")
      #currency.price-currency &#8372;
    button.cart-btn В корзину
      .qty 22