.config-menu(ng-controller="ConfigMenuCtrl as configMenu")
  ul.items-list.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_SHOW_CONFIG_LIST }}")

    li.item.item-header(ng-class="{'active': configMenu.G.global.activePanel == 1}", hm-tap="configMenu.selectConfigPanel(1)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_CONFIGURATION' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .icon.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
        svg-template(template="configMenu.P.product.templateIcon", template-width="configMenu.constants.svgTemplateIconWidth", template-height="configMenu.constants.svgTemplateIconHeight", type-construction="icon")
      .name(data-output="{{ 'mainpage.CONFIGMENU_SIZING' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.templateWidth }} {{ 'mainpage.MM' | translate }} *", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.templateHeight }} {{ 'mainpage.MM' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 2}", hm-tap="configMenu.selectConfigPanel(2)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_PROFILE' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.profileName }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 3}", hm-tap="configMenu.selectConfigPanel(3)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_GLASS' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.glassName }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 4}", hm-tap="configMenu.selectConfigPanel(4)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_HARDWARE' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.hardwareName }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 5}", hm-tap="configMenu.selectConfigPanel(5)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_LAMINATION' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .name(data-output="{{ 'mainpage.CONFIGMENU_LAMINATION_TYPE' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .value(data-output="{{ configMenu.P.product.laminationOutName }} / {{ configMenu.P.product.laminationInName }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")

    li.item(ng-class="{'active': configMenu.G.global.activePanel == 6}", hm-tap="configMenu.selectConfigPanel(6)")
      .title(data-output="{{ 'mainpage.CONFIGMENU_ADDITIONAL' | translate }}", typing="{{ configMenu.config.typing }}", typing-delay="{{ configMenu.config.DELAY_TYPE_ITEM_TITLE }}")
      .additional-items-list
        ul.additional-items-group(ng-repeat="addElementGroup in configMenu.P.product.chosenAddElements")
          li.additional-item(ng-repeat="addElement in addElementGroup", ng-init="dubleTyping()")
            span.value(data-output="") {{ addElement.elementName }}

  footer.menu-footer.unvisible(ng-if="configMenu.G.global.isConfigMenu", show-delay="{{ configMenu.config.DELAY_SHOW_FOOTER }}")
    price(price-value="configMenu.P.product.productPriceTOTAL", price-currency="configMenu.U.userInfo.currency")
    button.cart-btn(ng-if="!configMenu.G.global.productEditNumber", hm-tap="configMenu.inputProductInOrder()") {{ 'mainpage.CONFIGMENU_IN_CART' | translate }}
      .qty.unvisible(ng-if="configMenu.O.order.productsQty", show-delay="{{ configMenu.config.DELAY_START }}") {{ configMenu.O.order.productsQty }}
    button.cart-btn(ng-if="configMenu.G.global.productEditNumber", hm-tap="configMenu.inputProductInOrder()") {{ 'settings.SAVE' | translate }}

  .product-u-coeff.unvisible(ng-if="configMenu.G.global.isConfigMenu", ng-class="{'u-coeff-low': configMenu.P.product.heatTransferTOTAL < configMenu.O.order.currHeatTransfer}", show-delay="{{ configMenu.config.DELAY_SHOW_U_COEFF }}") U = {{ configMenu.P.product.heatTransferTOTAL }}
  .curtain(ng-show="configMenu.P.product.isAddElementsONLY")