.elements-list-container(ng-controller="ElementsListCtrl")
  .elements-menu
    header.menu-header
      .tip(data-output="Выберите элемент из списка") Выберите элемент из списка
      button.close-elements-menu

    .menu-lists
      ul.items-list
        li.item.empty-element.active
          .value(data-output="Без элемента") Без элемента

      .title(data-output="оцинкованный") оцинкованный
      ul.items-list
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info

          //.aux-list-row
            .aux-name
              .aux-title(data-output="подоконник") подоконник подоконник подоконник
              .aux-label(data-output="шт") {{ 'additional_elements.NAME_LABEL' | translate }}
            .aux-params
              button.aux-params-but.aux_big_but.qty-calc 1
              .aux-label(data-output="шт") {{ 'additional_elements.QTY_LABEL' | translate }}
            .aux-params
              button.aux-params-but.aux_big_but.size-calc 1000
              .aux-label(data-output="размер") {{ 'additional_elements.SIZE_LABEL' | translate }}
            .aux-price(data-output="+12 300.00") +12 300.00
            button.aux-choose-but


        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info

      .title(data-output="оцинкованный") оцинкованный
      ul.items-list
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info
        li.item
          .value(data-output="КO-100, оцинкованный") КO-100, оцинкованный
          button.element-info

    footer.menu-footer
      .price-element.unvisible
        #price.price-value(data-output="{{ configMenu.price }}")
        #currency.price-currency {{ setCurrencySymbol(configMenu.currency) }}
      .elements-tools.size-calculator
        include ../parts/_size-calculator
      .elements-tools.qty-calculator
        include ../parts/_qty-calculator
      .elements-tools.color-selector
        .color-label(data-output="Доступные цвета подоконника:") Доступные цвета подоконника:

        .color-block
          .color-img.selected
            img(src="../img/lamination/empty.png")
          .color-labels
            .aux-label(data-output="Белый") Белый
            .aux-label-bold(data-output="матовый") матовый

        .color-block
          .color-img
            img(src="../img/lamination/empty.png")
          .color-labels
            .aux-label(data-output="Белый") Белый
            .aux-label-bold(data-output="глянцевый") глянцевый

        .color-block.color-options
          .color-option
            .color-img
              img(src="../img/lamination/Birch.png")
            .aux-label(data-output="светлый дуб") светлый дуб

          .color-option
            .color-img
              img(src="../img/lamination/Birch.png")
            .aux-label(data-output="светлый дуб") светлый дуб

          .color-option
            .color-img
              img(src="../img/lamination/Birch.png")
            .aux-label(data-output="светлый дуб") светлый дуб

          .color-option
            .color-img
              img(src="../img/lamination/Birch.png")
            .aux-label(data-output="светлый дуб") светлый дуб

          .color-option
            .color-img
              img(src="../img/lamination/Birch.png")
            .aux-label(data-output="светлый дуб") светлый дуб

          .color-option
            .color-img
              img(src="../img/lamination/Birch.png")
            .aux-label(data-output="светлый дуб") светлый дуб


  .menu-right-tabs
    .tab-block.simple-frame
      button.frame-tab Простая конструкция
      .tab-content-empty
        .tab-empty Выберите из списка первый козырек, чтобы начать составлять конструкцию.
    .tab-block.hard-frame
      button.frame-tab Составная конструкция
      .tab-content
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник подоконник подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete

        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
        .tab-aux-row
          .aux-title(data-output="подоконник") подоконник
          .aux-params
            button.aux-params-but.aux_big_but.qty-calc 1
            .aux-label(data-output="шт") шт
          .aux-params
            button.aux-params-but.aux_big_but.size-calc 1000
            .aux-label(data-output="размер") размер
          .aux-delete
