.nav-menu(ng-controller="NavMenuCtrl")
  header.nav-menu-header
    ul.items-list.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAV_LIST }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==1}", ng-click="selectMenuItem(1); global.gotoLocationPage()")
        .item-content
          span.nav-icon-addLocation.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_GEOLOCATION' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP) }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==2}", ng-click="selectMenuItem(2); getCurrentGeolocation()")
        .item-content
          span.nav-icon-geoLocation.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 2) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_CURRENT_GEOLOCATION' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 2) }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==3}", ng-click="selectMenuItem(3); setCurrentCity(city)")
        .item-content
          span.nav-icon-location.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 3) }}")
          span.title(data-output="{{ global.userInfo.cityName }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 3) }}")
      //li.item(ng-class="{'selected': navMenu.activeMenuItem==4}", ng-click="selectMenuItem(4); setCurrentCity(city)")
        .item-content
          span.nav-icon-location.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 4) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_CURRENT_GEOLOCATION' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 4) }}")

    .divider(data-output="{{ 'mainpage.NAVMENU_CALCULATIONS' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_DIVIDER }}")

    ul.items-list.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAV_LIST * 2.5 }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==5}", ng-click="selectMenuItem(5); global.gotoMainPage()")
        .item-content
          span.nav-icon-calculation.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 5)}}")
          span.title(data-output="{{ 'mainpage.NAVMENU_CURRENT_CALCULATION' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 5) }}")
      li.item(ng-if="global.productCounter && global.productCounter > 0 && !global.isCreatedNewProject", ng-class="{'selected': navMenu.activeMenuItem==6}", ng-click="selectMenuItem(6); global.gotoCartPage()")
        .item-content
          span.nav-icon-basketOfCalculation.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 6) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_CART' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 6) }}")
          span.badge.unvisible(show-delay="{{ navMenu.DELAY_SHOW_ORDERS }}") {{ global.productCounter }}
      li.item(ng-class="{'selected': navMenu.activeMenuItem==7}", ng-click="selectMenuItem(7); gotoAddElementsPanel()")
        .item-content
          span.nav-icon-additionalComponents.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 7) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_ADD_ELEMENTS' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 7) }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==8}", ng-click="selectMenuItem(8); gotoHistoryPage()")
        .item-content
          span.nav-icon-calculationsHistory.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 8) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_ALL_CALCULATIONS' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 8) }}")

    .divider(data-output="{{ 'mainpage.NAVMENU_APPENDIX' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_DIVIDER * 2 }}")

    ul.items-list.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAV_LIST * 4 }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==9}", ng-click="selectMenuItem(9); gotoSettingsPage()")
        .item-content
          span.nav-icon-settings.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 9) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_SETTINGS' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 9) }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==10}", ng-click="selectMenuItem(10)")
        .item-content
          span.nav-icon-information.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 10) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_MORE_INFO' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 10) }}")
      li.item(ng-class="{'selected': navMenu.activeMenuItem==11}", ng-click="selectMenuItem(11)")
        .item-content
          span.nav-icon-information.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NAVICON * (1 + navMenu.DELAY_SHOW_STEP * 11) }}")
          span.title(data-output="{{ 'mainpage.NAVMENU_VOICE_HELPER' | translate }}", typing="{{ navMenu.typing }}", typing-delay="{{ navMenu.DELAY_TYPE_NAVTITLE * (1 + navMenu.DELAY_SHOW_STEP * 11) }}")


  footer.nav-menu-footer
    button.new-calc.unvisible(show-delay="{{ navMenu.DELAY_SHOW_NEWCALC_BTN }}", ng-click="global.createNewProject()") {{ 'mainpage.NAVMENU_NEW_CALC' | translate }}
