.menu.nav-menu(ng-controller="NavMenuCtrl")
  header.nav-menu-header
    ul.items-list
      li.item
        .item-content.hidden
          span.nav-icon-addLocation.icon-splash
          span.title(data-output="Выбрать расположение")
      li.item
        .item-content.hidden
          span.nav-icon-geoLocation.icon-splash
          span.title(data-output="Текущее расположение")
      li.item
        .item-content.hidden
          span.nav-icon-location.icon-splash
          span.title(data-output="Ивано-Франковск")
      li.item
        .item-content.hidden
          span.nav-icon-location.icon-splash
          span.title(data-output="Днепропетровск")

    .divider(data-output="Расчеты")

    ul.items-list
      li.item
        .item-content.hidden
          span.nav-icon-calculation.icon-splash
          span.title(data-output="Текущий расчет")
      li.item
        .item-content.hidden
          span.nav-icon-basketOfCalculation.icon-splash
          span.title(data-output="Корзина расчета")
          span.badge 22
      li.item
        .item-content.hidden
          span.nav-icon-additionalComponents.icon-splash
          span.title(data-output="Дополнительные элементы")
      li.item
        .item-content.hidden
          span.nav-icon-calculationsHistory.icon-splash
          span.title(data-output="Все расчеты")

    .divider(data-output="Приложение")

    ul.items-list
      li.item
        .item-content.hidden
          span.nav-icon-settings.icon-splash
          span.title(data-output="Настройки")
      li.item
        .item-content.hidden
          span.nav-icon-information.icon-splash
          span.title(data-output="Больше информации")
      li.item
        .item-content.hidden
          span.nav-icon-information.icon-splash
          span.title(data-output="Голосовой помощник")
      li.item
        .item-content.hidden
          span.nav-icon-information.icon-splash
          span.title(data-output="Выбрать расположение")

  footer.nav-menu-footer
    button.new-calc.icon-splash + Новый расчет
