.menu.nav-menu(ng-controller="NavMenuCtrl")
  header.nav-menu-header
    ul.items-list
      li.item
        .item-content.unvisible
          span.nav-icon-addLocation.unvisible
          span.title(name="Выбрать расположение")
      li.item
        .item-content.unvisible
          span.nav-icon-geoLocation.unvisible
          span.title(name="Текущее расположение")
      li.item
        .item-content.unvisible
          span.nav-icon-location.unvisible
          span.title(name="Ивано - Франковск")
      li.item
        .item-content.unvisible
          span.nav-icon-location.unvisible
          span.title(name="Днепропетровск")

    .divider(name="Расчеты")

    ul.items-list
      li.item
        .item-content.unvisible
          span.nav-icon-calculation.unvisible
          span.title(name="Текущий расчет")
      li.item
        .item-content.unvisible
          span.nav-icon-basketOfCalculation.unvisible
          span.title(name="Корзина расчета")
          span.badge.unvisible 22
      li.item
        .item-content.unvisible
          span.nav-icon-additionalComponents.unvisible
          span.title(name="Дополнительные элементы")
      li.item
        .item-content.unvisible
          span.nav-icon-calculationsHistory.unvisible
          span.title(name="Все расчеты")

    .divider(name="Приложение")

    ul.items-list
      li.item
        .item-content.unvisible
          span.nav-icon-settings.unvisible
          span.title(name="Настройки")
      li.item
        .item-content.unvisible
          span.nav-icon-information.unvisible
          span.title(name="Больше информации")
      li.item
        .item-content.unvisible
          span.nav-icon-information.unvisible
          span.title(name="Голосовой помощник")
      li.item
        .item-content.unvisible
          span.nav-icon-information.unvisible
          span.title(name="Выбрать расположение")

  footer.nav-menu-footer
    button.new-calc.unvisible + Новый расчет
