
<div ng-controller="MobileAddElementsCtrl as mobPage" ng-if="mobilePage.G.global.activePanel === 6" class="add-elements-mobile mobile-common-panel">
  <div ng-if="mobPage.U.userInfo.factory_id !== 2" class="box">
    <div class="accept-container">
      <div ng-if="!mobilePage.isSet(1)" class="row">
        <div ng-if="mobilePage.G.global.activePanel !== 6" class="curr-price">
          <price price-value="mobilePage.G.global.tempPrice" price-currency="mobilePage.U.userInfo.currency"></price>
        </div>
        <div ng-if="mobilePage.G.global.activePanel === 6" class="curr-price">
          <price price-value="mobilePage.P.product.addelemPriceDis" price-currency="mobilePage.U.userInfo.currency"></price>
        </div>
        <div ng-click="mobilePage.closePanelMobile()" class="accept-button">{{mobilePage.APPLY}}</div>
      </div>
      <div ng-if="!mobilePage.isSet(1) &amp;&amp; mobilePage.G.global.activePanel !== 6" class="row">
        <div ng-if="mobilePage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total &lt; mobilePage.O.order.heat_coef_min}" class="product-u-coeff">
          <div>R = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.LETTER_M}}&sup2;&deg;C/{{::mobilePage.HEATCOEF_VAL }}</div>
        </div>
        <div ng-if="!mobilePage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total &gt; mobilePage.O.order.heat_coef_min}" class="product-u-coeff">
          <div>U = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.HEATCOEF_VAL}}/{{::mobilePage.LETTER_M}}&sup2;&deg;C</div>
        </div>
        <!--СТЕКЛОПАКЕТ-->
        <div ng-if="mobilePage.G.global.activePanel === 3" class="selected-profile">
          <div ng-if="mobilePage.P.product.glass.length == 1" class="value">
            <p>{{ mobilePage.P.product.glass[0].sku }}</p>
          </div>
          <div ng-if="mobilePage.P.product.glass.length == 2" class="value">
            <p>{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku }}</p>
          </div>
          <div ng-if="mobilePage.P.product.glass.length &gt; 2" class="value">
            <p>{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku +', '+ mobilePage.P.product.glass[2].sku }}</p>
          </div>
        </div>
        <!--ФУРНИТУРА-->
        <div ng-if="mobilePage.G.global.activePanel === 4" class="selected-profile">
          <div ng-if="mobilePage.P.product.construction_type !== 4" class="value">
            <p>{{ mobilePage.P.product.hardware.name }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorHandle.name }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorLock.name }}</p>
          </div>
        </div>
        <!--ПРОФИЛЬ-->
        <div ng-if="mobilePage.G.global.activePanel === 2" class="selected-profile">
          <div ng-if="mobilePage.P.product.construction_type !== 4" class="value">
            <p>{{ mobilePage.P.product.profile.name }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorName | translate }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorSashName }}</p>
          </div>
        </div>
        <!--ЛАМИНАЦИЯ-->
        <div ng-if="mobilePage.G.global.activePanel === 5" class="selected-profile">
          <div class="value">
            <p>{{ mobilePage.P.product.lamination.laminat_in_name | translate}} / {{ mobilePage.P.product.lamination.laminat_out_name | translate}}</p>
          </div>
        </div>
      </div>
      <div ng-if="mobilePage.isSet(1)" class="row">
        <div ng-click="mobilePage.closePanelMobile()" class="back-button"></div>
        <div class="row-title">
          <p>{{mobilePage.TEMPLATE_SELECTION}}</p>
        </div>
      </div>
    </div>
    <div class="folders-container">
      <div ng-repeat="folders in mobPage.AddElementsMobile track by $index" ng-init="OpenSubFolder = $index" class="folders">
        <p ng-click="mobPage.OpenFolder($index, $event)" ng-class="{active : OpenSubFolder === mobPage.G.global.OpenSubFolder}" class="folders-name">{{folders.name | translate}}</p>
        <div ng-repeat="chosenAddElem in mobPage.P.product.chosenAddElements[$index] track by $index" class="choosen-add-elem">
          <div class="row-header">
            <p class="name">{{chosenAddElem.name}}</p>
            <div ng-click="mobPage.confirmAddElemDelete($parent.$index, $index)" class="close-dialog"></div>
          </div>
          <div ng-click="mobPage.editEddElem($parent.$index,$index)" class="row">
            <div class="item">
              <p class="val">{{chosenAddElem.element_qty}}</p>
              <p>{{mobPage.QTY_LABEL}}</p>
            </div>
            <div ng-if="chosenAddElem.element_width" class="item">
              <p class="val">{{chosenAddElem.element_width}}</p>
              <p>{{mobPage.WIDTH_LABEL}}</p>
            </div>
            <div ng-if="chosenAddElem.element_height" class="item">
              <p class="val">{{chosenAddElem.element_height}}</p>
              <p>{{mobPage.LENGTH_LABEL}}</p>
            </div>
            <div class="item">
              <p class="val">{{chosenAddElem.element_price | number : 2}}</p>
              <p>{{mobPage.PRICE }}</p>
            </div>
          </div>
        </div>
        <div ng-repeat="subfolder in folders.folder track by $index" ng-if="OpenSubFolder === mobPage.G.global.OpenSubFolder" ng-init="OpenItemFolder = $index" class="subfolders">
          <div ng-class="{active : mobPage.G.global.OpenItemFolder === OpenItemFolder || folders.folder.length ===1}" ng-if="subfolder.name &amp;&amp; subfolder.id" class="subfolders-name">
            <p ng-click="mobPage.showItems($index, $event, 0)" class="splice">{{subfolder.name}}</p>
            <div fs-click="mobPage.showInfoBox(subfolder.id, folders.folder)" ng-if="subfolder.img &amp;&amp; subfolder.description" class="info"></div>
          </div><img ng-click="mobPage.showItems($index, $event, 1)" ng-if="subfolder.img &amp;&amp; mobPage.G.global.cordova" ng-src="{{mobPage.extendUrl(subfolder.img)}}" class="subfolders-image"><img ng-click="mobPage.showItems($index, $event, 1)" ng-if="subfolder.img &amp;&amp; !(mobPage.G.global.cordova)" ng-src="{{subfolder.img}}" class="subfolders-image">
          <div ng-repeat="item in subfolder.subFolder track by $index" ng-if="mobPage.G.global.OpenItemFolder === OpenItemFolder || folders.folder.length ===1" class="items">
            <p ng-click="mobPage.confirmAddElemDialog(0, $index, $event, [subfolder.subFolder],item)" class="splice">{{item.name}}</p>
            <div ng-if="item.img &amp;&amp; item.description" fs-click="mobPage.showInfoBox(item.id, subfolder.subFolder)" class="info"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="mobPage.confirmAddElem" class="confirm-add-elem">
      <div ng-if="mobPage.edit" ng-click="mobPage.closeConfirmAddElem()" class="close-dialog"></div>
      <div ng-if="!mobPage.edit" ng-click="mobPage.cancelAddElem(mobPage.ChoosenAddElemGroup, mobPage.SelectedElement)" class="close-dialog"></div>
      <div ng-if="mobPage.SelectedElement.img &amp;&amp; mobPage.SelectedElement.description" fs-click="mobPage.showInfoBox(mobPage.SelectedElement.id, mobPage.SelectedElement.addElementsList)" class="info"></div>
      <div class="name"><span>{{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].name}}</span></div>
      <div class="item">
        <div class="item-name"><span>{{mobPage.COUNT}}</span></div>
        <div fs-click="mobPage.initAddElementTools((mobPage.ChoosenAddElemGroup+1), 1, mobPage.SelectedElement)" ng-keyup="mobPage.pressCulculator($event)" class="item-val"><span>{{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_qty + ' ' + mobPage.QTY_LABEL}}</span></div>
      </div>
      <div ng-if="mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_width" class="item">
        <div class="item-name"><span>{{mobPage.WIDTH_LABEL}}</span></div>
        <div fs-click="mobPage.initAddElementTools((mobPage.ChoosenAddElemGroup+1), 2, mobPage.SelectedElement)" ng-keyup="elementsPanel.pressCulculator($event)" class="item-val"><span>{{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_width + ' ' + mobPage.MM}}</span></div>
      </div>
      <div ng-if="mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_height" class="item">
        <div class="item-name"><span>{{mobPage.LENGTH_LABEL}}</span></div>
        <div fs-click="mobPage.initAddElementTools((mobPage.ChoosenAddElemGroup+1), 3, mobPage.SelectedElement)" ng-keyup="elementsPanel.pressCulculator($event)" class="item-val"><span>{{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_height + ' ' + mobPage.MM}}</span></div>
      </div>
      <div class="add-elem-price"><span>{{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_price * mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_qty | number : 2}}</span><span class="curr">{{mobPage.U.userInfo.currency}}</span></div>
      <div class="controls">
        <div ng-click="mobPage.cancelAddElem(mobPage.ChoosenAddElemGroup, mobPage.SelectedElement)" class="alert-no">
          <p>{{mobPage.DELETE}}</p>
        </div>
        <div ng-click="mobPage.closeConfirmAddElem()" class="alert-yes">
          <p>{{mobPage.ADD}}</p>
        </div>
      </div>
    </div>
    <div ng-if="mobPage.G.global.isQtyCalculator" class="mob-qty-calculator">
      <div ng-if="qtyCalc.U.userInfo.factory_id === 2" class="container">
        <table ng-controller="qtyCalculatorCtrl as qtyCalc" ng-keyup="qtyCalc.pressCulculator($event)" class="qty-calc-container">
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-1)" class="cell calc-digit">-1</button>
            </td>
            <td>
              <div class="calc-interval">
                <div class="interval">
                  <div class="calc-qty-limit">1000</div>
                  <div class="calc-label-limit">{{ ::qtyCalc.QTY_LABEL }}</div>
                </div>
              </div>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+1)" class="cell calc-digit">+1</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-5)" class="cell calc-digit">-5</button>
            </td>
            <td>
              <button fs-click="qtyCalc.closeQtyCaclulator()" class="cell calc-equal">=</button>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+5)" class="cell calc-digit">+5</button>
            </td>
          </tr>
        </table>
      </div>
      <!--rehau template-->
      <div ng-if="qtyCalc.U.userInfo.factory_id !== 2" class="container">
        <table ng-controller="qtyCalculatorCtrl as qtyCalc" ng-keyup="qtyCalc.pressCulculator($event)" class="qty-calc-container-rehau">
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-1)" class="cell calc-digit">-1</button>
            </td>
            <td>
              <div class="calc-interval">
                <div class="interval">
                  <div class="calc-qty-limit">Кол-во</div>
                </div>
              </div>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+1)" class="cell calc-digit">+1</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-5)" class="cell calc-digit">-5</button>
            </td>
            <td>
              <button fs-click="qtyCalc.closeQtyCaclulator()" class="cell calc-equal">OK</button>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+5)" class="cell calc-digit">+5</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="mobPage.U.userInfo.factory_id === 2" class="box-rehau">
    <div class="top-container">
      <div ng-if="mobilePage.isSet(1)" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Выбор шаблона</div>
          <div ng-if="!mobilePage.G.global.SelectedTemplateName" data-output="Левое глухое, правое поворотно–откидное" typing="{{ lightPage.config.typing }}" typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}" class="top-container-subtitle"></div>
          <div ng-if="mobilePage.G.global.SelectedTemplateName" class="top-container-subtitle">{{ mobilePage.G.global.SelectedTemplateName }}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile()" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 2" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Профиль</div>
          <div class="top-container-subtitle">{{ mobilePage.P.product.profile.name  }}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 3" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Стелопакет</div>
          <div class="top-container-subtitle">{{ mobilePage.P.product.glass[0].name }}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 5" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Ламинация (в комнате | фасад)</div>
          <div class="top-container-subtitle">{{ mobilePage.P.product.lamination.laminat_in_name | translate}} | {{ mobilePage.P.product.lamination.laminat_out_name | translate}}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 6" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Дополнительные элементы</div>
          <div class="top-container-subtitle">Общая цена доп. элементов ({{ mobilePage.P.product.addelemPriceDis.toFixed(0)}} руб)</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.isSet(4)" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Корзина</div>
          <div class="top-container-subtitle">Расчёт стоимости и услуги</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
    </div>
    <div class="folders-container">
      <div ng-repeat="folders in mobPage.AddElementsMobile track by $index" ng-init="OpenSubFolder = $index" class="folders">
        <div ng-click="mobPage.OpenFolder($index, $event)" ng-class="{active : OpenSubFolder === mobPage.G.global.OpenSubFolder}" class="folders-name-box">
          <p class="folders-name">{{folders.name | translate}}
            <div ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" class="arrow"><img ng-src="./img/rehau-img/white-arrow-top.png"></div>
          </p>
        </div>
        <div ng-repeat="chosenAddElem in mobPage.P.product.chosenAddElements[$index] track by $index" class="choosen-add-elem">
          <div class="row-header">
            <p class="name">{{chosenAddElem.name}}</p>
            <div ng-click="mobPage.confirmAddElemDelete($parent.$index, $index)" class="aux-delete-rehau"></div>
          </div>
          <div ng-click="mobPage.editEddElem($parent.$index,$index)" class="row">
            <div class="item">
              <p class="val">{{chosenAddElem.element_qty}} {{mobPage.QTY_LABEL}}</p>
              <p> </p>
            </div>
            <div class="item">
              <p class="val-price">{{chosenAddElem.elementPriceDis | number : 0}} руб </p>
            </div>
          </div>
        </div>
        <div ng-repeat="subfolder in folders.folder track by $index" ng-if="OpenSubFolder === mobPage.G.global.OpenSubFolder" ng-init="OpenItemFolder = $index" class="subfolders">
          <div ng-class="{active : mobPage.G.global.OpenItemFolder === OpenItemFolder || folders.folder.length ===1}" ng-if="subfolder.name &amp;&amp; subfolder.id" class="subfolders-name">
            <p ng-click="mobPage.showItems($index, $event, 0)" class="splice">{{subfolder.name}}</p>
            <div ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" class="arrow"><img ng-src="./img/rehau-img/white-arrow-top.png"></div>
            <div fs-click="mobPage.showInfoBox(subfolder.id, folders.folder)" ng-if="subfolder.img &amp;&amp; subfolder.description" class="info-rehau"></div>
          </div>
          <div ng-repeat="item in subfolder.subFolder track by $index" ng-if="mobPage.G.global.OpenItemFolder === OpenItemFolder || folders.folder.length ===1" class="items">
            <p ng-click="mobPage.confirmAddElemDialog(0, $index, $event, [subfolder.subFolder],item)" class="splice">{{item.name}}</p>
            <div ng-if="item.img &amp;&amp; item.description" fs-click="mobPage.showInfoBox(item.id, subfolder.subFolder)" class="info-rehau"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="mobPage.G.global.isQtyCalculator" class="mob-qty-calculator">
      <div ng-if="qtyCalc.U.userInfo.factory_id === 2" class="container">
        <table ng-controller="qtyCalculatorCtrl as qtyCalc" ng-keyup="qtyCalc.pressCulculator($event)" class="qty-calc-container">
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-1)" class="cell calc-digit">-1</button>
            </td>
            <td>
              <div class="calc-interval">
                <div class="interval">
                  <div class="calc-qty-limit">1000</div>
                  <div class="calc-label-limit">{{ ::qtyCalc.QTY_LABEL }}</div>
                </div>
              </div>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+1)" class="cell calc-digit">+1</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-5)" class="cell calc-digit">-5</button>
            </td>
            <td>
              <button fs-click="qtyCalc.closeQtyCaclulator()" class="cell calc-equal">=</button>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+5)" class="cell calc-digit">+5</button>
            </td>
          </tr>
        </table>
      </div>
      <!--rehau template-->
      <div ng-if="qtyCalc.U.userInfo.factory_id !== 2" class="container">
        <table ng-controller="qtyCalculatorCtrl as qtyCalc" ng-keyup="qtyCalc.pressCulculator($event)" class="qty-calc-container-rehau">
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-1)" class="cell calc-digit">-1</button>
            </td>
            <td>
              <div class="calc-interval">
                <div class="interval">
                  <div class="calc-qty-limit">Кол-во</div>
                </div>
              </div>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+1)" class="cell calc-digit">+1</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="qtyCalc.setValueQty(-5)" class="cell calc-digit">-5</button>
            </td>
            <td>
              <button fs-click="qtyCalc.closeQtyCaclulator()" class="cell calc-equal">OK</button>
            </td>
            <td>
              <button fs-click="qtyCalc.setValueQty(+5)" class="cell calc-digit">+5</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bottom-block">
      <div ng-if="!mobilePage.isSet(4) &amp;&amp; !mobilePage.isSet(1) &amp;&amp; !mobilePage.isSet(2) &amp;&amp; !mobilePage.isSet(3) &amp;&amp; !mobilePage.isSet(4) &amp;&amp; !mobilePage.isSet(5)" ng-click="mobilePage.checkForAddElem();" class="to-basket-button">
        <button class="add-to-basket">Добавить в корзину</button>
      </div>
      <div ng-if="!mobilePage.isSet(4) &amp;&amp; !mobilePage.isSet(1) &amp;&amp; !mobilePage.isSet(2) &amp;&amp; !mobilePage.isSet(3) &amp;&amp; !mobilePage.isSet(5)" class="to-basket-button-for-landing disabled">
        <button class="add-to-basket">Добавить в корзину</button>
      </div>
      <div class="price-and-coeff-block">
        <div ng-if="!mobilePage.isSet(4) &amp;&amp; !mobilePage.isSet(1) &amp;&amp; !mobilePage.isSet(2) &amp;&amp; !mobilePage.isSet(3) &amp;&amp; !mobilePage.isSet(4)" class="heat-coeff-txt"><span class="heat-coeff-span">Оценка энергоэффективности</span>
          <div ng-if="mobilePage.U.userInfo.discountConstr &gt; 0" class="price-discount-text"><span class="price-discount-span">{{mobilePage.P.product.product_price.toFixed(0)}}</span><span class="price-discount-percentage">-{{mobilePage.U.userInfo.discountConstr}}%</span></div>
        </div>
        <div ng-if="!mobilePage.isSet(4) &amp;&amp; !mobilePage.isSet(1) &amp;&amp; !mobilePage.isSet(2) &amp;&amp; !mobilePage.isSet(3) &amp;&amp; !mobilePage.isSet(4)" class="price-and-heat-coeff">
          <div class="expert-mark-row">
            <div class="expert-mark">{{mobilePage.P.product.heat_coef_expert_mark}} -</div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &lt; 6.1" class="title-rehau"><span> Для балконов</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark&gt; 6.1 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 6.5" class="title-rehau"><span> Нормально</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 6.5 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 7" class="title-rehau"><span> Достаточно хорошо!</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 7 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 7.5" class="title-rehau"><span> Хорошо!</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 7.5 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 8.2" class="title-rehau"><span> Очень хорошо!</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 8.2 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 9" class="title-rehau"><span> Отлично!</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 9 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 9.4" class="title-rehau"><span> Превосходно!</span></div>
            <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 9.4" class="title-rehau"><span> Лучший выбор!</span></div>
          </div>
          <div class="price-block">
            <price price-value="mobilePage.G.global.tempPrice" price-currency="mobilePage.U.userInfo.currency" ng-click="mobilePage.checkForAddElem()"></price>
          </div>
        </div>
      </div>
      <div ng-if="mobilePage.isSet(4)" class="price-total">
        <div class="total-txt"><span>Итого:</span></div>
        <div class="price-total-price">  
          <div ng-if="mobilePage.U.userInfo.discountConstr &gt; 0" class="price-discount-text"><span class="price-discount-span">{{cartPage.O.order.order_price.toFixed(0)}}</span><span class="price-discount-percentage">-{{mobilePage.U.userInfo.discountConstr}}%</span></div>
          <price price-value="cartPage.O.order.orderPricePrimaryDis" price-currency="cartPage.U.userInfo.currency"></price>
        </div>
      </div>
      <!--main screen-->
      <div ng-if="!mobilePage.isSet(4)" class="control-buttons-container-rehau">
        <div class="mobile-price-block-rehau">
          <div fs-click="mobilePage.closePanelMobile()" ng-class="{'active': mobilePage.isSet(0)}" class="menu-block">
            <div class="menu-icon"> <img src="./img/rehau-img/razmeri.svg" alt="rectangle" class="active-img"></div>
            <div class="menu-text">Размеры</div>
          </div>
          <div fs-click="mobilePage.setTab(1)" ng-class="{'active': mobilePage.isSet(1)}" class="menu-block">
            <div class="menu-icon"> <img src="./img/rehau-img/shabloni.svg" alt="template" class="active-img"></div>
            <div class="menu-text">Конструкции</div>
          </div>
          <div fs-click="mobilePage.setTab(5)" ng-class="{'active': mobilePage.isSet(5)}" class="menu-block">
            <div class="menu-icon"> <img src="./img/rehau-img/settings.svg" alt="settings" class="active-img"></div>
            <div class="menu-text">Параметры</div>
          </div>
          <div fs-click="mobilePage.checkSavingProductMobile()" ng-class="{'active': mobilePage.isSet(4)}" class="menu-block basket-mobile">
            <div class="menu-icon-basket"><img src="./img/rehau-img/korzina.svg" alt="basket-icon" class="active-img">
              <input readonly="readonly" ng-model="mobilePage.G.global.construction_count" class="construction-count-mobile">
            </div>
            <div class="menu-text">Корзина</div>
          </div>
          <div class="menu-block for-landing-mobile disabled">
            <div class="menu-icon-basket"><img src="./img/rehau-img/korzina.svg" alt="basket-icon" class="active-img">
              <input readonly="readonly" ng-model="mobilePage.G.global.construction_count" class="construction-count-mobile">
            </div>
            <div class="menu-text">Корзина</div>
          </div>
        </div>
      </div>
      <!--basket-->
      <div ng-if="mobilePage.isSet(4)" class="go-to-spec">
        <button ng-click="mobilePage.openOrderDialog()" class="spec">Оставить заявку</button>
        <button ng-click="cartPage.addNewProductInOrder()" class="add-product-rehau">Добавить окно</button>
      </div>
    </div>
  </div>
</div>