
<div ng-controller="AddElemCartCtrl as elemCartPanel" ng-class="{'active': cartPage.C.cart.isAllAddElems}" class="alladdelements-view-mobiile">
  <div class="add-elem-header-mobile cart-header">
    <div ng-click="cartPage.C.cart.isAllAddElems = 0" class="back-button"></div>
    <div class="add-elem-price">
      <label>{{cartPage.TOTAL_PRICE_SHORT}}&nbsp;{{ cartPage.C.cart.addElemsOrderPriceTOTAL }} {{ cartPage.U.userInfo.currency }}</label>
    </div>
  </div>
  <div class="add-elems-scroll">
    <div ng-repeat="elemType in elemCartPanel.config.addElementDATA track by $index" class="add-elem-item">
      <div ng-if="(cartPage.C.cart.allAddElemsOrder | filter: {list_group_id: elemType.id}).length &amp;&amp; elemType.mainTypeMenu" class="add-elem-current">
        <div class="add-elem-current-title dynamic-gray">
          <label>{{ elemCartPanel.config.addElementDATA[$index].name | translate }}</label>
        </div>
        <div ng-repeat="addElem in cartPage.C.cart.allAddElemsOrder | filter: {list_group_id: elemType.id} track by $index" ng-if="addElem.list_group_id === elemType.id" class="add-elem-current-row">
          <div class="add-elem-row-title dynamic-gray">
            <label class="splice">{{ addElem.name }}</label>
            <div fs-click="elemCartPanel.deleteAddElemsItem(addElem,cartPage.C.cart.selectedProduct)" class="order-delete"></div>
          </div>
          <div class="add-elem-row-info dynamic-gray">
            <div class="add-elem-row">
              <label ng-show="addElem.element_qty">{{ addElem.element_qty }}</label><span ng-show="addElem.element_qty">{{ ::cartPage.QTY_LABEL }}</span>
            </div>
            <div class="add-elem-row">
              <label ng-if="cartPage.U.userInfo.factory_id===1966" ng-show="addElem.element_width">{{ addElem.element_width*0.0393701 | number : 0  }}</label>
              <label ng-if="cartPage.U.userInfo.factory_id!==1966" ng-show="addElem.element_width">{{ addElem.element_width }}</label><span ng-show="addElem.element_width">{{ ::cartPage.MM }}</span>
            </div>
            <div class="add-elem-row">
              <label ng-if="cartPage.U.userInfo.factory_id===1966" ng-show="addElem.element_height">{{ addElem.element_height*0.0393701 | number : 0  }}</label>
              <label ng-if="cartPage.U.userInfo.factory_id!==1966" ng-show="addElem.element_height">{{ addElem.element_height }}</label><span ng-show="addElem.element_height">{{ ::cartPage.MM }}</span>
            </div>
            <div class="add-elem-row red-color">
              <label>{{ addElem.element_qty * addElem.elementPriceDis }} {{ cartPage.U.userInfo.currency }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>