
<div ng-controller="CartCtrl as cartPage" ng-if="mobilePage.isSet(4)" class="cart-mobile mobile-common-panel">
  <div class="cart-header">
    <div ng-click="mobilePage.closePanelMobile(1)" class="back-button"></div>
    <div ng-click="cartPage.showAllAddElements()" class="header-buttons alert-no">
      <label>{{cartPage.SORT_SHOW}}</label>
      <label>{{cartPage.NAVMENU_ADD_ELEMENTS}}</label>
    </div>
    <div ng-click="cartPage.showMoundDeliveryFunc()" class="header-buttons alert-no">
      <label>{{cartPage.ADD}}</label>
      <label>{{cartPage.DELIVERY_MOUNTINGS}}</label>
    </div>
  </div>
  <div class="product-container">
    <div ng-click="cartPage.addNewProductInOrder()" class="add-product alert-no">
      <label>{{'+ '+cartPage.ADD_PRODUCT}}</label>
    </div>
    <div ng-repeat="product in cartPage.O.order.products track by $index" class="product">
      <div class="col">
        <div ng-click="cartPage.clickDeleteProduct($index)" class="order-delete"></div>
        <div class="prod-number">
          <label>{{$index+1+"."}}</label>
        </div>
        <div ng-click="cartPage.showCartTemplte($index)" class="prod-template">
          <svg-template template="product.templateIcon" template-width="cartPage.constants.svgTemplateIconWidthCart" template-height="cartPage.constants.svgTemplateIconHeightCart" type-construction="cartPage.constants.SVG_CLASS_ICON"></svg-template>
        </div>
        <div class="prod-heat-coef">
          <div ng-if="cartPage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': product.heat_coef_total &lt; cartPage.O.order.heat_coef_min}" class="order-u-coeff">
            <div class="R-MInfo">{{ product.heat_coef_total | number : 2 }} {{"\u00A0"+"\u00A0"}}</div>
            <div class="R-MInfo">{{ ::cartPage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::cartPage.HEATCOEF_VAL +"\u00A0" }}</div>
          </div>
          <div ng-if="!cartPage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': product.heat_coef_total &gt; cartPage.O.order.heat_coef_min}" class="order-u-coeff">
            <div>U = {{ product.heat_coef_total | number : 2}}</div>
            <div>{{ ::cartPage.HEATCOEF_VAL }}/{{ ::cartPage.LETTER_M }} &sup2;&middot;&deg;C</div>
          </div>
        </div>
        <div price-fixed="{{product.productPriceDis}}" qty-element="{{product.product_qty}}" currency-element="{{cartPage.U.userInfo.currency}}" class="prod-price"></div>
        <div class="prod-count">
          <div ng-click="cartPage.decreaseProductQty($index)" class="count-button">
            <label>-</label>
          </div>
          <div class="count">{{ product.product_qty }} {{cartPage.QTY_LABEL}}</div>
          <div ng-click="cartPage.increaseProductQty($index)" class="count-button">
            <label>+</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="order-item">
          <div ng-if="cartPage.U.userInfo.factory_id!==1966" class="order-value">{{ product.template_width }} {{ ::cartPage.MM +"*"}} {{ product.template_height }} {{ ::cartPage.MM }}</div>
          <div ng-if="cartPage.U.userInfo.factory_id===1966" class="order-value splice">{{ product.template_width *0.0393701 | number : 0}} {{ ::cartPage.INCH +"\u00A0 *\u00A0"}} {{ product.template_height *0.0393701 | number : 0}} {{ ::cartPage.INCH }}</div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_SIZING }}</div>
        </div>
        <div class="order-item">
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'en'" class="order-value">{{ product.profile.translate.en }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ru'" class="order-value">{{ product.profile.translate.ru }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'uk'" class="order-value">{{ product.profile.translate.ua }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'pl'" class="order-value">{{ product.profile.translate.pl }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'de'" class="order-value">{{ product.profile.translate.de }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'bg'" class="order-value">{{ product.profile.translate.bg }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'it'" class="order-value">{{ product.profile.translate.it }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'es'" class="order-value">{{ product.profile.translate.es }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ro'" class="order-value">{{ product.profile.translate.ro }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'en' &amp;&amp; !product.profile.translate.en" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ru' &amp;&amp; !product.profile.translate.ru" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'uk' &amp;&amp; !product.profile.translate.ua" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'pl' &amp;&amp; !product.profile.translate.pl" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'de' &amp;&amp; !product.profile.translate.de" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'bg' &amp;&amp; !product.profile.translate.bg" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'it' &amp;&amp; !product.profile.translate.it" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'es' &amp;&amp; !product.profile.translate.es" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ro' &amp;&amp; !product.profile.translate.ro" class="order-value">{{ product.profile.name }}</div>
          <div ng-if="product.construction_type === 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'en'" class="order-value">{{ product.doorSashName }}</div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_PROFILE }}</div>
        </div>
        <div ng-if="product.glass.length &gt; 1" class="order-item">
          <div class="order-value">{{ product.glass[0].sku + ', ...' }}</div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_GLASS }}</div>
        </div>
        <div ng-if="product.glass.length &lt;= 1" class="order-item">
          <div class="order-value">{{ product.glass[0].sku }}</div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_GLASS }}</div>
        </div>
        <div class="order-item">
          <div ng-if="product.construction_type === 4" class="order-value">{{ product.doorHandle.name }} / {{ product.doorLock.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'en'" class="order-value">{{ product.hardware.translate.en }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ru'" class="order-value">{{ product.hardware.translate.ru }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'uk'" class="order-value">{{ product.hardware.translate.ua }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'pl'" class="order-value">{{ product.hardware.translate.pl }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'de'" class="order-value">{{ product.hardware.translate.de }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'bg'" class="order-value">{{ product.hardware.translate.bg }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'it'" class="order-value">{{ product.hardware.translate.it }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'es'" class="order-value">{{ product.hardware.translate.es }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ro'" class="order-value">{{ product.hardware.translate.ro }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'en' &amp;&amp; !product.hardware.translate.en" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ru' &amp;&amp; !product.hardware.translate.ru" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'uk' &amp;&amp; !product.hardware.translate.ua" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'pl' &amp;&amp; !product.hardware.translate.pl" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'de' &amp;&amp; !product.hardware.translate.de" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'bg' &amp;&amp; !product.hardware.translate.bg" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'it' &amp;&amp; !product.hardware.translate.it" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'es' &amp;&amp; !product.hardware.translate.es" class="order-value">{{ product.hardware.name }}</div>
          <div ng-if="product.construction_type !== 4 &amp;&amp; cartPage.U.userInfo.langLabel === 'ro' &amp;&amp; !product.hardware.translate.ro" class="order-value">{{ product.hardware.name }}</div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_HARDWARE }}</div>
        </div>
        <div class="order-item">
          <div class="order-value"><span ng-if="product.lamination.lamination_in_id &gt; 1">{{ product.lamination.laminat_in_name }}</span><span ng-if="product.lamination.lamination_in_id === 1">{{ product.lamination.laminat_in_name |translate }}</span><span>/</span><span ng-if="product.lamination.lamination_out_id &gt; 1">{{ product.lamination.laminat_out_name }}</span><span ng-if="product.lamination.lamination_out_id === 1">{{ product.lamination.laminat_out_name |translate }}</span></div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_LAMINATION }}</div>
        </div>
        <!--.order-item.addelements-btn(fs-click="cartPage.showAddElementDetail($index)")-->
        <div class="order-item addelements-btn">
          <div class="order-value">{{cartPage.C.cart.allAddElements[$index].length + cartPage.coutNull(cartPage.O.order.products[$index].services_price_arr)}}
            <ng-pluralize count="cartPage.C.cart.allAddElements[$index].length" when="{'0': '{{ cartPage.config.elements }}', '1': '{{ cartPage.config.element }}', '2': '{{ cartPage.config.elementa }}', '3': '{{ cartPage.config.elementa }}', '4': '{{ cartPage.config.elementa }}', 'other': '{{ cartPage.config.elements }}'}"></ng-pluralize>
          </div>
          <div class="order-label">{{ ::cartPage.CONFIGMENU_ADDITIONAL }}</div>
        </div>
        <div ng-click="cartPage.mobileBox($index, 'product')" class="order-edit alert-no"><span>{{::cartPage.BUTTON_E}}</span></div>
      </div>
    </div>
    <div ng-if="cartPage.O.order.products.length === 1" class="empty"></div>
  </div>
  <div class="cart-footer-container">
    <div class="cart-footer">
      <div ng-click="cartPage.swipeDiscountBlock()" class="price">
        <price price-value="cartPage.O.order.orderPricePrimaryDis" price-currency="cartPage.U.userInfo.currency"></price>
      </div>
      <div ng-click="cartPage.openOrderDialog()" class="spesification">
        <label>{{cartPage.ORDER_LV}}</label>
      </div>
    </div>
  </div>
  <div ng-show="cartPage.C.cart.showCurrentTemp" class="template-window">
    <div ng-click="cartPage.C.cart.showCurrentTemp=0" class="order-delete"></div>
    <div ng-click="cartPage.mobileBox(cartPage.C.cart.curProd, 'product')" class="order-edit alert-no"><span>{{::cartPage.BUTTON_E}}</span></div>
    <svg-template template="cartPage.O.order.products[cartPage.C.cart.curProd].template" template-width="mobilePage.mobWidthGlass" template-height="mobilePage.mobWidthGlass" type-construction="cartPage.constants.SVG_ID_GLASS"></svg-template>
  </div>
  <div ng-if="cartPage.config.isAddElementDetail" class="addelements-detail">
    <div class="addelements-detail-header">
      <div class="addelements-detail-tools">
        <button fs-click="cartPage.editProduct(cartPage.config.detailProductIndex, 'auxiliary')" class="addelements-detail-edit">{{ ::cartPage.ADDELEMENTS_EDIT_LIST }}</button>
        <div fs-click="cartPage.closeAddElementDetail()" class="order-delete"></div>
      </div>
      <div ng-hide="cartPage.O.order.products[cartPage.config.detailProductIndex].is_addelem_only" class="product-template">
        <div class="addelements-detail-row">
          <div class="product-value">
            <div class="product-icon-thumb">
              <svg-template template="cartPage.O.order.products[cartPage.config.detailProductIndex].templateIcon" template-width="cartPage.constants.svgTemplateIconWidth" template-height="cartPage.constants.svgTemplateIconHeight" type-construction="cartPage.constants.SVG_CLASS_ICON"></svg-template>
            </div><span class="product-template-qty">X {{ cartPage.O.order.products[cartPage.config.detailProductIndex].product_qty }}</span>
          </div>
          <div class="product-icon-label">{{ ::cartPage.PRODUCT_QTY }}</div>
        </div>
        <div class="addelements-detail-row">
          <div ng-if="cartPage.U.userInfo.factory_id!==1966" class="product-value">{{ cartPage.O.order.products[cartPage.config.detailProductIndex].template_width }} {{ ::cartPage.MM }} *</div>
          <div ng-if="cartPage.U.userInfo.factory_id===1966" class="product-value">{{ cartPage.O.order.products[cartPage.config.detailProductIndex].template_width*0.0393701 | number : 0 }} {{ ::cartPage.INCH }} *</div>
          <div class="product-label">{{ ::cartPage.WIDTH_LABEL }}</div>
        </div>
        <div class="addelements-detail-row">
          <div ng-if="cartPage.U.userInfo.factory_id!==1966" class="product-value">{{ cartPage.O.order.products[cartPage.config.detailProductIndex].template_height }} {{ ::cartPage.MM }}</div>
          <div ng-if="cartPage.U.userInfo.factory_id===1966" class="product-value">{{ cartPage.O.order.products[cartPage.config.detailProductIndex].template_height*0.0393701 | number : 0 }} {{ ::cartPage.INCH }}</div>
          <div class="product-label">{{ ::cartPage.HEIGHT_LABEL }}</div>
        </div>
      </div>
    </div>
    <!--.addelements-detail-content
    .addelements-detail-list
        .addelements-detail-item(ng-repeat="addelement in cartPage.C.cart.allAddElements[cartPage.config.detailProductIndex] track by $index", ng-switch="addelement.element_type")
            .product-value {{ addelement.name }}
            .product-value(ng-switch-when="0") {{ ::cartPage.GRID }}
            .product-value(ng-switch-when="1") {{ ::cartPage.VISOR }}
            .product-value(ng-switch-when="2") {{ ::cartPage.SPILLWAY }}
            .product-value(ng-switch-when="3") {{ ::cartPage.OUTSIDE }}
            .product-value(ng-switch-when="4") {{ ::cartPage.LOUVERS }}
            .product-value(ng-switch-when="5") {{ ::cartPage.INSIDE }}
            .product-value(ng-switch-when="6") {{ ::cartPage.CONNECTORS }}
            .product-value(ng-switch-when="7") {{ ::cartPage.FAN }}
            .product-value(ng-switch-when="8") {{ ::cartPage.WINDOWSILL }}
            .product-value(ng-switch-when="9") {{ ::cartPage.HANDLEL }}
            .product-value(ng-switch-when="10") {{ ::cartPage.OTHERS }}
            .addelement-parameters
                .addelement-parameter(ng-show="addelement.element_width")
                    .addelement-value(ng-if='cartPage.U.userInfo.factory_id===1966') {{ addelement.element_width*0.0393701 | number : 0  }}
                    .addelement-value(ng-if='cartPage.U.userInfo.factory_id!==1966') {{ addelement.element_width }}
                    .addelement-label {{ ::cartPage.WIDTH_LABEL }}
                .addelement-parameter(ng-show="addelement.element_height")
                    .addelement-value(ng-if='cartPage.U.userInfo.factory_id===1966') {{ addelement.element_height*0.0393701 | number : 0  }}
                    .addelement-value(ng-if='cartPage.U.userInfo.factory_id!==1966') {{ addelement.element_height }}
                    .addelement-label {{ ::cartPage.HEIGHT_LABEL }}
                .addelement-parameter(ng-show="addelement.element_qty")
                    .addelement-value {{ addelement.element_qty }}
                    .addelement-label {{ ::cartPage.QTY_LABEL }}
            .addelement-parameters
                .addelement-price-value + {{ addelement.element_qty * addelement.elementPriceDis }} {{ cartPage.U.userInfo.currency }}
                .addelement-label ({{ addelement.element_qty }} x {{ addelement.elementPriceDis }}{{ cartPage.U.userInfo.currency }})
    .service-block
        .sb-1(ng-if="cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[0]")
            | {{cartPage.SERV1}} - {{cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[0]}} {{cartPage.U.userInfo.currency}}
        .sb-2(ng-if="cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[1]")
            | {{cartPage.SERV2}} - {{cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[1]}} {{cartPage.U.userInfo.currency}}
        .sb-3(ng-if="cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[2]")
            | {{cartPage.SERV3}} - {{cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[2]}} {{cartPage.U.userInfo.currency}}
        .sb-4(ng-if="cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[3]")
            | {{cartPage.SERV4}} - {{cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[3]}} {{cartPage.U.userInfo.currency}}
        .sb-5(ng-if="cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[4]")
            | {{cartPage.OTHER }}- {{cartPage.O.order.products[cartPage.config.detailProductIndex].services_price_arr[4]}} {{cartPage.U.userInfo.currency}}
    .addelements-detail-row.price-one-product
        .addelement-price-value(price-fixed="{{cartPage.O.order.products[cartPage.config.detailProductIndex].addelemPriceDis+ cartPage.O.order.products[cartPage.config.detailProductIndex].service_price_dis}}", qty-element="1", currency-element="{{cartPage.U.userInfo.currency}}")
        .product-label {{ ::cartPage.ADDELEMENTS_PRODUCT_COST }}
    -->
    <div class="addelements-detail-footer">
      <div price-fixed="{{cartPage.O.order.products[cartPage.config.detailProductIndex].addelemPriceDis + cartPage.O.order.products[cartPage.config.detailProductIndex].service_price_dis}}" qty-element="{{cartPage.O.order.products[cartPage.config.detailProductIndex].product_qty}}" currency-element="{{cartPage.U.userInfo.currency}}"></div>
      <div>&#8721;</div>
    </div>
  </div>
  <div ng-if="cartPage.G.global.showMountDelivery" class="mount-delivery">
    <div class="mount-delivery-header">
      <div ng-click="cartPage.cancelMoundDeliveryFunc()" class="header-buttons alert-no">
        <label>{{mobilePage.CANCEL}}</label>
      </div>
      <div ng-click="cartPage.showMoundDeliveryFunc()" class="header-buttons alert-yes">
        <label>{{mobilePage.APPLY}}</label>
      </div>
    </div>
    <div ng-controller="CartMenuCtrl as cartMenu" class="mount-delivery-mountings-container">
      <div class="mobile-delivery gray"> 
        <div ng-click="cartMenu.selectMenuItem(1)" class="mobile-delivery-title">
          <label>{{::cartMenu.DELIVERY}}</label>
        </div>
        <div ng-if="cartMenu.O.order.floor_id" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label>{{cartMenu.O.order.floorName}}</label>
          </div>
          <div class="mobile-delivery-price">
            <label>{{ cartMenu.O.order.floor_price }} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-if="cartMenu.O.order.delivery_garbage_removal" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label>{{ ::cartMenu.GARBAGE_REMOVE  }}</label>
          </div>
          <div class="mobile-delivery-price">
            <label>{{ cartMenu.O.order.delivery_garbage_removal }} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-if="cartMenu.O.order.delivery_add" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected"> 
          <div class="mobile-delivery-value">
            <label>{{ ::cartMenu.DELIVERY}}</label>
          </div>
          <div class="mobile-delivery-price">
            <label>{{ cartMenu.O.order.delivery_add }} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-if="!cartMenu.O.order.floor_id" ng-hide="cartMenu.config.activeMenuItem == 1" class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label> {{ ::cartMenu.SELF_EXPORT }}</label>
          </div>
          <div class="mobile-delivery-price">
            <label>{{ 0 }} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-if="cartMenu.config.activeMenuItem == 1 &amp;&amp; cartMenu.G.global.supplyData.length" class="mobile-delivery-items">
          <div fs-click="cartMenu.selectFloorPrice(0)" ng-class="{'selected': !cartMenu.O.order.floor_id}" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
            <div class="mobile-delivery-value">
              <label>{{ ::cartMenu.SELF_EXPORT }}</label>
            </div>
            <div class="mobile-delivery-price">
              <label>{{ 0 }} {{ cartMenu.U.userInfo.currency }}</label>
            </div>
          </div>
          <div ng-repeat="supplyList in cartMenu.G.global.supplyData" ng-class="{'selected': supplyList.id == cartMenu.O.order.floor_id}" fs-click="cartMenu.selectFloorPrice(supplyList)" ng-click="cartMenu.config.activeMenuItem = 0" onClick="this.setSelectionRange(0, this.value.length)" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{supplyList.name}} {{ ::cartMenu.FLOOR }}</div>
            <div class="name drop-txt"> {{supplyList.priceReal}} {{ cartMenu.U.userInfo.currency }}</div>
          </div>
          <div ng-class="{'selected': cartMenu.O.order.delivery_add}" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.DELIVERY }}</div>
            <div class="mobile-delivery-value">
              <input ng-model="cartMenu.O.order.delivery_add" ng-change="cartMenu.changeVal(cartMenu.O.order.delivery_add)" ng-keydown="cartMenu.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" class="name drop-txt only-numbers">
              <div class="name drop-txt">{{ cartMenu.U.userInfo.currency }}</div>
            </div>
          </div>
          <div ng-class="{'selected': cartMenu.O.order.delivery_garbage_removal}" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.GARBAGE_REMOVE }}</div>
            <div class="mobile-delivery-value">
              <input ng-model="cartMenu.O.order.delivery_garbage_removal" ng-change="cartMenu.changeVal(cartMenu.O.order.delivery_garbage_removal)" ng-keydown="cartMenu.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" class="name drop-txt only-numbers">
              <div class="name drop-txt">{{ cartMenu.U.userInfo.currency }}</div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="cartMenu.G.global.disassemblyData.length" class="mobile-delivery">
        <div ng-click="cartMenu.selectMenuItem(7)" class="mobile-delivery-title">
          <label>{{::cartMenu.DIS_ASSEMBLING}}</label>
        </div>
        <div ng-hide="cartMenu.config.activeMenuItem == 7" class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label ng-show="!cartMenu.O.order.dismantling_id">{{ ::cartMenu.WITHOUT_DIS_ASSEMBLING }}</label>
            <label ng-show="cartMenu.O.order.dismantling_id">{{ cartMenu.O.order.dismantling_name }}</label>
          </div>
          <div class="mobile-delivery-price">
            <label> {{ cartMenu.O.order.dismantling_price}} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-if="cartMenu.config.activeMenuItem == 7 &amp;&amp; cartMenu.G.global.disassemblyData.length" class="mobile-delivery-items">
          <div ng-class="{'selected': !cartMenu.O.order.dismantling_id}" fs-click="cartMenu.selectDisAssembling(0)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.WITHOUT_ASSEMBLING }}</div>
            <div class="name drop-txt">{{ ::cartMenu.FREE }}</div>
          </div>
          <div ng-repeat="assemb in cartMenu.G.global.disassemblyData" ng-class="{'selected': assemb.id == cartMenu.O.order.dismantling_id}" fs-click="cartMenu.selectDisAssembling(assemb)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{ assemb.name }}</div>
            <div class="name drop-txt"> {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}</div>
          </div>
        </div>
      </div>
      <div ng-if="cartMenu.G.global.assemblingData.length" class="mobile-delivery gray">
        <div ng-click="cartMenu.selectMenuItem(2)" class="mobile-delivery-title">
          <label>{{::cartMenu.ASSEMBLING }}</label>
        </div>
        <div ng-hide="cartMenu.config.activeMenuItem == 2" class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label ng-show="!cartMenu.O.order.mounting_id">{{ ::cartMenu.WITHOUT_ASSEMBLING }}</label>
            <label ng-show="cartMenu.O.order.mounting_id">{{ cartMenu.O.order.mountingName }}</label>
          </div>
          <div class="mobile-delivery-price">
            <label> {{ cartMenu.O.order.mounting_price }} {{ cartMenu.U.userInfo.currency }}</label>
          </div>
        </div>
        <div ng-if="cartMenu.config.activeMenuItem == 2 &amp;&amp; cartMenu.G.global.assemblingData.length" class="mobile-delivery-items">
          <div ng-class="{'selected': !cartMenu.O.order.mounting_id}" fs-click="cartMenu.selectAssembling(0)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{ ::cartMenu.WITHOUT_ASSEMBLING }}</div>
            <div class="name drop-txt">{{ ::cartMenu.FREE }}</div>
          </div>
          <div ng-repeat="assemb in cartMenu.G.global.assemblingData" ng-class="{'selected': assemb.id == cartMenu.O.order.mounting_id}" fs-click="cartMenu.selectAssembling(assemb)" ng-click="cartMenu.config.activeMenuItem = 0" class="mobile-delivery-selected">
            <div class="mobile-delivery-value drop-txt">{{ assemb.name }}</div>
            <div class="name drop-txt"> {{ assemb.priceReal }} {{ cartMenu.U.userInfo.currency }}</div>
          </div>
        </div>
      </div>
      <div class="mobile-delivery"> 
        <div ng-click="cartMenu.selectMenuItem(6)" class="mobile-delivery-title">
          <label>{{::cartMenu.ADD_SERVICES }}</label>
        </div>
        <div class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label>{{::cartMenu.ADD_SERVICES_SHORT }}</label>
          </div>
          <div class="mobile-delivery-price">
            <input ng-model="cartMenu.O.order.sale_price" ng-change="cartMenu.changeVal(cartMenu.O.order.sale_price)" ng-keydown="cartMenu.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" class="comment-field noPreventDefault only-numbers">
            <label>{{cartMenu.U.userInfo.currency}}</label>
          </div>
        </div>
      </div>
      <div class="mobile-delivery gray">
        <div ng-click="cartMenu.selectMenuItem(5)" class="mobile-delivery-title">
          <label>{{::cartMenu.COMMENT }}</label>
        </div>
        <div class="mobile-delivery-selected">
          <div class="mobile-delivery-value">
            <label class="splice-comment">{{ cartMenu.O.order.comment }}</label>
          </div>
        </div>
        <div ng-if="cartMenu.config.activeMenuItem == 5" class="mobile-delivery-items"> 
          <textarea ng-model="cartMenu.O.order.comment" class="comment-field noPreventDefault"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="cartPage.C.cart.isShowDiscount" class="mobile-discount fullScreen">
    <div class="mobile-discount-row">
      <label>{{ ::cartPage.PRICE}}</label>
    </div>
    <div class="mobile-discount-row">
      <div class="discount-price-box">
        <div class="discount-price-label">{{ ::cartPage.DISCOUNT_WITHOUT }}</div>
        <div class="discount-price">{{ cartPage.O.order.order_price }} {{cartPage.U.userInfo.currency}}</div>
      </div>
      <div class="discount-price-box">
        <div class="discount-price-label">{{ ::cartPage.DISCOUNT_WITH }}</div>
        <div class="discount-price">{{ cartPage.O.order.productsPriceDis }} {{cartPage.U.userInfo.currency}}</div>
      </div>
    </div>
    <div class="mobile-discount-row">
      <label>{{ ::cartPage.DISCOUNT}}</label>
    </div>
    <div class="mobile-discount-col">
      <div ng-click="cartPage.toggleDiscount()" class="discount-box selected">
        <div class="discount-data">
          <label id="disc-input-main" class="disc-input noPreventDefault">{{cartPage.C.cart.averageDisc | number : 1}}</label>
          <label>%</label>
        </div>
        <div class="discount-txt-arrow">
          <div class="discounts-label">{{ cartPage.C.cart.discountPriceDiff }} {{cartPage.U.userInfo.currency}}</div>
          <div ng-if="!cartPage.G.global.toggleDiscount" class="discounts-icon-down"></div>
          <div ng-if="cartPage.G.global.toggleDiscount" class="discounts-icon-up"></div>
        </div>
      </div>
      <div ng-if="cartPage.G.global.toggleDiscount" class="disc">
        <div class="discount-box selected">
          <div ng-keyup="cartPage.enterKeyPrice($event)" class="discount-data red">
            <div ng-show="cartPage.C.cart.tempConstructDisc &gt; cartPage.U.userInfo.discountConstrMax" class="disc-max">{{ ::cartPage.MAX }} {{cartPage.U.userInfo.discountConstrMax}}%</div>
            <input id="disc-input" data-ng-keydown="cartPage.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" ng-model="cartPage.C.cart.tempConstructDisc" ng-change="cartPage.approveNewDisc(0)" class="disc-input noPreventDefault">%
          </div>
          <div ng-click="cartPage.approveNewDisc(0)" class="discount-txt">
            <div class="discounts-label">{{ ::cartPage.DISCOUNT_WINDOW }}</div>
          </div>
        </div>
        <div class="discount-box selected">
          <div ng-keyup="cartPage.enterKeyDop(event)" class="discount-data red">
            <div ng-show="cartPage.C.cart.tempAddelemDisc &gt; cartPage.U.userInfo.discountAddElemMax" class="disc-max">{{ ::cartPage.MAX }} {{cartPage.U.userInfo.discountAddElemMax}}%</div>
            <input id="disc-input-add" data-ng-keydown="cartPage.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" ng-model="cartPage.C.cart.tempAddelemDisc" ng-change="cartPage.approveNewDisc(1)" class="disc-input noPreventDefault">%
          </div>
          <div ng-click="cartPage.approveNewDisc(1)" class="discount-txt">
            <div class="discounts-label">{{ cartPage.DISCOUNT_ADDELEM }}</div>
          </div>
        </div>
        <div class="discount-box selected">
          <div ng-keyup="cartPage.enterKeyDopService(event)" class="discount-data red">
            <div ng-show="cartPage.U.userInfo.discount_service &gt; 100" class="disc-max">{{ ::cartPage.MAX }} {{'100'}}%</div>
            <input id="disc-input-service" data-ng-keydown="cartPage.keyUp($event)" onClick="this.setSelectionRange(0, this.value.length)" ng-model="cartPage.C.cart.discount_service" ng-change="cartPage.approveNewDisc(2)" class="disc-input noPreventDefault">%
          </div>
          <div ng-click="cartPage.approveNewDisc(2)" class="discount-txt">
            <div class="discounts-label">{{cartPage.DISCOUNT_SERVICE}}</div>
          </div>
        </div>
      </div>
    </div>
    <div ng-click="cartPage.swipeDiscountBlock()" class="mobile-discount-row delete">
      <label>{{mobilePage.APPLY}}</label>
    </div>
  </div>
  <div ng-controller="AddElemCartCtrl as elemCartPanel" ng-class="{'active': cartPage.C.cart.isAllAddElems}" class="alladdelements-view-mobiile">
    <div class="add-elem-header-mobile cart-header">
      <div ng-click="cartPage.C.cart.isAllAddElems = 0" class="back-button"></div>
      <div class="add-elem-price">
        <label>{{cartPage.TOTAL_PRICE_SHORT}}&nbsp;{{ cartPage.C.cart.addElemsOrderPriceTOTAL }} {{ cartPage.U.userInfo.currency }}</label>
      </div>
    </div>
    <div class="add-elems-scroll">
      <div ng-repeat="elemType in elemCartPanel.config.addElementDATA track by $index" class="add-elem-item">
        <div ng-if="(cartPage.C.cart.allAddElemsOrder | filter: {list_group_id: elemType.id}).length &amp;&amp; elemType.mainTypeMenu" class="add-elem-current">
          <div class="add-elem-current-title dynamic-gray">
            <label>{{ elemCartPanel.config.addElementDATA[$index].name | translate }}</label>
          </div>
          <div ng-repeat="addElem in cartPage.C.cart.allAddElemsOrder | filter: {list_group_id: elemType.id} track by $index" ng-if="addElem.list_group_id === elemType.id" class="add-elem-current-row">
            <div class="add-elem-row-title dynamic-gray">
              <label class="splice">{{ addElem.name }}</label>
              <div fs-click="elemCartPanel.deleteAddElemsItem(addElem,cartPage.C.cart.selectedProduct)" class="order-delete"></div>
            </div>
            <div class="add-elem-row-info dynamic-gray">
              <div class="add-elem-row">
                <label ng-show="addElem.element_qty">{{ addElem.element_qty }}</label><span ng-show="addElem.element_qty">{{ ::cartPage.QTY_LABEL }}</span>
              </div>
              <div class="add-elem-row">
                <label ng-if="cartPage.U.userInfo.factory_id===1966" ng-show="addElem.element_width">{{ addElem.element_width*0.0393701 | number : 0  }}</label>
                <label ng-if="cartPage.U.userInfo.factory_id!==1966" ng-show="addElem.element_width">{{ addElem.element_width }}</label><span ng-show="addElem.element_width">{{ ::cartPage.MM }}</span>
              </div>
              <div class="add-elem-row">
                <label ng-if="cartPage.U.userInfo.factory_id===1966" ng-show="addElem.element_height">{{ addElem.element_height*0.0393701 | number : 0  }}</label>
                <label ng-if="cartPage.U.userInfo.factory_id!==1966" ng-show="addElem.element_height">{{ addElem.element_height }}</label><span ng-show="addElem.element_height">{{ ::cartPage.MM }}</span>
              </div>
              <div class="add-elem-row red-color">
                <label>{{ addElem.element_qty * addElem.elementPriceDis }} {{ cartPage.U.userInfo.currency }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="cartPage.C.cart.showCurrentTemp || cartPage.config.isAddElementDetail" class="backDarkView"></div>
</div>