
<div ng-controller="ConfigMenuCtrl as configMenu" class="config-content">
  <div class="common-scroll-container configs-list">
    <div fs-click="configMenu.selectConfigPanel(2)" ng-class="{active : configMenu.G.global.activePanel===2}" class="conf-item">
      <div class="configuration profile"></div>
      <div class="conf-item-text">{{ ::configMenu.CONFIGMENU_PROFILE }}</div>
    </div>
    <div fs-click="configMenu.selectConfigPanel(3)" ng-class="{active : configMenu.G.global.activePanel===3}" class="conf-item">
      <div class="configuration glass"></div>
      <div class="conf-item-text">{{ ::configMenu.CONFIGMENU_GLASS }}</div>
    </div>
    <div fs-click="configMenu.selectConfigPanel(4)" ng-class="{active : configMenu.G.global.activePanel===4}" class="conf-item">
      <div class="configuration furniture"></div>
      <div class="conf-item-text">{{ ::configMenu.CONFIGMENU_HARDWARE }}</div>
    </div>
    <div fs-click="configMenu.selectConfigPanel(5)" ng-class="{active : configMenu.G.global.activePanel===5}" class="conf-item">
      <div class="configuration laminataion"></div>
      <div class="conf-item-text">{{ ::configMenu.CONFIGMENU_LAMINATION }}</div>
    </div>
    <div fs-click="configMenu.selectConfigPanel(6)" ng-class="{active : configMenu.G.global.activePanel===6}" class="conf-item">
      <div class="configuration add-elements"></div>
      <div class="conf-item-text">{{ ::configMenu.CONFIGMENU_ADDITIONAL }}</div>
    </div>
  </div>
</div>