
<form name="callOrderForm" novalidate ng-submit="orderForm.submitForm(callOrderForm)" class="order-dialog-mobile scrollFix">
  <div class="box-rehau">
    <div class="cart-dialog-rehau-header">
      <div class="cart-dialog-rehau-title">Оставить заявку</div>
      <button fs-click="orderForm.closeOrderDialog()" class="top-container-close"></button>
    </div>
    <div class="cart-dialog-body">
      <div class="name-input">
        <div class="input-label">Ваше имя</div>
        <div class="input-field-mobile">
          <input type="text" name="name" ng-model="orderForm.C.cart.customer.customer_name" ng-focus="orderForm.C.cart.isCityBox = 0" ng-class="{'error': orderForm.C.cart.submitted &amp;&amp; callOrderForm.name.$error.required}" required class="user-field-rehau">
        </div>
      </div>
      <div class="phone-input">
        <div class="input-label">Ваш номер телефона</div>
        <div class="input-field-mobile">
          <input placeholder="+7(___) ___-__-__" type="tel" name="phone" ng-model="orderForm.C.cart.customer.customer_phone" ng-pattern="" ng-focus="orderForm.C.cart.isCityBox = 0" ng-class="{'error': orderForm.C.cart.submitted &amp;&amp; callOrderForm.phone.$error.required}" required class="user-field-phone">
        </div>
      </div>
      <div class="comment-input">
        <div class="input-label">Комментарий</div>
        <div class="input-field-mobile">
          <input type="comment" name="comment" ng-model="orderForm.C.cart.customer.customer_comment" ng-pattern="" ng-focus="orderForm.C.cart.isCityBox = 0" class="user-field-rehau">
        </div>
      </div>
      <div ng-if="orderForm.U.userInfo.user_type !== 8" class="input-field-mobile">
        <input id="impLocation" type="text" name="location" ng-model="orderForm.C.cart.customer.customer_location" ng-change="orderForm.changeLocation()" placeholder="{{ ::orderForm.CLIENT_LOCATION }}" class="user-field">
        <div ng-show="orderForm.C.cart.submitted &amp;&amp; callCreditForm.location.$error.required" class="error-tooltip">!</div>
        <div ng-show="orderForm.C.cart.isCityBox" class="location-list-tooltip">
          <div ng-repeat="location in orderForm.locations | locationFilter:orderForm.C.cart.customer.customer_location track by $index" fs-click="orderForm.selectCity(location)" class="location-option">{{location.fullLocation}}</div>
        </div>
      </div>
      <div ng-if="orderForm.U.userInfo.user_type !== 8" class="input-field-mobile">
        <input type="text" name="address" ng-model="orderForm.C.cart.customer.customer_address" ng-focus="orderForm.C.cart.isCityBox = 0" placeholder="{{ ::orderForm.CLIENT_ADDRESS }}" class="user-field street">
      </div>
      <div ng-if="orderForm.U.userInfo.user_type !== 8" class="input-field-mobile">
        <input type="text" name="house" ng-model="orderForm.C.cart.customer.customer_house" ng-focus="orderForm.C.cart.isCityBox = 0" placeholder="{{ ::orderForm.CLIENT_HOUSE }}" class="user-field small">
        <input type="text" name="flat" ng-model="orderForm.C.cart.customer.customer_flat" ng-focus="orderForm.C.cart.isCityBox = 0" placeholder="{{ ::orderForm.CLIENT_FLAT }}" class="user-field small">
        <input type="text" name="floor" ng-model="orderForm.C.cart.customer.customer_floor" ng-focus="orderForm.C.cart.isCityBox = 0" placeholder="{{ ::orderForm.CLIENT_FLOOR }}" class="user-field small">
      </div>
      <div ng-if="orderForm.U.userInfo.user_type !== 8" class="input-field-mobile">
        <input type="tel" name="phone2" ng-model="orderForm.C.cart.customer.customer_phone_city" ng-focus="orderForm.C.cart.isCityBox = 0" placeholder="{{ ::orderForm.ADD_PHONE }}" class="user-field">
      </div>
      <button type="submit" class="save-button">{{ ::orderForm.READY }}</button>
    </div>
  </div>
</form>