
<div ng-if="mobilePage.G.global.activePanel === 3" ng-controller="GlassesCtrl as glassPanel" class="mobile-glass mobile-common-panel">
  <div ng-if="glassPanel.U.userInfo.factory_id !== 2" class="box">
    <div class="accept-container">
      <div ng-if="!mobilePage.isSet(1)" class="row">
        <div ng-if="mobilePage.G.global.activePanel !== 6" class="curr-price">
          <price price-value="mobilePage.G.global.tempPrice" price-currency="mobilePage.U.userInfo.currency"></price>
        </div>
        <div ng-if="mobilePage.G.global.activePanel === 6" class="curr-price">
          <price price-value="mobilePage.P.product.addelemPriceDis" price-currency="mobilePage.U.userInfo.currency"></price>
        </div>
        <div ng-click="mobilePage.closePanelMobile()" class="accept-button">{{mobilePage.APPLY}}</div>
      </div>
      <div ng-if="!mobilePage.isSet(1) &amp;&amp; mobilePage.G.global.activePanel !== 6" class="row">
        <div ng-if="mobilePage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total &lt; mobilePage.O.order.heat_coef_min}" class="product-u-coeff">
          <div>R = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.LETTER_M}}&sup2;&deg;C/{{::mobilePage.HEATCOEF_VAL }}</div>
        </div>
        <div ng-if="!mobilePage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total &gt; mobilePage.O.order.heat_coef_min}" class="product-u-coeff">
          <div>U = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.HEATCOEF_VAL}}/{{::mobilePage.LETTER_M}}&sup2;&deg;C</div>
        </div>
        <!--СТЕКЛОПАКЕТ-->
        <div ng-if="mobilePage.G.global.activePanel === 3" class="selected-profile">
          <div ng-if="mobilePage.P.product.glass.length == 1" class="value">
            <p>{{ mobilePage.P.product.glass[0].sku }}</p>
          </div>
          <div ng-if="mobilePage.P.product.glass.length == 2" class="value">
            <p>{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku }}</p>
          </div>
          <div ng-if="mobilePage.P.product.glass.length &gt; 2" class="value">
            <p>{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku +', '+ mobilePage.P.product.glass[2].sku }}</p>
          </div>
        </div>
        <!--ФУРНИТУРА-->
        <div ng-if="mobilePage.G.global.activePanel === 4" class="selected-profile">
          <div ng-if="mobilePage.P.product.construction_type !== 4" class="value">
            <p>{{ mobilePage.P.product.hardware.name }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorHandle.name }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorLock.name }}</p>
          </div>
        </div>
        <!--ПРОФИЛЬ-->
        <div ng-if="mobilePage.G.global.activePanel === 2" class="selected-profile">
          <div ng-if="mobilePage.P.product.construction_type !== 4" class="value">
            <p>{{ mobilePage.P.product.profile.name }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorName | translate }}</p>
          </div>
          <div ng-if="mobilePage.P.product.construction_type === 4" class="value">
            <p>{{ mobilePage.P.product.doorSashName }}</p>
          </div>
        </div>
        <!--ЛАМИНАЦИЯ-->
        <div ng-if="mobilePage.G.global.activePanel === 5" class="selected-profile">
          <div class="value">
            <p>{{ mobilePage.P.product.lamination.laminat_in_name | translate}} / {{ mobilePage.P.product.lamination.laminat_out_name | translate}}</p>
          </div>
        </div>
      </div>
      <div ng-if="mobilePage.isSet(1)" class="row">
        <div ng-click="mobilePage.closePanelMobile()" class="back-button"></div>
        <div class="row-title">
          <p>{{mobilePage.TEMPLATE_SELECTION}}</p>
        </div>
      </div>
    </div>
    <div class="glass-container">
      <div ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class="{gray : $index%2 === 0 }" ng-init="FolderIndex = $index" class="glass-block">
        <div ng-click="glassPanel.OpenGlassFolder($index,$event)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" id="anchor{{$index}}" class="button">
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'en' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.en">{{glassPanel.G.global.glassTypes[$index].translate.en}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'ru' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.ru">{{glassPanel.G.global.glassTypes[$index].translate.ru}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'uk' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.ua">{{glassPanel.G.global.glassTypes[$index].translate.ua}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'pl' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.pl">{{glassPanel.G.global.glassTypes[$index].translate.pl}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'de' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.de">{{glassPanel.G.global.glassTypes[$index].translate.de}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'bg' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.bg">{{glassPanel.G.global.glassTypes[$index].translate.bg}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'it' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.it">{{glassPanel.G.global.glassTypes[$index].translate.it}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'es' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.es">{{glassPanel.G.global.glassTypes[$index].translate.es}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'ro' &amp;&amp; glassPanel.G.global.glassTypes[$index].translate.ro">{{glassPanel.G.global.glassTypes[$index].translate.ro}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'en' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.en">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'ru' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.ru">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'uk' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.ua">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'pl' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.pl">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'de' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.de">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'bg' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.bg">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'it' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.it">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'es' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.es">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" ng-if="glassPanel.U.userInfo.langLabel === 'ro' &amp;&amp; !glassPanel.G.global.glassTypes[$index].translate.ro">{{glassPanel.G.global.glassTypes[$index].name}}</p>
        </div><img ng-if="!(glassPanel.G.global.cordova)" ng-src="{{glassPanel.G.global.glassTypes[$index].img}}" ng-click="glassPanel.OpenGlassFolder($index)"><img ng-if="(glassPanel.G.global.cordova)" ng-src="{{glassPanel.extendUrl(glassPanel.G.global.glassTypes[$index].img)}}" ng-click="glassPanel.OpenGlassFolder($index)">
        <div ng-if="glassPanel.OpenFolder === FolderIndex" class="glass-folder">
          <div ng-repeat="glass in typeGlass track by $index" ng-class="{'selected': glass.id == glassPanel.G.global.selectGlassId }" class="glass-item">
            <div ng-class="{'selected': glass.id == glassPanel.G.global.selectGlassId }" fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color)" class="title">
              <p ng-if="glassPanel.U.userInfo.langLabel === 'en' &amp;&amp; glass.translate.en">{{glass.translate.en}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'ru' &amp;&amp; glass.translate.ru">{{glass.translate.ru}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'uk' &amp;&amp; glass.translate.ua">{{glass.translate.ua}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'pl' &amp;&amp; glass.translate.pl">{{glass.translate.pl}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'de' &amp;&amp; glass.translate.de">{{glass.translate.de}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'bg' &amp;&amp; glass.translate.bg">{{glass.translate.bg}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'it' &amp;&amp; glass.translate.it">{{glass.translate.it}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'es' &amp;&amp; glass.translate.es">{{glass.translate.es}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'ro' &amp;&amp; glass.translate.ro">{{glass.translate.ro}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'en' &amp;&amp; !glass.translate.en">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'ru' &amp;&amp; !glass.translate.ru">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'uk' &amp;&amp; !glass.translate.ua">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'pl' &amp;&amp; !glass.translate.pl">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'de' &amp;&amp; !glass.translate.de">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'bg' &amp;&amp; !glass.translate.bg">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'it' &amp;&amp; !glass.translate.it">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'es' &amp;&amp; !glass.translate.es">{{glass.sku}}</p>
              <p ng-if="glassPanel.U.userInfo.langLabel === 'ro' &amp;&amp; !glass.translate.ro">{{glass.sku}}</p>
            </div>
            <div ng-if="glass.img.length &amp;&amp; glass.description" fs-click="glassPanel.showInfoBox(glass.id, typeGlass)" class="info"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="{'active': glassPanel.G.global.showGlassSelectorDialog}" class="glass-selector-dialog">
      <div fs-click="glassPanel.closeGlassSelectorDialog(1)" class="close-dialog"></div>
      <div class="dialog-title">
        <div class="apply-title">
          <p>{{glassPanel.APPLY}}</p>
        </div>
        <div ng-class="{'column': glassPanel.G.global.selectGlassName.length &gt; 8}" class="glass-title">
          <div class="curr-glass-value">
            <p>{{ glassPanel.G.global.glassTypes[glassPanel.OpenFolder].name }}&nbsp</p>
          </div>
          <div class="curr-glass-value">
            <p>{{glassPanel.G.global.selectGlassName}}</p>
          </div>
        </div>
      </div>
      <div class="dialog-inner-mob">
        <svg-template template="glassPanel.P.product.template" template-width="mobilePage.mobWidthGlass" template-height="mobilePage.mobWidthGlass" type-construction="glassPanel.constants.SVG_ID_GLASS"></svg-template>
      </div>
      <div class="buttons">
        <div fs-click="glassPanel.confirmGlass()" class="set-glass-btn">
          <p>{{ ::glassPanel.SELECT_CURRENT }}</p>
        </div>
        <div fs-click="glassPanel.confirmGlass()" class="set-glass-all-btn">
          <p>{{ ::glassPanel.SELECT_ALL_CONSTRUCTION }}</p>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="glassPanel.U.userInfo.factory_id === 2" class="box">
    <div class="top-container">
      <div ng-if="mobilePage.isSet(1)" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Выбор шаблона</div>
          <div ng-if="!mobilePage.G.global.SelectedTemplateName" data-output="Поворотно-откидное с импостом" typing="{{ lightPage.config.typing }}" typing-delay="{{ lightPage.config.DELAY_TYPE_ITEM_TITLE }}" class="top-container-subtitle"></div>
          <div ng-if="mobilePage.G.global.SelectedTemplateName" class="top-container-subtitle">{{ mobilePage.G.global.SelectedTemplateName }}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 2" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Профиль</div>
          <div class="top-container-subtitle">{{ mobilePage.P.product.profile.name  }}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 3" class="top-container-item">
        <div class="top-container-header">
          <div class="top-container-title">Стелопакет</div>
          <div class="top-container-subtitle">{{ mobilePage.P.product.glass[0].sku }}</div>
        </div>
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="top-container-close"></button>
      </div>
    </div>
    <div class="glass-container">
      <div ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class="{gray : $index%2 === 0 }" ng-init="FolderIndex = $index" class="glass-block-rehau"><img ng-if="!(glassPanel.G.global.cordova)" ng-src="{{glassPanel.G.global.glassTypes[$index].img}}" ng-click="glassPanel.OpenGlassFolder($index)"><img ng-if="(glassPanel.G.global.cordova)" ng-src="{{glassPanel.extendUrl(glassPanel.G.global.glassTypes[$index].img)}}" ng-click="glassPanel.OpenGlassFolder($index)">
        <div ng-click="glassPanel.OpenGlassFolder($index,$event)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" id="anchor{{$index}}" class="button">
          <p ng-class="{'active': glassPanel.OpenFolder === FolderIndex }">{{glassPanel.G.global.glassTypes[$index].name}}</p>
          <div ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" class="arrow"><img ng-src="../img/rehau-img/white-arrow-top.png"></div>
        </div>
        <div ng-if="glassPanel.OpenFolder === FolderIndex" class="glass-folder">
          <div ng-repeat="glass in typeGlass track by $index" ng-class="{'active': glass.id == glassPanel.G.global.selectGlassId }" class="glass-item-rehau">
            <div ng-class="{'active': glass.id == glassPanel.G.global.selectGlassId }" fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color)" class="title">
              <p>{{glass.sku}}</p>
            </div>
            <div class="glass-extra-info">
              <div class="transcalency"> 
                <h4>Теплопроводимость </h4><span>{{glass.transcalency}} м2*С/Вт</span>  
              </div>
              <div class="noise-isolation"> 
                <h4>Шумоизоляция </h4><span>{{glass.noise_coeff}} Дб</span>
              </div>
              <div class="glass-width"> 
                <h4>Ширина </h4><span>{{glass.glass_width}} мм</span>
              </div>
            </div>
            <div ng-if="glass.img.length &amp;&amp; glass.description" fs-click="glassPanel.showInfoBox(glass.id, typeGlass)" class="info"></div>
          </div>
        </div>
      </div>
    </div>
    <div ng-class="{'active': glassPanel.G.global.showGlassSelectorDialog}" class="glass-selector-dialog">
      <div fs-click="glassPanel.closeGlassSelectorDialog(1)" class="close-dialog"></div>
      <div class="dialog-title">
        <div class="apply-title">
          <p>{{glassPanel.APPLY}}</p>
        </div>
        <div ng-class="{'column': glassPanel.G.global.selectGlassName.length &gt; 8}" class="glass-title">
          <div class="curr-glass-value">
            <p>{{ glassPanel.G.global.glassTypes[glassPanel.OpenFolder].name }}&nbsp</p>
          </div>
          <div class="curr-glass-value">
            <p>{{glassPanel.G.global.selectGlassName}}</p>
          </div>
        </div>
      </div>
      <div class="dialog-inner-mob">
        <svg-template template="glassPanel.P.product.template" template-width="mobilePage.mobWidthGlass" template-height="mobilePage.mobWidthGlass" type-construction="glassPanel.constants.SVG_ID_GLASS"></svg-template>
      </div>
      <div class="buttons">
        <div fs-click="glassPanel.confirmGlass()" class="set-glass-btn">
          <p>{{ ::glassPanel.SELECT_CURRENT }}</p>
        </div>
        <div fs-click="glassPanel.confirmGlass()" class="set-glass-all-btn">
          <p>{{ ::glassPanel.SELECT_ALL_CONSTRUCTION }}</p>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="heat-coeff-txt"><span>Оценка энергоэффективности</span></div>
      <div class="price-and-heat-coeff">
        <div class="expert-mark-row">
          <div class="expert-mark">{{mobilePage.P.product.heat_coef_expert_mark}} -</div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &lt; 6.1" class="title-rehau"><span> Для балконов</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark&gt; 6.1 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 6.5" class="title-rehau"><span> Достаточно хорошо</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 6.5 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 7" class="title-rehau"><span> Хорошо!</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 7 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 7.5" class="title-rehau"><span> Очень хорошо!</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 7.5 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 8.2" class="title-rehau"><span> Потрясающе!</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 8.2 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 9" class="title-rehau"><span> Превосходно!</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 9 &amp;&amp; mobilePage.P.product.heat_coef_expert_mark &lt;= 9.4" class="title-rehau"><span> Великолепно!</span></div>
          <div ng-if="mobilePage.P.product.heat_coef_expert_mark &gt; 9.4" class="title-rehau"><span> Лучший выбор!</span></div>
        </div>
        <price price-value="mobilePage.G.global.tempPrice" price-currency="mobilePage.U.userInfo.currency" ng-click="mobilePage.checkForAddElem()"></price>
      </div>
      <!--templates-->
      <div ng-if="mobilePage.isSet(1)" class="accept">
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="add-to-basket">Применить</button>
      </div>
      <!--configuration-->
      <div ng-if="mobilePage.isSet(5) &amp;&amp; mobilePage.G.global.activePanel !== 2 &amp;&amp;  mobilePage.G.global.activePanel !== 3" class="to-basket-block">
        <button ng-click="configMenu.checkForAddElem()" class="add-to-basket">В корзину</button>
        <div class="counter-rehau-for-landing">
          <input readonly ng-model="configMenu.G.global.construction_count" ng-click="mobilePage.setTab(4)" class="prodcounter-rehau-for-landing">
        </div>
      </div>
      <!--profiles-->
      <div ng-if="mobilePage.G.global.activePanel === 2" class="accept">
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="add-to-basket">Применить</button>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 3" class="accept">
        <button ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(5)" class="add-to-basket">Применить</button>
      </div>
    </div>
  </div>
</div>