
<div ng-if="mobilePage.G.global.activePanel === 4" ng-controller="HardwaresCtrl as hardwarePanel" class="mobile-profiles mobile-common-panel">
  <div class="accept-container">
    <div ng-if="mobilePage.isSet(3) &amp;&amp; mobilePage.G.global.activePanel !== 2 &amp;&amp; mobilePage.G.global.activePanel !== 3 &amp;&amp; mobilePage.G.global.activePanel !== 4 &amp;&amp; mobilePage.G.global.activePanel !== 5 &amp;&amp; mobilePage.G.global.activePanel !== 7 &amp;&amp; mobilePage.G.global.activePanel !== 6" class="row">
      <div class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Конфигурация</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">Задайте параметры вашего окна</div>
      </div>
    </div>
    <div ng-if="!mobilePage.isSet(1)" class="row">
      <!--СТЕКЛОПАКЕТ-->
      <div ng-if="mobilePage.G.global.activePanel === 3" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Стеклопакет</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.glass.length == 1" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku }}</div>
        <div ng-if="mobilePage.P.product.glass.length == 2" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku }}</div>
        <div ng-if="mobilePage.P.product.glass.length &gt; 2" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku +', '+ mobilePage.P.product.glass[2].sku }}</div>
      </div>
      <!--ФУРНИТУРА-->
      <div ng-if="mobilePage.G.global.activePanel === 4" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Фурнитура</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.construction_type !== 4" class="accept-container-item">{{ mobilePage.P.product.hardware.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorHandle.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorLock.name }}</div>
      </div>
      <!--ПРОФИЛЬ-->
      <div ng-if="mobilePage.G.global.activePanel === 2" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Профиль</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.construction_type !== 4" class="accept-container-item">{{ mobilePage.P.product.profile.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorName | translate }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorSashName }}</div>
      </div>
      <!--ЛАМИНАЦИЯ-->
      <div ng-if="mobilePage.G.global.activePanel === 5" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Ламинация</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.lamination.laminat_in_name | translate}} / {{ mobilePage.P.product.lamination.laminat_out_name | translate}}</div>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 7" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Наборы</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">Набор {{ mobilePage.P.product.currentSet }}</div>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 6" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">Аксессуары</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">Выберите аксессуары</div>
      </div>
    </div>
    <div ng-if="mobilePage.isSet(1)" class="row">
      <div class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.TEMPLATE_SELECTION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.template_source.name }}</div>
      </div>
    </div>
  </div>
  <div class="profiles-list">
    <div ng-repeat="producer in hardwarePanel.G.global.hardwares track by $index" class="profile-block">
      <div ng-click="hardwarePanel.ClickOnFolder($event)" class="producer">
        <div ng-if="hardwarePanel.G.global.hardwareTypes[$index].img.length &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].description" fs-click="hardwarePanel.showInfoBox(hardwarePanel.G.global.hardwareTypes[$index].id, hardwarePanel.G.global.hardwareTypes)" class="info"></div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'en' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.en" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.en }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'ru' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.en" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.ru }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'uk' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.ua" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.ua }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'pl' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.pl" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.pl }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'de' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.de" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.de }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'bg' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.bg" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.bg }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'it' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.it" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.it }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'es' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.es" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.es }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'ro' &amp;&amp; hardwarePanel.G.global.hardwareTypes[$index].translate.ro" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].translate.ro }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'en' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.en" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'ru' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.ru" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'uk' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.ua" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'pl' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.pl" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'de' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.de" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'bg' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.bg" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'it' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.it" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'es' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.es" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
        <div ng-if="hardwarePanel.U.userInfo.langLabel === 'ro' &amp;&amp; !hardwarePanel.G.global.hardwareTypes[$index].translate.ro" class="title">{{ hardwarePanel.G.global.hardwareTypes[$index].name }}</div>
      </div>
      <div class="profile-box">
        <div ng-repeat="hardware in producer track by $index" ng-class="{'selected': hardware.id === hardwarePanel.P.product.hardware.id}" class="profile-info">
          <div ng-click="hardwarePanel.selectHardware(hardware.id)" class="profile-info-item"><img ng-if="!hardwarePanel.G.global.cordova" ng-src="{{hardware.img}}" alt="{{hardware.name}}" class="profile-img"><img ng-if="hardwarePanel.G.global.cordova" ng-src="{{hardwarePanel.extendUrl(hardware.img)}}" alt="{{hardware.name}}" class="profile-img">
            <div class="name">
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'en'">{{hardware.translate.en}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'ru'">{{hardware.translate.ru}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'uk'">{{hardware.translate.ua}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'pl'">{{hardware.translate.pl}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'de'">{{hardware.translate.de}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'bg'">{{hardware.translate.bg}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'it'">{{hardware.translate.it}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'es'">{{hardware.translate.es}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'ro'">{{hardware.translate.ro}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'en' &amp;&amp; !hardware.translate.en">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'ru' &amp;&amp; !hardware.translate.ru">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'uk' &amp;&amp; !hardware.translate.ua">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'pl' &amp;&amp; !hardware.translate.pl">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'de' &amp;&amp; !hardware.translate.de">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'bg' &amp;&amp; !hardware.translate.bg">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'it' &amp;&amp; !hardware.translate.it">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'es' &amp;&amp; !hardware.translate.es">{{hardware.name}}</p>
              <p ng-if="hardwarePanel.U.userInfo.langLabel === 'ro' &amp;&amp; !hardware.translate.ro">{{hardware.name}}</p>
            </div>
            <div class="common-info">
              <p>{{::hardwarePanel.HEAT_TRANSFER}} {{hardware.heat_coeff}}</p>
              <p>{{::hardwarePanel.NOICE_INSULATION}} {{hardware.noise_coeff}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>