
<div ng-if="mobilePage.G.global.showCoefInfoBlock" class="coeff-info-block">
  <div class="coeff-info-block-inner">
    <div class="heat-transfer-info_hr">{{ ::mobilePage.HEAT_TRANSFER_INFO_3 }}</div>
    <div class="heat-transfer-info_hr2">{{ ::mobilePage.HEAT_TRANSFER_INFO_4 }}</div>
    <div class="coeff-max">{{ mobilePage.O.order.heat_coef_min }}
      <div ng-if="mobilePage.U.userInfo.therm_coeff_id" class="heat-transfer">{{ ::mobilePage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::mobilePage.HEATCOEF_VAL }}</div>
      <div ng-if="!mobilePage.U.userInfo.therm_coeff_id" class="heat-transfer">{{ ::mobilePage.HEATCOEF_VAL }}/{{ ::mobilePage.LETTER_M }} &sup2;&middot;&deg;C</div>
    </div>
    <div class="heat-transfer-info-body">
      <div class="heat-transfer-info-border">
        <div ng-click="mobilePage.OpenPanel(3)" class="heat-transfer-info">{{ ::mobilePage.HEAT_TRANSFER_INFO_5 }}</div>
        <div ng-click="mobilePage.OpenPanel(3)" class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_6 }}</div>
        <div class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_7 }}</div>
        <div class="heat-transfer-info">{{ ::mobilePage.HEAT_TRANSFER_INFO_8 }}</div>
        <div ng-click="mobilePage.OpenPanel(2)" class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_9 }}</div>
        <div ng-click="mobilePage.OpenPanel(2)" class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_10 }}</div>
      </div>
    </div>
    <div fs-click="mobilePage.G.global.showCoefInfoBlock=0" class="close-dialog-body">
      <div class="close-dialog-text">{{ ::mobilePage.HEAT_TRANSFER_INFO_11 }}</div>
      <div class="close-dialog"></div>
    </div>
  </div>
</div>