
<div ng-click="mobilePage.showCoefInfoBlock()" ng-show="mobilePage.U.userInfo.factory_id !== 2" class="heat-coef-block-mobile">
  <div class="title">
    <p>{{::mobilePage.HEAT_TRANSFER}}</p>
  </div>
  <div ng-if="mobilePage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total &lt; mobilePage.O.order.heat_coef_min}" class="product-u-coeff">
    <div>R = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::profilesPanel.LETTER_M}}&sup2;&deg;C/{{::mobilePage.HEATCOEF_VAL }}</div>
  </div>
  <div ng-if="!mobilePage.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total &gt; mobilePage.O.order.heat_coef_min}" class="product-u-coeff">
    <div>U = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.HEATCOEF_VAL}}/{{::mobilePage.LETTER_M}}&sup2;&deg;C</div>
  </div>
  <!--.info-->
</div>
<div ng-if="mobilePage.U.userInfo.factory_id !== 2" class="box">
  <div ng-if="mobilePage.G.global.showCoefInfoBlock" class="coeff-info-block">
    <div class="coeff-info-block-inner">
      <div class="heat-transfer-info_hr">{{ ::mobilePage.HEAT_TRANSFER_INFO_3 }}</div>
      <div class="heat-transfer-info_hr2">{{ ::mobilePage.HEAT_TRANSFER_INFO_4 }}</div>
      <div class="coeff-max">{{ mobilePage.O.order.heat_coef_min }}
        <div ng-if="mobilePage.U.userInfo.therm_coeff_id" class="heat-transfer">{{ ::mobilePage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::mobilePage.HEATCOEF_VAL }}</div>
        <div ng-if="!mobilePage.U.userInfo.therm_coeff_id" class="heat-transfer">{{ ::mobilePage.HEATCOEF_VAL }}/{{ ::mobilePage.LETTER_M }} &sup2;&middot;&deg;C</div>
      </div>
      <div class="heat-transfer-info-body">
        <div class="heat-transfer-info-border">
          <div ng-click="mobilePage.OpenPanel(3)" class="heat-transfer-info">{{ ::mobilePage.HEAT_TRANSFER_INFO_5 }}</div>
          <div ng-click="mobilePage.OpenPanel(3)" class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_6 }}</div>
          <div class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_7 }}</div>
          <div class="heat-transfer-info">{{ ::mobilePage.HEAT_TRANSFER_INFO_8 }}</div>
          <div ng-click="mobilePage.OpenPanel(2)" class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_9 }}</div>
          <div ng-click="mobilePage.OpenPanel(2)" class="heat-transfer-info2">{{ ::mobilePage.HEAT_TRANSFER_INFO_10 }}</div>
        </div>
      </div>
      <div fs-click="mobilePage.G.global.showCoefInfoBlock=0" class="close-dialog-body">
        <div class="close-dialog-text">{{ ::mobilePage.HEAT_TRANSFER_INFO_11 }}</div>
        <div class="close-dialog"></div>
      </div>
    </div>
  </div>
</div>
<!--rehau templates-->
<div ng-click="mobilePage.showCoefInfoBlock()" ng-show="mobilePage.U.userInfo.factory_id === 2" class="heat-coef-block-mobile-rehau">
</div>
<div ng-if="mobilePage.U.userInfo.factory_id === 2" class="box-rehau">
  <div ng-if="mobilePage.G.global.showCoefInfoBlock" class="coeff-info-block-rehau">
    <div class="coeff-info-block-inner">
      <div class="coeff-info-block-header"> 
        <div class="coeff-info-block-title">Как работает <br /> это приложение</div>
        <button fs-click="mobilePage.G.global.showCoefInfoBlock=0" class="coeff-info-block-close"></button>
      </div>
      <div class="coeff-info-block-body"></div>
    </div>
  </div>
</div>