
<div ng-controller="DesignCtrl as designPage" class="karkas-content">
  <div ng-class="{'gray': designPage.D.design.activeMenuItem }" class="common-scroll-container figure-lists">
    <div ng-click="designPage.selectMenuItem(3)" ng-class="{'selected': designPage.D.design.activeMenuItem == 3}" class="figure-item">
      <div class="figure-icon impost-shape-a"></div>
      <div class="figure-icon impost-shape-b"></div>
      <div data-output="{{ ::designPage.IMPOST_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
    </div>
    <div ng-click="designPage.selectMenuItem(1)" ng-class="{'selected': designPage.D.design.activeMenuItem == 1}" class="figure-item">
      <div class="figure-icon sash-shape-a"></div>
      <div class="figure-icon sash-shape-b"></div>
      <div data-output="{{ ::designPage.SASH_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
    </div>
    <div ng-click="designPage.selectMenuItem(2)" ng-class="{'selected': designPage.D.design.activeMenuItem == 2}" class="figure-item">
      <div class="figure-icon angel-shape-a"></div>
      <div class="figure-icon angel-shape-b"></div>
      <div data-output="{{ ::designPage.ANGEL_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
    </div>
    <div ng-click="designPage.selectMenuItem(4)" ng-class="{'selected': designPage.D.design.activeMenuItem == 4}" class="figure-item">
      <div class="figure-icon arch-shape-a"></div>
      <div class="figure-icon arch-shape-b"></div>
      <div data-output="{{ ::designPage.ARCH_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
    </div>
    <div ng-click="designPage.selectMenuItem(5)" ng-class="{'selected': designPage.D.design.activeMenuItem == 5}" class="figure-item">
      <div class="figure-icon position-shape-a"></div>
      <div class="figure-icon position-shape-b"></div>
      <div data-output="{{ ::designPage.POSITION_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
    </div>
  </div>
  <div ng-if="designPage.D.design.activeMenuItem" class="edit-submenu-list">
    <div ng-if="designPage.D.design.activeSubMenuItem == 3" class="edit-submenu">
      <div class="submenu-subtitle">{{mobilePage.CHOOSE_PLACE}}</div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(2); mobilePage.setTab(0)" class="edit-btn impost-vert"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(3); mobilePage.setTab(0)" class="edit-btn impost-hor"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(4); mobilePage.setTab(0)" class="edit-btn impost-inc-hor"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(5); mobilePage.setTab(0)" ng-class="{'active': designPage.D.design.isDropSubMenu == 4}" class="edit-btn impost-inc-hor2"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(6); mobilePage.setTab(0)" ng-class="{'active': designPage.D.design.isDropSubMenu == 4}" class="edit-btn impost-inc-vert"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(7); mobilePage.setTab(0)" ng-class="{'active': designPage.D.design.isDropSubMenu == 4}" class="edit-btn impost-inc-vert2"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(8); mobilePage.setTab(0)" class="edit-btn impost-curv-right"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(9); mobilePage.setTab(0)" ng-class="{'active': designPage.D.design.isDropSubMenu == 8}" class="edit-btn impost-curv-left"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(10)" ng-class="{'active': designPage.D.design.isDropSubMenu == 8}" class="edit-btn impost-curv-up"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(11)" ng-class="{'active': designPage.D.design.isDropSubMenu == 8}" class="edit-btn impost-curv-down"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(12)" class="edit-btn impost-curv1"></div>
      <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(13)" ng-class="{'active': designPage.D.design.isDropSubMenu == 12}" class="edit-btn impost-curv3"></div>
      <div ng-show="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(1)" class="edit-btn clean"></div>
    </div>
    <div ng-if="designPage.D.design.activeSubMenuItem == 1" class="edit-submenu">
      <div ng-click="designPage.insertSash(1)" class="edit-btn clean"></div>
      <div ng-click="designPage.insertSash(2)" class="edit-btn sash-left"></div>
      <div ng-click="designPage.insertSash(3)" ng-class="{'active': designPage.D.design.isDropSubMenu == 2}" class="edit-btn sash-right"></div>
      <div ng-click="designPage.insertSash(4)" ng-hide="designPage.P.product.construction_type === 4" ng-class="{'active': designPage.D.design.isDropSubMenu == 2}" class="edit-btn sash-up"></div>
      <div ng-click="designPage.insertSash(5)" ng-hide="designPage.P.product.construction_type === 4" ng-class="{'active': designPage.D.design.isDropSubMenu == 2}" class="edit-btn sash-down"></div>
      <div ng-click="designPage.insertSash(6)" ng-hide="designPage.P.product.construction_type === 4" class="edit-btn sash-right-up"></div>
      <div ng-click="designPage.insertSash(7)" ng-class="{'active': designPage.D.design.isDropSubMenu == 6}" ng-hide="designPage.P.product.construction_type === 4" class="edit-btn sash-left-up"></div>
      <div ng-click="designPage.insertSash(8)" ng-class="(designPage.P.product.construction_type === 4) ? 'sash-shtulp-left-door' : 'sash-shtulp-left'" class="edit-btn"></div>
      <div ng-click="designPage.insertSash(9)" ng-class="[ (designPage.P.product.construction_type === 4) ? 'sash-shtulp-right-door' : 'sash-shtulp-right' , {'active': designPage.D.design.isDropSubMenu == 8, 'left': designPage.P.product.construction_type === 4}]" class="edit-btn sash-shtulp-right"></div>
    </div>
    <div ng-if="designPage.D.design.activeSubMenuItem == 2" class="edit-submenu">
      <div ng-click="designPage.insertCorner(1)" class="edit-btn clean"></div>
      <div ng-click="designPage.insertCorner(2)" class="edit-btn corner"></div>
      <div ng-click="designPage.insertCorner(3)" class="edit-btn corner-curv"></div>
    </div>
    <div ng-if="designPage.D.design.activeSubMenuItem == 4" class="edit-submenu">
      <div ng-click="designPage.insertArc(1)" class="edit-btn clean"></div>
      <div ng-click="designPage.insertArc(2)" class="edit-btn arc"></div>
    </div>
    <div ng-if="designPage.D.design.activeSubMenuItem == 5" ng-hide="designPage.P.product.construction_type === 4" class="edit-submenu">
      <div ng-click="designPage.positionAxis()" class="edit-btn constr-shape-position">{{::designPage.BY_AXIS}}</div>
      <div ng-click="designPage.positionGlass()" class="edit-btn constr-shape-position">{{::designPage.BY_GLASS}}</div>
    </div>
    <div class="scroll-arrow-sm"></div>
  </div>
</div>