
<div ng-if="mobilePage.G.global.activePanel === 5" ng-controller="LaminationsCtrl as laminPanel" class="mobile-lamination mobile-common-panel">
  <div class="accept-container">
    <div ng-if="mobilePage.isSet(3) &amp;&amp; mobilePage.G.global.activePanel !== 2 &amp;&amp; mobilePage.G.global.activePanel !== 3 &amp;&amp; mobilePage.G.global.activePanel !== 4 &amp;&amp; mobilePage.G.global.activePanel !== 5 &amp;&amp; mobilePage.G.global.activePanel !== 7 &amp;&amp; mobilePage.G.global.activePanel !== 6" class="row">
      <div class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGURATION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{mobilePage.CONFIGURATION_SUBTITLE}}</div>
      </div>
    </div>
    <div ng-if="!mobilePage.isSet(1)" class="row">
      <!--СТЕКЛОПАКЕТ-->
      <div ng-if="mobilePage.G.global.activePanel === 3" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_GLASS}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.glass.length == 1" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku }}</div>
        <div ng-if="mobilePage.P.product.glass.length == 2" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku }}</div>
        <div ng-if="mobilePage.P.product.glass.length &gt; 2" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku +', '+ mobilePage.P.product.glass[2].sku }}</div>
      </div>
      <!--ФУРНИТУРА-->
      <div ng-if="mobilePage.G.global.activePanel === 4" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{ mobilePage.CONFIGMENU_HARDWARE }}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.construction_type !== 4" class="accept-container-item">{{ mobilePage.P.product.hardware.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorHandle.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorLock.name }}</div>
      </div>
      <!--ПРОФИЛЬ-->
      <div ng-if="mobilePage.G.global.activePanel === 2" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_PROFILE}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.construction_type !== 4" class="accept-container-item">{{ mobilePage.P.product.profile.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorName | translate }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorSashName }}</div>
      </div>
      <!--ЛАМИНАЦИЯ-->
      <div ng-if="mobilePage.G.global.activePanel === 5" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_LAMINATION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.lamination.laminat_in_name | translate}} / {{ mobilePage.P.product.lamination.laminat_out_name | translate}}</div>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 7" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_SET}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.currentSet.title || mobilePage.SET_IS_NOT_SELECTED }}</div>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 6" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.ACCESORIES}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{mobilePage.ACCESORIES_SUBTITLE}}</div>
      </div>
    </div>
    <div ng-if="mobilePage.isSet(1)" class="row">
      <div class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.TEMPLATE_SELECTION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.template_source.name }}</div>
      </div>
    </div>
  </div>
  <div class="laminat-filter">
    <div ng-repeat="lamin in laminPanel.G.global.laminats | orderBy: 'id' track by $index" ng-class="{gray : $index%2 === 0 }" class="laminat-box">
      <div class="laminat-folder-header">
        <div ng-if="lamin.id &gt; 1" ng-click="laminPanel.openLaminatFolder($index,lamin.lamination_type_id,$event,0)" ng-class="{'active': lamin.isActive}" class="laminat-label-button">
          <p>{{ ::lamin.name }}</p>
        </div>
        <div ng-if="lamin.id === 1" ng-click="laminPanel.openLaminatFolder($index,lamin.lamination_type_id,$event,0)" ng-class="{'active': lamin.isActive}" class="laminat-label-button">
          <p>{{ ::lamin.name | translate}}</p>
        </div>
        <div ng-click="laminPanel.openLaminatFolder($index,lamin.lamination_type_id,$event,1)" class="laminat-img"><img ng-src="img/lamination/{{ lamin.lamination_type_id }}.jpg"></div>
      </div>
      <div ng-if="laminPanel.OpenFolder === $index" class="laminat-folder">
        <div class="laminat-row-descr">
          <div class="laminat-label">{{laminPanel.INTERIOR}} / {{laminPanel.FACADE}}</div>
        </div>
        <div ng-repeat="lamCouple in laminPanel.G.global.lamGroupFiltered track by $index" ng-class="{'active': lamCouple.id === laminPanel.P.product.lamination.id }" ng-click="laminPanel.selectLaminat(lamCouple.id)" ng-if="laminPanel.OpenFolder !==0" class="laminat-row">
          <div ng-if="lamCouple.img_in_id &gt; 1" ng-class="{'active': lamCouple.id === laminPanel.P.product.lamination.id }" class="laminat-label">{{ lamCouple.laminat_in_name }}</div>
          <div ng-if="lamCouple.img_in_id === 1" ng-class="{'active': lamCouple.id === laminPanel.P.product.lamination.id }" class="laminat-label">{{ lamCouple.laminat_in_name | translate }}</div>
          <div ng-if="lamCouple.laminat_in_name !== lamCouple.laminat_out_name &amp;&amp; lamCouple.img_out_id &gt; 1" ng-class="{'active': lamCouple.id === laminPanel.P.product.lamination.id }" class="laminat-label">{{ lamCouple.laminat_out_name }}</div>
          <div ng-if="lamCouple.laminat_in_name !== lamCouple.laminat_out_name &amp;&amp; lamCouple.img_out_id === 1" ng-class="{'active': lamCouple.id === laminPanel.P.product.lamination.id }" class="laminat-label">{{ lamCouple.laminat_out_name | translate }}</div>
        </div>
        <div ng-if="laminPanel.OpenFolder === 0" ng-click="laminPanel.selectLaminat(0)" class="laminat-row">
          <div class="laminat-label">{{ laminPanel.WHITE_LAMINATION | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>