
<div ng-controller="ConfigMenuCtrl as configMenu" class="mobile-price">
  <div class="center-item">
    <div class="go-to-cart">
      <div id="checkForAddElem" ng-click="configMenu.checkForAddElem()" class="go-to-cart-title">{{configMenu.CONFIGMENU_IN_CART}}</div>
    </div>
    <div class="add-to-basket-img"><img src="img/basket-icon-2.svg" alt=""></div>
  </div>
  <div class="flex-item">
    <div class="energy-coeff-and-discoint-price">
      <div class="energy-coeff-title">Оценка энергоэффективности</div>
      <div class="price-without-discount">
        <div class="gray-price">{{ configMenu.G.global.tempPrice + configMenu.U.userInfo.discountConstr }}</div><span>-{{ configMenu.U.userInfo.discountConstr }}%</span>
      </div>
    </div>
    <div class="energy-mark-and-price">
      <div class="energy-mark-title"> 
        <div ng-if="configMenu.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': configMenu.P.product.heat_coef_total &lt; configMenu.O.order.heat_coef_min}" class="product-u-coeff">
          <div>R = {{ configMenu.P.product.heat_coef_total | number :2 }} {{ ::configMenu.LETTER_M}}&sup2;&deg;C/{{::configMenu.HEATCOEF_VAL }}</div>
        </div>
        <div ng-if="!configMenu.U.userInfo.therm_coeff_id" ng-class="{'coeff-low': configMenu.P.product.heat_coef_total &gt; configMenu.O.order.heat_coef_min}" class="product-u-coeff">
          <div>U = {{ configMenu.P.product.heat_coef_total | number :2 }} {{ ::configMenu.HEATCOEF_VAL}}/{{::configMenu.LETTER_M}}&sup2;&deg;C</div>
        </div>
      </div>
      <price price-value="configMenu.G.global.tempPrice" price-currency="configMenu.U.userInfo.currency" ng-click="configMenu.checkForAddElem()"></price>
    </div>
  </div>
</div>