
<div ng-controller="ProfilesCtrl as profilesPanel" ng-if="mobilePage.G.global.activePanel === 7" class="mobile-profiles mobile-common-panel">
  <div class="accept-container">
    <div ng-if="mobilePage.isSet(3) &amp;&amp; mobilePage.G.global.activePanel !== 2 &amp;&amp; mobilePage.G.global.activePanel !== 3 &amp;&amp; mobilePage.G.global.activePanel !== 4 &amp;&amp; mobilePage.G.global.activePanel !== 5 &amp;&amp; mobilePage.G.global.activePanel !== 7 &amp;&amp; mobilePage.G.global.activePanel !== 6" class="row">
      <div class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGURATION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{mobilePage.CONFIGURATION_SUBTITLE}}</div>
      </div>
    </div>
    <div ng-if="!mobilePage.isSet(1)" class="row">
      <!--СТЕКЛОПАКЕТ-->
      <div ng-if="mobilePage.G.global.activePanel === 3" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_GLASS}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.glass.length == 1" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku }}</div>
        <div ng-if="mobilePage.P.product.glass.length == 2" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku }}</div>
        <div ng-if="mobilePage.P.product.glass.length &gt; 2" class="accept-container-item">{{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku +', '+ mobilePage.P.product.glass[2].sku }}</div>
      </div>
      <!--ФУРНИТУРА-->
      <div ng-if="mobilePage.G.global.activePanel === 4" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{ mobilePage.CONFIGMENU_HARDWARE }}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.construction_type !== 4" class="accept-container-item">{{ mobilePage.P.product.hardware.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorHandle.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorLock.name }}</div>
      </div>
      <!--ПРОФИЛЬ-->
      <div ng-if="mobilePage.G.global.activePanel === 2" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_PROFILE}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div ng-if="mobilePage.P.product.construction_type !== 4" class="accept-container-item">{{ mobilePage.P.product.profile.name }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorName | translate }}</div>
        <div ng-if="mobilePage.P.product.construction_type === 4" class="accept-container-item">{{ mobilePage.P.product.doorSashName }}</div>
      </div>
      <!--ЛАМИНАЦИЯ-->
      <div ng-if="mobilePage.G.global.activePanel === 5" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_LAMINATION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.lamination.laminat_in_name | translate}} / {{ mobilePage.P.product.lamination.laminat_out_name | translate}}</div>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 7" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.CONFIGMENU_SET}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{mobilePage.CONFIGMENU_SET}} {{ mobilePage.P.product.currentSet }}</div>
      </div>
      <div ng-if="mobilePage.G.global.activePanel === 6" class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.ACCESORIES}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile()" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{mobilePage.ACCESORIES_SUBTITLE}}</div>
      </div>
    </div>
    <div ng-if="mobilePage.isSet(1)" class="row">
      <div class="selected-profile">
        <div class="accept-container-header">
          <div class="header-title">{{mobilePage.TEMPLATE_SELECTION}}</div>
          <div class="close-icon"><img ng-click="mobilePage.closePanelMobile(); mobilePage.setTab(3)" src="img/black-cross.svg" alt="red cross"></div>
        </div>
        <div class="accept-container-item">{{ mobilePage.P.product.template_source.name }}</div>
      </div>
    </div>
  </div>
  <div class="profiles-list">
    <div ng-repeat="setCategory in mobilePage.G.global.setsCategories track by setCategory.id" class="profile-block">
      <div class="producer">
        <div class="title">{{setCategory.title}}</div>
      </div>
      <div class="profile-box">
        <div ng-repeat="sets in setCategory.setsForCategory track by sets.id" ng-class="{selected: mobilePage.P.product.currentSet === sets.title}" class="profile-info">
          <div ng-click="profilesPanel.selectSet(sets)" class="profile-info-item"><img src="{{ sets.img }}" alt="" class="profile-img">
            <div class="name">{{ sets.title }}</div>
            <div class="sets-text">{{sets.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>