
<section class="construction-page">
  <section class="construction-container">
    <div class="construction-left-menu">
      <ul class="figure-lists">
        <li ng-click="designPage.selectMenuItem(3)" class="figure-item">
          <div ng-class="{'selected': designPage.D.design.activeMenuItem == 3, 'hov': designPage.D.design.activeMenuItem !== 3}" class="figure-item-block">
            <div class="figure-icon impost-shape-a"></div>
            <div class="figure-icon impost-shape-b"></div>
            <div data-output="{{ ::designPage.IMPOST_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          </div>
        </li>
        <li ng-click="designPage.selectMenuItem(1)" class="figure-item">
          <div ng-class="{'selected': designPage.D.design.activeMenuItem == 1, 'hov': designPage.D.design.activeMenuItem !== 1}" class="figure-item-block">
            <div class="figure-icon sash-shape-a"></div>
            <div class="figure-icon sash-shape-b"></div>
            <div data-output="{{ ::designPage.SASH_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          </div>
        </li>
        <li ng-click="designPage.selectMenuItem(2)" class="figure-item">
          <div ng-class="{'selected': designPage.D.design.activeMenuItem == 2, 'hov': designPage.D.design.activeMenuItem !== 2}" class="figure-item-block">
            <div class="figure-icon angel-shape-a"></div>
            <div class="figure-icon angel-shape-b"></div>
            <div data-output="{{ ::designPage.ANGEL_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          </div>
        </li>
        <li ng-click="designPage.selectMenuItem(4)" class="figure-item">
          <div ng-class="{'selected': designPage.D.design.activeMenuItem == 4, 'hov': designPage.D.design.activeMenuItem !== 4}" class="figure-item-block">
            <div class="figure-icon arch-shape-a"></div>
            <div class="figure-icon arch-shape-b"></div>
            <div data-output="{{ ::designPage.ARCH_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          </div>
        </li>
        <li ng-click="designPage.selectMenuItem(5)" class="figure-item">
          <div ng-class="{'selected': designPage.D.design.activeMenuItem == 5, 'hov': designPage.D.design.activeMenuItem !== 5}" class="figure-item-block">
            <div class="figure-icon position-shape-a"></div>
            <div class="figure-icon position-shape-b"></div>
            <div data-output="{{ ::designPage.POSITION_SHAPE }}" typing="{{ designPage.config.typing }}" typing-delay="{{ designPage.config.DELAY_SHOW_FIGURE_ITEM }}" class="figure-label"></div>
          </div>
        </li>
      </ul>
      <div id="impost-shape-menu" ng-class="{'active': designPage.D.design.activeSubMenuItem == 3}" class="edit_submenu">
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(2)" class="constr-shape-icon impost-vert"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(3)" class="constr-shape-icon impost-hor"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(4)" class="constr-shape-icon impost-inc-hor"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(5)" ng-class="{'active': designPage.D.design.isDropSubMenu == 4}" class="drop-shape-icon impost-inc-hor2"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(6)" ng-class="{'active': designPage.D.design.isDropSubMenu == 4}" class="drop-shape-icon impost-inc-vert"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(7)" ng-class="{'active': designPage.D.design.isDropSubMenu == 4}" class="drop-shape-icon impost-inc-vert2"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(8)" class="constr-shape-icon impost-curv-right"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(9)" ng-class="{'active': designPage.D.design.isDropSubMenu == 8}" class="drop-shape-icon impost-curv-left"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(10)" ng-class="{'active': designPage.D.design.isDropSubMenu == 8}" class="drop-shape-icon impost-curv-up"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(11)" ng-class="{'active': designPage.D.design.isDropSubMenu == 8}" class="drop-shape-icon impost-curv-down"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(12)" class="constr-shape-icon impost-curv1"></div>
        <div ng-hide="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(13)" ng-class="{'active': designPage.D.design.isDropSubMenu == 12}" class="drop-shape-icon impost-curv3"></div>
        <!--.constr-shape-icon.impost-curv4(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(14)")-->
        <!--.constr-shape-icon.impost-curv2(ng-hide="designPage.D.design.isImpostDelete", ng-click="designPage.insertImpost(15)")-->
        <div ng-show="designPage.D.design.isImpostDelete" ng-click="designPage.insertImpost(1)" class="constr-shape-icon clean"></div>
      </div>
      <div id="sash-shape-menu" ng-class="{'active': designPage.D.design.activeSubMenuItem == 1}" class="edit_submenu">
        <div ng-click="designPage.insertSash(1)" class="constr-shape-icon clean"></div>
        <div ng-click="designPage.insertSash(2)" class="constr-shape-icon sash-left"></div>
        <div ng-click="designPage.insertSash(3)" ng-class="{'active': designPage.D.design.isDropSubMenu == 2}" class="drop-shape-icon sash-right"></div>
        <div ng-click="designPage.insertSash(4)" ng-hide="designPage.P.product.construction_type === 4" ng-class="{'active': designPage.D.design.isDropSubMenu == 2}" class="drop-shape-icon sash-up"></div>
        <!--.drop-shape-icon.sash-down(ng-click="designPage.insertSash(5)", ng-hide="designPage.P.product.construction_type === 4", ng-class="{'active': designPage.D.design.isDropSubMenu == 2}")-->
        <div ng-click="designPage.insertSash(6)" ng-hide="designPage.P.product.construction_type === 4" class="constr-shape-icon sash-right-up"></div>
        <div ng-click="designPage.insertSash(7)" ng-class="{'active': designPage.D.design.isDropSubMenu == 6}" ng-hide="designPage.P.product.construction_type === 4" class="drop-shape-icon sash-left-up"></div>
        <div ng-click="designPage.insertSash(8)" ng-class="(designPage.P.product.construction_type === 4) ? 'sash-shtulp-left-door' : 'sash-shtulp-left'" class="constr-shape-icon"></div>
        <div ng-click="designPage.insertSash(9)" ng-class="[ (designPage.P.product.construction_type === 4) ? 'sash-shtulp-right-door' : 'sash-shtulp-right' , {'active': designPage.D.design.isDropSubMenu == 8, 'left': designPage.P.product.construction_type === 4}]" class="drop-shape-icon sash-shtulp-right"></div>
      </div>
      <div id="angel-shape-menu" ng-class="{'active': designPage.D.design.activeSubMenuItem == 2}" class="edit_submenu">
        <div ng-click="designPage.insertCorner(1)" class="constr-shape-icon clean"></div>
        <div ng-click="designPage.insertCorner(2)" class="constr-shape-icon corner"></div>
        <div ng-click="designPage.insertCorner(3)" class="constr-shape-icon corner-curv"></div>
      </div>
      <div id="arc-shape-menu" ng-class="{'active': designPage.D.design.activeSubMenuItem == 4}" class="edit_submenu">
        <div ng-click="designPage.insertArc(1)" class="constr-shape-icon clean"></div>
        <div ng-click="designPage.insertArc(2)" class="constr-shape-icon arc"></div>
      </div>
      <div id="position-menu-for-position" ng-hide="designPage.P.product.construction_type === 4" ng-class="{'active': designPage.D.design.activeSubMenuItem == 5}" class="edit_submenu">
        <div ng-click="designPage.positionAxis()" class="constr-shape-position">{{::designPage.BY_AXIS}}</div>
        <div ng-click="designPage.positionGlass()" class="constr-shape-position">{{::designPage.BY_GLASS}}</div>
      </div>
      <div ng-click="designPage.designSaved()" class="call-price">{{::designPage.CALC_PRICE}}</div>
    </div>
    <div class="construction-block">
      <div class="construction-scrollbox">
        <svg-template template="designPage.D.design.templateTEMP" template-width="designPage.constants.svgTemplateWidth" template-height="designPage.constants.svgTemplateHeight" type-construction="designPage.constants.SVG_ID_EDIT"></svg-template>
        <div ng-if="designPage.P.product.construction_type !== 4 &amp;&amp; designPage.D.design.showHint == 1" class="template-elem">
          <nobr fs-click="designPage.selectProfileFast()" class="clicked">{{::designPage.PROFILE_SYSTEM_SELECT}}</nobr>,&nbsp;
          <nobr fs-click="designPage.selectGlassFast()" class="clicked"> {{::designPage.GLASS_SELECT}}</nobr>&nbsp;{{::designPage.AND}}&nbsp;
          <nobr fs-click="designPage.selectWindowsHardwareFast()" ng-if="designPage.G.global.isSashesInTemplate &gt; 0" class="clicked">{{::designPage.HARDWARE_SELECT}}</nobr>
          <nobr ng-if="designPage.G.global.isSashesInTemplate == 0">{{::designPage.HARDWARE_SELECT}}</nobr>&nbsp;{{::designPage.LEFT_TEXT_SELECT}}
        </div>
        <div ng-if="designPage.P.product.construction_type == 4 &amp;&amp; designPage.D.design.showHint == 1" class="template-elem">
          <nobr fs-click="designPage.selectGlassFast()" class="clicked">{{::designPage.GLASS_SELECT_BIG}}</nobr>&nbsp;{{::designPage.LEFT_TEXT_SELECT}}
        </div>
      </div>
    </div>
    <div class="right-menu-header">
      <div ng-if="designPage.D.design.designSteps.length &gt; 0" class="nav-tool-box">
        <button ng-click="designPage.stepBack()" class="construct-tools step-back"></button>
        <div class="nav-tool-label">{{ ::designPage.BACK }}</div>
      </div>
      <div class="nav-tool-box">
        <button ng-click="designPage.G.global.activePanel = 0;designPage.designSaved()" class="construct-tools save-construction"></button>
        <div class="nav-tool-label">{{ ::designPage.SAVE }}</div>
      </div>
      <div class="nav-tool-box">
        <button ng-click="designPage.designCancel()" class="construct-tools close-construction"></button>
        <div class="nav-tool-label">{{ ::designPage.CANCEL }}</div>
      </div>
    </div>
    <div ng-if="designPage.P.product.construction_type === 4" class="door-config-menu">
      <button ng-class="{'active': designPage.D.design.steps.isDoorConfig}" ng-click="designPage.toggleDoorConfig()" class="door-config-btn"></button>
      <div class="door-config-label">{{ ::designPage.DOOR_CONFIG_LABEL }}</div>
      <div class="door-config-description">{{ ::designPage.DOOR_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorName | translate }};</div>
      <div class="door-config-description">{{ ::designPage.SASH_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorSashName }};</div>
      <div class="door-config-description">{{ ::designPage.HANDLE_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorHandle.name }};</div>
      <div class="door-config-description">{{ ::designPage.LOCK_CONFIG_DESCTIPT }}: {{ designPage.P.product.doorLock.name }};</div>
    </div>
    <div class="right-menu-footer">
      <div ng-class="{'active': designPage.G.global.isSizeCalculator}" class="calculators-box size-calculator">
        <table ng-controller="sizeCalculatorCtrl as sizeCalc" ng-keyup="sizeCalc.pressCulculator($event)" class="size-calc-container">
          <thead>
            <td>
              <button fs-click="sizeCalc.deleteLastNumber()" class="cell calc-delete"></button>
            </td>
            <td colspan="2">
              <div class="calc-interval">
                <div class="interval">
                  <div ng-hide="sizeCalc.isDesignPage" class="calc-value-limit">0</div>
                  <div ng-show="sizeCalc.isDesignPage" ng-class="{'restriction': sizeCalc.D.design.isMinSizeRestriction}" class="calc-value-limit">{{ sizeCalc.D.design.minSizeLimit }}</div>
                  <div class="calc-label-limit">{{ ::sizeCalc.MIN }}</div>
                </div>
                <div class="interval">
                  <div ng-hide="sizeCalc.isDesignPage" class="calc-value-limit">5000</div>
                  <div ng-show="sizeCalc.isDesignPage" ng-class="{'restriction': sizeCalc.D.design.isMaxSizeRestriction}" class="calc-value-limit">{{ sizeCalc.D.design.maxSizeLimit }}</div>
                  <div class="calc-label-limit">{{ ::sizeCalc.MAX }}</div>
                </div>
              </div>
            </td>
          </thead>
          <tr>
            <td>
              <button fs-click="sizeCalc.setValueSize(1)" class="cell calc-digit">1</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize(2)" class="cell calc-digit">2</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize(3)" class="cell calc-digit">3</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="sizeCalc.setValueSize(4)" class="cell calc-digit">4</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize(5)" class="cell calc-digit">5</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize(6)" class="cell calc-digit">6</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="sizeCalc.setValueSize(7)" class="cell calc-digit">7</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize(8)" class="cell calc-digit">8</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize(9)" class="cell calc-digit">9</button>
            </td>
          </tr>
          <tr>
            <td>
              <button fs-click="sizeCalc.setValueSize(0)" class="cell calc-digit">0</button>
            </td>
            <td>
              <button fs-click="sizeCalc.setValueSize('00')" class="cell calc-digit">00</button>
            </td>
            <td>
              <button fs-click="sizeCalc.closeSizeCaclulator()" class="cell calc-equal">=</button>
            </td>
          </tr>
        </table>
      </div>
      <div ng-class="{'active': designPage.D.design.openVoiceHelper}" class="voice-container">
        <div ng-class="{'loud-voice': designPage.D.design.loudVoice == true, 'quiet-voice': designPage.D.design.quietVoice == true}" class="voice-icon"></div>
        <div class="voice-title">Укажите размер:</div>
        <input type="text" name="name" ng-model="designPage.D.design.voiceTxt" placeholder="{{ ::designPage.VOICE_SPEACH }}" class="voice-input">
      </div>
    </div>
    <div ng-controller="TemplatesCtrl as templatesPanel" ng-class="{'active': templatesPanel.G.global.activePanel == -1, 'select': templatesPanel.G.global.activePanel == 0}" class="configur-panel template-container">
      <div class="construction-type">
        <!--.construction-type.hide(fs-click="templatesPanel.closeTemplates()")-->
        <div ng-repeat="name in templatesPanel.templateName track by $index" fs-click="templatesPanel.selectNewTemplateType($index+1)" ng-class="{'selected': templatesPanel.selected === $index+1}" class="construction-type type-btn">{{ ::templatesPanel.templateName[$index]|translate }}</div>
      </div>
      <div show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}" class="template-footer unvisible">
        <div ng-repeat="templateIcon in templatesPanel.G.global.templatesImgs track by $index" fs-click="templatesPanel.selectNewTemplate($index)" ng-class="{'selected': templatesPanel.G.global.selectedTemplate === $index}" class="other-template">
          <div show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}" class="other-template-img unvisible"><img ng-src="{{ templateIcon.src }}"></div>
          <div show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}" class="other-template-label unvisible">{{ templatesPanel.G.global.templateLabel }}</div>
          <div show-delay="{{ templatesPanel.config.DELAY_TEMPLATE_ELEMENT }}" class="other-template-subscr unvisible">{{ templateIcon.name }}</div>
        </div>
      </div>
    </div>
    <section ng-class="{'active': designPage.D.design.steps.isDoorConfig}" class="door-configuration">
      <div class="door-config-column step1">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">1 {{ ::designPage.STEP }}</div>
            <div class="door-subtitle">{{ ::designPage.LABEL_DOOR_TYPE }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': !designPage.D.design.steps.selectedStep2}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="door in designPage.D.design.doorShapeList track by $index" ng-class="{'selected': designPage.D.design.doorConfig.doorShapeIndex === $index}" ng-click="designPage.selectDoor($index, designPage.P.product)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-icon"><img ng-src="{{ door.icon }}" ng-hide="designPage.D.design.doorConfig.doorShapeIndex === $index" class="door-shape"><img ng-src="{{ door.iconSelect }}" ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index" class="door-shape"></div>
                <div class="door-option-label">{{ ::door.name | translate }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.doorShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div ng-class="{'active': designPage.D.design.steps.selectedStep1}" class="door-config-column step2">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">2 {{ ::designPage.STEP }}</div>
            <div class="door-subtitle">{{ ::designPage.LABEL_SASH_TYPE }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': !designPage.D.design.steps.selectedStep3}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="sashShape in designPage.D.design.sashShapeList track by $index" ng-class="{'selected': designPage.D.design.doorConfig.sashShapeIndex === $index}" ng-click="designPage.selectSash($index, designPage.P.product)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-label">{{ sashShape.name }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.sashShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div ng-class="{'active': designPage.D.design.steps.selectedStep2}" class="door-config-column step3">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">3 {{ ::designPage.STEP }}</div>
            <div class="door-subtitle">{{ ::designPage.LABEL_HANDLE_TYPE }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': !designPage.D.design.steps.selectedStep4}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="handle in designPage.D.design.handleShapeList track by $index" ng-class="{'selected': designPage.D.design.doorConfig.handleShapeIndex === handle.id}" ng-click="designPage.selectHandle(handle.id, designPage.P.product)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-icon"><img ng-if="handle.list_type_id === 35" ng-src="img/door-config/lever-handle.png" ng-hide="designPage.D.design.doorConfig.handleShapeIndex === handle.id" class="door-hardware"><img ng-if="handle.list_type_id === 35" ng-src="img/door-config-selected/lever-handle.png" ng-show="designPage.D.design.doorConfig.handleShapeIndex ===handle.id" class="door-hardware"><img ng-if="handle.list_type_id === 36" ng-src="img/door-config/standart-handle.png" ng-hide="designPage.D.design.doorConfig.handleShapeIndex === handle.id" class="door-hardware"><img ng-if="handle.list_type_id === 36" ng-src="img/door-config-selected/standart-handle.png" ng-show="designPage.D.design.doorConfig.handleShapeIndex === handle.id" class="door-hardware"></div>
                <div class="door-option-label">{{ handle.name }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.handleShapeIndex === handle.id" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div ng-class="{'active': designPage.D.design.steps.selectedStep3}" class="door-config-column step4">
        <div class="door-config-backfon"></div>
        <div class="door-config-header">
          <div class="door-inner">
            <div class="door-title">4 {{ ::designPage.STEP }}</div>
            <div class="door-subtitle">{{ ::designPage.LABEL_LOCK_TYPE }}</div>
          </div>
        </div>
        <div ng-class="{'scroll-box': designPage.D.design.steps.selectedStep3}" class="door-config-content">
          <ul class="door-config-list">
            <li ng-repeat="lock in designPage.D.design.lockShapeList track by $index" ng-class="{'selected': designPage.D.design.doorConfig.lockShapeIndex === $index}" ng-click="designPage.selectLock($index, designPage.P.product)" class="door-config-option">
              <div class="door-inner">
                <div class="door-option-icon"><img ng-if="lock.type === 1 || lock.type === 2" ng-src="img/door-config/onelock.png" ng-hide="designPage.D.design.doorConfig.lockShapeIndex === $index" class="door-hardware"><img ng-if="lock.type === 1 || lock.type === 2" ng-src="img/door-config-selected/onelock.png" ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index" class="door-hardware"><img ng-if="lock.type === 3 || lock.type === 4" ng-src="img/door-config/multilock.png" ng-hide="designPage.D.design.doorConfig.lockShapeIndex === $index" class="door-hardware"><img ng-if="lock.type === 3 || lock.type === 4" ng-src="img/door-config-selected/multilock.png" ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index" class="door-hardware"></div>
                <div class="door-option-label">{{ lock.name }}</div>
              </div>
              <div ng-show="designPage.D.design.doorConfig.lockShapeIndex === $index" class="selected-item-arrow"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="door-config-tools">
        <button ng-click="designPage.closeDoorConfig()" class="door-config-finish-btn close-door-config"></button>
        <button ng-show="designPage.D.design.steps.selectedStep4" ng-click="designPage.saveDoorConfig()" class="door-config-finish-save-btn save-door-config"></button>
      </div>
    </section>
    <div ng-if="designPage.config.isDesignError" class="design-attantion">{{ ::designPage.NOT_AVAILABLE }}</div>
    <div ng-if="designPage.D.design.isDimExtra" class="design-attantion">{{ ::designPage.DIM_EXTRA }}
      <div ng-click="designPage.closeAttantion()" class="close-dialog"></div>
    </div>
    <div ng-if="designPage.D.design.isSquareExtra" class="design-attantion">{{ ::designPage.SQUARE_EXTRA }}
      <div ng-click="designPage.closeAttantion()" class="close-dialog"></div>
    </div>
    <div ng-if="designPage.config.isTest" class="design-attantion">{{ ::designPage.TEST_STAGE }}
      <div ng-click="designPage.closeAttantion()" class="close-dialog"></div>
    </div>
    <div ng-controller="AttantCtrl as attantBox" ng-show="attantBox.D.design.isGlassExtra || attantBox.D.design.isHardwareExtra || attantBox.H.history.isNoPrint || attantBox.D.design.isNoDoors" class="attantion-block">
      <div ng-show="attantBox.D.design.isGlassExtra &amp;&amp; attantBox.D.design.extraGlass.length" class="glass-attantion">
        <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
        <div class="glass-list">
          <div ng-repeat="glassExtra in attantBox.D.design.extraGlass track by $index" class="extra-glass">{{ glassExtra }}</div>
        </div>
      </div>
      <div ng-show="attantBox.H.history.isNoPrint" class="design-attantion">{{ ::attantBox.NO_PRINT }}
        <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
      </div>
      <div ng-show="attantBox.D.design.isHardwareExtra &amp;&amp; attantBox.D.design.extraHardware.length" class="glass-attantion">
        <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
        <div class="glass-list">{{ ::attantBox.EXTRA_SASH }}
          <div ng-repeat="sashExtra in attantBox.D.design.extraHardware track by $index" class="extra-glass"><span ng-if="!$last">{{ sashExtra }},</span><span ng-if="$last">{{ sashExtra }}.</span></div>
          <div class="extra-glass">{{ ::attantBox.CHANGE_SIZE }}</div>
        </div>
      </div>
      <div ng-show="attantBox.D.design.isNoDoors" class="design-attantion">{{ ::attantBox.DOOR_ERROR }}
        <div fs-click="attantBox.closeAttantion()" class="close-dialog"></div>
      </div>
    </div>
    <div ng-show="designPage.G.global.checkDoors" class="doors-background">
      <div class="doors-info">
        <div class="message-alert">{{designPage.TEXT1 + designPage.G.global.widthTEMP +' x '+designPage.G.global.heightTEMP + br + designPage.TEXT2 + designPage.G.global.heightLim + designPage.TEXT3}}</div>
        <div fs-click="designPage.stepBack()" class="isSize">{{::designPage.EDIT_SIZE}}</div>
        <div fs-click="designPage.toggleDoorConfig()" class="isHardware">{{::designPage.EDIT_HARDWARE}}</div>
      </div>
    </div>
  </section>
</section>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isAlert" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-sign"></div>
    <div class="alert-title">{{ alertBox.G.global.alertTitle }}</div>
    <div class="alert-descr">{{ alertBox.G.global.alertDescr }}</div>
    <div class="alert-btns">
      <div class="thisAlert">
        <section class="cart-page">
          <div fs-click="alertBox.isAlert()" class="order-delete"></div>
        </section>
      </div>
      <button fs-click="alertBox.clickCopy()" ng-show="alertBox.G.global.isBox" class="alert-yes">{{ ::alertBox.BUTTON_C }}</button>
      <button fs-click="alertBox.clickYes()" ng-show="alertBox.G.global.isBox" class="alert-yes">{{ ::alertBox.BUTTON_E }}</button>
      <button ng-click="alertBox.isAlert()" ng-show="!alertBox.G.global.isBox" class="alert-no">{{ ::alertBox.BUTTON_N }}</button>
      <button ng-click="alertBox.clickYes()" ng-show="!alertBox.G.global.isBox" class="alert-yes">{{ ::alertBox.BUTTON_Y }}</button>
    </div>
  </div>
</div>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isSavingAlert" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-sign"></div>
    <div class="alert-title">{{ alertBox.G.global.alertTitle }}</div>
    <div class="alert-descr">{{ alertBox.G.global.alertDescr }}</div>
    <div class="alert-btns">
      <div class="thisAlert">
        <section class="main-page"></section>
      </div>
      <button ng-click="alertBox.clickNo()" ng-show="alertBox.G.global.isSavingAlert" class="alert-no">{{ ::alertBox.BUTTON_N }}</button>
      <button ng-click="alertBox.clickYes()" ng-show="alertBox.G.global.isSavingAlert" class="alert-yes">{{ ::alertBox.BUTTON_Y }}</button>
    </div>
  </div>
</div>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isAlertInfo" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-sign"></div>
    <div class="alert-title">{{ alertBox.G.global.alertTitle }}</div>
    <div class="alert-descr">{{ alertBox.G.global.alertDescr }}</div>
    <div class="alert-btns">
      <div class="thisAlert">
        <section class="cart-page"></section>
      </div>
      <button fs-click="alertBox.G.global.isAlertInfo = 0" ng-show="alertBox.G.global.isAlertInfo" class="alert-info alert-no">{{ ::alertBox.OK }}</button>
    </div>
  </div>
</div>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isSyncAlert" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-descr">{{ alertBox.G.global.alertDescr }}</div>
    <div class="alert-btns">
      <div class="thisAlert">
        <section class="loginPage"></section>
      </div>
      <button ng-click="alertBox.noSync()" ng-show="loginPage.G.global.isSyncAlert" class="alert-no">{{ ::alertBox.BUTTON_N }}</button>
      <button ng-click="alertBox.syncNow()" ng-show="loginPage.G.global.isSyncAlert" class="alert-yes">{{ ::alertBox.BUTTON_Y }}</button>
    </div>
  </div>
</div>
<div ng-controller="AlertCtrl as alertBox" ng-show="alertBox.G.global.isNoChangedProduct" class="alert-overlay">
  <div class="alert-block">
    <div class="alert-descr">{{ alertBox.SAVED_KONSTRUCTION }}</div>
    <div class="alert-btns">
      <div class="thisAlert">
        <section class="loginPage"></section>
      </div>
      <!--button.alert-no(ng-click="alertBox.G.global.isNoChangedProduct = 0", ng-show="alertBox.G.global.isNoChangedProduct") {{ ::alertBox.BUTTON_N }}-->
      <button ng-click="alertBox.G.global.isNoChangedProduct = 0" ng-show="alertBox.G.global.isNoChangedProduct" class="alert-yes">{{ ::alertBox.OK }}</button>
    </div>
  </div>
</div>
<div ng-controller="LoaderCtrl as loadBox" ng-show="loadBox.G.global.isLoader" class="loader-container">
  <div ng-class="{'active': loadBox.G.global.loader === 2}" class="loader"></div>
  <div ng-show="loadBox.G.global.loader !== 2" class="loader-counter">{{loadBox.G.global.isLoader2 + '%'}}</div>
</div>