.aux-search-content(ng-controller="AddElemGroupMenuCtrl as addElemGroups", ng-class="{'active': addElemGroups.A.aux.showAddElementGroups}")
  ul.aux-list-groups
    li.aux-list-group(ng-repeat="typeAddElement in addElemGroups.A.aux.addElementGroups | filter: {groupName: addElemGroups.A.aux.searchingWord } | orderBy:'groupName'",
    hm-tap="addElemGroups.selectAddElement(typeAddElement.groupId)",
    class="{{ typeAddElement.groupClass }}",
    ng-class="{'selected': addElemGroups.A.aux.isFocusedAddElement == typeAddElement.groupId}") {{ typeAddElement.groupName }}

      button.group-indicator(ng-class="{'active': addElemGroups.A.aux.isFocusedAddElement == typeAddElement.groupId}")
      .search-elements-block
