.alert-overlay(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isAlert")
  .alert-block
    .alert-sign
    .alert-title {{ alertBox.G.global.alertTitle }}
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      button.alert-no(ng-click="alertBox.G.global.isAlert = 0") {{ ::alertBox.BUTTON_N }}
      button.alert-yes(ng-click="alertBox.clickYes()") {{ ::alertBox.BUTTON_Y }}
