.alert-overlay(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isAlert")
  .alert-block
    .alert-sign
    .alert-title {{ alertBox.G.global.alertTitle }}
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      button.alert-no(ng-click="alertBox.clickCopy()", ng-show="alertBox.G.global.isBox") {{ ::alertBox.BUTTON_C }}
      button.alert-yes(ng-click="alertBox.clickYes()", ng-show="alertBox.G.global.isBox") {{ ::alertBox.BUTTON_E }}
      button.alert-no(ng-click="alertBox.G.global.isAlert = 0", ng-show="!alertBox.G.global.isBox") {{ ::alertBox.BUTTON_N }}
      button.alert-yes(ng-click="alertBox.clickYes()", ng-show="!alertBox.G.global.isBox") {{ ::alertBox.BUTTON_Y }}
      

