.alert-overlay(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isAlert")
  .alert-block
    .alert-sign
    .alert-title {{ alertBox.G.global.alertTitle }}
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      .thisAlert
       section.cart-page
        .order-delete(fs-click="alertBox.isAlert()", ng-show="alertBox.G.global.isBox")
      button.alert-yes(fs-click="alertBox.clickCopy()", ng-show="alertBox.G.global.isBox") {{ ::alertBox.BUTTON_C }}
      button.alert-yes(fs-click="alertBox.clickYes()", ng-show="alertBox.G.global.isBox") {{ ::alertBox.BUTTON_E }}
      button.alert-no(ng-click="alertBox.G.global.isAlert = 0", ng-show="!alertBox.G.global.isBox") {{ ::alertBox.BUTTON_N }}
      button.alert-yes(ng-click="alertBox.clickYes()", ng-show="!alertBox.G.global.isBox") {{ ::alertBox.BUTTON_Y }}
.alert-overlay(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isAlertInfo")
  .alert-block
    .alert-sign
    .alert-title {{ alertBox.G.global.alertTitle }}
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      .thisAlert
       section.cart-page
      button.alert-info(fs-click="alertBox.G.global.isAlertInfo = 0", ng-show="alertBox.G.global.isAlertInfo") {{ ::alertBox.OK }}
.alert-overlay(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isSyncAlert")
  .alert-block
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      .thisAlert
        section.loginPage
      button.alert-no(ng-click="alertBox.noSync()", ng-show="loginPage.G.global.isSyncAlert") {{ ::alertBox.BUTTON_N }}
      button.alert-yes(ng-click="alertBox.syncNow()", ng-show="loginPage.G.global.isSyncAlert") {{ ::alertBox.BUTTON_Y }}


