//-rehau templates
.alert-overlay-rehau(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isAlert")
  .alert-block-rehau
    .alert-question-sign-rehau(ng-show="alertBox.G.global.isBox")
    .alert-danger-sign-rehau(ng-show="!alertBox.G.global.isBox")
    h2.alert-title-rehau {{ alertBox.G.global.alertTitle }}
    .alert-descr-rehau {{ alertBox.G.global.alertDescr }}
    .alert-btns-rehau
      .thisAlert
       section.cart-page
        .order-delete-rehau(fs-click="alertBox.isAlert()")
      button.alert-edit-rehau(fs-click="alertBox.clickYes()", ng-show="alertBox.G.global.isBox") {{ ::alertBox.BUTTON_E }}
      button.alert-copy-rehau(fs-click="alertBox.clickCopy()", ng-show="alertBox.G.global.isBox") {{ ::alertBox.BUTTON_C }}
      button.alert-yes-rehau(ng-click="alertBox.clickYes()", ng-show="!alertBox.G.global.isBox") {{ ::alertBox.BUTTON_Y }}
      button.alert-no-rehau(ng-click="alertBox.isAlert()", ng-show="!alertBox.G.global.isBox") {{ ::alertBox.BUTTON_N }}

.alert-overlay-rehau(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isAlertInfo")
  .alert-block-rehau
    .alert-danger-sign-rehau
    .alert-title {{ alertBox.G.global.alertTitle }}
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      .thisAlert
       section.cart-page
      button.alert-info.alert-no(fs-click="alertBox.G.global.isAlertInfo = 0", ng-show="alertBox.G.global.isAlertInfo") {{ ::alertBox.OK }}

.alert-overlay-rehau(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isSyncAlert")
  .alert-block-rehau
    .alert-descr {{ alertBox.G.global.alertDescr }}
    .alert-btns
      .thisAlert
        section.loginPage
      button.alert-no(ng-click="alertBox.noSync()", ng-show="loginPage.G.global.isSyncAlert") {{ ::alertBox.BUTTON_N }}
      button.alert-yes(ng-click="alertBox.syncNow()", ng-show="loginPage.G.global.isSyncAlert") {{ ::alertBox.BUTTON_Y }}
.alert-overlay-rehau(ng-controller="AlertCtrl as alertBox", ng-show="alertBox.G.global.isNoChangedProduct")
  .alert-block-ok-rehau
    .alert-block-inner
      .alert-header
        h2.alert-title-rehau Внимание
      .alert-body
        .alert-descr-rehau Данная конструкция добавлена в корзину! Пожалуйста выберите следующее действие
        .alert-btns-rehau(ng-if="alertBox.G.global.currOpenPage === 'design'")
          .rehau-btn(ng-click="alertBox.goToCart()", ng-show="alertBox.G.global.isNoChangedProduct")
            button.alert-yes-rehau Перейти в корзину
          .rehau-btn(ng-click="alertBox.G.global.isNoChangedProduct = 0", ng-show="alertBox.G.global.isNoChangedProduct")
            button.alert-yes-rehau Создать новое окно
        .alert-btns-rehau(ng-if="alertBox.G.global.currOpenPage === 'mobile'")
          .rehau-btn(ng-click="mobilePage.setTab(4); alertBox.G.global.isNoChangedProduct = 0", ng-show="alertBox.G.global.isNoChangedProduct")
            button.alert-yes-rehau Перейти в корзину
          .rehau-btn(ng-click="alertBox.G.global.isNoChangedProduct = 0", ng-show="alertBox.G.global.isNoChangedProduct")
            button.alert-yes-rehau Создать новое окно
    .close-dialog-rehau(ng-click="alertBox.G.global.isNoChangedProduct = 0")