#call-order-dialog.cart-dialogs.order-dialog(ng-controller="CallOrderCtrl as orderDialog", ng-class="{ 'unvisible' : !orderDialog.C.cart.isOrderDialog }")
  .cart-dialogs-container
    form(name='callOrderForm', novalidate, ng-submit="orderDialog.submitForm(callOrderForm)")
      .cart-dialog-header
        button.cart-dialog-tool.back(hm-tap="orderDialog.closeOrderDialog()", type="button")
        button.cart-dialog-tool.print(hm-tap="", type="button")
        .cart-dialog-title {{ 'cart.CALL_ORDER' | translate }}
      .cart-dialog-body
        .cart-dialog-descrip {{ 'cart.CALL_ORDER_DESCRIP' | translate }}

        .cart-dialog-label {{ 'cart.CALL_ORDER_CLIENT_INFO' | translate }}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.name.$error.required }")
          input.user-field(type="text", name="name", ng-model="orderDialog.C.cart.customer.customer_name", placeholder="{{ 'cart.CLIENT_NAME' | translate }}", required)
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.name.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.phone.$error.required }")
          input.user-field(type="tel", name="phone", ng-model="orderDialog.C.cart.customer.customer_phone", ng-pattern="", placeholder="{{ 'login.MOBILE' | translate }}", required)
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.phone.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.phone.$error.pattern || callOrderForm.phone.$dirty && callOrderForm.phone.$error.pattern") {{ 'login.WRONG_NUMBER' | translate }}



        .cart-dialog-label {{ 'cart.CALL_ORDER_DELIVERY' | translate }} {{ orderDialog.O.order.new_delivery_date | date:"dd.MM.yyyy"}}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.location.$error.required }")
          input.user-field(type="text", name="location", ng-model="orderDialog.C.cart.customer.customer_location", ng-change="orderDialog.changeLocation()", placeholder="{{ 'cart.CLIENT_LOCATION' | translate }}", ng-blur="orderDialog.C.cart.isCityBox = false", required)
          .error-tooltip(ng-show='orderDialog.C.cart.submitted && callCreditForm.location.$error.required') {{ 'login.EMPTY_FIELD' | translate }}
          ul.location-list-tooltip(ng-show="orderDialog.C.cart.isCityBox", tabindex="1")
            li.location-option(ng-repeat="location in orderDialog.locations | filter: {cityName: orderDialog.C.cart.customer.customer_location } | orderBy:'cityName'", hm-tap="orderDialog.selectCity(location.fullLocation)") {{location.fullLocation}}



        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.address.$error.required }")
          input.user-field(type="text", name="address", ng-model="orderDialog.C.cart.customer.customer_address", placeholder="{{ 'cart.CLIENT_ADDRESS' | translate }}", required)
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.address.$error.required") {{ 'login.EMPTY_FIELD' | translate }}


        .cart-dialog-label {{ 'cart.CALL_ORDER_TOTAL_PRICE' | translate }}: {{ orderDialog.O.order.order_price_dis }} {{ orderDialog.U.userInfo.currency }}
        .cart-dialog-label {{ 'cart.CALL_ORDER_ADD_INFO' | translate }}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.mail.$error.required }")
          input.user-field(type="email", name="mail", ng-model="orderDialog.C.cart.customer.customer_email", placeholder="{{ 'cart.CLIENT_EMAIL' | translate }}", required)
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.mail.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.mail.$error.email") {{ 'cart.WRONG_EMAIL' | translate }}

        .input-field
          input.user-field(type="tel", name="phone2", ng-model="orderDialog.C.cart.customer.customer_phone_city", ng-pattern="", placeholder="{{ 'cart.ADD_PHONE' | translate }}")

        .input-field
          .subtitle-field {{ 'cart.CLIENT_SEX' | translate }}
          label.label-field {{ 'cart.CLIENT_SEX_M' | translate }}
            input.radio-field(type="radio", name="sex", ng-model="orderDialog.C.cart.customer.customer_sex", value="1")
          label.label-field {{ 'cart.CLIENT_SEX_F' | translate }}
            input.radio-field(type="radio", name="sex", ng-model="orderDialog.C.cart.customer.customer_sex", value="2")

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.age.$error.required }")
          .subtitle-field {{ 'cart.CLIENT_AGE' | translate }}
          select.user-select-field(name="age", ng-model="orderDialog.C.cart.customer.customer_age", ng-options="age.name for age in orderDialog.C.optionAge", required)
            option(value='') {{ 'cart.SELECT_AGE' | translate }}
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.age.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.education.$error.required }")
          .subtitle-field {{ 'cart.CLIENT_EDUCATION' | translate }}
          select.user-select-field(name="education", ng-model="orderDialog.C.cart.customer.customer_education", ng-options="educ.name for educ in orderDialog.C.optionEductaion", required)
            option(value='') {{ 'cart.SELECT_ADUCATION' | translate }}
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.education.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.occupation.$error.required }")
          .subtitle-field {{ 'cart.CLIENT_OCCUPATION' | translate }}
          select.user-select-field(name="occupation", ng-model="orderDialog.C.cart.customer.customer_occupation", ng-options="occup.name for occup in orderDialog.C.optionOccupation", required)
            option(value='') {{ 'cart.SELECT_OCCUPATION' | translate }}
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.occupation.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

        .input-field(ng-class="{ 'has-error' : orderDialog.C.cart.submitted && callOrderForm.infoSource.$error.required }")
          .subtitle-field {{ 'cart.CLIENT_INFO_SOURCE' | translate }}
          select.user-select-field(name="infoSource", ng-model="orderDialog.C.cart.customer.customer_infoSource", ng-options="info.name for info in orderDialog.C.optionInfo", required)
            option(value='') {{ 'cart.SELECT_INFO_SOURCE' | translate }}
          .error-tooltip(ng-show="orderDialog.C.cart.submitted && callOrderForm.infoSource.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

        button.save.save-order(type="submit") {{ 'cart.READY' | translate }}