#call-order-dialog.cart-dialogs.order-dialog(ng-controller="CallOrderCtrl", ng-class="{ 'unvisible' : !global.showOrderDialog }")
  .cart-dialogs-container
    form(name='callOrderForm', novalidate, ng-submit="submitForm(callOrderForm)")
      .cart-dialog-header
        button.cart-dialog-tool.back(ng-click="hideCallOrderDialog()", type="button")
        button.cart-dialog-tool.print(ng-click="", type="button")
        .cart-dialog-title {{ 'cart.CALL_ORDER' | translate }} {{ global.orderNumber }}
        button.save(type="submit") {{ 'cart.READY' | translate }}
      .cart-dialog-body
        .cart-dialog-descrip {{ 'cart.CALL_ORDER_DESCRIP' | translate }}

        .cart-dialog-label {{ 'cart.CALL_ORDER_CLIENT_INFO' | translate }}

        .input-field(ng-class="{ 'has-error' : submitted && callOrderForm.name.$error.required }")
          input.user-field(type="text", name="name", ng-model="user.name", placeholder="{{ 'cart.CLIENT_NAME' | translate }}", required)
          .error-tooltip(ng-show="submitted && callOrderForm.name.$error.required") {{ 'login.EMPTY_FIELD' | translate }}

        .input-field(ng-class="{ 'has-error' : submitted && callOrderForm.phone.$error.required }")
          input.user-field(type="tel", name="phone", ng-model="user.phone", ng-pattern="", placeholder="{{ 'login.MOBILE' | translate }}", required)
          .error-tooltip(ng-show="submitted && callOrderForm.phone.$error.required") {{ 'login.EMPTY_FIELD' | translate }}
          .error-tooltip(ng-show="submitted && callOrderForm.phone.$error.pattern || callOrderForm.phone.$dirty && callOrderForm.phone.$error.pattern") {{ 'login.WRONG_NUMBER' | translate }}



        .cart-dialog-label {{ 'cart.CALL_ORDER_DELIVERY' | translate }} {{ global.newDeliveryDate }}

        .input-field(ng-class="{ 'has-error' : submitted && callOrderForm.location.$error.required, 'current-city' : currentCity }")
          input.user-field(type="text", name="location", ng-model="user.location", ng-change="checkChanges()", placeholder="{{ 'cart.CLIENT_LOCATION' | translate }}", ng-focus="isFocused=true", ng-blur="isFocused=false", required)
          .error-tooltip(ng-show='submitted && callOrderForm.location.$error.required') {{ 'login.EMPTY_FIELD' | translate }}
          ul.location-list-tooltip(ng-show="showTipCity && isFocused", ng-focus="isFocused=true", ng-blur="isFocused=false", tabindex="1")
            li.location-option(ng-repeat="location in filteredCity", ng-click="selectCity(location.city, location.current)", ng-class="{ 'current-city' : location.current }") {{location.city}}

        .input-field(ng-class="{ 'has-error' : submitted && callOrderForm.address.$error.required }")
          input.user-field(type="text", name="address", ng-model="user.address", placeholder="{{ 'cart.CLIENT_ADDRESS' | translate }}", required)
          .error-tooltip(ng-show="submitted && callOrderForm.address.$error.required") {{ 'login.EMPTY_FIELD' | translate }}


        .cart-dialog-label {{ 'cart.CALL_ORDER_TOTAL_PRICE' | translate }}: {{ global.orderTotalPrice }} {{ global.currency }}
        .cart-dialog-label {{ 'cart.CALL_ORDER_ADD_INFO' | translate }}

        .input-field
          input.user-field(type="email", name="mail", ng-model="user.mail", placeholder="{{ 'cart.CLIENT_EMAIL' | translate }}")
          .error-tooltip(ng-show="submitted && callOrderForm.mail.$error.email") {{ 'cart.WRONG_EMAIL' | translate }}

        .input-field
          input.user-field(type="tel", name="phone2", ng-model="user.phone2", ng-pattern="", placeholder="{{ 'cart.ADD_PHONE' | translate }}")
