.doors-background(ng-controller="DoorCheckCtrl as checkBox", ng-show="checkBox.G.global.checkDoors")
	.doors-info
		.message-alert {{::checkBox.TEXT1 + ' 2000x700 ' + br + checkBox.TEXT2 + '2100-2400х600-900' + checkBox.TEXT3}}
		.isSize(fs-click="checkBox.stepBack()"){{::checkBox.EDIT_HARDWARE}}
		.isHardware(fs-click="checkBox.toggleDoorConfig()"){{::checkBox.EDIT_SIZE}}