.doors-background(ng-controller="DoorCheckCtrl as checkBox", ng-show="checkBox.G.global.checkDoors")
	.doors-info
		.message-alert {{checkBox.TEXT1 + checkBox.G.global.widthTEMP +' x '+checkBox.G.global.heightTEMP + br + checkBox.TEXT2 + checkBox.G.global.heightLim + checkBox.TEXT3}}
		.isSize(fs-click="checkBox.stepBack()"){{::checkBox.EDIT_SIZE}}
		.isHardware(fs-click="checkBox.toggleDoorConfig()"){{::checkBox.EDIT_HARDWARE}}