.background(ng-show ='historyPage.G.global.isEditBox', ng-controller="EditOrderCtrl as editOrder")
 .order-cont
  .boxText
   .close-m(fs-click="editOrder.close()")

  .boxText
   .txt(ng-class="{'alert':historyPage.G.global.isAlertHistory === 1}") {{::editOrder.CONFIGMENU_ALERT}}
  .boxOrder(ng-repeat="isBoxArray in editOrder.H.history.isBoxArray track by $index")
   .cart-menu-m
     .box6
      .title {{'№'}}
      .cart-item-data-m
       .value {{isBoxArray.product_id}}
     .box3
      .title {{::editOrder.CONFIGMENU_PROFILE}}
      .cart-item-data-m
       .value {{isBoxArray.nameProfiles}}
         select.user-select-field-m(name="Profiles", ng-if='isBoxArray.nameProfiles', ng-change ="editOrder.listName(isBoxArray.product_id)", ng-model="isBoxArray.dataProfiles", ng-options="listNameProfiles.name for listNameProfiles in editOrder.H.history.listNameProfiles", required)      
     .box4
      .title {{::editOrder.CONFIGMENU_GLASS}}
      .cart-item-data-m
       .cart-item(ng-repeat="nameGlass in isBoxArray.nameGlass track by $index")
        .value {{nameGlass.name}}
          select.user-select-field-m(name="Glass", ng-if='isBoxArray.nameGlass', ng-model="nameGlass.dataGlass", ng-options="listNameGlass.name for listNameGlass in isBoxArray.listNameGlass", required)       
     .box2
      .title {{::editOrder.CONFIGMENU_HARDWARE}}
      .cart-item-data-m
       .value {{isBoxArray.nameHardware }}
         select.user-select-field-m(name="Hardware", ng-if='isBoxArray.nameHardware', ng-model="isBoxArray.dataHardware", ng-options="listNameHardware.name for listNameHardware in editOrder.H.history.listNameHardware", required)
     .box1
      .title {{::editOrder.CONFIGMENU_LAMINATION}}
      .cart-item-data-m
       .value
         span(ng-if="isBoxArray.img_in_id > 1") {{ isBoxArray.nameIn }}
         span(ng-if="isBoxArray.img_in_id === 1") {{ isBoxArray.nameIn |translate }}
         span /
         span(ng-if="isBoxArray.img_out_id > 1") {{ isBoxArray.nameOut }}
         span(ng-if="isBoxArray.img_out_id === 1") {{ isBoxArray.nameOut |translate }}
       select.user-select-field-m(name="Lamination", ng-model="isBoxArray.dataLamination", ng-options="listNameLaminat.name for listNameLaminat in isBoxArray.listNameLaminat", required)
   .cart-menu-m
     .addElemBox(ng-repeat="isBoxDopElem in editOrder.H.history.isBoxDopElem track by $index", ng-if="isBoxDopElem.product_id === isBoxArray.product_id")
      .title {{isBoxDopElem.list_group_name}}
      .valueAddElem {{isBoxDopElem.name}}
         select.user-select-field-add(name="list_group_name", ng-if='isBoxDopElem.listAddElem', ng-model="isBoxDopElem.selectedAddElem", ng-options="listAddElem.name for listAddElem in isBoxDopElem.listAddElem", required)
      .width
         input.user-select-field-add(type="text", name="width", ng-model="isBoxDopElem.selectedWidth")
      .quantity
         input.user-select-field-add(type="text", name="width", ng-model="isBoxDopElem.selectedQuantity")

  .boxText
   .save-m(fs-click="editOrder.check()")
  