.background(ng-show ='historyPage.G.global.isEditBox', ng-controller="EditOrderCtrl as editOrder")
 .order-cont
  .boxText
   .close-m(fs-click="editOrder.close()")
  .cart-menu-m(ng-repeat="isBoxArray in editOrder.H.history.isBoxArray track by $index")
    .box6
     .title {{'№'}}
     .cart-item-data-m
      .value {{isBoxArray.product_id}}
    .box3
     .title {{::editOrder.CONFIGMENU_PROFILE}}
     .cart-item-data-m
      .value {{isBoxArray.nameProfiles}}
       select.user-select-field-m(name="Profiles", ng-if='isBoxArray.nameProfiles', ng-change ="editOrder.listName(isBoxArray.product_id)", ng-model="isBoxArray.dataProfiles", ng-options="listNameProfiles.name for listNameProfiles in editOrder.H.history.listNameProfiles", required)      
    .box4
     .title {{::editOrder.CONFIGMENU_GLASS}}
     .cart-item-data-m
      .cart-item(ng-repeat="nameGlass in isBoxArray.nameGlass track by $index")
       .value {{nameGlass.name}}
        select.user-select-field-m(name="Glass", ng-if='isBoxArray.nameGlass', ng-model="nameGlass.dataGlass", ng-options="listNameGlass.name for listNameGlass in isBoxArray.listNameGlass", required)       
    .box2
     .title {{::editOrder.CONFIGMENU_HARDWARE}}
     .cart-item-data-m
      .value {{isBoxArray.nameHardware }}
       select.user-select-field-m(name="Hardware", ng-if='isBoxArray.nameHardware', ng-model="isBoxArray.dataHardware", ng-options="listNameHardware.name for listNameHardware in editOrder.H.history.listNameHardware", required)
    .box1
     .title {{::editOrder.CONFIGMENU_LAMINATION}}
     .cart-item-data-m
      .value {{isBoxArray.nameIn +'/'+ isBoxArray.nameOut}}
       select.user-select-field-m(name="Lamination", ng-model="isBoxArray.dataLamination", ng-options="listNameLaminat.name for listNameLaminat in isBoxArray.listNameLaminat", required)
  .boxText
   .save-m(fs-click="editOrder.okey()")
  