.cart-dialogs.order-dialog(ng-class="{ 'unvisible' : !orderForm.C.cart.isOrderDialog }" ng-if="orderForm.C.cart.isOrderDialog")
  .cart-dialogs-container(ng-if="orderForm.globalConstants.serverIP !== 'http://api.calc.csokna.ru' && orderForm.U.userInfo.user_type !== 8")
    form(name='callOrderForm', novalidate, ng-submit="orderForm.submitForm(callOrderForm)")
      .cart-dialog-header
        button.cart-dialog-tool.back(fs-click="orderForm.closeOrderDialog()", type="button")
        .cart-dialog-title {{ ::orderForm.CALL_ORDER }}
      .cart-dialog-body
        .cart-dialog-descrip {{ ::orderForm.CALL_ORDER_DESCRIP }}

        .cart-dialog-label {{ ::orderForm.CALL_ORDER_CLIENT_INFO }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.name.$error.required }")
          input.user-field(type="text", name="name", ng-model="orderForm.C.cart.customer.customer_name", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_NAME }}", required)
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.name.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.phone.$error.required }")
          input.user-field(type="tel", name="phone", ng-model="orderForm.C.cart.customer.customer_phone", ng-pattern="", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.MOBILE }}", required)
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.phone.$error.required") {{ ::orderForm.EMPTY_FIELD }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.phone.$error.pattern || callOrderForm.phone.$dirty && callOrderForm.phone.$error.pattern") {{ ::orderForm.WRONG_NUMBER }}
        .cart-dialog-label {{ ::orderForm.CALL_ORDER_DELIVERY }} {{ orderForm.O.order.new_delivery_date | date:"dd.MM.yyyy"}}
        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.location.$error.required && orderForm.G.global.changeLocation === 0}")
          input.user-field(id="impLocation", type="text", name="location", ng-model="orderForm.C.cart.customer.customer_location", ng-change="orderForm.changeLocation()", placeholder="{{ ::orderForm.CLIENT_LOCATION }}", required)
          .error-tooltip(ng-show='orderForm.C.cart.submitted && callCreditForm.location.$error.required') {{ ::orderForm.EMPTY_FIELD_LOCATION }}
          ul.location-list-tooltip(ng-show="orderForm.C.cart.isCityBox")
            li.location-option(ng-repeat="location in orderForm.locations | locationFilter:orderForm.C.cart.customer.customer_location track by $index", fs-click="orderForm.selectCity(location)") {{location.fullLocation}}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.address.$error.required }")
          input.user-field.street(type="text", name="address", ng-model="orderForm.C.cart.customer.customer_address", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_ADDRESS }}", required)
          input.user-field.small(type="text", name="house", ng-model="orderForm.C.cart.customer.customer_house", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_HOUSE }}", required)
          input.user-field.small(type="text", name="flat", ng-model="orderForm.C.cart.customer.customer_flat", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_FLAT }}", required)
          input.user-field.small(type="text", name="floor", ng-model="orderForm.C.cart.customer.customer_floor", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_FLOOR }}", required)
          .error-tooltip.street(ng-show="orderForm.C.cart.submitted && callOrderForm.address.$error.required") {{ ::orderForm.EMPTY_FIELD }}
          .error-tooltip.house(ng-show="orderForm.C.cart.submitted && callOrderForm.house.$error.required") {{ ::orderForm.EMPTY_FIELD }}
          .error-tooltip.flat(ng-show="orderForm.C.cart.submitted && callOrderForm.flat.$error.required") {{ ::orderForm.EMPTY_FIELD }}
          .error-tooltip.floor(ng-show="orderForm.C.cart.submitted && callOrderForm.floor.$error.required") {{ ::orderForm.EMPTY_FIELD }}


        .cart-dialog-label {{ ::orderForm.CALL_ORDER_TOTAL_PRICE }}: {{ orderForm.O.order.order_price_dis }} {{ orderForm.U.userInfo.currency }}
        .cart-dialog-label {{ ::orderForm.CALL_ORDER_ADD_INFO }}

        .input-field
          input.user-field(type="email", name="mail", ng-model="orderForm.C.cart.customer.customer_email", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_EMAIL_ORDER }}")
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.mail.$error.email") {{ ::orderForm.WRONG_EMAIL }}

        .input-field
          input.user-field(type="tel", name="phone2", ng-model="orderForm.C.cart.customer.customer_phone_city", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.ADD_PHONE }}")

        .input-field
          .subtitle-field {{ ::orderForm.CLIENT_SEX }}
          label.label-field {{ ::orderForm.CLIENT_SEX_M }}
            input.radio-field(type="radio", name="sex", ng-model="orderForm.C.cart.customer.customer_sex", value="1")
          label.label-field {{ ::orderForm.CLIENT_SEX_F }}
            input.radio-field(type="radio", name="sex", ng-model="orderForm.C.cart.customer.customer_sex", value="2")

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.age.$error.required }")
          .subtitle-field {{ ::orderForm.CLIENT_AGE }}
          select.user-select-field(name="age", ng-model="orderForm.C.cart.customer.customer_age", ng-options="age.name | translate for age in orderForm.C.optionAge", required)
            //option(value='') {{ ::orderForm.SELECT_AGE }}
            option(value='') {{ ::orderForm.SELECT_PLACEHOLD }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.age.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.education.$error.required }")
          .subtitle-field {{ ::orderForm.CLIENT_EDUCATION }}
          select.user-select-field(name="education", ng-model="orderForm.C.cart.customer.customer_education", ng-options="educ.name | translate for educ in orderForm.C.optionEductaion", required)
            //option(value='') {{ ::orderForm.SELECT_ADUCATION }}
            option(value='') {{ ::orderForm.SELECT_PLACEHOLD }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.education.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.occupation.$error.required }")
          .subtitle-field {{ ::orderForm.CLIENT_OCCUPATION }}
          select.user-select-field(name="occupation", ng-model="orderForm.C.cart.customer.customer_occupation", ng-options="occup.name | translate for occup in orderForm.C.optionOccupation", required)
            //option(value='') {{ ::orderForm.SELECT_OCCUPATION }}
            option(value='') {{ ::orderForm.SELECT_PLACEHOLD }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.occupation.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.infoSource.$error.required }")
          .subtitle-field {{ ::orderForm.CLIENT_INFO_SOURCE }}
          select.user-select-field(name="infoSource", ng-model="orderForm.C.cart.customer.customer_infoSource", ng-options="info.name | translate for info in orderForm.C.optionInfo", required)
            //option(value='') {{ ::orderForm.SELECT_INFO_SOURCE }}
            option(value='') {{ ::orderForm.SELECT_PLACEHOLD }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.infoSource.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        button.save.save-order(type="submit") {{ ::orderForm.READY }}
  .cart-dialogs-container(ng-if="orderForm.globalConstants.serverIP === 'http://api.calc.csokna.ru' z")
    form(name='callOrderForm', novalidate, ng-submit="orderForm.submitForm(callOrderForm)")
      .cart-dialog-header
        button.cart-dialog-tool.back(fs-click="orderForm.closeOrderDialog()", type="button")
        .cart-dialog-title {{ ::orderForm.CALL_ORDER }}
      .cart-dialog-body
        .cart-dialog-descrip {{ ::orderForm.CALL_ORDER_DESCRIP }}

        .cart-dialog-label {{ ::orderForm.CALL_ORDER_CLIENT_INFO }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.name.$error.required }")
          input.user-field(type="text", name="name", ng-model="orderForm.C.cart.customer.customer_name", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_NAME }}", required)
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.name.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.phone.$error.required }")
          input.user-field(type="tel", name="phone", ng-model="orderForm.C.cart.customer.customer_phone", ng-pattern="", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.MOBILE }}")
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.phone.$error.required") {{ ::orderForm.EMPTY_FIELD }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.phone.$error.pattern || callOrderForm.phone.$dirty && callOrderForm.phone.$error.pattern") {{ ::orderForm.WRONG_NUMBER }}

        .input-field(ng-class="{ 'has-error' : orderForm.C.cart.submitted && callOrderForm.mail.$error.required }")
          input.user-field(type="email", name="mail", ng-model="orderForm.C.cart.customer.customer_email", ng-focus="orderForm.C.cart.isCityBox = 0", placeholder="{{ ::orderForm.CLIENT_EMAIL_ORDER }}", required)
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.mail.$error.email") {{ ::orderForm.WRONG_EMAIL }}
          .error-tooltip(ng-show="orderForm.C.cart.submitted && callOrderForm.mail.$error.required") {{ ::orderForm.EMPTY_FIELD }}

        button.save.save-order(type="submit") {{ ::orderForm.READY }}