.glass-selector-dialog(ng-controller="GlassSelectorCtrl as glassBox", ng-class="{'active': glassBox.G.global.showGlassSelectorDialog}")
  .dialog-inner
    svg-template(template="glassBox.P.product.template", template-width="glassBox.constants.svgTemplateIconBigWidth", template-height="glassBox.constants.svgTemplateIconBigHeight", type-construction="iconBig")
  .close-dialog(hm-tap="glassBox.closeGlassSelectorDialog()")