.info_container(ng-controller="infoBoxCtrl as infoBox", ng-class="{'active': infoBox.G.global.isInfoBox}")
  .info_box
    .info_box_inner
      img(ng-if="infoBox.G.global.infoImg.length  && !infoBox.G.global.cordova", ng-src="{{infoBox.G.global.infoImg}}")
      img(ng-if="infoBox.G.global.infoImg.length && infoBox.G.global.cordova", ng-src="{{infoBox.extendUrl(infoBox.G.global.infoImg)}}")
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Украина"')
        .info_title {{ ::infoBox.COUNTRY_NAME }}
        .info_descrip {{ ::infoBox.COUNTRY_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "IDEAL"')
        .info_title {{ ::infoBox.IDEAL_NAME }}
        .info_descrip {{ ::infoBox.IDEAL_DESKR }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S500 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S500 (П1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_2 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_2 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S500 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_3 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_3 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S400 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_4 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_4 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S700 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_5 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_5 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S700 (П1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_6 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_6 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S700 (□1,5мм арм.)"') 
        .info_title {{ ::infoBox.PROFILE_TITLE_7 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_7 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "S700Крыло(Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_8 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_8 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "S700Крыло(□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_9 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_9 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_10 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_10 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 (П 1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_11 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_11 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_12 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_12 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL2000 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_13 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_13 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL2000 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_14 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_14 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL4000(П 1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_15 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_15 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL4000(□1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_16 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_16 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL7000(□1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_17 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_17 }}
      //- These are already transfers of double-glazed windows
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стандартные однокамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE }}
        .info_descrip {{ ::infoBox.GLASS_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стандартные двухкамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE_2 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_2 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Энергосберегающие однокамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE_3 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_3 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Энергосберегающие двухкамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE_4 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_4 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Моностекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_5 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_5 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Сендвич-панели"')
        .info_title {{ ::infoBox.GLASS_TITLE_6 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_6 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "С стеклом \\"Дельта\\""')
        .info_title {{ ::infoBox.GLASS_TITLE_7 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_7 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Сатин белый матовый"')
        .info_title {{ ::infoBox.GLASS_TITLE_8 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_8 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "С стеклом \\"Кризет\\""')
        .info_title {{ ::infoBox.GLASS_TITLE_9 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_9 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "С противоударной плёнкой 225 мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_10 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_10 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Сатин бронза матовый"')
        .info_title {{ ::infoBox.GLASS_TITLE_11 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_11 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Bronze Reflect 28%"')
        .info_title {{ ::infoBox.GLASS_TITLE_12 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_12 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Blue Reflect 32%"')
        .info_title {{ ::infoBox.GLASS_TITLE_13 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_13 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Gold Reflect 47%"')
        .info_title {{ ::infoBox.GLASS_TITLE_14 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_14 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Silver Reflect 20%"')
        .info_title {{ ::infoBox.GLASS_TITLE_15 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_15 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Калёное стекло ESG"')
        .info_title {{ ::infoBox.GLASS_TITLE_16 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_16 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Диамант белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_17 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_17 }}
       ng-switch(ng-if='infoBox.G.global.infoTitle === "Диамант коричневый"')
        .info_title {{ ::infoBox.GLASS_TITLE_55 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_55 }}
      //-Description of various profiles such as 4-16-14, etc.
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_18 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_18 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_19 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_19 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_20 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_20 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4i с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_21 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_21 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-16_Ar-4 мультифункц."')
        .info_title {{ ::infoBox.GLASS_TITLE_22 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_22 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16_Ar-4i с i-стеклом, Аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_23 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_23 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4i с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_24 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_24 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-14_Ar-6 мультифункц."')
        .info_title {{ ::infoBox.GLASS_TITLE_25 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_25 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14_Ar-4i с i-стеклом,Аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_26 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_26 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10_Ar-4-10_Ar-4i с i-стеклом,аргон "')
        .info_title {{ ::infoBox.GLASS_TITLE_27 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_27 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 6-8_Ar-4-10_Ar-4i "')
        .info_title {{ ::infoBox.GLASS_TITLE_28 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_28 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-10_Ar-4-10_Ar-4i мультифункц. с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_29 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_29 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-10_Ar-4-10_Ar-4 мультифункц."')
        .info_title {{ ::infoBox.GLASS_TITLE_30 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_30 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4i с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_31 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_31 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-9_Ar-6-9_Ar-4i мультифункц. с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_32 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_32 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 6-8-4-10-4i"')
        .info_title {{ ::infoBox.GLASS_TITLE_33 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_33 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-9_Ar-4-9_Ar-6 мультифункц. аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_34 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_34 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Термопанель 24 мм (Сендвич)"')
        .info_title {{ ::infoBox.GLASS_TITLE_35 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_35 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Термопанель 32 мм (Сендвич)."')
        .info_title {{ ::infoBox.GLASS_TITLE_36 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_36 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4дельта бел-16_Ar-4 i-стекло,аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_37 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_37 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4дельта бел-16-4 i-стекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_38 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_38 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 дельта белое"')
        .info_title {{ ::infoBox.GLASS_TITLE_39 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_39 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 сатин бел.мат./сатин бел.мат."')
        .info_title {{ ::infoBox.GLASS_TITLE_40 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_40 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 сатин бел.мат./i-стекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_41 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_41 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4 сатин бел.мат."')
        .info_title {{ ::infoBox.GLASS_TITLE_42 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_42 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 сатин бел.мат."')
        .info_title {{ ::infoBox.GLASS_TITLE_43 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_43 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 кризет/кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_44 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_44 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-16_Ar-4KR мультифункц./Кризет бел."')
        .info_title {{ ::infoBox.GLASS_TITLE_45 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_45 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4i кризет белый i-стекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_46 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_46 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4 кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_47 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_47 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_48 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_48 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4 кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_49 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_49 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 против. 225мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_50 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_50 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4 противоуд. 225мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_51 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_51 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6(225)-14-4(225) противоуд.225мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_52 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_52 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4i противоуд. 225мкм с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_53 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_53 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 6_225мкм-8-4-10-4i противоуд. 225мкм с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_54 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_54 }}

      //- This part of code refers to Energy-saving single-chamber double-glazed windows 

      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4i"')
        .info_title {{ ::infoBox.GLASS_TITLE_56 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_56 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-16_Ar-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_57 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_57 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16_Ar-4i"')
        .info_title {{ ::infoBox.GLASS_TITLE_58 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_58 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4i"')
        .info_title {{ ::infoBox.GLASS_TITLE_59 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_59 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-14_Ar-6"')
        .info_title {{ ::infoBox.GLASS_TITLE_60 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_60 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14_Ar-4i"')
        .info_title {{ ::infoBox.GLASS_TITLE_61 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_61 }}

      //-There are already translations of fittings
      ng-switch(ng-if='infoBox.G.global.infoTitle === "AXOR"')
        .info_title {{ ::infoBox.AXOR_TITLE }}
        .info_descrip {{ ::infoBox.AXOR_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO"')
        .info_title {{ ::infoBox.MACO_TITLE }}
        .info_descrip {{ ::infoBox.MACO_DESKR }}

      ng-switch-default(ng-if='infoBox.G.global.infoTitle !== "Украина" && infoBox.G.global.infoTitle !== "IDEAL" && infoBox.G.global.infoTitle !== "Steko S500 (Арм.станд.)" && infoBox.G.global.infoTitle !== "Steko S500 (П1.5мм арм.)" && infoBox.G.global.infoTitle !== "Steko S500 (□1,5мм арм.)" && infoBox.G.global.infoTitle !== "Steko S400 (Арм.станд.)" && infoBox.G.global.infoTitle !== "Steko S700 (Арм.станд.)" && infoBox.G.global.infoTitle !== "Steko S700 (П1,5мм арм.)" && infoBox.G.global.infoTitle !== "Steko S700 (□1,5мм арм.)" && infoBox.G.global.infoTitle !== "S700Крыло(Арм.станд.)" && infoBox.G.global.infoTitle !== "S700Крыло(□1,5мм арм.)" && infoBox.G.global.infoTitle !== "EXTRA V75 (Арм.станд.)" && infoBox.G.global.infoTitle !== "EXTRA V75 (П 1,5мм)" && infoBox.G.global.infoTitle !== "EXTRA V75 (□1,5мм арм.)" && infoBox.G.global.infoTitle !== "Steko IDEAL2000 (Арм.станд.)" && infoBox.G.global.infoTitle !== "Steko IDEAL2000 (□1,5мм арм.)" && infoBox.G.global.infoTitle !== "Steko IDEAL4000(П 1,5мм)" && infoBox.G.global.infoTitle !== "Steko IDEAL4000(□1,5мм)" && infoBox.G.global.infoTitle !== "Steko IDEAL7000(□1,5мм)" && infoBox.G.global.infoTitle !== "Стандартные однокамерные" && infoBox.G.global.infoTitle !== "Стандартные двухкамерные" && infoBox.G.global.infoTitle !== "Энергосберегающие однокамерные" && infoBox.G.global.infoTitle !== "Энергосберегающее двухкамерные" && infoBox.G.global.infoTitle !== "Моностекло" && infoBox.G.global.infoTitle !== "Сендвич-панели" && infoBox.G.global.infoTitle !== "С стеклом \\"Дельта\\"" && infoBox.G.global.infoTitle !== "Сатин белый матовый" && infoBox.G.global.infoTitle !== "С стеклом \\"Кризет\\"" && infoBox.G.global.infoTitle !== "С противоударной плёнкой 225 мкм" && infoBox.G.global.infoTitle !== "Сатин бронза матовый" && infoBox.G.global.infoTitle !== "Стекло Bronze Reflect 28%" && infoBox.G.global.infoTitle !== "Стекло Blue Reflect 32%" && infoBox.G.global.infoTitle !== "Стекло Gold Reflect 47%" && infoBox.G.global.infoTitle !== "Стекло Silver Reflect 20%" && infoBox.G.global.infoTitle !== "Калёное стекло ESG" && infoBox.G.global.infoTitle !== "Диамант белый" && infoBox.G.global.infoTitle !== "Диамант коричневый" && infoBox.G.global.infoTitle !== "СПО 24мм 4-16-4" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14-4" && infoBox.G.global.infoTitle !== "СПД 32 мм 4-10-4-10-4" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4i с i-стеклом" && infoBox.G.global.infoTitle !== "СПО 24 мм 4MDS_Plus-16_Ar-4 мультифункц." && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16_Ar-4i с i-стеклом, Аргон" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14-4i с i-стеклом" && infoBox.G.global.infoTitle !== "СПО 24 мм 4MDS_Plus-14_Ar-6 мультифункц." && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14_Ar-4i с i-стеклом,Аргон" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14_Ar-4i с i-стеклом,Аргон" && infoBox.G.global.infoTitle !== "СПД 32 мм 4-10_Ar-4-10_Ar-4i с i-стеклом,аргон " && infoBox.G.global.infoTitle !== "СПД 32 мм 6-8_Ar-4-10_Ar-4i " && infoBox.G.global.infoTitle !== "СПД 32 мм 4MDS_Plus-10_Ar-4-10_Ar-4i мультифункц. с i-стеклом" && infoBox.G.global.infoTitle !== "СПД 32 мм 4MDS_Plus-10_Ar-4-10_Ar-4 мультифункц." && infoBox.G.global.infoTitle !== "СПД 32 мм 4-10-4-10-4i с i-стеклом" && infoBox.G.global.infoTitle !== "СПД 32 мм 4MDS_Plus-9_Ar-6-9_Ar-4i мультифункц. с i-стеклом" && infoBox.G.global.infoTitle !== "СПД 32 мм 6-8-4-10-4i" && infoBox.G.global.infoTitle !== "СПД 32 мм 4MDS_Plus-9_Ar-4-9_Ar-6 мультифункц. аргон" && infoBox.G.global.infoTitle !== "Термопанель 24 мм (Сендвич)" && infoBox.G.global.infoTitle !== "Термопанель 32 мм (Сендвич)." && infoBox.G.global.infoTitle !== "СПО 24 мм 4дельта бел-16_Ar-4 i-стекло,аргон" && infoBox.G.global.infoTitle !== "СПО 24 мм 4дельта бел-16-4 i-стекло" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 дельта белое" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 сатин бел.мат./сатин бел.мат." && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 сатин бел.мат./i-стекло" && infoBox.G.global.infoTitle !== "СПД 32 мм 4-10-4-10-4 сатин бел.мат." && infoBox.G.global.infoTitle !== "СПД 32 мм 4-10-4-10-4 сатин бел.мат." && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 сатин бел.мат." && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 кризет/кризет белый" && infoBox.G.global.infoTitle !== "СПО 24 мм 4MDS_Plus-16_Ar-4KR мультифункц./Кризет бел." && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4i кризет белый i-стекло" && infoBox.G.global.infoTitle !== "СПД 32 мм 4-10-4-10-4 кризет белый" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 кризет белый" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14-4 кризет белый" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4 против. 225мкм" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14-4 противоуд. 225мкм" && infoBox.G.global.infoTitle !== "СПО 24 мм 6(225)-14-4(225) противоуд.225мкм" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14-4i противоуд. 225мкм с i-стеклом" && infoBox.G.global.infoTitle !== "СПД 32 мм 6_225мкм-8-4-10-4i противоуд. 225мкм с i-стеклом" && infoBox.G.global.infoTitle !== "СПД 32 мм 6_225мкм-8-4-10-4i противоуд. 225мкм с i-стеклом" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16-4i" && infoBox.G.global.infoTitle !== "СПО 24 мм 4MDS_Plus-16_Ar-4" && infoBox.G.global.infoTitle !== "СПО 24 мм 4-16_Ar-4i" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14-4i" && infoBox.G.global.infoTitle !== "СПО 24 мм 4MDS_Plus-14_Ar-6" && infoBox.G.global.infoTitle !== "СПО 24 мм 6-14_Ar-4i" && infoBox.G.global.infoTitle !== "AXOR" && infoBox.G.global.infoTitle !== "MACO" && infoBox.G.global.infoTitle !== "AXOR" && infoBox.G.global.infoTitle !== "Komfort Line K-3" && infoBox.G.global.infoTitle !== "Komfort Line K-3 Микрощелевое" && infoBox.G.global.infoTitle !== "AXOR K3 FIRST TILT" && infoBox.G.global.infoTitle !== "STEKO Plus Скрытые петли" && infoBox.G.global.infoTitle !== "STEKO Plus" && infoBox.G.global.infoTitle !== "MACO VZ" && infoBox.G.global.infoTitle !== "MACO VZ Микрощелевое" && infoBox.G.global.infoTitle !== "MACO IS Микрощелевое"')
        .info_title {{infoBox.G.global.infoTitle}}
        .info_descrip {{infoBox.G.global.infoDescrip}}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Komfort Line K-3"')
        .info_title {{ ::infoBox.FITTINGS_TITLE }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Komfort Line K-3 Микрощелевое"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_2 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_2 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "AXOR K3 FIRST TILT"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_3 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_3 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "STEKO Plus Скрытые петли"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_4 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_4 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "STEKO Plus"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_5 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_5 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO VZ"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_6 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_6 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO VZ Микрощелевое"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_7 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_7 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO IS Микрощелевое"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_8 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_8 }}


      //- Translating modal windows of additional elements
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Hoppe \\"ШТУТГАРТ\\" Secustik"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_2 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_2 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручки оконные с ключом"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_3 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_3 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручки оконные"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_4 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_4 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Rif Белые Матовые"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_5 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_5 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Rif Soft Белые"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_6 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_6 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Крем Де Турке (Светло-бежевый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_7 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_7 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Лалберо Бьянко (Белое Дерево)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_8 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_8 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Мрамор (Мрамор Классико)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_9 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_9 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Лалберо Бруно (Зол.Дуб)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_10 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_10 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Венге (Тёмный Дуб)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_11 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_11 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Махагон"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_12 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_12 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Danke Лючидо Бьянко (Белый глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_13 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_13 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Standard белые"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_14 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_14 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Standard Мрамор"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_15 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_15 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Standard Золотой Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_16 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_16 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko Komfort Белый глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_17 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_17 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko Komfort Беж. мрамор глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_18 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_18 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko Komfort Орех структур."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_19 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_19 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko Komfort Серый мрамор глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_20 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_20 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko Komfort Белый дуб структур."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_21 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_21 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg белый (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_22 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_22 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg белый (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_23 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_23 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Антрацит (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_24 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_24 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Мрамор (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_25 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_25 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Мрамор (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_26 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_26 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Золотой Дуб (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_27 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_27 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Винчестер (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_28 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_28 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Орех (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_29 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_29 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Орех (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_30 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_30 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Тёмный Дуб (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_31 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_31 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Белый Дуб (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_32 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_32 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Sauberg Белый Дуб (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_33 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_33 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit белый (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_34 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_34 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit белый (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_35 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_35 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Золотой Дуб (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_36 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_36 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Золотой Дуб (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_37 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_37 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Мрамор (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_38 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_38 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Мрамор (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_39 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_39 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Тёмный Дуб (матовый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_40 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_40 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Тёмный Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_41 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_41 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Бежевый Мрамор (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_42 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_42 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Plastolit Тёмный Дуб (глянец)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_43 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_43 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Rif ICE Белый глянцевый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_44 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_44 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Rif OSCAR Высокий глянец (Белый)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_45 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_45 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Отливы коричневые"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_46 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_46 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Отливы белые"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_47 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_47 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Отливы \\"Золотой дуб\\""')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_48 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_48 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S400 БЕЛЫЕ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_49 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_49 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S300 БЕЛЫЕ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_50 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_50 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S500 БЕЛЫЕ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_51 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_51 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S700 БЕЛЫЕ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_52 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_52 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 БЕЛЫЕ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_53 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_53 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S400 Ламинированные"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_54 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_54 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S700 Ламинированные"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_55 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_55 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "S500 Ламинированные"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_56 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_56 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "STEKO IDEAL белые"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_57 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_57 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "STEKO IDEAL ламинированные"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_58 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_58 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 Ламинированные"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_59 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_59 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Белые козырьки, Тип-1"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_60 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_60 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Белые козырьки, Тип-2"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_61 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_61 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Белые козырьки, Тип-3"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_62 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_62 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Белые козырьки, Тип-4"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_63 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_63 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Белые козырьки, Тип-9"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_64 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_64 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники белые, Тип-1"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_65 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_65 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники белые, Тип-3"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_66 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_66 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники белые, Тип-4"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_67 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_67 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники белые, Тип-5"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_68 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_68 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники белые, Тип-7"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_69 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_69 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники белые, Тип-9"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_70 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_70 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Коричневые козырьки, Тип-1"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_71 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_71 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Коричневые козырьки, Тип-2"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_72 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_72 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Коричневые козырьки, Тип-3"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_73 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_73 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Коричневые козырьки, Тип-9"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_74 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_74 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники коричневые, Тип-1"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_75 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_75 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники коричневые, Тип-3"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_76 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_76 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники коричневые, Тип-4"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_77 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_77 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Нащельники коричневые, Тип-5"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_78 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_78 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка белая Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_79 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_79 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка бронза Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_80 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_80 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка золото/беж (латунь) Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_81 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_81 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка коричн. Secustik Roto Swing "')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_82 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_82 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка светл.бронза Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_83 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_83 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка серебро Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_84 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_84 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка титан мат. Secustik Roto Swing"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_85 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_85 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Hoppe Штудгард Secustik белая ручка оконная "')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_86 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_86 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Hoppe Штудгард Secustik бронза ручка оконная"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_87 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_87 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Hoppe Штудгард Secustik корич ручка оконная "')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_88 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_88 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка ок.с ключом бел. Roto"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_89 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_89 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка ок.с ключом бел.(Китай)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_90 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_90 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка ок.с ключом кор. Roto"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_91 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_91 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка ок.с ключом кор.(Китай)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_92 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_92 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка Bio Touch Белая"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_93 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_93 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка Bio Touch Коричневая"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_94 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_94 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка оконная Антрацит"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_95 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_95 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка оконная белая"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_96 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_96 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка оконная бронза"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_97 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_97 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка оконная коричневая"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_98 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_98 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Детский замок AFC Original  Корич."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_99 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_99 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Детский замок AFC Original Белый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_100 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_100 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Детский замок BSL Sash prime Белый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_101 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_101 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Детский замок BSL Sash prime Корич."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_102 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_102 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Детский замок Penkid с ключом белый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_103 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_103 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Детский замок Penkid с ключом коричневый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_104 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_104 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка оконная Hoppe Hamburg Secustik белая"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_105 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_105 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Ручка оконная Hoppe Hamburg Secustik кор"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_106 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_106 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 100мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_107 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_107 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 150мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_108 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_108 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 200мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_109 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_109 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 250мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_110 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_110 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 300мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_111 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_111 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 350мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_112 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_112 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 400мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_113 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_113 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 450мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_114 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_114 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 500мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_115 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_115 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 550мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_116 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_116 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 600мм Steko Komfort ( Бел глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_117 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_117 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 700мм Steko Komfort ( Бел глянец) 2капиноса."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_118 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_118 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 100мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_119 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_119 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 150мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_120 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_120 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 200мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_121 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_121 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 250мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_122 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_122 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 300мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_123 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_123 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 350мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_124 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_124 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 400мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_125 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_125 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 450мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_126 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_126 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 500мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_127 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_127 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 550мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_128 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_128 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 600мм Steko Komfort (Беж мрамор глянец)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_129 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_129 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 700мм Steko Komfort (Беж мрамор глянец) 2капиноса."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_130 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_130 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 100мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_131 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_131 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 150мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_132 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_132 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 200мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_133 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_133 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 250мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_134 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_134 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 300мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_135 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_135 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 350мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_136 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_136 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 400мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_137 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_137 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 450мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_138 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_138 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 500мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_139 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_139 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 550мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_140 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_140 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 600мм Steko Komfort (Орех структур)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_141 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_141 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 700мм Steko Komfort (Орех структур) 2капиноса."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_142 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_142 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 100мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_143 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_143 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 150мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_144 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_144 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 200мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_145 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_145 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 250мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_146 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_146 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 300мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_147 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_147 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 350мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_148 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_148 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 400мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_149 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_149 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 450мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_150 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_150 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 500мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_151 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_151 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 550мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_152 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_152 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 600мм Steko Komfort (Сер мрамор глян)."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_153 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_153 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 700мм Steko Komfort (Сер мрамор глян) 2капиноса."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_154 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_154 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 100мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_155 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_155 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 150мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_156 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_156 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 200мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_157 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_157 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 250мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_158 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_158 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 300мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_159 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_159 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 350мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_160 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_160 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 400мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_161 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_161 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 450мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_162 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_162 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 500мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_163 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_163 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 550мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_164 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_164 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 600мм Steko Komfort ( Белый дуб структур)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_165 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_165 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под 700мм Steko Komfort ( Белый дуб структур) 2 капиноса"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_166 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_166 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под Rif ICE 600 белый глянец (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_167 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_167 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Под Rif OSKAR 600 белый глянец (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_168 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_168 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Балк.защ. Roto NT магнитная"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_169 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_169 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Довод.GEZE TS1000 белый с ножницами до 80кг"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_170 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_170 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Довод.GEZE TS1000 корич с ножницами до 80кг"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_171 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_171 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Довод.GEZE TS2000 бел"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_172 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_172 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Довод.GEZE TS2000 кор."')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_173 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_173 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Довод.GEZE TS2000 серебро V BC RAL0110"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_174 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_174 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Доводчик RYOBI D-9903 + Ножницы EN-2,3 (до 60кг) Бел"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_175 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_175 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Доводчик RYOBI D-9903 + Ножницы EN-2,3 (до 60кг) Корич"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_176 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_176 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл. Plastolit 600мм Рустикал Дуб (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_177 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_177 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл. Plastolit стык 120-180 гр. 600мм мрамор"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_178 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_178 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.350 мм с 1 капиносом (пара) бел"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_179 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_179 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.350 мм с 1 капиносом (пара) ЗОЛ ДУБ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_180 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_180 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.350 с одним капиносом"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_181 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_181 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.700 мм с 2мя капиносами бел"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_182 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_182 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.700 мм с 2мя капиносами МРАМОР"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_183 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_183 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.700 с двумя капиносами"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_184 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_184 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Danke Лалберо бруно 650мм(120-180 град)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_185 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_185 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Danke Лалберо бруно 700мм(90-135 град)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_186 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_186 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Danke Лючидо бьянко 350 (1капинос) пара"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_187 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_187 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Danke Лючидо бьянко 650мм(120-180 град)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_188 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_188 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Danke Лючидо бьянко 700 (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_189 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_189 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit 600мм бел (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_190 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_190 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit 600мм Зол.Дуб (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_191 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_191 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit 600мм Зол.Дуб (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_192 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_192 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit 600мм Тёмный дуб (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_193 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_193 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стык 120-180 гр. 600мм Рустикал Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_194 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_194 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стык 90-135 гр. 600мм мрамор"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_195 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_195 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стык 90-135 гр. 600мм Рустикал Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_196 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_196 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стык 90-135гр Зол.Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_197 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_197 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стык.120-180гр.600мм бел"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_198 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_198 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стыковая 120-180 гр. 600мм Тёмн.Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_199 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_199 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стыковая 120-180гр Зол.Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_200 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_200 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.Plastolit стыковая 90-135 гр. 600мм Тёмн.Дуб"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_201 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_201 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.пластик.600 цветная Элизиум"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_202 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_202 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 650мм (120/180 град) бел Standard"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_203 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_203 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 650мм (120/180 град) ЗОЛ ДУБ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_204 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_204 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 650мм (120/180 град) МРАМОР"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_205 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_205 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 650мм(120-180 градусов)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_206 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_206 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 700мм (90/135 град) бел Standard"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_207 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_207 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 700мм (90/135 град) ЗОЛ ДУБ"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_208 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_208 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 700мм (90/135 град) МРАМОР"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_209 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_209 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.соед. 700мм(90-135 градусов)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_210 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_210 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.стык.600 бел. Rif"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_211 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_211 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Загл.стык.600 кор. Rif"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_212 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_212 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Danke Венге 350 (1капинос) пара"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_213 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_213 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Danke Венге 700 (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_214 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_214 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Danke Лалберо бьянко 350 (1капинос) пара"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_215 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_215 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Danke Лалберо бьянко 700 (2 капиноса)"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_216 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_216 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка ICE 500мм бел (2 капиноса) глян"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_217 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_217 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Komfort соед. 650 (120°-180°) Белый глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_218 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_218 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка OSKAR/ICE 500мм бел (2 капиноса) глян"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_219 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_219 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Plastolit стыковая 90-135гр. 600мм бел"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_220 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_220 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм антрацит (2 капиноса) мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_221 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_221 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм бел (2 капиноса) глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_222 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_222 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм бел (2 капиноса) матовый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_223 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_223 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм Венге (2 капиноса) глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_224 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_224 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм Винчестер (2 капиноса) мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_225 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_225 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм Золотой Дуб (2 капиноса) глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_226 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_226 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм Золотой Дуб (2 капиноса) мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_227 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_227 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм мрамор (2 капиноса) глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_228 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_228 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка Sauberg 600мм мрамор (2 капиноса) мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_229 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_229 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg антрацит (180-120град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_230 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_230 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg антрацит (90-135град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_231 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_231 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg бел (180-120град) 600 глян"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_232 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_232 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg бел (180-120град) 600 матовый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_233 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_233 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg бел (180-120град) 600 матовый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_234 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_234 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg бел (90-135град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_235 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_235 }}


      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg бел (90-135град) 600 матовый"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_236 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_236 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Венге (180-120град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_237 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_237 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Венге (90-135град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_238 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_238 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Винчестер (180-120град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_239 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_239 }}


      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Винчестер (90-135град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_240 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_240 }}


      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Зол Дуб (180-120град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_241 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_241 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Зол Дуб (180-120град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_242 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_242 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Зол Дуб (90-135град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_243 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_243 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg Зол Дуб (90-135град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_244 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_244 }}
      
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg мрамор (180-120град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_245 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_245 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg мрамор (180-120град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_246 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_246 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg мрамор (90-135град) 600 глянец"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_247 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_247 }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Заглушка соед Sauberg мрамор (90-135град) 600 мат"')
        .info_title {{ ::infoBox.ADDITIONAL_ELEMENTS_TITLE_248 }}
        .info_descrip {{ ::infoBox.ADDITIONAL_ELEMENTS_DESKR_248 }}


      //.info_link(ng-href="{{infoBox.G.global.infoLink}}", target="_blank") {{infoBox.G.global.infoLink}}
    .close-dialog(ng-click="infoBox.closeInfoBox($event)")
    .isApply-container(ng-show="infoBox.G.global.showApply === 1" )
      .isApply(fs-click="infoBox.isApply()", ng-show="infoBox.G.global.showApply === 1" )
        p {{::infoBox.ASKING_PRICE}}

