.info_container(ng-controller="infoBoxCtrl as infoBox", ng-class="{'active': infoBox.G.global.isInfoBox}")
  .info_box
    .info_box_inner
      img(ng-if="infoBox.G.global.infoImg.length  && !infoBox.G.global.cordova", ng-src="{{infoBox.G.global.infoImg}}")
      img(ng-if="infoBox.G.global.infoImg.length && infoBox.G.global.cordova", ng-src="{{infoBox.extendUrl(infoBox.G.global.infoImg)}}")
      //- .info_title {{infoBox.G.global.infoTitle}}
      //- .info_descrip {{infoBox.G.global.infoDescrip}}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Украина"')
        .info_title {{ ::infoBox.COUNTRY_NAME }}
        .info_descrip {{ ::infoBox.COUNTRY_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "IDEAL"')
        .info_title {{ ::infoBox.IDEAL_NAME }}
        .info_descrip {{ ::infoBox.IDEAL_DESKR }}

      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S500 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S500 (П1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_2 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_2 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S500 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_3 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_3 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S400 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_4 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_4 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S700 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_5 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_5 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S700 (П1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_6 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_6 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko S700 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_7 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_7 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "S700Крыло(Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_8 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_8 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "S700Крыло(□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_9 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_9 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_10 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_10 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 (П 1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_11 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_11 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "EXTRA V75 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_12 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_12 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL2000 (Арм.станд.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_13 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_13 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL2000 (□1,5мм арм.)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_14 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_14 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL4000(П 1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_15 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_15 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL4000(□1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_16 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_16 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Steko IDEAL7000(□1,5мм)"')
        .info_title {{ ::infoBox.PROFILE_TITLE_17 }}
        .info_descrip {{ ::infoBox.PROFILE_DESKR_17 }}
      //- These are already transfers of double-glazed windows
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стандартные однокамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE }}
        .info_descrip {{ ::infoBox.GLASS_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стандартные двухкамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE_2 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_2 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Энергосберегающие однокамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE_3 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_3 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Энергосберегающие двухкамерные"')
        .info_title {{ ::infoBox.GLASS_TITLE_4 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_4 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Моностекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_5 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_5 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Сендвич-панели"')
        .info_title {{ ::infoBox.GLASS_TITLE_6 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_6 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "С стеклом \\"Дельта\\""')
        .info_title {{ ::infoBox.GLASS_TITLE_7 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_7 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Сатин белый матовый"')
        .info_title {{ ::infoBox.GLASS_TITLE_8 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_8 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "С стеклом \\"Кризет\\""')
        .info_title {{ ::infoBox.GLASS_TITLE_9 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_9 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "С противоударной плёнкой 225 мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_10 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_10 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Сатин бронза матовый"')
        .info_title {{ ::infoBox.GLASS_TITLE_11 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_11 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Bronze Reflect 28%"')
        .info_title {{ ::infoBox.GLASS_TITLE_12 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_12 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Blue Reflect 32%"')
        .info_title {{ ::infoBox.GLASS_TITLE_13 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_13 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Gold Reflect 47%"')
        .info_title {{ ::infoBox.GLASS_TITLE_14 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_14 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Стекло Silver Reflect 20%"')
        .info_title {{ ::infoBox.GLASS_TITLE_15 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_15 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Калёное стекло ESG"')
        .info_title {{ ::infoBox.GLASS_TITLE_16 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_16 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Диамант белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_17 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_17 }}
       ng-switch(ng-if='infoBox.G.global.infoTitle === "Диамант коричневый"')
        .info_title {{ ::infoBox.GLASS_TITLE_55 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_55 }}
      //-Description of various profiles such as 4-16-14, etc.
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_18 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_18 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_19 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_19 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4"')
        .info_title {{ ::infoBox.GLASS_TITLE_20 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_20 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4i с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_21 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_21 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-16_Ar-4 мультифункц."')
        .info_title {{ ::infoBox.GLASS_TITLE_22 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_22 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16_Ar-4i с i-стеклом, Аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_23 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_23 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4i с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_24 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_24 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-14_Ar-6 мультифункц."')
        .info_title {{ ::infoBox.GLASS_TITLE_25 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_25 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14_Ar-4i с i-стеклом,Аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_26 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_26 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10_Ar-4-10_Ar-4i с i-стеклом,аргон "')
        .info_title {{ ::infoBox.GLASS_TITLE_27 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_27 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 6-8_Ar-4-10_Ar-4i "')
        .info_title {{ ::infoBox.GLASS_TITLE_28 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_28 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-10_Ar-4-10_Ar-4i мультифункц. с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_29 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_29 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-10_Ar-4-10_Ar-4 мультифункц."')
        .info_title {{ ::infoBox.GLASS_TITLE_30 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_30 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4i с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_31 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_31 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-9_Ar-6-9_Ar-4i мультифункц. с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_32 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_32 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 6-8-4-10-4i"')
        .info_title {{ ::infoBox.GLASS_TITLE_33 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_33 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4MDS_Plus-9_Ar-4-9_Ar-6 мультифункц. аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_34 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_34 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Термопанель 24 мм (Сендвич)"')
        .info_title {{ ::infoBox.GLASS_TITLE_35 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_35 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Термопанель 32 мм (Сендвич)."')
        .info_title {{ ::infoBox.GLASS_TITLE_36 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_36 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4дельта бел-16_Ar-4 i-стекло,аргон"')
        .info_title {{ ::infoBox.GLASS_TITLE_37 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_37 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4дельта бел-16-4 i-стекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_38 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_38 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 дельта белое"')
        .info_title {{ ::infoBox.GLASS_TITLE_39 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_39 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 сатин бел.мат./сатин бел.мат."')
        .info_title {{ ::infoBox.GLASS_TITLE_40 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_40 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 сатин бел.мат./i-стекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_41 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_41 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4 сатин бел.мат."')
        .info_title {{ ::infoBox.GLASS_TITLE_42 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_42 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 сатин бел.мат."')
        .info_title {{ ::infoBox.GLASS_TITLE_43 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_43 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 кризет/кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_44 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_44 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4MDS_Plus-16_Ar-4KR мультифункц./Кризет бел."')
        .info_title {{ ::infoBox.GLASS_TITLE_45 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_45 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4i кризет белый i-стекло"')
        .info_title {{ ::infoBox.GLASS_TITLE_46 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_46 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 4-10-4-10-4 кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_47 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_47 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_48 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_48 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4 кризет белый"')
        .info_title {{ ::infoBox.GLASS_TITLE_49 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_49 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 4-16-4 против. 225мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_50 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_50 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4 противоуд. 225мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_51 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_51 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6(225)-14-4(225) противоуд.225мкм"')
        .info_title {{ ::infoBox.GLASS_TITLE_52 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_52 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПО 24 мм 6-14-4i противоуд. 225мкм с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_53 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_53 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "СПД 32 мм 6_225мкм-8-4-10-4i противоуд. 225мкм с i-стеклом"')
        .info_title {{ ::infoBox.GLASS_TITLE_54 }}
        .info_descrip {{ ::infoBox.GLASS_DESKR_54 }}

      //-There are already translations of fittings
      ng-switch(ng-if='infoBox.G.global.infoTitle === "AXOR"')
        .info_title {{ ::infoBox.AXOR_TITLE }}
        .info_descrip {{ ::infoBox.AXOR_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO"')
        .info_title {{ ::infoBox.MACO_TITLE }}
        .info_descrip {{ ::infoBox.MACO_DESKR }}


      ng-switch(ng-if='infoBox.G.global.infoTitle === "Komfort Line K-3"')
        .info_title {{ ::infoBox.FITTINGS_TITLE }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "Komfort Line K-3 Микрощелевое"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_2 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_2 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "AXOR K3 FIRST TILT"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_3 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_3 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "STEKO Plus Скрытые петли"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_4 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_4 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "STEKO Plus"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_5 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_5 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO VZ"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_6 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_6 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO VZ Микрощелевое"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_7 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_7 }}
      ng-switch(ng-if='infoBox.G.global.infoTitle === "MACO IS Микрощелевое"')
        .info_title {{ ::infoBox.FITTINGS_TITLE_8 }}
        .info_descrip {{ ::infoBox.FITTINGS_DESKR_8 }}


      //.info_link(ng-href="{{infoBox.G.global.infoLink}}", target="_blank") {{infoBox.G.global.infoLink}}
    .close-dialog(ng-click="infoBox.closeInfoBox($event)")
    .isApply-container(ng-show="infoBox.G.global.showApply === 1" )
      .isApply(fs-click="infoBox.isApply()", ng-show="infoBox.G.global.showApply === 1" )
        p {{::infoBox.ASKING_PRICE}}

