.info_container(ng-controller="infoBoxCtrl as infoBox", ng-class="{'active': infoBox.G.global.isInfoBox}")
  .info_box
    .info_box_inner
      img(ng-if="infoBox.G.global.infoImg.length  && !infoBox.G.global.cordova", ng-src="{{infoBox.G.global.infoImg}}")
      img(ng-if="infoBox.G.global.infoImg.length && infoBox.G.global.cordova", ng-src="{{infoBox.extendUrl(infoBox.G.global.infoImg)}}")
      .info_title {{infoBox.G.global.infoTitle}}
      .info_descrip {{infoBox.G.global.infoDescrip}}


      //.info_link(ng-href="{{infoBox.G.global.infoLink}}", target="_blank") {{infoBox.G.global.infoLink}}
    .close-dialog(ng-click="infoBox.closeInfoBox($event)")
    .isApply-container(ng-show="infoBox.G.global.showApply === 1" )
      .isApply(fs-click="infoBox.isApply()", ng-show="infoBox.G.global.showApply === 1" )
        p {{::infoBox.ASKING_PRICE}}

