.info_container(ng-controller="infoBoxCtrl as infoBox", ng-class="{'active': infoBox.G.global.isInfoBox}")
  .info_box
    .info_box_inner
      img(ng-if="infoBox.G.global.infoImg.length", ng-src="{{infoBox.G.global.infoImg}}")
      .info_title {{infoBox.G.global.infoTitle}}
      .info_descrip {{infoBox.G.global.infoDescrip}}
      a.info_link(ng-href="{{infoBox.G.global.infoLink}}", target="_blank") {{infoBox.G.global.infoLink}}
    .close-dialog(fs-click="infoBox.closeInfoBox()")
    .isApply(fs-click="infoBox.isApply()") {{::infoBox.ASKING_PRICE}}