.coeff-RoomContainer(ng-show="mainPage.G.global.isRoomElements>0 && mainPage.P.product.doorLock.stvorka_type === 7 && !mainPage.P.product.is_addelem_only")
  .blockCheck {{mainPage.G.global.getPCPower}}
  .elem51
  .elem52
  .elem53
    img(ng-src='img/room/tree.png')
  .elem54
  .elem55
  .elem56
  .elem57
  .elem58
    .img-b
  .elem59
    .img-b
  .elem60
    .img-b
