.loader-container(ng-controller="LoaderCtrl as loadBox", ng-show="loadBox.G.global.isLoader")
    .loader-counter(ng-show='loadBox.G.global.loader !== 2')
        label {{loadBox.G.global.isLoader2 +'%'}}
        .loader(ng-class="{'active': loadBox.G.global.loader === 2}")
