.loader-container(ng-controller="LoaderCtrl as loadBox", ng-show="loadBox.G.global.isLoader")
  .loader(ng-class="{'active': loadBox.G.global.loader === 2}")
  .numberw(ng-show='loadBox.G.global.loader !== 2') {{loadBox.G.global.isLoader2 + '%'}}