.construction-block-main
  .construction-scrollbox-main
    svg-template(template="mainPage.P.product.template", template-width="mainPage.constants.svgTemplateWidth", template-height="mainPage.constants.svgTemplateHeight", type-construction="mainPage.constants.SVG_ID_MAIN")
