.coeff-RoomContainer
  .coeff-room-block1
    img(src='/img/room/1.png')
  .coeff-room-block2
    img(src='/img/room/4.png')
  .coeff-room-block3
    img(src='/img/room/5.png')
  .coeff-room-block4
  .coeff-room-block5
    img(src='/img/room/8.png')
  .coeff-room-block6
    img(src='/img/room/12.png')
 
 
