.print-conteiner(ng-click="window.print()")
  .header
    .order-number
      b {{historyPage.H.history.orders[0].id}}
    .order-info 
      .col-md-7
        p
          Заказчик: {{historyPage.H.history.orders[0].customer_name}}
          br 
          Населённый пункт: {{historyPage.H.history.orders[0].customer_location}}
          br 
          Адрес: {{historyPage.H.history.orders[0].customer_address+ ' дом ' +  historyPage.H.history.orders[0].customer_house + ' кв. ' + historyPage.H.history.orders[0].customer_flat + ' этаж ' + historyPage.H.history.orders[0].customer_floor}}
          br 
          Тел. моб: {{historyPage.H.history.orders[0].customer_phone}}
        p  
          Исполнитель: Не определено
          br 
          Телефон: {{historyPage.H.history.orders[0].customer_phone}}
          br 
          Город: {{historyPage.H.history.orders[0].customer_city}}
          br 
          Адрес: {{historyPage.H.history.orders[0].customer_city + "("+historyPage.H.history.orders[0].created+")"}}
      .col-md-5
        table
          tbody 
            tr
              td(ng-class="title") Общее кол-во конструкций
              td(ng-class="result") результат
            tr
              td(ng-class="title") Общая площядь конструкций
              td(ng-class="result") результат
            tr
              td(ng-class="title") Общий периметр конструкций
              td(ng-class="result") результат                            
        br 
        br      
        table
          tbody 
            tr
              td(ng-class="title") 
              td(ng-class="result") Скидка %
              td(ng-class="result") Итоги к оплате:
            tr
              td(ng-class="title") Конструкции
              td(ng-class="result") {{historyPage.H.history.orders[0].discount_construct}}
              td(ng-class="result") {{historyPage.H.history.orders[0].templates_price}}
            tr
              td(ng-class="title") Доп. єлементы
              td(ng-class="result") {{historyPage.H.history.orders[0].discount_addelem}} 
              td(ng-class="result") {{historyPage.H.history.orders[0].order_price - historyPage.H.history.orders[0].templates_price}}   
            tr
              td(ng-class="title") Доставка
              td(ng-class="result") 
              td(ng-class="result") {{historyPage.H.history.orders[0].delivery_price}}
            tr
              td(ng-class="title") Монтаж
              td(ng-class="result") 
              td(ng-class="result") {{historyPage.H.history.orders[0].mounting_price}}
            tr
              td(ng-class="title") Итого
              td(ng-class="result")    
              td(ng-class="result") {{historyPage.H.history.orders[0].templates_price}}   
  hr
  .content(ng-repeat="produ in historyPage.H.history.isTest track by $index")
    .header
      .head-block {{produ.product_id}}
      .head-block
    .construction
      .left
      .right
        tbody
          table
            tr
              td(ng-class="title") Профильная система
              td(ng-class="result")  {{produ.profile.name}}
            tr
              td(ng-class="title") Стеклопакет(ы)
              td(ng-class="result", ng-repeat="gl in produ.glass track by $index") {{gl.name}}
            tr
              td(ng-class="title") Фурнитура
              td(ng-class="result") {{produ.hardware.name || 'отсутствует'}}
            tr
              td(ng-class="title") Коеф. теплоизоляции
              td(ng-class="result") {{produ.template_square}}
            tr
              td(ng-class="title") Цвет профиля
              td(ng-class="result") {{produ.lamination.laminat_in_name | translate + '(внутренняя)' + {produ.lamination.laminat_out_name | translate + '(наружная)'}}
            tr
              td(ng-class="title") Доп. елементы
              td(ng-class="result") {{produ.profile.name}}
            tr
              td(ng-class="title") Стоимость конструкции
              td(ng-class="result") {{produ.template_price}}
            tr
              td(ng-class="title") Стоимость доп. елементов
              td(ng-class="result") {{produ.addelem_price}}
  hr