table.qty-calc-container(ng-controller="qtyCalculatorCtrl as qtyCalc", ng-keyup="qtyCalc.pressCulculator($event)")
  tr
    td
      button.cell.calc-digit(ng-click="qtyCalc.setValueQty(-1)") -1
    td
      .calc-interval
        .interval
          .calc-qty-limit 1000
          .calc-label-limit {{ 'add_elements.QTY_LABEL' | translate }}
    td
      button.cell.calc-digit(ng-click="qtyCalc.setValueQty(+1)") +1
  tr
    td
      button.cell.calc-digit(ng-click="qtyCalc.setValueQty(-5)") -5
    td
      button.cell.calc-equal(ng-click="qtyCalc.closeQtyCaclulator()") =
    td
      button.cell.calc-digit(ng-click="qtyCalc.setValueQty(+5)") +5