table.qty-calc-container
  tr
    td
      button.cell.calc-digit(value = "-1") -1
    td
      .calc-interval
        .interval
          .calc-qty-limit 1000
          .calc-label-limit шт.
    td
      button.cell.calc-digit(value = "+1") +1
  tr
    td
      button.cell.calc-digit(value = "-5") -5
    td
      button.cell.calc-equal =
    td
      button.cell.calc-digit(value = "+5") +5