table.qty-calc-container(ng-keyup="elementsMenu.pressCulculator($event)")
  tr
    td
      button.cell.calc-digit(ng-click="elementsMenu.setValueQty(-1)") -1
    td
      .calc-interval
        .interval
          .calc-qty-limit 1000
          .calc-label-limit {{ 'add_elements.QTY_LABEL' | translate }}
    td
      button.cell.calc-digit(ng-click="elementsMenu.setValueQty(+1)") +1
  tr
    td
      button.cell.calc-digit(ng-click="elementsMenu.setValueQty(-5)") -5
    td
      button.cell.calc-equal(ng-click="elementsMenu.closeQtyCaclulator()") =
    td
      button.cell.calc-digit(ng-click="elementsMenu.setValueQty(+5)") +5