.container
  table.qty-calc-container(ng-controller="qtyCalculatorCtrl as qtyCalc", ng-keyup="qtyCalc.pressCulculator($event)")
    tr
      td
        button.cell.calc-digit(fs-click="qtyCalc.setValueQty(-1)") -1
      td
        .calc-interval
          .interval
            .calc-qty-limit 1000
            .calc-label-limit {{ ::qtyCalc.QTY_LABEL }}
      td
        button.cell.calc-digit(fs-click="qtyCalc.setValueQty(+1)") +1
    tr
      td
        button.cell.calc-digit(fs-click="qtyCalc.setValueQty(-5)") -5
      td
        button.cell.calc-equal(fs-click="qtyCalc.closeQtyCaclulator()") =
      td
        button.cell.calc-digit(fs-click="qtyCalc.setValueQty(+5)") +5