.report-container(ng-controller="ReportCtrl as reportBox", ng-show="reportBox.G.global.isReport" )
  .close_report(fs-click="reportBox.closeReport()")
  .report-menu(ng-if="reportBox.G.global.isReport")
    .report-menu-item(ng-repeat="reportMenu in reportBox.config.reportMenu | orderBy: reportMenu.position track by $index", fs-click="reportBox.sortReport(reportMenu.id)", ng-class="{'active': reportMenu.id === reportBox.config.reportFilterId}") {{ ::reportMenu.name }}
  .report-box
    table
      tr.report-item
        th.report-elem {{ ::reportBox.NAME_LABEL }}
        th.report-elem {{ ::reportBox.ARTICUL_LABEL }}
        th.report-elem {{ ::reportBox.QTY_LABEL }}
        th.report-elem {{ ::reportBox.SIZE_LABEL }} ({{ ::reportBox.LETTER_M }})
        th.report-elem base
        th.report-elem {{ ::reportBox.U.userInfo.currency }}
      tr.report-item(ng-repeat="report in reportBox.P.product.report | filter: {element_group_id: reportBox.config.reportFilterId}:true | orderBy: 'name' track by $index")
        td.report-elem {{report.name}}
        td.report-elem {{report.sku}}
        td.report-elem {{report.amount}}
        td.report-elem {{ (report.sizeLabel) ? report.sizeLabel : report.size }}
        td.report-elem {{report.price }}
        td.report-elem {{report.priceReal}}
    .report-price-total {{ ::reportBox.CALL_ORDER_TOTAL_PRICE }} ({{reportBox.config.reportPriceBase}}) {{reportBox.config.reportPriceTotal}} {{ ::reportBox.U.userInfo.currency }}

