.room-info-container(ng-controller="RoomInfoCtrl")
  .room-header
    .room-name Детская
      button.select-rooms.unvisible Все

  .coeff-container
    .coeff-block
      .coeff.climate 1
      .coeff-title(name="климатическая зона")
    .coeff-block
      .coeff.heat-transfer.coeff-low 0.44
        .coeff-max 0.75
      .coeff-title(name="сопротивление теплопередаче")
    .coeff-block
      .coeff.heat-exchange 90
        .coeff-max 90
      .coeff-title(name="коэффициент теплообмена")
