.room-info-container(ng-controller="RoomInfoCtrl as roomInfo", ng-class="{'show-comment': roomInfo.G.global.isShowCommentBlock}", hm-swipeup="roomInfo.switchComment($event)", hm-swipedown="roomInfo.switchComment($event)")
  .coeff-container
    .coeff-block
      .coeff.climate {{ roomInfo.O.order.climatic_zone }}
      .coeff-title(data-output="{{ 'mainpage.CLIMATE_ZONE' | translate }}", typing="{{ roomInfo.config.typing }}", typing-delay="{{ roomInfo.config.DELAY_SHOW_COEFF }}")
    .coeff-block
      .coeff.heat-transfer(ng-class="{'coeff-low': roomInfo.P.product.heat_coef_total < roomInfo.O.order.heat_coef_min}") {{ roomInfo.P.product.heat_coef_total }}
        .coeff-max {{ roomInfo.O.order.heat_coef_min }}
      .coeff-title(data-output="{{ 'mainpage.THERMAL_RESISTANCE' | translate }}", typing="{{ roomInfo.config.typing }}", typing-delay="{{ roomInfo.config.DELAY_SHOW_COEFF }}")
    .coeff-block
      button.select-rooms.unvisible(show-delay="{{ roomInfo.config.DELAY_SHOW_ALLROOMS_BTN }}", hm-tap="roomInfo.showRoomSelectorDialog($event)") {{ 'mainpage.ROOM_SELECTION' | translate }}
    .comment-btn(hm-tap="roomInfo.switchComment($event)")

  .product-comment
    textarea.comment-field(ng-model="roomInfo.P.product.comment", placeholder="{{ 'mainpage.COMMENT' | translate }}")