.coeff-RoomContainer(ng-show="mainPage.G.global.isRoomElements>0 && mainPage.P.product.doorLock.stvorka_type === 6 && !mainPage.P.product.is_addelem_only")
  .blockCheck {{mainPage.G.global.getPCPower}}
  .elem31
    img(ng-src='img/room/33.png')
  .elem32
    img(ng-src='img/room/32.png')
  .elem33
    img(ng-src='img/room/11a.png')
  .elem34
    img(ng-src='img/room/12a.png')
  .elem35
    img(ng-src='img/room/14a.png')
  .elem36
    img(ng-src='img/room/13a.png')
  .elem37
  .elem38
     img
  .elem39
     img
  .elem40
     img
  .elem42
     img
