.coeff-RoomContainer
  .coeff-room-block1
    img(ng-src='img/room/1.png')
  .coeff-room-block2
    img(ng-src='img/room/2.png')
  .coeff-room-block5
    img(ng-src='img/room/4.png')
  .coeff-room-block6
    img(ng-src='img/room/5.png')
  .coeff-room-block7
    img(ng-src='img/room/6.png')
  .coeff-room-block8
    img(ng-src='img/room/7.png')
  .coeff-room-block9
    img(ng-src='img/room/8.png')
  .coeff-room-block10
    img(ng-src='img/room/9.png')
  .coeff-room-block11
    img(ng-src='img/room/10.png')
  .coeff-room-block12
  .coeff-room-block15
  .coeff-room-block16
    img(ng-src='img/room/26.png')
  .coeff-room-block17
    img(ng-src='img/room/11.png')
  .coeff-room-block18
    img(ng-src='img/room/121.png')
  .coeff-room-block19
    img(ng-src='img/room/122.png')
  .coeff-room-block20
    img(ng-src='img/room/123.png')
  .coeff-room-block21
    img(ng-src='img/room/12.png')
  .coeff-room-block23
    img(ng-src='img/room/41.png')