.coeff-RoomContainer(ng-show="mainPage.G.global.isRoomElements>0")
  .blockCheck {{mainPage.G.global.getPCPower}}
  .elem1
    img(ng-src='img/room/1.png')
  .elem5
    img(ng-src='img/room/4.png')
  .elem7
    img(ng-src='img/room/6.png')
  .elem8 
    img(ng-src='img/room/7.png')
  .elem9
    img(ng-src='img/room/8.png')
  .elem10
    img(ng-src='img/room/9.png')
  .elem11
    img(ng-src='img/room/10.png')
  .elem15
  .elem16
    img(ng-src='img/room/26.png')
  .elem17
    img(ng-src='img/room/11.png')
  .elem18(ng-show="mainPage.G.global.selectGlassType !==4")
    img(ng-src='img/room/121.png')
  .elem19(ng-show="mainPage.G.global.selectGlassType !==4")
    img(ng-src='img/room/122.png')
  .elem20(ng-show="mainPage.G.global.selectGlassType !==4")
    img(ng-src='img/room/123.png')
  .elem21
    img(ng-src='img/room/12.png')
  .elem23
    img(ng-src='img/room/41.png')
  //- .elem24(ng-show="mainPage.P.product.construction_type === 1")
    img(ng-src='img/room/51.png')
  .elem25
    img(ng-src='img/room/52.png')
  .elem26(ng-show="mainPage.P.product.construction_type === 1")
    img(ng-src='img/room/53.png')