.room-info-container(ng-controller="RoomInfoCtrl as roomInfo", ng-class="{'show-comment': roomInfo.G.global.isShowCommentBlock}", ng-swipe-up="roomInfo.switchComment($event)", ng-swipe-down="roomInfo.switchComment($event)")
  .coeff-container
    .coeff-block
      .coeff.climate {{ roomInfo.O.order.climatic_zone }}
      .coeff-title(data-output="{{ ::roomInfo.CLIMATE_ZONE }}", typing="{{ roomInfo.config.typing }}", typing-delay="{{ roomInfo.config.DELAY_SHOW_COEFF }}")
    .coeff-block
      .coeff.heat-transfer(ng-if="roomInfo.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': roomInfo.P.product.heat_coef_total < roomInfo.O.order.heat_coef_min}") {{ roomInfo.P.product.heat_coef_total }}
        .coeff-max {{ roomInfo.O.order.heat_coef_min }}
      .coeff.heat-transfer(ng-if="!roomInfo.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': roomInfo.P.product.heat_coef_total > roomInfo.O.order.heat_coef_min}") {{ roomInfo.P.product.heat_coef_total }}
        .coeff-max {{ roomInfo.O.order.heat_coef_min }}
      .coeff-title(data-output="{{ ::roomInfo.THERMAL_RESISTANCE }}", typing="{{ roomInfo.config.typing }}", typing-delay="{{ roomInfo.config.DELAY_SHOW_COEFF }}")
    .coeff-block
      button.select-rooms.unvisible(ng-hide="roomInfo.P.product.is_addelem_only", show-delay="{{ roomInfo.config.DELAY_SHOW_ALLROOMS_BTN }}", ng-click="roomInfo.showRoomSelectorDialog()") {{ ::roomInfo.ROOM_SELECTION }}
  //-   .comment-btn(fs-click="roomInfo.switchComment()")
  //- .product-comment
  //-   textarea.comment-field.noPreventDefault(ng-model="roomInfo.P.product.comment", placeholder="{{ ::roomInfo.COMMENT }}")
