.room-info-container(ng-controller="RoomInfoCtrl")
  .room-header
    .room-name {{ roomInfo.room }}
      button.select-rooms Все

  .coeff-container
    .coeff-block
      .coeff.climate {{ roomInfo.zone }}
      .coeff-title(data-output="климатическая зона")
    .coeff-block
      .coeff.heat-transfer.coeff-low {{ roomInfo.coefs.thermalResistance.actual }}
        .coeff-max {{ roomInfo.coefs.thermalResistance.required }}
      .coeff-title(data-output="сопротивление теплопередаче")
    .coeff-block
      .coeff.heat-exchange {{ roomInfo.coefs.airCirculation.actual }}
        .coeff-max {{ roomInfo.coefs.airCirculation.required }}
      .coeff-title(data-output="коэффициент воздухообмена")