.rooms-selector-dialog(ng-controller="RoomSelectorCtrl")
  .rooms-row
    .room-box
      .room-img.kitchen
        .room-title Кухня
    .room-box
      .room-img.livingroom
        .room-title Гостиная
    .room-box
      .room-img.balcony
        .room-title Балкон
  .rooms-row
    .room-box
      .room-img.childroom
        .room-title Детская
    .room-box
      .room-img.bedroom
        .room-title Спальня
    .room-box
      .room-img.door
        .room-title Вход
  .close-dialog