.rooms-selector-dialog(ng-controller="RoomSelectorCtrl as rooms", ng-class="{'active': rooms.G.global.showRoomSelectorDialog}")
  .rooms-inner(ng-if="rooms.G.global.showRoomSelectorDialog")
    .rooms-row
      .room-block
        .room-box.unvisible(show-delay="{{ rooms.config.DELAY_SHOW_ROOM4 }}", ng-class="{'selected': rooms.P.product.selectedRoomId === 4}", hm-tap="rooms.selectRoom(4)")
          .room-img.childroom
      .room-block
        .room-box.unvisible(show-delay="{{ rooms.config.DELAY_SHOW_ROOM1 }}", ng-class="{'selected': rooms.P.product.selectedRoomId === 1}", hm-tap="rooms.selectRoom(1)")
          .room-img.kitchen
    .close-dialog(hm-tap="rooms.closeRoomSelectorDialog()")