.rooms-selector-dialog.unvisible(ng-controller="RoomSelectorCtrl")
  .rooms-row
    .room-box
      .room-img.kitchen.unvisible(data-climate = "1", data-heat-transfer = "0.75", data-heat-exchange = "90")
        .room-title Кухня
    .room-box
      .room-img.livingroom.unvisible(data-climate = "2", data-heat-transfer = "0.45", data-heat-exchange = "80")
        .room-title Гостиная
    .room-box
      .room-img.balcony.unvisible(data-climate = "3", data-heat-transfer = "0.15", data-heat-exchange = "60")
        .room-title Балкон
  .rooms-row
    .room-box
      .room-img.childroom.unvisible(data-climate = "4", data-heat-transfer = "0.75", data-heat-exchange = "90")
        .room-title Детская
    .room-box
      .room-img.bedroom.unvisible(data-climate = "5", data-heat-transfer = "0.75", data-heat-exchange = "90")
        .room-title Спальня
    .room-box
      .room-img.door.unvisible(data-climate = "6", data-heat-transfer = "0.75", data-heat-exchange = "90")
        .room-title Вход
  .close-dialog