.scheme-view-dialog(ng-controller="SchemeViewCtrl", ng-class="{'active': global.isWindowSchemeDialog}")
  object(type="image/svg+xml" data="img/windowConstuction.svg" class="")
  .close-dialog(ng-click="closeWindowScheme()")