form(name='searchForm')
  .search-block
    input.search-input(placeholder="{{ 'add_elements.INPUT_ADD_ELEMENT' | translate }}")
    button.delete-search
    button.cancel-search.unvisible {{ 'add_elements.CANCEL' | translate }}
