table.size-calc-container
  thead
    td
      button.cell.calc-delete(hm-tap="deleteLastNumber()")
    td(colspan= "2")
      .calc-interval
        .interval
          .calc-value-limit(ng-hide="global.isConstructSizeCalculator") 0
          .calc-value-limit(ng-show="global.isConstructSizeCalculator", ng-class="{'restriction': constructData.isMinSizeRestriction}") {{ constructData.minSizeLimit }}
          .calc-label-limit {{ 'common_words.MIN' | translate }}
        .interval
          .calc-value-limit(ng-hide="global.isConstructSizeCalculator") 5000
          .calc-value-limit(ng-show="global.isConstructSizeCalculator", ng-class="{'restriction': constructData.isMaxSizeRestriction}") {{ constructData.maxSizeLimit }}
          .calc-label-limit {{ 'common_words.MAX' | translate }}
  tr
    - for (var cell = 1; cell < 4; ++cell) {
      td
        button.cell.calc-digit(hm-tap="setValueSize("+cell+")")= cell
    - }
  tr
    - for (var cell = 4; cell < 7; ++cell) {
      td
        button.cell.calc-digit(hm-tap="setValueSize("+cell+")")= cell
    - }
  tr
    - for (var cell = 7; cell < 10; ++cell) {
      td
        button.cell.calc-digit(hm-tap="setValueSize("+cell+")")= cell
    - }
  tr
    td
      button.cell.calc-digit(hm-tap="setValueSize(0)") 0
    td
      button.cell.calc-digit(hm-tap="setValueSize('00')") 00
    td
      button.cell.calc-equal(hm-tap="closeSizeCaclulator()") =



