table.size-calc-container(ng-controller="sizeCalculatorCtrl as sizeCalc", ng-keyup="sizeCalc.pressCulculator($event)")
  thead
    td
      button.cell.calc-delete(hm-tap="sizeCalc.deleteLastNumber()")
    td(colspan= "2")
      .calc-interval
        .interval
          .calc-value-limit(ng-hide="sizeCalc.isDesignPage") 0
          .calc-value-limit(ng-show="sizeCalc.isDesignPage", ng-class="{'restriction': sizeCalc.D.design.isMinSizeRestriction}") {{ sizeCalc.D.design.minSizeLimit }}
          .calc-label-limit {{ 'common_words.MIN' | translate }}
        .interval
          .calc-value-limit(ng-hide="sizeCalc.isDesignPage") 5000
          .calc-value-limit(ng-show="sizeCalc.isDesignPage", ng-class="{'restriction': sizeCalc.D.design.isMaxSizeRestriction}") {{ sizeCalc.D.design.maxSizeLimit }}
          .calc-label-limit {{ 'common_words.MAX' | translate }}
  tr
    - for (var cell = 1; cell < 4; ++cell) {
      td
        button.cell.calc-digit(hm-tap="sizeCalc.setValueSize("+cell+")")= cell
    - }
  tr
    - for (var cell = 4; cell < 7; ++cell) {
      td
        button.cell.calc-digit(hm-tap="sizeCalc.setValueSize("+cell+")")= cell
    - }
  tr
    - for (var cell = 7; cell < 10; ++cell) {
      td
        button.cell.calc-digit(hm-tap="sizeCalc.setValueSize("+cell+")")= cell
    - }
  tr
    td
      button.cell.calc-digit(hm-tap="sizeCalc.setValueSize(0)") 0
    td
      button.cell.calc-digit(hm-tap="sizeCalc.setValueSize('00')") 00
    td
      button.cell.calc-equal(hm-tap="sizeCalc.closeSizeCaclulator()") =



