table.size-calc-container(ng-controller="sizeCalculatorCtrl as sizeCalc", ng-keyup="sizeCalc.pressCulculator($event)")
  thead
    td
      button.cell.calc-delete(fs-click="sizeCalc.deleteLastNumber()")
    td(colspan= "2")
      .calc-interval
        .interval
          .calc-value-limit(ng-hide="sizeCalc.isDesignPage") 0
          .calc-value-limit(ng-if="sizeCalc.U.userInfo.factory_id!==1966" ng-show="sizeCalc.isDesignPage", ng-class="{'restriction': sizeCalc.D.design.isMinSizeRestriction}") {{ sizeCalc.D.design.minSizeLimit }}
          .calc-value-limit(ng-if="sizeCalc.U.userInfo.factory_id===1966" ng-show="sizeCalc.isDesignPage", ng-class="{'restriction': sizeCalc.D.design.isMinSizeRestriction}") {{ sizeCalc.displayData(sizeCalc.D.design.minSizeLimit) | number : 0 }}
          .calc-label-limit {{ ::sizeCalc.MIN }}
        .interval
          .calc-value-limit(ng-hide="sizeCalc.isDesignPage") 5000
          .calc-value-limit(ng-if="sizeCalc.U.userInfo.factory_id===1966" ng-show="sizeCalc.isDesignPage", ng-class="{'restriction': sizeCalc.D.design.isMaxSizeRestriction}") {{ sizeCalc.displayData(sizeCalc.D.design.maxSizeLimit) | number : 0 }}
          .calc-value-limit(ng-if="sizeCalc.U.userInfo.factory_id!==1966" ng-show="sizeCalc.isDesignPage", ng-class="{'restriction': sizeCalc.D.design.isMaxSizeRestriction}") {{ sizeCalc.D.design.maxSizeLimit }}
          .calc-label-limit {{ ::sizeCalc.MAX }}
  tr
    - for (var cell = 1; cell < 4; ++cell) {
      td
        button.cell.calc-digit(fs-click="sizeCalc.setValueSize("+cell+")")= cell
    - }
  tr
    - for (var cell = 4; cell < 7; ++cell) {
      td
        button.cell.calc-digit(fs-click="sizeCalc.setValueSize("+cell+")")= cell
    - }
  tr
    - for (var cell = 7; cell < 10; ++cell) {
      td
        button.cell.calc-digit(fs-click="sizeCalc.setValueSize("+cell+")")= cell
    - }
  tr
    td
      button.cell.calc-digit(fs-click="sizeCalc.setValueSize(0)") 0
    td(ng-if="sizeCalc.U.userInfo.factory_id!==1966")
      button.cell.calc-digit(fs-click="sizeCalc.setValueSize('00')") 00
    td(ng-if="sizeCalc.U.userInfo.factory_id==1966")
      button.cell.calc-digit(fs-click="sizeCalc.setValueSize('.')") .
    td
      button.cell.calc-equal(fs-click="sizeCalc.closeSizeCaclulator()") =



