.slider
  #featured(ng-class="{ 'visible' : loginPage.G.global.startSlider === 1}")
    img(src='./img/orbit/1.png', alt='img')
    img(src='./img/orbit/2.png', alt='img', rel='')
    img(src='./img/orbit/3.png', alt='img', rel='test')  
    img(src='./img/orbit/4.png', alt='img', rel='')
    img(src='./img/orbit/5.png', alt='img', rel='')
//
//  span#test.orbit-caption
//    | Информация про акции
//    |  уже на сайте 
//    a(href='http://windowscalculator.net/help/ru/', target='_blank', style='color: #fff') link