.slider
  #featured(ng-if="loginPage.G.global.startSlider")
    img(src='./img/steko/1.jpg', alt='img')
    img(src='./img/steko/2.jpg', alt='img', rel='')
    img(src='./img/steko/3.jpg', alt='img', rel='test')
    img(src='./img/steko/4.jpg', alt='img', rel='')
    //img(src='./img/orbit/5.png', alt='img', rel='')
//
//  span#test.orbit-caption
//    | Информация про акции
//    |  уже на сайте 
//    a(href='http://windowscalculator.net/help/ru/', target='_blank', style='color: #fff') link