.slider
  #featured(ng-class="{ 'visible' : loginPage.G.global.startSlider === 1}")
    img(src='./img/orbit/1.png', alt='Link')
    img(src='./img/orbit/2.png', alt='Ezio', rel='ezioCaption')
    img(src='./img/orbit/3.png', alt='Ezio', rel='33333')
    img(src='./img/orbit/4.png', alt='Ezio', rel='33333')
    img(src='./img/orbit/5.png', alt='Ezio', rel='33333')
  span#33333.orbit-caption
    | Информация про акции
    |  уже на сайте 
    a(href='http://windowscalculator.net/help/ru/', target='_blank', style='color: #fff') link