.user-info-container(ng-controller="UserInfoCtrl")
  button.nav-menu-btn(ng-class="{ 'show-navmenu': !userInfo.isConfigMenuShow }", ng-click="swipeMainPage()")
  .user-foto
  .icon-location
  .user-info-block
    .user-location(name="{{ userInfo.location }}")
    .user-name(name="{{ userInfo.name }}")