.user-info-container(ng-controller="UserInfoCtrl", ng-swipe-left="swipeLeft($event)", ng-swipe-right="swipeRight($event)")
  //button.nav-menu-btn(ng-class="{ 'show-navmenu': global.showNavMenu , 'orange-navmenu-btn': global.isOpenedHistoryPage || global.isOpenedCartPage}", ng-click="swipeMainPage()")
  button.nav-menu-btn(ng-class="{ 'show-navmenu': global.showNavMenu , 'orange-navmenu-btn': global.isOpenedHistoryPage || global.isOpenedCartPage}")
  .user-foto
  .icon-location.unvisible(show-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}")
  .user-info-block
    .user-location(data-output="{{ global.userInfo.cityName }}", typing="{{ userInfo.typing }}", typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}")
    .user-name(data-output="{{ global.userInfo.name }}", typing="{{ userInfo.typing }}", typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}")