.user-info-container(ng-controller="UserInfoCtrl")
  button.nav-menu-btn.move-btn
  .user-foto
  .icon-location
  .user-info-block
    .user-location(name="Днепропетровск")
    .user-name(name="John Appleseed")