.user-info-container(ng-controller="UserInfoCtrl")
  button.nav-menu-btn(ng-if="!global.isHistoryPage", ng-class="{ 'show-navmenu': global.showNavMenu }", ng-click="swipeMainPage()")
  button.nav-menu-btn(ng-if="global.isHistoryPage", ng-click="global.createNewProject()")
  .user-foto
  .icon-location.unvisible(show-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}")
  .user-info-block
    .user-location(data-output="{{ global.userGeoLocation }}", typing="{{ userInfo.typing }}", typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}")
    .user-name(data-output="{{ global.userName }}", typing="{{ userInfo.typing }}", typing-delay="{{ userInfo.DELAY_SHOW_USER_INFO }}")