.user-info-container(ng-controller="UserInfoCtrl as userBox",  hm-swipeleft="userBox.swipeLeft($event)", hm-swiperight="userBox.swipeRight($event)")
  button.nav-menu-btn(ng-class="{ 'show-navmenu': userBox.G.global.isNavMenu , 'orange-navmenu-btn': userBox.G.global.isOpenedHistoryPage || userBox.G.global.isOpenedCartPage}", hm-tap="userBox.swipeMainPage($event)")
  img.user-foto(ng-src="{{userBox.U.userInfo.avatarUrl}}")
  .icon-location.unvisible(show-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}")
  .user-info-block
    .user-location(data-output="{{ userBox.U.userInfo.cityName }}", typing="{{ userBox.config.typing }}", typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}")
    .user-name(data-output="{{ userBox.U.userInfo.name }}", typing="{{ userBox.config.typing }}", typing-delay="{{ userBox.config.DELAY_SHOW_USER_INFO }}")