.voice-container(ng-class="{'active': designPage.D.design.openVoiceHelper}")
  .voice-icon(ng-class="{'loud-voice': designPage.D.design.loudVoice == true, 'quiet-voice': designPage.D.design.quietVoice == true}")
  .voice-title Укажите размер:
  input.voice-input(type="text", name="name", ng-model="designPage.D.design.voiceTxt", placeholder="{{ 'mainpage.VOICE_SPEACH' | translate }}")

