.voice-container(ng-class="{'active': openVoiceHelper}")
  .voice-icon(ng-class="")
  .voice-title Укажите размер:
  input.voice-input(type="text", name="name", ng-model="voiceTxt", placeholder="{{ 'mainpage.VOICE_SPEACH' | translate }}")

