.cart-menu {
  @extend .menu-right-general;
  @include justify-content(space-between);
  position: relative;
  z-index: 2;
  .items-list {
    @include flex-grow(0);
  }
  .item {
    position: relative;

    &:after {
      @extend .icon-setting;
      @include font-icon(rem(60px), 1.5);
      @include rotate(180deg);
      @include transition(transform 1s ease);

      position: absolute;
      z-index: 11;
      top: rem(16px);
      right: rem(20px);
      display: block;
      color: $main_orange;
      content: $config_menu-arrow-icon;
    }
    &.active {
      background-color: #f0f0f0;
      border-bottom: none;
      &:after {
        @include rotate(270deg);
      }
    }
    &.switcher {
      &:after {
        content: none;
      }
    }
  }
  .cart-item-data {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include align-items(center);
  }
  .check-switcher {
    @include display-flex();
    @include flex-flow(row nowrap);

    position: absolute;
    top: 40%; //25%
    right: rem(20px);
    width: rem(106px);
    height: rem(66px);
    overflow: hidden;
    border-radius: rem(60px);
    border: 1px solid #d2d2d2;

    &.active {
      .check-bg-active {
        width: rem(116px);
      }
    }
  }
  .check-switcher.active ~ .check-handle {
    right: rem(20px);
  }
  .check-bg-active {
    @include transition(all 0.5s linear);

    width: rem(30px);
    height: 100%;
    background-color: $main_orange;
  }
  .check-bg-passive {
    width: rem(100px);
    height: 100%;
    margin-left: rem(-30px);
    border-top-left-radius: rem(28px);
    border-bottom-left-radius: rem(28px);
    background-color: #fff;
  }
  .check-handle {
    @include transition(all 0.5s linear);
    @include box-shadow($main_gray_btn 0 rem(5px) rem(10px) );

    top: 41%; //26%
    right: rem(62px);
    position: absolute;
    width: rem(60px);
    height: rem(60px);
    border-radius: 50%;
    background-color: #fff;
  }

  .title {
    margin: rem(10px) 0;
    color: $main_orange;
  }



// Dropdown menu list

  .dropdown-cart-menu {
    @include transition(all 0.5s linear);

    height: 0;
    margin-left: rem(-44px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    &.active {
      border-top: 1px solid $main_gray_btn;
      border-bottom: 1px solid $main_gray_btn;
    }
  }
  .drop-delivery {
    &.active {
      height: rem(326px);
    }
  }
  .drop-assembling {
    &.active {
      height: rem(265px);
    }
  }
  .drop-calendar {
    text-align: center;
    &.active {
      height: 28rem;
    }
  }
  .dropdown-items-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .dropdown-item {
    padding: 0 rem(25px) 0 rem(44px);
    cursor: pointer;
    &:last-child {
      .dropdown-item-inner {
        border-bottom: none;
      }
    }
    &.selected {
      background-color: $main_orange;
      .drop-txt {
        color: #fff;
      }
    }
  }
  .dropdown-item-inner {
    @include display-flex();
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);

    height: rem(65px);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $main_gray_btn;

    .value {
      width: 75%;
    }
  }

  .drop-instalment {
    &.active {
      height: rem(336px);
    }
    .dropdown-item-inner {
      border-color: #fff;
    }
    .value {
      color: $main_gray_btn;
    }
    .value-percent {
      position: relative;
      padding-right: rem(70px);
    }

    .dropdown-item {
      &.selected {
        background-color: #fff;
        .dropdown-item-inner {
          border-width: 1px 0;
          border-color: $main_gray_btn;
        }
        .value {
          @include roboto-rg(rem(36px), rem(36px));
          color: $main_gray_txt;
        }
        .value-percent {
          &:after {
            @extend .icon-setting;
            @include font-icon(rem(36px), 1.5);
            position: absolute;
            right: 0;
            line-height: 1;
            color: $main_orange;
            content: $check-panel-icon;
          }
        }
      }
    }
    .dropdown-item:first-child {
      &.selected {
        .dropdown-item-inner {
          border-width: 0 0 1px 0;
        }
      }
    }
  }

  .calendar-price {
    @include roboto-lt(rem(24px), 2);
    @extend .icon-setting;
    @extend .splash;

    position: relative;
    &.up {
      float: left;
      margin-left: rem(25px);
      color: $error_color;
      &:before {
        @include font-icon(rem(26px), 1);
        @include top_left_coord(12px, -30px);
        position: absolute;
        content: $triangle-up-icon;
      }
    }
    &.down {
      float: right;
      margin-right: rem(25px);
      color: $main_green;
      &:before {
        @include font-icon(rem(26px), 1);
        @include top_left_coord(12px, -30px);

        position: absolute;
        content: $triangle-down-icon;
      }
    }
  }

  // Footer menu
  .menu-footer {
    position: relative;
  }
  .price-block {
    @include transition(left .5s ease);

    position: absolute;
    left: rem(500px);
    width: rem(415px);
    cursor: pointer;
    &.active {
     left: 0;
    }
  }
  .price-without-instalments {
    top: rem(-120px);
  }
  .price-with-instalments {
    top: rem(-220px);
  }

  .order-btn {
    @extend .cart-btn;
  }
  .measure-btn {
    @extend .big-button;
    @extend.ghost-button;
    @extend .splash;

    width: 100%;
    height: rem(110px);
    margin: rem(20px) 0;
    color: $main_gray_txt;
    background-color: #fff;
    border-color: $main_gray_btn;
  }
}

// Price Tab
.old-price-tab {
  @extend .menu-right-general;
  @include transition(left .5s ease);

  position: absolute;
  bottom: rem(248px);
  left: rem(500px);
  width: rem(500px);
  max-height: rem(200px);
  padding: rem(30px);
  text-align: center;
  background: rgba(#f8f8f8, .95);
  border-top-left-radius: rem($radius_order);
  border-bottom-left-radius: rem($radius_order);
  z-index: 1;

  &.active {
    left: rem(-500px);
  }
  .name {
    @include roboto-lt(rem(22px));

    color: #8c8c8c;
  }
  .price {
    position: relative;
    &:before {
      position: absolute;
      width: 80%;
      top: 50%;
      left: 20%;
      border-top: 1px solid $main_gray_txt;
      text-decoration: line-through;
      z-index: 2;
    }
  }
}
.old-price-inst-tab {
  @extend .old-price-tab;
  max-height: rem(300px);
}