// TODO: Проверить анимацию на соответствие видео
.config-menu {
  @extend .menu-right-general;
  @extend .move-menu-right;
  .item {
    &.active {
      background-color: #f0f0f0;
      &:before {
        @extend .icon-setting;
        @include font-general-icon(84px, 1);

        position: absolute;
        z-index: 11;
        top: 16px;
        left: -80px;
        display: block;
        color: $main_orange;
        content: $config_menu-arrow-icon;
      }
    }
  }
  .item-header {
    min-height: 350px;
  }
  .title {
    margin: 10px 0;
    color: $main_orange;
  }
  .icon {
    @extend .splash;

    height: 120px;
    margin: 20px 0;
    img {
      max-height: 100%;
    }
  }

  .additional-items-list {
    overflow-y: auto;
    max-height: 200px;
    padding: 0;
    list-style: none;
  }
  .additional-item {
    @extend .truncated;
  }
  .qty {
    @extend .splash;
    @include roboto-lt(36px, 60px);

    position: absolute;
    top: -20px;
    right: -10px;
    width: 60px;
    height: 60px;
    color: #8c8c8c;
    border-radius: 50%;
    background-color: #fff;
  }
}