.config-menu {
  @extend .menu-right-general;
  height: 100%;

  .price {
    margin-left: -9rem;
    margin-bottom: 1rem;
  }


  .alert-overlay-config {
    @extend .backDarkView;
    opacity: 1.08;
    z-index: 10000;
    width: 100vw;
    left: -110rem;
  }
  .alert-block-config {
    @include roboto-lt(2.25rem);
    display: block;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 40rem;
    margin-top: -20rem;
    padding: 3rem;
    border-radius: $radius_room-box_dialog;
    overflow: hidden;
    background-color: white;
    text-align: center;
    z-index: 99999;
  }

  .alert-sign-config {
    @include font-icon(10rem);
    @extend .icon-setting;
    @extend .splash;
    &:after {
      -webkit-text-fill-color: $error_color;
      color: $error_color;
      content: $notification;
    }
  }
  .alert-title-config {
    @include roboto-bd(2rem);
  }
  .alert-descr-config {
    margin: 2rem 0;
  }
  .alert-btns-config {
    @include display-flex();
    @include justify-content(space-around);
    button {
      @extend .middle-button;
      width: 10rem;
      height: 4rem;
      border-radius: 1rem;
      color: white;
    }
  }
  .alert-no-config {
    background-color: #858181;
  }
  .alert-yes-config {
    background-color: $main_orange;
  }
  .thisAlert {
    left: 86%;
    top: 5%;
    width: 10%;
    height: 10%;
    position: absolute;
  }

  .get-price-btn {
    @include transition(all 1s linear);
    background-color: $main_orange;
    display: inline-flex;
    width : 20rem;
    margin: 0 0 0 1rem;
    border-radius: 10px;
    height : 5rem;

    &.active {
      width : 100%;
      margin: 0;
    }

    &.disable {
      background-color: #F9800034;
    }

    .get-price-btn-p {
      display: inline-block;
      width: 100%;
      color: white;
      @include roboto-lt(rem(35px));
      position: relative;
      margin : 1rem
    }
  }
  .item {
    padding: 0 2.75rem 0 0;
    min-height: rem(150px);
    &.active {
      background-color: rgba(0, 0, 0, 0.07);
      &:before {
        @extend .icon-setting;
        @include font-icon(rem(84px), 1);

        position: absolute;
        z-index: 11;
        top: rem(16px);
        left: rem(-80px);
        display: block;
        color: $main_orange;
        content: $config_menu-arrow-icon;
      }
    }
    &.hov:hover {
      background-color: rgba(0, 0, 0, 0.07);
      margin-left: -2.75rem !important;
      padding-left: 2.75rem !important;
    }
  }
  .item-header {
    min-height: rem(300px);
  }
  .name {
    padding-top: 1px;
    width: auto;
  }
  .title {
    margin: rem(5px) 0;
    color: $main_orange;
  }
  .icon {
    @extend .splash;
    height: rem(120px);
    margin: rem(20px) 0;
    img {
      max-height: 100%;
    }
  }
  .value {
    padding-top: 1px;
    margin: 0;
    width: auto;
    display: inline-block;
  }
  .right-desc {
    display: inline-block;
    float: right;
    width: 40%;
  }
  .additional-items-list {
    @include overflow-scroll();
    max-height: 18rem;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .additional-items-group {
    margin: 0;
    padding: 0;
  }
  .additional-item {
    @extend .truncated;
  }
  .qty {
    @extend .splash;
    @include roboto-lt(rem(36px), rem(60px));

    position: relative;
    top: -2rem;
    left: 1rem;
    z-index: 1;
    width: rem(60px);
    height: rem(60px);
    color: white;
    border-radius: 50%;
    background-color: $main_orange;
    display: inline-block;
    &.active{
      left: -3.5rem;
    }
  }
  //---- for Add Elements only
  .curtain {
    position: absolute;
    top: 0;
    right: 0;
    width: rem($right_menu-width);
    height: rem(892px);
    background: rgba(#f8f8f8, .95);
    z-index: 3;
  }

  .product-u-coeff {
    @include roboto-lt(rem(35px));
    width: auto;
    //top: 18rem;
    //left: 3rem;
    position: relative;
    top: 1rem;
    background-color: transparent;
    color: $main_green;
    z-index: 2;

    &.coeff-low {
      @extend .coeff-low;
    }
  }
  .counter-main-page {
    position: relative;
    top: 1rem;
    width: 100%;
    height: auto;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      border-radius: 5px;
    }
    .counter-block {
      text-align: center;
      position: relative;
      top: 0rem;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      p {
        @include roboto-lt(rem(36px));
        color: $main_gray_txt;
        width: auto;
        margin: .6rem 0 0 0;
        float: left;
        display: inline-block;
      }
    }

    .counter {
      height: 5rem;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      input {
        @include roboto-lt(rem(36px), rem(60px));
        text-align: center;
        border: 1px solid #b1b1b1;
        width: 5rem;
      }
    }
    .input-minus, .input-plus {
      cursor: pointer;
      position: relative;
      top: 0rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .input-minus {
      @include roboto-lt(rem(90px));
      float: left;
      color: $main_gray_btn;

    }
    .input-plus {
      @include roboto-lt(rem(90px));
      float: right;
      color: $main_green;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  .prodCounter {
    border-radius: 5px !important;
    box-shadow: inset 1px 1px 1px 0px $main_gray_btn;
  }
  .cart-btns{
    width: 130%;
    display: inline-flex;
    margin: 2rem 0 1rem 0;
    position : relative;
    left : 4rem;
    &.active{
      transition: all 1s ease;
      left : 0;
    }
  ;
  }
  .go-to-cart, .save-to-cart {
    @extend .splash;
    cursor: pointer;
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    top : 0;
    height : 5rem;
    img {
      width: 4.5rem;
      height: 4.5rem;
      padding : .5rem;
      position : relative;
      left : .7rem;
      top : -.2rem !important;
      background-size: contain;
    }
  }

  .save-to-cart {
    background-color: $main_orange;
    display: inline-flex;
    width : 20rem;
    .save-to-cart-p {
      display: inline-block;
      width: 100%;
      color: white;
      @include roboto-lt(rem(35px));
      position: relative;
      margin : 1rem
    }
    img {
      float : left;
      margin : .5rem;
      position : relative;
      top : -.1rem;
    }
    &.active{
      transition: all 1s ease;
      left : 0;
    }
    &.disable {
      background-color: #F9800034;
      transition: all 1s ease;
      left : -4;
    }
  }
  .go-to-cart {
    width: 25%;
    position: relative;
    left: 4rem;
    &.active {
      left: 0;
    }

  }
  #qty{
    @extend .splash;
  }

  /** Tooltip */

  .menu_tooltip {
    @include transition(all 0.2s linear);
    @include roboto-lt(rem(36px));
    @extend .jumping;
    width: 24rem;
    left: -26rem;
    position: absolute;
    padding: 3rem 1rem 1rem 3rem;
    color: $main_gray_txt;
    border-radius: rem($radius_rooms-dialog);
    background-color: rgba(#fff, .85);
    opacity: 0;
    z-index: 1;
    &:after {
      position: absolute;
      right: -1.4rem;
      top: 30%;
      display: block;
      width: 0;
      border-width: rem(25px) 0 rem(25px) rem(25px);
      border-style: solid;
      border-color: transparent rgba(#fff, .85);
      content: '';
    }
    &:hover {
      @include animation-play-state(paused);
    }
    &.tempate_tip {
      top: 2rem;
      opacity: 1;
    }
    &.profile_tip {
      top: 22rem;
      opacity: 1;
    }
    &.glass_tip {
      top: 29rem;
      opacity: 1;
    }
    &.ware_tip {

    }
    &.lamin_tip {

    }
    .close_menu_tooltip {
      @extend .small-cross-btn;
      position: absolute;
      top: 4%;
      left: 2%;
      background-color: $main_orange;
    }
  }

}
.light-v{
  .titleLight {
    font-weight: bold;
    font-size: 1.7rem;
    margin: rem(5px) 0;
    color: $main_red !important;
  }
}
input[type='number'] {
     -moz-appearance:textfield;
   }
