.accept-container
    .row(ng-if="!mobilePage.isSet(1)")
        .curr-price
            price(price-value="mobilePage.G.global.tempPrice", price-currency="mobilePage.U.userInfo.currency")
        .accept-button(ng-click="mobilePage.closePanelMobile()") {{mobilePage.APPLY}}
    .row(ng-if="!mobilePage.isSet(1)")
        .product-u-coeff(ng-if="mobilePage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total < mobilePage.O.order.heat_coef_min}")
            div R = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.LETTER_M}}&sup2;&deg;C/{{::mobilePage.HEATCOEF_VAL }}
        .product-u-coeff(ng-if="!mobilePage.U.userInfo.therm_coeff_id",  ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total > mobilePage.O.order.heat_coef_min}")
            div U = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.HEATCOEF_VAL}}/{{::mobilePage.LETTER_M}}&sup2;&deg;C
        //СТЕКЛОПАКЕТ
        .selected-profile(ng-if="mobilePage.G.global.activePanel === 3")
            .value(ng-if="mobilePage.P.product.glass.length == 1")
                p {{ mobilePage.P.product.glass[0].sku }}
            .value(ng-if="mobilePage.P.product.glass.length == 2")
                p {{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku }}
            .value(ng-if="mobilePage.P.product.glass.length > 2")
                p {{ mobilePage.P.product.glass[0].sku +', '+ mobilePage.P.product.glass[1].sku +', '+ mobilePage.P.product.glass[2].sku }}
        //ФУРНИТУРА
        .selected-profile(ng-if="mobilePage.G.global.activePanel === 4")
            .value(ng-if="mobilePage.P.product.construction_type !== 4")
                p {{ mobilePage.P.product.hardware.name }}
            .value(ng-if="mobilePage.P.product.construction_type === 4")
                p {{ mobilePage.P.product.doorHandle.name }}
            .value(ng-if="mobilePage.P.product.construction_type === 4")
                p {{ mobilePage.P.product.doorLock.name }}
        //ПРОФИЛЬ
        .selected-profile(ng-if="mobilePage.G.global.activePanel === 2")
            .value(ng-if="mobilePage.P.product.construction_type !== 4")
                p {{ mobilePage.P.product.profile.name }}
            .value(ng-if="mobilePage.P.product.construction_type === 4")
                p {{ mobilePage.P.product.doorName | translate }}
            .value(ng-if="mobilePage.P.product.construction_type === 4")
                p {{ mobilePage.P.product.doorSashName }}
        //ЛАМИНАЦИЯ
        .selected-profile(ng-if="mobilePage.G.global.activePanel === 5")
            .value
                p {{ mobilePage.P.product.lamination.laminat_in_name | translate}} / {{ mobilePage.P.product.lamination.laminat_out_name | translate}}
    .row(ng-if="mobilePage.isSet(1)")
        .back-button(ng-click="mobilePage.closePanelMobile()")
        .row-title {{mobilePage.TEMPLATE_SELECTION}}