.add-elements-mobile.mobile-common-panel(ng-controller="MobileAddElementsCtrl as elementsMobilePage",  ng-if="mobilePage.G.global.activePanel === 6")
    include accept-container
    .folders-container
        .folders(ng-repeat="folders in elementsMobilePage.AddElementsMobile track by $index" ng-init="OpenSubFolder = $index" )
            p.folders-name(ng-click="elementsMobilePage.OpenFolder($index)" ng-class='{active : OpenSubFolder === elementsMobilePage.OpenSubFolder}') {{folders.name | translate}}
            .choosen-add-elem(ng-repeat="chosenAddElem in elementsMobilePage.P.product.chosenAddElements[$index] track by $index")
                .row-header
                    p.name {{chosenAddElem.name}}
                    .close-dialog(ng-click='elementsMobilePage.deleteAddElement($parent.$index, $index)')
                .row
                    .item
                        p.val(fs-click="elementsMobilePage.initAddElementTools((OpenSubFolder+1), 1, 0)", ng-keyup="elementsMobilePage.pressCulculator($event)") {{chosenAddElem.element_qty}}
                        p шт
                    .item(ng-if='chosenAddElem.element_width')
                        p.val {{chosenAddElem.element_width}}
                        p ширина
                    .item(ng-if='chosenAddElem.element_height')
                        p.val {{chosenAddElem.element_height}}
                        p длинна
                    .item
                        p.val {{chosenAddElem.element_price}}
                        p цена
            .subfolders(ng-repeat="subfolder in folders.folder track by $index" ng-if="OpenSubFolder === elementsMobilePage.OpenSubFolder" ng-init="OpenItemFolder = $index")
                .subfolders-name( ng-class='{active : elementsMobilePage.OpenItemFolder === OpenItemFolder || folders.folder.length ===1}' ng-if='subfolder.name')
                    p(ng-click='elementsMobilePage.showItems($index)' ) {{subfolder.name}}
                    .info(fs-click="elementsMobilePage.showInfoBox(subfolder.id, folders.folder)" ng-if='subfolder.img && subfolder.description')
                img.subfolders-image(ng-click='elementsMobilePage.showItems($index)' ng-if='subfolder.img' ng-src='{{subfolder.img}}')
                .items(ng-repeat="item in subfolder.subFolder track by $index"  ng-if="elementsMobilePage.OpenItemFolder === OpenItemFolder || folders.folder.length ===1")
                    p(ng-click="elementsMobilePage.selectAddElement(0, $index, $event, [subfolder.subFolder],item)") {{item.name}}
                    .info(ng-if='item.img && item.description' fs-click="elementsMobilePage.showInfoBox(item.id, subfolder.subFolder)")
                    //.info(fs-click="elementsMobilePage.showInfoBox(item.id, subfolder.subFolder)")
    .mob-qty-calculator(ng-if="elementsMobilePage.G.global.isQtyCalculator")
        include ../parts/_qty-calculator