.add-elements-mobile.mobile-common-panel(ng-controller="MobileAddElementsCtrl as elementsMobilePage",  ng-if="mobilePage.G.global.activePanel === 6")
    include accept-container
    .folders-container
        .folders(ng-repeat="folders in elementsMobilePage.MobileAddElementsMobile track by $index" ng-init="OpenSubFolder = $index")
            p(ng-click="elementsMobilePage.OpenFolder($index)") {{folders.name | translate}}
            .subfolders(ng-repeat="subfolder in folders.folder track by $index" ng-if="OpenSubFolder === elementsMobilePage.OpenSubFolder" ng-init="OpenItemFolder = $index")
                p(ng-click='elementsMobilePage.showItems($index)') {{subfolder.name}}
                .items(ng-repeat="item in subfolder.subFolder track by $index"  ng-if="elementsMobilePage.OpenItemFolder === OpenItemFolder || folders.folder.length ===1")
                    p(ng-click="elementsMobilePage.selectAddElement(0, $index, $event, [subfolder.subFolder])") {{item.name}}
