.add-elements-mobile.mobile-common-panel(ng-controller="MobileAddElementsCtrl as mobPage",  ng-if="mobilePage.G.global.activePanel === 6")
    .box-rehau
        include top-block
        .folders-container
            .folders(ng-repeat="folders in mobPage.AddElementsMobile track by $index" ng-init="OpenSubFolder = $index" )
                .folders-name-box(ng-click="mobPage.OpenFolder($index, $event)" ng-class='{active : OpenSubFolder === mobPage.G.global.OpenSubFolder}')
                    p.folders-name() {{folders.name | translate}}
                        .arrow(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
                            img(ng-src="./img/rehau-img/white-arrow-top.png")
                .choosen-add-elem(ng-repeat="chosenAddElem in mobPage.P.product.chosenAddElements[$index] track by $index")
                    .row-header
                        p.name {{chosenAddElem.name}}
                        .aux-delete-rehau(ng-click='mobPage.confirmAddElemDelete($parent.$index, $index)')
                    .row(ng-click='mobPage.editEddElem($parent.$index,$index)')
                        .item
                            p.val {{chosenAddElem.element_qty}} {{mobPage.QTY_LABEL}}
                            p 
                        //- .item(ng-if='chosenAddElem.element_width')
                        //-     p.val Ширина: {{chosenAddElem.element_width}}
                        //- .item(ng-if='chosenAddElem.element_height')
                        //-     p.val Длина: {{chosenAddElem.element_height}} 
                        .item
                            p.val-price{{chosenAddElem.elementPriceDis | number : 0}} {{cartPage.U.userInfo}}
                .subfolders(ng-repeat="subfolder in folders.folder track by $index" ng-if="OpenSubFolder === mobPage.G.global.OpenSubFolder" ng-init="OpenItemFolder = $index")
                    .subfolders-name( ng-class='{active : mobPage.G.global.OpenItemFolder === OpenItemFolder || folders.folder.length ===1}' ng-if='subfolder.name && subfolder.id')
                        p.splice(ng-click='mobPage.showItems($index, $event, 0)' ) {{subfolder.name}}
                        .arrow(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
                            img(ng-src="./img/rehau-img/white-arrow-top.png")
                        .info-rehau(fs-click="mobPage.showInfoBox(subfolder.id, folders.folder)" ng-if='subfolder.img && subfolder.description')
                    .items(ng-repeat="item in subfolder.subFolder track by $index"  ng-if="mobPage.G.global.OpenItemFolder === OpenItemFolder || folders.folder.length ===1")
                        p.splice(ng-click="mobPage.confirmAddElemDialog(0, $index, $event, [subfolder.subFolder],item)") {{item.name}}
                        .info-rehau(ng-if='item.img && item.description' fs-click="mobPage.showInfoBox(item.id, subfolder.subFolder)")
                            
        //- .confirm-add-elem(ng-if='mobPage.confirmAddElem')
        //-     .close-dialog(ng-if='mobPage.edit' ng-click='mobPage.closeConfirmAddElem()')
        //-     .close-dialog(ng-if='!mobPage.edit' ng-click='mobPage.cancelAddElem(mobPage.ChoosenAddElemGroup, mobPage.SelectedElement)')
        //-     .info(ng-if='mobPage.SelectedElement.img && mobPage.SelectedElement.description'
        //-     fs-click="mobPage.showInfoBox(mobPage.SelectedElement.id, mobPage.SelectedElement.addElementsList)")
        //-     .name
        //-         span {{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].name}}
        //-     .item
        //-         .item-name
        //-             span {{mobPage.COUNT}}
        //-         .item-val(fs-click="mobPage.initAddElementTools((mobPage.ChoosenAddElemGroup+1), 1, mobPage.SelectedElement)", ng-keyup="mobPage.pressCulculator($event)")
        //-             span {{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_qty + ' ' + mobPage.QTY_LABEL}}
        //-     .item(ng-if='mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_width' )
        //-         .item-name
        //-             span {{mobPage.WIDTH_LABEL}}
        //-         .item-val(fs-click="mobPage.initAddElementTools((mobPage.ChoosenAddElemGroup+1), 2, mobPage.SelectedElement)" ng-keyup="elementsPanel.pressCulculator($event)")
        //-             span {{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_width + ' ' + mobPage.MM}}
        //-     .item(ng-if='mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_height')
        //-         .item-name
        //-             span {{mobPage.LENGTH_LABEL}}
        //-         .item-val(fs-click="mobPage.initAddElementTools((mobPage.ChoosenAddElemGroup+1), 3, mobPage.SelectedElement)" ng-keyup="elementsPanel.pressCulculator($event)")
        //-             span {{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_height + ' ' + mobPage.MM}}
        //-     .add-elem-price
        //-         span {{mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_price * mobPage.P.product.chosenAddElements[mobPage.ChoosenAddElemGroup][mobPage.SelectedElement].element_qty | number : 2}}
        //-         span.curr {{mobPage.U.userInfo.currency}}
        //-     .controls
        //-         .alert-no(ng-click='mobPage.cancelAddElem(mobPage.ChoosenAddElemGroup, mobPage.SelectedElement)')
        //-             p {{mobPage.DELETE}}
        //-         .alert-yes(ng-click='mobPage.closeConfirmAddElem()')
        //-             p {{mobPage.ADD}}
        .mob-qty-calculator(ng-if="mobPage.G.global.isQtyCalculator")
            include ../parts/_qty-calculator
        include bottom-block
