.attantion-block(ng-controller="AttantCtrl as attantBox" ng-show="attantBox.D.design.isGlassExtra || attantBox.D.design.isHardwareExtra || attantBox.H.history.isNoPrint || attantBox.D.design.isNoDoors")
    .box(ng-if="attantBox.U.userInfo.factory_id !== 2")
        .glass-attantion(ng-show="attantBox.D.design.isGlassExtra && attantBox.D.design.extraGlass.length")
            .close-dialog(fs-click="attantBox.closeAttantion()")
            .glass-list
                .extra-glass(ng-repeat="glassExtra in attantBox.D.design.extraGlass track by $index") {{ glassExtra }}

        .design-attantion(ng-show="attantBox.H.history.isNoPrint") {{ ::attantBox.NO_PRINT }}
            .close-dialog(fs-click="attantBox.closeAttantion()")

        .glass-attantion(ng-show="attantBox.D.design.isHardwareExtra && attantBox.D.design.extraHardware.length")
            .attention {{mobilePage.ATENTION}}
            .glass-list {{ ::attantBox.EXTRA_SASH }}
                .extra-glass(ng-repeat="sashExtra in attantBox.D.design.extraHardware track by $index")
                    span(ng-if="!$last") {{ sashExtra }},
                    span(ng-if="$last") {{ sashExtra }}.
                .extra-glass {{ ::attantBox.CHANGE_SIZE }}
            .close-dialog-button(fs-click="attantBox.closeAttantion()")
                .close-dialog-title {{::mobilePage.HEAT_TRANSFER_INFO_11}}
                .close-dialog

        .design-attantion(ng-show="attantBox.D.design.isNoDoors") {{ ::attantBox.DOOR_ERROR }}
            .close-dialog(fs-click="attantBox.closeAttantion()")
    .box-rehau(ng-if="attantBox.U.userInfo.factory_id === 2")
        .glass-attantion-rehau(ng-show="attantBox.D.design.isGlassExtra && attantBox.D.design.extraGlass.length")
            //calling stepBack function 2 times to make step back, when we call it first time it doesn't work dunno why need to research
            .close-dialog-rehau(fs-click="attantBox.stepBackMobile(); attantBox.stepBackMobile();attantBox.closeAttantion();")
            .glass-list
                .extra-glass(ng-repeat="glassExtra in attantBox.D.design.extraGlass track by $index") {{ glassExtra }}

        .design-attantion(ng-show="attantBox.H.history.isNoPrint") {{ ::attantBox.NO_PRINT }}
            .close-dialog-rehau(fs-click="attantBox.closeAttantion(); attantBox.stepBackMobile()")

        .glass-attantion-rehau(ng-show="attantBox.D.design.isHardwareExtra && attantBox.D.design.extraHardware.length")
            .attention {{mobilePage.ATENTION}}
            .glass-list {{ ::attantBox.EXTRA_SASH }}
                .extra-glass(ng-repeat="sashExtra in attantBox.D.design.extraHardware track by $index")
                    span(ng-if="!$last") {{ sashExtra }},
                    span(ng-if="$last") {{ sashExtra }}.
                .extra-glass {{ ::attantBox.CHANGE_SIZE }}
            .close-dialog-rehau(fs-click="attantBox.stepBackMobile(); attantBox.stepBackMobile(); attantBox.closeAttantion();")
