.bottom-block
    .to-basket-button(ng-if="!mobilePage.isSet(4) && !mobilePage.isSet(1) && !mobilePage.isSet(2) && !mobilePage.isSet(3) && !mobilePage.isSet(4) && !mobilePage.isSet(5)" ng-click="mobilePage.checkForAddElem();")
        button.add-to-basket Додати в кошик
        .add-to-basket-img
            img(src="./img/rehau-img/add-to-cart-2.svg", class="go-to-basket-img" alt="")
    .to-basket-button-for-landing.disabled(ng-if="!mobilePage.isSet(4) && !mobilePage.isSet(1) && !mobilePage.isSet(2) && !mobilePage.isSet(3) && !mobilePage.isSet(5)")
        button.add-to-basket Додати в кошик
        .add-to-basket-img
            img(src="./img/rehau-img/add-to-cart-2.svg", class="go-to-basket-img" alt="")
    .price-and-coeff-block
        .heat-coeff-txt(ng-if="!mobilePage.isSet(4) && !mobilePage.isSet(1) && !mobilePage.isSet(2) && !mobilePage.isSet(3) && !mobilePage.isSet(4)")
            span.heat-coeff-span Оцінка енергоефективності
            .price-discount-text(ng-if="mobilePage.U.userInfo.discountConstr > 0")
                span.price-discount-span {{mobilePage.P.product.product_price.toFixed(0)}}
                span.price-discount-percentage -{{mobilePage.U.userInfo.discountConstr}}%
        .price-and-heat-coeff(ng-if="!mobilePage.isSet(4) && !mobilePage.isSet(1) && !mobilePage.isSet(2) && !mobilePage.isSet(3) && !mobilePage.isSet(4)")
            .expert-mark-row
                .expert-mark {{mobilePage.P.product.heat_coef_expert_mark}} -
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark < 6.1")
                    span  Для балконів
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark> 6.1 && mobilePage.P.product.heat_coef_expert_mark <= 6.5")
                    span  Нормально
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark > 6.5 && mobilePage.P.product.heat_coef_expert_mark <= 7")
                    span  Досить добре!
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark > 7 && mobilePage.P.product.heat_coef_expert_mark <= 7.5")
                    span  Добре!
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark > 7.5 && mobilePage.P.product.heat_coef_expert_mark <= 8.2")
                    span  Дуже добре!
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark > 8.2 && mobilePage.P.product.heat_coef_expert_mark <= 9")
                    span  Чудово!
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark > 9 && mobilePage.P.product.heat_coef_expert_mark <= 9.4")
                    span  Прекрасно!
                .title-rehau(ng-if="mobilePage.P.product.heat_coef_expert_mark > 9.4")
                    span  Найкращий вибір!
            .price-block
                price(price-value="mobilePage.G.global.tempPrice", price-currency="mobilePage.U.userInfo.currency" ng-click='mobilePage.checkForAddElem()')
    .price-total(ng-if="mobilePage.isSet(4)")
        .total-txt
            span Разом:
        .price-total-price
          .price-discount-text(ng-if="mobilePage.U.userInfo.discountConstr > 0")
            span.price-discount-span {{cartPage.O.order.order_price.toFixed(0)}}
            span.price-discount-percentage -{{mobilePage.U.userInfo.discountConstr}}%
          price(price-value="cartPage.O.order.orderPricePrimaryDis", price-currency="cartPage.U.userInfo.currency")
    //main screen
    .control-buttons-container-rehau(ng-if="!mobilePage.isSet(4)")
        .mobile-price-block-rehau
           .menu-block(fs-click="mobilePage.closePanelMobile()" ng-class="{'active': mobilePage.isSet(0)}")
                .menu-icon 
                    img(src="./img/rehau-img/razmeri.svg", alt="rectangle" class="active-img")
                .menu-text Розміри
           .menu-block(fs-click="mobilePage.setTab(1)" ng-class="{'active': mobilePage.isSet(1)}")
                .menu-icon 
                    img(src="./img/rehau-img/shabloni.svg", alt="template" class="active-img")
                .menu-text Конструкції
           .menu-block(fs-click="mobilePage.setTab(5)" ng-class="{'active': mobilePage.isSet(5)}")
                .menu-icon 
                    img(src="./img/rehau-img/settings.svg", alt="settings" class="active-img")
                .menu-text Параметри
           .menu-block.basket-mobile(fs-click="mobilePage.checkSavingProductMobile()"  ng-class="{'active': mobilePage.isSet(4)}")
                .menu-icon-basket
                    img(src="./img/rehau-img/korzina.svg", alt="basket-icon" class="active-img")
                    input(readonly="readonly" ng-model="mobilePage.G.global.construction_count" class="construction-count-mobile")
                .menu-text Кошик
            .menu-block.for-landing-mobile.disabled
                .menu-icon-basket
                    img(src="./img/rehau-img/korzina.svg", alt="basket-icon" class="active-img")
                    input(readonly="readonly" ng-model="mobilePage.G.global.construction_count" class="construction-count-mobile")
                .menu-text Кошик
    //basket
    .go-to-spec(ng-if="mobilePage.isSet(4)")
        button.spec(ng-click="mobilePage.openOrderDialog()") Залишити заявку
        button.add-product-rehau(ng-click="cartPage.addNewProductInOrder()") Додати вікно
