.attantion-block(ng-controller="DangerAlertCtrl as dangerAlert", ng-show="dangerAlert.G.global.dangerAlert===1")
    .glass-attantion(ng-show="attantBox.D.design.isGlassExtra && attantBox.D.design.extraGlass.length")
        .close-dialog(fs-click="attantBox.closeAttantion()")
        .glass-list
            .extra-glass(ng-repeat="glassExtra in attantBox.D.design.extraGlass track by $index") {{ glassExtra }}

    .design-attantion(ng-show="attantBox.H.history.isNoPrint") {{ ::attantBox.NO_PRINT }}
        .close-dialog(fs-click="attantBox.closeAttantion()")

    .glass-attantion(ng-show="attantBox.D.design.isHardwareExtra && attantBox.D.design.extraHardware.length")
        .attention {{mobilePage.ATENTION}}
        .glass-list {{ ::attantBox.EXTRA_SASH }}
            .extra-glass(ng-repeat="sashExtra in attantBox.D.design.extraHardware track by $index")
                span(ng-if="!$last") {{ sashExtra }},
                span(ng-if="$last") {{ sashExtra }}.
            .extra-glass {{ ::attantBox.CHANGE_SIZE }}
        .close-dialog-button(fs-click="attantBox.stepBackAfterDanger()")
            .close-dialog-title {{::mobilePage.HEAT_TRANSFER_INFO_11}}
            .close-dialog

    .design-attantion(ng-show="attantBox.D.design.isNoDoors") {{ ::attantBox.DOOR_ERROR }}
        .close-dialog(fs-click="attantBox.closeAttantion()")