.mobile-glass.mobile-common-panel(ng-if="mobilePage.G.global.activePanel === 3" ng-controller="GlassesCtrl as glassPanel")
    .box-rehau
        include top-block
        .glass-container
            .glass-block-rehau(ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class = "{gray : $index%2 === 0 }"  ng-init="FolderIndex = $index")
                //- .button(ng-click="glassPanel.OpenGlassFolder($index,$event)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" id='anchor{{$index}}')
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }") {{glassPanel.G.global.glassTypes[$index].name}}
                    .arrow(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
                        img(ng-src="./img/rehau-img/white-arrow-top.png")
                .glass-folder(ng-if="glassPanel.OpenFolder === FolderIndex")
                    .glass-item-rehau(ng-repeat="glass in typeGlass track by $index", ng-class="{'active': glass.id == glassPanel.G.global.selectGlassId }" )
                        .title(ng-class="{'active': glass.id == glassPanel.G.global.selectGlassId }" fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color); mobilePage.closePanelMobile(); mobilePage.setTab(5)")
                            p {{glass.name}}
                            .info-rehau(ng-if="glass.img.length && glass.description", fs-click="glassPanel.showInfoBox(glass.id, typeGlass)")
                        .glass-extra-info(fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color); mobilePage.closePanelMobile(); mobilePage.setTab(5)")
                            .transcalency
                                h4 Теплопроводимость
                                <span>{{glass.transcalency}} м2*С/Вт</span>
                            .noise-isolation
                                h4 Шумоизоляция
                                <span>{{glass.noise_coeff}} Дб</span>
        .glass-selector-dialog(ng-class="{'active': glassPanel.G.global.showGlassSelectorDialog}")
            .close-dialog(fs-click="glassPanel.closeGlassSelectorDialog(1)")
            .dialog-title
                .apply-title
                    p {{glassPanel.APPLY}}
                .glass-title(ng-class="{'column': glassPanel.G.global.selectGlassName.length > 8}")
                    .curr-glass-value
                        p {{ glassPanel.G.global.glassTypes[glassPanel.OpenFolder].name }}&nbsp
                    .curr-glass-value
                        p {{glassPanel.G.global.selectGlassName}}
            .dialog-inner-mob
                svg-template(template="glassPanel.P.product.template", template-width="mobilePage.mobWidthGlass", template-height="mobilePage.mobWidthGlass", type-construction="glassPanel.constants.SVG_ID_GLASS")
            .buttons
                .set-glass-btn(fs-click="glassPanel.confirmGlass()")
                    p {{ ::glassPanel.SELECT_CURRENT }}
                .set-glass-all-btn(fs-click="glassPanel.confirmGlass()")
                    p {{ ::glassPanel.SELECT_ALL_CONSTRUCTION }}
        include bottom-block
