.mobile-glass.mobile-common-panel(ng-if="mobilePage.G.global.activePanel === 3" ng-controller="GlassesCtrl as glassPanel")
    .accept-container
        .row
            .curr-price
                price(price-value="glassPanel.G.global.tempPrice", price-currency="glassPanel.U.userInfo.currency")
            .accept-button(ng-click="glassPanel.closePanelMobile()") {{glassPanel.APPLY}}
        .row
            .product-u-coeff(ng-if="glassPanel.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': glassPanel.P.product.heat_coef_total < glassPanel.O.order.heat_coef_min}")
                div R = {{ glassPanel.P.product.heat_coef_total | number :2 }} {{ ::glassPanel.LETTER_M}}&sup2;&deg;C/{{::glassPanel.HEATCOEF_VAL }}
            .product-u-coeff(ng-if="!glassPanel.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': glassPanel.P.product.heat_coef_total > glassPanel.O.order.heat_coef_min}")
                div U = {{ glassPanel.P.product.heat_coef_total | number :2 }} {{ ::glassPanel.HEATCOEF_VAL}}/{{::glassPanel.LETTER_M}}&sup2;&deg;C
            .selected-profile
                .value(ng-if="glassPanel.P.product.glass.length == 1")
                    p {{ glassPanel.P.product.glass[0].sku }}
                .value(ng-if="glassPanel.P.product.glass.length == 2")
                    p {{ glassPanel.P.product.glass[0].sku +', '+ glassPanel.P.product.glass[1].sku }}
                .value(ng-if="glassPanel.P.product.glass.length > 2")
                    p {{ glassPanel.P.product.glass[0].sku +', '+ glassPanel.P.product.glass[1].sku +', '+ glassPanel.P.product.glass[2].sku }}

    .glass-container
        .glass-block(ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class = "{gray : $index%2 === 0 }"  ng-init="FolderIndex = $index")
            .button(ng-click="glassPanel.OpenGlassFolder($index)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
                p {{glassPanel.G.global.glassTypes[$index].name}}
            img(ng-src="{{glassPanel.G.global.glassTypes[$index].img}}" ng-click="glassPanel.OpenGlassFolder($index)")
            .glass-folder(ng-if="glassPanel.OpenFolder === FolderIndex")
                .glass-item(ng-repeat="glass in typeGlass track by $index", ng-class="{'selected': glass.id == glassPanel.G.global.selectGlassId }" ng-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color)")
                    .title
                        p {{glass.sku}}
                    .info i
    .glass-selector-dialog(ng-if="glassPanel.G.global.showGlassSelectorDialog")
        .dialog-inner
            svg-template(template="glassPanel.P.product.template", template-width="mobilePage.mobSize", template-height="mobilePage.mobSize", type-construction="glassPanel.constants.SVG_ID_GLASS")
        .set-glass-btn(fs-click="glassPanel.confirmGlass()") {{glassPanel.APPLY}}
        //.set-glass-all-btn(fs-click="glassPanel.setGlassToAll()") {{ ::glassPanel.SELECT_ALL }}
        //.set-glass-warning <span></span> {{ ::glassPanel.SELECT_GLASS_WARN }}
        .close-dialog(fs-click="glassPanel.closeGlassSelectorDialog(1)")