.mobile-glass.mobile-common-panel(ng-if="mobilePage.G.global.activePanel === 3" ng-controller="GlassesCtrl as glassPanel")
    .box(ng-if="glassPanel.U.userInfo.factory_id !== 2")
        include accept-container
        .glass-container
            .glass-block(ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class = "{gray : $index%2 === 0 }"  ng-init="FolderIndex = $index")
                .button(ng-click="glassPanel.OpenGlassFolder($index,$event)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" id='anchor{{$index}}')
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'en' && glassPanel.G.global.glassTypes[$index].translate.en") {{glassPanel.G.global.glassTypes[$index].translate.en}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'ru' && glassPanel.G.global.glassTypes[$index].translate.ru") {{glassPanel.G.global.glassTypes[$index].translate.ru}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'uk' && glassPanel.G.global.glassTypes[$index].translate.ua") {{glassPanel.G.global.glassTypes[$index].translate.ua}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'pl' && glassPanel.G.global.glassTypes[$index].translate.pl") {{glassPanel.G.global.glassTypes[$index].translate.pl}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'de' && glassPanel.G.global.glassTypes[$index].translate.de") {{glassPanel.G.global.glassTypes[$index].translate.de}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'bg' && glassPanel.G.global.glassTypes[$index].translate.bg") {{glassPanel.G.global.glassTypes[$index].translate.bg}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'it' && glassPanel.G.global.glassTypes[$index].translate.it") {{glassPanel.G.global.glassTypes[$index].translate.it}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'es' && glassPanel.G.global.glassTypes[$index].translate.es") {{glassPanel.G.global.glassTypes[$index].translate.es}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'ro' && glassPanel.G.global.glassTypes[$index].translate.ro") {{glassPanel.G.global.glassTypes[$index].translate.ro}}

                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'en' && !glassPanel.G.global.glassTypes[$index].translate.en") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'ru' && !glassPanel.G.global.glassTypes[$index].translate.ru") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'uk' && !glassPanel.G.global.glassTypes[$index].translate.ua") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'pl' && !glassPanel.G.global.glassTypes[$index].translate.pl") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'de' && !glassPanel.G.global.glassTypes[$index].translate.de") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'bg' && !glassPanel.G.global.glassTypes[$index].translate.bg") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'it' && !glassPanel.G.global.glassTypes[$index].translate.it") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'es' && !glassPanel.G.global.glassTypes[$index].translate.es") {{glassPanel.G.global.glassTypes[$index].name}}
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }", ng-if="glassPanel.U.userInfo.langLabel === 'ro' && !glassPanel.G.global.glassTypes[$index].translate.ro") {{glassPanel.G.global.glassTypes[$index].name}}
                img(ng-if='!(glassPanel.G.global.cordova)' ng-src="{{glassPanel.G.global.glassTypes[$index].img}}" ng-click="glassPanel.OpenGlassFolder($index)")
                img(ng-if='(glassPanel.G.global.cordova)' ng-src="{{glassPanel.extendUrl(glassPanel.G.global.glassTypes[$index].img)}}" ng-click="glassPanel.OpenGlassFolder($index)")
                .glass-folder(ng-if="glassPanel.OpenFolder === FolderIndex")
                    .glass-item(ng-repeat="glass in typeGlass track by $index", ng-class="{'selected': glass.id == glassPanel.G.global.selectGlassId }" )
                        .title(ng-class="{'selected': glass.id == glassPanel.G.global.selectGlassId }" fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color)")
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'en' && glass.translate.en") {{glass.translate.en}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'ru' && glass.translate.ru") {{glass.translate.ru}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'uk' && glass.translate.ua") {{glass.translate.ua}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'pl' && glass.translate.pl") {{glass.translate.pl}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'de' && glass.translate.de") {{glass.translate.de}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'bg' && glass.translate.bg") {{glass.translate.bg}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'it' && glass.translate.it") {{glass.translate.it}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'es' && glass.translate.es") {{glass.translate.es}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'ro' && glass.translate.ro") {{glass.translate.ro}}

                            p(ng-if="glassPanel.U.userInfo.langLabel === 'en' && !glass.translate.en") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'ru' && !glass.translate.ru") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'uk' && !glass.translate.ua") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'pl' && !glass.translate.pl") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'de' && !glass.translate.de") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'bg' && !glass.translate.bg") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'it' && !glass.translate.it") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'es' && !glass.translate.es") {{glass.sku}}
                            p(ng-if="glassPanel.U.userInfo.langLabel === 'ro' && !glass.translate.ro") {{glass.sku}}
                        .info(ng-if="glass.img.length && glass.description", fs-click="glassPanel.showInfoBox(glass.id, typeGlass)")
        .glass-selector-dialog(ng-class="{'active': glassPanel.G.global.showGlassSelectorDialog}")
            .close-dialog(fs-click="glassPanel.closeGlassSelectorDialog(1)")
            .dialog-title
                .apply-title
                    p {{glassPanel.APPLY}}
                .glass-title(ng-class="{'column': glassPanel.G.global.selectGlassName.length > 8}")
                    .curr-glass-value
                        p {{ glassPanel.G.global.glassTypes[glassPanel.OpenFolder].name }}&nbsp
                    .curr-glass-value
                        p {{glassPanel.G.global.selectGlassName}}
            .dialog-inner-mob
                svg-template(template="glassPanel.P.product.template", template-width="mobilePage.mobWidthGlass", template-height="mobilePage.mobWidthGlass", type-construction="glassPanel.constants.SVG_ID_GLASS")
            .buttons
                .set-glass-btn(fs-click="glassPanel.confirmGlass()")
                    p {{ ::glassPanel.SELECT_CURRENT }}
                .set-glass-all-btn(fs-click="glassPanel.confirmGlass()")
                    p {{ ::glassPanel.SELECT_ALL_CONSTRUCTION }}
    .box(ng-if="glassPanel.U.userInfo.factory_id === 2")
        include top-block
        .glass-container
            .glass-block-rehau(ng-repeat="typeGlass in glassPanel.G.global.glasses track by $index" ng-class = "{gray : $index%2 === 0 }"  ng-init="FolderIndex = $index")
                img(ng-if='!(glassPanel.G.global.cordova)' ng-src="{{glassPanel.G.global.glassTypes[$index].img}}" ng-click="glassPanel.OpenGlassFolder($index)")
                img(ng-if='(glassPanel.G.global.cordova)' ng-src="{{glassPanel.extendUrl(glassPanel.G.global.glassTypes[$index].img)}}" ng-click="glassPanel.OpenGlassFolder($index)")
                .button(ng-click="glassPanel.OpenGlassFolder($index,$event)" ng-class="{'active': glassPanel.OpenFolder === FolderIndex }" id='anchor{{$index}}')
                    p(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }") {{glassPanel.G.global.glassTypes[$index].name}}
                    .arrow(ng-class="{'active': glassPanel.OpenFolder === FolderIndex }")
                        img(ng-src="../img/rehau-img/white-arrow-top.png")
                .glass-folder(ng-if="glassPanel.OpenFolder === FolderIndex")
                    .glass-item-rehau(ng-repeat="glass in typeGlass track by $index", ng-class="{'active': glass.id == glassPanel.G.global.selectGlassId }" )
                        .title(ng-class="{'active': glass.id == glassPanel.G.global.selectGlassId }" fs-click="glassPanel.selectGlass(glass.id, glass.sku, glass.glass_color)")
                            p {{glass.sku}}
                        .glass-extra-info
                            .transcalency 
                                h4 Теплопроводимость 
                                <span>{{glass.transcalency}} м2*С/Вт</span>  
                            .noise-isolation 
                                h4 Шумоизоляция 
                                <span>{{glass.noise_coeff}} Дб</span>
                            .glass-width 
                                h4 Ширина 
                                <span>{{glass.glass_width}} мм</span>
                        .info(ng-if="glass.img.length && glass.description", fs-click="glassPanel.showInfoBox(glass.id, typeGlass)")
        .glass-selector-dialog(ng-class="{'active': glassPanel.G.global.showGlassSelectorDialog}")
            .close-dialog(fs-click="glassPanel.closeGlassSelectorDialog(1)")
            .dialog-title
                .apply-title
                    p {{glassPanel.APPLY}}
                .glass-title(ng-class="{'column': glassPanel.G.global.selectGlassName.length > 8}")
                    .curr-glass-value
                        p {{ glassPanel.G.global.glassTypes[glassPanel.OpenFolder].name }}&nbsp
                    .curr-glass-value
                        p {{glassPanel.G.global.selectGlassName}}
            .dialog-inner-mob
                svg-template(template="glassPanel.P.product.template", template-width="mobilePage.mobWidthGlass", template-height="mobilePage.mobWidthGlass", type-construction="glassPanel.constants.SVG_ID_GLASS")
            .buttons
                .set-glass-btn(fs-click="glassPanel.confirmGlass()")
                    p {{ ::glassPanel.SELECT_CURRENT }}
                .set-glass-all-btn(fs-click="glassPanel.confirmGlass()")
                    p {{ ::glassPanel.SELECT_ALL_CONSTRUCTION }}
        include bottom-block
