.glass-selector-dialog(ng-class="{'active': mobilePage.A.aux.isGridSelectorDialog}" ng-controller="GridSelectorCtrl as gridBox")
    .close-dialog(fs-click="gridBox.closeGridSelectorDialog()")
    .dialog-title
        .apply-title
            p {{ ::gridBox.APPLY }}
        .glass-title(ng-class="{'column': glassPanel.G.global.selectGlassName.length > 8}")
            .curr-glass-value
                p {{ ::gridBox.G.global.selectedGrid.name }}
    .dialog-inner-mob
        svg-template(template="gridBox.P.product.template", template-width="mobilePage.mobWidthGlass", template-height="mobilePage.mobWidthGlass", type-construction="gridBox.constants.SVG_ID_GRID")
    .buttons
        .set-glass-btn(fs-click="gridBox.confirmGrid()")
            p {{ ::gridBox.APPLY}}
        .set-glass-all-btn(fs-click="gridBox.setGridToAll()")
            p {{ ::gridBox.SELECT_ALL }}
