.heat-coef-block-mobile(ng-click="mobilePage.showCoefInfoBlock()")
    .title
        p {{::mobilePage.HEAT_TRANSFER}}
    .product-u-coeff(ng-if="mobilePage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total < mobilePage.O.order.heat_coef_min}")
        div R = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::profilesPanel.LETTER_M}}&sup2;&deg;C/{{::mobilePage.HEATCOEF_VAL }}
    .product-u-coeff(ng-if="!mobilePage.U.userInfo.therm_coeff_id", ng-class="{'coeff-low': mobilePage.P.product.heat_coef_total > mobilePage.O.order.heat_coef_min}")
        div U = {{ mobilePage.P.product.heat_coef_total | number :2 }} {{ ::mobilePage.HEATCOEF_VAL}}/{{::mobilePage.LETTER_M}}&sup2;&deg;C
    //.info

.coeff-info-block(ng-if="mobilePage.G.global.showCoefInfoBlock")
    .coeff-info-block-inner
        .heat-transfer-info_hr
            | {{ ::mobilePage.HEAT_TRANSFER_INFO_3 }}
        .heat-transfer-info_hr2
            | {{ ::mobilePage.HEAT_TRANSFER_INFO_4 }}
        .coeff-max {{ mobilePage.O.order.heat_coef_min }}
            .heat-transfer(ng-if="mobilePage.U.userInfo.therm_coeff_id")
                | {{ ::mobilePage.LETTER_M }} &sup2;&middot;&deg;C/{{ ::mobilePage.HEATCOEF_VAL }}
            .heat-transfer(ng-if="!mobilePage.U.userInfo.therm_coeff_id")
                | {{ ::mobilePage.HEATCOEF_VAL }}/{{ ::mobilePage.LETTER_M }} &sup2;&middot;&deg;C
        .heat-transfer-info-body
            .heat-transfer-info-border
                .heat-transfer-info(ng-click='mobilePage.OpenPanel(3)')
                    | {{ ::mobilePage.HEAT_TRANSFER_INFO_5 }}
                .heat-transfer-info2(ng-click='mobilePage.OpenPanel(3)')
                    | {{ ::mobilePage.HEAT_TRANSFER_INFO_6 }}
                .heat-transfer-info2
                    | {{ ::mobilePage.HEAT_TRANSFER_INFO_7 }}
                .heat-transfer-info
                    | {{ ::mobilePage.HEAT_TRANSFER_INFO_8 }}
                .heat-transfer-info2(ng-click='mobilePage.OpenPanel(2)')
                    | {{ ::mobilePage.HEAT_TRANSFER_INFO_9 }}
                .heat-transfer-info2(ng-click='mobilePage.OpenPanel(2)')
                    | {{ ::mobilePage.HEAT_TRANSFER_INFO_10 }}
        .close-dialog-body
            .close-dialog-text
                | {{ ::mobilePage.HEAT_TRANSFER_INFO_11 }}
            .close-dialog(fs-click="mobilePage.G.global.showCoefInfoBlock=0")
