//rehau templates
.heat-coef-block-mobile-rehau(ng-click="mobilePage.showCoefInfoBlock()")
.box-rehau
    .coeff-info-block-rehau(ng-if="mobilePage.G.global.showCoefInfoBlock")
        .coeff-info-block-inner
                .coeff-info-block-header
                    .coeff-info-block-title Как работает <br /> это приложение
                    button.coeff-info-block-close(fs-click="mobilePage.G.global.showCoefInfoBlock=0")
                .coeff-info-block-body
