.mobile-left-menu(ng-controller="NavMenuCtrl as navMenu" ng-class='{opened : mobilePage.mobMenu}')
    include user-info-mobile
    .burger-inner(ng-click='mobilePage.OpenMenu()' ng-class="{ active: mobilePage.mobMenu }")
    .buttons-list
        .button(ng-click="mobilePage.mobileMenuClick(0)")
            p {{mobilePage.GO_TO_CALCULATION}}
        //.button(ng-click="mobilePage.mobileMenuClick(1)")
            p {{mobilePage.GEOLOCATION}}
        .button(ng-click="mobilePage.mobileMenuClick(2)")
            p {{mobilePage.ORDER_HISTORY}}
        .button(ng-click="mobilePage.mobileMenuClick(3)")
            p {{mobilePage.LANGUAGE}}
        //.button(ng-click="mobilePage.mobileMenuClick(4)")
            p {{mobilePage.HINTS}}
        .button(ng-click="mobilePage.mobileMenuClick(5)")
            p {{mobilePage.REPORT}}
        .button(ng-click="mobilePage.mobileMenuClick(6)")
            p {{mobilePage.EXIT}}
    .footer
        .index
            p {{mobilePage.G.global.getPCPower }}
        .title
            p {{mobilePage.PC_POWER_INFO_1}}
            p {{mobilePage.PC_POWER_INFO_2}}
