.mobile-order-history.mobile-common-panel(ng-controller='HistoryCtrl as historyPage' ng-if='mobilePage.G.global.mobileOrderHistory')
    .burger(ng-click='mobilePage.OpenMenu()' ng-class="{ active: mobilePage.mobMenu }")
    .mobile-order-history-title
        label {{mobilePage.ORDER_HISTORY}}
    .search-config-order
        .search
            .lupa.tool-btn(ng-click='historyPage.orderSearching()')
            .mobile-history-search(ng-class="{active: historyPage.H.history.isOrderSearch, border: historyPage.H.history.isOrderSearch}" )
                form(ng-controller="searchCtrl as searchBox", name='searchForm')
                    input.search-input(type="text", name="searching", ng-model="searchBox.searchingWord", ng-change="searchBox.checkChanges()", placeholder="{{searchBox.placeholder}}")
                    .delete-search(fs-click="searchBox.deleteSearchChart()")
                    .close-dialog(ng-click="searchBox.cancelSearching()")
        .order
            select.period-of-time
                option(value='{{1}}') {{historyPage.DURING_THE_WEEK}}
                option(value='{{2}}') {{historyPage.PER_MOUNTH}}
                option(value='{{3}}') {{historyPage.IN_A_YEAR}}
            .arrow-down
        .history-settings
            .config.tool-btn(ng-click='historyPage.orderSorting()')
            .settings-block(ng-class="{ 'active': historyPage.H.history.isOrderSort , border: historyPage.H.history.isOrderSort }")
                .filter-divider {{ ::historyPage.SORTING }}
                .filter-list
                    .filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'first' }", fs-click="historyPage.sortingInit(0, 'first')")
                        .filter-label {{ ::historyPage.NEWEST_FIRST }}
                    .filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'last' }", fs-click="historyPage.sortingInit(0, 'last')")
                        .filter-label {{ ::historyPage.NEWEST_LAST }}
                    .filter-item(ng-class="{ 'selected': historyPage.H.history.isSortType == 'type' }", fs-click="historyPage.sortingInit(0, 'type')")
                        .filter-label {{ ::historyPage.SORT_BY_TYPE }}
                .filter-divider {{ ::historyPage.SORT_SHOW }}
                .filter-list
                    .filter-item(ng-class="{ 'selected': !historyPage.H.history.isFilterType }", fs-click="historyPage.sortingInit(1, undefined)")
                        .filter-label {{ ::historyPage.ALL }}
                    .filter-item(ng-class="{ 'selected': historyPage.H.history.isFilterType == 'order' }", fs-click="historyPage.sortingInit(1, 'order')")
                        .filter-label {{ ::historyPage.SORT_SHOW_ACTIVE }}
                    .filter-item(ng-class="{ 'selected': historyPage.H.history.isFilterType == 'master' }", fs-click="historyPage.sortingInit(1, 'master')")
                        .filter-label {{ ::historyPage.SORT_SHOW_WAIT }}
                    .filter-item(ng-class="{ 'selected': historyPage.H.history.isFilterType == 'done' }", fs-click="historyPage.sortingInit(1, 'done')")
                        .filter-label {{ ::historyPage.SORT_SHOW_DONE }}
    .order-list-scroll-block
        .order-card(ng-repeat="order in historyPage.H.history.orders | orderSorting:historyPage.H.history.isSortType | filter: {order_style: historyPage.H.history.isFilterType} | filter:historyPage.H.history.searchingWord track by $index"
                     ng-class="{ 'done': order.order_style == 'done' }")
            .row-id
                .order-row-item
                    label id {{ order.order_number }}-{{ order.id }}
                .order-row-item
                    label {{ ::historyPage.FROM }} {{order.order_date | date:"dd MMMM, yyyy"}}
            .order-row
                .order-row-item
                    label {{ order.customer_name }}
                    span  {{ ::historyPage.CLIENT }}
            .order-row
                .order-row-item(ng-if='order.customer_phone')
                    label {{ order.customer_phone }}
                    span  {{ ::historyPage.PHONE }}
            .order-row
                .order-row-item
                        label {{ order.customer_location }}, {{ order.customer_address }}
                        span  {{ ::historyPage.ADDRESS }}
            .order-row
                .order-row-item
                    label {{ order.products_qty }} {{ ::historyPage.ALLPRODUCTS }} {{ ::historyPage.ON }} {{order.new_delivery_date | date:"dd.MM.yyyy"}}
            .order-row-price
                .config.tool-btn(ng-click='historyPage.showOrderActions($index)')
                label {{ order.order_price_dis }} {{ historyPage.U.userInfo.currency }}
            .order-actions(ng-class='{active : historyPage.OrderActions === $index}')
                .btn.delete(ng-hide="order.order_style == 'done'", fs-click="historyPage.clickDeleteOrder(order.order_type, order.id)")
                    span {{ ::historyPage.DELETE }}
                .btn(fs-click="historyPage.orderPrint(order.id)") 
                    span {{ ::historyPage.PRINT }}
                .btn(ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}", ng-hide="order.order_style == 'done'", fs-click="historyPage.editOrder(1, order.id)") 
                    span {{ ::historyPage.CHANGE }}
                 .btn(fs-click="historyPage.makeOrderCopy(order.order_style, order.id)") 
                    span {{ ::historyPage.BUTTON_C }}
                .btn.delete(ng-hide="order.order_style == 'done'", fs-click="historyPage.sendOrderToFactory(order.order_style, order.id)", ng-class="{'error': historyPage.H.history.resAPI === order.id + 'errorOrder'}")
                    span {{ ::historyPage.SEND_ORDER_TITLE }}
                .order-delete(ng-click='historyPage.OrderActions = -1')

            