.mobile-price(ng-controller="ConfigMenuCtrl as configMenu")
  price(price-value="configMenu.G.global.tempPrice", price-currency="configMenu.U.userInfo.currency")
  .go-to-cart
    .go-to-cart-title(ng-click='configMenu.checkForAddElem()') {{configMenu.CONFIGMENU_IN_CART}}
    .product-counter(ng-click="configMenu.showCalck()") {{configMenu.G.global.product_qty}}