.mount-delivery(ng-if='cartPage.G.global.showMountDelivery')
        .mount-delivery-header
            .header-buttons.alert-no
                label {{mobilePage.CANCEL}}
            .header-buttons.alert-yes(ng-click='cartPage.showMoundDeliveryFunc()')
                label {{mobilePage.APPLY}}
        .mount-delivery-mountings-container(ng-controller="CartMenuCtrl as cartMenu")
            .mobile-delivery
                .mobile-delivery-title(ng-click="cartMenu.selectMenuItem(1)")
                    label {{::cartMenu.DELIVERY}}
                .mobile-delivery-selected
                    .value
                        label(ng-show="!cartMenu.O.order.floor_id && !cartMenu.O.order.delivery_garbage_removal && !cartMenu.O.order.delivery_add")  {{ ::cartMenu.SELF_EXPORT }}
                        label(ng-show="cartMenu.O.order.floor_id") {{cartMenu.O.order.floorName}}
                        label(ng-show="cartMenu.O.order.delivery_garbage_removal") {{ ::cartMenu.GARBAGE_REMOVE  }}
                        label(ng-show="cartMenu.O.order.delivery_add") {{ ::cartMenu.DELIVERY}}
                    .price
                        label + {{ cartMenu.O.order.floor_price + cartMenu.O.order.delivery_garbage_removal + cartMenu.O.order.delivery_add}} {{ cartMenu.U.userInfo.currency }}
                .mobile-delivery-items(ng-if='cartMenu.config.activeMenuItem == 1 && cartMenu.G.global.supplyData.length')
                    .dropdown-item(ng-class="{'selected': !cartMenu.O.order.floor_id}", fs-click="cartMenu.selectFloorPrice(0)")
                        .dropdown-item-inner
                        .value.drop-txt {{ ::cartMenu.SELF_EXPORT }}
                        .name.drop-txt
                    .dropdown-item(ng-repeat="supplyList in cartMenu.G.global.supplyData", ng-class="{'selected': supplyList.id == cartMenu.O.order.floor_id}", fs-click="cartMenu.selectFloorPrice(supplyList)")
                        .dropdown-item-inner
                        .value.drop-txt {{supplyList.name}} {{ ::cartMenu.FLOOR }}
                        .name.drop-txt + {{supplyList.priceReal}} {{ cartMenu.U.userInfo.currency }}
                    .dropdown-item
                        .dropdown-item-inner
                        .value.drop-txt {{ ::cartMenu.DELIVERY }}
                        input.name.drop-txt(type="number" ng-model="cartMenu.O.order.delivery_add" ng-change="cartMenu.calculateOrderPrice()" onClick="this.select();")
                        .name.drop-txt {{ cartMenu.U.userInfo.currency }}
                    .dropdown-item
                        .dropdown-item-inner
                        .value.drop-txt {{ ::cartMenu.GARBAGE_REMOVE }}
                        input.name.drop-txt(type="number" ng-model="cartMenu.O.order.delivery_garbage_removal" ng-change="cartMenu.calculateOrderPrice()" onClick="this.select();")
                        .name.drop-txt {{ cartMenu.U.userInfo.currency }}
            .mobile-delivery
