.mobile-profiles.mobile-common-panel(ng-if="mobilePage.G.global.activePanel === 2" ng-controller="ProfilesCtrl as profilesPanel")
    include accept-container
    .profiles-list
        .profile-block(ng-repeat="producer in profilesPanel.G.global.profiles track by $index")
            .producer
                .info(ng-if="profilesPanel.G.global.profilesType[$index].img.length || profilesPanel.G.global.profilesType[$index].link.length || profilesPanel.G.global.profilesType[$index].description.length", ng-click="profilesPanel.showInfoBox(profilesPanel.G.global.profilesType[$index].id, profilesPanel.G.global.profilesType)")
                .title {{ profilesPanel.G.global.profilesType[$index].name }}
            .profile-box
                .profile-info(ng-repeat="profile in producer track by $index" ng-class="{'selected': profile.id == profilesPanel.P.product.profile.id}" )
                    .profile-info-item(ng-click="profilesPanel.checkForAddElem(profile.id)")
                        img.profile-img(ng-if="profile.img.length", ng-src="{{profile.img}}" )
                        .name
                            p {{profile.name}}
                        .common-info
                            p(ng-if="profile.cameras === 1 ")                      {{profile.cameras}} {{::profilesPanel.CAMERa}}
                            p(ng-if="profile.cameras > 2 && profile.cameras < 6")  {{profile.cameras}} {{::profilesPanel.CAMERa}}
                            p(ng-if="profile.cameras > 5")                         {{profile.cameras}} {{::profilesPanel.CAMERa}}
                            p {{::profilesPanel.HEAT_TRANSFER}} {{profile.heat_coeff_value}}
                    .info-container
                        .information(ng-if="profile.img.length || profile.link.length || profile.description.length", ng-click="profilesPanel.showInfoBox(profile.id, producer)")
                            | Information
