.mobile-profiles.mobile-common-panel(ng-controller="ProfilesCtrl as profilesPanel" ng-if="mobilePage.G.global.activePanel === 7")
    include accept-container
    .profiles-list
        .profile-block(ng-repeat="setCategory in profilesPanel.G.global.setsCategories track by $index")
            .producer
                .title {{setCategory.title}}
            .set-box
                .profile-info(ng-repeat="sets in setCategory.setsForCategory track by $index" ng-class="{selected: mobilePage.P.product.currentSet === sets.title}")
                    .profile-info-item(ng-click="profilesPanel.selectSet(sets)" )
                        img(src="{{ sets.img }}", alt="")
                        .name {{ sets.title }}
